<div class="layout">
  <div class="wrap">

    <%= render 'shared/header_amazon' %>
    <%= render 'deals/header_featured' %> 
    <%= render 'shared/botton_amz' %>

    <div class="bargain_wrap clearfix">

      <div class="left">
        <ul>
          <div class="admin clearfix">
            <% if can? :update, @bargain %>
              <li><%= link_to 'New Bargain |', new_bargain_path %></li> 
              <li><%= link_to "New Category", new_barcategory_path %></li>
            <% end %>
          </div>
          <div class="search_pc"><%= form_for "",url: bargains_path, role: "search", method: :get do %><%= text_field_tag :search, @search_term, placeholder: "Search here..." %><% end %></div>
          <li><a class="all" href="/bargains">All Categories</a></li>
          <% Barcategory.all.each do |bar| %>
            <li><%= link_to bar.name, bargains_path(barcategory: bar.name) %></li>
          <% end %>
        </ul>
      </div>

      <div class="search_m">
        <%= form_for "",url: bargains_path, role: "search", method: :get do %><%= text_field_tag :search, @search_term, placeholder: "Search here..." %><% end %>
      </div>
      <label class="dropdown">
        <div class="store-button">Categories</div>
        <input type="checkbox" class="store-input" id="test">
        <ul class="store_menu">
          <li class="all_store"><a href="/bargains">All Stores</a></li>
          <% Barcategory.all.each do |bar| %>
            <li><%= link_to bar.name, bargains_path(barcategory: bar.name) %></li>
          <% end %>
        </ul>
      </label>

      <div class="right clearfix">
        <% @bargains.each do |bargain| %>
          <div class="right_box">
            <div class="image_box">
              <div class="card">
                <img src="<%= bargain.bar_image %>">
              </div>
            </div>

            <div class="inner">
              <div class="contents">
                <p><%= bargain.barcategory.name %></p>
                <span><%= link_to bargain.bar_title, bargain %></span>
                <em><%= bargain.bar_detail %></em>
              </div>

              <div class="btn">
                <a href="<%= bargain.bar_link %>">Shop Now</a>
              </div>

              <div class="btn_m">
                <a href="<%= bargain.bar_link %>">Shop Now</a>
              </div>

              
              <% if can? :update, bargain %>
                <div class="admin">
                  <%= link_to 'Edit', edit_bargain_path(bargain) %> | 
                  <%= link_to 'Destroy', bargain, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= will_paginate @bargain %>
      </div>


    </div>


    
      
  </div>
</div>

