<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout">
  <div class="show_wrap clearfix">
    <div class="show_back">
      <a href="/bargains"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="back" /></a>
    </div>
    <div class="wrap">
    <div class="oh_menu">
      <%= render 'shared/header_amazon' %>  
      <%= render 'deals/header_featured' %> 
      <%= render 'shared/botton_amz' %>
    </div>
    
      <div class="show_box clearfix">
        
        <!-- <p>Location Map</p> -->
        
        <div class="show_img hotdeal_img">
          <div class="img_box deal_img_box">
            <a target="_blank" href="<%= @bargain.bar_link %>"><img src="<%= @bargain.bar_image %>" alt="<%= @bargain.bar_title %>" title="<%= @bargain.bar_title %>"></a>
          </div>
          
          <% if can? :update, @bargain %>
            <div class="admin">
              <h4>Admin Management</h4>
              <%= link_to 'Back', bargains_path %> |
              <%= link_to 'Edit', edit_bargain_path(@bargain) %> |
              <%= link_to 'Delete', @bargain, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= render 'bargains/body_sns' %><br>
              <%= @bargain.created_at.strftime("%d. %B.") %><br />
              <div class="sharing">
                <p>Available On Amazon Now</p>
                <p><%= @bargain.bar_title %></p>
                <p><%= @bargain.bar_detail %></p>
                <p>http://ohigottabuythis.net/bargains/<%=(params[:id]) %></p>
              </div>
            </div>
          <% end %>
        </div><!--./show_img-->
 
       
        <div class="bargian_inner">
          <% if @bargain.bar_spare_01.present? %>
            <span class="type">Deals & Offers</span>
          <% end %>
          <% if @bargain.bar_spare_02.present? %>
            <span class="type">Coupons</span>
          <% end %>
          <p><%= @bargain.bar_title %></p>
          <em><%= @bargain.bar_detail %></em>
          
          <ul>
            <li>Category: <%= @bargain.barcategory.name %></li>
            <li>Get Free shipping on order over $25 of eligible items or <a target="_blank" href="/blogs/blog_01_amz_prime">Prime<i></i></a></li>   
          </ul>

          <div class="btn"><a target="_blank" href="<%= @bargain.bar_link %>">Shop Now</a></div>
        </div>
       

        
        <% if can? :update, @bargain %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  

      </div><!--./show_box-->


    </div>
  </div>
</div>




