<div class="layout"><!--layout-->
  <div class="wrap">
  <%= render 'shared/header' %>

    <div class="about_us">
      <div class="mission">
        <h1>Out Mission #1</h1>
      </div>

      <div class="works">
      </div>

      <div class="contact_us">
       
      </div>

      <% if can? :update, @messages %>
        <div class="message">
          <h2>Check your messages from customers</h2>  
          <table>
            <tr>
              <th>Title</th>
              <th>Name</th>
              <th>Writed Time</th>
            </tr>
            <% @messages.each do |message| %>
            <tr>
              <td><%= link_to message.mtitle, message %></td>
              <td><%= message.m_spare_01 %></td>
              <td><%= message.created_at.strftime("%B %d %Y, %l:%M%P") %> | <%= link_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure?" } %></td>
            </tr>
            <% end %>
          </table>
          
        </div>
      <% end %>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>



