<div class="layout"><!--layout-->
    
  <%= render 'shared/header_short' %>
  
    <div class="wrap">    
  
    <div class="blog common_layout clearfix">
    
      <div class="lt_cnt deal">
        <h2>Be Rich</h2>
        <div class="note">
          <ul>
            <li>Are you ready to be rich??</li>
          </ul>
        </div>
      </div>
      
      <div class="rt_cnt">
        <h2>You Can Do it!!</h2>
        <%= @lotto_1 %>
        <%= @lotto_2 %>
        <%= @lotto_3 %>
        <%= @lotto_4 %>
        <%= @lotto_5 %>
      </div><!--./rt_cnt-->

    </div><!--./blog-->
  </div><!--./warp-->
</div><!--./layout-->

