<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout"><!--layout-->
  <div class="wrap">  
  <%= render 'shared/header' %>
  <%= render 'deals/header' %>    
  
  <div class="codes common_layout">
    
      <div class="lt_cnt"><h2>Daily Deals of Amazon</h2></div><!--./lt_cnt-->
      
      <div class="rt_cnt">
        <h2>Daily Deals | Hand-Pick On Amazon Sep. 04. 2019.</h2>
        <div class="sort_box clearfix">
          <!-- <div class="deals_des">We pick the best deals from all categories of Amazon!! We just hope you like it :D</div> -->
          <ul>
            <li><a href="/deals/bestdeals" class="pure-button">All Codes</a></li>
            <li><a href="#" class="pure-button sort1">Price High</a></li>
            <li><a href="#" class="pure-button sort2">Price Low</a></li>
            <li><a href="#" class="pure-button sort3">Sale High</a></li>
            <li><a href="#" class="pure-button sort4">Sale Low</a></li>
          </ul>
        </div>
        
        <div class="card_wrap sort-list">
          <%= render 'shared/amz_search' %>
          <%= render 'deals_days/note_wadiz' %>
          <%= render 'blogs/promocodes_warehouse1' %>
        </div>
        
      </div><!--./rt_cnt-->    

    
    </div><!--./codes-->
    
  </div><!--./warp-->
</div><!--./layout-->


