<% content_for :title, "Categories Of Coolest Products" %>
<div class="layout"><!--layout-->

  <%= render 'shared/header_short' %>
    
  <!-- for play youtube video-->
  <%= render 'shared/play_video' %>
  <div class="new_gadget_wrap">
    <div class="wrap">

      <nav class='greedy-nav'>
      <button><div class="hamburger"></div></button>
        <ul class='visible-links'>
          <li><%= link_to "All Gadgets", gadgets_path %></li>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, gadgets_path(category: category.name) %></li>
          <% end %>
          <% if can? :update, @gadgets %>
            <li><%= link_to "New Gadgets", new_gadget_path %></li>               
          <% end %>
        </ul>
        <ul class='hidden-links hidden'></ul>
      </nav>

      <div class="new_gadget_body">

        <div class="current_category">
          <% if params[:category].present? %>
            <p><%= params[:category] %></p>
          <% else %>
            <p>Everyting</p>
          <% end %>
        </div>

        <div class="body_wrap clearfix" >
          <% @gadgets.each do |gadget| %>

            <div class="body_card with-photo">
              <div class="card-header">
               <a target="_blank" href="<%= gadget.gg_url %>"><img src="<%= gadget.gg_img %>" alt="<%= gadget.gg_title %>"></a>
              </div>
              
              <section class="card-body">
                <% if gadget.gg_youtube01.present? %>
                  <div class="js-overlay-start start" data-url= "<%= gadget.gg_youtube01 %>">
                    <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                  </div>
                <% end %>

                <% if gadget.gg_option_01.present? %>
                  <div class="crowdfunding">
                    <p>#crowdfunding</p>
                  </div>
                <% end %>

                <span>BY <%= gadget.gg_from %></span>
                <% if gadget.gg_option_02.present? %>
                  <a class="to_featured" href="<%= gadget.gg_option_02 %>">Discover More</a>
                <% end %>
                <!-- <h4><a target="_blank" href="<%= gadget.gg_url %>"><%= gadget.gg_title %></a></h4> -->
                <h4><%= link_to gadget.gg_title, gadget %></h4>
                <!-- <p><%= gadget.gg_intro %></p> -->

                <div class="btn clearfix">
                  <% if gadget.gg_option_03.present? %>
                   <a class="learnmore" target="_blank" href="<%= gadget.gg_url %>">Learn More</a>
                  <% else %>
                  <em>$<%= gadget.gg_aprice %></em><a target="_blank" href="<%= gadget.gg_url %>">Buy Now</a>
                  <% end %>
                </div>


                <% if can? :update, gadget %>
                  <div class="btn clearfix admin">
                    <em><%= link_to "Edit", edit_gadget_path(gadget) %></em><%= link_to "Delete", gadget_path(gadget), method: :delete, data: {confirm: "Are you sure?"}%>
                  </div>     
                <% end %>
              </section>
            </div>

          <% end %>
       </div><!--./card_wrap-->
       <%= will_paginate @gadgets %>
        
    
  

      </div><!--./wrap-->
  </div>
</div><!--./layout-->
