<div class="layout">
  <div class="wrap">  
    <!-- <p class="dealpage_title"><strong>Store Promotions Category Name: </strong><%= @spcategory.name %></p>
    <p><strong>Store Promotions Category Number:</strong> <%= @spcategory.spc_description %></p>
    <p><strong>Display in navbar:</strong> <%= @spcategory.display_in_navbar %></p> -->

    <%= link_to 'Edit', edit_spcategory_path(@spcategory) %> |
    <%= link_to 'Back', spcategories_path %>
  </div>
</div>