<div class="card clearfix" data-score="60" data-price="6.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KsfAEs"><img src="https://m.media-amazon.com/images/I/616MKZWWcdL._SR400,400_.jpg" alt="TENMOS T85 Rechargeable Wireless Mouse" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>33 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KsfAEs">TENMOS T85 Rechargeable Wireless Mouse, 2.4G USB LED Optical Silent Computer Wireless Mice, Auto Sleeping, Ergonomics Grip, 3 Adjustable DPI,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.40</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>60% off at $15.99</strong> with promo code: <strong>60GGDSGB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KsfAEs">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zz7NIa"><img src="https://m.media-amazon.com/images/I/61lnB-OgyyL._SR400,400_.jpg" alt="TENMOS X96 Wireless Rechargeable Gaming Mouse" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>203 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zz7NIa">TENMOS X96 Wireless Rechargeable Gaming Mouse USB Optical LED Silent Computer Mouse Compatible with Laptop/PC/Notebook, 3 Adjustable DPI,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>60% off at $14.99</strong> with promo code: <strong>60PAAQIY</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Zz7NIa">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IUERDV"><img src="https://m.media-amazon.com/images/I/81xf3t+PvzL._SR400,400_.jpg" alt="Beach Theme Shower Curtain" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>73 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IUERDV">ABxinyoule Starfish Beach Theme Shower Curtain Seashell Conch Shell Fabric Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>30% off at $16.99</strong> with promo code: <strong>30143IE8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IUERDV">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="62.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ITeXAy"><img src="https://m.media-amazon.com/images/I/71+-ef+vEEL._SR400,400_.jpg" alt="Automatic Bread Maker" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>53 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ITeXAy">Automatic Bread Maker, Aicok 2 Pound Stainless Steel Breadmaker Machine with 19 Programs Cycles, Fruit Nut Dispenser, 3 Loaf Sizes, 3 Crust Colors,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$62.09</span><span class="ori_price">$68.99</span></address>
      <p><span>Take <strong>10% off at $68.99</strong> with promo code: <strong>106F8KML</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ITeXAy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RnwEvF"><img src="https://m.media-amazon.com/images/I/71WFM1rhySL._SR400,400_.jpg" alt="Rain Boots" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>272 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RnwEvF">hibigo Children's Natural Rubber Rain Boots with Handles Easy for Little Kids & Toddler Boys, Pattern</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>50% off at $35.99</strong> with promo code: <strong>50ENBJ7Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RnwEvF">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WTrAQQ"><img src="https://m.media-amazon.com/images/I/611ddfS5RVL._SR400,400_.jpg" alt="Battery Case" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>27 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WTrAQQ">Battery Case for iPhone 6 Plus 6s Plus 7 Plus 8 Plus, Elzle 5000mAh Charging Case Battery for iPhone 6 Plus 6s Plus 7 Plus 8 Plus ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>70GTXTNW</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WTrAQQ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IY8wfD"><img src="https://m.media-amazon.com/images/I/61YaLg-nAlL._SR400,400_.jpg" alt="Binoculars" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>955 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IY8wfD">SkyGenius 10 x 50 Powerful Full-Size Binoculars for Adults, Durable Clear Binoculars for Bird Watching Sightseeing Hunting Wildlife Watching...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>60% off at $39.99</strong> with promo code: <strong>6042YB83</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IY8wfD">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="9.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WSU65g"><img src="https://m.media-amazon.com/images/I/61OUyZwCJ1L._SR400,400_.jpg" alt="Gear Sport Band" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>65 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WSU65g">GOSETH Compatible with Gear Sport Band/Galaxy Watch (42mm) Band, 20mm Genuine Leather Replacement Buckle Strap Compatible with Samsung Gear...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.51</span><span class="ori_price">$13.58</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $13.58</strong> with promo code: <strong>30JS7KUG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WSU65g">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="39" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kt167c"><img src="https://m.media-amazon.com/images/I/71+rhFjevbL._SR400,400_.jpg" alt="HUI LINGYANG Ultralight Air Sleeping Pad" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>26 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kt167c">HUI LINGYANG Ultralight Air Sleeping Pad - Best Inflatable Mat for Camping,Backpacking and Traveling-Lightweight & Compact Air Mattress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.49</span></address>
      <p><span>Take <strong>39% off at $29.49</strong> with promo code: <strong>39GI9EKD</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Kt167c">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="27.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZv1Ay"><img src="https://m.media-amazon.com/images/I/71RSsL-JIJL._SR400,400_.jpg" alt="GOSETH Wireless Car Charger Mount" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>44 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZv1Ay">GOSETH Wireless Car Charger Mount Automatic Infrared Induction,Fast Charger Air Vent&Bracket Phone Holder Compatible iPhone Xs/XR/X/8/8 Plus,Samsung...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.11</span><span class="ori_price">$33.89</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $33.89</strong> with promo code: <strong>201SAH8B</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IZv1Ay">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZzUBTk"><img src="https://m.media-amazon.com/images/I/71Ywv4busnL._SR400,400_.jpg" alt="NUHIWIY Fitness Tracker" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>123 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZzUBTk">NUHIWIY Fitness Tracker,Activity Tracker,Heart Rate Monitor,Waterproof Smart Watch,Calorie Counter,Sleep Monitor,Pedometer,Fitness Tracker...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>40% off at $25.99</strong> with promo code: <strong>40VPL829</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZzUBTk">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xkz8R7"><img src="https://m.media-amazon.com/images/I/715MLvZxbgL._SR400,400_.jpg" alt="Coffee Grinder" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>23 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xkz8R7">Coffee Grinder, Kealive Coffee Grinder Electric 12 Cup, Coffee Beans Grinder with Stainless Steel Blades for Fast Grinding Coffee Beans, Nuts, Grains,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>50% off at $18.99</strong> with promo code: <strong>50VNYXCV</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xkz8R7">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WN9sIp"><img src="https://m.media-amazon.com/images/I/71RnRi8AAEL._SR400,400_.jpg" alt="Vacuum Sealer Food" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>191 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WN9sIp">Crenova VS100S Vacuum Sealer Food Sealer Saver Machine + 1 Vacuum Roll + 10 pcs Vacuum Bags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>50% off at $49.99</strong> with promo code: <strong>50G3RXIO</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WN9sIp">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="5.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IUG6D0"><img src="https://m.media-amazon.com/images/I/61JwMWvYFoL._SR400,400_.jpg" alt="LIANYU Frothing Pitcher" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>109 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IUG6D0">LIANYU Frothing Pitcher, Stainless Steel 12 oz Milk Steaming Coffee Creamer Pitcher, Attached Mini Tea Coffee Spoons</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.50</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>50% off at $10.99</strong> with promo code: <strong>50J5SVRB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IUG6D0">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RoM0Ae"><img src="https://m.media-amazon.com/images/I/61G0Vp2fjPL._SR400,400_.jpg" alt="AHIROT Wall Climbing RC Car" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>101 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RoM0Ae">AHIROT Wall Climbing RC Car Remote Control Car Toy, USB Rechargeable Gravity Defying RC Car with Update Remote Control, 360°Rotating Stunt...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>15% off at $19.99</strong> with promo code: <strong>15TM47TQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RoM0Ae">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="16.67">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HIt4H"><img src="https://m.media-amazon.com/images/I/81walb-DbiL._SR400,400_.jpg" alt="Puhibuox Survival Gear Kit" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>139 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HIt4H">Puhibuox Survival Gear Kit, Gifts for Him Dad Husband Men Boyfirend Teen Boys 14-in-1, EDC Outdoor Emergency Tactical Survival Tool for Cars...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.67</span><span class="ori_price">$27.79</span></address>
      <p><span>Take <strong>40% off at $27.79</strong> with promo code: <strong>40SEPGY4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31HIt4H">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WOQcud"><img src="https://m.media-amazon.com/images/I/61NiP6flOPL._SR400,400_.jpg" alt="Airplane Footrest" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>91 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WOQcud">Airplane Footrest - Under Desk Footrest Adjustable Height Foot Hammock Portable Travel Accessories (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <p><span>Take <strong>50% off at $9.99</strong> with promo code: <strong>50IYGO6G</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WOQcud">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="75" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31JWijh"><img src="https://m.media-amazon.com/images/I/61SuFLGlZmL._SR400,400_.jpg" alt="Headphones" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>26 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31JWijh">Headphones, Crabot I65 On-Ear Stereo Sound Bass Wired Portable Foldable Headsets with Microphone and Volume Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$31.99</span></address>
      <p><span>Take <strong>75% off at $31.99</strong> with promo code: <strong>75T4M3XB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31JWijh">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31K4EXS"><img src="https://m.media-amazon.com/images/I/71raL0zV0wL._SR400,400_.jpg" alt="Key Finder" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>47 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31K4EXS">Key Finder – TBMax Smart Key Locator Bluetooth GPS Tracker Device with App Control for Phone, Slim Wallet Purse Finder, Bag Luggage Tracker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $16.99</strong> with promo code: <strong>3019IR2O</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31K4EXS">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="16.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYicXp"><img src="https://m.media-amazon.com/images/I/61EICQDuz-L._SR400,400_.jpg" alt="Ionic Folding Hair Dryer" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>15 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYicXp">YinQin 1600W Negative Ionic Folding Hair Dryer Light Weight Travel Hair Dryer 2 Speeds and Cool Shot Button Tourmaline Ceramic Portable Blow Dryer ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.98</span><span class="ori_price">$56.60</span></address>
      <p><span>Take <strong>percentage% off at $56.60</strong> with promo code: <strong>70C9W64B</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IYicXp">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ISkkjf"><img src="https://m.media-amazon.com/images/I/51Sdov-2nTL._SR400,400_.jpg" alt="VANMASS Wireless Charger" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>74 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ISkkjf">VANMASS Wireless Charger, 10W/7.5W/5W Qi Wireless Charger Stand, Fast Foldable Wireless Charging Pad Conpitable with Note 9/S9/S9,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>30% off at $18.99</strong> with promo code: <strong>30NRR5H8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ISkkjf">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IXkbvb"><img src="https://images-na.ssl-images-amazon.com/images/I/61Kc7zXw0XL._SX679_.jpg" alt="iPhone to Android Adapter" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>81 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IXkbvb">iPhone to Android Adapter, HkittyXiong Apple Lightning to Micro USB Cable Adaptor Charge Sync Connector for Smartphone, Tablet, GPS, Power Bank...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>percentage% off at $9.99</strong> with promo code: <strong>50MNKKZK</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IRquA7"><img src="https://m.media-amazon.com/images/I/91ywzK+KnGL._SR400,400_.jpg" alt="JELLYMONI Green Duvet Cover Set" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>46 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IRquA7">JELLYMONI Green Duvet Cover Set,3 Piece Luxury Button Bedding Set,Ultra Soft Breathable Hypoallergenic Microfiber, Easy Care,Simple Style,Solid Color...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.00</span><span class="ori_price">$41.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $41.99</strong> with promo code: <strong>509A4A8B</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 12:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IRquA7">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="95.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kp1m79"><img src="https://m.media-amazon.com/images/I/71DpjiwXn+L._SR400,400_.jpg" alt="Aobosi Slow Masticating Juicer" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>171 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kp1m79">Aobosi Slow Masticating Juicer 83mm(3.15inch) Wide Chute Juice Extractor Cold Press Juicer Machine with Quiet Motor/Reverse Function/Juice Jug and...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$95.19</span><span class="ori_price">$118.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $118.99</strong> with promo code: <strong>20UW4972</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Kp1m79">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Iq14uk"><img src="https://m.media-amazon.com/images/I/81H1cqxWdnL._SR400,400_.jpg" alt="Sanatty Beard Kit for Men Gift" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>5 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Iq14uk">Sanatty Beard Kit for Men Gift, Beard Grooming Kit-Unscented Beard Oil, Beard Balm Wax, Beard Comb, Beard Shaping, Beard Brush, Beard Scissors,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>60% off at $29.99</strong> with promo code: <strong>60AB5M48</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Iq14uk">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="10.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IRqUGH"><img src="https://m.media-amazon.com/images/I/51gPTgQ0qxL._SR400,400_.jpg" alt="TaoHorse Wireless Presenter" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>21 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IRqUGH">TaoHorse Wireless Presenter, 2.4GHz Laser PowerPoint Clicker PPT Presentation Remote with USB Receiver, 328ft Range Volume Control for Google Slides,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.39</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>20% off at $12.99</strong> with promo code: <strong>20GMCB4E</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IRqUGH">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="7.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WQkAo6"><img src="https://m.media-amazon.com/images/I/61MuRTE2bUL._SR400,400_.jpg" alt="Playbuy Magnetic Putty" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WQkAo6">Playbuy Magnetic Putty, Magnetic Stress Relief Desk Toys, for Kids Children Adult Great Creative Toy Gift Present Focus on Training Toys</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.14</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>35% off at $10.99</strong> with promo code: <strong>35PUTTYS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WQkAo6">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="5.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYFBI2"><img src="https://m.media-amazon.com/images/I/61-+NY4fTCL._SR400,400_.jpg" alt="TDS Meter Digital Water Tester" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>251 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYFBI2">TDS Meter Digital Water Tester, Lxuemlu Professional 3-in-1 TDS, Temperature and EC Meter with Carrying Case, 0-9999ppm, Ideal ppm Meter ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.59</span><span class="ori_price">$13.97</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>60% off at $13.97</strong> with promo code: <strong>608YTLWT</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IYFBI2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="5.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Jjz4A"><img src="https://m.media-amazon.com/images/I/71Csp8U3hxL._SR400,400_.jpg" alt="Acne Treatment Serum" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>197 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Jjz4A">Acne Treatment Serum, BREYLEE Tea Tree Clear Skin Serum for Clearing Severe Acne, Breakout, Remover Pimple and Repair Skin (17ml,0.6oz)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.50</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>50% off at $10.99</strong> with promo code: <strong>50AZFTVC</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31Jjz4A">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zww4yG"><img src="https://m.media-amazon.com/images/I/71KMcS73VFL._SR400,400_.jpg" alt="Short Sleeve V-Neck" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>89 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zww4yG">KIRUNDO Women’s 2019 Summer Hot Short Sleeve V-Neck High Waist Floral Print Mini Boho Sun Dress with Button</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.49</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>10% off at $24.99</strong> with promo code: <strong>10A4SLHB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Zww4yG">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="6.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IRHd6t"><img src="https://m.media-amazon.com/images/I/61prOqgNuXL._SR400,400_.jpg" alt="JOYROOM AirPods Case Cover" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>193 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IRHd6t">JOYROOM AirPods Case Cover, Premium Protective Skin for Apple AirPods Charging Case (Also Fit Latest Mode AirPods 2), with Keychain, Cleaning Brush,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.39</span><span class="ori_price">$7.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $7.99</strong> with promo code: <strong>20OXFHUG</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IRHd6t">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IqBwO3"><img src="https://m.media-amazon.com/images/I/61qNpE5x6BL._SR400,400_.jpg" alt="DADYPET Cat Litter Mat" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>38 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IqBwO3">DADYPET Cat Litter Mat, Double-Sided Cat Litter Trapper, Waterproof Foldable Kitty Litter Mat Scatter Control for Litter Box,Size 30" X 19",...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>40% off at $20.99</strong> with promo code: <strong>4029L77Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IqBwO3">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WO5krL"><img src="https://images-na.ssl-images-amazon.com/images/I/71VKys1RMyL._SX522_.jpg" alt="DeKaSi Seeker Backpack" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>35 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WO5krL">DeKaSi Seeker Backpack Compatible for GoPro Daypack Go Pro Camera Bag Carrying Case Outdoor Rucksack Mochila</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.99</span><span class="ori_price">$69.99</span></address>
      <p><span>Take <strong>20% off at $69.99</strong> with promo code: <strong>20JBUY4M</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WO5krL">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="44.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ITL8zO"><img src="https://m.media-amazon.com/images/I/61bJmzB7boL._SR400,400_.jpg" alt="Tuomico 80x60x19IN Queen Air Mattress" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>19 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ITL8zO">Tuomico 80x60x19IN Queen Air Mattress, Premium Inflatable Air Beds with Built-in Pump for Fast Inflation, Portable Upgraded Flocking Airbeds for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.79</span><span class="ori_price">$55.99</span></address>
      <p><span>Take <strong>20% off at $55.99</strong> with promo code: <strong>20V6RM3T</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ITL8zO">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="18.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RrfyNB"><img src="https://m.media-amazon.com/images/I/613C7EM33eL._SR400,400_.jpg" alt="Flower Pots" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>180 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RrfyNB">Ogima 10 Piece Metal Iron Hanging Flower Pots, Multicolor</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.39</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>20% off at $22.99</strong> with promo code: <strong>20M1GB32</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RrfyNB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="11.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IVbSQa"><img src="https://m.media-amazon.com/images/I/71Y+Zjn+6bL._SR400,400_.jpg" alt="ANCREU BBQ Grill Cleaning Brush" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>4 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IVbSQa">ANCREU BBQ Grill Cleaning Brush with Scraper, Safe 18" Stainless Steel Woven Wire 3 in 1 Bristles Grill Cleaning Brush for Weber Gas/Charcoal Grill,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.54</span><span class="ori_price">$28.86</span></address>
      <p><span>Take <strong>60% off at $28.86</strong> with promo code: <strong>60URVEKK</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IVbSQa">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ICIUf"><img src="https://m.media-amazon.com/images/I/71sZtPvEsVL._SR400,400_.jpg" alt="FULIER Women's Socks" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>4 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ICIUf">FULIER Women's Socks Casual Cotton Cute Funny Socks Colorful Design Comfortable Dress Crew SocksFULIER Women's Socks Casual Cotton Cute Funny Socks</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>30% off at $12.99</strong> with promo code: <strong>308O2MIE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31ICIUf">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="8" data-price="119.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYJpsO"><img src="https://m.media-amazon.com/images/I/71fyTeP1cKL._SR400,400_.jpg" alt="Geek Chef 8 Qt Electric Pressure Cooker" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>14 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>8% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYJpsO">Geek Chef 8 Qt Electric Pressure Cooker with non stick oval inner pot, 12 Presets Programmable Multi-functional Slow, Rice Cooker/Steamer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$119.59</span><span class="ori_price">$129.99</span></address>
      <p><span>Take <strong>8% off at $129.99</strong> with promo code: <strong>080996C1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IYJpsO">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IoRd85"><img src="https://m.media-amazon.com/images/I/818ySYWTSwL._SR400,400_.jpg" alt="OBD2 Scanner OBD Car Diagnostic" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>180 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IoRd85">OBD2 Scanner OBD Car Diagnostic Tool Code Reader Obdii Scanners Universal Cars Code Reader Scan Directly Check Engine Light MIL Error Meaning ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.89</span><span class="ori_price">$26.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $26.99</strong> with promo code: <strong>3091MBNO</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IoRd85">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="31.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ITMGd6"><img src="https://m.media-amazon.com/images/I/71GG5y55W9L._SR400,400_.jpg" alt="Chest Rig Vest" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>47 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ITMGd6">vAv YAKEDA Tactical Rapid Assault Chest Rig Vest</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>20% off at $39.99</strong> with promo code: <strong>20AJ5K9J</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ITMGd6">Use Code</a>
  </div>
</div>


