<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sz7YRz"><img src="https://m.media-amazon.com/images/I/61vl7awNzhL._SR400,400_.jpg" alt="Charging Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Sz7YRz">Charging Cable 3 in 1 for Cell Phones Charger - Retractable USB Cord Data Sync Adapter Multi...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">50CABLE3IN1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.99</strong> with promo code: <strong class="m_codes">50CABLE3IN1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Sz7YRz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JZftgL"><img src="https://m.media-amazon.com/images/I/61lyulZQvnL._SR400,400_.jpg" alt="Dresses Plain Tank Dress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>46 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JZftgL">DAIKEN Women's Summer Sleeveless Casual Loose Swing T-Shirt Dresses Plain Tank Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50ZOMWWO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50ZOMWWO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JZftgL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWjLWh"><img src="https://m.media-amazon.com/images/I/81gTlSpfvlL._SR400,400_.jpg" alt="AUTMOR Car Trash..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWjLWh">AUTMOR Car Trash Can with Lid and Storage Pockets, Auto Car Garbage Can, 100% Leak-Proof Car Organizer, Multipurpose Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.59</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">40QAZDGO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $15.99</strong> with promo code: <strong class="m_codes">40QAZDGO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JWjLWh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SwbagK"><img src="https://images-na.ssl-images-amazon.com/images/I/61z-lBk5IEL._SX679_.jpg" alt="IFYOO V-one Wired USB Gaming Controller" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SwbagK">IFYOO V-one Wired USB Gaming Controller Gamepad Joystick for PC (Windows XP/7/8/10) & Steam & Android & PS3</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.50</span><span class="ori_price">$29.00</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50T1SE9Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.00</strong> with promo code: <strong class="m_codes">50T1SE9Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SwbagK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XVQGUK"><img src="https://m.media-amazon.com/images/I/511vcN-HJcL._SR400,400_.jpg" alt="Nivava D9 True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>158 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XVQGUK">Nivava D9 True Wireless Earbuds, Bluetooth 5.0 Headphones, 3D Stereo Sound, IPX5 Waterproof in-Ear Wireless...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50RL7V8M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50RL7V8M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XVQGUK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YkJuRy"><img src="https://m.media-amazon.com/images/I/61I6VzWgbOL._SR400,400_.jpg" alt="COMFEE' MB-FS5077 Japanese" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YkJuRy">COMFEE' MB-FS5077 Japanese, Professional 17-in-1 Multi Cooker, Rice Warmer with Food Steamer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.99</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">24MBFS5077</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $79.99</strong> with promo code: <strong class="m_codes">24MBFS5077</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YkJuRy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JXbJMX"><img src="https://m.media-amazon.com/images/I/81Yb8TJk0ZL._SR400,400_.jpg" alt="CYZ Women's 100% Cotton Woven Pajama" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>205 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JXbJMX">CYZ Women's 100% Cotton Woven Pajama CapriCYZ Women's 100% Cotton Woven Pajama Capri</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50WOVENCAPRI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50WOVENCAPRI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JXbJMX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="31.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZfYRL"><img src="https://m.media-amazon.com/images/I/61SEzyhXv7L._SR400,400_.jpg" alt="TTMOW Bluetooth Headsets" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>87 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZfYRL">TTMOW Bluetooth Headsets V4.2 Hands Free Wireless Earpiece with Dual Mic Active Noise Cancelling Single Ear Bluetooth...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.44</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">155IUGXH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $36.99</strong> with promo code: <strong class="m_codes">155IUGXH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XZfYRL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JX1atf"><img src="https://m.media-amazon.com/images/I/51UFqSGlpCL._SR400,400_.jpg" alt="Quick Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>62 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JX1atf">Quick Wireless Charger Qi Certified[10W], BrexLink Slim Fast Charging Pad w. USB C Port 7.5W Compatible w....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">40L11YLJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40L11YLJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JX1atf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="14.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yfzd9a"><img src="https://m.media-amazon.com/images/I/31k14VOrLNL._SR400,400_.jpg" alt="iPhone X Charger Case Slim" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yfzd9a">iPhone X Charger Case Slim - XREXS Portable Protective Backup Power Bank, 4000mAh Rechargeable Charging Case...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.88</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">52JVMLFY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>52% off at $30.99</strong> with promo code: <strong class="m_codes">52JVMLFY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yfzd9a">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="9.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZ9v9p"><img src="https://m.media-amazon.com/images/I/61+5lBWJDAL._SR400,400_.jpg" alt="Women's Bikini Trimmer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>63 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZ9v9p">Women's Bikini Trimmer 3in1 Painless Multi Grooming Kit Cordless Wet and Dry Shaver Electric Women's Facial Hair...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.87</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">48VR1C8A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>48% off at $18.99</strong> with promo code: <strong class="m_codes">48VR1C8A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XZ9v9p">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="16.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LBulVS"><img src="https://m.media-amazon.com/images/I/81+jxfw0pLL._SR400,400_.jpg" alt="MIU COLOR Waterproof Hanging Toiletry Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>71 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LBulVS">MIU COLOR Waterproof Hanging Toiletry Kit, Portable Travel Organizer Cosmetic Toiletry Bag for Bathroom...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.09</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">30AAA222</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $22.99</strong> with promo code: <strong class="m_codes">30AAA222</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LBulVS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="10.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SCn8pd"><img src="https://m.media-amazon.com/images/I/61pavhPiWCL._SR400,400_.jpg" alt="Electric Flosser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>344 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SCn8pd">Electric Flosser Featuring Oxygen Bubble Clean from BROADCARE for Travel and Home</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.15</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">6576FYR9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $28.99</strong> with promo code: <strong class="m_codes">6576FYR9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SCn8pd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YbVf8G"><img src="https://m.media-amazon.com/images/I/710fdkdYgoL._SR400,400_.jpg" alt="Naturenics Premium Beard Grooming Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>431 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YbVf8G">Naturenics Premium Beard Grooming Kit for Men - 100% Organic Unscented Beard Oil,Beard Balm Butter Wax,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.49</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">25NATURENICS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $29.99</strong> with promo code: <strong class="m_codes">25NATURENICS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YbVf8G">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZOhbI"><img src="https://m.media-amazon.com/images/I/61xJq5Fu3VL._SR400,400_.jpg" alt="Tsmine 2.4G Wireless Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZOhbI">Tsmine 2.4G Wireless Mouse, Rechargeable USB Wireless Mice with Nano Receiver, 5 Buttons,3 Adjustment Levels...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">50WMOUSE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $13.99</strong> with promo code: <strong class="m_codes">50WMOUSE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XZOhbI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="29.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XUOEEi"><img src="https://m.media-amazon.com/images/I/71-cQZbHFgL._SR400,400_.jpg" alt="Ridge Stand Plus Foldable Tablet Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XUOEEi">Ridge Stand Plus Foldable Tablet Stand for Desk, iPad Pro Stand Portable, Kindle E-Reader Holder,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.90</span><span class="ori_price">$65.00</span></address>
      <textarea readonly="readonly" class="code_area">54SHXO84</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>54% off at $65.00</strong> with promo code: <strong class="m_codes">54SHXO84</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XUOEEi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWfQsy"><img src="https://m.media-amazon.com/images/I/61azDUr4jqL._SR400,400_.jpg" alt="NUBWO U3 3.5mm Gaming Headset " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>783 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWfQsy">NUBWO U3 3.5mm Gaming Headset for PC, PS4, Laptop, Xbox One, Mac, iPad, Nintendo Switch Games, Computer Game...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">50LWID1J</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.99</strong> with promo code: <strong class="m_codes">50LWID1J</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JWfQsy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="6.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZaLcD"><img src="https://m.media-amazon.com/images/I/51I6I2h13bL._SR400,400_.jpg" alt="Smart Home Plug, Twakie Mini Wifi Smart Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>49 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZaLcD">Smart Home Plug, Twakie Mini Wifi Smart Plug, Compatible with Alexa Echo and Google Home, Nest, IFTTT, Remote Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.04</span><span class="ori_price">$10.99</span></address>
      <textarea readonly="readonly" class="code_area">45FH911K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $10.99</strong> with promo code: <strong class="m_codes">45FH911K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XZaLcD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yn4hnw"><img src="https://m.media-amazon.com/images/I/61qguA6O+KL._SR400,400_.jpg" alt="Toilet Light by Fansteck" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>107 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yn4hnw">Toilet Light by Fansteck- Toilet Lights Motion Detection with 16 Colors LED &UV Light - Toilet Bowl Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50SMTDY3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50SMTDY3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yn4hnw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="123.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SwzTS8"><img src="https://m.media-amazon.com/images/I/510EMyX3LsL._SR400,400_.jpg" alt="LEVILUNA 5.9''/15cm Magnetic Levitating Moon Lamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SwzTS8">LEVILUNA 5.9''/15cm Magnetic Levitating Moon Lamp, Zeegine Seamless 3D Printing Moon Light, Rotating&Wireless Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$123.89</span><span class="ori_price">$176.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30IJ4SQD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $176.99</strong> with promo code: <strong class="m_codes">30IJ4SQD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SwzTS8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LB7FVS"><img src="https://m.media-amazon.com/images/I/61KEdMl91tL._SR400,400_.jpg" alt="BETNEW Alarm Clock Wireless Bluetooth Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LB7FVS">BETNEW Alarm Clock Wireless Bluetooth Speaker, Retro TV with Candy Color Design, 4 Hours Endurance, AUX TF Card Play,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50BETNEWK3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50BETNEWK3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LB7FVS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZDGNH"><img src="https://m.media-amazon.com/images/I/71z7uofrn6L._SR400,400_.jpg" alt="PrettyDiva DUO Liquid Eyeliner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZDGNH">PrettyDiva DUO Liquid Eyeliner - Double Head Liquid Eyeliner Pen with Kohl Eyeliner, Waterproof Smudgeproof Gel Eyeliner...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.97</span><span class="ori_price">$9.95</span></address>
      <textarea readonly="readonly" class="code_area">50URCTQZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.95</strong> with promo code: <strong class="m_codes">50URCTQZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XZDGNH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SwAEus"><img src="https://m.media-amazon.com/images/I/518ce6gwDjL._SR400,400_.jpg" alt="Remote Control Outlet Wireless Light Switch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SwAEus">Remote Control Outlet Wireless Light Switch Power Plug By Ankuoo, Wireless Outlet For Household Appliances with 100 ft....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">50N3AHMN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">50N3AHMN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SwAEus">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SvCcou"><img src="https://m.media-amazon.com/images/I/71PTRtRVA4L._SR400,400_.jpg" alt="Tacloft Polarized Sports Cycling Sunglasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SvCcou">Tacloft Polarized Sports Cycling Sunglasses 64MM Athletic Sunglasses for Women Men TL6003</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">701S7MSD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $14.99</strong> with promo code: <strong class="m_codes">701S7MSD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SvCcou">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="7.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y8AudT"><img src="https://m.media-amazon.com/images/I/61-p0frwFcL._SR400,400_.jpg" alt="GLISTON Car Windshield Repair Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>74 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y8AudT">GLISTON Car Windshield Repair Kit for Chips and Cracks</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.69</span><span class="ori_price">$10.99</span></address>
      <textarea readonly="readonly" class="code_area">303IFVYE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $10.99</strong> with promo code: <strong class="m_codes">303IFVYE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y8AudT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="74" data-price="13.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OgiHlm"><img src="https://m.media-amazon.com/images/I/61CnTHmmZTL._SR400,400_.jpg" alt="Play22 Ping Pong Paddle Set" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>74% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OgiHlm">Play22 Ping Pong Paddle Set - 4 Table Tennis Paddles and 8 Ping Pong Balls and Portable Gift Case...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.00</span><span class="ori_price">$49.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">74PLAY22PING</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>74% off at $49.99</strong> with promo code: <strong class="m_codes">74PLAY22PING</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OgiHlm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZcOxl"><img src="https://m.media-amazon.com/images/I/71DYPKMPjjL._SR400,400_.jpg" alt="40th Birthday Gifts for Women" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZcOxl">40th Birthday Gifts for Women, Men Mom Teacher Daughter Wife Her Sister,Have a Nice Day Wine Tumbler,21st 30th 40th...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50876QZP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50876QZP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XZcOxl">Use Code at Amazon</a></div>
</div>

