<div class="card clearfix" data-score="70" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H18541"><img src="https://m.media-amazon.com/images/I/71XmiWHK9eL._SR400,400_.jpg" alt="SOJOS Fashion Cateye Sunglasses" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H18541">SOJOS Fashion Cateye Sunglasses for Women Flat Lens SJ1070</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">70SJ1070</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $19.99</strong> with promo code: <strong class="m_codes">70SJ1070</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H18541">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H3alrs"><img src="https://m.media-amazon.com/images/I/41KoIAeS0RL._SR400,400_.jpg" alt="Smart Light Switch" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H3alrs">Smart Light Switch, TESSAN Smart Wifi Light Switch Compatible with Alexa, Google Home and IFTTT, No Hub Required,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50XK5X9W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $18.99</strong> with promo code: <strong class="m_codes">50XK5X9W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H3alrs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="51.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YXivYy"><img src="https://m.media-amazon.com/images/I/71xfiEYFlnL._SR400,400_.jpg" alt="AICOK Air Purifier" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YXivYy">AICOK Air Purifier, Air Cleaner with True HEPA Filter, Ideal for Home Use, with Optional Night Light, White</a></p>
    <div class="code_high">
      <address><span class="dis_price">$51.09</span><span class="ori_price">$72.98</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30RZRXQU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $72.98</strong> with promo code: <strong class="m_codes">30RZRXQU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YXivYy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YWXiOc"><img src="https://m.media-amazon.com/images/I/61N+zIDcveL._SR400,400_.jpg" alt="ELECJET MagJet" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YWXiOc">ELECJET MagJet, Magnetic USB C Adapter, Magsafe replacement, 6.6ft PD Type C Charging Cable Support up to ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">40MAGJET</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $23.99</strong> with promo code: <strong class="m_codes">40MAGJET</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YWXiOc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KtQHHd"><img src="https://m.media-amazon.com/images/I/61K9eKL7beL._SR400,400_.jpg" alt="DIKAOU Led flame table lamp" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KtQHHd">DIKAOU Led flame table lamp, Torch atmosphere Bluetooth speakers&Outdoor Portable Stereo Speaker with HD Audio and Enhanced Bass,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">25TP7AYZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $39.99</strong> with promo code: <strong class="m_codes">25TP7AYZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KtQHHd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GYCDTG"><img src="https://m.media-amazon.com/images/I/41j-4u-5abL._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GYCDTG">Wireless Earbuds Bluetooth V4.1, OUZIFISH Magnetic Metal Gold Ear Phones Noise Cancel Waterproof Wireless Ear Phones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">703M5YKJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $29.99</strong> with promo code: <strong class="m_codes">703M5YKJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GYCDTG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GZZCxT"><img src="https://m.media-amazon.com/images/I/51l2hD8UQ7L._SR400,400_.jpg" alt="USB C to HDMI Cable Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GZZCxT">USB C to HDMI Cable Adapter, YIIXIIYN Type C to HDMI 4K Digital AV Multiport Adapter with USB 3.0/USB C Charging ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50MS9BI5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50MS9BI5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GZZCxT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31yvJwp"><img src="https://m.media-amazon.com/images/I/613KO-P2moL._SR400,400_.jpg" alt="NPET LED UV Nail Lamp Dryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31yvJwp">NPET LED UV Nail Lamp Dryer 60W for Gel Polish With 5 Timer Automatic Sensor </a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">52IWWMWA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>52% off at $49.99</strong> with promo code: <strong class="m_codes">52IWWMWA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31yvJwp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="5.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H2hZ5d"><img src="https://m.media-amazon.com/images/I/51nbuSGZ1eL._SR400,400_.jpg" alt="CIOR Water Shoes Men Women Aqua Shoes" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H2hZ5d">CIOR Water Shoes Men Women Aqua Shoes Barefoot Quick-Dry Swim Shoes for Boating Walking Driving Beach Yoga</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.40</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">70B6RIQJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $17.99</strong> with promo code: <strong class="m_codes">70B6RIQJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H2hZ5d">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33rsOaF"><img src="https://m.media-amazon.com/images/I/61cVdmHAsRL._SR400,400_.jpg" alt="JACK SMITH Lightweight Waterproof Outdoor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33rsOaF">JACK SMITH Lightweight Waterproof Outdoor Rain Jacket with Hood</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">70DGS7QT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $35.99</strong> with promo code: <strong class="m_codes">70DGS7QT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33rsOaF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="47.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KFuowZ"><img src="https://m.media-amazon.com/images/I/61RD3X4Y88L._SR400,400_.jpg" alt="Mini Projector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KFuowZ">Mini Projector, 1080P HD Supported Portable Video Projector with 30000H Lamp, Compatible with TV Stick, HDMI, USB ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.35</span><span class="ori_price">$86.09</span></address>
      <textarea readonly="readonly" class="code_area">43PYPROJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $86.09</strong> with promo code: <strong class="m_codes">43PYPROJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KFuowZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEOLEw"><img src="https://m.media-amazon.com/images/I/71uxkRV50fL._SR400,400_.jpg" alt="KINGBERWI Leather Car Trash Can" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEOLEw">KINGBERWI Leather Car Trash Can Hanging Luxury Car Garbage Bag Auto Trash Container, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">508IFCIV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $21.99</strong> with promo code: <strong class="m_codes">508IFCIV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YEOLEw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z1HwBz"><img src="https://m.media-amazon.com/images/I/71sUrnrm8uL._SR400,400_.jpg" alt="EAGKORD Phone Charger Cable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z1HwBz">EAGKORD Phone Charger Cable, 2Pack 3FT Nylon Braided Certified Charging USB Cable Cord USB Cable Charger for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">80QNI98T</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $24.99</strong> with promo code: <strong class="m_codes">80QNI98T</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z1HwBz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="32.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KFgYkz"><img src="https://images-na.ssl-images-amazon.com/images/I/41hJAEBAGvL.jpg" alt="Eocean 10.2inch Selfie Ring Light" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KFgYkz">Eocean 10.2inch Selfie Ring Light with 50inch Tripod for YouTube/Live Stream/Makeup, Mini Led Camera Ringlight for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">45U6RZKW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $59.99</strong> with promo code: <strong class="m_codes">45U6RZKW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KFgYkz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="24.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YH9Rlo"><img src="https://m.media-amazon.com/images/I/610DOIXs7vL._SR400,400_.jpg" alt="MHCHO Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YH9Rlo">MHCHO Wireless Earbuds, 5.0 True Wireless Bluetooth Headphones 3D Stereo Sound Wireless Headphones Mini Sweatproof Sport Headsets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.50</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">5134EU4V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $49.99</strong> with promo code: <strong class="m_codes">5134EU4V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YH9Rlo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GY8h40"><img src="https://m.media-amazon.com/images/I/71lshyN2OyL._SR400,400_.jpg" alt="ZesGood Portable Transistor Radio" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GY8h40">ZesGood Portable Transistor Radio Battery Operated AM FM Radio Portable for Walking Hiking Camping Powered by 2AA Battery,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">30L5EZLR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $11.99</strong> with promo code: <strong class="m_codes">30L5EZLR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GY8h40">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ToknYV"><img src="https://m.media-amazon.com/images/I/81yfkq9ZKXL._SR400,400_.jpg" alt="RANVOO Alcantara Shockproof Laptop Sleeve Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ToknYV">RANVOO Alcantara Shockproof Laptop Sleeve Bag for 13-13.3 Inch Notebook Tablet Ultrabook Slim Portative MacBook Case Handbag Cover（RED）</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">60G7P683</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">60G7P683</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ToknYV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yTghP4"><img src="https://m.media-amazon.com/images/I/71wBkLUnhEL._SR400,400_.jpg" alt="Wireless Keyboard" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yTghP4">Wireless Keyboard - Tsmine Universal Ultra-Slim Bluetooth Keyboard Portable Wireless Keyboard for iOS/Android/Windows Mac OS PC Tablet...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">50UMST4H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50UMST4H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yTghP4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="37.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31vQWa9"><img src="https://m.media-amazon.com/images/I/71+djoCMtwL._SR400,400_.jpg" alt="Convenient USB PNP Digital Headset" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31vQWa9">Convenient USB PNP Digital Headset with Stand - 7.1 Surround Sound, No Adapter Required, G-Cord Over-Ear Headphones ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$37.59</span><span class="ori_price">$46.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20M3JJ1R</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $46.99</strong> with promo code: <strong class="m_codes">20M3JJ1R</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31vQWa9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="29.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YWF0ww"><img src="https://m.media-amazon.com/images/I/71V0XbFALzL._SR400,400_.jpg" alt="USB C Hub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YWF0ww">USB C Hub, Type C Hub, 9-in-1 USB-C Hub Adapter with Gigabit Ethernet, 4K USB C to HDMI, 3 USB 3.0 Ports, Mic/Audio,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.16</span><span class="ori_price">$44.86</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35MYNIQ1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $44.86</strong> with promo code: <strong class="m_codes">35MYNIQ1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YWF0ww">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31vC3os"><img src="https://m.media-amazon.com/images/I/71wb20W-VaL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31vC3os">Laptop Backpack, Business Travel Anti Theft Slim Durable Laptops Backpack with USB Charging Port,Waterproof College School...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.79</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">30ZM3OJZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $33.99</strong> with promo code: <strong class="m_codes">30ZM3OJZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31vC3os">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="24.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31C17dz"><img src="https://m.media-amazon.com/images/I/71dGRukaH6L._SR400,400_.jpg" alt="Watts Beauty 2.5% Retinol Serum Enhanced" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31C17dz">Watts Beauty 2.5% Retinol Serum Enhanced with 50% Hyaluronic Acid - Anti Aging Retinol for Fine Lines, Wrinkles, Blemishes,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.74</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25WATTSVIP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $32.99</strong> with promo code: <strong class="m_codes">25WATTSVIP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31C17dz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="7.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YArjrM"><img src="https://m.media-amazon.com/images/I/51y0BTFmdWL._SR400,400_.jpg" alt="HOPEMATE Retinol Cream" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YArjrM">HOPEMATE Retinol Cream, Anti-Aging Moisturizer Cream 2.5% for Face and Eye Care, Anti-Wrinkle Essence with Hyaluronic Acid,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.40</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">808WJF21</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $36.99</strong> with promo code: <strong class="m_codes">808WJF21</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YArjrM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="5.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H28G5c"><img src="https://m.media-amazon.com/images/I/51pz08f8xAL._SR400,400_.jpg" alt="Anti Aging Serum,Organic Vitamin C Serum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H28G5c">Anti Aging Serum,Organic Vitamin C Serum for Face And Eyes,Vitamin E & Hyaluronic Acid & EGF Serum for Neck Body (1FL OZ) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.60</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">658LJKIY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $15.99</strong> with promo code: <strong class="m_codes">658LJKIY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H28G5c">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ttL0n"><img src="https://m.media-amazon.com/images/I/81reN-IRDcL._SR400,400_.jpg" alt="Celebrity Porcelain Beauty Gold Face Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ttL0n">Celebrity Porcelain Beauty Gold Face Mask Anti Aging Deep Hydration Renew Damaged Skin Natural and Safe (5 Pieces) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.49</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">15KUK3NP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $49.99</strong> with promo code: <strong class="m_codes">15KUK3NP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31ttL0n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="29.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YDyQGl"><img src="https://m.media-amazon.com/images/I/51QSaUOkNqL._SR400,400_.jpg" alt="Jinri 1875W Professional Salon Hair Dryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YDyQGl">Jinri 1875W Professional Salon Hair Dryer for Faster Drying, Negative Ion Hair Blow Dryer with 2 Speed and 3 Heat Setting...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.10</span><span class="ori_price">$96.99</span></address>
      <textarea readonly="readonly" class="code_area">705N1SHK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $96.99</strong> with promo code: <strong class="m_codes">705N1SHK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YDyQGl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="29.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YXopc3"><img src="https://m.media-amazon.com/images/I/614cbcinEAL._SR400,400_.jpg" alt="JINRI 1875W Professional Salon Hair Dryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YXopc3">JINRI 1875W Professional Salon Hair Dryer Ionic Infrared Blow Hair Dryer With Diffuser & Concentrator Attachments for Curly Hair, Black (M4) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.10</span><span class="ori_price">$96.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">70IEUBJB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $96.99</strong> with promo code: <strong class="m_codes">70IEUBJB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YXopc3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KtYAfO"><img src="https://m.media-amazon.com/images/I/817fb2lOC6L._SR400,400_.jpg" alt="LILY SADO Green Tea Matcha" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KtYAfO">LILY SADO Green Tea Matcha + Cucumber Detox Mud Mask - Natural, Organic Vegan Face Mask - Anti-Aging, Antioxidant Defense Against Acne,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.27</span><span class="ori_price">$18.95</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30GOGREEN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $18.95</strong> with promo code: <strong class="m_codes">30GOGREEN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KtYAfO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TmGpeG"><img src="https://m.media-amazon.com/images/I/61NiAuLUnsL._SR400,400_.jpg" alt="Honey Natural Face Moisturizer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TmGpeG">LILY SADO Coconut Milk and Manuka Honey Natural Face Moisturizer - Non Greasy Daily Facial Cream with Aloe + Rice +...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.27</span><span class="ori_price">$18.95</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30LILYHONEY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $18.95</strong> with promo code: <strong class="m_codes">30LILYHONEY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2TmGpeG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="12.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z1II81"><img src="https://m.media-amazon.com/images/I/61B2zlJq0DL._SR400,400_.jpg" alt="DOOPER 4 IN 1 Nose Trimmer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z1II81">DOOPER 4 IN 1 Nose Trimmer for Men, Waterproof Nose Ear Trimmer,Beard Trimmer,Eyebrow Trimmer,Eyebrow Trimmer,Nose Hair...  </a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.96</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">522Z6LT3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>52% off at $26.99</strong> with promo code: <strong class="m_codes">522Z6LT3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z1II81">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KqBE0M"><img src="https://m.media-amazon.com/images/I/81UBo074BHL._SR400,400_.jpg" alt="Dead Sea Mud Facial Mask-Spa Exfoliating Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KqBE0M">Dead Sea Mud Facial Mask-Spa Exfoliating Mask for Face Body -Skin Deep moisturize Treatment, Reduces Acne Wrinkles,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.97</span><span class="ori_price">$13.95</span></address>
      <textarea readonly="readonly" class="code_area">509KU8RM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $13.95</strong> with promo code: <strong class="m_codes">509KU8RM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KqBE0M">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33tEZ6U"><img src="https://m.media-amazon.com/images/I/71qrmV2L9DL._SR400,400_.jpg" alt="YJY Flower Essential Oil Diffuser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33tEZ6U">YJY Flower Essential Oil Diffuser Decorative Aromatherapy Diffuser,Cute Lotus Ceramic Humidifier Crafts Ornaments,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">203DAUFQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $19.99</strong> with promo code: <strong class="m_codes">203DAUFQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33tEZ6U">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yQxvg3"><img src="https://m.media-amazon.com/images/I/71zN0fUZAML._SR400,400_.jpg" alt="YJY Car Diffuser for Essential Oils" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yQxvg3">YJY Car Diffuser for Essential Oils Portable Home Humidifier, Ultrasonic None-Sponge-Wick USB Aromatherapy Intermittent Mode,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">25LKIWT2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $19.99</strong> with promo code: <strong class="m_codes">25LKIWT2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yQxvg3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33viEGa"><img src="https://m.media-amazon.com/images/I/61uznK1IWgL._SR400,400_.jpg" alt="12 Pack Brush Heads,Toothbrush Replacement Heads" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33viEGa">12 Pack Brush Heads,Toothbrush Replacement Heads Compatible with Phillips Sonicare HX6063/64, Plaque Control, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">50OYONSY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50OYONSY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33viEGa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="5.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33re6At"><img src="https://m.media-amazon.com/images/I/61aOvLUcjrL._SR400,400_.jpg" alt="AirPods Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33re6At">AirPods Case - BLUEWIND AirPod Case Silicone Cover 2019 Newest 360° Protective Cases Compatiable with Apple AirPods 2nd/1st (Brown)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.39</span><span class="ori_price">$8.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40MCB21S</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $8.99</strong> with promo code: <strong class="m_codes">40MCB21S</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33re6At">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YZISwW"><img src="https://m.media-amazon.com/images/I/71JkhvaEC5L._SR400,400_.jpg" alt="Bluetooth Shower Speakers" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YZISwW">Bluetooth Shower Speakers, HAISSKY Portable Wireless Waterproof Speaker with FM Radio & Suction Cup, Pairs Easily to Your Bluetooth Devices ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">50QKTPYN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.99</strong> with promo code: <strong class="m_codes">50QKTPYN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YZISwW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z0PmLU"><img src="https://m.media-amazon.com/images/I/71dB7HaI3fL._SR400,400_.jpg" alt="Arbalest Portable Bluetooth Speakers" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z0PmLU">Arbalest Portable Bluetooth Speakers Wireless Outdoor Waterproof Speaker with Mic Up to 20 Hours Playtime Stereo Superior Sound Deep...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">20LXUQWY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $29.99</strong> with promo code: <strong class="m_codes">20LXUQWY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 12:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z0PmLU">Use Code at Amazon</a></div>
</div>

