<div class="card clearfix" data-score="37" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lcZOSr"><img src="https://m.media-amazon.com/images/I/51XRd1UmnkL._SR400,400_.jpg" alt="Mi Home Security Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>39 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lcZOSr">Mi Home Security Camera, Xiaomi HD 1080P 2.4G/5G Wireless IP Security Surveillance System for Baby Pet Indoor...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>37% off at $39.99</strong> with promo code: <strong>15CAMPRIME</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lcZOSr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l7n2t0"><img src="https://m.media-amazon.com/images/I/61hmtBg+NFL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>129 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l7n2t0">Wireless Earbuds, Latest Bluetooth 5.0 True Wireless Bluetooth Headphones Wireless Earbuds, 3D Stereo Sound...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $29.99</strong> with promo code: <strong>20RKEW4E</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l7n2t0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="13.52">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2la8yIX"><img src="https://m.media-amazon.com/images/I/712Dpb7QT1L._SR400,400_.jpg" alt="Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2la8yIX">Car Charger, Aluminum Alloy 39W Dual USB Car Charger Quick Charger QC3.0+2.4V, Compatible with Samsung...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.52</span><span class="ori_price">$16.90</span></address>
      <p><span>Take <strong>20% off at $16.90</strong> with promo code: <strong>20RKEW4E</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2la8yIX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="6.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lbSIO0"><img src="https://m.media-amazon.com/images/I/61AlhVy0BhL._SR400,400_.jpg" alt="Aptx Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lbSIO0">Aptx Bluetooth Headphones, Mini In Ear Bluetooth 4.1 AptX Stereo Magnetic Wireless Earbuds Snug Fit for Sports...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.46</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>62% off at $16.99</strong> with promo code: <strong>62HTPFHJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lbSIO0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.67">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jHu6fD"><img src="https://m.media-amazon.com/images/I/61hWsWSbvUL._SR400,400_.jpg" alt="Desk Fan" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jHu6fD">Desk Fan, Rechargeable USB Fan Quiet Mini Fan for Office 3 Speed Adjustable Battery Powered Table Fan Portable ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.67</span><span class="ori_price">$14.88</span></address>
      <p><span>Take <strong>35% off at $14.88</strong> with promo code: <strong>355QOWSJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jHu6fD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2larUO0"><img src="https://m.media-amazon.com/images/I/61tfiUg6gJL._SR400,400_.jpg" alt="Carantee USB 3.0 WiFi Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2larUO0">Carantee USB 3.0 WiFi Adapter 1200Mbps (Cooling Hole Design), Wireless Network WiFi Dongle for PC/Desktop/Laptop...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>40% off at $20.99</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2larUO0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="25.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lcEs7J"><img src="https://m.media-amazon.com/images/I/51JPjsF84cL._SR400,400_.jpg" alt="USB C Hub Multiport Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,370 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lcEs7J">USB C Hub Multiport Adapter - 8 in 1 Thunderbolt 3 hub with USB C Charging, 4K USB C to HDMI, Gigabit Ethernet Adapter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.19</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>30% off at $35.99</strong> with promo code: <strong>30I4DLT9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lcEs7J">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jJgJLY"><img src="https://images-na.ssl-images-amazon.com/images/I/61WAdrnOZjL._SX679_.jpg" alt="Bluetooth Cap" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>69 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jJgJLY">Bluetooth Cap, Wireless Bluetooth Speaker hat Bluetooth Beanie hat Wireless Baseball Cap Music Cap Wireless...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $19.99</strong> with promo code: <strong>40MEU52F</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jJgJLY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jJhxAj"><img src="https://m.media-amazon.com/images/I/6130L4Kb+9L._SR400,400_.jpg" alt="RegeMoudal Vertical Cooling Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>27 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jJhxAj">RegeMoudal Vertical Cooling Stand Compatible with Xbox One/S/X, Cooling Fan with 2*600mAh Batteries, 12 Disc Storage,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>50FW7VXH</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jJhxAj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lcKxRB"><img src="https://m.media-amazon.com/images/I/61fiBjrvtGL._SR400,400_.jpg" alt="Power Strip Surge Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>126 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lcKxRB">Power Strip Surge Protector - GLCON Power Strip Tower with 4 USB Slot + 10 Outlet Plugs + 6ft Long Extension Cord...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $29.99</strong> with promo code: <strong>15ILNY9Q</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lcKxRB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="37.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lc6oIR"><img src="https://m.media-amazon.com/images/I/71OUfPUeZ1L._SR400,400_.jpg" alt="Juicer Aicok Juice Extractor " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>217 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lc6oIR">Juicer Aicok Juice Extractor with Wide Mouth, 3 Speed Centrifugal Juicer for Fruit and Vegetable, plus Pulse...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$37.65</span><span class="ori_price">$53.79</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $53.79</strong> with promo code: <strong>30OVFFG5</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lc6oIR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="12.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jISQnD"><img src="https://m.media-amazon.com/images/I/71XH+Xzk6bL._SR400,400_.jpg" alt="OICEPACK Ice Pack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>98 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jISQnD">OICEPACK Ice Pack for Lunch Box, Reusable Freezer Ice Packs for Coolers, Slim Long-Lasting Cool Pack for Lunch Bags...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.78</span><span class="ori_price">$15.98</span></address>
      <p><span>Take <strong>20% off at $15.98</strong> with promo code: <strong>20JM69TR</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jISQnD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="28.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lb0yYe"><img src="https://m.media-amazon.com/images/I/61-CBGVRnML._SR400,400_.jpg" alt="High Waisted Capri Leggings" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lb0yYe">High Waisted Capri Leggings for Women Tummy Control Soft Opaque Slim Pants for Cycling, Yoga, Running</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.12</span><span class="ori_price">$37.49</span></address>
      <p><span>Take <strong>25% off at $37.49</strong> with promo code: <strong>25AO7OCA</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lb0yYe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="15.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lcaO2p"><img src="https://m.media-amazon.com/images/I/81KZqdqLVuL._SR400,400_.jpg" alt="Bend-It The Coldest Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lcaO2p">Bend-It The Coldest Water Bottle, Best Original Stainless Steel Sports Water Bottle with Straw - Premium Quality...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.98</span><span class="ori_price">$19.97</span></address>
      <p><span>Take <strong>20% off at $19.97</strong> with promo code: <strong>20MILLENTI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lcaO2p">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jJl41I"><img src="https://m.media-amazon.com/images/I/41jwt0oC31L._SR400,400_.jpg" alt="CONFIDALL" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>27 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jJl41I">CONFIDALL - Confidence Boosting Anti Anxiety Anti Depressant Positive Mood Enhancer 5HTP GABA Nootropic Video...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.97</span><span class="ori_price">$24.95</span></address>
      <p><span>Take <strong>40% off at $24.95</strong> with promo code: <strong>40PRIME2019</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jJl41I">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="82.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30FPbXR"><img src="https://m.media-amazon.com/images/I/51eoUkGm3xL._SR400,400_.jpg" alt="Eyes Massager" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30FPbXR">Eyes Massager, Eye Mask with Heating Rechargeable Air Pressure Vibration Eye Massager for Stress Relief Eye Bags Dark Circles(White) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$82.44</span><span class="ori_price">$96.99</span></address>
      <p><span>Take <strong>15% off at $96.99</strong> with promo code: <strong>15NGWAXK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30FPbXR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="11.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l8ng35"><img src="https://m.media-amazon.com/images/I/71DBmekn3xL._SR400,400_.jpg" alt="Torx Drivers Screwdriver Precision Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l8ng35">Torx Drivers Screwdriver Precision Kit S2 Steel 61 in 1 Screw Drivers Repair Tools Kit Multi-bit Star Screw Repair...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.24</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>25% off at $14.99</strong> with promo code: <strong>25U74IZW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l8ng35">Use Code at Amazon</a></div>
</div>
