<div class="card clearfix" data-score="15" data-price="18.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xUff55"><img src="https://m.media-amazon.com/images/I/71B38TdC1DL._SR400,400_.jpg" alt="GXFCWSRY Inflatable Travel Pillow" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xUff55">GXFCWSRY Inflatable Travel Pillow, Soft Velvet Inflatable Bone Shape Support,Head and Neck Support Pillows...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.69</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">153CS7EH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $21.99</strong> with promo code: <strong class="m_codes">153CS7EH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xUff55">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yfixi0"><img src="https://m.media-amazon.com/images/I/718+h9vV3hL._SR400,400_.jpg" alt="Zoppen International Travel Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>265 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yfixi0">Zoppen International Travel Plug Adapter 4 USB Universal Outlets All in One Wall Charger US, Euro, UK, AU, JP, CN...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">10NB18P7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $15.99</strong> with promo code: <strong class="m_codes">10NB18P7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yfixi0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="25.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32FIt5G"><img src="https://m.media-amazon.com/images/I/811OanPpIzL._SR400,400_.jpg" alt="OMOTON Detachable Keyboard Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32FIt5G">OMOTON Detachable Keyboard Case for New iPad 9.7” 2018&2017, iPad Pro 9.7, iPad Air/Air 2,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.19</span><span class="ori_price">$41.99</span></address>
      <textarea readonly="readonly" class="code_area">40DHKRD6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $41.99</strong> with promo code: <strong class="m_codes">40DHKRD6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 06:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32FIt5G">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="6.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lx15j0"><img src="https://m.media-amazon.com/images/I/91Kq05dEBpL._SR400,400_.jpg" alt="Flash Tattoos" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>368 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lx15j0">Flash Tattoos | Temporary Tattoos For Women & Kids - 8 Sheets Semi Permanent Tattoo - Best Tattoo Temporary Deal...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.10</span><span class="ori_price">$11.97</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">498STMR1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>49% off at $11.97</strong> with promo code: <strong class="m_codes">498STMR1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lx15j0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="36.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XTRn0F"><img src="https://m.media-amazon.com/images/I/71R2GaYojvL._SR400,400_.jpg" alt="Ultimate Metal Detector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>260 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XTRn0F">Ultimate Metal Detector for Adults - Waterproof Pro Detectors with Pinpointer for Kids - High Accuracy...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.02</span><span class="ori_price">$67.97</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">473LSI13</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>47% off at $67.97</strong> with promo code: <strong class="m_codes">473LSI13</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XTRn0F">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSbtP7"><img src="https://m.media-amazon.com/images/I/61NJyviBxiL._SR400,400_.jpg" alt="YISSVIC Hand Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>43 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSbtP7">YISSVIC Hand Blender 1000W 700ml Immersion Blender 9 Speed Control, 4 In-1 Powerful Stick Blender, Chopper,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30IJDUAD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $39.99</strong> with promo code: <strong class="m_codes">30IJDUAD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JSbtP7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YfTlIf"><img src="https://m.media-amazon.com/images/I/71Rvc8BhzwL._SR400,400_.jpg" alt="Levesolls Sandwich Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>67 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YfTlIf">Levesolls Sandwich Pillow Adjustable Memory Foam Pillow Bamboo Pillow for Sleeping Cervical Pillow for Neck...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30DP84T8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $39.99</strong> with promo code: <strong class="m_codes">30DP84T8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YfTlIf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQN78A"><img src="https://m.media-amazon.com/images/I/61qxOzQIw0L._SR400,400_.jpg" alt="Yoga Flip Flop Casual Flats Sandals" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>110 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQN78A">HomyWolf Womens Slingback Yoga Flip Flop Casual Flats Sandals Beach Slipper</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">60UPL8Q4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">60UPL8Q4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JQN78A">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQZnpq"><img src="https://m.media-amazon.com/images/I/61tEqdGrLXL._SR400,400_.jpg" alt="Cocktail Shaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQZnpq">Cocktail Shaker, Martini Shaker, Drink Shaker, Cocktail Shaker Set 12 Piece, Boston Shaker Bar Set, Cocktail Strainer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50EMG8B4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.99</strong> with promo code: <strong class="m_codes">50EMG8B4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JQZnpq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="63.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y6AyL7"><img src="https://m.media-amazon.com/images/I/61lmXxYBcUL._SR400,400_.jpg" alt="Digital Camera Vlogging Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>109 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y6AyL7">Digital Camera Vlogging Camera, Full HD 1080p 24.0MP VideoSky Video Camera Camcorder with Wide Angle Lens,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$63.00</span><span class="ori_price">$179.99</span></address>
      <textarea readonly="readonly" class="code_area">65ZHT454</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $179.99</strong> with promo code: <strong class="m_codes">65ZHT454</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y6AyL7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32CL8gC"><img src="https://m.media-amazon.com/images/I/41eydjW+cOL._SR400,400_.jpg" alt="20000mAh Portable Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>45 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32CL8gC">20000mAh Portable Charger, Yoobao Ultra-High Capacity External Battery Power Bank Cell Phone Battery Backup...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">60VGYH4D</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $49.99</strong> with promo code: <strong class="m_codes">60VGYH4D</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32CL8gC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XTXgv3"><img src="https://m.media-amazon.com/images/I/710FJyXBZXL._SR400,400_.jpg" alt="Rusee Selfie Stick" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XTXgv3">Rusee Selfie Stick, Selfie Stick Tripod Stand with Detachable Wireless Remote and HD Mirror for iPhone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$14.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">309M2V7W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $14.99</strong> with promo code: <strong class="m_codes">309M2V7W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XTXgv3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="12.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LxUG7q"><img src="https://m.media-amazon.com/images/I/61hjmxfnSxL._SR400,400_.jpg" alt="Bluetooth Headphones Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LxUG7q">GDHAPPYBUY IPX7 Waterproof and Sweatproof Wireless Bluetooth Headphones Headset Earbuds for Sport...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.35</span><span class="ori_price">$19.00</span></address>
      <textarea readonly="readonly" class="code_area">35MYUFJU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $19.00</strong> with promo code: <strong class="m_codes">35MYUFJU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LxUG7q">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="15.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y0ntTB"><img src="https://m.media-amazon.com/images/I/81CL1U4FgGL._SR400,400_.jpg" alt="BassPal Shower Radios" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>827 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y0ntTB">BassPal Shower Radios, IPX7 Waterproof Portable Wireless Bluetooth Speaker with LED Mood Lights, Super Bass...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.39</span><span class="ori_price">$27.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">45XFQOEE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $27.99</strong> with promo code: <strong class="m_codes">45XFQOEE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y0ntTB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32CzDWp"><img src="https://m.media-amazon.com/images/I/71-lBDMNCcL._SR400,400_.jpg" alt="Tops and Blouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32CzDWp">Unicoter Women's Casual Floral Print Shirts Short Sleeve V Neck Twist Tops and Blouse</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.65</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">55699ACH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $16.99</strong> with promo code: <strong class="m_codes">55699ACH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32CzDWp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="6.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yc63rr"><img src="https://m.media-amazon.com/images/I/71fwaxAvemL._SR400,400_.jpg" alt="T Shirts Short Sleeve Tops" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yc63rr">Vislivin Womens T Shirts Short Sleeve Tops 2 Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.90</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">7072D2WY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $22.99</strong> with promo code: <strong class="m_codes">7072D2WY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yc63rr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O6S56q"><img src="https://m.media-amazon.com/images/I/61CDB0URz2L._SR400,400_.jpg" alt="Comfort & Relax Pet Bed/Mattress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O6S56q">Comfort & Relax Pet Bed/Mattress Filled in Shredded Memory Foam - Non-Slip Bottom</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.50</span><span class="ori_price">$58.99</span></address>
      <textarea readonly="readonly" class="code_area">50710PBG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $58.99</strong> with promo code: <strong class="m_codes">50710PBG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O6S56q">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="27.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SvgnWf"><img src="https://m.media-amazon.com/images/I/619xTE03BWL._SR400,400_.jpg" alt="Tera Motorcycle Protective Jacket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SvgnWf">Tera Motorcycle Protective Jacket, Sport Motocross MTB Racing Full Body Armor Protector for Men (3XL)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.00</span><span class="ori_price">$89.99</span></address>
      <textarea readonly="readonly" class="code_area">707BJD14</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $89.99</strong> with promo code: <strong class="m_codes">707BJD14</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SvgnWf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="21.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YdClm0"><img src="https://m.media-amazon.com/images/I/617E+i0YAHL._SR400,400_.jpg" alt="Letsfit Fitness Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,250 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YdClm0">Letsfit Fitness Tracker HR, Activity Tracker Watch with Heart Rate Monitor, Pedometer, Sleep Monitor,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.69</span><span class="ori_price">$28.94</span></address>
      <textarea readonly="readonly" class="code_area">30FZTSJ3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $28.94</strong> with promo code: <strong class="m_codes">30FZTSJ3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YdClm0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JY7YXE"><img src="https://m.media-amazon.com/images/I/61rf2Y4LyhL._SR400,400_.jpg" alt="Lächen Portable Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>54 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JY7YXE">Lächen Portable Electric Toothbrush Sonic Care Travel Rechargeable Waterproof IPX7 2 Brush Heads ST031 (cyan)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.17</span><span class="ori_price">$30.34</span></address>
      <textarea readonly="readonly" class="code_area">50X64UG2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $30.34</strong> with promo code: <strong class="m_codes">50X64UG2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JY7YXE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="64.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XUk5hS"><img src="https://m.media-amazon.com/images/I/71Z0UPcD+lL._SR400,400_.jpg" alt="VIJUVE Anti Aging Face Massager" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>349 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XUk5hS">VIJUVE Anti Aging Face Massager for Wrinkles Appearance Removal and Facial Skin Tightening - Boost Effects...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$64.00</span><span class="ori_price">$80.00</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">20ZNZCN5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $80.00</strong> with promo code: <strong class="m_codes">20ZNZCN5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XUk5hS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="28.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XTA67P"><img src="https://m.media-amazon.com/images/I/81S0ICWl4LL._SR400,400_.jpg" alt="VIJUVE 45% Vitamin C Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>85 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XTA67P">VIJUVE 45% Vitamin C Serum with Double Hyaluronic Acid and Collagen Peptides for Face, Eyes, Neck and Chest...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.00</span><span class="ori_price">$35.00</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">20ZNZCN5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $35.00</strong> with promo code: <strong class="m_codes">20ZNZCN5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XTA67P">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32HqlZs"><img src="https://m.media-amazon.com/images/I/614cbcinEAL._SR400,400_.jpg" alt="JINRI 1875W Professional Salon Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>561 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32HqlZs">JINRI 1875W Professional Salon Hair Dryer Ionic Infrared Blow Hair Dryer With Diffuser & Concentrator Attachments...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$99.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">70RL2YWR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $99.99</strong> with promo code: <strong class="m_codes">70RL2YWR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32HqlZs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="15.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y5mX6W"><img src="https://m.media-amazon.com/images/I/61iWd8Pb5OL._SR400,400_.jpg" alt="E-Gtong Vegetable Spiralizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>37 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y5mX6W">E-Gtong Vegetable Spiralizer, Strongest & Heaviest Duty Vegetable Slicer with 3-Blade, Best Veggie Pasta Spaghetti Maker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.09</span><span class="ori_price">$21.55</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30U9KUPQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $21.55</strong> with promo code: <strong class="m_codes">30U9KUPQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y5mX6W">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JO79As"><img src="https://m.media-amazon.com/images/I/61PPG14TWkL._SR400,400_.jpg" alt="Vegetable Chopper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>37 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JO79As">E-Gtong Vegetable Chopper Mandoline Slicer Dicer Cutter,Pro Onion Food Chopper with Large Container,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.71</span><span class="ori_price">$29.59</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">305CT2IP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $29.59</strong> with promo code: <strong class="m_codes">305CT2IP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JO79As">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y7sZZ1"><img src="https://m.media-amazon.com/images/I/71rpFOwHIOL._SR400,400_.jpg" alt="Ado Glo Bear Claw Meat Shredder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y7sZZ1">Ado Glo Bear Claw Meat Shredder - 2 Pack Sharp Meat Claws for Shredding, Handling & Carving Meat with 2 Pack Oil Brushes (Plastic)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$9.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">45VBKZLC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $9.99</strong> with promo code: <strong class="m_codes">45VBKZLC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y7sZZ1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="19.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y9aumX"><img src="https://m.media-amazon.com/images/I/61V4oQ9-gzL._SR400,400_.jpg" alt="Travel Duffel Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>321 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y9aumX">SUNPOW 115L Travel Duffel Bag, Extra Large Weekender Bag With Shoes Compartment Tear Resistant Packable Duffle Bag ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.19</span><span class="ori_price">$31.99</span></address>
      <textarea readonly="readonly" class="code_area">40UJS5PE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $31.99</strong> with promo code: <strong class="m_codes">40UJS5PE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y9aumX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32ACxuJ"><img src="https://m.media-amazon.com/images/I/61HgCDFNbaL._SR400,400_.jpg" alt="BANGE Extra Large Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32ACxuJ">BANGE Extra Large Backpack, Carry on Backpacks Water-Resistant Smart Scan Business Rucksack Durable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.99</span><span class="ori_price">$44.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">407CPBDI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $44.99</strong> with promo code: <strong class="m_codes">407CPBDI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32ACxuJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTumkG"><img src="https://m.media-amazon.com/images/I/71QdzNp9drL._SR400,400_.jpg" alt="SEEHONOR Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>266 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTumkG">SEEHONOR Laptop Backpack, Slim Business Computer Backpack with USB Charging Cable and Port, Water Resistant Anti-Theft...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.19</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">40BP29B2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $21.99</strong> with promo code: <strong class="m_codes">40BP29B2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JTumkG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="13.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XPmieC"><img src="https://m.media-amazon.com/images/I/51+l1VL4tKL._SR400,400_.jpg" alt="LOBKIN 7 Ports Hub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XPmieC">LOBKIN 7 Ports Hub, USB 3.0 Hub,Ultra Slim Portable Data Hub with Individual Switches Applicable for iMac Pro,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.20</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">67TGBKSD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>67% off at $39.99</strong> with promo code: <strong class="m_codes">67TGBKSD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XPmieC">Use Code at Amazon</a></div>
</div>
