<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JskyOg"><img src="https://m.media-amazon.com/images/I/8109jim0gbL._SR400,400_.jpg" alt="BarkBox Memory Foam Dog Bed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>938 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JskyOg">BarkBox S/M/L/XL Orthopedic Memory Foam Dog Bed or Crate Mat, 4 Colors; Ultra Plush Pressure-Relief, Removable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>40% off at $39.99</strong> with promo code: <strong>40K5GCJC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JskyOg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jr4pKl"><img src="https://m.media-amazon.com/images/I/71OPVC+WoQL._SR400,400_.jpg" alt="3 Tier Spice Rack Organizer " /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jr4pKl">3 Tier Spice Rack Organizer for Pantry Kitchen Cabinet Countertop Holds 18 Jars with Drawers Storage</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>50% off at $29.99</strong> with promo code: <strong>50BGEVN3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jr4pKl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="9.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xEwoQc"><img src="https://m.media-amazon.com/images/I/61CrusygM+L._SR400,400_.jpg" alt="18 Super Pigmented " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,489 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xEwoQc">18 Super Pigmented - Top Influencer Professional Eyeshadow Palette all finishes, 5 Matte + 9 Shimmer + 4 Duochrome...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.74</span><span class="ori_price">$19.87</span></address>
      <p><span>Take <strong>51% off at $19.87</strong> with promo code: <strong>51CZ32NU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xEwoQc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JnWZay"><img src="https://m.media-amazon.com/images/I/61kx4FYAo3L._SR400,400_.jpg" alt="Betitay 100W Vacuum Food Sealer Machine" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JnWZay">Betitay 100W Vacuum Food Sealer Machine Universal Voltage for Dry Moist Food Preservation,Container,Marinat with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$79.99</span></address>
      <p><span>Take <strong>50% off at $79.99</strong> with promo code: <strong>50HHA8OI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JnWZay">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJO0lS"><img src="https://m.media-amazon.com/images/I/61uITsmACIL._SR400,400_.jpg" alt="SHENMATE Pet Paw Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJO0lS">SHENMATE Pet Paw Cleaner, No-Rinse Waterless Shampoo for Small Medium Large Dogs Cats, Foot Cleaning Foam Washer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.40</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>60% off at $25.99</strong> with promo code: <strong>609C1G2D</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LJO0lS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJpIZ3"><img src="https://m.media-amazon.com/images/I/61fX-piCssL._SR400,400_.jpg" alt=">Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>157 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJpIZ3">Wireless Earbuds, HSPRO True Wireless Earphones, Stereo Sound Bluetooth 5.0 Headphones, Mini Wireless in-Ear Headsets with Built in Microphone and Charging Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.49</span><span class="ori_price">$34.99</span></address>
      <p><span>Take <strong>30% off at $34.99</strong> with promo code: <strong>30H36UMA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LJpIZ3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCUBFR"><img src="https://m.media-amazon.com/images/I/61snoKPRs1L._SR400,400_.jpg" alt="Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,498 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XCUBFR">Wireless Charger, Seneo 10W Fast Qi Wireless Charging Pad, 7.5W Compatible iPhone Xs Max/Xs/XR/X/8/8P/New Airpods,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.59</span><span class="ori_price">$11.99</span></address>
      <p><span>Take <strong>20% off at $11.99</strong> with promo code: <strong>207IKK2B</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XCUBFR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xyterv"><img src="https://m.media-amazon.com/images/I/61SpZVgfHKL._SR400,400_.jpg" alt="Rechargeable Wireless Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>308 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xyterv">Rechargeable Wireless Mouse, Topist 2.4Ghz Slim Noiseless Mute Silent Click Optical Mouse Mice with USB Receiver Type C...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$11.99</span></address>
      <p><span>Take <strong>30% off at $11.99</strong> with promo code: <strong>30JAHTJ3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xyterv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xFPwNs"><img src="https://m.media-amazon.com/images/I/51JgU5ZvydL._SR400,400_.jpg" alt="Livho Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>154 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xFPwNs">Livho Blue Light Blocking Glasses Filter UV Glare Retro Round Ultra Lightweight Computer Game Glasses...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>55% off at $19.99</strong> with promo code: <strong>55OFFJSS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xFPwNs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="3.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xD3KPp"><img src="https://m.media-amazon.com/images/I/61EsTlSh6BL._SR400,400_.jpg" alt="ZOORON Running Belt Waist Pack Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xD3KPp">ZOORON Running Belt Waist Pack Bag - Water Resistant Runners Belt Fanny Pack for Hiking Fitness</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.90</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>70% off at $12.99</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xD3KPp">Use Code at Amazon</a></div>
</div>


<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JwBD9R"><img src="https://m.media-amazon.com/images/I/61SxzXGRhpL._SR400,400_.jpg" alt="Rii RKM709 2.4Ghz Ultra-Slim Wireless Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>116 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JwBD9R">Rii RKM709 2.4Ghz Ultra-Slim Wireless Keyboard and Mouse Combo Multimedia Compact Keyboard and Mouse for PC Laptop,Desktop,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $14.99</strong> with promo code: <strong>40VPMQOR</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JwBD9R">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lcc9Cc"><img src="https://m.media-amazon.com/images/I/71dO1Bp9poL._SR400,400_.jpg" alt="iClever Bluetooth Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lcc9Cc">iClever Bluetooth Keyboard - Rechargeable Multi-Device Wireless Keyboard with Aluminium Alloy Housing and Phone Holder,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.49</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>25% off at $29.99</strong> with promo code: <strong>25F8KXEW</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lcc9Cc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="8.32">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LIIX4X"><img src="https://m.media-amazon.com/images/I/61X0NSDCm9L._SR400,400_.jpg" alt="Portable Mini Desk Fans" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LIIX4X">LOBKIN Foldable Personal Portable Mini Desk Fans with USB Rechargeable 2600mAh Battery Operated Electric Fan...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.32</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>68% off at $25.99</strong> with promo code: <strong>68PG8OEV</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LIIX4X">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GfM8xN"><img src="https://m.media-amazon.com/images/I/91bzXBm4X0L._SR400,400_.jpg" alt="iPad-Mini-5/4/3/2/1-Kids-Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>602 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GfM8xN">iPad-Mini-5/4/3/2/1-Kids-Case, SUPLIK Durable Shockproof Protective Handle Bumper Stand Cover...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $13.99</strong> with promo code: <strong>50ZS8DGD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GfM8xN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xEJEUU"><img src="https://m.media-amazon.com/images/I/81iMmfwUQML._SR400,400_.jpg" alt="Holipick Bathing Suits" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>311 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xEJEUU">Holipick Women 1 Piece Vintage Floral Printed Off Shoulder Flounce Ruffled Padded Monokini Bathing Suits</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.60</span><span class="ori_price">$28.99</span></address>
      <p><span>Take <strong>60% off at $28.99</strong> with promo code: <strong>6092H6QW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xEJEUU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xNlho9"><img src="https://m.media-amazon.com/images/I/51yqhFBXXAL._SR400,400_.jpg" alt="Wieppo Wireless Bluetooth Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xNlho9">Wieppo Wireless Bluetooth Earbuds - Outdoor Sporting in-Ear Earphones, Magnetic Earbuds with MIC, Volume Control,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>70% off at $23.99</strong> with promo code: <strong>70UWUOWN</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xNlho9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LbdXLM"><img src="https://m.media-amazon.com/images/I/51HqxrfdL1L._SR400,400_.jpg" alt="Smart Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>199 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LbdXLM">Smart Watch - Wzpiss Bluetooth Smartwatch Touchscreen Wrist Watch Sports Fitness Tracker with Camera Pedometer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $26.99</strong> with promo code: <strong>50M4TJP8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LbdXLM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="16.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JBrSXV"><img src="https://m.media-amazon.com/images/I/61u+wWW8T1L._SR400,400_.jpg" alt="Body Fat Scale" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JBrSXV">Body Fat Scale, Digital Bathroom Scale Calculates and Analyzes Weight and Electronic Body Fat Composition Percentage...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.19</span><span class="ori_price">$26.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $26.99</strong> with promo code: <strong>40TNSQWB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JBrSXV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="36.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xySnYH"><img src="https://m.media-amazon.com/images/I/61fcN1+OmEL._SR400,400_.jpg" alt="Sheenive Reclining Stadium Seats" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xySnYH">Sheenive Reclining Stadium Seats for Bleachers - Wide Padded Cushion Stadium Seats Chairs for Bleacher...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.48</span><span class="ori_price">$72.95</span></address>
      <p><span>Take <strong>50% off at $72.95</strong> with promo code: <strong>50SHEENIVE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xySnYH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="4.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2G3emeN"><img src="https://m.media-amazon.com/images/I/61Rm02gD55L._SR400,400_.jpg" alt="XINDELL Window Windshield Cleaning Tool" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>927 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2G3emeN">XINDELL Window Windshield Cleaning Tool Microfiber Cloth Car Cleanser Brush with Detachable Handle Auto Inside Glass Wiper...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.05</span><span class="ori_price">$8.99</span></address>
      <p><span>Take <strong>55% off at $8.99</strong> with promo code: <strong>559JUF5P</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2G3emeN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="2.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L7M2fH"><img src="https://m.media-amazon.com/images/I/61QXYdP7eXL._SR400,400_.jpg" alt="Invisible Laptop Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>155 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2L7M2fH">Invisible Laptop Stand Portable-RUCACIO Adhesive Laptop Kickstand Lightweight Stand Foldable Seamless Appendage...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$2.00</span><span class="ori_price">$7.99</span></address>
      <p><span>Take <strong>75% off at $Origianl_price</strong> with promo code: <strong>75NJ1IJD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2L7M2fH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="19.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JvH2hA"><img src="https://m.media-amazon.com/images/I/71rcTfQOoQL._SR400,400_.jpg" alt="Pressure Cooker Accessories Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>170 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JvH2hA">Pressure Cooker Accessories Set, Compatible with Instant Pot 6 and 8 Qt, Includes Steam Basket with Divider,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.79</span><span class="ori_price">$32.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $32.99</strong> with promo code: <strong>40R4E44J</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JvH2hA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2G3rbGd"><img src="https://m.media-amazon.com/images/I/51BPEBqgA7L._SR400,400_.jpg" alt="OKV Qi-Certified Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2G3rbGd">OKV Qi-Certified Wireless Charger 10w Fast Wireless Charging Pad 7.5W for iPhone Qi Devices 10W...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.98</span></address>
      <p><span>Take <strong>50% off at $16.98</strong> with promo code: <strong>5049GGUG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2G3rbGd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2G2VKM6"><img src="https://m.media-amazon.com/images/I/716vbxmkCKL._SR400,400_.jpg" alt="Gym Bag Shoes Compartment Travel Duffel Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2G2VKM6">Gym Bag Shoes Compartment Travel Duffel Bag Swim Bag for Women and Men</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>50QZQ2GJ</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2G2VKM6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="12.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XyUIlV"><img src="https://m.media-amazon.com/images/I/61m3jrayQfL._SR400,400_.jpg" alt="DOOPER Electric Shaver" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XyUIlV">DOOPER Electric Shaver, 3 in 1 Bikini Trimmer For Women, Painless Electric Razor, Ladies Facial Hair Remover,Body Hair Removal...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.96</span><span class="ori_price">$26.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>52% off at $26.99</strong> with promo code: <strong>521GIDI6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XyUIlV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LL9bUH"><img src="https://m.media-amazon.com/images/I/61RO4taDyDL._SR400,400_.jpg" alt="Adokoo Women's Canvas Shoes Casual Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>175 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LL9bUH">Adokoo Women's Canvas Shoes Casual Sneakers Low Cut Lace up Fashion Comfortable for Walking …</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>30% off at $19.99</strong> with promo code: <strong>30D9NHVX</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LL9bUH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="27.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2G6lSWu"><img src="https://m.media-amazon.com/images/I/71iPHvNBthL._SR400,400_.jpg" alt="Voova Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2G6lSWu">Voova Laptop Backpack Women Men with Handle for Travel Business, Waterproof Canvas Computer Rucksack Bookbag...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.29</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>50% off at $38.99</strong> with promo code: <strong>50AC9PGO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2G6lSWu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="6.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LaGh0A"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZcU371bCL._SX522_.jpg" alt="2 Pack Flashlights" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,820 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LaGh0A">2 Pack Flashlights, ROCKBIRDS LED Flashlight with Belt Clip, Fluorescent Ring, Zoomable, High Lumen, 3 Modes, Water Resistant...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.37</span><span class="ori_price">$12.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>51% off at $12.99</strong> with promo code: <strong>516O4EAM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LaGh0A">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJWj18"><img src="https://m.media-amazon.com/images/I/61w+umJctLL._SR400,400_.jpg" alt="Keymit Touch Bedroom Lamps" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>120 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJWj18">Keymit Touch Bedroom Lamps - Minimalist Table Bedside Lamp 7.9”D 13.4”H with 1 USB Charging Port for Living Room...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>60% off at $49.99</strong> with promo code: <strong>603I8V3V</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LJWj18">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="77.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xx1vaF"><img src="https://m.media-amazon.com/images/I/61FI6IaP8LL._SR400,400_.jpg" alt="MATELOS Cordless Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xx1vaF">MATELOS Cordless Vacuum Cleaner, Stick and Handheld Vacuum with Extra Mite Brush & 2 Charging Mount Powerful Suction ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$77.99</span><span class="ori_price">$119.99</span></address>
      <p><span>Take <strong>35% off at $119.99</strong> with promo code: <strong>3532FDN4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xx1vaF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XzPwsX"><img src="https://m.media-amazon.com/images/I/71Qh2HNq7xL._SR400,400_.jpg" alt="JARLIF Women's Ultra Running Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>76 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XzPwsX">JARLIF Women's Ultra Running Shoes Reflective at Night Breathable Tennis Air Trail Athletic Sneakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>70B2FSWZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XzPwsX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="8.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XwDQvY"><img src="https://m.media-amazon.com/images/I/61MRfVjlwYL._SR400,400_.jpg" alt="Soyan Carrying Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>54 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XwDQvY">Soyan Carrying Case for Nintendo Switch and Accessories, 19 Game Card & 2 Micro SD Card Holders (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.38</span><span class="ori_price">$12.90</span></address>
      <p><span>Take <strong>35% off at $12.90</strong> with promo code: <strong>3545DX1Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XwDQvY">Use Code at Amazon</a></div>
</div>

