<div class="card clearfix" data-score="50" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Je1kMe"><img src="https://m.media-amazon.com/images/I/31k14VOrLNL._SR400,400_.jpg" alt="iPhone X Charger Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Je1kMe">iPhone X Charger Case Slim - XREXS Portable Protective Backup Power Bank, 4000mAh Rechargeable Charging Case for iPhone X/iPhone 10,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$30.99</span></address>
      <p><span>Take <strong>50% off at $30.99</strong> with promo code: <strong>50LIIBPJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Je1kMe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XrqlwT"><img src="https://m.media-amazon.com/images/I/61WKzo7laQL._SR400,400_.jpg" alt="Wireless Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>121 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XrqlwT">Wireless Car Charger, 2019 Newest 10W Qi Fast Charging Car Charger Mount Phone Holder Automatic Clamping,Compatible for iPhone XS MAX/XR/XS/X/8Plus/8,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.29</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>30% off at $38.99</strong> with promo code: <strong>30OPZ89E</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 08:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XrqlwT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="17.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XzcgNJ"><img src="https://m.media-amazon.com/images/I/61zM2qaegvL._SR400,400_.jpg" alt="Bluetooth Sleep Eye Mask Wireless Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>441 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XzcgNJ">Bluetooth Sleep Eye Mask Wireless Headphones, TOPOINT Upgrade Sleeping Travel Music Eye Cover Bluetooth Headsets with Microphone Handsfree, Long Play Time,..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.49</span><span class="ori_price">$24.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $24.99</strong> with promo code: <strong>30111VQ9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XzcgNJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="20.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rz9gM3"><img src="https://m.media-amazon.com/images/I/51WvbA1WwDL._SR400,400_.jpg" alt="GREEN MOUNT 50ft Expandable Garden Hose" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rz9gM3">GREEN MOUNT 50ft Expandable Garden Hose, Lightweight Flexible Water Hose with 8 Function Spray Nozzle, Ultimate Non Kink Hose Easy to Storage</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.39</span><span class="ori_price">$33.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $33.99</strong> with promo code: <strong>40H73PQ3</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Rz9gM3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XwtP0P"><img src="https://m.media-amazon.com/images/I/41UTgkt+lgL._SR400,400_.jpg" alt="Mini Desktop/Table Fan with Night Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XwtP0P">Mini Desktop/Table Fan with Night Light, Portable Strong Wind Desk Cooling Fan with LED Light for Office Home Kids Baby's Room Bedroom - White</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.40</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>60% off at $25.99</strong> with promo code: <strong>60ECOMX5</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XwtP0P">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fy4Vno"><img src="https://m.media-amazon.com/images/I/81QLneFtXTL._SR400,400_.jpg" alt="Bdcoco Women's Cowl Neck Long Sleeve Casual" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>134 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fy4Vno">Bdcoco Women's Cowl Neck Long Sleeve Casual Tunic Sweatshirt Tops with Pockets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>30% off at $25.99</strong> with promo code: <strong>302X65DT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 08:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Fy4Vno">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XbjhVw"><img src="https://m.media-amazon.com/images/I/71bQhsJcBzL._SR400,400_.jpg" alt="DETLEV PRO Cordless Drill Driver" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>34 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XbjhVw">DETLEV PRO Cordless Drill Driver 21V Electric Screwdriver 2 Speed Max Torque 372In-lbs 43pcs Accessories 1.5Ah Lithium Ion with LED, 8104</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>30% off at $49.99</strong> with promo code: <strong>30W6ZF9Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XbjhVw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NevvID"><img src="https://m.media-amazon.com/images/I/71ilGvSyeHL._SR400,400_.jpg" alt="SONGMICS Ultra-Lightweight & Portable Hammock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>189 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NevvID">SONGMICS Ultra-Lightweight & Portable Hammock Hold up to 660LB Single & Extra Parachute Nylon Camping Hammock Swing Bed 118'' x 78'' for Outdoor Backpacking,..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $14.99</strong> with promo code: <strong>20T2FDB5</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NevvID">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RCfGK6"><img src="https://m.media-amazon.com/images/I/71umeLQ4JDL._SR400,400_.jpg" alt="GEMITTO Car Back Seat Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RCfGK6">GEMITTO Car Back Seat Protector, Waterproof Multiple Pockets Backseat Organizer with ipad and Tablet Holder, Adjustable Straps for Universal Fit,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>40% off at $19.99</strong> with promo code: <strong>40BWVN9Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RCfGK6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XAJZ9y"><img src="https://m.media-amazon.com/images/I/613X2mORWXL._SR400,400_.jpg" alt="MARNUR Fitness Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>42 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XAJZ9y">MARNUR Fitness Tracker CHR with Heart Rate Monitor 4 Screen Display Modes Waterproof 5 in 1 Smart Bracelet Built-in USB Plug Activity Tracker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $39.99</strong> with promo code: <strong>60UOQQK7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XAJZ9y">Use Code at Amazon</a></div>
</div>


<div class="card clearfix" data-score="15" data-price="55.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NeFqxX"><img src="https://m.media-amazon.com/images/I/91MmzfjBi-L._SR400,400_.jpg" alt="Memory Foam Dog Bed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>858 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NeFqxX">BarkBox Orthopedic Ultra Plush Pressure-Relief Memory Foam Dog Bed or Crate Mat S/Med/Large/XL, 4 Colors | Removable Washable Cover, Squeaker...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.24</span><span class="ori_price">$64.99</span></address>
      <p><span>Take <strong>15% off at $64.99</strong> with promo code: <strong>15V2K6HU</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NeFqxX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XaK7x0"><img src="https://m.media-amazon.com/images/I/71+T-rmotvL._SR400,400_.jpg" alt="Zulay Premium Quality Knife Sharpener" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,102 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XaK7x0">Zulay Premium Quality Knife Sharpener for Straight and Serrated Knives Stainless Steel Ceramic and Tungsten - Easy Manual Sharpening...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.06</span><span class="ori_price">$12.95</span></address>
      <p><span>Take <strong>30% off at $12.95</strong> with promo code: <strong>30KQ2CE3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XaK7x0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J2WfGE"><img src="https://m.media-amazon.com/images/I/71Gjq5VznuL._SR400,400_.jpg" alt="Mosteck Tactical Flashlight Super Bright LED" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J2WfGE">Fashlight, Mosteck Tactical Flashlight Super Bright LED Flashlight CREE XML2 LED American Chip, Water Resistant Handheld Flashlights High Lumen with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$20.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $20.99</strong> with promo code: <strong>50YSA2BT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J2WfGE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X5zxrc"><img src="https://m.media-amazon.com/images/I/71cMRsSuDvL._SR400,400_.jpg" alt="Electric Kettle Temperature Control" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>72 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X5zxrc">Electric Kettle Temperature Control, CUSIBOX 1.5L Extra Wall 100% Stainless Steel Water Kettle with Keep Warm Function, 1500W Fast Boil Cordless Tea Kettle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$49.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $49.99</strong> with promo code: <strong>60EKETTLE002</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X5zxrc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="15.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xb6q5O"><img src="https://m.media-amazon.com/images/I/51GeMuLpM1L._SR400,400_.jpg" alt="DADYPET Cat Water Fountain" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>101 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xb6q5O">DADYPET Cat Water Fountain,Pet Water Fountain Dispenser, Super Quite Flower Drinking Fountain, Automatic Electric Water Feeder for Dogs, Cats, Birds,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.20</span><span class="ori_price">$37.99</span></address>
      <p><span>Take <strong>60% off at $37.99</strong> with promo code: <strong>60P8FD4I</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xb6q5O">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="22.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nek8R2"><img src="https://m.media-amazon.com/images/I/61Ul-3ouZrL._SR400,400_.jpg" alt="Aiugko USB C Hub 9-in-1 USB C Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>75 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nek8R2">Aiugko USB C Hub 9-in-1 USB C Adapter Hub to Ethernet HDMI Type C Hub Data/PD Charge 3USB 3.0 SD/TF Card Reader Audio/Mic Space Grey USB C Adapter...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.80</span><span class="ori_price">$56.99</span></address>
      <p><span>Take <strong>60% off at $56.99</strong> with promo code: <strong>60EQKNXB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nek8R2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="16.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ILbN2S"><img src="https://m.media-amazon.com/images/I/61F7NOtb9rL._SR400,400_.jpg" alt="BESTEK MRI2011HU 200W Power Inverter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>112 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ILbN2S">BESTEK MRI2011HU 200W Power Inverter DC 12V to AC 110V Car Inverter with 4.8A 4 USB Ports Car Adapter and Car Cigarette Lighter Socket</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.09</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>30% off at $22.99</strong> with promo code: <strong>30PHK5H2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ILbN2S">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J0IUOU"><img src="https://m.media-amazon.com/images/I/51ytZoK7RkL._SR400,400_.jpg" alt="Bluetooth Speaker Portable Lamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J0IUOU">Bluetooth Speaker Portable Lamp with Alarm Clock, Night Light Speakers with Smart Touch Control – Set The Mood Premium LED Light Bedside Desk Lamp ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.44</span><span class="ori_price">$28.88</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $28.88</strong> with promo code: <strong>50WJR5PT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J0IUOU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="14.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X5eK78"><img src="https://m.media-amazon.com/images/I/81hq5ON94HL._SR400,400_.jpg" alt="Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X5eK78">Giotto 32oz/22oz Leakproof BPA Free Motivational Water Bottle with Time Marker & Straw to Ensure You Drink Enough Water Throughout The Day...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.69</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>30% off at $20.99</strong> with promo code: <strong>30UZKWON</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X5eK78">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="8.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XbBnqv"><img src="https://m.media-amazon.com/images/I/81ZuzNyqGjL._SR400,400_.jpg" alt="OICEPACK Ice Packs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>41 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XbBnqv">OICEPACK Ice Packs,Cool Packs for Cooler,Ice Pack for Lunch Box,Ice Packs for Cooler,Slim Reusable Cooler Ice Pack Long Lasting Freezer Ice Packs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.79</span><span class="ori_price">$10.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $10.99</strong> with promo code: <strong>20LIL4DM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XbBnqv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="24.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FzDREt"><img src="https://m.media-amazon.com/images/I/61pSLvpXQUL._SR400,400_.jpg" alt="XIPAI Mens Casual Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>34 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FzDREt">XIPAI Mens Casual Shoes Mesh Wingtip Oxford Lightweight Sneakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.64</span><span class="ori_price">$28.99</span></address>
      <p><span>Take <strong>15% off at $28.99</strong> with promo code: <strong>154UOH5J</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FzDREt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X5h1PI"><img src="https://m.media-amazon.com/images/I/519A3DuvKjL._SR400,400_.jpg" alt="Wireless Doorbell Remote Control Bell" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>196 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X5h1PI">Wireless Doorbell Remote Control Bell Chime Ringer Kit Portable Push Button Transmitter & Receiver, Long Range Loud Multi Melodies for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$20.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $20.99</strong> with promo code: <strong>50CYR16K</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X5h1PI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="34.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XbRfJN"><img src="https://m.media-amazon.com/images/I/71HYB1sEOXL._SR400,400_.jpg" alt="Knife Set,6-Piece Kitchen Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>93 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XbRfJN">Knife Set,6-Piece Kitchen Knife Set with Wooden Block Germany High Carbon Stainless Steel Knife Block Set,Chef Knife Set Boxed Knife Set by ROMEKER</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.38</span><span class="ori_price">$42.98</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $42.98</strong> with promo code: <strong>20G9RJLO</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XbRfJN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="52.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YbzLtb"><img src="https://m.media-amazon.com/images/I/51YtrNknd7L._SR400,400_.jpg" alt="Pull Down Kitchen Faucet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YbzLtb">Pull Down Kitchen Faucet With Sprayer, SonTiy Utility Single Hole Pull Out Spray Kitchen Sink Faucet Oil Rubbed Bronze, Gooseneck High...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$52.00</span><span class="ori_price">$129.99</span></address>
      <p><span>Take <strong>60% off at $129.99</strong> with promo code: <strong>60B38P2W</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YbzLtb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YcrfdL"><img src="https://m.media-amazon.com/images/I/71iJ4JYSzTL._SR400,400_.jpg" alt="KUYOU Snorkel Set Adults" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YcrfdL">KUYOU Snorkel Set Adults,Dry Snorkeling Set Men Women Anti-Fog Snorkel Mask Impact Resistant Panoramic Tempered Glass Easy Breathing and...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.98</span></address>
      <p><span>Take <strong>40% off at $25.98</strong> with promo code: <strong>40WCEOWR</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YcrfdL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XawcHe"><img src="https://m.media-amazon.com/images/I/61RRkPia6vL._SR400,400_.jpg" alt="Water Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>389 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XawcHe">FEIFAN Water Shoes Men Women Beach Swim Barefoot Quick Dry Lightweight Flexible Water Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>50% off at $20.99</strong> with promo code: <strong>509XGURJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XawcHe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="15.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X31Fqf"><img src="https://m.media-amazon.com/images/I/5137OvrcT+L._SR400,400_.jpg" alt="Smart Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,158 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X31Fqf">Smart Plug Work with Alexa and Google Home, TanTan WiFi Outlet Mini Socket Remote Control Only Supports 2.4GHz Network, ETL and FCC Listed 2 Packs</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.19</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>20% off at $18.99</strong> with promo code: <strong>20TUWMNF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X31Fqf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="31.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XaE5MS"><img src="https://m.media-amazon.com/images/I/516SBnWYgUL._SR400,400_.jpg" alt="JINRI Travel Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>508 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XaE5MS">JINRI Travel Hair Dryer 1875 Watt Dual Voltage Blow Dryer Dc Motor Foldable Handle Lightweight Negative Ionic Folding Hair Dryer (Berta red) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.50</span><span class="ori_price">$69.99</span></address>
      <p><span>Take <strong>55% off at $69.99</strong> with promo code: <strong>55MBPULS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XaE5MS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yem64X"><img src="https://m.media-amazon.com/images/I/51Q1c+dE0pL._SR400,400_.jpg" alt="Electric Shaver Razor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yem64X">Electric Shaver Razor for Men, MAX-T Quick Rechargeable Wet Dry Rotary Shaver with Pop Up Trimmer and LED Display, IPX7 100% Waterproof (8101 with USB Cable)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.50</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>50% off at $38.99</strong> with promo code: <strong>50TZHDJG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yem64X">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="16.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YgXZ5A"><img src="https://m.media-amazon.com/images/I/61HZydBZKDL._SR400,400_.jpg" alt="Lächen Cordless Water Flosser"/></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YgXZ5A">Lächen Cordless Water Flosser 220ml Rechargeable Dental Flosser Teeth Cleaner with 5 Jet Tip Oral Irrigator IPX7 Waterproof 8801-Cyan</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.74</span><span class="ori_price">$42.92</span></address>
      <p><span>Take <strong>61% off at $42.92</strong> with promo code: <strong>617KI9K1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YgXZ5A">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FATPOq"><img src="https://m.media-amazon.com/images/I/614TJ-OZXLL._SR400,400_.jpg" alt="LOYOMA Canvas Laptop Men Backpack" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FATPOq">LOYOMA Canvas Laptop Men Backpack Hiking Rucksack Women Travel School Bags (Army Green)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>50% off at $32.99</strong> with promo code: <strong>50MEPHM5</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FATPOq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="57.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JbV7k7"><img src="https://m.media-amazon.com/images/I/613G3VqzAdL._SR400,400_.jpg" alt="Mounchain Beach Tent" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JbV7k7">Mounchain Beach Tent Easy Setup, 3-4 Person Family Camping Tent, Waterproof Beach Tent Quick Pop Up for Hiking Picnic Traveling and Fishing</a></p>
    <div class="code_high">
      <address><span class="dis_price">$57.79</span><span class="ori_price">$67.99</span></address>
      <p><span>Take <strong>15% off at $67.99</strong> with promo code: <strong>154Q7IWZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JbV7k7">Use Code at Amazon</a></div>
</div>