<div class="card clearfix" data-score="60" data-price="17.19">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/promocode/A3EEFK0ARSKBCK/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=0f5f44b7f36b6f890de300516d5c6c4b&language=en_US"><img src="https://m.media-amazon.com/images/I/51XqP0AW2YL._SR400,400_.jpg" alt="Heel Slip On Walking Booties" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/promocode/A3EEFK0ARSKBCK/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=0f5f44b7f36b6f890de300516d5c6c4b&language=en_US">Ruanyu Womens Cutout Ankle Boots Peep Toe Chunky Block Heel Slip On Walking Booties</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.19</span><span class="ori_price">$42.98</span></address>
      <textarea readonly="readonly" class="code_area">60SDPNEN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $42.98</strong> with promo code: <strong class="m_codes">60SDPNEN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://www.amazon.com/promocode/A3EEFK0ARSKBCK/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=0f5f44b7f36b6f890de300516d5c6c4b&language=en_US">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/promocode/AC8WXS405V51A/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=9061df92da479d7091a0070b7a05f893&language=en_US"><img src="https://m.media-amazon.com/images/I/511MuINtZOL._SR400,400_.jpg" alt="BPA Free Binky Holder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/promocode/AC8WXS405V51A/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=9061df92da479d7091a0070b7a05f893&language=en_US">TYRY.HU Pacifier Clips Silicone Teething Beads BPA Free Binky Holder for Girls, Boys, Baby Shower Gift, Teether Toys, Soothie, Mam, Drool Bibs, Set of 2 (Pink, Blue) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40WATLRU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $12.99</strong> with promo code: <strong class="m_codes">40WATLRU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://www.amazon.com/promocode/AC8WXS405V51A/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=9061df92da479d7091a0070b7a05f893&language=en_US">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="22.80">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/promocode/A2AKJG8AX73J8B/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=558c234e11ec476f15058074206f6675&language=en_US"><img src="https://m.media-amazon.com/images/I/61cR5-S1w3L._SR400,400_.jpg" alt="Advanced Digital Picture Photo Frame " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/promocode/A2AKJG8AX73J8B/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=558c234e11ec476f15058074206f6675&language=en_US">Advanced Digital Picture Photo Frame with High Resolution HD 1024x600(16:9) Eletronic Picture Frame with Video Player Stereo MP3 Calendar Auto On/Off Timer 10 inch-Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.80</span><span class="ori_price">$75.99</span></address>
      <textarea readonly="readonly" class="code_area">70NVG6NH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $75.99</strong> with promo code: <strong class="m_codes">70NVG6NH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://www.amazon.com/promocode/A2AKJG8AX73J8B/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=558c234e11ec476f15058074206f6675&language=en_US">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/promocode/AU2XKVCL3BJCQ/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=56228537b16ba2b35000da2d32fdfe9c&language=en_US"><img src="https://m.media-amazon.com/images/I/81tsByM3RbL._SR400,400_.jpg" alt="Veckle Waterproof Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/promocode/AU2XKVCL3BJCQ/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=56228537b16ba2b35000da2d32fdfe9c&language=en_US">Veckle Waterproof Case, 4 Pack Floating Waterproof Cell Phone Pouch Universal TPU Clear Water Proof Dry Beach Bag for iPhone X 8 7 6S 6 Plus, Samsung Galaxy S9 S8 S7 S6, Note 5...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40O2TJ7Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $14.99</strong> with promo code: <strong class="m_codes">40O2TJ7Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://www.amazon.com/promocode/AU2XKVCL3BJCQ/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=56228537b16ba2b35000da2d32fdfe9c&language=en_US">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="30.79">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/promocode/A2DUN4KKU98717/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=2f1872bf84c9cd93aff0d23ff21d93b5&language=en_US"><img src="https://m.media-amazon.com/images/I/619GXRWNwQL._SR400,400_.jpg" alt="Laptop Bag for Women" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/promocode/A2DUN4KKU98717/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=2f1872bf84c9cd93aff0d23ff21d93b5&language=en_US">Laptop Bag for Women, Superior Laptop Tote Bag Computer Briefcase Fits up to 15.6 Inch Laptop for Women Work Office Business School Travel</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.79</span><span class="ori_price">$43.99</span></address>
      <textarea readonly="readonly" class="code_area">301Z1U8D</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $43.99</strong> with promo code: <strong class="m_codes">301Z1U8D</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://www.amazon.com/promocode/A2DUN4KKU98717/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=2f1872bf84c9cd93aff0d23ff21d93b5&language=en_US">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/promocode/AKVOZUAPMY7DO/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=ea94d8d3ee3389f9483242c7179c3925&language=en_US"><img src="https://m.media-amazon.com/images/I/41dVPcp+cuL._SR400,400_.jpg" alt="Blackhead Remover Vacuum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/promocode/AKVOZUAPMY7DO/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=ea94d8d3ee3389f9483242c7179c3925&language=en_US">Blackhead Remover Vacuum, Electric Facial Skin Pore Cleaner Comedone Pimple Extractor Kit with 5 Suction Probes for Women and Men Blackheads </a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">60EFDDGB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $29.99</strong> with promo code: <strong class="m_codes">60EFDDGB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://www.amazon.com/promocode/AKVOZUAPMY7DO/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=ea94d8d3ee3389f9483242c7179c3925&language=en_US">Use Code at Amazon</a></div>
</div>


<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/promocode/A2VJD0EL9640KZ/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=6832c2b902d631f71576db92d4e9d32e&language=en_US"><img src="https://m.media-amazon.com/images/I/71bdTMYyZmL._SR400,400_.jpg" alt="Bluetooth Speaker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/promocode/A2VJD0EL9640KZ/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=6832c2b902d631f71576db92d4e9d32e&language=en_US">Bluetooth Speaker,Wireless Bluetooth Speaker with AUX/USB/TF Card Slot,Louder Volume,Crystal Clear Stereo Sound,Microphone,Wireless Stereo Pairing Compatible with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$24.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20YVX4LK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $24.99</strong> with promo code: <strong class="m_codes">20YVX4LK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://www.amazon.com/promocode/A2VJD0EL9640KZ/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=6832c2b902d631f71576db92d4e9d32e&language=en_US">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/promocode/A1S6QT9DUNXN75/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=5b5281fb026d93cdbd27915a4cb2c039&language=en_US"><img src="https://m.media-amazon.com/images/I/71zN0fUZAML._SR400,400_.jpg" alt="YJY Car Diffuser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/promocode/A1S6QT9DUNXN75/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=5b5281fb026d93cdbd27915a4cb2c039&language=en_US">YJY Car Diffuser for Essential Oils Portable Home Humidifier, Ultrasonic None-Sponge-Wick USB Aromatherapy Intermittent Mode,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25YMLNB7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $19.99</strong> with promo code: <strong class="m_codes">25YMLNB7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://www.amazon.com/promocode/A1S6QT9DUNXN75/ref=as_li_ss_tl?ie=UTF8&linkCode=sl2&tag=3628-20&linkId=5b5281fb026d93cdbd27915a4cb2c039&language=en_US">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yne6TV"><img src="https://m.media-amazon.com/images/I/6119hx7HLjL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yne6TV">Wireless Earbuds Bluetooth 5.0 Ture Wireless Bluetooth Earbuds Built-in Mic Wireless Headphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50RANOJK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50RANOJK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 27, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yne6TV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="73" data-price="18.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yu39hL"><img src="https://m.media-amazon.com/images/I/71Bs9VH4g9L._SR400,400_.jpg" alt="Laptop Tote Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>73% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yu39hL">Laptop Tote Bag, Fits 15.6-17 Inch Laptop,Womens Lightweight Water Resistant Nylon Tote Bag Shoulder Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.90</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">73IQ9ZFH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>73% off at $69.99</strong> with promo code: <strong class="m_codes">73IQ9ZFH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yu39hL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="18.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K71RBz"><img src="https://m.media-amazon.com/images/I/61RzoZ38FsL._SR400,400_.jpg" alt="Power Strip Tower" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K71RBz">Power Strip Tower - EVAIKON Extension Cord with 8 Outlet 4 USB Ports 3000W/13A Surge Protector Electric Charging Station...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.39</span><span class="ori_price">$22.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20QYF8AB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $22.99</strong> with promo code: <strong class="m_codes">20QYF8AB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2K71RBz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ZObh2"><img src="https://m.media-amazon.com/images/I/61yjiG0PU3L._SR400,400_.jpg" alt="Stock Pot" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ZObh2">Stock Pot, ONEISALL 6 Quart Stockpot Thicker Stainless Steel Large Induction Pot with Lid, Anti-Scalding Safety Handle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">60VULKVR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $39.99</strong> with promo code: <strong class="m_codes">60VULKVR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30ZObh2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="9.56">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30WJ5SW"><img src="https://m.media-amazon.com/images/I/61CrusygM+L._SR400,400_.jpg" alt="18 Super Pigmented..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30WJ5SW">18 Super Pigmented - Top Influencer Professional Eyeshadow Palette all finishes, 5 Matte + 9 Shimmer ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.56</span><span class="ori_price">$19.52</span></address>
      <textarea readonly="readonly" class="code_area">51SWRTJW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $19.52</strong> with promo code: <strong class="m_codes">51SWRTJW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30WJ5SW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="20.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SR1gGJ"><img src="https://m.media-amazon.com/images/I/61XDgGz7WwL._SR400,400_.jpg" alt="TERIOS Wireless Controller" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SR1gGJ">TERIOS Wireless Controller – Gaming Remote Compatible with Playstation 4 – Video Game Controller...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.39</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">40U8VQ6G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $33.99</strong> with promo code: <strong class="m_codes">40U8VQ6G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SR1gGJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/315BHVj"><img src="https://m.media-amazon.com/images/I/716gpJoEOHL._SR400,400_.jpg" alt="AmazeFan 12 Stage Shower Filter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/315BHVj">AmazeFan 12 Stage Shower Filter with Vitamin C For Hard Water - Shower Head Filter Remove Chlorine ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">60UQQH6V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">60UQQH6V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/315BHVj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="16.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GzzPMA"><img src="https://m.media-amazon.com/images/I/61U3ptCMb+L._SR400,400_.jpg" alt="Gel Seat Cushion,Suptempo Thick Big Gel Seat" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GzzPMA">Gel Seat Cushion,Suptempo Thick Big Gel Seat Cushion,The Latest Modified Double Gel Seat Cushion, for Pressure...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.17</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">51DDI1KZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $32.99</strong> with promo code: <strong class="m_codes">51DDI1KZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GzzPMA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="7.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30WJuVs"><img src="https://m.media-amazon.com/images/I/71P0P-yu+VL._SR400,400_.jpg" alt="Bluetooth FM Transmitter for car" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30WJuVs">Bluetooth FM Transmitter for car, Wireless FM Transmitter Radio Receiver Adapter Car Kit,with Dual USB Car Charging Ports,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.94</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">47MYM893</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>47% off at $14.99</strong> with promo code: <strong class="m_codes">47MYM893</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30WJuVs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="16.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/317IC03"><img src="https://m.media-amazon.com/images/I/61Moaj0ZXCL._SR400,400_.jpg" alt="STQ Women Walking Shoes Slip On Sneakers" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/317IC03">STQ Women Walking Shoes Slip On Sneakers Casual Trainer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.49</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">45VNBT3A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $29.99</strong> with promo code: <strong class="m_codes">45VNBT3A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/317IC03">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="12.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/315t0KO"><img src="https://m.media-amazon.com/images/I/51frNlg-fbL._SR400,400_.jpg" alt="Industrial Pendant Light Fixture" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/315t0KO">Industrial Pendant Light Fixture - GREEMPIRE Vintage Ceiling Light Hanging Metal Lampshade Semi-Flush Mount Retro Lamp...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.80</span><span class="ori_price">$31.99</span></address>
      <textarea readonly="readonly" class="code_area">60DPOVP4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $31.99</strong> with promo code: <strong class="m_codes">60DPOVP4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/315t0KO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="9.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OnSrp9"><img src="https://m.media-amazon.com/images/I/71MaqRL2e1L._SR400,400_.jpg" alt="Pedy Cat Water Fountain" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OnSrp9">Pedy Cat Water Fountain, Automatic Cat Flower Water Fountain, Pet Water Fountain for Cats and Dogs with Filter, Green</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.60</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">60IUPK6P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $23.99</strong> with promo code: <strong class="m_codes">60IUPK6P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OnSrp9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="9.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32YG5ar"><img src="https://m.media-amazon.com/images/I/71t9WSSmn1L._SR400,400_.jpg" alt="WORKPRO Cordless Rechargeable Screwdriver Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32YG5ar">WORKPRO Cordless Rechargeable Screwdriver Set 3.6V Lithium-Ion with Battery,Power Screw Gun with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.89</span><span class="ori_price">$17.98</span></address>
      <textarea readonly="readonly" class="code_area">45V2T7AO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $17.98</strong> with promo code: <strong class="m_codes">45V2T7AO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32YG5ar">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/319XOdn"><img src="https://m.media-amazon.com/images/I/61KPvFmv4tL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/319XOdn">True Wireless Earbuds, CC Comeproof Bluetooth 5.0 Auto Paring IPX8 Waterproof Earbuds with Wireless Charging Case,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">25SH6YLV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $39.99</strong> with promo code: <strong class="m_codes">25SH6YLV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/319XOdn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="25.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/312VuEJ"><img src="https://m.media-amazon.com/images/I/817gXykGCJL._SR400,400_.jpg" alt="Power Bank 24000mAh Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/312VuEJ">Power Bank 24000mAh Portable Charger Huge Capacity Charge External Battery Pack Dual Inputs & Three Output with LCD Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.19</span><span class="ori_price">$35.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30SPU4A2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $35.99</strong> with promo code: <strong class="m_codes">30SPU4A2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/312VuEJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LVqO59"><img src="https://m.media-amazon.com/images/I/71RxJDqXybL._SR400,400_.jpg" alt="Bluetooth 5.0 Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LVqO59">Bluetooth 5.0 Earbuds, True Wireless Earbuds Bluetooth Headphones with Mic Wireless Headphones Mini Headset Sweatproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.50</span><span class="ori_price">$48.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">5081P23Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $48.99</strong> with promo code: <strong class="m_codes">5081P23Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LVqO59">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OvutZe"><img src="https://m.media-amazon.com/images/I/61q6Iayi4UL._SR400,400_.jpg" alt="OUTXE Necklace Fan 90° Rotating..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OvutZe">OUTXE Necklace Fan 90° Rotating Free Adjustment, Mini Portable USB Personal Fan 3 Setting, Cooling Folding Electric Fan...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">30U5SWIM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $17.99</strong> with promo code: <strong class="m_codes">30U5SWIM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OvutZe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ylAtJc"><img src="https://m.media-amazon.com/images/I/61ftuiR1BiL._SR400,400_.jpg" alt="Gaming Headset New bee Stereo Over Ear Gaming Headphone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ylAtJc">Gaming Headset New bee Stereo Over Ear Gaming Headphone for PS4, PC, Xbox One with Mic, LED Light 3.5mm Wired Volume...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$17.49</span></address>
      <textarea readonly="readonly" class="code_area">60B1KW5Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $17.49</strong> with promo code: <strong class="m_codes">60B1KW5Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PD</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ylAtJc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YuOenH"><img src="https://m.media-amazon.com/images/I/61TovfldtBL._SR400,400_.jpg" alt="Night Light Bluetooth Speaker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YuOenH">Night Light Bluetooth Speaker, Portable Wireless Bluetooth Speakers, Touch Control, Color LED Speaker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">5072Z3WM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.99</strong> with promo code: <strong class="m_codes">5072Z3WM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 06, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YuOenH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOuN3j"><img src="https://m.media-amazon.com/images/I/51dlHP+rE4L._SR400,400_.jpg" alt="TESSAN Surge Protector Tower" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOuN3j">TESSAN Surge Protector Tower, Power Strip with 9 AC Outlets 4 USB, 900 Joules, Electrical Plug Tower Desktop...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.49</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">50ZDH2NK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $28.99</strong> with promo code: <strong class="m_codes">50ZDH2NK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LOuN3j">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OsLx1W"><img src="https://m.media-amazon.com/images/I/61nIyz9Az3L._SR400,400_.jpg" alt="Sonic Electric Toothbrush" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OsLx1W">Sonic Electric Toothbrush with 5 Modes 4 Replacement Heads 60 Days Use Rechargeable Waterproof Oral Clean for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">60I2E455</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $39.99</strong> with promo code: <strong class="m_codes">60I2E455</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OsLx1W">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOPP1v"><img src="https://m.media-amazon.com/images/I/71LkHFiACSL._SR400,400_.jpg" alt="Fanny Pack Bag for Men&Women" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOPP1v">Fanny Pack Bag for Men&Women, Waist Pack Hip Bum Bag with Large Capacity Adjustable Strap and Headphone Jack for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.80</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">60DY9K1U</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $16.99</strong> with promo code: <strong class="m_codes">60DY9K1U</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LOPP1v">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YF4GC1"><img src="https://m.media-amazon.com/images/I/61gG4QIaGEL._SR400,400_.jpg" alt="Univivi Garment Bags Suit Dress Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YF4GC1">Univivi Garment Bags Suit Dress Bag for Storage and Trave 54inch, with Clear Window, Washable Suit Cover for Dresses,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">406GD4TE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">406GD4TE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YF4GC1">Use Code at Amazon</a></div>
</div>
