<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SHx0xZ"><img src="https://m.media-amazon.com/images/I/61XCuWErp1L._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SHx0xZ">True Wireless Earbuds, ALOFOX Latest Bluetooth 5.0 Auto Pairing HiFi Sound Bluetooth Earbuds with Charging Case,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30D3NQ3P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $39.99</strong> with promo code: <strong class="m_codes">30D3NQ3P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SHx0xZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="10.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2y88sEP"><img src="https://m.media-amazon.com/images/I/51Y29hegofL._SR400,400_.jpg" alt="64GB USB C Flash Drive" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2y88sEP">64GB USB C Flash Drive, Small USB 3.0 Flash Drives Type C Micro USB OTG Adapter for Android Samsung LG Memory Stick...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.72</span><span class="ori_price">$35.74</span></address>
      <textarea readonly="readonly" class="code_area">70MD7YTA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $35.74</strong> with promo code: <strong class="m_codes">70MD7YTA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2y88sEP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="40.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Wuy9L"><img src="https://m.media-amazon.com/images/I/71XGSoXfCpL._SR400,400_.jpg" alt="SPACE LION Weighted Blanket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>49 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Wuy9L">SPACE LION Weighted Blanket Heavy Blanket 100% Cotton Material with Glass Beads (48''x72'' 12lbs)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40.20</span><span class="ori_price">$67.00</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40GIPI7N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $67.00</strong> with promo code: <strong class="m_codes">40GIPI7N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30Wuy9L">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="15.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTb7ct"><img src="https://m.media-amazon.com/images/I/61KFm2wOuuL._SR400,400_.jpg" alt="IDISKK True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>13 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTb7ct">IDISKK True Wireless Earbuds Touch-Control Bluetooth Auto-Pairing HiFi Stereo Sports Earphones with Built-in Microphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.19</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">51VTTUAZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $30.99</strong> with promo code: <strong class="m_codes">51VTTUAZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JTb7ct">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/310Po89"><img src="https://m.media-amazon.com/images/I/71MrC6uzbtL._SR400,400_.jpg" alt="Moon Lamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>73 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/310Po89">Moon Lamp Touch Control Lamp Night Light,5.9” Extra Large,3D Print USB Charging Moon Night Light Lamps for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$25.00</span></address>
      <textarea readonly="readonly" class="code_area">70ZFKIKV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $25.00</strong> with promo code: <strong class="m_codes">70ZFKIKV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/310Po89">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="5.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SB1Icd"><img src="https://m.media-amazon.com/images/I/61qcDthmgmL._SR400,400_.jpg" alt="Natural Mattifying Moisturizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SB1Icd">Natural Mattifying Moisturizer for Oily Skin, Combination Skin, Normal Skin - Oil Control Face Lotion with Pore Refining,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.60</span><span class="ori_price">$28.00</span></address>
      <textarea readonly="readonly" class="code_area">80DWVZYC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $28.00</strong> with promo code: <strong class="m_codes">80DWVZYC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SB1Icd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JR6ejK"><img src="https://m.media-amazon.com/images/I/61YL1GNjySL._SR400,400_.jpg" alt="Selore USB C to HDMI Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JR6ejK">Selore USB C to HDMI Cable Adapter Compatible for 2017 Macbook Pro,Dell XPS 12/13/15,Samsung s8 and More With ....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.84</span><span class="ori_price">$15.69</span></address>
      <textarea readonly="readonly" class="code_area">50ODLPPD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.69</strong> with promo code: <strong class="m_codes">50ODLPPD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JR6ejK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SASk8q"><img src="https://m.media-amazon.com/images/I/61BcyI9fkJL._SR400,400_.jpg" alt="DREAM PAIRS Women's Open Toe Flat Sandals" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>103 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SASk8q">DREAM PAIRS Women's Open Toe Flat Sandals</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">50SV1JDD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">50SV1JDD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 08:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SASk8q">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Ugk9g"><img src="https://m.media-amazon.com/images/I/91-u4bIGHWL._SR400,400_.jpg" alt="TV Wall Mount Bracket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>301 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Ugk9g">USX MOUNT Full Motion Swivel Articulating Tilt TV Wall Mount Bracket for 26-55" LED, OLED, 4K TVs-Fit for 32, 40, 50...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">404ILLFV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">404ILLFV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30Ugk9g">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="15.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQGgwX"><img src="https://m.media-amazon.com/images/I/61jkgg8WhtL._SR400,400_.jpg" alt="Aeifond Smart Watch Bluetooth Smartwatch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQGgwX">Aeifond Smart Watch Bluetooth Smartwatch Touchscreen Smart Wrist Watch Sports Fitness Tracker with Camera...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.75</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">55KRG5I8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $34.99</strong> with promo code: <strong class="m_codes">55KRG5I8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JQGgwX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="71.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SJ6jsU"><img src="https://m.media-amazon.com/images/I/61tOh82oVML._SR400,400_.jpg" alt="Standing Desk" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SJ6jsU">Standing Desk, Height Adjustable Standing Desk Converter, 20.1×31.5 Inch Work Area, Fully Assembled (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$71.92</span><span class="ori_price">$89.90</span></address>
      <textarea readonly="readonly" class="code_area">20HWPG5O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $89.90</strong> with promo code: <strong class="m_codes">20HWPG5O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SJ6jsU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LIpcLB"><img src="https://m.media-amazon.com/images/I/61eCw7KDBdL._SR400,400_.jpg" alt="Coffee Mug 16oz Vacuum Insulated Camping Mug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LIpcLB">Coffee Mug 16oz Vacuum Insulated Camping Mug with Lid, Double Wall Stainless Steel Travel Mug Coffee Cup Outdoor</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.19</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">40MUKOKO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $21.99</strong> with promo code: <strong class="m_codes">40MUKOKO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 05:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LIpcLB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="9.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/314dPBF"><img src="https://m.media-amazon.com/images/I/517uBAaXTWL._SR400,400_.jpg" alt="Compatible iWatch Apple Watch Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>85 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/314dPBF">Compatible iWatch Apple Watch Charger, 2 in 1 iPhone Charger 3.9ft/1.2m Portable Charging Cable, Wireless Magnetic Travel...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.89</span><span class="ori_price">$17.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">45A7B6Z2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $17.99</strong> with promo code: <strong class="m_codes">45A7B6Z2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/314dPBF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MeseqK"><img src="https://m.media-amazon.com/images/I/6154uMvhERL._SR400,400_.jpg" alt="Full Copper Kitchen Faucet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MeseqK">Full Copper Kitchen Faucet - 3 Function Spray Single Handle High Arc Brushed Nickel Pull out Kitchen Faucet,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">6032O9AI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $99.99</strong> with promo code: <strong class="m_codes">6032O9AI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MeseqK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MdsiqI"><img src="https://m.media-amazon.com/images/I/71KtbU3CabL._SR400,400_.jpg" alt="Musonic Pet Carrier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MdsiqI">Musonic Pet Carrier, Hand Free Sling for Small Dog Cat Adjustable Cotton Padded Strap Outdoor Travel Shoulder Bag...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">40VIL2OB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">40VIL2OB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MdsiqI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3301rEu"><img src="https://m.media-amazon.com/images/I/813m3agye3L._SR400,400_.jpg" alt="Projector Paick..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>213 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3301rEu">Projector Paick 3200 Lumens Video Proejctor Support 1080P, 180" Big Screen for Home Cinema, Movies, TV, USB/HDMI/AV/VGA</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">40A6FXV7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $99.99</strong> with promo code: <strong class="m_codes">40A6FXV7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3301rEu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFHEo9"><img src="https://m.media-amazon.com/images/I/61Xw3R+FaRL._SR400,400_.jpg" alt="Foam Ear Plugs 50 Pairs Ear Plugs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>37 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFHEo9">Foam Ear Plugs 50 Pairs Ear Plugs for Sleeping NNR 35dB Super Soft Noise Cancelling Ear Plugs for Shooting Hearing...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.50</span><span class="ori_price">$10.99</span></address>
      <textarea readonly="readonly" class="code_area">50R1UN7N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $10.99</strong> with promo code: <strong class="m_codes">50R1UN7N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LFHEo9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LF9KA4"><img src="https://m.media-amazon.com/images/I/61Dbu-oUMUL._SR400,400_.jpg" alt="USB Type C Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LF9KA4">USB Type C Cable, Yoobao (2-Pack, 5ft, USB A to USB-C) Nylon Braided Fast Charging Charger Cord Compatible Samsun...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.20</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">60QS9E5C</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $12.99</strong> with promo code: <strong class="m_codes">60QS9E5C</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LF9KA4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="7.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQ94FJ"><img src="https://m.media-amazon.com/images/I/61QtWCMF5+L._SR400,400_.jpg" alt="SweatyRocks Women's Boho Wide Leg" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQ94FJ">SweatyRocks Women's Boho Wide Leg Elastic High Waist Palazzo Lounge Pants Capris</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.25</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">75VCCUSB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $28.99</strong> with promo code: <strong class="m_codes">75VCCUSB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JQ94FJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="36.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SAULro"><img src="https://m.media-amazon.com/images/I/818Pe8K6O+L._SR400,400_.jpg" alt="JAX & CALI Pet Wipes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SAULro">JAX & CALI Pet Wipes – Natural Textured Paw and Body Wipes – Holistic – Hypoallergenic – Cruelty Free – Vegan...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.86</span><span class="ori_price">$40.95</span></address>
      <textarea readonly="readonly" class="code_area">10JAXANDCALI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $40.95</strong> with promo code: <strong class="m_codes">10JAXANDCALI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 09:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SAULro">Use Code at Amazon</a></div>
</div>
