<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/331zhJ1"><img src="https://m.media-amazon.com/images/I/71x7YL3EXSL._SR400,400_.jpg" alt="Organic Aromatherapy Essential Oil Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>124 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/331zhJ1">Organic Aromatherapy Essential Oil Set– 6 Bottles Aromatherapy Essential Oil Eucalyptus, Lavender, Tea Tree,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30RHQ9GS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $16.99</strong> with promo code: <strong class="m_codes">30RHQ9GS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/331zhJ1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SLZerx"><img src="https://m.media-amazon.com/images/I/61UA56cv+AL._SR400,400_.jpg" alt="Head Scratcher Pack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SLZerx">Head Scratcher Pack of 2, Scalp Massager Tool for Stress Relief (Random Colors)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50KN8S59</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50KN8S59</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SLZerx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YvzOzw"><img src="https://m.media-amazon.com/images/I/719BCF1FpZL._SR400,400_.jpg" alt="Insulated Coffee Mug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>84 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YvzOzw">Insulated Coffee Mug 16oz Stainless Steel Vacuum Insulated Mug with Lid and Handle(14oz After Lid is Closed) Red</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">40MUKOKO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40MUKOKO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 05:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YvzOzw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YtEHgK"><img src="https://m.media-amazon.com/images/I/51JLOqUUZ3L._SR400,400_.jpg" alt="SweatyRocks Women's Boho Wide Leg" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YtEHgK">SweatyRocks Women's Boho Wide Leg Elastic High Waist Palazzo Lounge Pants Capris</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">75VCCUSB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $23.99</strong> with promo code: <strong class="m_codes">75VCCUSB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YtEHgK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MkRVpk"><img src="https://m.media-amazon.com/images/I/71GurwxizAL._SR400,400_.jpg" alt="Car Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>67 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MkRVpk">Car Vacuum Cleaner High Power Handheld Wet Dry Stronger Suction Portable Auto Vacuum Cleaner DC 12V 4000PA 16.4FT(5M) ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">60BYHN5N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $39.99</strong> with promo code: <strong class="m_codes">60BYHN5N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MkRVpk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MpS6js"><img src="https://m.media-amazon.com/images/I/711pJPd7ZVL._SR400,400_.jpg" alt="Simple Drink BPA Free Metal Insulated Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>125 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MpS6js">Simple Drink BPA Free Metal Insulated Water Bottle | Reusable Stainless Steel Flask with Portable Strong Cap ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.29</span><span class="ori_price">$12.59</span></address>
      <textarea readonly="readonly" class="code_area">50IU7Y3B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.59</strong> with promo code: <strong class="m_codes">50IU7Y3B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MpS6js">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GyAX38"><img src="https://m.media-amazon.com/images/I/71e9CWSIhlL._SR400,400_.jpg" alt="Colored Pens Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>103 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GyAX38">Colored Pens Set, Fine Line Point Drawing Marker Pens for Writing Journaling Planner Coloring Book Sketching Taking Note Calendar...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.75</span><span class="ori_price">$9.50</span></address>
      <textarea readonly="readonly" class="code_area">50CB17P1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.50</strong> with promo code: <strong class="m_codes">50CB17P1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GyAX38">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YwZpfu"><img src="https://m.media-amazon.com/images/I/71OOoMxubNL._SR400,400_.jpg" alt="Soundbar System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YwZpfu">Soundbar System, Mugig Soundbar, Unique Split Design, Bluetooth Audio TV Speaker, 42-inch/8 Built-in Speaker/2.0>...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">70KU1PKC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $99.99</strong> with promo code: <strong class="m_codes">70KU1PKC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YwZpfu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YuL6Io"><img src="https://m.media-amazon.com/images/I/71sTjOcrxPL._SR400,400_.jpg" alt="WITHARMOUR Pocket Folding Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YuL6Io">WITHARMOUR Pocket Folding Knife Tactical Knife Camping Hiking Survival Fishing Knife Black B 4.75" Closed with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">50KJ3SSX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50KJ3SSX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YuL6Io">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MpTKl8"><img src="https://m.media-amazon.com/images/I/61+nyZSV8gL._SR400,400_.jpg" alt="Smart Wifi Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>34 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MpTKl8">Smart Wifi Plug Work with Alexa Google Home IFTTT, Gosund 16A Smart Outlet Mini Socket with Overload Protection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.24</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">25PLUGTAN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $18.99</strong> with promo code: <strong class="m_codes">25PLUGTAN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MpTKl8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="6.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YvdzOb"><img src="https://m.media-amazon.com/images/I/61Zup73IEtL._SR400,400_.jpg" alt="Lermende Dishes Gloves" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YvdzOb">Lermende Dishes Gloves, Washing Glove For Dish Reusable, Silicone Heat Resistant, for Household Cooking Baking BBQ ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.24</span><span class="ori_price">$11.34</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">45N85D75</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $11.34</strong> with promo code: <strong class="m_codes">45N85D75</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YvdzOb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMxKRL"><img src="https://m.media-amazon.com/images/I/81WWxT9IOnL._SR400,400_.jpg" alt="Slenily Pajamas" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>163 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMxKRL">Slenily Pajamas for Boys Children Summer Pjs Shorts Kids Cotton Dinosaurs Sleepwear SetSlenily Pajamas for Boys ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">60NST76W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $14.99</strong> with promo code: <strong class="m_codes">60NST76W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LMxKRL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="9.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ZV0zl"><img src="https://m.media-amazon.com/images/I/61pJENIPX7L._SR400,400_.jpg" alt="Slingback Strap Flat Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>88 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ZV0zl">Zicac Women's Rhinestone Thong Sandals Elastic Slingback Strap Flat Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.90</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">55FT1O7H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $21.99</strong> with promo code: <strong class="m_codes">55FT1O7H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30ZV0zl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SNSTMa"><img src="https://m.media-amazon.com/images/I/81ekPUVHSaL._SR400,400_.jpg" alt="LED Pod Lights,4Inch 2PCS LED Flood Lights" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SNSTMa">LED Pod Lights,4Inch 2PCS LED Flood Lights LED Pods Work Light Bar Driving Fog Lights Spot Beam Super Bright Cubes Lights...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50Z3P3IC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.99</strong> with promo code: <strong class="m_codes">50Z3P3IC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SNSTMa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GwPU5O"><img src="https://m.media-amazon.com/images/I/61KtI-UxtTL._SR400,400_.jpg" alt="PEMENOL Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GwPU5O">PEMENOL Essential Oil Diffuser Wood Grain Aromatherapy Ultrasonic Cool Mist Humidifier 120ml,7 Color Changing LED Lights ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50U85V5M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50U85V5M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GwPU5O">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SMusys"><img src="https://m.media-amazon.com/images/I/61qx4ZqEusL._SR400,400_.jpg" alt="Amysen WiFi Smart Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>113 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SMusys">Amysen WiFi Smart Plug, Mini Outlet Compatible with Alexa, Google Assistant, No Hub Required, Control Your Devices from Anywhere(4 Pack)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.22</span><span class="ori_price">$38.89</span></address>
      <textarea readonly="readonly" class="code_area">308V5652</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $38.89</strong> with promo code: <strong class="m_codes">308V5652</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SMusys">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yw9glK"><img src="https://m.media-amazon.com/images/I/51PlyPuPK7L._SR400,400_.jpg" alt="WJPILIS Smart Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>183 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yw9glK">WJPILIS Smart Watch Touch Screen Bluetooth Smartwatch Smart Wrist Watch Fitness Tracker with SIM TF Card Slot Camera Pedometer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50KZR3IO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50KZR3IO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yw9glK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="25.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/312hGiw"><img src="https://m.media-amazon.com/images/I/61QkeVUuqcL._SR400,400_.jpg" alt="Decroom Natural Goose Duck Down Feather Pillows" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/312hGiw">Decroom Natural Goose Duck Down Feather Pillows for Sleeping,Gusseted Bed Pillow Inserts with 100% Cotton Cover,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.29</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">458YYMVZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $45.99</strong> with promo code: <strong class="m_codes">458YYMVZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/312hGiw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ypv3HP"><img src="https://m.media-amazon.com/images/I/71zTvs6o0zL._SR400,400_.jpg" alt="MIU COLOR Car Back Seat Organizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ypv3HP">MIU COLOR Car Back Seat Organizer with Larger Storage - 11 Compartments including Touch Screen iPad Holder,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">75BBB222</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $39.99</strong> with promo code: <strong class="m_codes">75BBB222</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ypv3HP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LLCMht"><img src="https://m.media-amazon.com/images/I/61dPd89qMtL._SR400,400_.jpg" alt="Phone Camera Lens" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LLCMht">Phone Camera Lens, 7 in 1 Cell Phone Lens Kit for iPhone and Android, 198°Fisheye,120° Wide Angle,20X Macro,2X telephoto,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50UOFONR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50UOFONR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LLCMht">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="42.3">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/312ibZW"><img src="https://m.media-amazon.com/images/I/51OgK3IGMlL._SR400,400_.jpg" alt="Car Dash Cam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>77 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/312ibZW">Car Dash Cam, Dashboard Camera Recorder with 32GB SD Card, MELCAM FHD 1080P, 3" LCD Screen, Driving Recorder ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.3</span><span class="ori_price">$140.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">70RLKTTN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $140.99</strong> with promo code: <strong class="m_codes">70RLKTTN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/312ibZW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="5.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OoJ3Sr"><img src="https://m.media-amazon.com/images/I/61AlhVy0BhL._SR400,400_.jpg" alt="Aptx Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OoJ3Sr">Aptx Bluetooth Headphones, Mini In Ear Bluetooth 4.1 AptX Stereo Magnetic Wireless Earbuds Snug Fit for Sports...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.95</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">654DDE67</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $16.99</strong> with promo code: <strong class="m_codes">654DDE67</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OoJ3Sr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GxUi4u"><img src="https://m.media-amazon.com/images/I/61PHdSKYEPL._SR400,400_.jpg" alt="Fast Wireless Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GxUi4u">Fast Wireless Car Charger, Siroflo Car Mount Air Vent Phone Holder Cradle Charging for Samsung Galaxy S8,S8 Plus,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">602E167X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $34.99</strong> with promo code: <strong class="m_codes">602E167X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GxUi4u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="29.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SLR3LI"><img src="https://m.media-amazon.com/images/I/71ptWAU-FWL._SR400,400_.jpg" alt="ECOSUSI Ladies PU Leather Laptop Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,189 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SLR3LI">ECOSUSI Ladies PU Leather Laptop Bag Briefcase Crossbody Messenger Bags Satchel Purse Fit 14 inches Laptop, Coffee</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.89</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">35QGFQR5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $45.99</strong> with promo code: <strong class="m_codes">35QGFQR5</strong></span></p><span class="ex_date ex_date_new">Expiration Date :  Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SLR3LI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OyVWcO"><img src="https://m.media-amazon.com/images/I/81qs07LAl+L._SR400,400_.jpg" alt="BISON DENIM College Laptop Backpack" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OyVWcO">BISON DENIM College Laptop Backpack with USB Charging Port School Backpack Light Weight Travel Backpack for Men Women ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.9</span><span class="ori_price">$42.99</span></address>
      <textarea readonly="readonly" class="code_area">701HQRE6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $42.99</strong> with promo code: <strong class="m_codes">701HQRE6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OyVWcO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SKvZ8i"><img src="https://m.media-amazon.com/images/I/61+CTXF1+6L._SR400,400_.jpg" alt="BISON DENIM Mens Computer Backpack" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SKvZ8i">BISON DENIM Mens Computer Backpack Water Resistant School Daypack Bookpack 15.6in Laptop Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.90</span><span class="ori_price">$42.99</span></address>
      <textarea readonly="readonly" class="code_area">701HQRE6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $42.99</strong> with promo code: <strong class="m_codes">701HQRE6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SKvZ8i">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="22.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YoIpIo"><img src="https://m.media-amazon.com/images/I/81X4oI-mSlL._SR400,400_.jpg" alt="WSQIWNI Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>22 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YoIpIo">WSQIWNI Laptop Backpack for Men & Women Anti Theft Travel Backpacks Water Resistant College School Bookbag with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.43</span><span class="ori_price">$33.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">34QOPDUS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>34% off at $33.99</strong> with promo code: <strong class="m_codes">34QOPDUS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YoIpIo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="14.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MoUUNy"><img src="https://m.media-amazon.com/images/I/71QAoeb5SZL._SR400,400_.jpg" alt="Rabosky [New Gameplay] Magnetic Dart Board" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MoUUNy">Rabosky [New Gameplay] Magnetic Dart Board for Kids, Interstellar Adventure Dart Game Set, Best Kids Toy Gift...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.69</span><span class="ori_price">$29.97</span></address>
      <textarea readonly="readonly" class="code_area">51TI7XE7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $29.97</strong> with promo code: <strong class="m_codes">51TI7XE7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MoUUNy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMb5oS"><img src="https://m.media-amazon.com/images/I/81gjtr0QszL._SR400,400_.jpg" alt="Survival Paracord Bracelet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMb5oS">Epartswide Multifunctional Outdoor Survival Paracord Bracelet with Flint Fire Starter,Compass,Emergency ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.75</span><span class="ori_price">$14.69</span></address>
      <textarea readonly="readonly" class="code_area">20YVY51D</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $14.69</strong> with promo code: <strong class="m_codes">20YVY51D</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LMb5oS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YoFNdB"><img src="https://m.media-amazon.com/images/I/71G99sy4FEL._SR400,400_.jpg" alt="Compact Waterproof Umbrella" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>283 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YoFNdB">Wsky 12 Ribs Windproof Umbrella, Reinforced Travel Umbrella with Teflon Coating, Compact Waterproof Umbrella...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.60</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">60NXEPOT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $18.99</strong> with promo code: <strong class="m_codes">60NXEPOT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YoFNdB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ymw88M"><img src="https://m.media-amazon.com/images/I/81VpWle5ZGL._SR400,400_.jpg" alt="Kaqulec Boxing Reflex Fight Ball" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>53 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ymw88M">Kaqulec Boxing Reflex Fight Ball Headband Speed Punching Ball Raise Reaction,Agility & Hand Eye Coordination Training Set...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.20</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">60CD6142</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $12.99</strong> with promo code: <strong class="m_codes">60CD6142</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ymw88M">Use Code at Amazon</a></div>
</div>

