<div class="card clearfix" data-score="78" data-price="5.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J5KNv5"><img src="https://m.media-amazon.com/images/I/716y1yWqUGL._SR400,400_.jpg" alt="Cell Phone Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>200 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J5KNv5">Cell Phone Stand, Barsone Aluminium Phone Holder Mount Stand for Phones and Tablets 10 inches (Updated Silver)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.72</span><span class="ori_price">$25.98</span></address>
      <p><span>Take <strong>78% off at $25.98</strong> with promo code: <strong>78S9ICEX</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J5KNv5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="42.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J63AX5"><img src="https://m.media-amazon.com/images/I/814EdH6bsKL._SR400,400_.jpg" alt="TheFitLife Flexible Metal Garden Hose" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>167 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J63AX5">TheFitLife Flexible Metal Garden Hose - 25/50/75/100 FT 304 Stainless Steel Water Hose with Newest Spray Nozzle and Solid Metal Fittings,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.51</span><span class="ori_price">$56.68</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>25% off at $56.68</strong> with promo code: <strong>25WYMOWQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J63AX5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/321M9yl"><img src="https://m.media-amazon.com/images/I/61ehJDJ6ixL._SR400,400_.jpg" alt="FRACORA Womens Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>175 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/321M9yl">FRACORA Womens Sneakers Low Top Lace Ups Canvas Shoes Fashion Comfortable</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>30% off at $19.99</strong> with promo code: <strong>30FFKDE9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/321M9yl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XiX5ZM"><img src="https://m.media-amazon.com/images/I/71NYbP7Z2tL._SR400,400_.jpg" alt="Growom One Step Hot Air Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XiX5ZM">Growom One Step Hot Air Brush, Hair Dryer, Straightener, Curler, Hair Styler, Designer and Volumizer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$34.99</span></address>
      <p><span>Take <strong>20% off at $34.99</strong> with promo code: <strong>20KET6PB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XiX5ZM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3253Ehb"><img src="https://m.media-amazon.com/images/I/61EZ+TmlXJL._SR400,400_.jpg" alt="Control Future Portable USB Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3253Ehb">Control Future Portable USB Fan - Hand Free Personal Neckband Fan, Rechargeable Battery Operated Fan...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.59</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>20% off at $16.99</strong> with promo code: <strong>20YY7QN5</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 06:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3253Ehb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="13.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J5Jts1"><img src="https://m.media-amazon.com/images/I/71Yq8khKxqL._SR400,400_.jpg" alt="OICEPACK Ice Pack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>90 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J5Jts1">OICEPACK Ice Pack for Lunch Box - Blue - Reusable Freezer Ice Packs for Coolers - Slim Long - Lasting Cool Pack...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.58</span><span class="ori_price">$16.98</span></address>
      <p><span>Take <strong>20% off at $16.98</strong> with promo code: <strong>20IN12N9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J5Jts1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="20.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jjt6XY"><img src="https://m.media-amazon.com/images/I/51JiDpDS7IL._SR400,400_.jpg" alt="Frudaca M9566 RC Drone" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jjt6XY">Frudaca M9566 RC Drone 6-Axis Gyro G-Sensor Mobile APP Remote Control 720P 2MP HD Wifi Camera...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.40</span><span class="ori_price">$50.99</span></address>
      <p><span>Take <strong>60% off at $50.99</strong> with promo code: <strong>60TLPWEU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jjt6XY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="22.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NCHEHg"><img src="https://m.media-amazon.com/images/I/41JZuQoo5uL._SR400,400_.jpg" alt="MICHELANGELO 2 Piece Granite Non-Stick Fry Pan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NCHEHg">MICHELANGELO 2 Piece Granite Non-Stick Fry Pan Set, Marble Skillet Set with Wooden Looking Handles,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.19</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>40% off at $36.99</strong> with promo code: <strong>402W8OPW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NCHEHg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="24.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J5gzbG"><img src="https://m.media-amazon.com/images/I/71lNLCSZUfL._SR400,400_.jpg" alt="Jardineer Garden Tools Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>45 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J5gzbG">Jardineer Garden Tools Set, 8 PCS Gardening Kit with Gardening Bags, Aluminum Handheld Tools, Gardening Gifts for Woman and Man</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.78</span><span class="ori_price">$30.97</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $30.97</strong> with promo code: <strong>20DR9MIH</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 12:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J5gzbG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="18.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xi6XOw"><img src="https://m.media-amazon.com/images/I/61uj+BCXsbL._SR400,400_.jpg" alt="ZenRich New iPad Pro 11 Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xi6XOw">ZenRich New iPad Pro 11 Case,360 Degree Rotating Kickstand Dropproof Handstrap Shockproof Heavy Duty...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.60</span><span class="ori_price">$21.88</span></address>
      <p><span>Take <strong>15% off at $21.88</strong> with promo code: <strong>15BEU1PA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xi6XOw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xrdxaV"><img src="https://m.media-amazon.com/images/I/61t4J1pXamL._SR400,400_.jpg" alt="Multi Port USB Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xrdxaV">Multi Port USB Charger, 5-Port 63W Type-C PD Charger Hub, HITRENDS Desktop Charger Station with 45W Max PD Port...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $29.99</strong> with promo code: <strong>507ZHBRY</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xrdxaV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ahq0t"><img src="https://m.media-amazon.com/images/I/61WKzo7laQL._SR400,400_.jpg" alt="Wireless Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>125 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ahq0t">Wireless Car Charger, 2019 Newest 10W Qi Fast Charging Car Charger Mount Phone Holder Automatic Clamping,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.50</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>50% off at $38.99</strong> with promo code: <strong>50T32QHL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30ahq0t">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="33.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/304yUeq"><img src="https://m.media-amazon.com/images/I/717XWt7TagL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>817 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/304yUeq">Wireless Earbuds, TaoTronics Bluetooth 5.0 Headphones SoundLiberty 53 Earphones IPX7 Waterproof Smart Touch Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$33.74</span><span class="ori_price">$44.99</span></address>
      <p><span>Take <strong>25% off at $44.99</strong> with promo code: <strong>25IH1Y2P</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/304yUeq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/307AUTn"><img src="https://m.media-amazon.com/images/I/71O25WGXuBL._SR400,400_.jpg" alt="OJA OJA-Q50-black Shower Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>224 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/307AUTn">OJA OJA-Q50-black Shower Speaker, Mini Wireless Waterproof Bluetooth Speaker, 5W Driver, Suction Cup,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <p><span>Take <strong>50% off at $9.99</strong> with promo code: <strong>50ADBILN</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 03:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/307AUTn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="35.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JhbjRe"><img src="https://m.media-amazon.com/images/I/61cC0NYuB7L._SR400,400_.jpg" alt="MK7 Mechanical Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JhbjRe">1STPLAYER MK7 Mechanical Gaming Keyboard Replaceable CIY Switch, 6 Red Led Mode Effects,Wave, Ripple, Reactive,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.39</span><span class="ori_price">$58.99</span></address>
      <p><span>Take <strong>40% off at $58.99</strong> with promo code: <strong>40183VA1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JhbjRe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/302mZhf"><img src="https://m.media-amazon.com/images/I/710L9C4sGpL._SR400,400_.jpg" alt="Multimedia Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>719 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/302mZhf">Rii RK100+ Multiple Color Rainbow LED Backlit Large Size USB Wired Mechanical Feeling Multimedia Gaming Keyboard</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $18.99</strong> with promo code: <strong>40N7MWJ2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/302mZhf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="22.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/307BxMJ"><img src="https://m.media-amazon.com/images/I/71zLanrhBQL._SR400,400_.jpg" alt="Survival Gear Kits" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>455 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/307BxMJ">Survival Gear Kits 13 in 1- Outdoor Emergency SOS Survive Tool for Wilderness/Trip/Cars/Hiking/Camping gear...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.15</span><span class="ori_price">$27.69</span></address>
      <p><span>Take <strong>20% off at $27.69</strong> with promo code: <strong>20DH6U12</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/307BxMJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FPOXp0"><img src="https://m.media-amazon.com/images/I/618wjUzsUWL._SR400,400_.jpg" alt="TRSCIND Baby Pool Float" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FPOXp0">TRSCIND Baby Pool Float, Pool Floats for Kids, Toddler Pool Float with Safety Rope Swimming Float for Kids Toddlers 1-7</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.78</span><span class="ori_price">$15.55</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $15.55</strong> with promo code: <strong>508G6Q65</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FPOXp0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JoJ7vw"><img src="https://m.media-amazon.com/images/I/71RHQXBP3EL._SR400,400_.jpg" alt="MICHELANGELO 5 Quart Pasta Pot" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JoJ7vw">MICHELANGELO 5 Quart Pasta Pot Induction Ready, Stainless Steel Pasta Pot With Strainer Lid & Red Handles,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$100.00</span></address>
      <p><span>Take <strong>75% off at $100.00</strong> with promo code: <strong>75OAP6JW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JoJ7vw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="11.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/325YHoj"><img src="https://m.media-amazon.com/images/I/61wbFholsDL._SR400,400_.jpg" alt="Best Quality 100% All Natural & Organic Castor Oil" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/325YHoj">Best Quality 100% All Natural & Organic Castor Oil for Eyelashes, Eyebrows, Hair, etc...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.96</span><span class="ori_price">$15.95</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>25% off at $15.95</strong> with promo code: <strong>25VD3RGJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/325YHoj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="23.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmvvLn"><img src="https://m.media-amazon.com/images/I/512i939ntUL._SR400,400_.jpg" alt="HOTSUIT Sauna Weight Loss Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmvvLn">HOTSUIT Sauna Weight Loss Pants Sweat Leggings for Women Hot Thermo Fat Burning</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.00</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>50% off at $45.99</strong> with promo code: <strong>508XSMPG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XmvvLn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="5.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J4GTTe"><img src="https://m.media-amazon.com/images/I/71eKFcLyo+L._SR400,400_.jpg" alt="Compression Shirt" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>92 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J4GTTe">ENIDMIL Men's Long Sleeve T-Shirt Baselayer Cool Dry Skin Fit Compression Shirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.20</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>80% off at $25.99</strong> with promo code: <strong>807BTOEZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J4GTTe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/301ZVPN"><img src="https://m.media-amazon.com/images/I/61W+4wNdNWL._SR400,400_.jpg" alt="Action Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/301ZVPN">Action Camera 1080P WiFi Sports Camera 12MP Underwater Waterproof Camera with Wide-Angle Lens and Mounting Accessory Kits</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>50% off at $49.99</strong> with promo code: <strong>50NHNKSH</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/301ZVPN">Use Code at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="20" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XnqUZa"><img src="https://m.media-amazon.com/images/I/618MfUuzYWL._SR400,400_.jpg" alt="WORKPRO Screwdriver Bits Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>146 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XnqUZa">WORKPRO Screwdriver Bits Set 51-piece Slotted Phillips Torx Hex Bits and Nut Driver in Auto Opening Molded Holder Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>20% off at $17.99</strong> with promo code: <strong>20415YHV</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XnqUZa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nt58ih"><img src="https://m.media-amazon.com/images/I/61WFOTghDsL._SR400,400_.jpg" alt="LED Flashlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,818 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nt58ih">LED Flashlight, RockBirds 7W Mini Flashlight 300 Lumens with 3 Modes (2 Pack)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$11.98</span></address>
      <p><span>Take <strong>50% off at $11.98</strong> with promo code: <strong>50LN3IEF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 02:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nt58ih">Use Code at Amazon</a></div>
</div>

