blog_01_amz_prime<div class="card clearfix" data-score="70" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30X39V4"><img src="https://m.media-amazon.com/images/I/71+vypuXprL._SR400,400_.jpg" alt="Cell Phone Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,533 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30X39V4">Cell Phone Stand, LOBKIN Metal PhoneTablet Cradle, Holder, Stand,for iPhone 8 X 7 6 6s Plus 5 5s 5c Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">7087D8V2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $23.99</strong> with promo code: <strong class="m_codes">7087D8V2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30X39V4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="39.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SQrnxL"><img src="https://m.media-amazon.com/images/I/51OgK3IGMlL._SR400,400_.jpg" alt="Car Dash Cam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>77 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SQrnxL">Car Dash Cam, Dashboard Camera Recorder with 32GB SD Card, MELCAM FHD 1080P, 3" LCD Screen, Driving Recorder...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.48</span><span class="ori_price">$140.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">727F29RX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>72% off at $140.99</strong> with promo code: <strong class="m_codes">727F29RX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SQrnxL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YgWC64"><img src="https://m.media-amazon.com/images/I/61hmtBg+NFL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>133 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YgWC64">Wireless Earbuds, Latest Bluetooth 5.0 True Wireless Bluetooth Headphones Wireless Earbuds, 3D Stereo Sound Wireless...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50OFDE8Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50OFDE8Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YgWC64">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="13.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YlkF3U"><img src="https://m.media-amazon.com/images/I/71laxcFRGZL._SR400,400_.jpg" alt="Janazan Waterproof iPhone XR Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YlkF3U">Janazan Waterproof iPhone XR Case, Full Sealed Underwater Protective Cover, Waterproof Shockproof Snowproof Dirtproof ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.41</span><span class="ori_price">$17.88</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">25NEIMBB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $17.88</strong> with promo code: <strong class="m_codes">25NEIMBB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YlkF3U">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SG2HYn"><img src="https://m.media-amazon.com/images/I/61pSQm2A0AL._SR400,400_.jpg" alt="Moallia Phone Charger Cables" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>306 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SG2HYn">Moallia Phone Charger Cables, 2 Pack 6FT Extra Long Nylon Braided USB Fast Charging & Syncing Cord Compatible with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span></address>
      <textarea readonly="readonly" class="code_area">50GZTU7G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50GZTU7G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SG2HYn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YmD6F9"><img src="https://m.media-amazon.com/images/I/5170jpJU5nL._SR400,400_.jpg" alt="20000mAh Portable Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>180 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YmD6F9">20000mAh Portable Charger, Quick Charge 3.0 Dual Input Output Typec-C Port with LCD Display High Capacity Power Bank,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$23.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">401WZXHN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $23.99</strong> with promo code: <strong class="m_codes">401WZXHN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YmD6F9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JVbSS1"><img src="https://m.media-amazon.com/images/I/811OanPpIzL._SR400,400_.jpg" alt="OMOTON Detachable Keyboard Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JVbSS1">OMOTON Detachable Keyboard Case for New iPad 9.7” 2018&2017, iPad Pro 9.7, iPad Air 1 / Air 2 9.7",...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.00</span><span class="ori_price">$41.99</span></address>
      <textarea readonly="readonly" class="code_area">50NYA3SN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $41.99</strong> with promo code: <strong class="m_codes">50NYA3SN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 06:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JVbSS1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Zaeom"><img src="https://m.media-amazon.com/images/I/61b4IwnD-BL._SR400,400_.jpg" alt="Water Flosser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Zaeom">Water Flosser, Kealive Oral Irrigator with 3 Modes and 4 Tips, Portable Cordless Water Flosser with IPX7 Waterproof for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">35VQUZ4S</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $39.99</strong> with promo code: <strong class="m_codes">35VQUZ4S</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30Zaeom">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="8.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SQteTf"><img src="https://m.media-amazon.com/images/I/71iJB-2eG9L._SR400,400_.jpg" alt="Dental Tools" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>58 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SQteTf">Dental Tools Stainless Steel Dental Pick Dental Floss Dental Hygiene Tool Set Tooth Scraper Plaque Tartar Remover Dental ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.25</span><span class="ori_price">$11.79</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30BWSF9P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $11.79</strong> with promo code: <strong class="m_codes">30BWSF9P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SQteTf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SHg76q"><img src="https://m.media-amazon.com/images/I/6190bb35IVL._SR400,400_.jpg" alt="BEAKEY Makeup Brush Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,265 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SHg76q">BEAKEY Makeup Brush Set, Premium Synthetic Kabuki Foundation Face Powder Blush Eyeshadow Brushes Makeup...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">4544YUEJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $9.99</strong> with promo code: <strong class="m_codes">4544YUEJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SHg76q">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/310WTeX"><img src="https://m.media-amazon.com/images/I/71YXVukwZGL._SR400,400_.jpg" alt="KeeQii 60 Minute Visual Timer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/310WTeX">KeeQii 60 Minute Visual Timer Silence Countdown Timer Time Management Tool for Classroom Teaching or Meeting...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.60</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">608VPDPW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $18.99</strong> with promo code: <strong class="m_codes">608VPDPW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/310WTeX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32TJtmY"><img src="https://m.media-amazon.com/images/I/61wJTwfjghL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>773 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32TJtmY">Bluetooth Headphones, HSPRO Wireless Earbuds, IPX7 Waterproof Sports Headphones Bluetooth Earbuds,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40P24M94</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">40P24M94</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32TJtmY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YiNldF"><img src="https://m.media-amazon.com/images/I/81CqgO9uKPL._SR400,400_.jpg" alt="Erasable Reusable Hardcover Smart Notebook" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YiNldF">Erasable Reusable Hardcover Smart Notebook APP Storage Notepad(PUA5-6.6 X 9 inch Brown)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.98</span></address>
      <textarea readonly="readonly" class="code_area">50RKQMS2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.98</strong> with promo code: <strong class="m_codes">50RKQMS2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YiNldF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32T5F0r"><img src="https://m.media-amazon.com/images/I/71Uma9IvCIL._SR400,400_.jpg" alt="KUYANG 4 Set Packing Cubes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32T5F0r">KUYANG 4 Set Packing Cubes, 3 Various Sizes Travel Luggage Packing Organizers with Portable Dust-proof Waterproof Shoe Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">20FRNU21</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $17.99</strong> with promo code: <strong class="m_codes">20FRNU21</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32T5F0r">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32SxvKn"><img src="https://m.media-amazon.com/images/I/41j-fHYyW7L._SR400,400_.jpg" alt="13 Inch Dimmable LED Flush Mount Ceiling Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>22 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32SxvKn">13 Inch Dimmable LED Flush Mount Ceiling Light, 15W(100W Equivalent), 4000k Natural White, 1200Lumens, 110V,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">4097NJ2D</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">4097NJ2D</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32SxvKn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LH36ta"><img src="https://m.media-amazon.com/images/I/61DJyNIjWSL._SR400,400_.jpg" alt="Sleeve Loose Pullover Sweater Jumper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LH36ta">FISACE Womens Knitted One Shoulder Batwing Sleeve Loose Pullover Sweater Jumper</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">60K1IVB2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $29.99</strong> with promo code: <strong class="m_codes">60K1IVB2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LH36ta">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="23.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SMiTrm"><img src="https://m.media-amazon.com/images/I/41c3+i+seWL._SR400,400_.jpg" alt="Horse Rocking Rider" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SMiTrm">HollyHOME Wooden Rocking Horse Rocking Rider Ride On Horse Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.00</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">50EPZPQ1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $45.99</strong> with promo code: <strong class="m_codes">50EPZPQ1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SMiTrm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SFEWjm"><img src="https://m.media-amazon.com/images/I/61C1gRrpufL._SR400,400_.jpg" alt="G-FAVOR Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SFEWjm">G-FAVOR Laptop Backpack, Business Travel Backpack with USB Charging Port for Women Men, College School Bag Computer Backpacks,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$38.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40F1NUXY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $38.99</strong> with promo code: <strong class="m_codes">40F1NUXY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SFEWjm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="11.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YgWLWX"><img src="https://m.media-amazon.com/images/I/61ZQoGlNfsL._SR400,400_.jpg" alt="Youlerbu 35L&70L Foldable Travel Duffel Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>98 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YgWLWX">Youlerbu 35L&70L Foldable Travel Duffel Bag Lightweight Sports Gym Weekender Bag for Men Women</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.04</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">157H8XV9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $12.99</strong> with promo code: <strong class="m_codes">157H8XV9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YgWLWX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30YFJ1H"><img src="https://m.media-amazon.com/images/I/81EiwhDKEZL._SR400,400_.jpg" alt="YOURSMART Beard Care Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30YFJ1H">YOURSMART Beard Care Kit - Mens Beard Grooming Set Includes Beard Oil, Beard Wax, Mustache Scissors,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50E4PS8T</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50E4PS8T</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30YFJ1H">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30XPFIU"><img src="https://m.media-amazon.com/images/I/71-+bCaOnqL._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth 5.0 Jecoo True Wireless Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>67 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30XPFIU">Wireless Earbuds Bluetooth 5.0 Jecoo True Wireless Earphones Stereo Sound Auto-Pairing Sweatproof Bluetooth Headphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">40M3BNUW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40M3BNUW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30XPFIU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHlnGJ"><img src="https://m.media-amazon.com/images/I/614RAtutHoL._SR400,400_.jpg" alt="Upgrade LED Outdoor Spotlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>201 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHlnGJ">Upgrade LED Outdoor Spotlight, Greenclick 4 Pack 12V Low Voltage Landscape Lighting Warm White IP65 Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40ZHMKD1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">40ZHMKD1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LHlnGJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JUeNus"><img src="https://m.media-amazon.com/images/I/71q3XN0DbsL._SR400,400_.jpg" alt="24 Organic & Natural Bath Bombs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>923 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JUeNus">24 Organic & Natural Bath Bombs, Handmade Bubble Bath Bomb Gift Set, Rich in Essential Oil, Shea Butter, Coconut Oil,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.75</span><span class="ori_price">$24.69</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">20VI1MOH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $24.69</strong> with promo code: <strong class="m_codes">20VI1MOH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 06, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JUeNus">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="52.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEHtJT"><img src="https://m.media-amazon.com/images/I/61ODBY7X4HL._SR400,400_.jpg" alt="CONQUECO Portable Coffee Espresso Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEHtJT">CONQUECO Portable Coffee Espresso Maker Travel Coffee Maker K-Cup Capsule and Ground Portable Coffee Machine Perfect...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$52.79</span><span class="ori_price">$59.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">12FGQLBN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>12% off at $Origianl_price</strong> with promo code: <strong class="m_codes">12FGQLBN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LEHtJT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="29.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32Pvnmt"><img src="https://m.media-amazon.com/images/I/71yHo5MULJL._SR400,400_.jpg" alt="Rustic End Coffee Table" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32Pvnmt">Rustic End Coffee Table, Wood Look Sofa End Side Table, Aluminum Frame Side Cocktail Table for Living Room Outdoor and Office,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.70</span><span class="ori_price">$99.00</span></address>
      <textarea readonly="readonly" class="code_area">7011GAYK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $99.00</strong> with promo code: <strong class="m_codes">7011GAYK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32Pvnmt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yqkjgk"><img src="https://m.media-amazon.com/images/I/616IzF1q3LL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>258 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yqkjgk">Laptop Backpack, Business Computer Bag Waterproof Travel Backpack College School Backpack for Men Women with USB Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.49</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">50PVYAGV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $28.99</strong> with promo code: <strong class="m_codes">50PVYAGV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yqkjgk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JT5tXx"><img src="https://m.media-amazon.com/images/I/51Fx9utyGlL._SR400,400_.jpg" alt="DADYPET Electric Pet Dog Nail Grinder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JT5tXx">DADYPET Electric Pet Dog Nail Grinder Quiet Auto Cat Dog Nail Grooming File Professional Rechargeable Paws Grinder ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.40</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">607RC5WY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $25.99</strong> with promo code: <strong class="m_codes">607RC5WY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JT5tXx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yf1j5U"><img src="https://m.media-amazon.com/images/I/61fExNRrfaL._SR400,400_.jpg" alt="ZHMA 2 Pack 100W LED Flood Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>120 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yf1j5U">ZHMA 2 Pack 100W LED Flood Light, Super Bright Work Lights, 9000ml, 6500k White Light Bulbs, IP66 Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.00</span><span class="ori_price">$57.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">501U61ZQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $57.99</strong> with promo code: <strong class="m_codes">501U61ZQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yf1j5U">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="14.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJktcA"><img src="https://m.media-amazon.com/images/I/71ywezBXvBL._SR400,400_.jpg" alt="Handbag Hobo Women Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJktcA">Handbag Hobo Women Bag Roomy Street Girls Top Handle Bag Fashion PU Tote Satchel Shoulder Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.70</span><span class="ori_price">$48.99</span></address>
      <textarea readonly="readonly" class="code_area">70W9PDS8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $48.99</strong> with promo code: <strong class="m_codes">70W9PDS8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LJktcA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJ2WS2"><img src="https://m.media-amazon.com/images/I/71yVYqQgbML._SR400,400_.jpg" alt="Canvas Messenger Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>137 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJ2WS2">S-ZONE Canvas Messenger Bag Genuine Leather Trim Travel Briefcase Satchel Shoulder Bag 15.6-inch Laptop Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">60BUE8KE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $39.99</strong> with promo code: <strong class="m_codes">60BUE8KE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LJ2WS2">Use Code at Amazon</a></div>
</div>


