<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SpDvVS"><img src="https://m.media-amazon.com/images/I/51EYo7Q+Y-L._SR400,400_.jpg" alt="CAMEL CROWN Women's Jogger Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>129 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SpDvVS">CAMEL CROWN Women's Jogger Pants with Pockets Soft Drawstring Sweatpants for Gym Running Jogging Lounging</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">50QI2WJD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.99</strong> with promo code: <strong class="m_codes">50QI2WJD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SpDvVS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="11.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSh7L7"><img src="https://m.media-amazon.com/images/I/71M0Jk9LkgL._SR400,400_.jpg" alt="Spring Assisted Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSh7L7">Spring Assisted Knife -Pocket Folding Knife - Military Style - Boy Scouts Knife - Tactical Knife - Good Survival...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.70</span><span class="ori_price">$38.99</span></address>
      <textarea readonly="readonly" class="code_area">704339V6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $38.99</strong> with promo code: <strong class="m_codes">704339V6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XSh7L7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="26.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32yF3BH"><img src="https://m.media-amazon.com/images/I/71hKl0327yL._SR400,400_.jpg" alt="Aitere 2500°F Fireproof Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32yF3BH">Aitere 2500°F Fireproof Bag (15"x12"x5" Inch), 2019 New-Version Fireproof Document & Money Bags - Non Itchy,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.90</span><span class="ori_price">$38.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">31AITERE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>31% off at $38.99</strong> with promo code: <strong class="m_codes">31AITERE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32yF3BH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32AEg3f"><img src="https://m.media-amazon.com/images/I/713NSv8poPL._SR400,400_.jpg" alt="Flyby Hangover Cure & Prevention Pills" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,937 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32AEg3f">Flyby Hangover Cure & Prevention Pills (30 Capsules) | Dihydromyricetin (DHM), Chlorophyll, Prickly Pear,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">20PRIMES</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $17.99</strong> with promo code: <strong class="m_codes">20PRIMES</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32AEg3f">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="31.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4LZTX"><img src="https://m.media-amazon.com/images/I/814TunoPDCL._SR400,400_.jpg" alt="BESTEK Power Strip Tower" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>601 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4LZTX">BESTEK Power Strip Tower 8-Outlet and 6 Smart USB Charging Ports 1500 Joules Surge Protector with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">20W6GPUB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $39.99</strong> with promo code: <strong class="m_codes">20W6GPUB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y4LZTX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="75.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWthJ8"><img src="https://m.media-amazon.com/images/I/61IK9zStb-L._SR400,400_.jpg" alt="Air Fryer Willsence Hot Air Fryer Oven" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>115 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWthJ8">Air Fryer Willsence Hot Air Fryer Oven, 10 Cooking Presets with Led Sensor Touch, 3.7Qt Air Oven Auto Off,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$75.64</span><span class="ori_price">$88.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">15ZAAEN9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $88.99</strong> with promo code: <strong class="m_codes">15ZAAEN9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JWthJ8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XPJVDP"><img src="https://m.media-amazon.com/images/I/81-3naXrXqL._SR400,400_.jpg" alt="Tempt Me Women Two Piece Swimsuit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,184 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XPJVDP">Tempt Me Women Two Piece Swimsuit Off Shoulder Ruffled Flounce Crop Top Bikini with Cutout Bottom Set</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">40SP97EU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $27.99</strong> with promo code: <strong class="m_codes">40SP97EU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XPJVDP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SmgHGA"><img src="https://m.media-amazon.com/images/I/510QJJzBpDL._SR400,400_.jpg" alt="Docamor Smart Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SmgHGA">Docamor Smart Plug - Dual WiFi Smart Outlet Compatible with Google Home & IFTTT, Alexa Echo - Mini Smart Socket,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.99</span><span class="ori_price">$31.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">5089BLM7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $31.99</strong> with promo code: <strong class="m_codes">5089BLM7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SmgHGA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="22.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XP2zeY"><img src="https://m.media-amazon.com/images/I/61+w+XNi4lL._SR400,400_.jpg" alt="Comfee’ MK-17G01B-E5 Electric Kettle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>228 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XP2zeY">Comfee’ MK-17G01B-E5 Electric Kettle (BPA Free), 1.7L Black Fast Boiling Glass Water Boiler Hot Water Kettle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.29</span><span class="ori_price">$44.58</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50BYMZPV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $44.58</strong> with promo code: <strong class="m_codes">50BYMZPV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XP2zeY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="43.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XPBEjq"><img src="https://images-na.ssl-images-amazon.com/images/I/71Ffmoxwz8L._SX522_.jpg" alt="Musitrend Record Player Vinyl Turntable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>98 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XPBEjq">Musitrend Record Player Vinyl Turntable with Speakers, 3 Speed Suitcase Record Player Support Vinyl-to-MP3 Recording,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$43.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">1259PM8L</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>12% off at $49.99</strong> with promo code: <strong class="m_codes">1259PM8L</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XPBEjq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sn99Uh"><img src="https://m.media-amazon.com/images/I/51pzePyLfyL._SR400,400_.jpg" alt="Phone Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>186 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Sn99Uh">Phone Holder for Car FLOVEME Universal Long Neck Dashboard & Windshield with Washable Suction Pad Car Phone Mount...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50FLM002</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">50FLM002</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Sn99Uh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ycrs3K"><img src="https://m.media-amazon.com/images/I/61HQhyDLfjL._SR400,400_.jpg" alt="IP68 Waterproof Watch Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>43 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ycrs3K">IP68 Waterproof Watch Case for 42mm Apple Watch Series 3 & 2 Heavy Duty Shockproof Impact Resistant iWatch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40B7BHDX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.99</strong> with promo code: <strong class="m_codes">40B7BHDX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ycrs3K">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWnu00"><img src="https://m.media-amazon.com/images/I/61BoaGK+HsL._SR400,400_.jpg" alt="AINOPE Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>128 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWnu00">AINOPE Case Compatible with iPhone XR Case, [Crystal Clear] Shock Absorption with 4 Corners Protection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50PJ8PKL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.99</strong> with promo code: <strong class="m_codes">50PJ8PKL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XWnu00">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SsyETZ"><img src="https://m.media-amazon.com/images/I/81c7tbFM76L._SR400,400_.jpg" alt="Tigernu Laptop Backpack Business Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>167 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SsyETZ">Tigernu Laptop Backpack Business Backpack with USB Charging Port Computer Backpack with Laptop Compartment...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.00</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">50USE424</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $33.99</strong> with promo code: <strong class="m_codes">50USE424</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SsyETZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lvm4CX"><img src="https://m.media-amazon.com/images/I/61YL1GNjySL._SR400,400_.jpg" alt="Selore USB C to HDMI Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lvm4CX">Selore USB C to HDMI Cable Adapter Compatible for 2017 Macbook Pro,Dell XPS 12/13/15,Samsung s8 and More...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.84</span><span class="ori_price">$15.69</span></address>
      <textarea readonly="readonly" class="code_area">50ODLPPD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.69</strong> with promo code: <strong class="m_codes">50ODLPPD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lvm4CX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JOrMfU"><img src="https://m.media-amazon.com/images/I/6146VzV43iL._SR400,400_.jpg" alt="Lightning to USB Camera Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>148 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JOrMfU">Lightning to USB Camera Adapter, YIKU 4 in 1 SD/TF Card Reader, Trail Game Camera Card Viewer Reader, Micro SD Card...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.40</span><span class="ori_price">$15.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">60D8XC4M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $15.99</strong> with promo code: <strong class="m_codes">60D8XC4M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JOrMfU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32DWocE"><img src="https://m.media-amazon.com/images/I/61xCXKLJ7vL._SR400,400_.jpg" alt="ZLOT Rechargeable Ergonomic Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32DWocE">ZLOT Rechargeable Ergonomic Mouse, 2.4G USB Optical LED Vertical Wireless Mice with 3 Adjustable DPI 1000/1600/2400...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30JDLI9M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $18.99</strong> with promo code: <strong class="m_codes">30JDLI9M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32DWocE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="37.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JOBa32"><img src="https://m.media-amazon.com/images/I/71vGC2WCf7L._SR400,400_.jpg" alt="YOREPEK Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,189 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JOBa32">YOREPEK Travel Laptop Backpack, Extra Large College School Backpack for Men and Women with USB Charging Port,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$37.49</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">25IL5PAU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $49.99</strong> with promo code: <strong class="m_codes">25IL5PAU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JOBa32">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JW2gFo"><img src="https://m.media-amazon.com/images/I/91fawoTfEIL._SR400,400_.jpg" alt="Beastron AULA Sapphire Mechanical Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>93 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JW2gFo">Beastron AULA Sapphire Mechanical Keyboard with Blue Switches, Anti-ghosting Keys-Ergonomic Keyboard Gaming...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.97</span><span class="ori_price">$39.95</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40D7SCPP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.95</strong> with promo code: <strong class="m_codes">40D7SCPP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JW2gFo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="23.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XXJ6E5"><img src="https://m.media-amazon.com/images/I/61rkL3+GQWL._SR400,400_.jpg" alt="USB C Hub Multiport Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>549 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XXJ6E5">USB C Hub Multiport Adapter with 4kHDMI Output, 1000M RJ45 Gigabit Ethernet, 2USB3.0 Ports,60W Power Delivery,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.00</span><span class="ori_price">$45.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50RF8QZD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $45.99</strong> with promo code: <strong class="m_codes">50RF8QZD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XXJ6E5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="28.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xUt2IL"><img src="https://m.media-amazon.com/images/I/61xy6tSJ4aL._SR400,400_.jpg" alt="Bluetooth 5.0 Deep Bass Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>103 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xUt2IL">Bluetooth 5.0 Deep Bass Wireless Earbuds, JellyBlue LT39 Sport Wireless Earphones with HD Sound,Sweat Proof,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.19</span><span class="ori_price">$46.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">401LOPSU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $46.99</strong> with promo code: <strong class="m_codes">401LOPSU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xUt2IL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="62.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSc4u6"><img src="https://m.media-amazon.com/images/I/71qaj7AS-1L._SR400,400_.jpg" alt="Divoom Tivoo Retro Bluetooth Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSc4u6">Divoom Tivoo Retro Bluetooth Speaker - Pixel Art DIY Box, RGB Programmable 16X16 LED, Support Android & iOS;...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$62.91</span><span class="ori_price">$69.90</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">10VWJTIX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $69.90</strong> with promo code: <strong class="m_codes">10VWJTIX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XSc4u6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SsDW1N"><img src="https://m.media-amazon.com/images/I/51tv9zxRNML._SR400,400_.jpg" alt="Ansbell Sunrise Alarm Clock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SsDW1N">Ansbell Sunrise Alarm Clock, Wake Up Light LED Digital Clock for Bedrooms with FM Radio, Snooze Function...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">50ANSBELL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.99</strong> with promo code: <strong class="m_codes">50ANSBELL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SsDW1N">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSje1a"><img src="https://m.media-amazon.com/images/I/61cQR4ZpS5L._SR400,400_.jpg" alt="Picun Bluetooth Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSje1a">Picun Bluetooth Earphones 10 Hrs Playtime IPX6 Waterproof Magnetic Bluetooth Earbuds CSR Stereo Bluetooth Sports...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">25VXTKOV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $23.99</strong> with promo code: <strong class="m_codes">25VXTKOV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XSje1a">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSpwOw"><img src="https://m.media-amazon.com/images/I/61011jo5NdL._SR400,400_.jpg" alt="Wsiiroon WiFi Smart Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>137 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSpwOw">Wsiiroon WiFi Smart Plug - Best Wireless Outlet Plug for Alexa, Google Home - You Can Turn The Light On/Off from...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">60DZR5KQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $34.99</strong> with promo code: <strong class="m_codes">60DZR5KQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XSpwOw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YeTP1d"><img src="https://m.media-amazon.com/images/I/61fe0p180bL._SR400,400_.jpg" alt="Docamor 100% Waterproof Mattress Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YeTP1d">Docamor 100% Waterproof Mattress Protector, Hypoallergenic Mattress Cover with Premium Cotton Terry Surface...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">508TMMI3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.99</strong> with promo code: <strong class="m_codes">508TMMI3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YeTP1d">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="6.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SsIBRl"><img src="https://m.media-amazon.com/images/I/71uQWzMpQjL._SR400,400_.jpg" alt="Maymii•Home Himalayan Salt Night Light Lights Lamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SsIBRl">Maymii•Home Himalayan Salt Night Light Lights Lamp, Sea Salt Crystal Chunk in Unique Floral Design Lantern Basket,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.28</span><span class="ori_price">$13.95</span></address>
      <textarea readonly="readonly" class="code_area">55PBFR9J</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $13.95</strong> with promo code: <strong class="m_codes">55PBFR9J</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SsIBRl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LAHxdR"><img src="https://m.media-amazon.com/images/I/41KnytdtdXL._SR400,400_.jpg" alt="Travel Jewelry Storage Cases" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>289 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LAHxdR">BAGSMART Travel Jewelry Storage Cases Jewelry Organizer Bag for Necklace, Earrings, Rings, Bracelet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">40BM0023</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">40BM0023</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LAHxdR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="49.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SmOSy7"><img src="https://m.media-amazon.com/images/I/616cSkiFFmL._SR400,400_.jpg" alt="Hollywood Lighted Vanity Makeup Mirror" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SmOSy7">Hollywood Lighted Vanity Makeup Mirror, Light-up Professional Mirror with storage,Multiple Color Modes,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.39</span><span class="ori_price">$75.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">359ZOULL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $75.99</strong> with promo code: <strong class="m_codes">359ZOULL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SmOSy7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JJU6ji"><img src="https://m.media-amazon.com/images/I/71uSUxv0GvL._SR400,400_.jpg" alt="Gogloo Foot Rest Under Desk" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JJU6ji">Gogloo Foot Rest Under Desk | Foot Stool for Work at Office and Home(Footrest for Desk), Ergonomic Design,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">606BXLU6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $26.99</strong> with promo code: <strong class="m_codes">606BXLU6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JJU6ji">Use Code at Amazon</a></div>
</div>


