<div class="card clearfix" data-score="60" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SJldPH"><img src="https://m.media-amazon.com/images/I/51GcN350mOL._SR400,400_.jpg" alt="Cute Butter Dish with Lid" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>568 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SJldPH">Sweese 3169 Porcelain Cute Butter Dish with Lid, Perfect for East/West Butter, Steel Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">60BUTTER</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $17.99</strong> with promo code: <strong class="m_codes">60BUTTER</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SJldPH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="95.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ycUm5g"><img src="https://m.media-amazon.com/images/I/71SGwqfGCrL._SR400,400_.jpg" alt="Mirror Dash Cam Backup Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>198 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ycUm5g">Mirror Dash Cam Backup Camera 9.88" Full HD Touch Screen Car Dash Camera Stream Media Dual Lens 170° 1080P Front and...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$95.24</span><span class="ori_price">$126.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">25ZFQQGD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $126.99</strong> with promo code: <strong class="m_codes">25ZFQQGD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ycUm5g">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ye01YG"><img src="https://m.media-amazon.com/images/I/619u0uVFIBL._SR400,400_.jpg" alt="CAMEL CROWN Womens Water Sports Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ye01YG">CAMEL CROWN Womens Water Sports Shoes Barefoot Slip-on Loafers Summer Outdoor Quick-Dry Aqua Socks for Beach Swim Surf Yoga Exercise</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span></address>
      <textarea readonly="readonly" class="code_area">50415O6A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50415O6A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ye01YG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LIIiBy"><img src="https://m.media-amazon.com/images/I/616Ely-GV8L._SR400,400_.jpg" alt="TAIL UP Dog Harness" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>323 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LIIiBy">TAIL UP Dog Harness - Adjustable No-Pull Reflective Pet Harness Mesh Vest, Easy On/Off Mesh Harness Small Medium Large Dogs...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.40</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">60TTVKZP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $15.99</strong> with promo code: <strong class="m_codes">60TTVKZP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LIIiBy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3134XMf"><img src="https://m.media-amazon.com/images/I/81UfLPVbhkL._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3134XMf">Travel Laptop Backpack, College Backpack,Student Backpack with Computer Bag for Women & Men Fits 15.6 Inch Laptop and Notebook（Gray）</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50C8EWJB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50C8EWJB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3134XMf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ZUKAw"><img src="https://m.media-amazon.com/images/I/51rDDa5wHKL._SR400,400_.jpg" alt="Manfiter Bluetooth FM Transmitter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ZUKAw">Manfiter Bluetooth FM Transmitter Wireless Radio Adapter Car Kit Bluetooth 4.2 Transmitter Audio for Car,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.59</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">406V3RK1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $15.99</strong> with promo code: <strong class="m_codes">406V3RK1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30ZUKAw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWGnaf"><img src="https://m.media-amazon.com/images/I/71M5PEPPe-L._SR400,400_.jpg" alt="Fixget Inflatable Pool Floats" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWGnaf">Fixget Inflatable Pool Floats, Newest Unicorn Giant Pool Float Toys with Valves, Large Rideable Summer Beach Swimming...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50QX5RE3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50QX5RE3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JWGnaf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yf9TRQ"><img src="https://m.media-amazon.com/images/I/71Vm6cZmHdL._SR400,400_.jpg" alt="CYZ Men's 3-PK Cotton Stretch Boxer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>107 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yf9TRQ">CYZ Men's 3-PK Cotton Stretch Boxer Briefs for Men Pack of 3</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50UNDERWEAR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50UNDERWEAR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yf9TRQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SHRVB0"><img src="https://m.media-amazon.com/images/I/61MSjr-34cL._SR400,400_.jpg" alt="Fatmoon Automatic Clamping Car Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SHRVB0">Fatmoon Automatic Clamping Car Phone Mount Wireless Charger Adjustable Gravity Air Vent Phone Holder ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.59</span><span class="ori_price">$23.98</span></address>
      <textarea readonly="readonly" class="code_area">60LLHZ5O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $23.98</strong> with promo code: <strong class="m_codes">60LLHZ5O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SHRVB0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JV2rly"><img src="https://m.media-amazon.com/images/I/51kgrZ+OiuL._SR400,400_.jpg" alt="BINLEFOIS Portable Cool Mist.." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JV2rly">BINLEFOIS Portable Cool Mist Vaporizer and Handheld Inhaler Machine, Kids Adults and Daily Home Use</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.93</span><span class="ori_price">$33.85</span></address>
      <textarea readonly="readonly" class="code_area">509CTX8O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $33.85</strong> with promo code: <strong class="m_codes">509CTX8O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JV2rly">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JUDVkG"><img src="https://m.media-amazon.com/images/I/715saq2Ld2L._SR400,400_.jpg" alt="CLOFY Combo Shower Head" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JUDVkG">CLOFY 5'' Full-Chrome 24-Setting Combo Shower Head, High Pressure Separetely or Together Hand Held Shower Combo with Hose and Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">55OQQ9EP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $39.99</strong> with promo code: <strong class="m_codes">55OQQ9EP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JUDVkG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JUYLjV"><img src="https://m.media-amazon.com/images/I/71633ZZMOvL._SR400,400_.jpg" alt="Hair Cutting Scissors" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>223 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JUYLjV">Hair Cutting Scissors/Thinning Shears/Professional Barber/Salon Razor Edge Tools set/Mustache Scissors and Barber Scissors...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.19</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30AL4LTI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $15.99</strong> with promo code: <strong class="m_codes">30AL4LTI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JUYLjV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LM8wCX"><img src="https://m.media-amazon.com/images/I/71JdfDmriNL._SR400,400_.jpg" alt="Lemi Shine Dishwashing Detergent" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>219 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LM8wCX">Lemi Shine Dishwashing Detergent, 42 Pac of Powder & Gel Combo, 20.55 oz, Powered by 100% Natural Citric Extracts,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.59</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">20HELLOFRESH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $16.99</strong> with promo code: <strong class="m_codes">20HELLOFRESH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LM8wCX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JUXmdc"><img src="https://m.media-amazon.com/images/I/811RbqbJFFL._SR400,400_.jpg" alt="CAMEL CROWN Microfiber Cooling Towel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JUXmdc">CAMEL CROWN Microfiber Cooling Towel Quick Dry Travel Towel, 3 Size Travel Sports Towel, Absorbent Towel ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.20</span><span class="ori_price">$20.49</span></address>
      <textarea readonly="readonly" class="code_area">60AQ7ORQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $20.49</strong> with promo code: <strong class="m_codes">60AQ7ORQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JUXmdc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Yi6q4"><img src="https://m.media-amazon.com/images/I/912gsoQ4owL._SR400,400_.jpg" alt="CYZ Mens Cotton Stretch V-Neck" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>120 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Yi6q4">CYZ Mens Cotton Stretch V-Neck Undershirts Fitted T-Shirt 2-PK</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">50UNDERSHIRT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50UNDERSHIRT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30Yi6q4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YkcNzr"><img src="https://m.media-amazon.com/images/I/51AdEUb31yL._SR400,400_.jpg" alt="Livhò Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>196 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YkcNzr">Livhò Blue Light Blocking Glasses, UV400 Transparent Lens,Phone Computer Reading Glasses,Anti Eyestrain/Anti Ray,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$19.98</span></address>
      <textarea readonly="readonly" class="code_area">55OFFPGO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $19.98</strong> with promo code: <strong class="m_codes">55OFFPGO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 10:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YkcNzr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJHoo9"><img src="https://m.media-amazon.com/images/I/71QKvPbBR2L._SR400,400_.jpg" alt="LCD Writing Tablet 8.5 Inch Magnetic Board" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>154 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJHoo9">LCD Writing Tablet 8.5 Inch Magnetic Board Fridge Office Memo Boards White Board LCD Notepad (Pink)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.49</span><span class="ori_price">$12.98</span></address>
      <textarea readonly="readonly" class="code_area">50611X6I</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.98</strong> with promo code: <strong class="m_codes">50611X6I</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LJHoo9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yq0Ece"><img src="https://m.media-amazon.com/images/I/61Tu1pSfrVL._SR400,400_.jpg" alt="MAJESTIC PURE Hyaluronic Acid Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>92 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yq0Ece">MAJESTIC PURE Hyaluronic Acid Serum for Face - Best Advanced Formula for Skin Brightening, Hydration and Facial Moisturizing...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.75</span><span class="ori_price">$21.50</span></address>
      <textarea readonly="readonly" class="code_area">50FMAB55</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $21.50</strong> with promo code: <strong class="m_codes">50FMAB55</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yq0Ece">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JZIcU9"><img src="https://m.media-amazon.com/images/I/61yEbBzI5SL._SR400,400_.jpg" alt="Retinol Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JZIcU9">Retinol Serum, BREYLEE Anti Aging Anti Wrinkle Face Serum Vitamin A Retinol with Natural Ingredients for Skin Care Eye ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$11.97</span></address>
      <textarea readonly="readonly" class="code_area">508VD7VN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.97</strong> with promo code: <strong class="m_codes">508VD7VN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JZIcU9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="4.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SI1JuU"><img src="https://m.media-amazon.com/images/I/61TeJ5VsbbL._SR400,400_.jpg" alt="30% Vitamin C Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>130 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SI1JuU">30% Vitamin C Serum with Hyaluronic Acid & VE for Face,Neck and Eye Treatment Serums | Anti-Aging,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.19</span><span class="ori_price">$6.99</span></address>
      <textarea readonly="readonly" class="code_area">40C3ZHJ1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $6.99</strong> with promo code: <strong class="m_codes">40C3ZHJ1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SI1JuU">Use Code at Amazon</a></div>
</div>
