<div class="card clearfix" data-score="15" data-price="21.21">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kg0cPL"><img src="https://m.media-amazon.com/images/I/51ptTO-KWXL._SR400,400_.jpg" alt="TreeActiv Cystic Acne Spot Treatment " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,027 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kg0cPL">TreeActiv Cystic Acne Spot Treatment | Best Extra Strength Fast Acting Formula for Clearing Severe Acne...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.21</span><span class="ori_price">$24.95</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $24.95</strong> with promo code: <strong>15OX8LLR</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2kg0cPL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="27.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lNvpdH"><img src="https://m.media-amazon.com/images/I/51V0CENbbjL._SR400,400_.jpg" alt="JINRI 1875W Professional Salon Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>559 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lNvpdH">JINRI 1875W Professional Salon Hair Dryer Ionic Infrared Blow Hair Dryer With Diffuser & Concentrator Attachments for Curly Hair</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.00</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>70% off at $89.99</strong> with promo code: <strong>70TV7CGN</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lNvpdH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lk19aa"><img src="https://m.media-amazon.com/images/I/81WE+OQmkAL._SR400,400_.jpg" alt="100% Pure Rosehip Seed Oil For Face" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lk19aa">100% Pure Rosehip Seed Oil For Face, Nails, Hair and Skin- 100% Pure & Natural Certified Organic...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>503RADM1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lk19aa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kg1Fpo"><img src="https://m.media-amazon.com/images/I/61v6C3YTDFL._SR400,400_.jpg" alt="V Line Mask Double chin mask" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kg1Fpo">V Line Mask Double chin mask(5PCS), Neck Mask Face Lift V Lifting Chin Up Patch Double Chin Reducer Neck Lift,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>50% off at $22.99</strong> with promo code: <strong>50HHIH2V</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2kg1Fpo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lOhX9t"><img src="https://m.media-amazon.com/images/I/61by07ga1RL._SR400,400_.jpg" alt="Running Headphones Over Ear Sport Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>128 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lOhX9t">Running Headphones Over Ear Sport Earphones with MIc HD Stereo Sweatproof Earbuds with Bass for Gym Sports Workout Headsets(blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.80</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>60% off at $16.99</strong> with promo code: <strong>60RUG37M</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lOhX9t">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ls0gMy"><img src="https://m.media-amazon.com/images/I/71GO6fzDJpL._SR400,400_.jpg" alt="WANNEW Yoga Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>121 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ls0gMy">WANNEW Yoga Pants for Women High Waisted Compression Athletic Pants for Women 4-Way Stretch</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>60% off at $19.99</strong> with promo code: <strong>60PODZMW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ls0gMy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="27.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lFsmnP"><img src="https://m.media-amazon.com/images/I/61i04Ib+4BL._SR400,400_.jpg" alt="Active Noise Cancelling Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>297 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lFsmnP">Active Noise Cancelling Bluetooth Headphones, Ausdom ANC8 Over Ear Wireless Headphones Wired Headsets with Microphone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.00</span><span class="ori_price">$53.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $53.99</strong> with promo code: <strong>50J9BRCW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lFsmnP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="38.63">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ls1asq"><img src="https://m.media-amazon.com/images/I/314agNV4CxL._SR400,400_.jpg" alt="Sabrent USB 3.1 Aluminum Enclosure" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>228 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ls1asq">Sabrent USB 3.1 Aluminum Enclosure for M.2 NVMe SSD in Gray (EC-NVME)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$38.63</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>16% off at $45.99</strong> with promo code: <strong>164MAU28</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ls1asq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="3.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k71a0N"><img src="https://m.media-amazon.com/images/I/81X38-go58L._SR400,400_.jpg" alt="LUJI Men's Slide Sandal" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2k71a0N">LUJI Men's Slide Sandal Shower Slipper Pool Slip-on</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.90</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>70% off at $12.99</strong> with promo code: <strong>70ZHSM2M</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2k71a0N">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="17.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lFz0dL"><img src="https://m.media-amazon.com/images/I/91M7ueW66gL._SR400,400_.jpg" alt="NTBAY 3 Pieces Duvet Cover Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>75 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lFz0dL">NTBAY 3 Pieces Duvet Cover Set Brushed Microfiber Strip Printed Pattern Reversible Design Hidden Zipper, Grey, King</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.04</span><span class="ori_price">$30.99</span></address>
      <p><span>Take <strong>45% off at $30.99</strong> with promo code: <strong>45NTBAYHOME</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lFz0dL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="8.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k8GvJM"><img src="https://m.media-amazon.com/images/I/61ws90FyJrL._SR400,400_.jpg" alt="AKEWEI Women's Skinny Jean Leggings" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>63 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2k8GvJM">AKEWEI Women's Skinny Jean Leggings, High Waisted Stretch Slim Denim Butt Lift Super Comfy Jeggings</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.40</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>70% off at $27.99</strong> with promo code: <strong>70LH46DQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2k8GvJM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l7NT8l"><img src="https://m.media-amazon.com/images/I/61DSOE1IBcL._SR400,400_.jpg" alt="AINOPE Cell Phone Holder for Car" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>654 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l7NT8l">AINOPE Cell Phone Holder for Car, Gravity Car Phone Mount Auto-Clamping Air Vent Car Phone Holder Universal Car Phone Mount...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.19</span><span class="ori_price">$15.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $15.99</strong> with promo code: <strong>30D48MKV</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l7NT8l">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="4.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ltpIBj"><img src="https://m.media-amazon.com/images/I/61sG-5ByhiL._SR400,400_.jpg" alt="Charcoal Facial Cleanser by Majestic Pure" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ltpIBj">Charcoal Facial Cleanser by Majestic Pure - Detoxifying, Deep Pore Cleansing, and Revitalizing...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.95</span><span class="ori_price">$16.50</span></address>
      <p><span>Take <strong>70% off at $16.50</strong> with promo code: <strong>70XPJMAE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ltpIBj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k73Tr3"><img src="https://m.media-amazon.com/images/I/715saq2Ld2L._SR400,400_.jpg" alt="Combo Shower Head" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2k73Tr3">CLOFY 5'' Full-Chrome 24-Setting Combo Shower Head, High Pressure Separetely or Together Hand Held Shower Combo ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>50E61Y6R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2k73Tr3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lFp6sA"><img src="https://images-na.ssl-images-amazon.com/images/I/31zZDlm20eL.jpg" alt="Livhò Blue Light Blocking Computer Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>631 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lFp6sA">Livhò Blue Light Blocking Computer Glasses, Tablet/Gaming/TV/Phones Glasses for Women Men,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.99</span><span class="ori_price">$19.98</span></address>
      <p><span>Take <strong>65% off at $19.98</strong> with promo code: <strong>65OFFLIVHO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lFp6sA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ls6oV4"><img src="https://m.media-amazon.com/images/I/61nebnyTnhL._SR400,400_.jpg" alt="Under Eye Cream by Majestic Pure" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ls6oV4">Under Eye Cream by Majestic Pure - Age Defying Retinal - Reduces the Appearances of Wrinkles, Dark Circles,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.60</span><span class="ori_price">$21.50</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $21.50</strong> with promo code: <strong>60EMB24P</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ls6oV4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k70XdZ"><img src="https://m.media-amazon.com/images/I/51AKJ+e3G5L._SR400,400_.jpg" alt="Lace-up Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2k70XdZ">LAICIGO Women’s Leopard Fashion Lace-up Sneakers Lightweight Athletic Running Walking Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$35.98</span></address>
      <p><span>Take <strong>70% off at $35.98</strong> with promo code: <strong>70ZWHAY1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2k70XdZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lEGNZk"><img src="https://m.media-amazon.com/images/I/71X80lll6lL._SR400,400_.jpg" alt="Rii RGB LED Backlight Wired Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>207 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lEGNZk">Rii RGB LED Backlight Wired Gaming Keyboard and Mouse Combo,PC Gaming Keyboard RK900+ ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.19</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>40% off at $21.99</strong> with promo code: <strong>401CDJB7</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lEGNZk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lFDQrq"><img src="https://m.media-amazon.com/images/I/61y1pUq8IaL._SR400,400_.jpg" alt="Casara Coffee Grinder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lFDQrq">Casara Coffee Grinder - Electric Coffee grinder with Stainless Steel Blades, Blade Coffee Grinder...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>50% off at $25.99</strong> with promo code: <strong>50KZMEHD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lFDQrq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="15.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lEOLlc"><img src="https://m.media-amazon.com/images/I/61NBwYMJXUL._SR400,400_.jpg" alt="Womens Lace up Duck Boots Waterproof Low Heel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>42 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lEOLlc">Womens Lace up Duck Boots Waterproof Low Heel Wide Calf Winter Warm Snow Rain Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.29</span><span class="ori_price">$50.98</span></address>
      <p><span>Take <strong>70% off at $50.98</strong> with promo code: <strong>70UFSARW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lEOLlc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsbqAW"><img src="https://m.media-amazon.com/images/I/61sov4NpjXL._SR400,400_.jpg" alt="Bestalent Tetherball Ball" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>118 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsbqAW">Bestalent Tetherball Ball and Rope as Soft as Volleyball</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.65</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>55% off at $16.99</strong> with promo code: <strong>55AZZ98C</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsbqAW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lGuVpJ"><img src="https://m.media-amazon.com/images/I/71k87dVnicL._SR400,400_.jpg" alt="Magnetic Screen Door" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>105 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lGuVpJ">Magnetic Screen Door, Fits Doors Up to 38"X82" MAX Door Mesh Fly Mosquito Curtain, Heavy Duty Fiberglass Screen Door...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>40% off at $18.99</strong> with promo code: <strong>40AUTHFF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lGuVpJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lGwVOL"><img src="https://m.media-amazon.com/images/I/61EXOs1SfrL._SR400,400_.jpg" alt="CR COMFORT & RELAX Ventilated Memory Foam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>22 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lGwVOL">CR COMFORT & RELAX Ventilated Memory Foam Contour Pillow with AirCell Technology, Standard, 1-Pack, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>60% off at $29.99</strong> with promo code: <strong>6012HKG1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 18, 2019 at 11:00 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lGwVOL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k8QChI"><img src="https://m.media-amazon.com/images/I/61XCuWErp1L._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2k8QChI">True Wireless Earbuds, ALOFOX Latest Bluetooth 5.0 Auto Pairing HiFi Sound Bluetooth Earbuds with Charging Case,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>30% off at $39.99</strong> with promo code: <strong>30D3NQ3P</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2k8QChI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lxaYkZ"><img src="https://m.media-amazon.com/images/I/51H1ZTQOpcL._SR400,400_.jpg" alt="LOHAS BR20 Motion Sensor" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lxaYkZ">LOHAS BR20 Motion Sensor Light Bulb 60W Eqivalent(9W LED), 800Lumen Soft White 3000K Security Flood Lights,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>50% off at $20.99</strong> with promo code: <strong>50DF15PU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lxaYkZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="57.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsEfgD"><img src="https://m.media-amazon.com/images/I/71mieegCPDL._SR400,400_.jpg" alt="myCharge Portable Charger Power Bank" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>547 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsEfgD">myCharge Portable Charger Power Bank - HubPlus 6700 mAh External Battery Pack | Wall Charger Foldable Plug...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$57.91</span><span class="ori_price">$72.39</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $72.39</strong> with promo code: <strong>20OFFPOWER</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsEfgD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YbfuXY"><img src="https://m.media-amazon.com/images/I/61fX-piCssL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>160 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YbfuXY">Wireless Earbuds, HSPRO True Wireless Earphones, Stereo Sound Bluetooth 5.0 Headphones, Mini Wireless in-Ear Headsets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.49</span><span class="ori_price">$34.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $34.99</strong> with promo code: <strong>30H36UMA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YbfuXY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="62.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lEF5Hl"><img src="https://m.media-amazon.com/images/I/61aKZ8-074L._SR400,400_.jpg" alt="BESTEK 1200W Power Inverter DC 12V to 110V AC Converter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lEF5Hl">BESTEK 1200W Power Inverter DC 12V to 110V AC Converter with Digital LCD Display 4.2A Dual USB Car Charger</a></p>
    <div class="code_high">
      <address><span class="dis_price">$62.99</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>30% off at $89.99</strong> with promo code: <strong>30XSOWHI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lEF5Hl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="17.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2laAZGE"><img src="https://m.media-amazon.com/images/I/81RRD-dS4CL._SR400,400_.jpg" alt="Ultimate Nutrition PROSTAR 100% Whey Protein Powder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>123 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2laAZGE">Ultimate Nutrition PROSTAR 100% Whey Protein Powder - Low Carb, Keto Friendly - 30 Servings, Rum Raisin,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.49</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>30% off at $24.99</strong> with promo code: <strong>30PROSTAR</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2laAZGE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="18.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsfHEu"><img src="https://m.media-amazon.com/images/I/61qgstcVE7L._SR400,400_.jpg" alt="HumanCentric Headphone Stand" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsfHEu">HumanCentric Headphone Stand with USB Charger (White) | Under Desk Headset Hanger and Mount with USB-C,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.74</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>25% off at $24.99</strong> with promo code: <strong>25Q5TIJM</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsfHEu">Use Code at Amazon</a></div>
</div>


