<div class="card clearfix" data-score="50" data-price="95.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YyYQyD"><img src="https://m.media-amazon.com/images/I/813m3agye3L._SR400,400_.jpg" alt="Projector Paick 3200 Lumens Video Proejctor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>209 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YyYQyD">Projector Paick 3200 Lumens Video Proejctor Support 1080P, 180" Big Screen for Home Cinema, Movies, TV, USB/HDMI/AV/VGA</a></p>
    <div class="code_high">
      <address><span class="dis_price">$95.00</span><span class="ori_price">$189.99</span></address>
      <p><span>Take <strong>50% off at $189.99</strong> with promo code: <strong>55ULM6US</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YyYQyD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="19.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDgjCs"><img src="https://m.media-amazon.com/images/I/71pKILRPm2L._SR400,400_.jpg" alt="WISSBLUE X2 Military Grade Tactical Flashlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>136 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDgjCs">WISSBLUE X2 Military Grade Tactical Flashlight Rechargeable,6 Mode 1600 High Lumen Flashlight,Best 18650 Led Tactical Flashlight Black set</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.79</span><span class="ori_price">$32.98</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $32.98</strong> with promo code: <strong>40KXO99F</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LDgjCs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JdnDD8"><img src="https://m.media-amazon.com/images/I/61dmGx1ETqL._SR400,400_.jpg" alt="Homgeek Chef Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JdnDD8">Homgeek Chef Knife, 8 inch German High Carbon Stainless Steel Sharp Blade Kitchen Knife with Ergonomic Handle</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>70BVJQIB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JdnDD8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzBn09"><img src="https://m.media-amazon.com/images/I/61UHHfN1EwL._SR400,400_.jpg" alt="STARNUO Wireless Headphones" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzBn09">STARNUO Wireless Headphones Bluetooth Headset Wireless Neckband Earbuds w/IPX7 Waterproof and Stereo Noise Cancelling in-Ear...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $24.99</strong> with promo code: <strong>50F5IVME</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YzBn09">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xv9mei"><img src="https://m.media-amazon.com/images/I/71bmvuhpRzL._SR400,400_.jpg" alt="UTOOL Trim Removal Tool Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>87 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xv9mei">UTOOL Trim Removal Tool Kit Pro 18pcs for Auto Car Door Trim Panel Removal with Clip Fastener Remover Pliers and Radio Audio Stereo Removal Tools</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.98</span><span class="ori_price">$19.97</span></address>
      <p><span>Take <strong>50% off at $19.97</strong> with promo code: <strong>50TU1WRW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xv9mei">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JdEAx6"><img src="https://m.media-amazon.com/images/I/71W4oKWaqfL._SR400,400_.jpg" alt="Pahajim PU leather women purse Crocodile handbag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JdEAx6">Pahajim PU leather women top handle satchel handbags tote purse Crocodile handbag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.98</span></address>
      <p><span>Take <strong>40% off at $29.98</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JdEAx6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEoIW6"><img src="https://m.media-amazon.com/images/I/71a998K-I2L._SR400,400_.jpg" alt="Shower head High Pressure" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEoIW6">Shower head High Pressure -4 inch Anti-leak Anti-clog 5 Spray Settings Rain Shower head - Luxury Spa Fixed Showerhead,Polished Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$16.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>50RLNDVI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 08:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LEoIW6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RY2BLr"><img src="https://m.media-amazon.com/images/I/71+W0MaJVFL._SR400,400_.jpg" alt=">MCKOL Women's Sleeveless..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>68 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RY2BLr">MCKOL Women's Sleeveless Chiffon Casual Office Tank Top</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>55% off at $19.99</strong> with promo code: <strong>553ZHHUW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RY2BLr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30gxHAL"><img src="https://m.media-amazon.com/images/I/91ea8Fc+5gL._SR400,400_.jpg" alt="Phone Camera Lens" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>211 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30gxHAL">Phone Camera Lens, 11 in 1 Cell Phone Lens Kit for iPhone and Android, 0.36X Wide Angle Lens+198°Fisheye Lens+20X Macro...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>50% off at $23.99</strong> with promo code: <strong>50H68BA3</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30gxHAL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="15.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Je6KYY"><img src="https://m.media-amazon.com/images/I/61hKURkuK9L._SR400,400_.jpg" alt="Electric Car Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>69 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Je6KYY">Electric Car Fan, Dual Head 2 Speed 12V Cooling Air Circulator - 360 Degree Rotatable Auto Fan for Sedan SUV...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.39</span><span class="ori_price">$21.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $21.99</strong> with promo code: <strong>30YBWZVG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Je6KYY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JbFPgq"><img src="https://m.media-amazon.com/images/I/71O2ie21W+L._SR400,400_.jpg" alt="Phone Stand for Desk" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JbFPgq">Phone Stand for Desk, Oternal Adjustable Phone Tablet Stand Holder Dock, Compatible with All Smart Phones and Tablet Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>50% off at $12.99</strong> with promo code: <strong>50N4HQQV</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JbFPgq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="9.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xxtgoY"><img src="https://m.media-amazon.com/images/I/71xBAFfJvzL._SR400,400_.jpg" alt="Bluetooth FM Transmitter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>65 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xxtgoY">Bluetooth FM Transmitter for Car, Wireless FM Radio Transmitter Adapter Car Kit Dual USB Charging Port Car...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.89</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>45% off at $17.99</strong> with promo code: <strong>45ZAQUBK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xxtgoY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="36.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RTl4Jb"><img src="https://m.media-amazon.com/images/I/71D1Gp3rnNL._SR400,400_.jpg" alt="Kenuo Car Dash Cam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>172 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RTl4Jb">Kenuo Car Dash Cam, Dashboard Camera Driving Dash Recorder 3.0'' LCD Screen FHD 1080P 150° Wide Angle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.00</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>60% off at $89.99</strong> with promo code: <strong>60QL7J8K</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RTl4Jb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XQdcxn"><img src="https://m.media-amazon.com/images/I/61YUmm1XyGL._SR400,400_.jpg" alt="Aeifond Smart Watch Bluetooth Smartwatch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>211 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XQdcxn">Aeifond Smart Watch Bluetooth Smartwatch Touch Screen Wrist Watch Sports Fitness Tracker with Camera SIM SD Card Slot...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>50% off at $27.99</strong> with promo code: <strong>5058EDWO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XQdcxn">Use Code at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xyswQB"><img src="https://m.media-amazon.com/images/I/511vcN-HJcL._SR400,400_.jpg" alt="Nivava D9 True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>106 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xyswQB">Nivava D9 True Wireless Earbuds, Bluetooth 5.0 Headphones, 3D Stereo Sound, IPX5 Waterproof in-Ear Wireless Sport Earphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>50% off at $29.99</strong> with promo code: <strong>50RL7V8M</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xyswQB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XtyKjS"><img src="https://m.media-amazon.com/images/I/51HmOM+PQtL._SR400,400_.jpg" alt="GRC Bluetooth Wireless Earbuds 5.0 Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XtyKjS">GRC Bluetooth Wireless Earbuds 5.0 Headphones, 18H Playtime Stereo Deep Bass w/Mic, Sport Wireless Touch Control Earbuds with Charging Case Noise Cancelling</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$60.00</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $60.00</strong> with promo code: <strong>50PYTWS1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XtyKjS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XHCSwc"><img src="https://m.media-amazon.com/images/I/51XTg8x-jWL._SR400,400_.jpg" alt="Power Strip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XHCSwc">Power Strip with USB, NTONPOWER Travel Power Strip, 3 USB 3 Outlets Desktop Charging Station with 5ft Extension Cord Compact for Travel,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.89</span><span class="ori_price">$20.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>10% off at $20.99</strong> with promo code: <strong>10DQQ8UA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XHCSwc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="12.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XpTEf5"><img src="https://m.media-amazon.com/images/I/71kSvNc+skL._SR400,400_.jpg" alt="Moldable Mouth Guard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XpTEf5">Moldable Mouth Guard for Grinding Teeth, Pack of 4 - Night sleep Teeth Guards, Tmj &Clenching Bruxism, Whitening Tray, Sport Athletic. </a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.74</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>15% off at $14.99</strong> with promo code: <strong>151ZX3YM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XpTEf5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="10.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LLjqIH"><img src="https://m.media-amazon.com/images/I/71D6FA-bq4L._SR400,400_.jpg" alt="Glitter Liquid Eyeliner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>58 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LLjqIH">Glitter Liquid Eyeliner -High Glitter Liquid Eyeliner 10 Colors Set-Waterproof Sparkle Eyeshadow-Long Lasting Metallic...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.35</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>26% off at $13.99</strong> with promo code: <strong>26NCS4XR</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LLjqIH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JdKfDt"><img src="https://m.media-amazon.com/images/I/818kdudyP4L._SR400,400_.jpg" alt="Matcha Green Tea Exfoliating Body Scrub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>76 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JdKfDt">Matcha Green Tea Exfoliating Body Scrub - Multi Purpose Body and Facial Scrub Moisturizes and Nourishes Face and Skin...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.91</span><span class="ori_price">$15.25</span></address>
      <p><span>Take <strong>35% off at $15.25</strong> with promo code: <strong>357GBNM2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JdKfDt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.42">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jeo9ko"><img src="https://m.media-amazon.com/images/I/71Ae6Mz5zwL._SR400,400_.jpg" alt="Brooklyn Botany Avocado Body Scrub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>241 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jeo9ko">Brooklyn Botany Avocado Body Scrub 10 oz - Exfoliating Body Scrub - Infused with Vitamin C and Avocado Oil to Exfoliate and Moisturize...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.42</span><span class="ori_price">$14.49</span></address>
      <p><span>Take <strong>35% off at $14.49</strong> with promo code: <strong>357GBNM2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jeo9ko">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="10.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RWxyQ1"><img src="https://m.media-amazon.com/images/I/71rIHXSzMRL._SR400,400_.jpg" alt="Premium Activated Charcoal Scrub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>67 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RWxyQ1">Premium Activated Charcoal Scrub 10 oz - Deep Exfoliation, Pore Minimizer & Reduces Wrinkles, Acne Scars,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.39</span><span class="ori_price">$15.98</span></address>
      <p><span>Take <strong>35% off at $15.98</strong> with promo code: <strong>357GBNM2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RWxyQ1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="28.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2S0bGna"><img src="https://m.media-amazon.com/images/I/51Vs77xb71L._SR400,400_.jpg" alt="SIKVIO WiFi Home Security" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2S0bGna">SIKVIO WiFi Home Security Surveillance IP Camera HD 1536P&1080P with Sound & Motion Detection Motion Tracker...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.97</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>37% off at $45.99</strong> with promo code: <strong>377GBY2V</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2S0bGna">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XlIBDC"><img src="https://m.media-amazon.com/images/I/6129y4c4pZL._SR400,400_.jpg" alt="Sling Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>160 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XlIBDC">Sling Bag,Crossbody Backpack Rope Shoulder Bag Waterproof RFID Canvas Travel Multipurpose Daypack With USB Charging Port for Men Women</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>40% off at $29.99</strong> with promo code: <strong>40Y1POKH</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XlIBDC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XUBiaw"><img src="https://m.media-amazon.com/images/I/512VzviW6pL._SR400,400_.jpg" alt="CAMEL CROWN Women's Jogger Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>128 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XUBiaw">CAMEL CROWN Women's Jogger Pants with Pockets Soft Drawstring Sweatpants for Gym Running Jogging Lounging</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>50% off at $24.99</strong> with promo code: <strong>50OFFZJK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XUBiaw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="29.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RTnbg5"><img src="https://m.media-amazon.com/images/I/61Msec3wdgL._SR400,400_.jpg" alt="moreFit Smart Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>158 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RTnbg5">moreFit Smart Watch, Waterproof Fitness Tracker Activity Tracker with Heart Rate Monitor,Fitness Watch with Sleep Monitors,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.39</span><span class="ori_price">$41.99</span></address>
      <p><span>Take <strong>30% off at $41.99</strong> with promo code: <strong>30SCOG28</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RTnbg5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xvQM5E"><img src="https://m.media-amazon.com/images/I/51qVI3QiimL._SR400,400_.jpg" alt="Collapsible Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xvQM5E">Collapsible Water Bottle Sports Travel Leak Proof Water Bottle for Gym Bike Running Cycling Outdoor Indoor Camping Hiking,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>5063AGHS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xvQM5E">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="12.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XoB6f1"><img src="https://m.media-amazon.com/images/I/51CYd98YapL._SR400,400_.jpg" alt="BOTTLED JOY Water Jug 2.5 L" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>116 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XoB6f1">BOTTLED JOY Water Jug 2.5 L / 83 OZ Large Capacity Sports Water Bottle with Handle - Reusable BPA Free Plastic Water Bottle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.79</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>20% off at $15.99</strong> with promo code: <strong>20JB2XAD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XoB6f1">Use Code at Amazon</a></div>
</div>
