<div class="card clearfix" data-score="70" data-price="5.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKYked"><img src="https://m.media-amazon.com/images/I/61TD6mwjXsL._SR400,400_.jpg" alt="CIOR Water Shoes Men Women Aqua Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>469 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKYked">CIOR Water Shoes Men Women Aqua Shoes Barefoot Quick-Dry Swim Shoes for Boating Walking Driving Beach Yoga</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.70</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">70Q9VULS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $18.99</strong> with promo code: <strong class="m_codes">70Q9VULS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LKYked">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JZnUdp"><img src="https://m.media-amazon.com/images/I/51yrsFN5OsL._SR400,400_.jpg" alt="PETPAWJOY Cat Bed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>421 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JZnUdp">PETPAWJOY Cat Bed, Cat Window Perch Window Seat Suction Cups Space Saving Cat Hammock Pet Resting Seat Safety Cat Shelves...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.95</span><span class="ori_price">$17.89</span></address>
      <textarea readonly="readonly" class="code_area">50QC35R3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.89</strong> with promo code: <strong class="m_codes">50QC35R3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JZnUdp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SKF1Cv"><img src="https://m.media-amazon.com/images/I/51xIYxzKktL._SR400,400_.jpg" alt="Stainless Steel Insulated Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>125 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SKF1Cv">Stainless Steel Insulated Water Bottle - Wide Mouth Leak Proof Vacuum Outdoors Coffee Mug - Ice Cold Up to 24 Hrs/Hot...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50IU7Y3B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50IU7Y3B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SKF1Cv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mp38VZ"><img src="https://m.media-amazon.com/images/I/71ed14BfShL._SR400,400_.jpg" alt="NEWYES Reusable Smart Notebook" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mp38VZ">NEWYES Reusable Smart Notebook, A5 Size Wirebound Notebook with Cloud Storage - 50 Pages Wide Rule & 50 Pages Dotted</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50XKEGKC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50XKEGKC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Mp38VZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30YWdqC"><img src="https://m.media-amazon.com/images/I/41Vu4fImQkL._SR400,400_.jpg" alt="HalfSun Fitness Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>357 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30YWdqC">HalfSun Fitness Tracker, Activity Tracker Fitness Watch with Heart Rate Monitor, Blood Pressure Monitor,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$38.99</span></address>
      <textarea readonly="readonly" class="code_area">40L1HPRP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $38.99</strong> with promo code: <strong class="m_codes">40L1HPRP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30YWdqC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://m.media-amazon.com/images/I/71Roev-iCiL._SR400,400_.jpg" alt="Brewsly Insulated Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>53 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Brewsly Insulated Water Bottle, Double Wall Vacuum Insulated Stainless Steel Leak Proof Sports Water Bottle, with BPA Free Cap,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50ZEEZIQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50ZEEZIQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKZrup"><img src="https://m.media-amazon.com/images/I/81VTLrQku5L._SR400,400_.jpg" alt="Cell Phone Armband for Running" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>203 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKZrup">Cell Phone Armband for Running, Exercise - Workout Phone Holder with Adjustable Arm Band, Zipper Pocket - Universal Armband for iPhone ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">552OBBA8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $9.99</strong> with promo code: <strong class="m_codes">552OBBA8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LKZrup">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="13.56">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YmoUvT"><img src="https://m.media-amazon.com/images/I/41olhTovV6L._SR400,400_.jpg" alt="Pure Hyaluronic Acid Serum Powder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>308 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YmoUvT">Pure Hyaluronic Acid Serum Powder | 100% NATURAL | High Molecular Weight | Locks in moisture and creates full,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.56</span><span class="ori_price">$16.95</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">20XJASMINE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $16.95</strong> with promo code: <strong class="m_codes">20XJASMINE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YmoUvT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="29.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKYuSy"><img src="https://m.media-amazon.com/images/I/513sM41GqaL._SR400,400_.jpg" alt="Negative Ionic Folding Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>513 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKYuSy">JINRI Travel Hair Dryer 1875 Watt Dual Voltage Blow Dryer Dc Motor Foldable Handle Lightweight Negative Ionic Folding Hair Dryer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.10</span><span class="ori_price">$96.99</span></address>
      <textarea readonly="readonly" class="code_area">70ZHPT5W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $96.99</strong> with promo code: <strong class="m_codes">70ZHPT5W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LKYuSy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Zazan"><img src="https://m.media-amazon.com/images/I/71JkhvaEC5L._SR400,400_.jpg" alt="Bluetooth Shower Speakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>109 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Zazan">Bluetooth Shower Speakers, HAISSKY Portable Wireless Waterproof Speaker with FM Radio & Suction Cup, Pairs Easily to...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">HAISSKY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">HAISSKY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30Zazan">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKURwd"><img src="https://m.media-amazon.com/images/I/81TM6sgs8QL._SR400,400_.jpg" alt="Adorllya Womens Slides Sandals Slip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKURwd">Adorllya Womens Slides Sandals Slip on Bowknot Cute Slippers Cofortable Flip Flop Wide Width</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.60</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">60Z3UX4B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $28.99</strong> with promo code: <strong class="m_codes">60Z3UX4B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LKURwd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JX0XaD"><img src="https://m.media-amazon.com/images/I/71NcVbjURFL._SR400,400_.jpg" alt="Sling Canvas Cross" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>103 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JX0XaD">One Strap Sling Canvas Cross Body 13-inch Laptop Messenger Bag Travel Shoulder Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50I6MU6P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50I6MU6P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JX0XaD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SN99gr"><img src="https://m.media-amazon.com/images/I/7139s+RrrxL._SR400,400_.jpg" alt="Elevated Cat Beds Cat Hammock Pet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SN99gr">Elevated Cat Beds Cat Hammock Pet Cots Small Dog Beds Wooden Detachable Wooden Frame Square Hanging Cat Sofa Pet...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">402QS8ZY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">402QS8ZY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SN99gr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yp6rPp"><img src="https://m.media-amazon.com/images/I/71W55zCk3kL._SR400,400_.jpg" alt="Fastorm Mens Solid Polo Shirts" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>39 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yp6rPp">Fastorm Mens Solid Polo Shirts Short Sleeve Collared Golf Pique Polo Wicking Shirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$35.97</span></address>
      <textarea readonly="readonly" class="code_area">75JZ1RGB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $35.97</strong> with promo code: <strong class="m_codes">75JZ1RGB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yp6rPp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yv4BwA"><img src="https://m.media-amazon.com/images/I/71rMt1Yz6bL._SR400,400_.jpg" alt="Juicer Aicok Juice Extractor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>226 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yv4BwA">Juicer Aicok Juice Extractor with Wide Mouth, 3 Speed Centrifugal Juicer for Fruit and Vegetable, plus Pulse Function, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.98</span><span class="ori_price">$49.97</span></address>
      <textarea readonly="readonly" class="code_area">30U5BH8W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $49.97</strong> with promo code: <strong class="m_codes">30U5BH8W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yv4BwA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yo1v1n"><img src="https://m.media-amazon.com/images/I/71pUB7kPbcL._SR400,400_.jpg" alt="Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>182 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yo1v1n">Essential Oil Diffuser, 2 Pack Aromatherapy Diffuser for Essensial Oils Portable Ultrasonic Cool Mist Humidifier with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">50WQO7XE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $23.99</strong> with promo code: <strong class="m_codes">50WQO7XE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yo1v1n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yj1hdi"><img src="https://m.media-amazon.com/images/I/61onNJxwLGL._SR400,400_.jpg" alt="Gravity Car Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>231 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yj1hdi">Gravity Car Phone Mount FLOVEME Cell Phone Holder for Car Hands Free Auto Lock Air Vent Car Phone Holder Compatible iPhone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50FLMG01</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50FLMG01</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yj1hdi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Yc7kZ"><img src="https://m.media-amazon.com/images/I/51Ha5NFJk2L._SR400,400_.jpg" alt="MESOCO Waterproof Dry Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Yc7kZ">MESOCO Waterproof Dry Bag, Set of 2, for Kayaking Beach Rafting Floating Backpack Boating with Waterproof Phone Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.40</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">60UZLGO2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $25.99</strong> with promo code: <strong class="m_codes">60UZLGO2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30Yc7kZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yhkGLF"><img src="https://m.media-amazon.com/images/I/71i+OU4i8FL._SR400,400_.jpg" alt="Electronics Organizer Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>83 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yhkGLF">Electronics Organizer Bag Portable Travel Organizer Storage Carrying Bag for USB Cables,Chargers,Power Bank,iPad Mini(Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">50CWQPET</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.99</strong> with promo code: <strong class="m_codes">50CWQPET</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yhkGLF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ZKDvq"><img src="https://m.media-amazon.com/images/I/51epdLKx2NL._SR400,400_.jpg" alt="Aureday 39.5” Cell Phone Tripod" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ZKDvq">Aureday 39.5” Cell Phone Tripod, Portable Extendable Adjustable Tripod Stand with Cellphone Mount & Wireless Remote,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50AUREDAY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50AUREDAY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30ZKDvq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YrCKkR"><img src="https://m.media-amazon.com/images/I/61ZV3Z-B8dL._SR400,400_.jpg" alt="Odistar USB Rechargeable Tactical Flashlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YrCKkR">Odistar USB Rechargeable Tactical Flashlight Built-in COB Side Light and Magnet(18650 Battery Included).Get free camping lights and head lamp</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.94</span><span class="ori_price">$19.88</span></address>
      <textarea readonly="readonly" class="code_area">50FVTRHH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.88</strong> with promo code: <strong class="m_codes">50FVTRHH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YrCKkR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWybqC"><img src="https://m.media-amazon.com/images/I/71+NDofFUBL._SR400,400_.jpg" alt="Babyltrl Dog Travel Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWybqC">Babyltrl Dog Travel Bag - Airline Approved Pet Food Carrier Bag for Dogs - Includes 1 Pet Travel Tote, 2 Dog Food Containers,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$35.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">4055IBP1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $35.99</strong> with promo code: <strong class="m_codes">4055IBP1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JWybqC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JZox6F"><img src="https://m.media-amazon.com/images/I/81Es4tt4DnL._SR400,400_.jpg" alt="LED Strip Lights 16.4ft" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>212 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JZox6F">LED Strip Lights 16.4ft, RGB 5050 LEDs Color Changing Kit with 24key Remote Control and Power Supply, Mood Lighting Led ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.19</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">40BXG32Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $16.99</strong> with promo code: <strong class="m_codes">40BXG32Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JZox6F">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="4.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yjEKNk"><img src="https://m.media-amazon.com/images/I/51uoBFz7CUL._SR400,400_.jpg" alt="Ankle Socks Women Low" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>82 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yjEKNk">Ankle Socks Women Low Cut Athletic Cushioned with Ultra Soft for Running 6 Pairs</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.90</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">65KR744Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $13.99</strong> with promo code: <strong class="m_codes">65KR744Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yjEKNk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SIDYmp"><img src="https://images-na.ssl-images-amazon.com/images/I/61Zt5ZhJpTL._SX679_.jpg" alt="NANAN Moroccan Blackout Curtains" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>45 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SIDYmp">NANAN Moroccan Blackout Curtains, Lattice Print Thermal Insulated Blackout Window Curtains,Room Darkening Geometric Blackout...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.60</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">602HQ4FB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $28.99</strong> with promo code: <strong class="m_codes">602HQ4FB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SIDYmp">Use Code at Amazon</a></div>
</div>

