<div class="card clearfix" data-score="50" data-price="5.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jOAim3"><img src="https://m.media-amazon.com/images/I/81wyoIvrsmL._SR400,400_.jpg" alt="Veckle Waterproof Phone Pouch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>242 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jOAim3">Veckle Waterproof Phone Pouch, 2 Pack Clear TPU Universal Water Proof Cell Phone Pouch Floating Dry Bag Waterproof Case...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.50</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>50% off at $10.99</strong> with promo code: <strong>50WMSTGA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jOAim3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljexeA"><img src="https://m.media-amazon.com/images/I/61kpmkQpcmL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljexeA">Laptop Backpack, Anti-Theft Large School Bookbag for College, Travel Business Laptop Bag with USB Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.39</span><span class="ori_price">$28.99</span></address>
      <p><span>Take <strong>40% off at $28.99</strong> with promo code: <strong>40T7LDCC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ljexeA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lib006"><img src="https://m.media-amazon.com/images/I/619D-55pwHL._SR400,400_.jpg" alt="Wireless Bluetooth Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>168 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lib006">Upgraded 2019 True Waterproof Sport Wireless Bluetooth Earbuds- with Deep Bass HiFi 3D Stereo Sound...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>506HNDBT</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lib006">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jOFIxr"><img src="https://m.media-amazon.com/images/I/51Ia3PhHeWL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jOFIxr">Wireless Earbuds, Bluetooth Wireless Headphones Noise Cancelling Mini Headset Sweatproof Invisible Sports ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.29</span><span class="ori_price">$38.58</span></address>
      <p><span>Take <strong>50% off at $38.58</strong> with promo code: <strong>50ZL7FIU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jOFIxr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljfUKh"><img src="https://m.media-amazon.com/images/I/61Wc1VvMtVL._SR400,400_.jpg" alt="SoundPEATS Bluetooth Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>118 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljfUKh">SoundPEATS Bluetooth Earphones, Wireless 4.1 Magnetic Earphones, in-Ear IPX7 Sweatproof Headphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.29</span><span class="ori_price">$28.99</span>
         <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
         <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $28.99</strong> with promo code: <strong>30BRRT7H</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ljfUKh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="27.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jOkBLy"><img src="https://m.media-amazon.com/images/I/61NQ-wHEYaL._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>56 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jOkBLy">True Wireless Earbuds, BassPal Bluetooth 5.0 Headphones TWS in-Ear Mini Headset w/Mic IPX7 Waterproof,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.49</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>45% off at $49.99</strong> with promo code: <strong>45HG3I1C</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jOkBLy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="3.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XL96CM"><img src="https://m.media-amazon.com/images/I/71q00lZuAkL._SR400,400_.jpg" alt="PrettyDiva Winged Eyeliner Stamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XL96CM">PrettyDiva Winged Eyeliner Stamp - 2Pcs/pack(8mm&10mm) Waterproof Smudgeproof Long Lasting Liquid Eyeliner Pen,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.58</span><span class="ori_price">$11.95</span></address>
      <p><span>Take <strong>70% off at $11.95</strong> with promo code: <strong>706YX6FU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XL96CM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lk08ij"><img src="https://m.media-amazon.com/images/I/71umd9v+sPL._SR400,400_.jpg" alt="MorePro HRV Fitness Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>63 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lk08ij">MorePro HRV Fitness Tracker with Heart Rate Blood Oxygen Saturation Monitor SpO2, Waterproof Color Screen...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.98</span><span class="ori_price">$49.97</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $49.97</strong> with promo code: <strong>50UXP4KB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lk08ij">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2licLdI"><img src="https://m.media-amazon.com/images/I/61Mgz2nN9wL._SR400,400_.jpg" alt="MONATA Dust/Pollution Mask" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>49 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2licLdI">MONATA Dust/Pollution Mask with Activated Carbon Filter and Earloop For Woodworking House Cleaning Gardening and Outdoor Activities (Grey)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$11.96</span></address>
      <p><span>Take <strong>70% off at $11.96</strong> with promo code: <strong>70MONATAG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2licLdI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="14.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jQs8tg"><img src="https://m.media-amazon.com/images/I/61ZX9+csnnL._SR400,400_.jpg" alt="Short-Sleeve T-Shirt" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jQs8tg">CAMEL CROWN Men’s Cotton Round Neck Short-Sleeve T-Shirt,2-Pack/4-pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.40</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>60% off at $35.99</strong> with promo code: <strong>60ZUOWOZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jQs8tg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jPATUA"><img src="https://m.media-amazon.com/images/I/615kFj-BIHL._SR400,400_.jpg" alt="Botanic Hearth Seaweed Hair Shampoo" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jPATUA">Botanic Hearth Seaweed Hair Shampoo, Superior Hydrating and Hair Growth Promoting Shampoo, Paragon and Sulfate Free Shampoo...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.40</span><span class="ori_price">$18.50</span></address>
      <p><span>Take <strong>60% off at $18.50</strong> with promo code: <strong>60H43277</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jPATUA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lieAY6"><img src="https://images-na.ssl-images-amazon.com/images/I/61GaApwaxeL._SX522_.jpg" alt="Apusale-Dish Brush Heavy Duty Dish Wand Sponge" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lieAY6">Apusale-Dish Brush Heavy Duty Dish Wand Sponge for Kitchen Sink Cleaning Brush with(1 Dishwands,3 Cleaning Sponges...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $13.99</strong> with promo code: <strong>50527PZU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lieAY6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lgiMYc"><img src="https://m.media-amazon.com/images/I/51dR3hAi5eL._SR400,400_.jpg" alt="NTONPOWER Power Strip with USB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lgiMYc">NTONPOWER Power Strip with USB, Smart Surge Protector Power Strip 4 Outlet with 4 Port USB Charger 5ft Power Cord...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>50% off at $21.99</strong> with promo code: <strong>50SVPX31</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lgiMYc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljk9FH"><img src="https://m.media-amazon.com/images/I/71IQuJlsBnL._SR400,400_.jpg" alt="ALISISTER Mens 3D Swim Trunks" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>35 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljk9FH">ALISISTER Mens 3D Swim Trunks Quick Dry Summer Underwear Surf Beach Shorts Elastic Waist with Pocket Drawstring</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.80</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>60% off at $21.99</strong> with promo code: <strong>601757T8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ljk9FH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="15.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jOqybm"><img src="https://m.media-amazon.com/images/I/51Up6r7ysWL._SR400,400_.jpg" alt="MICHELANGELO Ultra Nonstick 5 Quart Copper Saute Pan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jOqybm">MICHELANGELO Ultra Nonstick 5 Quart Copper Saute Pan with Lid, Copper Frying Pan, Deep Saute Pan Nonstick, 11 Inch Induction Skillets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.00</span><span class="ori_price">$60.00</span></address>
      <p><span>Take <strong>75% off at $60.00</strong> with promo code: <strong>75IN2ZUA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jOqybm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lhMdcv"><img src="https://m.media-amazon.com/images/I/71yvjD5MyaL._SR400,400_.jpg" alt="Travel Toiletry Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lhMdcv">Travel Toiletry Bag, 7L, 11.4"×4.5"×8.3", Maxchange Foldable Hanging Toiletry Bag for Women/Men,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>25% off at $23.99</strong> with promo code: <strong>256H6JTS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lhMdcv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lk61fp"><img src="https://m.media-amazon.com/images/I/71ou-FoUOhL._SR400,400_.jpg" alt="Fengbay Scrunch Butt Leggings" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>43 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lk61fp">Fengbay Scrunch Butt Leggings with Pockets, High Waist Yoga Pants Booty Ruched Tummy Control Stretch Yoga Leggings</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>30% off at $12.99</strong> with promo code: <strong>30JQY843</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lk61fp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="18.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2life7P"><img src="https://m.media-amazon.com/images/I/81kxZ-LaebL._SR400,400_.jpg" alt="Alex Vando Mens Dress Shirts Regular..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>884 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2life7P">Alex Vando Mens Dress Shirts Regular Fit Long Sleeve Men Shirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.69</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>15% off at $Origianl_price</strong> with promo code: <strong>15LZUAKM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2life7P">Use Code at Amazon</a></div>
</div>
