<div class="card clearfix" data-score="35" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l64tFv"><img src="https://m.media-amazon.com/images/I/61QYSiW1IgL._SR400,400_.jpg" alt="Letscom True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l64tFv">Letscom True Wireless Earbuds, Bluetooth 5.0 Headphones, 3D Stereo Sound, Mini in-Ear Sports Earphones for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>35% off at $39.99</strong> with promo code: <strong>35J2OVWL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l64tFv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jFPJwJ"><img src="https://m.media-amazon.com/images/I/61PAkdHvcPL._SR400,400_.jpg" alt="GRANDIX 3 in One Charging Dock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jFPJwJ">GRANDIX 3 in One Charging Dock for Apple Series Charger Docks Station for Airpods iWatch iPhone Android Smartphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$25.00</span></address>
      <p><span>Take <strong>60% off at $25.00</strong> with promo code: <strong>60Z3E517</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2jFPJwJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l8hMFC"><img src="https://m.media-amazon.com/images/I/71v8MtJUgwL._SR400,400_.jpg" alt="USB Wired Multimedia Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>679 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l8hMFC">Rii RK100 3 Colors LED Backlit Mechanical Feeling USB Wired Multimedia Keyboard For working or prime gaming</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>50JIJIQS</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l8hMFC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="76.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l8ImOX"><img src="https://m.media-amazon.com/images/I/610RiL-U6VL._SR400,400_.jpg" alt="Noise Cancelling Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>211 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l8ImOX">TaoTronics Hybrid Active Noise Cancelling Headphones[2019 New Version] Bluetooth Headphones SoundSurge 46 Over...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$76.49</span><span class="ori_price">$89.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $89.99</strong> with promo code: <strong>15ZXUNH7</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l8ImOX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l7vxUX"><img src="https://images-na.ssl-images-amazon.com/images/I/71iXeMSGydL._SY679_.jpg" alt="100% All Natural & Organic Vitamin E Oil" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,434 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l7vxUX">100% All Natural & Organic Vitamin E Oil For Your Face & Skin - 15,000/30,000 IU - Reduces Wrinkles, Lightens Dark Spots,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.98</span><span class="ori_price">$19.97</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>25% off at $19.97</strong> with promo code: <strong>25VITEDEAL</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l7vxUX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="14.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l8kcnG"><img src="https://m.media-amazon.com/images/I/7164B1vlPvL._SR400,400_.jpg" alt="HISTOYE Outdoor Sprinkle Play Mat Summer Sprinklers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l8kcnG">HISTOYE Outdoor Sprinkle Play Mat Summer Sprinklers for Yard Kids 63” Large Size Splash Pad for Toddler Outside...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.29</span><span class="ori_price">$21.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>35% off at $21.99</strong> with promo code: <strong>35R6UFMK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l8kcnG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="18.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l7xeSj"><img src="https://m.media-amazon.com/images/I/51eH3jBU6KL._SR400,400_.jpg" alt="Amino VITAL Rapid Recovery" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l7xeSj">Amino VITAL Rapid Recovery - Fermented Vegan BCAAs Amino Acid Powder + Complex Carbohydrates | BCAA, Glutamine...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.74</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>25% off at $24.99</strong> with promo code: <strong>25RECOVER</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l7xeSj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jx6h4o"><img src="https://m.media-amazon.com/images/I/71UYMhM0GnL._SR400,400_.jpg" alt="Mossy Oak Stainless Steel Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>53 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jx6h4o">Mossy Oak Stainless Steel Water Bottle - Leak-Proof Vacuum Insulated Cola Shape Bottle - Keeps Drinks...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>30L8FFAE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Jx6h4o">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NOknT1"><img src="https://m.media-amazon.com/images/I/61i2ugLa0-L._SR400,400_.jpg" alt="Hausbell flashlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>471 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NOknT1">Hausbell flashlight,Tactical Flashlight,LED Handheld Flashlights,Mini LED Flashlight,Zoomable,High Lumen Flashlights,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>28% off at $14.99</strong> with promo code: <strong>28DX5MVE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NOknT1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="9.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30tz92X"><img src="https://m.media-amazon.com/images/I/71C2HGm5KOL._SR400,400_.jpg" alt="PETRIP Bathing Tool Dog Massage Brush Pet Shower " /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30tz92X">PETRIP Bathing Tool Dog Massage Brush Pet Shower Sprayer Grooming Shedding Bath for Dog Cat Indoor Outdoor Use</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.75</span><span class="ori_price">$24.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>61% off at $24.99</strong> with promo code: <strong>61NRUA8F</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30tz92X">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ufWOG"><img src="https://m.media-amazon.com/images/I/81cywYam7jL._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,990 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ufWOG">Travel Laptop Backpack, Business Anti Theft Slim Durable Laptops Backpack with USB Charging Port,Water Resistant...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$31.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>25% off at $31.99</strong> with promo code: <strong>25GCR2VA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30ufWOG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="20.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xGBfAj"><img src="https://m.media-amazon.com/images/I/51WvbA1WwDL._SR400,400_.jpg" alt="GREEN MOUNT 50ft Expandable Garden Hose" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xGBfAj">GREEN MOUNT 50ft Expandable Garden Hose, Lightweight Flexible Water Hose with 8 Function Spray Nozzle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.39</span><span class="ori_price">$33.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $33.99</strong> with promo code: <strong>40Q4CDOW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 03:00 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xGBfAj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xMUrwh"><img src="https://m.media-amazon.com/images/I/71mpz8GyIjL._SR400,400_.jpg" alt="Kamlui Laptop Bag 15.6 Inch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>52 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xMUrwh">Kamlui Laptop Bag 15.6 Inch - for Women,PU Leather Canvas Shoulder Messenger Laptop Tote Bag Briefcase-for MacBook...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.98</span></address>
      <p><span>Take <strong>30% off at $39.98</strong> with promo code: <strong>301KKPQV</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xMUrwh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XYcXjX"><img src="https://m.media-amazon.com/images/I/712m024iAmL._SR400,400_.jpg" alt="Deik Personal Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>122 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XYcXjX">Deik Personal Blender, Smoothie Blender 500 Watt with Travel Lid for Smoothies and Shakes, Coffee Grinder Cup...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.79</span><span class="ori_price">$33.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $33.99</strong> with promo code: <strong>30Z3E7GG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 02:00 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XYcXjX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XMFlS2"><img src="https://m.media-amazon.com/images/I/41+M3fwV4BL._SR400,400_.jpg" alt="Track Man Floating Waterproof" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XMFlS2">Track Man Floating Waterproof 2L/5L/15L/20L Premium PVC Waterproof Floating Dry Gear Bags for Boating, Kayaking,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>50% off at $15.99</strong> with promo code: <strong>50LE262U</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XMFlS2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="197.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xMw9CA"><img src="https://m.media-amazon.com/images/I/71jsa0dtCyL._SR400,400_.jpg" alt="BNT 1080P PoE Security Camera System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xMw9CA">BNT 1080P PoE Security Camera System, 8CH NVR 4 Camera, 7/24 Video Recording Onvif, Free APP Remote Monitor,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$197.99</span><span class="ori_price">$329.99</span></address>
      <p><span>Take <strong>40% off at $329.99</strong> with promo code: <strong>407U1DG1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xMw9CA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XGkPaC"><img src="https://m.media-amazon.com/images/I/7137ObWevnL._SR400,400_.jpg" alt="TOPOKO Handmade 18.5 Oz Glass Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>136 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XGkPaC">TOPOKO Handmade 18.5 Oz Glass Water Bottle-Extra Strong Crystal Glass Bottle Tea Cup with Tea Infuser Tea Strainer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$13.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>10% off at $13.99</strong> with promo code: <strong>10OFFTOPOKO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XGkPaC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOlZtp"><img src="https://m.media-amazon.com/images/I/31KBL5rHARL._SR400,400_.jpg" alt="Poweriver USB Charging Station" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOlZtp">Poweriver USB Charging Station, FlowPort Charger with 5 Port 40W 8A, Advanced Design, Smart Charging for Desktop,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$17.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $17.99</strong> with promo code: <strong>40XME7JP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LOlZtp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32ntUUf"><img src="https://m.media-amazon.com/images/I/71zFfZazCPL._SR400,400_.jpg" alt="Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32ntUUf">Wireless Charger, Qi Certified Wireless Charging Pad [Premium Leather Design] Compatible for iPhone XS Max/XS/XR/X/8...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>30% off at $19.99</strong> with promo code: <strong>30X1OATP</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32ntUUf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="6.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30xuEnU"><img src="https://m.media-amazon.com/images/I/61AlhVy0BhL._SR400,400_.jpg" alt="Aptx Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30xuEnU">Aptx Bluetooth Headphones, Mini In Ear Bluetooth 4.1 AptX Stereo Magnetic Wireless Earbuds Snug Fit for Sports...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.46</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>62% off at $16.99</strong> with promo code: <strong>62H9BPMU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30xuEnU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30tAKpp"><img src="https://m.media-amazon.com/images/I/51OQK-8VMkL._SR400,400_.jpg" alt="Wireless Earbud" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>69 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30tAKpp">Wireless Earbud, Dostyle V4.1 Mini Wireless Bluetooth Headphones with Mic Invisible Car Bluetooth Headset...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>50% off at $29.99</strong> with promo code: <strong>506VV4BS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30tAKpp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQuDHN"><img src="https://m.media-amazon.com/images/I/612Hg1BP7sL._SR400,400_.jpg" alt="Power Bank External Battery Pack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,969 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQuDHN">Poweradd Slim 2 5000mAh Ultra-compact Portable Power Bank External Battery Pack with ID Identify Tech for iPhone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $12.99</strong> with promo code: <strong>30NI357N</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 02:00 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LQuDHN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="8.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SdKtx7"><img src="https://m.media-amazon.com/images/I/81QOT9gFQ0L._SR400,400_.jpg" alt="i2 Gear Running Belt" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>135 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SdKtx7">i2 Gear Running Belt - Cell Phone Belt Holder with Pouch for iPhone X XS 8 7 6 6S 6 5 5S SE & Galaxy S9 S8 S7 S6 S5...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.70</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>33% off at $12.99</strong> with promo code: <strong>33STV3WE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SdKtx7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30zKmzd"><img src="https://m.media-amazon.com/images/I/61dixEn03TL._SR400,400_.jpg" alt="USB Hub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>370 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30zKmzd">USB Hub, BYEASY 4 Port USB 3.0 Hub, Ultra Slim Portable Data Hub Applicable for iMac Pro, MacBook Air,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $12.99</strong> with promo code: <strong>40VIPON1</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30zKmzd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y3WaMg"><img src="https://m.media-amazon.com/images/I/51lEUgQkEKL._SR400,400_.jpg" alt="USB C to SD Card Reader" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y3WaMg">USB C to SD Card Reader, 3 in 1 USB to Type-C Camera Connection Kit Adapter, SD TF Card Reader Adapter for New iPad Pro</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.34</span><span class="ori_price">$14.69</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $14.69</strong> with promo code: <strong>50I7ETU8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y3WaMg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30szZgo"><img src="https://m.media-amazon.com/images/I/61SuFLGlZmL._SR400,400_.jpg" alt="Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30szZgo">Headphones, Crabot I65 On-Ear Stereo Sound Bass Wired Portable Foldable Headsets with Microphone and Volume Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$31.99</span></address>
      <p><span>Take <strong>75% off at $31.99</strong> with promo code: <strong>75E6HGQG</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30szZgo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SbNTR0"><img src="https://m.media-amazon.com/images/I/61HbtDsQq3L._SR400,400_.jpg" alt="VEENAX Pogo Wireless Headphones Bluetooth" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>46 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SbNTR0">VEENAX Pogo Wireless Headphones Bluetooth, in Ear Running Sport Earphones Magnetic Earbuds, Stereo Fitness Headset ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $26.99</strong> with promo code: <strong>50POGO50</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SbNTR0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XYpiEO"><img src="https://m.media-amazon.com/images/I/71mSngv21OL._SR400,400_.jpg" alt="Beach Water Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>136 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XYpiEO">PAGE ONE Mens Womens Quick Dry Beach Water Shoes Aqua Surf Sports Socks Barefoot Soft Comfortable Cool Air...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>50% off at $19.99</strong> with promo code: <strong>50V2STPE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XYpiEO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SbOdzc"><img src="https://m.media-amazon.com/images/I/61jRgk3gQhL._SR400,400_.jpg" alt="HTGK Mini Power Banks" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SbOdzc">HTGK Mini Power Banks 5000mAh Portable Charger Ultra Slim Power Bank with Dual Input and Output External Battery Pack ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.97</span><span class="ori_price">$19.95</span></address>
      <p><span>Take <strong>50% off at $19.95</strong> with promo code: <strong>506EY2FI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SbOdzc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="8" data-price="164.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SfAcR9"><img src="https://m.media-amazon.com/images/I/81pDidwWGGL._SR400,400_.jpg" alt="Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,170 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>8% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SfAcR9">Oral-B Genius Pro 8000 Electronic Power Rechargeable Battery Electric Toothbrush with Bluetooth Connectivity,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$164.99</span><span class="ori_price">$179.99</span>
         <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon.</p></div></div>
      </address>
      <p><span>Take <strong>8% off at $179.99</strong> with promo code: <strong>15ORALB8000R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SfAcR9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30w58Qc"><img src="https://m.media-amazon.com/images/I/71xLxyG4hhL._SR400,400_.jpg" alt="2-Tier Over the Sink Disk Rack" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30w58Qc">2-Tier Over the Sink Disk Rack, Dish Drainers for Kitchen counter Made of Length Adjustable Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$79.99</span></address>
      <p><span>Take <strong>50% off at $79.99</strong> with promo code: <strong>50IF5C6I</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30w58Qc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XKvf3O"><img src="https://m.media-amazon.com/images/I/71vT7yc2m1L._SR400,400_.jpg" alt="JOLLYVOGUE Weighted Blanket 12lbs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>273 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XKvf3O">JOLLYVOGUE Weighted Blanket 12lbs, 48x72Inches Full Size Adults Weighted Blanket with 100% Soft Cotton and Glass Beads-Dark Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>50% off at $59.99</strong> with promo code: <strong>50UK1WQZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XKvf3O">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SbKHos"><img src="https://m.media-amazon.com/images/I/71WgQQQfH4L._SR400,400_.jpg" alt="CLOFY Handheld Shower Head" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SbKHos">CLOFY Handheld Shower Head 4'' Chrome Face 5-Setting Shower Head with Hose and Bracket High Pressure Shower...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>60% off at $19.99</strong> with promo code: <strong>602WCU3T</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SbKHos">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32ix8bL"><img src="https://m.media-amazon.com/images/I/61q5RC7B5oL._SR400,400_.jpg" alt="beautyin Women's Long Sleeve Rashguard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32ix8bL">beautyin Women's Long Sleeve Rashguard Swimwear Sun Protection Athletic Shirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>40% off at $24.99</strong> with promo code: <strong>406B52W9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32ix8bL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YRC1GC"><img src="https://m.media-amazon.com/images/I/61SxzXGRhpL._SR400,400_.jpg" alt="Rii RKM709 2.4Ghz Ultra-Slim Wireless Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>116 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YRC1GC">Rii RKM709 2.4Ghz Ultra-Slim Wireless Keyboard and Mouse Combo Multimedia Compact Keyboard and Mouse for PC Laptop,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $14.99</strong> with promo code: <strong>40VPMQOR</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YRC1GC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y1KARU"><img src="https://m.media-amazon.com/images/I/71dO1Bp9poL._SR400,400_.jpg" alt="iClever Bluetooth Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y1KARU">iClever Bluetooth Keyboard - Rechargeable Multi-Device Wireless Keyboard with Aluminium Alloy Housing and Phone Holder,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.49</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>25% off at $29.99</strong> with promo code: <strong>25F8KXEW</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y1KARU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sc5b0t"><img src="https://m.media-amazon.com/images/I/61uDs8Fc-eL._SR400,400_.jpg" alt="Taco Rack Good Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Sc5b0t">Disumos Taco Holder Stand 4 Packs Stainless Steel Taco Rack Good Holder Stand on Table Hold Shell Taco Safe ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.19</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>40% off at $16.99</strong> with promo code: <strong>402UETF5</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Sc5b0t">Use Code at Amazon</a></div>
</div>