<div class="card clearfix" data-score="35" data-price="84.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J6vK4k"><img src="https://images-na.ssl-images-amazon.com/images/I/71Lyz06qAPL._UX425_.jpg" alt="Fitbit Alta HR" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5,339 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J6vK4k">Fitbit Alta HR</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$84.90</span><span class="ori_price">$129.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J6vK4k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="65.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/308hX2G"><img src="https://images-na.ssl-images-amazon.com/images/I/41XfpwYkN3L.jpg" alt="Ant-Man Helmet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/308hX2G">Marvel Legends: Ant-Man Helmet Prop Replica</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$65.00</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/308hX2G">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="36.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/322BXWo"><img src="https://images-na.ssl-images-amazon.com/images/I/81UT06iouPL._SY879_.jpg" alt="Host Wine Freeze Cooling Cups" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>224 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/322BXWo">Host Wine Freeze Cooling Cups, Multicolor (Set of 4)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.49</span><span class="ori_price">$42.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/322BXWo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmSDsT"><img src="https://images-na.ssl-images-amazon.com/images/I/71OrZUMgSkL._SX679_.jpg" alt="Decorative Throw Pillow Covers Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmSDsT">Decorative Throw Pillow Covers Set of 4 Cotton Linen Cushion Covers 18 x 18 Inch (Style-F)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$18.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XmSDsT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J4KDUI"><img src="https://images-na.ssl-images-amazon.com/images/I/81ABwgAl-gL._SX522_.jpg" alt="Samsung 970 EVO 500GB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1,410 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J4KDUI">Samsung 970 EVO 500GB - NVMe PCIe M.2 2280 SSD (MZ-V7E500BW)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J4KDUI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="14.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XkKhlO"><img src="https://images-na.ssl-images-amazon.com/images/I/517cJC1ys7L._SX522_.jpg" alt="Lodge Cast Iron Skillet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15,417 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XkKhlO">Lodge Cast Iron Skillet, Pre-Seasoned and Ready for Stove Top or Oven Use, 10.25", Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.88</span><span class="ori_price">$26.68</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XkKhlO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="22.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xm3MFP"><img src="https://images-na.ssl-images-amazon.com/images/I/81pPeWGX--L._SX522_.jpg" alt="Swiffer WetJet Hardwood and Floor Spray Mop Cleaner " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,110 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xm3MFP">Swiffer WetJet Hardwood and Floor Spray Mop Cleaner Starter Kit, Includes: 1 Power Mop, 5 Pads,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.97</span><span class="ori_price">$74.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xm3MFP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xnch89"><img src="https://images-na.ssl-images-amazon.com/images/I/71zBQdo5RgL._SY879_.jpg" alt="Black & Decker Ultra Light Weight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>794 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xnch89">Black & Decker Ultra Light Weight, Lite BDASL202 AIRSWIVEL Lightweight, Powerful Upright Vacuum Cleaner, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xnch89">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="13.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NnAy9t"><img src="https://images-na.ssl-images-amazon.com/images/I/A1LAtGm9m0L._UY679_.jpg" alt="adidas Alliance II Sackpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,321 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NnAy9t">adidas Alliance II Sackpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.50</span><span class="ori_price">$18.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NnAy9t">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="11.81">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xo2T4j"><img src="https://images-na.ssl-images-amazon.com/images/I/71JhPImDdWL._SX522_.jpg" alt="Lewis N. Clark RFID Blocking Stash Neck Wallet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,142 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xo2T4j">Lewis N. Clark RFID Blocking Stash Neck Wallet, Travel Pouch + Passport Holder for Women & Men, Taupe</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.81</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xo2T4j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="28.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/306O96B"><img src="https://images-na.ssl-images-amazon.com/images/I/91aoTghr6xL._UX679_.jpg" alt="Under Armour Undeniable Duffle 3.0 Gym Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,853 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/306O96B">Under Armour Undeniable Duffle 3.0 Gym Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/306O96B">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="29.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J6zZwX"><img src="https://images-na.ssl-images-amazon.com/images/I/61eK%2BI13tLL._SY879_.jpg" alt="Gerber Suspension Multi-Plier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,427 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J6zZwX">Gerber Suspension Multi-Plier [22-01471]</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.16</span><span class="ori_price">$49.32</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J6zZwX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="59.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NulcQR"><img src="https://images-na.ssl-images-amazon.com/images/I/51OZZ5TpOLL._SX679_PIbundle-3,TopRight,0,0_AA679SH20_.jpg" alt="TP-LINK Smart WiFi Switch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>112 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NulcQR">TP-LINK HS200P3 Kasa Smart WiFi Switch (3-Pack) Control Lighting from Anywhere, Easy in-Wall Installation...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.98</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NulcQR">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="25" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J2EJDu"><img src="https://images-na.ssl-images-amazon.com/images/I/61tXUbNbrnL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Save 25% on Paula's Choice Skin Care</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2ROzR83">Paulas Choice--SKIN PERFECTING 2% BHA Liquid...</a> - <span>22.13<em>29.50</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2ROuIfS">Paula's Choice RESIST Super-Light Daily Wrinkle ...</a> - <span>24.75<em>33.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Xo4aZ1">Paula's Choice CLINICAL Triple-Action Dark Spot Eraser 7%...</a> - <span>21.75<em>29.00</em></span></li>
            <li><a href="https://amzn.to/2J2EJDu">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J2EJDu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xn6Rdu"><img src="https://images-na.ssl-images-amazon.com/images/I/81AMm9SEbyL._SX679_.jpg" alt="TCL 32D100 32-Inch 720p LED TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>377 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xn6Rdu">Amazon Deal Of The Day: TCL 32D100 32-Inch 720p LED TV (2017 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xn6Rdu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="849.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FNeWgA"><img src="https://images-na.ssl-images-amazon.com/images/I/51xAE+RIKkL._AC_SR300,300_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FNeWgA">Amazon Deal Of The Day: (Renewed)Apple MacBook (2017) 12" Laptop, Retina Display, Intel M3-7Y32 Dual-Core, 256GB PCI-E SSD, 8GB DDR3,..</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$849.99</span><span class="ori_price">$1,099.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FNeWgA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="67.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RTAYTW"><img src="https://images-na.ssl-images-amazon.com/images/I/71nT-929fhL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RTAYTW">Cook N Home 02597 Black 12-Piece Nonstick Hard Anodized Cookware Set,</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$67.60</span><span class="ori_price">$119.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RTAYTW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="8.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30adNrn"><img src="https://images-na.ssl-images-amazon.com/images/I/61Phg2Hc3fL._SX679_.jpg" alt="Waterproof Case Waterproof Phone Pouch" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30adNrn">Universal Waterproof Case Waterproof Phone Pouch Dry Bag Compatible with iPhone Xs/XR/XS Max/8/7/7 Plus/6S/6/6S Plus,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.98</span><span class="ori_price">$25.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30adNrn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LvC1rP"><img src="https://images-na.ssl-images-amazon.com/images/I/71vUA9NwJ3L._SX679_.jpg" alt="Tepoinn Car Trunk Organizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LvC1rP">Tepoinn Car Trunk Organizer with Cooler, Compartment Collapsible Portable Trunk Storage Container with Non Slip...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.99</span><span class="ori_price">$32.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LvC1rP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="11" data-price="14.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J5Ldlj"><img src="https://images-na.ssl-images-amazon.com/images/I/61GkDfHL-AL._SX522_.jpg" alt="Carbon Fibre Wallet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>288 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J5Ldlj">Carbon Fibre Wallet, Slim Money Clip & Minimalist RFID Blocking Front Packet Slim Wallet, Aluminum Metal Wallet...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.84</span><span class="ori_price">$16.68</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J5Ldlj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J3LFQN"><img src="https://images-na.ssl-images-amazon.com/images/I/51ujr2l992L.jpg" alt="Days of Wonder Memoir '44" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>183 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J3LFQN">Days of Wonder Memoir '44</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$60.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J3LFQN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RNLbRC"><img src="https://images-na.ssl-images-amazon.com/images/I/61oH73UHPWL._SY879_.jpg" alt="Globe Electric 6-Outlet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,967 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RNLbRC">Globe Electric 6-Outlet Swivel Space Saving 2 USB Port Surge Protector Wall Tap, Android, iPad, iPhone, iPod Compatible,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RNLbRC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/302dYVt"><img src="https://images-na.ssl-images-amazon.com/images/I/61qm4kZvPaL._SX679_.jpg" alt="Magic Bullet Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,200 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/302dYVt">Magic Bullet Blender, Small, Silver, 11 Piece Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/302dYVt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xj3gwZ"><img src="https://images-na.ssl-images-amazon.com/images/I/91QB9In3PmL._SX679_.jpg" alt="GermGuardian Air Purifier Filter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,673 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xj3gwZ">GermGuardian Air Purifier Filter FLT4825 GENUINE HEPA Replacement Filter B</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xj3gwZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NBk2Dg"><img src="https://images-na.ssl-images-amazon.com/images/I/81xS4CSJgDL._SX679_.jpg" alt="Genesis 6-Inch Clip Convertible Table-Top" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,029 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NBk2Dg">Genesis 6-Inch Clip Convertible Table-Top & Clip Fan Two Quiet Speeds - Ideal For The Home, Office, Dorm, More White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NBk2Dg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="15.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NBtMgq"><img src="https://images-na.ssl-images-amazon.com/images/I/41pmPiPui4L.jpg" alt="Hamilton Beach 62682RZ Hand Mixer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,218 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NBtMgq">Hamilton Beach 62682RZ Hand Mixer with Snap-On Case, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.30</span><span class="ori_price">$22.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NBtMgq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="137.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XGdc36"><img src="https://images-na.ssl-images-amazon.com/images/I/91JA5-hAnoL._SX522_.jpg" alt="Samsung SSD" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5,315 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XGdc36">Samsung SSD 860 EVO 1TB 2.5 Inch SATA III Internal SSD (MZ-76E1T0B/AM)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$137.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XGdc36">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="74" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RPqRQ4"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2Bd846DKeL._SX569_.jpg" alt="SanDisk 128 GB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>11,366 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>74% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RPqRQ4">"Made for Amazon" SanDisk 128 GB micro SD Memory Card for Fire Tablets and Fire TV</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RPqRQ4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="14.73">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XMYjvE"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZcDMLalzL._SX522_.jpg" alt="Electric Egg Poacher" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,448 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XMYjvE">Elite Cuisine EGC-007 Easy Electric Egg Poacher, Omelet, Scrambled, Soft, Medium, Hard-Boiled Boiler Cooker...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.73</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XMYjvE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J3VyxZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZRiQScWrL._SX679_.jpg" alt="3-Speed Hand Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,119 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J3VyxZ">KitchenAid KHB2351CU 3-Speed Hand Blender - Contour Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J3VyxZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="104.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XFpVCV"><img src="https://images-na.ssl-images-amazon.com/images/I/71Rys5k%2BjKL._SX522_.jpg" alt="Coleman Screened Canopy Tent" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,468 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XFpVCV">Coleman Screened Canopy Tent with Instant Setup | Back Home Screenhouse Sets Up in 60 Seconds</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$104.49</span><span class="ori_price">$159.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XFpVCV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/301VAvZ"><img src="https://images-na.ssl-images-amazon.com/images/I/71PCEDPQAQL._SY879_.jpg" alt="CamelBak Chute Mag Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>577 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/301VAvZ">CamelBak Chute Mag Water Bottle, Insulated Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$36.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/301VAvZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="28.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J2sIxP"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2BCPCJ29YL._SX679_.jpg" alt="Inflatable Boat" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>487 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J2sIxP">Intex Explorer 300, 3-Person Inflatable Boat Set with French Oars and High Output Air Pump</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.09</span><span class="ori_price">$47.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J2sIxP">Shop Now at Amazon</a></div>
</div>