<div class="card clearfix" data-score="50" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FwwQV0"><img src="https://m.media-amazon.com/images/I/611XEzqNpmL._SR400,400_.jpg" alt="Electric Kettle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FwwQV0">Electric Kettle, CUSINAID Glass Tea Pot Electric Water Boiler 1.7L Coffee Tea Kettle with BPA Free I LED Light I Auto Shut-Off I Boil-Dry</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>50% off at $35.99</strong> with promo code: <strong>50GKETTLE004</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FwwQV0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="28.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J8c9iR"><img src="https://m.media-amazon.com/images/I/61KK9Hj5u+L._SR400,400_.jpg" alt="Toprime Vacuum Sealer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>78 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J8c9iR">Toprime Vacuum Sealer | Automatic Sealing System for Keeping Dry & Moist Food Fresh | Suitable for Sous Vide | Touch Keys | Compact Design...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.37</span><span class="ori_price">$42.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>34% off at $42.99</strong> with promo code: <strong>345YMRMZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J8c9iR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NnbXC2"><img src="https://m.media-amazon.com/images/I/718DoItP6WL._SR400,400_.jpg" alt="Relefree Microfiber Towel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>698 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NnbXC2">Relefree Microfiber Towel, 2 Sizes Beach, Sports, Travel, Camping Towel, Quick Dry, Ultra Absorbent, Suitable for Fitness, Camping, Swimming, Running,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>15% off at $13.99</strong> with promo code: <strong>15RXK2MT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NnbXC2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JatrMv"><img src="https://m.media-amazon.com/images/I/61X6T88OoWL._SR400,400_.jpg" alt="Jinri 1875W Professional Salon Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>128 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JatrMv">Jinri 1875W Professional Salon Hair Dryer for Faster Drying, Negative Ion Hair Blow Dryer with 2 Speed and 3 Heat Setting Ceramic Hair Dryer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.00</span><span class="ori_price">$69.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>70% off at $69.99</strong> with promo code: <strong>70PYF1UJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JatrMv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="78" data-price="5.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X7SuJI"><img src="https://m.media-amazon.com/images/I/716y1yWqUGL._SR400,400_.jpg" alt="Cell Phone Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>199 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X7SuJI">Cell Phone Stand, Barsone Aluminium Phone Holder Mount Stand for Phones and Tablets 10 inches (Updated Silver)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.72</span><span class="ori_price">$25.98</span></address>
      <p><span>Take <strong>78% off at $25.98</strong> with promo code: <strong>78C8BQ6T</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X7SuJI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XzHHrh"><img src="https://m.media-amazon.com/images/I/715MLvZxbgL._SR400,400_.jpg" alt="Coffee Grinder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XzHHrh">Coffee Grinder, Kealive Coffee Grinder Electric 12 Cup, Coffee Beans Grinder with Stainless Steel Blades for Fast Grinding Coffee Beans, Nuts, Grains, Spices</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>30% off at $17.99</strong> with promo code: <strong>30YI4HD3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XzHHrh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="9.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RyWiha"><img src="https://m.media-amazon.com/images/I/81g9xqZ2lkL._SR400,400_.jpg" alt="iPad Mini Keyboard Case" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RyWiha">iPad Mini Keyboard Case for iPad Mini 5 2019(5th Gen) /ipad Mini 4 / 3/2 /1, ipad Mini Smart Magnetic Case, Ultra Slim Trifold Leather Cover...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.30</span><span class="ori_price">$30.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>70% off at $30.99</strong> with promo code: <strong>70XGR7C9</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RyWiha">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xz7XC4"><img src="https://m.media-amazon.com/images/I/71qF9t74xfL._SR400,400_.jpg" alt="3 in 1 Wireless Charging Car Charger Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xz7XC4">3 in 1 Wireless Charging Car Charger Mount, Newest Auto Clamping Car Vent Phone Holder Qi QC 3.0 Car Chargers 10W/7.5W Fast Charging for Phone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.50</span><span class="ori_price">$40.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $40.99</strong> with promo code: <strong>50K7J5VV</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xz7XC4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="67.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X88snm"><img src="https://m.media-amazon.com/images/I/61Wu7Rn+MRL._SR400,400_.jpg" alt="Housmile Airfryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>57 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X88snm">Housmile Airfryer, Oilless Air Fryer Oven, 6-in-1 Electric Hot Air Cooker with Temperature Control, Non Stick Basket and Dishwasher Save - 3.7QT</a></p>
    <div class="code_high">
      <address><span class="dis_price">$67.14</span><span class="ori_price">$78.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $78.99</strong> with promo code: <strong>15LUT3EN</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X88snm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ya3WRv"><img src="https://m.media-amazon.com/images/I/51MlMRri0pL._SR400,400_.jpg" alt="YinQin 400ML Ultrasonic Aroma Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ya3WRv">YinQin 400ML Ultrasonic Aroma Diffuser Essential Oil Diffuser Quiet Cool Mist Humidifier with 7-Color LED Lights Changing Aromatherapy for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$49.98</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $49.98</strong> with promo code: <strong>60V49F1V</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ya3WRv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="35.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IItgck"><img src="https://m.media-amazon.com/images/I/618muoSRZrL._SR400,400_.jpg" alt="COSOOS Fastest Charging Station" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>927 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IItgck">COSOOS Fastest Charging Station with QC3, 6 Phone Charger Cables(3 Types),lWatch Stand,6-Port USB Charger Station,Charging Station for Multiple Devices,Tablet,..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.09</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>10% off at $38.99</strong> with promo code: <strong>10COSOOS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IItgck">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="31.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RCLi2n"><img src="https://m.media-amazon.com/images/I/51Waop+Ew6L._SR400,400_.jpg" alt="imuto Echo Battery" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RCLi2n">imuto Echo Battery, 20100mAh Portable Battery Base Charger with USB-C Input/Output Compatible for Echo Dot/Echo (Both 2nd gen),...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.00</span><span class="ori_price">$61.99</span></address>
      <p><span>Take <strong>50% off at $61.99</strong> with promo code: <strong>50PC7UAS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RCLi2n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="7.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YfpkVG"><img src="https://m.media-amazon.com/images/I/71m3Jya8tQL._SR400,400_.jpg" alt="Cell Phone Camera Lens" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>438 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YfpkVG">Cell Phone Camera Lens - Yarrashop 3 in 1 HD Clip-On Lens Kit for 180 Degree Fisheye Lens + 0.4X Wide Angle Lens + 10X Macro Lens for iPhone Xs Max/XR Samsung...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.34</span><span class="ori_price">$20.97</span></address>
      <p><span>Take <strong>65% off at $20.97</strong> with promo code: <strong>65PDJ58V</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YfpkVG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X85mzB"><img src="https://images-na.ssl-images-amazon.com/images/I/615AlUdaTrL._SX522_.jpg" alt="SoundPEATS Bluetooth Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>121 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X85mzB">SoundPEATS Bluetooth Speaker Portable 24W Wireless Speakers 360 Degree Surround Sound Stereo Speaker with Built-in Mic, 10 Hours Play Time, Touch Control</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $49.99</strong> with promo code: <strong>309XRP2C</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X85mzB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y9URZf"><img src="https://m.media-amazon.com/images/I/61Bg1sbvy+L._SR400,400_.jpg" alt="SoundPEATS Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>278 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y9URZf">SoundPEATS Bluetooth Headphones Magnetic Wireless Earbuds IPX6 in-Ear Bluetooth 5.0 Wireless Earphones Upgraded Q12 Plus...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$27.99</span>
         <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $27.99</strong> with promo code: <strong>309XRP2C</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y9URZf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="32.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XAGXlC"><img src="https://m.media-amazon.com/images/I/613OY0xWpiL._SR400,400_.jpg" alt="SoundPEATS True Wireless Bluetooth Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>417 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XAGXlC">SoundPEATS True Wireless Bluetooth Earbuds in-Ear Stereo TWS Bluetooth Headphones Wireless Earphones (Bluetooth 5.0, 2600mAh Charging Case, 55 Hours Playtime,..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.19</span><span class="ori_price">$45.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $45.99</strong> with promo code: <strong>309XRP2C</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XAGXlC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X6a2pQ"><img src="https://m.media-amazon.com/images/I/611V2cithVL._SR400,400_.jpg" alt="Car Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>134 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X6a2pQ">Car Mount, Glamore Car Phone Mount Car Phone Holder for Car Magnetic Mount, Magnetic Phone Car Mount for iPhone Xs Max XR X 8 7 Plus 6S 6, Galaxy S9 S8 S7...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>50% off at $13.99</strong> with promo code: <strong>50N5D5KM</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X6a2pQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yb1avy"><img src="https://m.media-amazon.com/images/I/8133ZC81KFL._SR400,400_.jpg" alt="Pneubonic Set Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yb1avy">Pneubonic Set Case for iPhone Xs Max - Clear Stylish Flexible Case with Bonus Screen Protector and Ring Stand Holder for Apple iPhone Xs Max Case 6.5 inch..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.45</span><span class="ori_price">$10.90</span></address>
      <p><span>Take <strong>50% off at $10.90</strong> with promo code: <strong>50SFP8UF</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yb1avy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X85UWb"><img src="https://m.media-amazon.com/images/I/71wvQcD2JVL._SR400,400_.jpg" alt="i2 Gear Cell Phone Armband" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,898 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X85UWb">i2 Gear Cell Phone Armband Case for Running - Workout Phone Holder with Adjustable Arm Band and Reflective Border - Medium Armband for iPhone 8, 7, 6, 6S,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$9.99</span></address>
      <p><span>Take <strong>55% off at $Origianl_price</strong> with promo code: <strong>55MRJV53</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X85UWb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="5.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X5VQwN"><img src="https://m.media-amazon.com/images/I/81QOT9gFQ0L._SR400,400_.jpg" alt="i2 Gear Running Belt" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>134 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X5VQwN">i2 Gear Running Belt - Cell Phone Belt Holder with Pouch for iPhone X XS 8 7 6 6S 6 5 5S SE & Galaxy S9 S8 S7 S6 S5 S4, Pixel, LG, Moto, HTC One,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.85</span><span class="ori_price">$12.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>55% off at $12.99</strong> with promo code: <strong>55ESG6WD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X5VQwN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="26.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LdzGlj"><img src="https://m.media-amazon.com/images/I/615M6jpKFVL._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,634 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LdzGlj">Travel Laptop Backpack,Travel Computer Backpack with USB Charging Port,35L Lightweight Water Resistant Anti Theft Computer Backpack for Laptops 17 inch,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.39</span><span class="ori_price">$32.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $32.99</strong> with promo code: <strong>20QSXUI1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LdzGlj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X49MYv"><img src="https://m.media-amazon.com/images/I/618oFDwrgGL._SR400,400_.jpg" alt="Power Strip Tower" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>95 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X49MYv">Power Strip Tower - EVAIKON Extension Cord with 10 Outlet 4 USB Ports 3000W/13A Surge Protector Electric Charging Station +6.5FT Wire Extension Universal...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$25.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>10% off at $25.99</strong> with promo code: <strong>1057NSKL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X49MYv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="34.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X5Kd99"><img src="https://m.media-amazon.com/images/I/61GEZPxFxML._SR400,400_.jpg" alt="Bone Conduction Headphones Bluetooth Wireless" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X5Kd99">Bone Conduction Headphones Bluetooth Wireless Titanium HiFi Stereo with Mic for Running Driving Cycling Waterproof Open Ear Sports Headsets for Android (Blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.19</span><span class="ori_price">$37.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>10% off at $37.99</strong> with promo code: <strong>10S1EY9L</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X5Kd99">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XwWvH5"><img src="https://m.media-amazon.com/images/I/612ApYV29CL._SR400,400_.jpg" alt="Beard Grooming Kit for Men" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XwWvH5">Beard Grooming Kit for Men - Wumal Ultimate Beard Care Kit with Unscented Leave-in Conditioner Oil, Beard Balm, Boar Beard Brush, Wood Comb,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $14.99</strong> with promo code: <strong>20PKHDTI</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XwWvH5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ybnghn"><img src="https://m.media-amazon.com/images/I/51msVkFcOnL._SR400,400_.jpg" alt="Lighted Hollywood Style Makeup Cosmetic Mirrors" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ybnghn">Lighted Hollywood Style Makeup Cosmetic Mirrors Vanity Mirror with 12 x 3W Dimmable LED Bulbs and Touch Control Design White</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$79.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $79.99</strong> with promo code: <strong>50WIP5MV</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ybnghn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="16.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YaSaq7"><img src="https://m.media-amazon.com/images/I/61SXPb3qB7L._SR400,400_.jpg" alt="Cleansing Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>192 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YaSaq7">【New Version】Facial Cleansing Brush, Rechargeable Electric Rotating Face Scrubber with Latest Ion Technology & 4 Brush Heads, Perfect for Deep...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.89</span><span class="ori_price">$25.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>35% off at $25.99</strong> with promo code: <strong>35FHY8UU</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YaSaq7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NdOK4Z"><img src="https://m.media-amazon.com/images/I/61RW-KSzYYL._SR400,400_.jpg" alt="Aromacare Aromatherapy Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NdOK4Z">Aromacare Aromatherapy Essential Oil Diffuser 300ML, Diffusers for Essential Oils with 7 Color LED Lights and Waterless Auto Shut-Off,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>40% off at $25.99</strong> with promo code: <strong>4071WDWL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NdOK4Z">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N6EsU3"><img src="https://m.media-amazon.com/images/I/714CAAf279L._SR400,400_.jpg" alt="Derma Roller Cosmetic Needling Instrument Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>59 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N6EsU3">Derma Roller Cosmetic Needling Instrument Kit for Face & Body [By 9Oine Skincare], 600 Titanium Microneedles 0.30mm, FOUR Replaceable Heads,Hair Beard...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.38</span><span class="ori_price">$18.97</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $18.97</strong> with promo code: <strong>40BKPA7V</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N6EsU3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nb3d1v"><img src="https://m.media-amazon.com/images/I/71Csp8U3hxL._SR400,400_.jpg" alt="Acne Treatment Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>202 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nb3d1v">Acne Treatment Serum, BREYLEE Tea Tree Clear Skin Serum for Clearing Severe Acne, Breakout, Remover Pimple and Repair Skin (17ml,0.6oz) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.50</span><span class="ori_price">$10.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $10.99</strong> with promo code: <strong>50RTMUOE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nb3d1v">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="6.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nc2e1j"><img src="https://m.media-amazon.com/images/I/91p3-h9s5jL._SR400,400_.jpg" alt="Crest 3D White Toothpaste Radiant Mint" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>431 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nc2e1j">Crest 3D White Toothpaste Radiant Mint 4.8 oz (3 pack) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.97</span><span class="ori_price">$9.97</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $9.97</strong> with promo code: <strong>3CREST3DMINT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nc2e1j">Use Code at Amazon</a></div>
</div>

