<div class="card clearfix" data-score="40" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SUXWKO"><img src="https://m.media-amazon.com/images/I/71WuNODGrJL._SR400,400_.jpg" alt="Motion Sensor Headlamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SUXWKO">Motion Sensor Headlamp, Boosiny Brightest High 6000 Lumen LED T6 Work Headlight, 18650 USB Rechargeable Waterproof Headlight...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$27.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40ZZP2FS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $27.99</strong> with promo code: <strong class="m_codes">40ZZP2FS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SUXWKO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/318b55U"><img src="https://m.media-amazon.com/images/I/81YYcc7WuqL._SR400,400_.jpg" alt="Kitchen Utensils Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/318b55U">Kitchen Utensils Set, Cooking Utensils Set, 22 Silicone Kitchen Utensil Set, Kitchen Cooking Tool...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40JKLGUX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.99</strong> with promo code: <strong class="m_codes">40JKLGUX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/318b55U">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LS5g9c"><img src="https://m.media-amazon.com/images/I/41kY0GSdhaL._SR400,400_.jpg" alt="Teeggi Skipping Rope Jumping Rope" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LS5g9c">Teeggi Skipping Rope Jumping Rope Tangle-Free with Ball Bearings Rapid Speed Jump Rope Cable and 6”...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span></address>
      <div class="ss_deals"><p>with Subscribes & Save deals</p></div>

      <textarea readonly="readonly" class="code_area">50DUAKQF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50DUAKQF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LS5g9c">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.2">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LSaLF4"><img src="https://m.media-amazon.com/images/I/61wfqQf3l9L._SR400,400_.jpg" alt="IFYOO X-ONE Wireless Controller" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LSaLF4">IFYOO X-ONE [Bluetooth&Wired] Wireless Controller USB Gaming Gamepad Joystick for Switch | PC & Laptop...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.2</span><span class="ori_price">$28.00</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $28.00</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LSaLF4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="17.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/331gBcz"><img src="https://m.media-amazon.com/images/I/71p0yPBszyL._SR400,400_.jpg" alt="Anbock Under Cabinet Lighting" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>227 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/331gBcz">Anbock Under Cabinet Lighting Remote Control Wireless LED Closets Light Battery Operated with Timer & Touch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.54</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">35I5D91O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $26.99</strong> with promo code: <strong class="m_codes">35I5D91O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/331gBcz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/330ExN9"><img src="https://m.media-amazon.com/images/I/6136jydtB9L._SR400,400_.jpg" alt="Chalkboard Paper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/330ExN9">Chalkboard Paper - Blackboard Vinyl Paper Removable Bulletin Wall Sticker, Giveaway of Free: 1 White Chalk Marker Pen...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.98</span><span class="ori_price">$9.96</span></address>
      <textarea readonly="readonly" class="code_area">50F3GXBH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.96</strong> with promo code: <strong class="m_codes">50F3GXBH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/330ExN9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQcr1J"><img src="https://m.media-amazon.com/images/I/41XUrq1TqnL._SR400,400_.jpg" alt="DREAM PAIRS Men's Walking Shoes Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>227 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQcr1J">DREAM PAIRS Men's Walking Shoes Sneakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">50PLEAHQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50PLEAHQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LQcr1J">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQSckG"><img src="https://m.media-amazon.com/images/I/61nebnyTnhL._SR400,400_.jpg" alt="Under Eye Cream by Majestic Pure" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>49 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQSckG">Under Eye Cream by Majestic Pure - Age Defying Retinal - Reduces the Appearances of Wrinkles, Dark Circles, Puffiness,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.60</span><span class="ori_price">$21.50</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">60EMB24P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $21.50</strong> with promo code: <strong class="m_codes">60EMB24P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LQSckG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SRtpgV"><img src="https://m.media-amazon.com/images/I/51+tnk5cR8L._SR400,400_.jpg" alt="RAOYI LED Desk Lamp Eye-Caring Table Lamps" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>140 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SRtpgV">RAOYI LED Desk Lamp Eye-Caring Table Lamps, Dimmable Office Lamp with USB Charging Port, Touch Control Sensitive,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.87</span><span class="ori_price">$19.79</span></address>
      <textarea readonly="readonly" class="code_area">40ABYFXH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.79</strong> with promo code: <strong class="m_codes">40ABYFXH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SRtpgV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YvaM7D"><img src="https://m.media-amazon.com/images/I/81shMgUPpGL._SR400,400_.jpg" alt="Selfie Stick" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,236 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YvaM7D">Selfie Stick, Extendable Selfie Stick Tripod with Detachable Wireless Remote and Tripod Stand Selfie Stick...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">20VPF6L5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $14.99</strong> with promo code: <strong class="m_codes">20VPF6L5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YvaM7D">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="19.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGKnEh"><img src="https://m.media-amazon.com/images/I/5170jpJU5nL._SR400,400_.jpg" alt="20000mAh Portable Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>180 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGKnEh">20000mAh Portable Charger, Quick Charge 3.0 Dual Input Output Typec-C Port with LCD Display High Capacity Power Bank,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.49</span><span class="ori_price">$29.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">35NMYFN2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $29.99</strong> with promo code: <strong class="m_codes">35NMYFN2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YGKnEh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="14.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2STPoUE"><img src="https://m.media-amazon.com/images/I/71rxVFEUUlL._SR400,400_.jpg" alt="S-ZONE Vintage Canvas Leather Messenger Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>34 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2STPoUE">S-ZONE Vintage Canvas Leather Messenger Bag Briefcase 15.6-inch Laptop Tote Shoulder Bag (Blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.80</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">608FKVSD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $36.99</strong> with promo code: <strong class="m_codes">608FKVSD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2STPoUE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="6.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MqRdXK"><img src="https://m.media-amazon.com/images/I/71iEnwmBKvL._SR400,400_.jpg" alt="Mini Handheld Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>35 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MqRdXK">Mini Handheld Fan, MECO Portable Operated Fan Desktop Fan Outdoor Electric Fan with Phone Holder Aromatherapy Design ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.29</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">63LUGKHL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>63% off at $16.99</strong> with promo code: <strong class="m_codes">63LUGKHL</strong></span></p><span class="ex_date ex_date_new">Expiration Date :  Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MqRdXK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="22.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SVRwer"><img src="https://m.media-amazon.com/images/I/61+Ay1K+AQL._SR400,400_.jpg" alt="Moskee USB C Hub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>79 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SVRwer">Moskee USB C Hub for MacBook Pro 2016/2017/2018 7 in 1 Type C Adapter 4K HDMI 2 USB 3.0 Ports Type C Hub SD&Micro SD...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.19</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">402YRKWY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $36.99</strong> with promo code: <strong class="m_codes">402YRKWY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SVRwer">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="16.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBqX3n"><img src="https://m.media-amazon.com/images/I/71-UhR3ReWL._SR400,400_.jpg" alt="EDODAY Casual Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBqX3n">EDODAY Casual Backpack, Daypack Backpack for Women Men Colleage High School, Travel Backpack Daypack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.25</span><span class="ori_price">$64.99</span></address>
      <textarea readonly="readonly" class="code_area">75S3M1ZI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $64.99</strong> with promo code: <strong class="m_codes">75S3M1ZI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YBqX3n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GBpYG4"><img src="https://m.media-amazon.com/images/I/61FrqpULvsL._SR400,400_.jpg" alt="APEKX Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>267 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GBpYG4">APEKX Bluetooth Headphones, Wireless in-Ear Earbuds, HiFi Stereo Bass Sports Headset, IPX7 Waterproof Earphone for Running</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50UGJBKW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50UGJBKW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GBpYG4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="22.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mu09vm"><img src="https://images-na.ssl-images-amazon.com/images/I/61NLVr6Q3HL._SX679_.jpg" alt="ZHMA 100W LED Flood Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>120 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mu09vm">ZHMA 100W LED Flood Light, Waterproof IP65 Super Bright Outdoor Work Light With US 3-Plug,LED Work Light,500W Halogen...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.19</span><span class="ori_price">$36.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40Z7J3NF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $36.99</strong> with promo code: <strong class="m_codes">40Z7J3NF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Mu09vm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/314NVgP"><img src="https://m.media-amazon.com/images/I/61UA56cv+AL._SR400,400_.jpg" alt="Head Scratcher Pack of 2" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/314NVgP">Head Scratcher Pack of 2, Scalp Massager Tool for Stress Relief (Random Colors)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50PLXINK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50PLXINK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/314NVgP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="3.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Muhwwm"><img src="https://m.media-amazon.com/images/I/61OhMrgqKeL._SR400,400_.jpg" alt="ZATAYE Car Window Shade" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>103 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Muhwwm">ZATAYE Car Window Shade - 4 Pack Car Side Windows Sunshade for Baby,Car Sun Shades Protector,80 GSM for Maximum ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.90</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">70H3LK7W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $12.99</strong> with promo code: <strong class="m_codes">70H3LK7W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Muhwwm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="6.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K6C6RI"><img src="https://m.media-amazon.com/images/I/61bojn31iKL._SR400,400_.jpg" alt="PETRIP Hands Free Dog Leash Premium Training Leash" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>13 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K6C6RI">PETRIP Hands Free Dog Leash Premium Training Leash for Large Medium Dogs with Travel Wallets for Training, Walking...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.65</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">65YL5S28</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $18.99</strong> with promo code: <strong class="m_codes">65YL5S28</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2K6C6RI">Use Code at Amazon</a></div>
</div>


