<div class="hotdeal_form">
  <%= simple_form_for(@storepromotion) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.association :spcategory, label: 'Category Of Stores' %><br />
      <%= f.input :sp_store_name, label: 'Store Name' %>
      <%= f.input :sp_image, label: 'Store Logo' %>
      <%= f.input :sp_spare_02, label: 'Product Image' %>
      <%= f.input :sp_link, label: 'Store Link' %>
      <%= f.input :sp_title, label: 'Title of Deal'%>
      <%= f.input :sp_spare_01, label: 'Korean Title'%>
      <div class="pricing clearfix">
        <%= f.input :sp_spare_40, label: 'List Price' %>
        <%= f.input :sp_spare_41, label: 'Current Price' %>
        <%= f.input :sp_percentage_01, label: 'Up to Percentage' %>
        <%= f.input :sp_percentage_02, label: 'Percentage' %>
      </div>
      <div class="pricing clearfix">
        <p>If you don't know "Percentage"</p>
        <%= f.input :sp_spare_42, label: 'List Price' %>
        <%= f.input :sp_spare_43, label: 'Current Price' %>
      </div>
      <div class="pricing clearfix">
        <%= f.input :sp_promocode, input_html: { class: "promo_code" }, label: 'Promotion Code' %>
        <%= f.input :sp_end_date, input_html: { class: "promo_date" }, label: 'Ends Date' %>
        <%= f.input :sp_spare_60, label: 'Expired Date' %>
        <%= f.input :sp_spare_61, label: 'Ends Today' %>        
      </div>
      <%= f.input :sp_description, as: :trix_editor, label: 'Description of Deal' %>
    </div>

    <div class="form_btn"><%= f.button :submit %></div>
  <% end %>
</div>

<!-- Site Info Popup -->
<div class="form_popup">
  <input type="checkbox" id="popup__1" class="popup__check" />
  <div class="popup__base">
    <label for="popup__1" class="popup__bg"></label>
    <div class="popup__inner">
      <div class="popup__calign">
        <label for="popup__1" class="popup__close">+</label>
      </div>
      <div class="popup__textbox">
        <p>Site Information</p>
        <%= render 'storepromotions/table' %>
      </div>
    </div>
  </div>
  <!-- End popup -->
  <label class="trigger" for="popup__1">Info</label>
</div>