<div class="featured">
  <button class="gnb_open"><img src="<%=asset_path 'open_black.png' %>" alt="모바일 메뉴 열기" /></button>
  <!-- <div class="sm_pc"></div> -->
  
  <div class="sm_mobile sp_m">
    <ul class="sp_ul" id='sort'>
      <div class="store_search"><%= form_for "",url: storepromotions_path, role: "search", method: :get do %><%= text_field_tag :search, @search_term, placeholder: "Search..." %><% end %></div>
      <li><a href="/storepromotions/">All Stores</a><br/></li>
      <% Spcategory.all.each do |category| %>
        <li><%= link_to category.name, storepromotions_path(spcategory: category.name) %></li>
      <% end %>
        <li><%= link_to 'New Storepromotion', new_storepromotion_path %></li>
        <li><%= link_to "New Category", new_spcategory_path %></li>
    </ul>
    <button class="gnb_close"><img src="<%=asset_path 'close_white.png' %>" alt="모바일 메뉴 닫기" /></button>
  </div>
</div><!--./featured-->
<div class="gnb_kbg"></div>