<!-- <p id="notice"><%= notice %></p> -->
<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <div class="sd_category">
      <% if params[:spcategory].present? %>
        <div class="dealpage_title"><p>Promotions Of <span><%= params[:spcategory] %></span></p></div>
      <% else %>
        <div class="dealpage_title"><p>Sales & Promotions</p></div>    
      <% end %>
    </div>

    <div class="sp_wrap">

      <div class="sp_left">
        <div class="sp_menu">
          <div class="text show-more-height">
            <div class="store_search"><%= form_for "",url: storepromotions_path, role: "search", method: :get do %><%= text_field_tag :search, @search_term, placeholder: "Search Store..." %><% end %></div>
            <% if can? :update, @storepromotions %>
             <ul>
              <li class="admin"><%= link_to 'New Deals', new_storepromotion_path %></li>
              <li class="admin"><%= link_to "New Store(Category)", new_spcategory_path %></li>
             </ul>
            <% end %>
            <button id='sort-button'>Sort By Alphabetically</button>
            <ul><li><a href="/storepromotions/">All Stores</a></li></ul>
            <ul id='sort'>
              <% Spcategory.all.each do |category| %>
                <li><%= link_to category.name, storepromotions_path(spcategory: category.name) %></li>
              <% end %>
            </ul>
            <!-- Only in navbar
            <% Spcategory.where(display_in_navbar: true).each do |category| %>
              <%= link_to category.name, storepromotions_path(spcategory: category.name) %>
            <% end %> -->
          </div>
        </div>
        <div class="show-more">Show More</div>
      </div>
      <%= render 'storepromotions/navbar' %>

      <div class="sp_right">
        
          <% @storepromotions.each do |storepromotion| %>
            <div class="sp_card clearfix">
              <div class="sp_image">                
                <%= link_to image_tag(storepromotion.sp_image, alt: storepromotion.sp_title, title: storepromotion.sp_store_name), storepromotion %>
              </div>
              <div class="inner">
                <p><span class="index_title"><%= storepromotion.sp_store_name %></span>
                  <% if storepromotion.sp_spare_40.present? || storepromotion.sp_spare_42.present?%>
                  <% else %>
                  <% if storepromotion.sp_percentage_01.present? %>| Up to <%= number_to_percentage(storepromotion.sp_percentage_01, precision: 0) %> OFF<% end %>
                  <% end %>
                </p>

                <p class="sp_title"><%= link_to storepromotion.sp_title, storepromotion %></p>

                <% if storepromotion.sp_spare_40.present? %>
                  <p class="h_price"><%= number_to_currency(storepromotion.sp_spare_41) %> <span class="span_01"><%= number_to_currency(storepromotion.sp_spare_40) %></span><span class="span_02">( <%= number_to_percentage(storepromotion.sp_percentage_01, precision: 0) %> OFF )</span></p>
                <% else %>
                  <% if storepromotion.sp_spare_42.present? %>
                    <% running_total = 0 %>
                    <% running_total =  (storepromotion.sp_spare_42 - storepromotion.sp_spare_43) / storepromotion.sp_spare_42 * 100 %>
                    <p class="h_price"><%= number_to_currency(storepromotion.sp_spare_43) %> <span class="span_01"><%= number_to_currency(storepromotion.sp_spare_42) %></span><span class="span_02">( <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
                  <% end %>
                <% end %>

                <em class="code_em em_box">
                  <% if storepromotion.sp_end_date.present? %>
                    <% if storepromotion.sp_spare_60 && (storepromotion.sp_spare_60 < DateTime.now) %>
                    <% storepromotion.sp_spare_60 %>
                      <em class="expired code_em">EXPIRED</em>
                    <% else %>
                      <% if storepromotion.sp_spare_61 && (storepromotion.sp_spare_61 <= DateTime.now) %>
                      <% storepromotion.sp_spare_61 %>
                       <em class="endtoday code_em">This offer expires TODAY</em>
                      <% else %>
                       <em class="code_em">* End Date: <%= storepromotion.sp_end_date %></em>
                       <!-- <em class="code_em">* Offers can be expired fast.</em> -->
                      <% end %>
                    <% end %>
                  <% end %>
                </em>
                <!-- <% if storepromotion.sp_end_date.present? %>
                  <div class="promocode_m">
                    <% if storepromotion.sp_promocode.present? %>
                      <div class="text_copied store_code">
                        <div class="container"><div class="wrap"><div class="box"><p data-copy-text=""><%= storepromotion.sp_promocode %></p></div></div></div>
                      </div>
                      <em class="code_em em_box">
                        <% if storepromotion.sp_spare_60 && (storepromotion.sp_spare_60 < DateTime.now) %>
                        <% storepromotion.sp_spare_60 %>
                          <em class="expired code_em">* This Promo Code has EXPIRED.</em>
                        <% else %>
                          <% if storepromotion.sp_spare_61 && (storepromotion.sp_spare_61 <= DateTime.now) %>
                          <% storepromotion.sp_spare_61 %>
                            <em class="code_em endtoday">* This coupon expires today.</em>
                          <% else %>
                            <em class="code_em">* End Date: <%= storepromotion.sp_end_date %></em>
                            <em class="code_em">* Pricing may change and deals can expire fast.</em>
                          <% end %>
                        <% end %>
                      </em>
                    <% else %>
                      <em class="code_em em_box">
                        <% if storepromotion.sp_spare_60 && (storepromotion.sp_spare_60 < DateTime.now) %>
                        <% storepromotion.sp_spare_60 %>
                          <em class="expired code_em">* This offer has EXPIRED.</em>
                        <% else %>
                          <% if storepromotion.sp_spare_61 && (storepromotion.sp_spare_61 <= DateTime.now) %>
                          <% storepromotion.sp_spare_61 %>
                           <em class="code_em">* This offer expires today.</em>
                          <% else %>
                           <em class="code_em">* End Date: <%= storepromotion.sp_end_date %></em>
                           <em class="code_em">* Pricing may change and deals can expire fast.</em>
                          <% end %>
                        <% end %>
                      </em>
                    <% end %>
                  </div>
                <% else %>
                    <div class="text_copied store_code">
                      <div class="container"><div class="wrap"><div class="box"><p data-copy-text=""><%= storepromotion.sp_promocode %></p></div></div></div>
                    </div>
                <% end %> -->

                <% if can? :update, storepromotion %>
                  <div class="admin">
                    <%= link_to 'Show', storepromotion %> |
                    <%= link_to 'Edit', edit_storepromotion_path(storepromotion) %> |
                    <%= link_to 'Destroy', storepromotion, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
                
               
              </div>

              <div class="sp_btn"><a class="sp_btn_pc" href="<%= storepromotion.sp_link %>">Check This Deals</a></div>

            </div><!--./sd_card-->
          <% end %>
      </div>
      <%= will_paginate @storepromotion %>

    </div><!--./sp_wrap-->
  </div><!--./warp-->
</div><!--./layout-->
<script><%= render(:partial => 'storepromotions', :handlers => [:erb], :formats => [:js]) %></script>









