<!-- <p id="notice"><%= notice %></p> -->
<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <div class="dealpage_title"><p>Sales & Promotions</p></div>

    <div class="sp_wrap">

      <div class="sp_left">
        <div class="sp_menu">
          <ul>
            <li><a href="/storepromotions/">All Categories</a><br/></li>
            <% Spcategory.all.each do |category| %>
              <li><%= link_to category.name, storepromotions_path(spcategory: category.name) %></li>
            <% end %>
            
              <li><%= link_to 'New Storepromotion', new_storepromotion_path %></li>
              <li><%= link_to "New Category", new_spcategory_path %></li>
            
          </ul>
          <!-- Only in navbar
          <% Spcategory.where(display_in_navbar: true).each do |category| %>
            <%= link_to category.name, storepromotions_path(spcategory: category.name) %>
          <% end %> -->
        </div>
        
      </div>

      <div class="sp_right">
        
          <% @storepromotions.each do |storepromotion| %>
            <div class="sp_card clearfix">
              <div class="sp_image">
                <a target="_blank" href="<%= storepromotion.sp_link %>"><img src="<%= storepromotion.sp_image %>" alt="<%= storepromotion.sp_title %>" title=""></a>
              </div>
              <div class="inner">
                <p><%= storepromotion.sp_store_name %> | Up to <%= number_to_percentage(storepromotion.sp_percentage_01, precision: 0) %> OFF</p>

                <p class="sp_title"><a target="_blank" href="<%= storepromotion.sp_link %>"><%= storepromotion.sp_title %></a></p>
                <!-- <p><%= storepromotion.sp_description %></p> -->
                <!-- <em>End Date: <%= storepromotion.sp_end_date %></em> -->
                <% if storepromotion.sp_promocode.present? %>
                  <div class="text_copied store_code">
                    <div class="container"><div class="wrap"><div class="box"><p data-copy-text=""><%= storepromotion.sp_promocode %></p></div></div></div>
                  </div>
                  <em class="code_em">End Date: <%= storepromotion.sp_end_date %></em>
                <% else %>
                  <em>End Date: <%= storepromotion.sp_end_date %></em>
                <% end %>
                <!-- <p><%= storepromotion.spcategory.name %></p> -->
                <!-- <div class="btn"><a href="<%= storepromotion.sp_link %>">Check This Deals</a></div> -->
                <% if can? :update, storepromotion %>
                  <div class="admin">
                    <%= link_to 'Show', storepromotion %> |
                    <%= link_to 'Edit', edit_storepromotion_path(storepromotion) %> |
                    <%= link_to 'Destroy', storepromotion, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
              </div>

              <div class="sp_btn">
                <a href="<%= storepromotion.sp_link %>">Check This Deals</a>
              </div>

            </div>
          <% end %>
      </div>

    </div><!--./sp_wrap-->
  </div><!--./warp-->
</div><!--./layout-->










    
        
        