<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_bystore' %>
    <%= render 'deals/header_store' %>
    <%= render 'shared/botton_store' %>
    
    <div class="sd_category">
      <% if params[:spcategory].present? %>
        <div class="dealpage_title sd_com"><p>Deals Of <span><%= params[:spcategory] %></span></p></div>
      <% else %>
        <!-- <div class="dealpage_title sd_com"><p>Sales & Promotions</p></div>     -->
      <% end %>
    </div>

    <%= render 'storepromotions/index_02' %>
      

    </div><!--./sp_wrap-->
  </div><!--./warp-->
</div><!--./layout-->
<script><%= render(:partial => 'storepromotions', :handlers => [:erb], :formats => [:js]) %></script>









