<div class="layout">
  
  <div class="show_wrap clearfix">
    <div class="wrap">
    <div class="oh_menu">
      <%= render 'shared/header_bystore' %>
      <%= render 'deals/header_store' %>
      <%= render 'shared/botton_store' %>
    </div>
      <div class="show_box clearfix">
        
        <!-- <p>Location Map</p> -->
        <div class="show_img hotdeal_img">
          <div class="store_imgbox store_promotion">
            <% if @storepromotion.sp_spare_02.present? %>
              <img src="<%= @storepromotion.sp_spare_02 %>">
            <% else %>  
              <img src="<%= @storepromotion.sp_image %>">
            <% end %>
          </div>
          <% if can? :update, @storepromotion %>
            <div class="admin">
              <%= link_to 'Back', storepromotions_path %> |
              <%= link_to 'Edit', edit_storepromotion_path(@storepromotion) %> |
              <%= render 'storepromotions/body_sns' %>
              <%= @storepromotion.impressionist_count %> views
              <div class="sharing">
                <% if @storepromotion.sp_store_name.present? %>
                  <p>Available At <%= @storepromotion.sp_store_name %> Now</p>
                <% else %>
                  <p>Available At <%= @storepromotion.spcategory.name %> Now</p>
                <% end %>
                <p><%= @storepromotion.sp_title %></p>
                <p>#HotDeals #Coupons #CouponCodes 
                  <% if @storepromotion.sp_store_name.present? %>
                    #<%= @storepromotion.sp_store_name %> 
                  <% else %>
                    #<%= @storepromotion.spcategory.name %> 
                  <% end %>
                </p>
                <p>http://ohigottabuythis.net/storepromotions/<%=(params[:id]) %></p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="show_inner">
         <div class="hotdeal_inner">
           <% if @storepromotion.sp_spare_40.present? || @storepromotion.sp_spare_42.present?%>
           <% else %>
            <% if @storepromotion.sp_store_name.present? %>
              <p class="store_p"><%= @storepromotion.sp_store_name %> 
            <% else %>
              <p class="store_p"><%= @storepromotion.spcategory.name %> 
            <% end %>
              <% if @storepromotion.sp_percentage_01.present? %>| Up to <%= number_to_percentage(@storepromotion.sp_percentage_01, precision: 0) %> OFF
              <% end %>
            </p>
           <% end %>
           <h2 class="store_h2"><%= @storepromotion.sp_title %></h2>

           <% if @storepromotion.sp_spare_40.present? %>
            <p class="h_price"><%= number_to_currency(@storepromotion.sp_spare_41) %> <span class="span_01"><%= number_to_currency(@storepromotion.sp_spare_40) %></span><span class="span_02">( <%= number_to_percentage(@storepromotion.sp_percentage_01, precision: 0) %> OFF )</span></p>
           <% else %>
            <% if @storepromotion.sp_spare_42.present? %>
              <% running_total = 0 %>
              <% running_total =  (@storepromotion.sp_spare_42 - @storepromotion.sp_spare_43) / @storepromotion.sp_spare_42 * 100 %>
              <p class="h_price"><%= number_to_currency(@storepromotion.sp_spare_43) %> <span class="span_01"><%= number_to_currency(@storepromotion.sp_spare_42) %></span><span class="span_02">( <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
            <% end %>
          <% end %>

           <div class="store_info">
            <% if @storepromotion.sp_store_name.present? %>
              <em>* Click through to see <%= @storepromotion.sp_store_name %>'s special offers.</em>
            <% else %>
              <em>* Click through to see <%= @storepromotion.spcategory.name %>'s special offers.</em>
            <% end %>
            <% if @storepromotion.sp_promocode.present? %>
              <em>* Enter <%= @storepromotion.sp_store_name %>'s promo code "<span><%= @storepromotion.sp_promocode %></span>" at checkout to receive your savings.</em>
            <% else %>
              <em>* No Code Required</em>
            <% end %>

           <!-- </div> -->

             <% if @storepromotion.sp_end_date.present? %>
               <% if @storepromotion.sp_promocode.present? %>
                  <div class="extra_info">
                    <!-- <em>* Pricing may change and deals can expire fast.</em> -->
                    <em class="code_em">
                      <% if @storepromotion.sp_spare_60 < DateTime.now %>
                      <% @storepromotion.sp_spare_60 %>
                        <em class="expired">Expired</em>
                      <% else %>
                        <% if @storepromotion.sp_spare_61 <= DateTime.now %>
                        <% @storepromotion.sp_spare_61 %>
                          <em class="endtoday">* End Today</em>
                        <% else %>
                          * Ends Date: <%= @storepromotion.sp_end_date %> 
                        <% end %>
                      <% end %>
                    </em>
                  </div> 
                  <!-- <div class="text_copied intheshow_store">
                    <div class="container"><div class="wrap"><div class="box"><p data-copy-text=""><%= @storepromotion.sp_promocode %></p></div></div></div>
                  </div> -->
                <% else %>
                  <div class="extra_info">  
                   <!-- <em>* Pricing may change and deals can expire fast.</em> -->
                    <% if @storepromotion.sp_spare_60 < DateTime.now %>
                    <% @storepromotion.sp_spare_60 %>
                      <em class="expired">Expired</em>
                    <% else %>
                     <% if @storepromotion.sp_spare_61 <= DateTime.now %>
                      <% @storepromotion.sp_spare_61 %>
                        <em class="endtoday">* End Today</em>
                      <% else %>
                        <em>* End Date: <%= @storepromotion.sp_end_date %></em>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <% if @storepromotion.sp_promocode.present? %>
                  <em>* End Date: End Soon</em>
                  <!-- <div class="text_copied intheshow_store">
                    <div class="container"><div class="wrap"><div class="box"><p data-copy-text=""><%= @storepromotion.sp_promocode %></p></div></div></div>
                  </div> -->
                <% end %>
              <% end %>

            </div><!--./store_info-->
            <div class="pc_btn">
              <div class="code_btn">
                <% if @storepromotion.sp_store_name.present? %>
                  <a class="m_btn p_btn store_btn" target="_blank" href="<%= @storepromotion.sp_link %>">Check it out on &ensp;<em><%= @storepromotion.sp_store_name %></em></a>
                <% else %>
                  <a class="m_btn p_btn store_btn" target="_blank" href="<%= @storepromotion.sp_link %>">Check it out on &ensp;<em><%= @storepromotion.spcategory.name %></em></a>
                <% end %>
              </div>
            </div>

            <div class="mobile_btn">
              <div class="code_btn">
                <% if @storepromotion.sp_store_name.present? %>
                  <a class="m_btn p_btn store_btn" href="<%= @storepromotion.sp_link %>">Check it out on &ensp;<em><%= @storepromotion.sp_store_name %></em></a>
                <% else %>
                  <a class="m_btn p_btn store_btn" href="<%= @storepromotion.sp_link %>">Check it out on &ensp;<em><%= @storepromotion.spcategory.name %></em></a>
                <% end %>
              </div>
            </div>

             <% if @storepromotion.sp_description.present? %>
             <div class="trix"><p><%= @storepromotion.sp_description.html_safe %></p></div>
            <% end %>

          </div><!--./hotdeal_inner-->
         </div><!--./show_inner-->

          <% if can? :update, @storepromotion %>
            <div class="pinterest">
             <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
            </div>
          <% end %>  

      </div><!--./show_box-->

      
      <div class="like_more">
       <% if @storepromotion.sp_store_name.present? %>
        <p>Look at more <span><%= @storepromotion.sp_store_name %></span>'s offers </p>
       <% else %>
        <p>Look at more <span><%= @storepromotion.spcategory.name %></span>'s offers </p>
       <% end %>
       <% @more_deals.shuffle.take(8).each do |spcategory| %>
          <% if spcategory.spcategory_id == @storepromotion.spcategory_id %>
            <ul>
              <li><%= link_to spcategory.sp_title, spcategory %></li>
            </ul>
          <% end %>
        <% end %>
      </div>
      
    </div><!--./wrap-->
  </div><!--./show_wrap-->
</div><!--./layout-->




















