<div class="botton_m clearfix">
  <a href="/deals/quick_search"><img src="<%=asset_path 'ui_finder.png' %>" alt="Amazon Deal Finder" /></a>
  <a href="/bargains"><img src="<%=asset_path 'ui_featured.png' %>" alt="Amazon Featured Deals" /></a>
  <a href="/hotdeals"><img src="<%=asset_path 'ui_sale.png' %>" alt="Amazon Sale" /></a>
  <a href="/promocodes"><img src="<%=asset_path 'ui_coupon.png' %>" alt="Amazon Coupon" /></a>
  <a href="https://amzn.to/2Q8uWyX"><img src="<%=asset_path 'ui_dotd.png' %>" alt="Deal Of The Day" /></a>
</div>