<div class="layout">
  <div class="wrap">
  <div class="footer2 clearfix">
    
      
      <div class="footer_up clearfix">
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/0higottabuythis/"><img src="<%=asset_path 'facebook.png' %>" alt="facebook">Facebook</a></li>
          <li><a target="_blank" href="https://www.instagram.com/oh_igottabuythis"><img src="<%=asset_path 'instagram.png' %>" alt="instagram">Instagram</a></li>
          <li><a target="_blank" href="https://www.pinterest.co.kr/ohigottabuythis"><img src="<%=asset_path 'pinterest.png' %>" alt="pinterest">Pinterest</a></li>
          <!-- <li><a target="_blank" href="https://twitter.com/ohigottabuythis"><img src="<%=asset_path 'twitter.png' %>" alt="twitter"></a></li> -->
          <li><a class="footer_tube" target="_blank" href="https://www.youtube.com/channel/UCPtAAP5zlHCRYdCDqGR_jeA?view_as=subscriber"><img src="<%=asset_path 'youtube_02.png' %>" alt="youtube">Youtube</a></li>
        </ul>
      </div>

      <div class="footer_down">
        <ul>
          <li><a href="/">#Home</a></li>
          <li><a href="/categories">#Category</a></li>
          <li><a href="/recommends">#Featured</a></li>
          <li><a href="/deals/quicksearch">#Amazon Deals Finder</a></li>
          <li><a href="/deals/bestdeals">#Amazon Deals</a></li>
          <li><a href="/deals/promo_codes">#Amazon Coupon Codes</a></li>
          <li><a href="/deals/storepromotions">#Stores</a></li>
          <!-- <li><a href="/deals/most_reviewed">#Most-Reviewed</a></li> -->
          
          <!-- <li><a href="/deals/promotions">#Promotions</a></li> -->
          <li><a href="/messages">#About US</a></li>
          <!-- <li><a href="/messages/new">#Contact US</a></li> -->
        </ul>
      </div>

    </div><!--./wrap-->
  </div><!--./footer-->
</div>
