<div class="layout"><!--layout-->
    
    <%= render 'shared/header' %>
    
    <!-- for play youtube video-->
    <div class="overlay-video">
      <div class="videoWrapperExt">
        <div class="videoWrapper">
          <div class="video_close"></div>
          <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>        
    </div>

    <div class="gadgets">
      <div class="wrap">
        <div class="card_wrap clearfix">
          <% @gadgets.each do |gadget| %>
            <div class="card with-photo">
              <div class="card-header">
               <a target="_blank" href="<%= gadget.gg_url %>"><img src="<%= gadget.gg_img %>" alt="<%= gadget.gg_title %>"></a>
              </div>
              
              <section class="card-body">
                
                <% if gadget.gg_youtube01.present? %>
                  <div class="js-overlay-start start" data-url= "<%= gadget.gg_youtube01 %>">
                    <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
                  </div>
                <% end %>

                <% if gadget.gg_option_01.present? %>
                  <div class="crowdfunding">
                    <p>#crowdfunding</p>
                  </div>
                <% end %>

                <% if gadget.gg_title.present? %>
                  <span>BY <%= gadget.gg_from %></span> 
                  <% if gadget.gg_option_02.present? %>
                    <a class="to_featured" href="<%= gadget.gg_option_02 %>">Discover More</a>
                  <% end %>
                  <h4><a target="_blank" href="<%= gadget.gg_url %>"><%= gadget.gg_title %></a></h4>
                  <!-- <p><%= gadget.gg_intro %></p> -->
                  <div class="btn clearfix">
                    <em>$<%= gadget.gg_aprice %></em><a target="_blank" href="<%= gadget.gg_url %>">Buy Now</a>
                  </div>
                <% end %>
                <% if can? :update, gadget %>
                  <div class="btn clearfix admin">
                    <em><%= link_to "Edit", edit_gadget_path(gadget) %></em><%= link_to "Delete", gadget_path(gadget), method: :delete, data: {confirm: "Are you sure?"}%>
                  </div>   
                <% end %>


                <!-- <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_tracking_id = "3628-20";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_title = "Shop Related Products";
                amzn_assoc_default_search_phrase = "<%= gadget.gg_title %>";
                amzn_assoc_default_category = "All";
                amzn_assoc_linkid = "d5db913e7c544a6da6995c4c28898530";
                amzn_assoc_rows = "4";
                amzn_assoc_design = "text_links";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->
                <% if can? :update, gadget %>
                  <div class="pinterest">
                   <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
                  </div>
                <% end %>
              </section>
            </div>
          <% end %>
        </div><!--./card_wrap-->
        <%= will_paginate @gadgets %>
    </div><!--./wrap-->
  </div><!--./gadgets-->
  <% if can? :update, @gadget %>
    <div class="add_gadget">
      <a href="/gadgets/new"><img src="<%=asset_path 'add.png' %>"></a>
    </div>
  <% end %>
</div><!--./layout-->

     