<div class="layout"><!--layout-->
    
    <%= render '/shared/header' %>
    
    <!-- for play youtube video-->
    <div class="overlay-video">
      <div class="videoWrapperExt">
        <div class="videoWrapper">
          <div class="video_close"></div>
          <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>        
    </div>

    <div class="gadgets">
      <div class="wrap">
        
        <div class="card_wrap clearfix">
          <% @gadgets.each do |gadget| %>
            <div class="card with-photo">
              <div class="card-header">
               <div class="home_img">
                <a target="_blank" href="<%= gadget.gg_url %>"><img src="<%= gadget.gg_img %>" alt=""></a>
               <div>
              </div>
              
              <section class="card-body">
                
                <% if gadget.gg_youtube01.present? %>
                  <div class="js-overlay-start start" data-url= "<%= gadget.gg_youtube01 %>">
                    <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                  </div>
                <% end %>

                <h4><a target="_blank" href="<%= gadget.gg_url %>"><%= gadget.gg_title %></a></h4>
                <p><%= gadget.gg_intro %></p>
                <div class="btn clearfix">
                  <em>$<%= gadget.gg_aprice %></em><a target="_blank" href="<%= gadget.gg_url %>">Buy Now</a>
                </div>
    
                <div class="btn clearfix admin">
                  <em><%= link_to "Edit", edit_gadget_path(gadget) %></em><%= link_to "Delete", gadget_path(gadget), method: :delete, data: {confirm: "Are you sure?"}%>
                </div>
                
              </section>
            </div>
          <% end %>
        </div><!--./card_wrap-->

    </div><!--./wrap-->
  </div><!--./gadgets-->
</div><!--./layout-->

     

<script>
  <%= render(:partial => 'home', :handlers => [:erb], :formats => [:js]) %>
</script>