<!-- for play youtube video-->
<%= render 'shared/play_video' %>

<div class="layout"><!--layout-->
  <%= render 'shared/header' %>
  
    <div class="gadgets">
      <div class="wrap">

        <div class="home_top clearfix">
          <div class="search_box">
            <%= form_for "",url: gadgets_path, role: "search", method: :get do %>
            <%= text_field_tag :search, @search_term, placeholder: "Search..." %>
            <% end %>
          </div>
        </div>
        
        <%= render 'home/gadget' %>
        <%= will_paginate @gadgets %>
    </div><!--./wrap-->
  </div><!--./gadgets-->
  <% if can? :update, @gadget %>
    <div class="add_gadget">
      <a href="/gadgets/new"><img src="<%=asset_path 'add.png' %>"></a>
    </div>
  <% end %>
</div><!--./layout-->





     