<!-- < @hotdeals.each do |hotdeal| > -->
<figure class="deals_card">
  <div class="image_box">
    <% if hotdeal.h_image.present? %>
      <%= link_to image_tag(hotdeal.h_image, alt: hotdeal.h_title, title: hotdeal.h_spare_04), hotdeal %>
    <% else %>
     <%= link_to (image_tag hotdeal.himage.url(:small), alt: hotdeal.h_title, title: hotdeal.h_spare_04), hotdeal %>
    <% end %>
    <%if hotdeal.h_percentage.present? %>
      <div class="mark"><span><%= hotdeal.h_percentage %>%</span><em>OFF</em></div>
    <% else %>
      <% running_total = 0 %>
      <% running_total =  (hotdeal.h_spare_43 - hotdeal.h_spare_44) / hotdeal.h_spare_43 * 100 %>
      <div class="mark"><span><%= number_to_percentage(running_total, precision: 0) %></span><em>OFF</em></div>
    <% end %>
  </div>
  <div class="buy-now"><span><a target="_blank" href="<%= hotdeal.h_link %>">BUY NOW</a></span></div>
  <figcaption>
    <h3><%= render_with_hashtags(hotdeal.h_spare_05.to_s) %></h3>
    <p><%= link_to hotdeal.h_title, hotdeal %></p>
    <div class="price">
      <% if hotdeal.h_list_price.present? %>
        <em>$<%= hotdeal.h_list_price %></em>$<%= hotdeal.h_price %>
      <% else %>
        <% if hotdeal.h_spare_41.present? %>
         <em><%= number_to_currency(hotdeal.h_spare_41) %></em><%= number_to_currency(hotdeal.h_spare_42) %>
        <% else %>
          <em><%= number_to_currency(hotdeal.h_spare_43) %></em><%= number_to_currency(hotdeal.h_spare_44) %>
        <% end %>
      <% end %>
    </div>
    <div class="m_btn"><a href="<%= hotdeal.h_link %>">Buy Now</a></div>
    <% if can? :update, @hotdeal %>
     <div class="admin">
       <%= link_to 'Edit', edit_hotdeal_path(hotdeal) %> | 
       <%= link_to 'Destroy', hotdeal, method: :delete, data: { confirm: 'Are you sure?' } %>
     </div><!--/.amdin-->
    <% end %>
  </figcaption>
</figure>
<!-- < end >  -->

