<div class="hotdeal_inner">
 <h2 class="title"><%= @hotdeal.h_title %></h2>

    
    <% if @hotdeal.h_spare_44.present? %>
      <% if @hotdeal.h_spare_61.present? %>
        <% running_total = 0 %>
        <% running_total =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43* 100 %>
        <p class="h_price">
          <%= number_to_currency(@hotdeal.h_spare_44) %>
          <span class="span_01">
            <%= number_to_currency(@hotdeal.h_spare_43) %>
          </span>
          <span class="span_02">
            ( <%= number_to_percentage(running_total, precision: 0) %> OFF )
          </span>
        </p>
      <% else %>
        <% if @hotdeal.h_spare_62.present? || @hotdeal.h_spare_44.present? %>
          <% running_total = 0 %>
          <% running_total =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43 * 100 %>
          <% running_save = @hotdeal.h_spare_43 - @hotdeal.h_spare_44 %>

          <p class="h_price"><em>List Price:</em> <!-- <% number_to_currency(@hotdeal.h_spare_44) %> --> <span class="span_01"><%= number_to_currency(@hotdeal.h_spare_43) %></span><span class="span_02">( <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
        <% end %>
      <% end %>
      <div class="add_line">
        <ul>
         <!--  <% if @hotdeal.h_spare_61.present? || @hotdeal.h_spare_62.present? %>
          <% else %>
            <li>You Saved <%= number_to_currency(running_save) %></li>
          <% end %> -->

          <% if @hotdeal.h_spare_61.present? %>
            <% if @hotdeal.h_spare_61.present? %>
              <li>+ extra <%= number_to_percentage(@hotdeal.h_spare_61, precision: 0) %> off coupon</li>
            <% end %>
          <% else %>
            <% if @hotdeal.h_spare_62.present? %>
              <li>+ extra <%= number_to_currency(@hotdeal.h_spare_62) %> off coupon</li>
            <% end %>
          <% end %>
          
          <% if @hotdeal.h_spare_07.present? %>
            <li class="stocks">Only in a few stocks left.</li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <% if @hotdeal.h_spare_61.present? %>
          <% coupon_p61 = 0 %>
          <% coupon_p61 = (@hotdeal.h_spare_43 * @hotdeal.h_spare_61 / 100) %>
          <% number_to_currency(coupon_p61) %>
          <p class="h_price">
              <% coupon_deal = 0 %>
              <% coupon_deal = (@hotdeal.h_spare_43.to_i - coupon_p61) %>
              <%= number_to_currency(coupon_deal) %>
            <span class="span_01">
              <%= number_to_currency(@hotdeal.h_spare_43) %>
            </span>
            
            <% if @hotdeal.h_spare_44.present? %>
            <% else %>
              <% if @hotdeal.h_spare_61.present? %>
                <span class="via_show">Save <%= number_to_percentage(@hotdeal.h_spare_61, precision: 0) %> off via coupon </span>
              <% end %>
            <% end %>
          </p>
        <% else %>
          <% if @hotdeal.h_spare_62.present? %>
            <% coupon_dollar = 0 %>
            <% coupon_dollar = @hotdeal.h_spare_43 - @hotdeal.h_spare_62 %>
            <p class="h_price">
                <%= number_to_currency(coupon_dollar) %>
              <span class="span_01">
                <%= number_to_currency(@hotdeal.h_spare_43) %>
              </span>
              <% if @hotdeal.h_spare_44.present? %>
              <% else %>
                <% if @hotdeal.h_spare_62.present? %>
                  <span class="via_show">Save <%= number_to_currency(@hotdeal.h_spare_62) %> off via coupon </span>
                <% end %>
              <% end %>
            </p>
          <% end %>
        <% end %>
        <% if @hotdeal.h_spare_07.present? %>
         <div class="add_line">
          <ul>
            <li class="stocks">Only in a few stocks left.</li>
          </ul>
         </div>
        <% end %>
    <% end %>

    

 <div class="info_wrap clearfix">
    <div class="block clearfix">
      
      <div class="box line_three">
        <p>Shipping</p>
        <em>Free</em>
        <!--<% if @hotdeal.h_spare_63.present? %>         
          <% if @hotdeal.h_spare_63 > 0 %>            
            <em><%= number_to_currency(@hotdeal.h_spare_63) %></em> 
          <% else %>  
            <% if @hotdeal.h_spare_63 = 0 %>  
            <em>Free <% number_to_currency(@hotdeal.h_spare_63) %></em> 
            <% end %> 
          <% end %> 
        <% else %>  
          <em>Free</em>          
        <%end %>--> 
      </div>
      
      <div class="box line_three">
        <p>Star Ratings</p>
        <% if @hotdeal.h_spare_08.present? %>
          <em><%= @hotdeal.h_spare_08 %></em>
        <% else %>
          <em>-</em>
        <% end %>
      </div>
      <div class="box line_three">
        <p>Customer Ratings</p>
        <% if @hotdeal.h_spare_09.present? %>
          <em><%= number_with_delimiter(@hotdeal.h_spare_09) %></em>
        <% else %>
          <em>-</em>
        <% end %>
      </div>
    </div>
    <!-- <div class="info_box clearfix">
      <span>
        <ul>
          <% if @hotdeal.h_spare_44.present? %>
            <% if @hotdeal.h_spare_44 < 25.00 %>
              <li>Get free shipping when you order $25+ of eligible items or Amazon Prime Members. <a target="_blank" href="/blogs/blog_01_amz_prime">What's Prime.<i></i></a></li>
              
            <% else %>
            <% end %>
          <% else %>
          <% end %>
          <li>Average ratings and reviews may change after posting.</li>
        </ul>
      </span>
    </div>  -->

  
  <% coupon_p61 = 0 %>
  <% coupon_p61 = (@hotdeal.h_spare_44.to_i * @hotdeal.h_spare_61.to_i / 100) %>
  <% number_to_currency(coupon_p61) %>

  <div class="block clearfix">
    <% if @hotdeal.h_spare_61.present? || @hotdeal.h_spare_62.present? %>
        
        <% if @hotdeal.h_spare_44.present? %>
          <div class="box total_box">
            <p>Estimated price when coupon is applied</p>
            <% if @hotdeal.h_spare_61.present? %>
              <% estimated_us = 0 %>
              <% estimated_us = @hotdeal.h_spare_44- coupon_p61 %>
              <em class="total_p"><%= number_to_currency(estimated_us) %></em>
              <% you_saved = @hotdeal.h_spare_43.to_f - estimated_us.to_f %>
              <p class="you-save">You've saved <%= number_to_currency(you_saved) %></p>
            <% else %>
              <% estimated_us = 0 %>
              <% estimated_us = @hotdeal.h_spare_44 - @hotdeal.h_spare_62 %>
              <em class="total_p"><%= number_to_currency(estimated_us) %></em>
              <% you_saved = @hotdeal.h_spare_43.to_f - estimated_us.to_f %>
              <p class="you-save">You've saved <%= number_to_currency(you_saved) %></p>
            <% end %>
          </div>
        <% end %>
    
    <% else %>
      <div class="box total_box">
        <p>Estimated Purchase Price</p>
        <% running_save = @hotdeal.h_spare_43.to_f - @hotdeal.h_spare_44.to_f %>
        <em class="total_p"><%= number_to_currency(@hotdeal.h_spare_44) %></em>
        <p class="you-save">You've saved <%= number_to_currency(running_save) %></p>
      </div>
    <% end %>
    
  </div>

  <% if @hotdeal.h_spare_44.present? %>
    
      <div class="info_box">
        <span>
          <ul>
            <% if @hotdeal.h_spare_61.present? || @hotdeal.h_spare_62.present? %>
              <li>"Estimated Purchase Price" is for reference only. Please fully check the product detail on Amazon before purchasing.</li>
            <% end %>
            <% if @hotdeal.h_spare_44 < 25.00 %>
              <li>Get free shipping when you order $25+ of eligible items or Amazon Prime Members. <a target="_blank" href="/blogs/blog_01_amz_prime">What's Prime.<i></i></a></li>
            <% end %>
          <li>Pricing, average ratings and reviews may change after posting.</li>
          </ul>
        </span>
      </div>
    
  <% end %>


</div><!--./info_wrap-->

  <div class="pc_btn">
    <div class="code_btn">
     <a class="m_btn" target="_blank" href="<%= @hotdeal.h_link %>">Check it out on&ensp;<em>Amazon</em></a>
     <!-- <h6>If you purchase something through a post on our site, we may get a small commission of the sale.</h6> -->
    </div>
  </div>
  <div class="mobile_btn">
    <div class="code_btn">
     <a class="m_btn" href="<%= @hotdeal.h_link %>">Check it out on&ensp;<em>Amazon</em></a>
     <!-- <h6>If you purchase something through a post on our site, we may get a small commission of the sale.</h6> -->
    </div>
  </div>


  <%if @hotdeal.h_spare_21.present? %>
    <div class="trix trix-container gradient"><span>About the product</span><p><%= @hotdeal.h_spare_21.html_safe %></p><button class="show-btn fa fa-chevron-down"></button></div>
  <% else %>
    <% if @hotdeal.h_description.present? %>
      <div class="show_des"><p class="description"><%= @hotdeal.h_description %></p></div>
    <% end %>
  <% end %>
</div><!--./hotdeal_inner-->



