<div class="hotdeal_inner">
 <h2 class="title"><%= @hotdeal.h_title %></h2>

 <% if @hotdeal.h_price.present? %>
  <p class="h_price"><%= number_to_currency(@hotdeal.h_price) %> <span class="span_01"><%= number_to_currency(@hotdeal.h_list_price) %></span><span class="span_02">( <%= number_to_percentage(@hotdeal.h_percentage, precision: 0) %> OFF )</span></p>
 <% else %>
  <% if @hotdeal.h_spare_42.present? %>
    <p class="h_price"><%= number_to_currency(@hotdeal.h_spare_42) %> <span class="span_01"><%= number_to_currency(@hotdeal.h_spare_41) %></span><span class="span_02">( <%= number_to_percentage(@hotdeal.h_percentage, precision: 0) %> OFF )</span></p>
  <% else %>
    <% running_total = 0 %>
    <% running_total =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43 * 100 %>
    <p class="h_price"><%= number_to_currency(@hotdeal.h_spare_44) %> <span class="span_01"><%= number_to_currency(@hotdeal.h_spare_43) %></span><span class="span_02">( <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
  <% end %>
 <% end %>
 
 <!-- <p class="top_line">Amazon is offering "<span><%= @hotdeal.h_title %></span>" for only <em><%= number_to_currency(@hotdeal.h_price) %></em></p> -->

 <div class="info_wrap clearfix">
    <div class="first_block clearfix">
      <div class="box line_three">
        <p>Shipping</p>
        <em>Free</em>
      </div>
      <div class="box line_three">
        <p>Rating</p>
        <% if @hotdeal.h_spare_08.present? %>
          <em>Avg. <%= @hotdeal.h_spare_08 %> / 5.0</em>
        <% else %>
          <em>-</em>
        <% end %>
      </div>
      <div class="box line_three">
        <p>Reviews</p>
        <% if @hotdeal.h_spare_09.present? %>
          <em><%= number_with_delimiter(@hotdeal.h_spare_09) %>+</em>
        <% else %>
          <em>-</em>
        <% end %>
      </div>
    </div>
    <div class="info_box clearfix">
      <span>
        <ul>
          <li>Free Shipping: $25+ of eligible items, fulfilled by Amazon or <a target="_blank" href="/blogs/blog_01_amz_prime">Prime.<i></i></a></li>
          <li>Average rating and reviews may change after posted.</li>
        </ul>
      </span>
    </div> 

  <!-- <div class="box">
    <p></p>
    <em></em>
  </div> -->

  <% if @hotdeal.h_spare_45.present? %>
    <div class="second_block clearfix">
      <div class="box line_three">
        <p>You saved</p>
        <em>
         <% if @hotdeal.h_spare_41.present? %>
          <% running_total = 0 %>
          <% running_total =  @hotdeal.h_spare_41.to_i - @hotdeal.h_spare_42.to_i %>
          <em class="save_money"><%= number_to_currency(running_total) %></em>
         <% else %>
          <% running_total = 0 %>
          <% running_total =  @hotdeal.h_spare_43.to_i - @hotdeal.h_spare_44.to_i %>
          <em class="save_money"><%= number_to_currency(running_total) %></em>
         <% end %>
        </em>
      </div>
      <div class="box line_three">
        <p>Coupon</p>
        <% if @hotdeal.h_spare_02.present? %>
          <em><%= @hotdeal.h_spare_02 %></em>
        <% else %>
          <em>-</em>
        <% end %>
      </div>
      <div class="box line_three">
        <p>Price Drops</p>
        <em>
          <% if @hotdeal.h_spare_45.present? %>
            <% running_total = 0 %>
            <% running_total =  @hotdeal.h_spare_45.to_i - @hotdeal.h_spare_42.to_i %>
            <em><%= number_to_currency(running_total) %><!-- (Nov.12.2019 | was: $120.00) --></em>
          <% else %>
            <% running_total = 0 %>
            <% running_total =  @hotdeal.h_spare_45.to_i - @hotdeal.h_spare_44.to_i %>
            <em><%= number_to_currency(running_total) %><!-- (Nov.12.2019 | was: $120.00) --></em>
          <% end %>
        </em>
      </div>
    </div>
  <% else %>
    <div class="second_block clearfix">
      <div class="box">
        <p>You saved</p>
        <em>
         <% if @hotdeal.h_spare_41.present? %>
          <% running_total = 0 %>
          <% running_total =  @hotdeal.h_spare_41.to_i - @hotdeal.h_spare_42.to_i %>
          <em class="save_money"><%= number_to_currency(running_total) %></em>
         <% else %>
          <% running_total = 0 %>
          <% running_total =  @hotdeal.h_spare_43.to_i - @hotdeal.h_spare_44.to_i %>
          <em class="save_money"><%= number_to_currency(running_total) %></em>
         <% end %>
        </em>
      </div>
      <div class="box">
        <p>Coupon</p>
        <% if @hotdeal.h_spare_02.present? %>
          <em><%= @hotdeal.h_spare_02 %></em>
        <% else %>
          <em>-</em>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @hotdeal.h_spare_02.present? || @hotdeal.h_spare_45.present? %>
    <div class="info_box">
      <span>
        <ul>
          <% if @hotdeal.h_spare_02.present? %>
            <li>Check coupon on detail page to receive your extra savings.</li>
          <% end %>
          <% if @hotdeal.h_spare_45.present? %>
            <li>Price dropped compare to last posted.</li>
          <% end %>
        </ul>
      </span>
    </div>
  <% end %>

  <% if @hotdeal.h_spare_14.present? %>
    <div class="third_block clearfix">
      <div class="box">
        <p>Search more by Keyword</p>
        <em><a class="keyword" target="_blank" href="<%= @hotdeal.h_spare_15 %>"><%= @hotdeal.h_spare_14 %></a><i></i></em>
      </div>
    </div>
  <% end %>


</div><!--./info_wrap-->


  <div class="extra_info">
  </div>

  <div class="code_btn">
   <a class="m_btn" target="_blank" href="<%= @hotdeal.h_link %>">Check it out on&ensp;<em>Amazon</em></a>
  </div>

  <%if @hotdeal.h_spare_21.present? %>
    <div class="trix trix-container gradient"><span>About the product</span><p><%= @hotdeal.h_spare_21.html_safe %></p><button class="show-btn fa fa-chevron-down"></button></div>
  <% else %>
    <% if @hotdeal.h_description.present? %>
      <div class="show_des"><p class="description"><%= @hotdeal.h_description %></p></div>
    <% end %>
  <% end %>
</div><!--./hotdeal_inner-->