<!-- <p id="notice"><%= notice %></p> -->
<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <div class="dealpage_title"><p>The Best Bargain</p></div>
    <%= render 'hotdeals/header' %>  
    
    <div class="list-news">
      <ul>
        <% @hotdeals.each do |hotdeal| %>
          <%= render hotdeal %> 
        <% end %>
      </ul>
      <%= will_paginate @hotdeals, renderer: WillPaginateInfinite::InfinitePagination %>
    </div>
    
    
  </div><!--./warp-->
</div><!--./layout-->
<script><%= render(:partial => 'hotdeals', :handlers => [:erb], :formats => [:js]) %></script>
