<!-- <p id="notice"><%= notice %></p> -->
<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <div class="dealpage_title"><p>The Best Bargain</p></div>
    <%= render 'hotdeals/header' %>  
      <div class="more_search"><%= form_for "",url: hotdeals_path, role: "search", method: :get do %><%= text_field_tag :search, @search_term, placeholder: "Search..." %><% end %></div>

      <%= render 'shared/amz_slider' %>
      
      <div class="clearfix" id="hotdeals">      
        <%= render @hotdeals %> 
      </div>
      <%= will_paginate @hotdeals %>

  </div><!--./warp-->
</div><!--./layout-->
<script><%= render(:partial => 'hotdeals', :handlers => [:erb], :formats => [:js]) %></script>
