<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_amazon' %>
    <%= render 'hotdeals/navbar' %>  
    <%= render 'shared/botton_amz' %>


      <div class="more_search"><%= form_for "",url: hotdeals_path, role: "search", method: :get do %><%= text_field_tag :search, @search_term, placeholder: "Search..." %><% end %></div>    

      <% if can? :update, @promocodes %>
        <div class="macro_new_bargain">
          <%= link_to 'New Bargain', new_hotdeal_path %>
        </div>  
      <% end %>

      <div class="clearfix" id="hotdeals">      
        <%= render @hotdeals %> 
      </div>
      <%= will_paginate @hotdeals %>

  </div><!--./warp-->
</div><!--./layout-->
<script><%= render(:partial => 'hotdeals', :handlers => [:erb], :formats => [:js]) %></script>
