<!-- <p id="notice"><%= notice %></p> -->
<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout">
  <%= render 'shared/header_short' %>
  
  <div class="show_wrap clearfix">
    <div class="wrap">
    <%= render 'hotdeals/header' %>  
      <div class="show_box clearfix">
        
        <!-- <p>Location Map</p> -->
        
        <div class="show_img hotdeal_img">
          <div class="img_box deal_img_box">
            <% if @hotdeal.h_image.present? %>
              <a target="_blank" href="<%= @hotdeal.h_link %>"><img src="<%= @hotdeal.h_image %>" alt="<%= @hotdeal.h_title %>" title="<%= @hotdeal.h_spare_04 %>"></a>
            <% else %>
              <%= link_to (image_tag @hotdeal.himage.url(:small), alt: @hotdeal.h_title, title: @hotdeal.h_spare_04), @hotdeal %>
            <% end %>
          </div>
          <% discount_rate = 0 %>
          <% discount_rate =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43 * 100 %>
          <% if discount_rate < 50 %>
            <div class="mark"><span>GOOD</span><em>DEALS</em></div>
          <% else %>
            <% if discount_rate >= 50 %>
              <div class="mark"><span>BEST</span><em>DEALS</em></div>
            <% end %>
          <% end %>
          <div class="show_tag"><h3><%= render_with_hashtags(@hotdeal.h_spare_05.to_s) %></h3></div>
          <% if can? :update, @hotdeal %>
            <div class="admin">
              <h4>Admin Management</h4>
              <%= link_to 'Back', hotdeals_path %> |
              <%= link_to 'Edit', edit_hotdeal_path(@hotdeal) %> |
              <%= link_to 'Delete', @hotdeal, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= render 'hotdeals/body_sns' %><br>
              <%= @hotdeal.impressionist_count(:filter=>:all) %> Views |
              <%= @hotdeal.created_at.strftime("%d. %B.") %><br />
              <div class="sharing">
                <p>Available On Amazon Now</p>
                <p><%= @hotdeal.h_title %></p>
                <% if @hotdeal.h_spare_42.present? %>
                  <p class="h_price"><%= number_to_currency(@hotdeal.h_spare_42) %> <span class="span_01">( Was: <%= number_to_currency(@hotdeal.h_spare_41) %></span><span class="span_02"> | <%= number_to_percentage(@hotdeal.h_percentage, precision: 0) %> OFF )</span></p>
                  <p>#AmazonDeals #HotDeals #ohigottabuythis <%= @hotdeal.h_spare_05 %></p>
                <% else %>
                  <% running_total = 0 %>
                  <% running_total =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43 * 100 %>
                  <p class="h_price"><%= number_to_currency(@hotdeal.h_spare_43) %> <span class="span_01">( Was: <%= number_to_currency(@hotdeal.h_spare_44) %></span><span class="span_02"> | <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
                  <p>#AmazonDeals #HotDeals #ohigottabuythis <%= @hotdeal.h_spare_05 %></p>
                  <p>http://ohigottabuythis.net/hotdeals/<%=(params[:id]) %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div><!--./show_img-->

        <!-- <div class="show_inner">
          <div class="alldeals_tabs show_tabs">
            <input type="radio" name="tab" id="tab1" checked="checked">
            <label for="tab1">I live in the United States.</label>
            <input type="radio" name="tab" id="tab2">
            <label for="tab2">I live in Korea.</label>

            <div class="tab-content-wrapper">
             <div id="tab-content-1" class="tab-content">
              < render 'hotdeals/usa_ver2' >
             </div>

             <div id="tab-content-2" class="tab-content">
              < render 'hotdeals/korea_ver2' >
             </div>
            </div>
          </div>
        </div> -->

       <div class="show_inner">
        <%= render 'hotdeals/usa_kor' %>
       </div>

       <!-- <div class="show_inner">
        < render 'hotdeals/us_kor' >
       </div> -->

        
        <% if can? :update, @hotdeal %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  

      </div><!--./show_box-->

      <div class="hotdeal_related">
        <p>Related Products on Amazon</p>
        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "3628-20";
        amzn_assoc_ad_mode = "search";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_default_search_phrase = "<%= @hotdeal.h_spare_04 %>";
        amzn_assoc_default_category = "All";
        amzn_assoc_linkid = "10a626d082cd5d1d67d4b8a2afc6ae3d";
        amzn_assoc_title = "Shop Related Products";
        amzn_assoc_search_bar = "false";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>

    </div>
  </div>
</div>
<script><%= render(:partial => 'hotdeals', :handlers => [:erb], :formats => [:js]) %></script>



