<!-- <p id="notice"><%= notice %></p> -->
<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout">
  <%= render 'shared/header_short' %>
  
  <div class="show_wrap clearfix">
    <div class="wrap">
    <%= render 'hotdeals/header' %>  
      <div class="show_box clearfix">
        
        <!-- <p>Location Map</p> -->
        
        <div class="show_img hotdeal_img">
          <div class="img_box">
            <% if @hotdeal.h_image.present? %>
              <a target="_blank" href="<%= @hotdeal.h_link %>"><img src="<%= @hotdeal.h_image %>" alt="<%= @hotdeal.h_title %>" title="<%= @hotdeal.h_spare_04 %>"></a>
            <% else %>
              <%= link_to (image_tag @hotdeal.himage.url(:small), alt: @hotdeal.h_title, title: @hotdeal.h_spare_04), @hotdeal %>
            <% end %>
          </div>
          <div class="mark"><span>HOT</span><em>DEALS</em></div>
          <% if can? :update, @hotdeal %>
            <div class="admin">
              <h4>Admin Management</h4>
              <%= link_to 'Back', hotdeals_path %> |
              <%= link_to 'Edit', edit_hotdeal_path(@hotdeal) %> |
              <%= link_to 'Delete', @hotdeal, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= render 'hotdeals/body_sns' %><br>
              <%= @hotdeal.impressionist_count(:filter=>:all) %> Views |
              <%= @hotdeal.created_at.strftime("%d. %B.") %><br />
              <div class="sharing">
                <p>Available On Amazon Now</p>
                <p><%= @hotdeal.h_title %></p>
                <% if @hotdeal.h_spare_42.present? %>
                  <p class="h_price"><%= number_to_currency(@hotdeal.h_spare_42) %> <span class="span_01">( Was: <%= number_to_currency(@hotdeal.h_spare_41) %></span><span class="span_02"> | <%= number_to_percentage(@hotdeal.h_percentage, precision: 0) %> OFF )</span></p>
                <% else %>
                  <% running_total = 0 %>
                  <% running_total =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43 * 100 %>
                  <p class="h_price"><%= number_to_currency(@hotdeal.h_spare_43) %> <span class="span_01">( Was: <%= number_to_currency(@hotdeal.h_spare_44) %></span><span class="span_02"> | <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div><!--./show_img-->



        <div class="show_inner">

         <!--  <div class="alldeals_tabs show_tabs">
            <input type="radio" name="tab" id="tab1" checked="checked">
            <label for="tab1">I live in the United States.</label>
            <input type="radio" name="tab" id="tab2">
            <label for="tab2">I live in Korea.</label>

            <div class="tab-content-wrapper">
             <div id="tab-content-1" class="tab-content"> -->

              <div class="hotdeal_inner">
               <h2 class="title"><%= @hotdeal.h_title %></h2>

               <% if @hotdeal.h_price.present? %>
                <p class="h_price"><%= number_to_currency(@hotdeal.h_price) %> <span class="span_01"><%= number_to_currency(@hotdeal.h_list_price) %></span><span class="span_02">( <%= number_to_percentage(@hotdeal.h_percentage, precision: 0) %> OFF )</span></p>
               <% else %>
                <% if @hotdeal.h_spare_42.present? %>
                  <p class="h_price"><%= number_to_currency(@hotdeal.h_spare_42) %> <span class="span_01"><%= number_to_currency(@hotdeal.h_spare_41) %></span><span class="span_02">( <%= number_to_percentage(@hotdeal.h_percentage, precision: 0) %> OFF )</span></p>
                <% else %>
                  <% running_total = 0 %>
                  <% running_total =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43 * 100 %>
                  <p class="h_price"><%= number_to_currency(@hotdeal.h_spare_44) %> <span class="span_01"><%= number_to_currency(@hotdeal.h_spare_43) %></span><span class="span_02">( <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
                <% end %>
               <% end %>
               
               <!-- <p class="top_line">Amazon is offering "<span><%= @hotdeal.h_title %></span>" for only <em><%= number_to_currency(@hotdeal.h_price) %></em></p> -->

               <div class="extra_info">
                <% if @hotdeal.h_spare_08.present? %>
                 <span class="basic_info">
                  <% if @hotdeal.h_spare_06.present? %>
                    <div class="primeornot"><%= @hotdeal.h_spare_06 %> |</div>
                  <% else %>
                    <!-- PRIME | -->
                  <% end %>
                    Avg <%= @hotdeal.h_spare_08 %> | <%= number_with_delimiter(@hotdeal.h_spare_09) %>+ reviews 
                  <% if @hotdeal.h_spare_07.present? %>
                    | <%= @hotdeal.h_spare_07 %> 
                  <% end %>
                 </span> 
                <% end %>

                 <% if @hotdeal.h_spare_41.present? %>
                  <% running_total = 0 %>
                  <% running_total =  @hotdeal.h_spare_41.to_i - @hotdeal.h_spare_42.to_i %>
                  <em class="save_money">* Save <%= number_to_currency(running_total) %> or more.</em>
                 <% else %>
                  <% running_total = 0 %>
                  <% running_total =  @hotdeal.h_spare_43.to_i - @hotdeal.h_spare_44.to_i %>
                  <em class="save_money">* Save <%= number_to_currency(running_total) %> or more.</em>
                 <% end %>

                 <% if @hotdeal.h_spare_01.present? %><em class="extra_dh">+ Get <%= @hotdeal.h_spare_01 %>% Off Extra Deal</em><% end %>
                 <% if @hotdeal.h_spare_02.present? %><em class="extra_dh">+ Clip the <%= @hotdeal.h_spare_02 %> Off Coupon</em><% end %>
                 <em>+ FREE Shipping ( Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items. )</a></em>
                 <% if @hotdeal.h_spare_10.present? %>
                  <% @hotdeal.h_spare_10 %>
                  <em>+ Check via Subscribe & Save ( Save 5% Off now and up to 15% Off on auto-deliveries <span><a href="https://amzn.to/2BzWhT4" target="_blank">Learn more</a></span> )</em>
                 <% end %>
                 <% if @hotdeal.h_spare_14.present? %><em>+ Find more <a href="<%= @hotdeal.h_spare_15 %>">"<%= @hotdeal.h_spare_14 %>"</a></em><% end %>
                 <em>* Pricing may change and deals can expire fast.</em>
                </div>

                <div class="code_btn">
                 <a class="m_btn" target="_blank" href="<%= @hotdeal.h_link %>">Check it out on&ensp;<em>Amazon</em></a>
                </div>

                <%if @hotdeal.h_spare_21.present? %>
                  <div class="trix trix-container gradient"><span>Features</span><p><%= @hotdeal.h_spare_21.html_safe %></p><button class="show-btn fa fa-chevron-down"></button></div>
                <% else %>
                  <% if @hotdeal.h_description.present? %>
                    <div class="show_des"><p class="description"><%= @hotdeal.h_description %></p></div>
                  <% end %>
                <% end %>

              </div><!--./extra_info-->
             </div><!--./hotdeal_inner-->

            <!-- </div> --><!--./tab-content-1-->

            <!-- <div id="tab-content-2" class="tab-content">
             Korea
            </div> -->

           <!-- </div> --><!--./tab-content-wrapper-->
         <!-- </div> --><!--./show_tabs-->

       </div><!--./show_inner-->

        
        <% if can? :update, @hotdeal %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  

      </div><!--./show_box-->

      <div class="hotdeal_related">
        <p>Related Products on Amazon</p>
        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "3628-20";
        amzn_assoc_ad_mode = "search";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_default_search_phrase = "<%= @hotdeal.h_spare_04 %>";
        amzn_assoc_default_category = "All";
        amzn_assoc_linkid = "10a626d082cd5d1d67d4b8a2afc6ae3d";
        amzn_assoc_title = "Shop Related Products";
        amzn_assoc_search_bar = "false";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>

    </div>
  </div>
</div>
<script><%= render(:partial => 'hotdeals', :handlers => [:erb], :formats => [:js]) %></script>

