<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout">
  <div class="show_wrap clearfix">
    <div class="show_back">
      <a href="/hotdeals"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="back" /></a>
      <!-- <button onclick="goBack()"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="back" /></button>
      <script>
        function goBack() {
          window.history.back();
        }
      </script> -->
    </div>
    <div class="wrap">
    <div class="oh_menu">
      <%= render 'shared/header_amazon' %>  
      <%= render 'hotdeals/navbar' %>
      <%= render 'shared/botton_amz' %>
    </div> 
      <div class="show_box clearfix">
        
        <!-- <p>Location Map</p> -->
        
        <div class="show_img hotdeal_img">
          <div class="img_box deal_img_box">
            <% if @hotdeal.h_image.present? %>
              <% if @hotdeal.h_spare_04.present? %>
                <a target="_blank" href="<%= @hotdeal.h_link %>"><img src="<%= @hotdeal.h_image %>" alt="<%= @hotdeal.h_title %>" title="<%= @hotdeal.h_spare_04 %>"></a>
              <% else %>
                <a target="_blank" href="<%= @hotdeal.h_link %>"><img src="<%= @hotdeal.h_image %>" alt="<%= @hotdeal.h_title %>" title="<%= @hotdeal.h_title %>"></a>
              <% end %>
            <% else %>
              <%= link_to (image_tag @hotdeal.himage.url(:small), alt: @hotdeal.h_title, title: @hotdeal.h_spare_04), @hotdeal %>
            <% end %>
          </div>
          <% discount_rate = 0 %>
          <% discount_rate =  (@hotdeal.h_spare_43.to_i - @hotdeal.h_spare_44.to_i) / @hotdeal.h_spare_43.to_i * 100 %>
          <% if discount_rate < 50 %>
            <div class="mark"><span>GOOD</span><em>DEALS</em></div>
          <% else %>
            <% if discount_rate >= 50 %>
              <div class="mark"><span>BEST</span><em>DEALS</em></div>
            <% end %>
          <% end %>
          <% if can? :update, @hotdeal %>          
            <div class="show_tag"><h3><%= render_with_hashtags(@hotdeal.h_spare_05.to_s) %></h3></div>
          <% end %>

          <% if can? :update, @hotdeal %>
            <div class="admin">
              <h4>Admin Management</h4>
              <%= link_to 'Back', hotdeals_path, :class => "admin_back_btn"  %> |
              <%= link_to 'Edit', edit_hotdeal_path(@hotdeal) %> |
              <%= link_to 'Delete', @hotdeal, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= render 'hotdeals/body_sns' %><br>
              <%= @hotdeal.impressionist_count(:filter=>:all) %> Views |
              <%= @hotdeal.created_at.strftime("%d. %B. %H:%M") %><br />
              <div class="sharing">
                <div id="div_1">
                  <p>Available On Amazon Now</p>
                  <!-- <p><%= @hotdeal.h_title %></p> -->
                  <% running_total = 0 %>
                  <!-- <% running_total = (@hotdeal.h_spare_43.to_i - @hotdeal.h_spare_44.to_i) / @hotdeal.h_spare_43.to_i * 100 %> -->
                  <% running_total =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43* 100 %>
                  <% running_save = @hotdeal.h_spare_43.to_i - @hotdeal.h_spare_44.to_i %>
                  <p class="h_price">
                    <%= number_to_currency(@hotdeal.h_spare_44) %>
                    <span class="span_01">( <span class="span_02"><%= number_to_percentage(running_total, precision: 0) %> OFF </span>  | Was: <%= number_to_currency(@hotdeal.h_spare_43) %> | <span class="span_03">Save: <%= number_to_currency(running_save) %></span>  <% if @hotdeal.h_spare_61.present? || @hotdeal.h_spare_62.present? %>
                      <span class="span_04"> | + Extra Coupon</span><% end %> )
                    </span>
                    
                  </p>
                  <p>#AmazonDeals #HotDeals #amazonCoupons</p>
                  <!-- <p>http://ohigottabuythis.net/hotdeals/<%=(params[:id]) %></p> -->
                </div>
                <!-- <button id="div_1" href="#" name="copyButton">Copy Contents</button> -->
              </div>
            </div>

            <div class="admin">
              <div class="sharing">
                <div id="div_2">
                  <p>Available On Amazon Now</p>
                  <!-- <!-- <p><%= @hotdeal.h_title %></p> -->
                  <% running_total = 0 %>
                  <!-- <% running_total = (@hotdeal.h_spare_43.to_i - @hotdeal.h_spare_44.to_i) / @hotdeal.h_spare_43.to_i * 100 %> -->
                  <% running_total =  (@hotdeal.h_spare_43 - @hotdeal.h_spare_44) / @hotdeal.h_spare_43* 100 %>
                  <% running_save = @hotdeal.h_spare_43.to_i - @hotdeal.h_spare_44.to_i %>
                  <p class="h_price">
                    <%= number_to_currency(@hotdeal.h_spare_44) %>
                    <span class="span_01">( <span class="span_02"><%= number_to_percentage(running_total, precision: 0) %> OFF </span> | Was: <%= number_to_currency(@hotdeal.h_spare_43) %> | <span class="span_03">Save: <%= number_to_currency(running_save) %></span>  <% if @hotdeal.h_spare_61.present? || @hotdeal.h_spare_62.present? %>
                      <span class="span_04"> | + Extra Coupon</span><% end %> )
                    </span>
                    
                  </p>
                  <p>#AmazonDeals #HotDeals #amazonCoupons</p>
                  <p>http://ohigottabuythis.net/hotdeals/<%=(params[:id]) %></p>
                </div>
              </div>
            </div>
          <% end %>

        </div><!--./show_img-->

       <div class="show_inner">
        <% if can? :update, @hotdeal %>
          <div class="admin_macro_btn">
            <%= link_to 'Back', hotdeals_path, :class => "admin_back_btn"  %>
            <%= render 'hotdeals/body_sns' %>
            <button id="div_1" href="#" name="copyButton">CopyF</button>
            <button id="div_2" href="#" name="copyTwitter">CopyT</button>
          </div>
        <% end %>
        <%= render 'hotdeals/usa_kor' %>
       </div>

       <!-- <div class="show_inner">
        < render 'hotdeals/us_kor' >
       </div> -->

        
        <% if can? :update, @hotdeal %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  

      </div><!--./show_box-->

      <div class="hotdeal_related">
        <p>Related Products on Amazon</p>
        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "3628-20";
        amzn_assoc_ad_mode = "search";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        <% if @hotdeal.h_spare_04.present? %>
          amzn_assoc_default_search_phrase = "<%= @hotdeal.h_spare_04 %>";
        <% else %>
          amzn_assoc_default_search_phrase = "<%= @hotdeal.h_title %>";
        <% end %>
        amzn_assoc_default_category = "All";
        amzn_assoc_linkid = "10a626d082cd5d1d67d4b8a2afc6ae3d";
        amzn_assoc_title = "Shop Related Products";
        amzn_assoc_search_bar = "false";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  $("button[name=copyButton]").click(function() {
    var id = $(this).attr('id');
    var el = document.getElementById(id);
    var range = document.createRange();
    range.selectNodeContents(el);
    var sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range);
    document.execCommand('copy');
    return false;
  });
});
</script>

<script type="text/javascript">
  $(document).ready(function(){
  $("button[name=copyTwitter]").click(function() {
    var id = $(this).attr('id');
    var el = document.getElementById(id);
    var range = document.createRange();
    range.selectNodeContents(el);
    var sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range);
    document.execCommand('copy');
    return false;
  });
});
</script>
