<div class="layout"><!--layout-->
  
  <%= render 'shared/header_short' %>

  <!-- for play youtube video-->
  <div class="overlay-video">
    <div class="videoWrapperExt">
      <div class="videoWrapper">
        <div class="video_close"></div>
        <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>        
  </div>

  <div class="cu_wrap clearfix">
    <div class="wrap">
      <div class="re_show_wrap">
        <%= render 'recommends/body_show' %>

        <div class="show_more_wrapper clearfix">
          <div class="show_more_box clearfix">
            <h2>More Featured</h2>
            <% @related.each do |recommend| %>
              <div class="show_more_ctn">
                <%= link_to (image_tag recommend.re_image), recommend %>
                <div class="show_more_inner">
                  <em><%= recommend.re_filter %></em>
                  <h3><%= link_to recommend.re_title, recommend %></h3>
                  <p><%= link_to recommend.re_intro, recommend %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div><!--./re_show_wrap-->
    </div><!--./wrap-->
  </div><!--./cu_wrap-->
</div><!--./layout-->
<script type="text/javascript">
  //Show orLess More 
  $('.show-btn').click(function() {
    $('.trix-container').toggleClass("show");
    $(this).toggleClass("rotate");
  });
</script>
