<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout">
  <%= render 'shared/header_short' %>
  
  <div class="show_wrap clearfix">
    <div class="wrap">
    <%= render 'deals/header_store' %>  
      <div class="show_box clearfix">
        
        <!-- <p>Location Map</p> -->
        <h2 class="sd_title"><%= @storedeal.sd_title %></h2>
        <div class="show_img hotdeal_img sd_image">
          <div class="img_box">
            <% if @storedeal.sd_image.present? %>
              <a target="_blank" href="<%= @storedeal.sd_link %>"><img src="<%= @storedeal.sd_image %>" alt="<%= @storedeal.sd_title %>" title="<%= @storedeal.sd_spare_04 %>"></a>
            <% else %>
              <%= link_to (image_tag @storedeal.himage.url(:small), alt: @storedeal.sd_title, title: @storedeal.sd_spare_04), @storedeal %>
            <% end %>
          </div>
          <!-- <div class="mark"><span>HOT</span><em>DEALS</em></div> -->
          <% if can? :update, @storedeal %>
            <div class="admin">
              <p>Admin Management</p>
              <%= link_to 'Back', storedeals_path %> |
              <%= link_to 'Edit', edit_storedeal_path(@storedeal) %> |
              <%= link_to 'Delete', @storedeal, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= @storedeal.impressionist_count %> views<br />
              <%= @storedeal.created_at.strftime("%d. %B.") %>
              <div class="sharing">
                <p>Available On <%= @storedeal.sdcategory.name %> Now</p>
                <p><%= @storedeal.sd_title %></p>
                <% if @storedeal.sd_spare_32.present? %>
                  <p class="h_price"><%= number_to_currency(@storedeal.sd_spare_32) %> <span class="span_01">( Was: <%= number_to_currency(@storedeal.sd_spare_31) %></span><span class="span_02"> | <%= number_to_percentage(@storedeal.sd_percentage, precision: 0) %> OFF )</span></p>
                <% else %>
                  <% running_total = 0 %>
                  <% running_total =  (@storedeal.sd_spare_33 - @storedeal.sd_spare_34) / @storedeal.sd_spare_33 * 100 %>
                  <p class="h_price"><%= number_to_currency(@storedeal.sd_spare_34) %> <span class="span_01">( Was: <%= number_to_currency(@storedeal.sd_spare_33) %></span><span class="span_02"> | <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
                <% end %>
              </div><!--./sharing-->
            </div>
          <% end %>
        </div>
        <div class="show_inner sd_inner">
         <div class="hotdeal_inner">

           <p class="offer"><span>@<%= @storedeal.sdcategory.name %></span> offers <em><%= @storedeal.sd_title %></em> on sale for 
            <% if @storedeal.sd_spare_32.present? %>
              <em class="pricing"><%= number_to_currency(@storedeal.sd_spare_32) %></em>
            <% else %>
              <em class="pricing"><%= number_to_currency(@storedeal.sd_spare_34) %></em>
            <% end %>
           </p>
            
            <% if @storedeal.sd_spare_32.present? %>
              <p class="h_price"><%= number_to_currency(@storedeal.sd_spare_32) %> <span class="span_01"><%= number_to_currency(@storedeal.sd_spare_31) %></span><span class="span_02">( <%= @storedeal.sd_percentage %>% OFF )</span></p>
            <% else %>
              <% running_total = 0 %>
              <% running_total =  (@storedeal.sd_spare_33 - @storedeal.sd_spare_34) / @storedeal.sd_spare_33 * 100 %>
              <p class="h_price"><%= number_to_currency(@storedeal.sd_spare_34) %> <span class="span_01"><%= number_to_currency(@storedeal.sd_spare_33) %></span><span class="span_02">( <%= number_to_percentage(running_total, precision: 0) %> OFF )</span></p>
            <% end %>

            <div class="extra_info"></div><!--./extra_info-->

            <!-- <div class="box">
              <p></p>
              <em></em>
            </div> -->

            <div class="info_wrap clearfix">
              <div class="block clearfix">
                <div class="box line_three">
                  <p>Shipping</p>
                  <% if @storedeal.sdcategory_id == 2 || @storedeal.sdcategory_id == 3 || @storedeal.sdcategory_id == 4 %> 
                    <em>Free</em>
                  <% else %>
                    <em>Free</em>
                  <% end %>            
                </div>
                <div class="box line_three">
                  <p>Rating</p>
                  <% if @storedeal.sd_spare_01.present? %>
                    <em>Avg. <%= @storedeal.sd_spare_01 %></em>
                  <% else %>
                    <em>-</em>
                  <% end %>
                </div>
                <div class="box line_three">
                  <p>Reviews</p>
                  <% if @storedeal.sd_spare_02.present? %>
                    <em><%= number_with_delimiter(@storedeal.sd_spare_02) %>+ </em>
                  <% else %>
                    <em>-</em>
                  <% end %>
                </div>
              </div>
              <div class="info_box clearfix">
                <span>
                  <ul>
                    <% if @storedeal.sdcategory_id == 2 || @storedeal.sdcategory_id == 3 || @storedeal.sdcategory_id == 4 %> 
                      <li>Free Shipping: $35+ of eligible items</li>
                    <% end %>
                    <li>Average rating and reviews may change after posted.</li>
                  </ul>
                </span>
              </div> 
          
              <div class="block clearfix">
                <div class="box">
                  <p>You Saved</p>
                  <em>
                   <% if @storedeal.sd_spare_31.present? %>
                    <% running_total = 0 %>
                    <% running_total =  @storedeal.sd_spare_31.to_i - @storedeal.sd_spare_32.to_i %>
                    <em class="save_money"><%= number_to_currency(running_total) %></em>
                   <% else %>
                    <% running_total = 0 %>
                    <% running_total =  @storedeal.sd_spare_33.to_i - @storedeal.sd_spare_34.to_i %>
                    <em class="save_money"><%= number_to_currency(running_total) %></em>
                   <% end %>
                  </em>
                </div>
                <div class="box">
                  <p>Coupon</p>
                  <% if @storedeal.sd_coupon_deal.present? %>
                    <em><% @storedeal.sd_coupon_deal %></em>
                  <% else %>
                    <em>-</em>
                  <% end %>
                </div>
              </div>
              <% if @storedeal.sd_coupon_deal.present? %>
                <div class="info_box clearfix">
                  <span>
                    <ul>
                      <!-- <li>Line1</a></li> -->
                      <% if @storedeal.sd_coupon_deal.present? %>
                        <li>Check coupon on detail page to receive your extra savings.</li>
                      <% end %>
                    </ul>
                  </span>
                </div> 
              <% end %>
              <div class="block clearfix">
                <% if @storedeal.sd_end_date.present? %>
                  <div class="box">
                    <p>End Date</p>
                    <em>
                      <% if @storedeal.sd_spare_65.present? %>
                        <% if @storedeal.sd_spare_65 < DateTime.now %>
                        <% @storedeal.sd_spare_65 %>
                          <em class="expired">EXPIRED</em>
                        <% else %>
                          <em><%= @storedeal.sd_end_date %></em>
                        <% end %>
                      <% else %>
                        <em><%= @storedeal.sd_end_date %></em>
                      <% end %>
                    </em>
                  </div>
                <% end %>
                <div class="box">
                  <p>Search more on</p>
                  <em><a target="_blank" href="https://www.amazon.com/s?k=<%= @storedeal.sd_title %>&tag=3628-20">Amazon<i></i></a></em>
                </div>
              </div>
              <!-- <div class="info_box clearfix">
                <span>
                  <ul>
                    <li>Line1</a></li>
                    <li>Line2</li>
                  </ul>
                </span>
              </div>  -->

             
            </div><!--./info_wrap-->



            <% if @storedeal.sd_promocode.present? %>
              <div class="text_copied intheshow">
                <div class="container"><div class="wrap"><div class="box"><p data-copy-text=""><%= @storedeal.sd_promocode %></p></div></div></div>
              </div>
            <% end %>


            <div class="only_show code_btn"><a class="m_btn p_btn" target="_blank" href="<%= @storedeal.sd_link %>">Check it out on&ensp;<em><%= @storedeal.sdcategory.name %></em></a></div>

            <%if @storedeal.sd_spare_50.present? %>
              <div class="trix trix-container gradient"><span>Features</span><p><%= @storedeal.sd_spare_50.html_safe %></p><button class="show-btn fa fa-chevron-down"></button></div>
            <% else %>
              <% if @storedeal.sd_description.present? %>
                <div class="show_des"><p class="description"><%= @storedeal.sd_description %></p></div>
              <% end %>
            <% end %>
           
           </div>
          </div>
        </div>

        <% if can? :update, @storedeal %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  

        <!--
          <% if @storedeal.sdcategory_id == 1 %> 
            Aliexpress
          <% end %>
          <% if @storedeal.sdcategory_id == 2 %> 
            Walmart
          <% end %>
          <% if @storedeal.sdcategory_id == 3 %> 
            Traget
          <% end %>
          <% if @storedeal.sdcategory_id == 4 %> 
            Bestbuy
          <% end %>
        -->

      </div>
    </div>
      <!-- <div id="google_translate_element"></div>
      <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,es,jv,ko,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
      }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>  
      <div id="google_translate_element"></div> -->
           
    
  </div>
</div>

<script><%= render(:partial => 'storedeals', :handlers => [:erb], :formats => [:js]) %></script>





