<div class="hotdeal_form">
  <%= simple_form_for(@barcategory) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="basic_info">
      <%= f.input :name %>
      <%= f.input :description %>
    </div>
    <%= f.input :display_in_navbar %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>