<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-Rating_Num.jpg' %>">
      <p>Review_Num Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
   <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
   <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XiJWiB"><img src="https://m.media-amazon.com/images/I/51skgvEErXL._SR400,400_.jpg" alt="Stylus Pens for Touch Screens" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>906 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XiJWiB">Stylus Pens for Touch Screens, Fine Point Active Smart Digital Pencil Compatible iPad and Most Tablet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>30% off at $19.99</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XiJWiB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="34.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MW5DRz"><img src="https://m.media-amazon.com/images/I/7115qnTRUML._SR400,400_.jpg" alt="G4Free 2 Person Camping Tent" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>10 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MW5DRz">G4Free 2 Person Camping Tent, Dome Tents for Camping, Backpacking, Hiking, Travelling, Ourdoor Lightweight Rainproof Easy Setup 3 Season Two Doors</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.49</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>25% off at $45.99</strong> with promo code: <strong>25Q879M3</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MW5DRz">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XljCEr"><img src="https://m.media-amazon.com/images/I/41tcnjTZv2L._SR400,400_.jpg" alt="Data 6FT/1.8M Cable" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>327 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XljCEr">(2 Pack + iPhone Bag) USB 90 Degree Right Angle Design Gaming iPhone LED Nylon Braided Sync Charge New USB Reversible Data 6FT/1.8M Cable</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>40% off at $13.99</strong> with promo code: <strong>40YOZ7M8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XljCEr">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="9.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31EE7v3"><img src="https://m.media-amazon.com/images/I/71O5kh8BihL._SR400,400_.jpg" alt="USB Desk fan" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>15 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31EE7v3">USB Desk fan Summer cooling 7 Inch Office Fan, 360°Rotation &3 Speeds Rechargeable Battery Powered USB table fan</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.89</span><span class="ori_price">$17.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>45% off at $17.99</strong> with promo code: <strong>453QVXK7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31EE7v3">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="5.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RnMJS5"><img src="https://m.media-amazon.com/images/I/71A+XcHSoHL._SR400,400_.jpg" alt="FIYAPOO 360-Rotation Magnetic Phone Car Mount" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>40 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RnMJS5">FIYAPOO 360-Rotation Magnetic Phone Car Mount Holder with Nightlight Ring Compatible for iPhone,Galaxy S9/8 Pixel,GPS, Mini Tablet and More</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.44</span><span class="ori_price">$10.88</span></address>
      <p><span>Take <strong>50% off at $10.88</strong> with promo code: <strong>50CLEAN50MP1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RnMJS5">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KWB7EA"><img src="https://m.media-amazon.com/images/I/71Pp5qJ4W2L._SR400,400_.jpg" alt="Bluetooth Headband Sleep Headphones" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>313 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KWB7EA">Bluetooth Headband Sleep Headphones, TOPOINT Wireless Music Sport Headbands Sleeping Headsets, Long Time Play Workout, Running, Yoga, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $18.99</strong> with promo code: <strong>50YJ2GTC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KWB7EA">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="51" data-price="11.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RpvgJ1"><img src="https://images-na.ssl-images-amazon.com/images/I/71LGPMbVf%2BL._SX679_.jpg" alt="Laptop Backpack" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>58 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RpvgJ1">Laptop Backpack with USB Charging Port Anti-Theft[Water Resistant] College Bookbag School Business Travel Backpack Computer Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.27</span><span class="ori_price">$31.97</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>51% off at $31.97</strong> with promo code: <strong>517EATN3</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RpvgJ1">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="20.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IP1cCN"><img src="https://m.media-amazon.com/images/I/61HjCdtpyOL._SR400,400_.jpg" alt="Cusimax 1.7L Electric Kettle" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>193 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IP1cCN">Cusimax 1.7L Electric Kettle Cordless Glass Water Kettle Fast Boiling Tea Kettle with Auto Shut-off & Boil-dry Protection LED Light Water Heater Boiler BPA-free</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.79</span><span class="ori_price">$29.70</span></address>
      <p><span>Take <strong>30% off at $29.70</strong> with promo code: <strong>30FDBQS7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IP1cCN">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="8.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xmr6qM"><img src="https://m.media-amazon.com/images/I/711KZI4+BcL._SR400,400_.jpg" alt="Anyshock Lumbar Support Pillow" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>22 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xmr6qM">Anyshock Lumbar Support Pillow, Memory Foam Back Cushion Car Lumbar Pillow for Office Desk Chair Car Seat Ergonomic Design Adjust Sitting Position...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.01</span><span class="ori_price">$26.69</span></address>
      <p><span>Take <strong>70% off at $26.69</strong> with promo code: <strong>70LV9QW2</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xmr6qM">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31E4FN7"><img src="https://m.media-amazon.com/images/I/61bV9uxCSrL._SR400,400_.jpg" alt="25fps 1080P HDR WiFi Security Camera" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>13 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31E4FN7">25fps 1080P HDR WiFi Security Camera Indoor, Ctronics IP Security Camera with Upgraded Night Vision, Motion & Sound Detection, Two-Way Audio,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $49.99</strong> with promo code: <strong>30SWNUOD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31E4FN7">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="16.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XiI49z"><img src="https://m.media-amazon.com/images/I/61XIWMRizTL._SR400,400_.jpg" alt="LANGRIA Twin Size Mattress Protector" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>6 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XiI49z">LANGRIA Twin Size Mattress Protector, 5-Sided 100% Waterproof with Jacquard Fabric Surface - Premium Mattress Cover Breathable Vinyl Free</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.78</span><span class="ori_price">$27.97</span></address>
      <p><span>Take <strong>40% off at $27.97</strong> with promo code: <strong>403D2PUV</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XiI49z">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XfTQS8"><img src="https://m.media-amazon.com/images/I/71WrpKrJObL._SR400,400_.jpg" alt="Wsky Windproof Umbrella for Travel" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>179 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XfTQS8">Wsky Windproof Umbrella for Travel, New Updated Comfortable Square Handle, 10 Reinforced Fiberglass Ribs with Teflon Canopy, Auto Open & Close</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>70% off at $29.99</strong> with promo code: <strong>70AKHSUZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XfTQS8">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MS4zOt"><img src="https://m.media-amazon.com/images/I/91w-bGyW-OL._SR400,400_.jpg" alt="Harper & Bright Designs Vanity Set Make Up..." /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>16 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em></span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MS4zOt">Harper & Bright Designs Vanity Set Make Up Vanity Table Make-up Dressing Table with Mirror and Cushioned Stool for Women/Girls (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$119.99</span><span class="ori_price">$199.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>40% off at $199.99</strong> with promo code: <strong>407PNOXE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MS4zOt">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="12.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RrEip6"><img src="https://m.media-amazon.com/images/I/51LZsi5WYnL._SR400,400_.jpg" alt="Air Vent Cell Phone Holder" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>27 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RrEip6">Air Vent Cell Phone Holder for Car Gravity Linkage Auto-Clamping Universal Fit Car Cradle Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.74</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>15% off at $14.99</strong> with promo code: <strong>15SAN1G5</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RrEip6">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RlAGF2"><img src="https://m.media-amazon.com/images/I/61iEGp1hRVL._SR400,400_.jpg" alt="Casual Hobo Canvas Mulit-Pocket Daily Purse" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>27 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RlAGF2">JSBKY Women's Ladies Vintage Casual Hobo Canvas Mulit-Pocket Daily Purse Top Handle Shoulder Tote Shopper Handbag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.98</span></address>
      <p><span>Take <strong>50% off at $29.98</strong> with promo code: <strong>50RX8RNS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RlAGF2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="46.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XgcJEB"><img src="https://m.media-amazon.com/images/I/61RGkUB-XYL._SR400,400_.jpg" alt="LBLA Drone" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>42 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XgcJEB">LBLA Drone with Camera Live Video,WiFi FPV Quadcopter with 120° Wide-Angle  720P HD Camera Foldable Drone RTF - Altitude Hold, One Key Take Off/Landing,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$46.19</span><span class="ori_price">$65.99</span></address>
      <p><span>Take <strong>30% off at $65.99</strong> with promo code: <strong>3014ZN6B</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XgcJEB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="8" data-price="13.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RlerPl"><img src="https://m.media-amazon.com/images/I/514CD360H9L._SR400,400_.jpg" alt="Universal Travel Adapter" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>23 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>8% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RlerPl">Universal Travel Adapter International Power Adapter European Plug Conventer Worldwide All in One with 3 USB Charging Ports US to Europe Plug Adapter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.79</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>8% off at $14.99</strong> with promo code: <strong>08RGRO3O</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RlerPl">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="58.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WNBnba"><img src="https://m.media-amazon.com/images/I/51RuCN-f-QL._SR400,400_.jpg" alt="BAIYEA Eye Massager" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>35 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WNBnba">BAIYEA Eye Massager with Air Pressure, Music, Vibration and Heat Compression Therapy, Wireless Rechargeable Foldable Temple Massager</a></p>
    <div class="code_high">
      <address><span class="dis_price">$58.00</span><span class="ori_price">$64.44</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>10% off at $64.44</strong> with promo code: <strong>10KLO7WO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WNBnba">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="24.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FiGlqs"><img src="https://m.media-amazon.com/images/I/714Ab2bRr5L._SR400,400_.jpg" alt="Wireless Portable Charger 24000mAh Power Bank" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>198 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FiGlqs">Wireless Portable Charger 24000mAh Power Bank Huge Capacity Charge External Battery Pack Dual Inputs & Three Output with LCD Display</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.04</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>35% off at $36.99</strong> with promo code: <strong>35QF2FU7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FiGlqs">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="9.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IRkGqm"><img src="https://m.media-amazon.com/images/I/61uZbeeXUaL._SR400,400_.jpg" alt="Tracker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IRkGqm">Leaone Fitness Tracker HR,Waterproof Smart Band, LED Display Touchpad Smart Wristband with Heart Rate Monitor, Step Counter, and Sleep Monitoring</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.96</span><span class="ori_price">$24.90</span></address>
      <p><span>Take <strong>60% off at $24.90</strong> with promo code: <strong>60NLT7JG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IRkGqm">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="59.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2INZEZM"><img src="https://m.media-amazon.com/images/I/610k6H-9nuL._SR400,400_.jpg" alt="Najoane Mini Projector" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>24 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2INZEZM">Najoane Mini Projector, Full HD LED Projector The Biggest is 1080P Supported Movie Projector, Portable Movie Projector</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.98</span><span class="ori_price">$79.98</span></address>
      <p><span>Take <strong>25% off at $79.98</strong> with promo code: <strong>253F771Q</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2INZEZM">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IULO89"><img src="https://m.media-amazon.com/images/I/71NpDS7bowL._SR400,400_.jpg" alt="MIEO Digital Instant Read Meat Thermometer" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>38 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IULO89">MIEO Digital Instant Read Meat Thermometer for Grilling High Accuracy IP7 Waterproof Fast Read Digital Meat Thermometer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>50% off at $21.99</strong> with promo code: <strong>50LPSGFD</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IULO89">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="10.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rn0ssE"><img src="https://m.media-amazon.com/images/I/61hkTuKlVoL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>65 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rn0ssE">Bluetooth Headphones Neckband Wireless Headset Super Hi-Fi Stereo Deep Bass Earphone Noise Cancellation Magnetic Earbuds</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.40</span><span class="ori_price">$25.99</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>60% off at $25.99</strong> with promo code: <strong>60KER888</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Rn0ssE">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="6.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xl7nI7"><img src="https://m.media-amazon.com/images/I/31VhEz-3qgL._SR400,400_.jpg" alt="Milk Frother Handheld Electric" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>123 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xl7nI7">Milk Frother Handheld Electric, Coffee Frother for Milk Foaming, Latte/Cappuccino Frother Mini Frappe Mixer for Drink, Hot Chocolate, Stainless Steel Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.97</span><span class="ori_price">$13.94</span></address>
      <p><span>Take <strong>50% off at $13.94</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xl7nI7">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xlnd5p"><img src="https://m.media-amazon.com/images/I/51z8-BA2ZYL._SR400,400_.jpg" alt="Yiomxhi Ab Roller Wheel" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>13 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xlnd5p">Yiomxhi Ab Roller Wheel with Knee Pad Ultra-Wide Abs Wheel Abdominal Workout Equipment Core Exercise Wheel for Man Women Gymnastics Home Gym Core Training</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>25% off at $23.99</strong> with promo code: <strong>2584EGNL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xlnd5p">Use Code</a>
  </div>
</div>

