<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JdTaVG"><img src="https://images-na.ssl-images-amazon.com/images/I/71hANk3zsLL._SX522_.jpg" alt="Intex Swim Center Family Inflatable Pool" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,677 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JdTaVG">Intex Swim Center Family Inflatable Pool, 103" X 69" X 22", for Ages 6+</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JdTaVG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="37.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xxF76q"><img src="https://images-na.ssl-images-amazon.com/images/I/91nPv3Gdd1L._SX679_.jpg" alt="Winix Filter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>730 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xxF76q">Winix 115115 Replacement Filter A</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.91</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xxF76q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30bTmKy"><img src="https://images-na.ssl-images-amazon.com/images/I/71BngZWBIcL._SX522_.jpg" alt="Mr. Coffee ..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,030 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30bTmKy">Mr. Coffee Not Available IDS13-RB ISD13-RB 12-Cup Replacement Decanter for FT and is Series, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.58</span><span class="ori_price">$29.18</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30bTmKy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="91.81">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LBRRRP"><img src="https://images-na.ssl-images-amazon.com/images/I/61scITXrnbL._SX679_.jpg" alt="Air Purifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>427 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LBRRRP">Envion 90TP240TW01-W Therapure TPP240 Permanent HEPA Type Air Purifier</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$91.81</span><span class="ori_price">$279.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LBRRRP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XrT2dU"><img src="https://images-na.ssl-images-amazon.com/images/I/71HeErTVOxL._SY879_.jpg" alt="Chrome Bathroom Shelf" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>954 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XrT2dU">Organize It All 1753W-B Wall Mount 2 Tier Chrome Bathroom Shelf with Towel Bars Metallic</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$30.02</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XrT2dU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="199.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/308iEsQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71sBjbHYbKL._SY606_.jpg" alt="Beats Solo3 Wireless On-Ear Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,035 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/308iEsQ">Beats Solo3 Wireless On-Ear Headphones - Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.00</span><span class="ori_price">$299.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/308iEsQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="189.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FSECbO"><img src="https://images-na.ssl-images-amazon.com/images/I/81D46VNLb9L._SX522_.jpg" alt="XFX Radeon RX 580 GTS XXX Edition" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,276 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FSECbO">XFX Radeon RX 580 GTS XXX Edition 1386MHz OC+, 8GB GDDR5, VR Ready, Dual BIOS, 3xDP HDMI DVI, AMD Graphics Card (RX-580P8DFD6)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$189.99</span><span class="ori_price">$379.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FSECbO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="71.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2S3QBZ7"><img src="https://images-na.ssl-images-amazon.com/images/I/81z1SoYOfCL._SX522_.jpg" alt="Polaroid Snap Instant Digital Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,626 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2S3QBZ7">Polaroid Snap Instant Digital Camera (White) with Zink Zero Ink Printing Technology</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$71.99</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2S3QBZ7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="44.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lx7gD0"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/6aef85f5-087d-42d0-8230-aef72629c2e6._CR0,0,800,600_PT0_SX800__.jpg" alt="DualShock 4 Wireless Controller" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9,547 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lx7gD0">DualShock 4 Wireless Controller for PlayStation 4 - Magma Red by Sony</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.10</span><span class="ori_price">$64.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lx7gD0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="37.63">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDl66K"><img src="https://images-na.ssl-images-amazon.com/images/I/51pjz%2BFkQCL.jpg" alt="American Red Cross Emergency NOAA Weather Radio" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>370 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDl66K">American Red Cross Emergency NOAA Weather Radio, AM/FM/WX Radio with Solar, 2600 mAh Lithium Ion Battery and Crank power,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.63</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LDl66K">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="23.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jo4FZu"><img src="https://images-na.ssl-images-amazon.com/images/I/71-A9mSFuQL._SX679_.jpg" alt="Toy Wimmer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>608 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23.29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jo4FZu">Manhattan Toy Wimmer-Ferguson Infant Stim-Mobile for Cribs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.29</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jo4FZu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JvgZHs"><img src="https://images-na.ssl-images-amazon.com/images/I/61B3BaXgtGL._SX679_.jpg" alt="COSORI Electric Kettle(BPA Free)" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,976 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JvgZHs">COSORI Electric Kettle(BPA Free), 1.8 Qt Double Wall 304 Stainless Steel Water Boiler, Coffee Pot & Tea Kettle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JvgZHs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="272.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lx8pKO"><img src="https://images-na.ssl-images-amazon.com/images/I/81sfxhTP33L._SX522_.jpg" alt="LG Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>229 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lx8pKO">LG 27UL500-W 27-Inch UHD (3840 x 2160) IPS Monitor with Radeon Freesync Technology and HDR10, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$272.99</span><span class="ori_price">$349.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lx8pKO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="134.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RSe0we"><img src="https://images-na.ssl-images-amazon.com/images/I/71vljm0sdoL._SX522_.jpg" alt="ASUS led Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>687 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RSe0we">ASUS VE248H 24" Full HD 1920x1080 2ms HDMI DVI VGA Back-lit LED Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$134.00</span><span class="ori_price">$219.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RSe0we">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JexiJD"><img src="https://images-na.ssl-images-amazon.com/images/I/51VqUC5tEjL._SX679_.jpg" alt="Belkin Boost Up Wireless Charging Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>805 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JexiJD">Belkin Boost Up Wireless Charging Pad 7.5W – Wireless Charger for iPhone XS, XS Max, XR, X, 8, 8 Plus, Compatible with Samsung, LG, Sony and More</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.95</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JexiJD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JgzMr7"><img src="https://images-na.ssl-images-amazon.com/images/I/81sSSGp9QVL._SY879_.jpg" alt="Samsung Galaxy Tab A 8"" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>404 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JgzMr7">Samsung Galaxy Tab A 8" 32 GB Wifi Tablet (Silver) - SM-T380NZSEXAR</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.99</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JgzMr7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JsS2fu"><img src="https://images-na.ssl-images-amazon.com/images/I/91bGJgHMtTL._SX522_.jpg" alt="LEGO Star Wars Solo:" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>102 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JsS2fu">LEGO Star Wars Solo: A Star Wars Story Kessel Run Millennium Falcon 75212 Building Kit and Starship Model Set,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$169.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JsS2fu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="95.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XuTtUL"><img src="https://images-na.ssl-images-amazon.com/images/I/71r1E7x7PlL._SX522_.jpg" alt="ASUS VS228H-P 21.5" Full HD" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,529 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XuTtUL">ASUS VS228H-P 21.5" Full HD 1920x1080 HDMI DVI VGA Back-lit LED Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$95.00</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XuTtUL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="20.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LCL8as"><img src="https://images-na.ssl-images-amazon.com/images/I/81FMa4IXSnL._SX425_.jpg" alt="Energizer 123 Lithium Batteries" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>541 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LCL8as">Energizer 123 Lithium Batteries, 12 Count (CR123A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.60</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LCL8as">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XUxPZy"><img src="https://images-na.ssl-images-amazon.com/images/I/915WmjswdxL._SX679_.jpg" alt="Samsung MUF-128AB/AM FIT Plus 128GB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>522 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XUxPZy">Samsung MUF-128AB/AM FIT Plus 128GB - 300MB/s USB 3.1 Flash Drive</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XUxPZy">Shop Now at Amazon</a></div>
</div>