<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card dealofday clearfix" data-score="39" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JaKhL2"><img src="https://images-na.ssl-images-amazon.com/images/I/816isHv9j0L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Save up to 39% on FEANDREA Cat Trees</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2YdHBCP">FEANDREA Cat Tree for Large Cats</a> - <span>47.99<em>64.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2IKTACs">FEANDREA 58" Cat Tree Condo Tower </a> - <span>63.99<em>104.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LhvKjy">SONGMICS Multi-Tier Cat Playpen,Cat Cage</a> - <span>74.39<em>94.99</em></span></li>
            <li><a href="https://amzn.to/2JaKhL2">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JaKhL2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="1,597.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X2Z7bE"><img src="https://images-na.ssl-images-amazon.com/images/I/91eWjdLgiJL._SX679_.jpg" alt="Samsung HD Smart TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>22 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X2Z7bE">Samsung QN65Q70RAFXZA Flat 65-Inch QLED 4K Q70 Series Ultra HD Smart TV (2019 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,597.99</span><span class="ori_price">$2,197.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X2Z7bE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="49.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X9xCBQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71oF18MWk3L._SX522_.jpg" alt="GoPro 3-Way Grip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>858 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X9xCBQ">GoPro 3-Way Grip, Arm, Tripod (GoPro Official Mount)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.59</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X9xCBQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="26.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LkTXVV"><img src="https://images-na.ssl-images-amazon.com/images/I/61964ezLCKL._SX679_.jpg" alt="Samsung Qi Certified Fast Charge Wireless Charging Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>6,592 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LkTXVV">Samsung Qi Certified Fast Charge Wireless Charging Pad + Stand - Supports wireless charging on Qi compatible smartphones - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.75</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LkTXVV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="59.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDptoG"><img src="https://images-na.ssl-images-amazon.com/images/I/71SN9yISZxL._SX679_.jpg" alt="Samsung Wireless Charger " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>575 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDptoG">Samsung Wireless Charger Duo Fast Charge Stand & Pad Universally Compatible with Qi Enabled Phones and Select Samsung Watches (US Version), Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.49</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XDptoG">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="29" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yg56Lo"><img src="https://images-na.ssl-images-amazon.com/images/I/610GMshqJ8L._SX679_.jpg" alt="Portable Air Compressor Pump" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yg56Lo">Portable Air Compressor Pump, AMDRFO Easy to Use Tire Inflator, Fast Inflating Tire Pump,12V 150 PSI Auto Digital Tire Inflator with Emergency Led...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$35.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yg56Lo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="138.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FBJVwe"><img src="https://images-na.ssl-images-amazon.com/images/I/61pB%2B4NQ4mL._SX425_.jpg" alt="Gaming Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>45 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FBJVwe">LucidSound LS41 Wireless Surround Sound Gaming Headset for PS4, Xbox One, PC, Nintendo Switch, Mac, DTS Headphone: X 7.1 Gaming headphones - PlayStation 4</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$138.49</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FBJVwe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X4wLCy"><img src="https://images-na.ssl-images-amazon.com/images/I/41b9CBnScWL._SX679_.jpg" alt="WiFi Range Extender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>738 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X4wLCy">TP-Link | AC1200 WiFi Range Extender | Up to 1200Mbps | WiFi Extender, Repeater, WiFi Signal Booster | One Mesh | Easy Set-Up | Compact Designed Internet...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X4wLCy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="31.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JdzMa6"><img src="https://images-na.ssl-images-amazon.com/images/I/81xQD0TdCEL._SX679_.jpg" alt="Brother P-touch Label Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>495 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JdzMa6">Brother P-touch Label Maker, Versatile Easy-to-Use Labeler, PTD400AD, AC Adapter, QWERTY Keyboard, Multiple Line Labeling, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.69</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JdzMa6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="20.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LgA9TP"><img src="https://images-na.ssl-images-amazon.com/images/I/71oohmF9YeL._SX679_.jpg" alt="Stainless Steel Pots" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1,721 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LgA9TP">Melissa & Doug Let’s Play House! Stainless Steel Pots & Pans Play Set for Kids Construction, 8 Pieces, 13” H x 6” W x 6” L)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.40</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LgA9TP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="110.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YknxyQ"><img src="https://images-na.ssl-images-amazon.com/images/I/719gHvD3thL._SX522_.jpg" alt="Logitech iPad Pro 12.9 inch Keyboard Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>375 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YknxyQ">Logitech iPad Pro 12.9 inch Keyboard Case | SLIM COMBO with Detachable, Backlit, Wireless Keyboard and Smart Connector (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$110.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YknxyQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="98.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XbbYxl"><img src="https://images-na.ssl-images-amazon.com/images/I/81MndOgsptL._SX522_.jpg" alt="Galaxy Tab S4 Book Cover Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>188 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XbbYxl">Samsung Electronics EJ-FT830UBEGUJ Galaxy Tab S4 Book Cover Keyboard, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$98.97</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XbbYxl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="59.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FwH7jG"><img src="https://images-na.ssl-images-amazon.com/images/I/41r3ETfUlhL.jpg" alt="Multi-Device Wireless Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>670 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FwH7jG">Logitech K780 Multi-Device Wireless Keyboard for Computer, Phone and Tablet – Logitech FLOW Cross-Computer Control Compatible</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.40</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FwH7jG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2INPtFT"><img src="https://images-na.ssl-images-amazon.com/images/I/7113BF4ip9L._SX522_.jpg" alt="Bluetooth Turntable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,175 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2INPtFT">Victrola Nostalgic Aviator Wood 8-in-1 Bluetooth Turntable Entertainment Center, Mahogany</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.99</span><span class="ori_price">$139.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2INPtFT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="204.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X8xmTY"><img src="https://images-na.ssl-images-amazon.com/images/I/81NimGK3U-L._SX679_.jpg" alt="Jabra Evolve 75 Stereo UC" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>120 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X8xmTY">Jabra Evolve 75 Stereo UC, Charging Stand & Link 370</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$204.95</span><span class="ori_price">$329.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X8xmTY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="71.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YcyHp2"><img src="https://images-na.ssl-images-amazon.com/images/I/81z1SoYOfCL._SX522_.jpg" alt="Polaroid Snap Instant Digital Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,615 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YcyHp2">Polaroid Snap Instant Digital Camera (White) with Zink Zero Ink Printing Technology</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$71.99</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YcyHp2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="49.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XwLE00"><img src="https://images-na.ssl-images-amazon.com/images/I/817aVWYpblL._SX522_.jpg" alt="Fujifilm Instax Mini 9 Instant Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,553 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XwLE00">Fujifilm Instax Mini 9 Instant Camera - Ice Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.00</span><span class="ori_price">$69.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XwLE00">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="134.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XboVHt"><img src="https://images-na.ssl-images-amazon.com/images/I/71vljm0sdoL._SX522_.jpg" alt="ASUS LED Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>686 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XboVHt">ASUS VE248H 24" Full HD 1920x1080 2ms HDMI DVI VGA Back-lit LED Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$134.00</span><span class="ori_price">$219.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XboVHt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="212.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LiAu8l"><img src="https://images-na.ssl-images-amazon.com/images/I/911CdTj-K0L._SY879_.jpg" alt="Danby 120 Can Beverage Center" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,953 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LiAu8l">Danby 120 Can Beverage Center, Stainless Steel DBC120BLS</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$212.99</span><span class="ori_price">$324.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LiAu8l">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="399.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yffjro"><img src="https://images-na.ssl-images-amazon.com/images/I/71DQ4o%2BcDpL._SX522_.jpg" alt="Canon Digital SLR Camera Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>426 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yffjro">Canon Digital SLR Camera Kit [EOS Rebel T6] with EF-S 18-55mm and EF 75-300mm Zoom Lenses - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.00</span><span class="ori_price">$749.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yffjro">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yas5Ys"><img src="https://images-na.ssl-images-amazon.com/images/I/71GSwVu8VEL._SX522_.jpg" alt="Logitech Crayon" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>35 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yas5Ys">Logitech Crayon for iPad (6th Gen), iPad Air (3rd Gen) and iPad Mini (5th Gen)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yas5Ys">Shop Now at Amazon</a></div>
</div>

