<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Image_alt" title="Image_title"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span><br /> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>Recommended</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span> + Percentage% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Percentage% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="deal_btn promo_btn"><em class="stock_m">* Only a few left in stock.</em><a target="_blank" href="product_link">Use Code at Amazon</a><em>* Only a few left in stock.</em></div>
-->



<div class="card clearfix" data-score="70" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IzZsOl"><img src="https://images-na.ssl-images-amazon.com/images/I/61EUa0WpDlL._SX522_.jpg" alt="SanDisk 16GB 2.0 Flash Cruzer Glide USB Drive" title="SanDisk 16GB USB"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IzZsOl">SanDisk 16GB 2.0 Flash Cruzer Glide USB Drive (SDCZ60-016G-B35)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.99</span><span class="ori_price">$16.60</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IzZsOl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35o3N1d"><img src="https://images-na.ssl-images-amazon.com/images/I/61z5oOk5fzL._SY879_.jpg" alt="NETGEAR WiFi Range Extender EX3700" title="NETGEAR WiFi Range Extender"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35o3N1d">NETGEAR WiFi Range Extender EX3700 - Coverage up to 1000 sq.ft. and 15 devices with AC750 Dual Band Wireless Signal Booster & Repeater...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$46.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $5.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $5.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35o3N1d">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="64.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MmIrIG"><img src="https://images-na.ssl-images-amazon.com/images/I/51dBsN4fpBL._SX522_.jpg" alt="Introducing Echo Show 5" title="Echo Show 5"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MmIrIG">Introducing Echo Show 5 – Compact smart display with Alexa - Sandstone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.99</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MmIrIG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31X1oZa"><img src="https://images-na.ssl-images-amazon.com/images/I/61Zjn4B8cgL._SX522_.jpg" alt="Magnetic Bluetooth 5.0 Stereo Sound Earphones" title="ireless Earbuds"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31X1oZa">Upgraded Wireless Earbuds, Magnetic Bluetooth 5.0 Stereo Sound Earphones, Bluetooth Earbuds, Dual Built-in Mic Auto Pairing Headphones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$89.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $10.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $10.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31X1oZa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pY0duk"><img src="https://images-na.ssl-images-amazon.com/images/I/410PZBLs%2BQL._SX522_.jpg" alt="Echo Input" title="Echo Input"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pY0duk">Echo Input – Bring Alexa to your own speaker- Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pY0duk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AWyVGW"><img src="https://images-na.ssl-images-amazon.com/images/I/6182S7MYC2L._SX522_.jpg" alt="Echo Dot (3rd Gen)" title="Echo Dot (3rd Gen)"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AWyVGW">Echo Dot (3rd Gen) - Smart speaker with Alexa - Charcoal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AWyVGW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="69.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OwB0S0"><img src="https://images-na.ssl-images-amazon.com/images/I/71sDxJdoD7L._SX425_.jpg" alt="JBL Clip 3" title="JBL Clip Speaker"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OwB0S0">JBL Clip 3 Portable Waterproof Wireless Bluetooth Speaker - Forest Green</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.95</span><span class="ori_price">$89.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OwB0S0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="84" data-price="13.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pQnTAD"><img src="https://images-na.ssl-images-amazon.com/images/I/71PT4wXHp0L._SX522_.jpg" alt="Sphero AFB01USA Star Wars Force Band by" title="Star Wars Force Band"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>84% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pQnTAD">Sphero AFB01USA Star Wars Force Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.16</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pQnTAD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="87.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/329U2Sh"><img src="https://images-na.ssl-images-amazon.com/images/I/71rhH-5siBL._SX679_.jpg" alt="Vacuvita One Touch Vacuum Storage System" title="Vacuvita Vacuum Storage System"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/329U2Sh">Vacuvita One Touch Vacuum Storage System, Resealable and Reusable Vacuum Sealer - Orange</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$87.00</span><span class="ori_price">$299.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/329U2Sh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="32.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AXfLkk"><img src="https://images-na.ssl-images-amazon.com/images/I/61Al7%2BX1qwL._SX679_.jpg" alt="Babycakes Multi-Treat Baker" title="Babycakes Multi-Treat Baker"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AXfLkk">Babycakes Multi-Treat Baker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.45</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AXfLkk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VuRrQi"><img src="https://images-na.ssl-images-amazon.com/images/I/61tfHhUPKVL._SX679_.jpg" alt="Nesco Stainless Steel Electric Burner" title="Nesco Electric Burner"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VuRrQi">Nesco SB-01 Stainless Steel Electric Burner, 1500-watt, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$32.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VuRrQi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IBmyUR"><img src="https://images-na.ssl-images-amazon.com/images/I/81YSZkz4wzL._SX679_.jpg" alt="Hamilton Beach Electric Indoor Searing Grill" title="Hamilton Electric Grill"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IBmyUR">Hamilton Beach Electric Indoor Searing Grill with Viewing Window and Removable Easy-to-Clean Nonstick Plate, 6-Serving,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IBmyUR">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card dealofday clearfix" data-score="40" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2p2aLIm"><img src="https://images-na.ssl-images-amazon.com/images/I/611lE8+VMEL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2p2aLIm"><span>Amazon Deal Of The Day:</span><br /> Save up to 40% on Anker Charging Accessories</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Charger Cables:</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/35igtqb">USB Type C Cable</a> - <span>13.19<em>18.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2VpoyEW">iPhone 11 Charger, USB C to Lightning Cable</a> - <span>15.39<em>21.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2oqEcE1">Anker Powerline Lightning Cable</a> - <span>19.49<em>27.99</em></span></li>
          </ul>
        </li>
        <li>
          <p>Portable & Wireless Chargers:</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2VrTrsc">10000mAh Portable Charger</a> - <span>25.19<em>35.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2IPmW2r">Anker Wireless Charger with Internal Cooling Fan</a> - <span>34.95<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Oxnbm5">20100mAh Portable Charger with Dual USB Ports</a> - <span>39.88<em>59.99</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2p2aLIm">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="30" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Owdvbz"><img src="https://images-na.ssl-images-amazon.com/images/I/810LScDh+SL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Owdvbz"><span>Amazon Deal Of The Day:</span><br /> Save 30% on Emolly Fashion Onesies</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2VoSC3s">Penguin Kid Pajama Onesie</a> - <span>18.20<em>26.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LXRcKm">Adult Cow Animal Onesie Costume</a> - <span>18.20<em>26.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2ouG66q">Adult Kangaroo Animal Onesie Costume</a> - <span>24.50<em>35.00</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Owdvbz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="49.63">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/312NCCJ"><img src="https://images-na.ssl-images-amazon.com/images/I/51eMNSFFa0L._AC_SR300,300_.jpg" alt="Garbage Disposal" title="Garbage Disposal"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/312NCCJ"><span>Amazon Deal Of The Day:</span> Waste King L-2600 Garbage Disposal with Power Cord, 1/2 HP</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.63</span><span class="ori_price">$76.22</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/312NCCJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="57.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30VpUs9"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/0510c5c1-88c2-4a49-bd71-162bd77c9ffd.__CR0,0,600,600_PT0_SX300_V1___.jpg" alt="Sunbeam Programmable Bread Maker, White" title="Sunbeam Bread Maker"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30VpUs9">Sunbeam Programmable Bread Maker, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$57.76</span><span class="ori_price">$77.55</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30VpUs9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="52.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2B14Jdz"><img src="https://images-na.ssl-images-amazon.com/images/I/61kkOwDBtsL._SX679_.jpg" alt="Koolatron KWC-4 red Portable Mini Cooler" title="Koolatron Portable Mini Cooler"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2B14Jdz">Koolatron KWC-4 red Portable Mini Cooler</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$52.45</span><span class="ori_price">$69.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2B14Jdz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="112.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33giBNc"><img src="https://images-na.ssl-images-amazon.com/images/I/81HemDywlkL._SX679_.jpg" alt="Midea WHS-65LB1 Compact Single Reversible Door Refrigerator" title="Compact Single Refrigerator"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33giBNc">Midea WHS-65LB1 Compact Single Reversible Door Refrigerator, 1.6 Cubic Feet(0.045 Cubic Meter), Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$112.00</span><span class="ori_price">$169.30</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33giBNc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="239.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/321mh5d"><img src="https://images-na.ssl-images-amazon.com/images/I/41M9yOeu6vL._SX522_.jpg" alt="SPT SD-2213S Countertop Dishwasher" title="Dishwasher"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/321mh5d">SPT SD-2213S Countertop Dishwasher, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$239.96</span><span class="ori_price">$309.00</span>
        <div class="tooltip_common tooltip_orange"><span> + $5.40 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $5.40 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/321mh5d">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="136.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IzkL2M"><img src="https://images-na.ssl-images-amazon.com/images/I/61HUAFoa5jL._SX679_.jpg" alt="Panasonic Microwave oven" title="Panasonic Microwave oven"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IzkL2M">Panasonic Microwave Oven NN-SN686S Stainless Steel Countertop/Built-In with Inverter Technology and Genius Sensor, 1.2 Cu. Ft, 1200W</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$136.84</span><span class="ori_price">$174.95</span>
        <div class="tooltip_common tooltip_orange"><span> + $3.22 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $3.22 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IzkL2M">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="12.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2p2CSas"><img src="https://images-na.ssl-images-amazon.com/images/I/71aBJ8il0CL._SX679_.jpg" alt="Rapid Slicer" title="Rapid Slicer"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2p2CSas">Rapid Slicer, Food Cutter, Slice Tomatoes, Grapes, Olives, Chicken, Shrimp, Strawberries, Salads. Non-Slip Gadget Holder...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.95</span><span class="ori_price">$14.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2p2CSas">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="9.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vs61YG"><img src="https://images-na.ssl-images-amazon.com/images/I/51Velm2NgDL.jpg" alt="Nite Ize Original Gear Tie" title="Nite Ize Original Gear Tie"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vs61YG">Nite Ize Original Gear Tie, Reusable Rubber Twist Tie, Assorted Colors and Sizes, 8 Pack, Made in the USA</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.98</span><span class="ori_price">$13.29</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Vs61YG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="76.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/321nuth"><img src="https://images-na.ssl-images-amazon.com/images/I/71qz-x1nMFL._SX425_.jpg" alt="iFetch Interactive Ball Launchers" title="iFetch Interactive Ball Launchers"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/321nuth">iFetch Interactive Ball Launchers for Dogs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$76.33</span><span class="ori_price">$115.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/321nuth">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="54.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Iy4NFY"><img src="https://images-na.ssl-images-amazon.com/images/I/6170mJHIsYL._SX522_.jpg" alt="Logitech MX Anywhere 2S Wireless Mouse" title="Logitech Wireless Mouse"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Iy4NFY">Logitech MX Anywhere 2S Wireless Mouse – Use on Any Surface, Hyper-Fast Scrolling, Rechargeable, Control up to 3 Apple Mac and Windows...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Iy4NFY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OxgLDv"><img src="https://images-na.ssl-images-amazon.com/images/I/61z-CKGV-iL._SY879_.jpg" alt="Bluedio T2s Bluetooth Headphones On Ear with Mic" title="Bluedio Bluetooth Headphones On Ear"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OxgLDv">Bluedio T2s Bluetooth Headphones On Ear with Mic, 57mm Driver Rotary Folding Wireless Headset, Wired and Wireless headphones ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $2.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $2.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OxgLDv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="481.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/321rZnI"><img src="https://images-na.ssl-images-amazon.com/images/I/71b08M-WqqL._SX679_.jpg" alt="2018 HP 15.6-Inch Business Laptop HD" title="HP Business Laptop"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/321rZnI">2018 HP 15.6" Business Laptop HD+ WLED-backlit Touchscreen Display Intel i3-7100U Processor 12GB DDR4 RAM 1TB HDD Intel 620 Graphics...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$481.00</span><span class="ori_price">$1,499.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/321rZnI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VqJsU2"><img src="https://images-na.ssl-images-amazon.com/images/I/71gaTCSAYIL._SX679_.jpg" alt="EClub Deals USB C Hub" title="EClub Deals USB C Hub"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VqJsU2">EClub Deals USB C Hub, Aluminum 4-in-1 USB Type C Hub Adapter Dongle 100W Power Delivery, Compatible for 2016 2017 MacBook Pro 13" 15",...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VqJsU2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IzPnBb"><img src="https://images-na.ssl-images-amazon.com/images/I/61G0fxhh9oL._SX522_.jpg" alt="LIFX Mini 800-Lumen LED Light Bulb" title="LIFX LED Light Bulb"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IzPnBb">LIFX Mini 800-Lumen LED Light Bulb (L3A19MC08E26) Multi Colored - 1 Pack, 120 volts, 9W - New</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IzPnBb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="61.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33jnMw7"><img src="https://images-na.ssl-images-amazon.com/images/I/71u-mrIWPjL._SX679_.jpg" alt="MorePro GPS Smart Watch" title="MorePro GPS Smart Watch"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33jnMw7">MorePro GPS Smart Watch with 17 Sports Mode Cycling Running Watches IP68 Swimming Waterproof Fitness Tracker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$61.18</span><span class="ori_price">$105.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33jnMw7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VrmyMl"><img src="https://images-na.ssl-images-amazon.com/images/I/51bdgSYBp1L._SX425_.jpg" alt="Essential Oil Diffuser" title="Essential Oil Diffuser"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VrmyMl">Essential Oil Diffuser | 6+ Hour Mini Diffusers | Ultra Quiet Super High Aroma Output | Small Aromatherapy Humidifier</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.79</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VrmyMl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VqUeK4"><img src="https://images-na.ssl-images-amazon.com/images/I/61hg2WwaVDL._SX522_.jpg" alt="LEPOWER New Version Metal Clip On Light" title="LEPOWER New Version Metal Clip On Light"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VqUeK4">LEPOWER New Version Metal Clip On Light, Flexible Bed Light with 3 Colors x Stepless Adjustable Brightness, Eye Caring Reading Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$22.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VqUeK4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="59.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33f5I6c"><img src="https://images-na.ssl-images-amazon.com/images/I/91FG31BQf0L._SX679_.jpg" alt="Waterman Expert Fountain Pen" title="Waterman Expert Fountain Pen"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33f5I6c">Waterman Expert Fountain Pen, Gloss Black with 23k Gold Trim, Medium Nib with Blue Ink Cartridge, Gift Box</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.98</span><span class="ori_price">$96.89</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33f5I6c">Shop Now at Amazon</a></div>
</div>

