<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->


<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="65" data-price="5.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31uh5q9"><img src="https://m.media-amazon.com/images/I/61AlhVy0BhL._SR400,400_.jpg" alt="Aptx Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31uh5q9">Aptx Bluetooth Headphones, Mini In Ear Bluetooth 4.1 AptX Stereo Magnetic Wireless Earbuds Snug Fit for Sports with Built...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.95</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">65J8VCJ2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $16.99</strong> with promo code: <strong class="m_codes">65J8VCJ2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31uh5q9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31m7Rfl"><img src="https://m.media-amazon.com/images/I/61dPd89qMtL._SR400,400_.jpg" alt="Phone Camera Lens,7 in 1 Cell Phone Lens Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31m7Rfl">Phone Camera Lens,7 in 1 Cell Phone Lens Kit for iPhone and Android, 198°Fisheye,120° Wide Angle,20X Macro,2X telephoto,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50Y19TC7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50Y19TC7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31m7Rfl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31jAOZe"><img src="https://m.media-amazon.com/images/I/61w34DVXS-L._SR400,400_.jpg" alt="Phone Tripod" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31jAOZe">Phone Tripod, Maxchange Camera Tripod with Remote, 360° Rotating Phone Tripod Mount, Adjustable Flexible Tripod for Camera...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.60</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">60D6QCCU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $18.99</strong> with promo code: <strong class="m_codes">60D6QCCU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31jAOZe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="27.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YM5Zit"><img src="https://m.media-amazon.com/images/I/71eHIjIn+0L._SR400,400_.jpg" alt="Dash Cam" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YM5Zit">Dash Cam, Abask Dash Camera for Cars with Night Vision and Parking Dash Cam Front and Rear Dual Camera with 4" IPS Screens,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.59</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">4083UXSN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $45.99</strong> with promo code: <strong class="m_codes">4083UXSN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YM5Zit">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31uiLQt"><img src="https://m.media-amazon.com/images/I/51hKWn8Z5iL._SR400,400_.jpg" alt="Portable Charger RAVPower Ultra Slim Power Bank" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31uiLQt">Portable Charger RAVPower Ultra Slim Power Bank 10000mAh External Battery Pack, Light External Battery for iPhone, Samsung Galaxy, and More</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">309LKRRY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $25.99</strong> with promo code: <strong class="m_codes">309LKRRY</strong></span></p><span class="ex_date ex_date_new">Expiration Date :  Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31uiLQt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMEvoF"><img src="https://images-na.ssl-images-amazon.com/images/I/71n-emJLeGL._SX679_.jpg" alt="VUP Wristband Phone Holder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMEvoF">VUP Wristband Phone Holder for iPhone Xs Xs Max XR X 8 8 Plus 7 7 Plus 6S 6 5S Samsung Galaxy S9 S8 Plus S7 Edge, Google Pixel,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40M5ZCMB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $12.99</strong> with promo code: <strong class="m_codes">40M5ZCMB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YMEvoF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YReBA8"><img src="https://m.media-amazon.com/images/I/61hI5DOi7wL._SR400,400_.jpg" alt="Key Finder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YReBA8">Key Finder, Key Locator Bluetooth -Tracker Device with App Control for iPhone, Slim Wallet Bag Luggage Tracker, Compatible with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">3062TTCL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $17.99</strong> with promo code: <strong class="m_codes">3062TTCL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YReBA8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="18.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31hMRX4"><img src="https://m.media-amazon.com/images/I/61Hw3QIwwoL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31hMRX4">Yoobao Bluetooth Speakers & Power Bank 10000mAh Portable Charger(2-in-1),24-Hour Playtime, 32 ft Bluetooth Range, Built-in Mic....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.50</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">50DYHM1H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $36.99</strong> with promo code: <strong class="m_codes">50DYHM1H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31hMRX4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KiZCek"><img src="https://m.media-amazon.com/images/I/61vUgPSCf2L._SR400,400_.jpg" alt="Te-Rich Quick Charge 3.0 & USB" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KiZCek">Te-Rich Quick Charge 3.0 & USB C 120W 3-Socket Cigarette Lighter Adapter, 12V/24V Car Power Outlet Splitter Multi Port ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">45RONIM3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $19.99</strong> with promo code: <strong class="m_codes">45RONIM3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KiZCek">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yHy77R"><img src="https://m.media-amazon.com/images/I/517gPcxiJ4L._SR400,400_.jpg" alt="3 in 1 Charging Stand" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yHy77R">3 in 1 Charging Stand for iPhone AirPods Apple Watch Charger Dock Station Silicone,Support for Apple Watch Series...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.19</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">409UD4YW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $11.99</strong> with promo code: <strong class="m_codes">409UD4YW</strong></span></p><span class="ex_date ex_date_new">Expiration Date :  Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yHy77R">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="17.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YwGqCz"><img src="https://m.media-amazon.com/images/I/61Ul-3ouZrL._SR400,400_.jpg" alt="Aiugko USB C Hub 9-in-1 USB..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YwGqCz">Aiugko USB C Hub 9-in-1 USB C Adapter Hub to Ethernet HDMI Type C Hub Data/PD Charge 3USB 3.0 SD/TF Card Reader Audio/Mic Space...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.10</span><span class="ori_price">$56.99</span></address>
      <textarea readonly="readonly" class="code_area">70NFGS3H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $56.99</strong> with promo code: <strong class="m_codes">70NFGS3H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YwGqCz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GOM9bV"><img src="https://m.media-amazon.com/images/I/612kkNU344L._SR400,400_.jpg" alt="LeadsaiL Rechargeable Wireless Mouse" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GOM9bV">LeadsaiL Rechargeable Wireless Mouse, Computer Mouse Wireless, Cordless Mouse Silent Click, Mini USB Wireless Mouse Ergonomic,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.19</span><span class="ori_price">$16.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">4057J6D5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $16.99</strong> with promo code: <strong class="m_codes">4057J6D5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GOM9bV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="5.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YNfRZe"><img src="https://m.media-amazon.com/images/I/61+8DxekdVL._SR400,400_.jpg" alt="AINOPE [2 Pack] iPad 9.7 6th Generation Screen Protector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YNfRZe">AINOPE [2 Pack] iPad 9.7 6th Generation Screen Protector, [Easy Install Frame]Tempered Glass Screen Protector for iPad ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.85</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">55KJTXJJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $12.99</strong> with promo code: <strong class="m_codes">55KJTXJJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YNfRZe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31m9dGX"><img src="https://m.media-amazon.com/images/I/81misax8Z8L._SR400,400_.jpg" alt="Anti Theft Business Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31m9dGX">Anti Theft Business Laptop Backpack with USB Charging Port Fits 15.6 inch Laptop, Slim Travel College Bookbag for MacBook Computer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.09</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">30IZEH37</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $32.99</strong> with promo code: <strong class="m_codes">30IZEH37</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31m9dGX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YR0ElY"><img src="https://m.media-amazon.com/images/I/71ydI39PigL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YR0ElY">ANEWISH 2.4Ghz Mini Wireless Keyboard Full Screen Mouse Touchpad, Backlit Mini Keyboard Air Remote Mouse Combo,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">506GQZSV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.99</strong> with promo code: <strong class="m_codes">506GQZSV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YR0ElY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GV7l0e"><img src="https://m.media-amazon.com/images/I/61jJhieXijL._SR400,400_.jpg" alt="1Mii Long Range Bluetooth 5.0 Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GV7l0e">1Mii Long Range Bluetooth 5.0 Headphones with aptx Low Latency, Bluetooth Headphones for TV Watching, Wireless On Ear Headphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40ACJ1VN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40ACJ1VN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GV7l0e">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GT3Eba"><img src="https://m.media-amazon.com/images/I/61YU6RI5gwL._SR400,400_.jpg" alt="KPSTEK 6-Outlet Wall Plug Outlet Extender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GT3Eba">KPSTEK 6-Outlet Wall Plug Outlet Extender with 3 USB Ports(3.4A Total), Multi Plug Wall Adapter Surge Protector for Home,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.44</span><span class="ori_price">$13.49</span></address>
      <textarea readonly="readonly" class="code_area">30TKJWC7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $13.49</strong> with promo code: <strong class="m_codes">30TKJWC7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GT3Eba">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yr9BqG"><img src="https://m.media-amazon.com/images/I/61u4eWePpqL._SR400,400_.jpg" alt="Amoner Travel Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yr9BqG">Amoner Travel Adapter, All in One International Power Plug Converter with 3 USB + 1 Type-C Charging Ports Wall Charger Plug...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">309G4I5K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $18.99</strong> with promo code: <strong class="m_codes">309G4I5K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yr9BqG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="20.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31rxFXl"><img src="https://m.media-amazon.com/images/I/81V+zUXBdCL._SR400,400_.jpg" alt="Modelones Poly Nail Gel Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31rxFXl">Modelones Poly Nail Gel Kit Mini French Enhancement Builder Color Changing Acrylic Extension for Travel - Including...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.79</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">203VKGR5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $25.99</strong> with promo code: <strong class="m_codes">203VKGR5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31rxFXl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KliCsU"><img src="https://m.media-amazon.com/images/I/71+sbGOj-TL._SR400,400_.jpg" alt="Ado Glo Bear Claw Meat Shredder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KliCsU">Ado Glo Bear Claw Meat Shredder - 2 Pack Sharp Meat Claws for Shredding, Handling & Carving Meat with 2 Pack Oil Brushes (Plastic11)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$9.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">45OWZRKL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $9.99</strong> with promo code: <strong class="m_codes">45OWZRKL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KliCsU">Use Code at Amazon</a></div>
</div>


