<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
-->

<div class="card clearfix" data-score="15" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xb1JJU"><img src="https://m.media-amazon.com/images/I/51UHjCggkwL._SR400,400_.jpg" alt="Case for iPhone XS Max" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>114 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xb1JJU">Case for iPhone XS Max, ProBien Liquid Silicone Full Protective Cover with Tempered Screen Protector Shockproof Durable Shell...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.59</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>15% off at $15.99</strong> with promo code: <strong>152VD6KF</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xb1JJU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="24.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N3odav"><img src="https://m.media-amazon.com/images/I/61t45lsq-JL._SR400,400_.jpg" alt="1Mii Long Range Bluetooth Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>58 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N3odav">1Mii Long Range Bluetooth Speaker Wireless Speaker, Portable Speaker with Music Mode&Vocal Mode, 10W 360⁰ Music Speakers, Built-in 8000 mAh Power Bank,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.75</span><span class="ori_price">$54.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>55% off at $54.99</strong> with promo code: <strong>55W2O5FU</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N3odav">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xthuuh"><img src="https://m.media-amazon.com/images/I/61eEnDhc36L._SR400,400_.jpg" alt="Armband" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>159 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xthuuh">Armband for iPhone, VCOO Ultra Thin Soft Running Case with Reflective Strip and Extension Strap, Sweatproof Workout Arm Band for iPhone 7 / 6s / 6 / Samsung...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>40% off at $12.99</strong> with promo code: <strong>402OG8UM</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xthuuh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="4.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rvn2PR"><img src="https://m.media-amazon.com/images/I/51cqnUmDLzL._SR400,400_.jpg" alt="Wrist Rest Support Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>422 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rvn2PR">Vankey Keyboard Wrist Rest Pad and Mouse Silica Gel Wrist Rest Support with Memory Foam for Computer and Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.27</span><span class="ori_price">$9.49</span></address>
      <p><span>Take <strong>55% off at $9.49</strong> with promo code: <strong>55U1MENJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Rvn2PR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="11" data-price="12.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2x6W7Ak"><img src="https://m.media-amazon.com/images/I/716PPowqumL._SR400,400_.jpg" alt="Universal Air Vent Car Phone Mount Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>949 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2x6W7Ak">Universal Air Vent Car Phone Mount Holder – 2019 Updated Version by Mongoora – for Any Smartphone – Car Cell Phone Holder – Vent Phone Holder– Car Vent Mount...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.05</span><span class="ori_price">$13.54</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>11% off at $13.54</strong> with promo code: <strong>11W85D5A</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2x6W7Ak">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="11" data-price="11.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WYaK8p"><img src="https://m.media-amazon.com/images/I/711C7TN+UQL._SR400,400_.jpg" alt="Magnetic Air Vent Car Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>740 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WYaK8p">Magnetic Air Vent Car Phone Mount – 2019 Updated Version by HUSSELL – for Any Smartphone – Car Phone Holder – Universal Cell Phone Holder – ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.78</span><span class="ori_price">$13.24</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>11% off at $13.24</strong> with promo code: <strong>11X5QCCS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WYaK8p">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="11" data-price="11.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X0IXo2"><img src="https://m.media-amazon.com/images/I/71B36jUrg9L._SR400,400_.jpg" alt="2019 HUSSELL 5.4A 30W Dual USB Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>860 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X0IXo2">2019 HUSSELL 5.4A 30W Dual USB Car Charger Adapter - Quick Charge 3.0 3A + Smart IC 2.4A - Compatible with iPhone Xs X 8 7 6 Plus Max Samsung Galaxy...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.94</span><span class="ori_price">$13.42</span></address>
      <p><span>Take <strong>11% off at $13.42</strong> with promo code: <strong>11OP2PZS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="19.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X5WM4E"><img src="https://m.media-amazon.com/images/I/61nx+094C4L._SR400,400_.jpg" alt="Gaming Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>70 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X5WM4E">Gaming Headset for PC PS4, Multi-Color LED Light 7.1 Surround Sound Lightweight(0.65 lb) Extra Sport Mesh Pads, Noise Cancelling Mic. Headphone ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.49</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>35% off at $29.99</strong> with promo code: <strong>35UZ6SR7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X5WM4E">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="13.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xc6PW9"><img src="https://m.media-amazon.com/images/I/71l1y46dOUL._SR400,400_.jpg" alt="Facial Hair Remover" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>49 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xc6PW9">Facial Hair Remover for Women,Hair Removal Kit 5 in 1,Permanent Hair Removal,Bikini Trimmer, Facial Hair, Body Shaver, Eyebrow Trimmer, Nose Trimmer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.50</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>55% off at $29.99</strong> with promo code: <strong>55RQJHCZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xc6PW9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="27.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rv3YAU"><img src="https://m.media-amazon.com/images/I/61yEibremZL._SR400,400_.jpg" alt="Electric Shaver" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,933 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rv3YAU">SweetLF 3D Rechargeable 100% Waterproof IPX7 Electric Shaver Wet & Dry Rotary Shavers for Men Electric Shaving Razors with Pop-up Trimmer, Blue </a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.37</span><span class="ori_price">$36.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>26% off at $36.99</strong> with promo code: <strong>26D1RIVG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Rv3YAU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="25.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RucxvR"><img src="https://m.media-amazon.com/images/I/81tn-uuzRFL._SR400,400_.jpg" alt="Teeth Whitening Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>331 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RucxvR">Crest 3D White Whitestrips Gentle Routine Teeth Whitening Kit, 14 Treatments </a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.98</span><span class="ori_price">$35.98</span></address>
      <p><span>Take <strong>28% off at $35.98</strong> with promo code: <strong>10CRESTWHITE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RucxvR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J0cpk1"><img src="https://m.media-amazon.com/images/I/71bYyt5Ho5L._SR400,400_.jpg" alt="Backseat Trunk Organizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J0cpk1">Backseat Trunk Organizer, Hanging Seat Back SUV Storage Organizer with Large Pockets, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.89</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>10% off at $20.99</strong> with promo code: <strong>102PIQNT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J0cpk1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYXR4a"><img src="https://m.media-amazon.com/images/I/71fru7OM5WL._SR400,400_.jpg" alt="Bike Light Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>51 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYXR4a">Bike Light Set - Powerful Lumens LED Bicycle Headlight & TAIL LIGHT - Water Resistant - Easy Tool-Free Installation - 500 Feet Visibility</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$19.97</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>70% off at $19.97</strong> with promo code: <strong>70LTHVKW</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IYXR4a">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="9.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fqquq4"><img src="https://m.media-amazon.com/images/I/71WeIHujZjL._SR400,400_.jpg" alt="Te-Rich Fabric Resistance Loop Exercise Bands" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>182 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fqquq4">Te-Rich Fabric Resistance Loop Exercise Bands, Cloth Booty Training Bands, Heavy/Non-Slip/Thick Wide Fitness Elastic Circle Band for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.60</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>52% off at $19.99</strong> with promo code: <strong>528AOBE4</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Fqquq4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="6.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LbtzxG"><img src="https://m.media-amazon.com/images/I/716ow9XRyJL._SR400,400_.jpg" alt="Belly Band Holsters Concealed Carry" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>58 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LbtzxG">Belly Band Holsters Concealed Carry, with Magazine Pouch and Zipper Pocket</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.28</span><span class="ori_price">$17.95</span></address>
      <p><span>Take <strong>65% off at $17.95</strong> with promo code: <strong>65TH4XOO</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LbtzxG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="13.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FqUsdu"><img src="https://m.media-amazon.com/images/I/61tgMcb8XtL._SR400,400_.jpg" alt="ELENTURE Full-Zip Exercise Yoga Mat" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>673 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FqUsdu">ELENTURE Full-Zip Exercise Yoga Mat Carry Bag with Multi-Functional Storage Pockets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.58</span><span class="ori_price">$15.98</span></address>
      <p><span>Take <strong>15% off at $15.98</strong> with promo code: <strong>15HVPH6G</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FqUsdu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X1iIhf"><img src="https://m.media-amazon.com/images/I/61G5jhy9sBL._SR400,400_.jpg" alt="Magicafé French Press Coffee Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X1iIhf">Magicafé French Press Coffee Maker – Stainless Steel Coffee Maker Double Walled 34oz/1L Copper</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.79</span><span class="ori_price">$25.59</span></address>
      <p><span>Take <strong>50% off at $25.59</strong> with promo code: <strong>502UFKOG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X1iIhf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XosJ7u"><img src="https://m.media-amazon.com/images/I/617PFTj9Y+L._SR400,400_.jpg" alt="Vacuum Sealer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XosJ7u">Vacuum Sealer NEXT-SHINE VS6610 with Starter Kits Simple Operation Work with Food Saver Preservation, Sous Vide, Home, Kitchen 110W Working Power...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.79</span><span class="ori_price">$33.99</span></address>
      <p><span>Take <strong>30% off at $33.99</strong> with promo code: <strong>30201966</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XosJ7u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FssCxn"><img src="https://m.media-amazon.com/images/I/61d0s80hNOL._SR400,400_.jpg" alt="Kitchen Utensil Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FssCxn">Kitchen Utensil Set 8 Piece Cooking Utensils Set, Silicone And Acacia Wooden Utensils for Nonstick Cookware, BPA Free & Non Toxic Turner Tongs...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$23.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $23.99</strong> with promo code: <strong>30VPAKO7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FssCxn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XvvKCU"><img src="https://m.media-amazon.com/images/I/613zUc8ZnzL._SR400,400_.jpg" alt="Lemon Squeezer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>819 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XvvKCU">Lemon Squeezer, Boxlegend Premium Quality Stainless Steel Press Lemon Lime Squeezer Citrus Manual Juicer- Extra Large, Silicone Handles</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>40% off at $13.99</strong> with promo code: <strong>40KP4VO2</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XvvKCU">Use Code at Amazon</a></div>
</div>


