<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="15" data-price="31.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y9s9GO"><img src="https://m.media-amazon.com/images/I/71ZxMxcaY1L._SR400,400_.jpg" alt="PopBabies Portable Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,261 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y9s9GO">PopBabies Portable Blender, Personal Blender with USB Rechargeable Small Blender for Shakes and Smoothies,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.44</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">15SO6IGL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $36.99</strong> with promo code: <strong class="m_codes">15SO6IGL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y9s9GO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="19.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSPmls"><img src="https://m.media-amazon.com/images/I/81kwgNxkoeL._SR400,400_.jpg" alt="VEPOSE Men's Slip on Dress Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>46 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSPmls">VEPOSE Men's Slip on Dress Shoes Formal Square Toe Loafers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.79</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">40ZSYL1W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $32.99</strong> with promo code: <strong class="m_codes">40ZSYL1W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XSPmls">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="6.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y8VYYe"><img src="https://m.media-amazon.com/images/I/71s8ttJVtHL._SR400,400_.jpg" alt="Brexlink Quick Charge 3.0 Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>55 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y8VYYe">Brexlink Quick Charge 3.0 Car Charger 3A Dual QC USB Ports 36W Fast Car Charger Adapter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.88</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">47ZG5UWM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>47% off at $12.99</strong> with promo code: <strong class="m_codes">47ZG5UWM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y8VYYe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="21.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XTv1MZ"><img src="https://m.media-amazon.com/images/I/812zcNW6IGL._SR400,400_.jpg" alt="Circle Crossbody Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>87 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XTv1MZ">The Lovely Tote Co. Women's Fashion Crocodile Circle Crossbody Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.50</span><span class="ori_price">$42.99</span></address>
      <textarea readonly="readonly" class="code_area">50NGJ7FK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $42.99</strong> with promo code: <strong class="m_codes">50NGJ7FK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XTv1MZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ObcDun"><img src="https://m.media-amazon.com/images/I/91-u4bIGHWL._SR400,400_.jpg" alt="TV Wall Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>291 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ObcDun">USX MOUNT Full Motion Swivel Articulating Tilt TV Wall Mount Bracket for 26-55" LED, OLED, 4K TVs-Fit...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">404ILLFV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">404ILLFV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ObcDun">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2y88uwl"><img src="https://m.media-amazon.com/images/I/71+mPXFOXfL._SR400,400_.jpg" alt="Mini Wire Pendant Lighting" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2y88uwl">LALUZ 1-Light Industrial Mini Wire Pendant Lighting, Metal Cage Shade, Silver Brushed</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">509GBFAZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $59.99</strong> with promo code: <strong class="m_codes">509GBFAZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2y88uwl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTHk1X"><img src="https://m.media-amazon.com/images/I/51Q1OMYadRL._SR400,400_.jpg" alt="DiamondSmile Replacement Toothbrush Heads" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,191 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTHk1X">DiamondSmile Replacement Toothbrush Heads Compatible with Sonicare Plaque Control HX9028/64 8 Pack,fits 2 Series,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.17</span><span class="ori_price">$16.95</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40LANVEDA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $16.95</strong> with promo code: <strong class="m_codes">40LANVEDA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JTHk1X">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SsP7aQ"><img src="https://m.media-amazon.com/images/I/511mj86mEKL._SR400,400_.jpg" alt="Selkie Mini Wireless Earbud" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>172 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SsP7aQ">Selkie Mini Wireless Earbud, [Upgrade Version] Single Wireless Earbud with HD Sound Quality, 10 Hours Talkingtime...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">50ORVK22</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $21.99</strong> with promo code: <strong class="m_codes">50ORVK22</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SsP7aQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JUYvjz"><img src="https://m.media-amazon.com/images/I/61hXT5vo8oL._SR400,400_.jpg" alt="Retro Handheld Game Console" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JUYvjz">Retro Handheld Game Console, with Built in 3000 Classic Games,Dual Core 16G Emulator 3.0'' FC TV Support Game Player,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.99</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">20F1X7HS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $69.99</strong> with promo code: <strong class="m_codes">20F1X7HS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JUYvjz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LAdKlw"><img src="https://m.media-amazon.com/images/I/61hI8eYmqRL._SR400,400_.jpg" alt="Lightsaber Chopsticks" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>59 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LAdKlw">Lightsaber Chopsticks Light Saber Chopsticks Light Up Chop Sticks Reusable Funny Gift for Party (1 pair, Blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">50YJGHRF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.99</strong> with promo code: <strong class="m_codes">50YJGHRF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LAdKlw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4cEjp"><img src="https://m.media-amazon.com/images/I/51xPnFQoluL._SR400,400_.jpg" alt="Selfie Stick Tripod" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>122 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4cEjp">Selfie Stick Tripod 44 Inch with Ring Light Remote Bluetooth for Live Stream...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.19</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">408T4L9A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $21.99</strong> with promo code: <strong class="m_codes">408T4L9A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y4cEjp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="6.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SuUyWA"><img src="https://m.media-amazon.com/images/I/61AlhVy0BhL._SR400,400_.jpg" alt="Aptx Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>65 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SuUyWA">Aptx Bluetooth Headphones, Mini In Ear Bluetooth 4.1 AptX Stereo Magnetic Wireless Earbuds Snug Fit for Sports with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.46</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">62VC1VZK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>62% off at $16.99</strong> with promo code: <strong class="m_codes">62VC1VZK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SuUyWA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YcsYD2"><img src="https://m.media-amazon.com/images/I/61WfNnKRdkL._SR400,400_.jpg" alt="Business Travel Laptop Backpack" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YcsYD2">Business Travel Laptop Backpack with USB Charging Port, Anti Theft College School Computer Bag Fits 15 Inch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">60DC888Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $49.99</strong> with promo code: <strong class="m_codes">60DC888Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YcsYD2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="15.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YiE1KX"><img src="https://m.media-amazon.com/images/I/616IzF1q3LL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>255 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YiE1KX">Laptop Backpack, Business Computer Bag Waterproof Travel Backpack College School Backpack for Men Women with USB Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.39</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">45OLRFVP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $27.99</strong> with promo code: <strong class="m_codes">45OLRFVP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YiE1KX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Syh019"><img src="https://m.media-amazon.com/images/I/61e8V0X0WCL._SR400,400_.jpg" alt="Avantree Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>587 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Syh019">Avantree ANC032 Active Noise Cancelling Bluetooth Headphones with Mic, Wireless, Wired 2-in-1, Comfortable>..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">2075JG3A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $49.99</strong> with promo code: <strong class="m_codes">2075JG3A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Syh019">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="33.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTofNn"><img src="https://m.media-amazon.com/images/I/61fAfu0TRuL._SR400,400_.jpg" alt="CHISANA Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>404 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTofNn">CHISANA Wireless Earbuds – Bluetooth Headphones 5.0 w/QI Wireless 2200mAh Charging Case | 3D Stereo Sound Deep Bass...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$33.51</span><span class="ori_price">$55.85</span></address>
      <textarea readonly="readonly" class="code_area">40L511CM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $55.85</strong> with promo code: <strong class="m_codes">40L511CM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JTofNn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32HERAj"><img src="https://m.media-amazon.com/images/I/71pUB7kPbcL._SR400,400_.jpg" alt="Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>181 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32HERAj">Essential Oil Diffuser, 2 Pack Aromatherapy Diffuser for Essensial Oils Portable Ultrasonic Cool Mist Humidifier...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">50WQO7XE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $23.99</strong> with promo code: <strong class="m_codes">50WQO7XE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32HERAj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XXycTU"><img src="https://m.media-amazon.com/images/I/71+4zctEqHL._SR400,400_.jpg" alt="Aromacare Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XXycTU">Aromacare Essential Oil Diffuser/Diffuser for Essential Oils for Large Room, Extra Quiet 900ml Cool Mist Humidifier...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50C8ZPDU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50C8ZPDU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XXycTU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OjLeGC"><img src="https://m.media-amazon.com/images/I/61uRZubrAwL._SR400,400_.jpg" alt="540 Sheets Lint Roller, 3 Handles, 6 Refills " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>41 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OjLeGC">540 Sheets Lint Roller, 3 Handles, 6 Refills </a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.60</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">606BKDZS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $18.99</strong> with promo code: <strong class="m_codes">606BKDZS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OjLeGC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWoLEi"><img src="https://m.media-amazon.com/images/I/51CUsg26BjL._SR400,400_.jpg" alt="Livhò Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>163 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWoLEi">Livhò Blue Light Blocking Glasses, UV400 Transparent Lens,Phone Computer Reading Glasses,Anti Eyestrain/Anti Ray,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$19.98</span></address>
      <textarea readonly="readonly" class="code_area">55OFFPGO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $19.98</strong> with promo code: <strong class="m_codes">55OFFPGO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 02:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XWoLEi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="41.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xYzpuK"><img src="https://m.media-amazon.com/images/I/41EYnehS2iL._SR400,400_.jpg" alt="Areox Bike U Lock" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xYzpuK">Areox Bike U Lock - 2019 Fingerprint Bicycle U-Lock, Smart U Locks with Mounting Bracket for Road Bike Mountain...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$41.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30LKBVFH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $59.99</strong> with promo code: <strong class="m_codes">30LKBVFH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xYzpuK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JRkqZ2"><img src="https://m.media-amazon.com/images/I/61jO19BPenL._SR400,400_.jpg" alt="Pahajim fashion PU leather Bucket bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>43 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JRkqZ2">Pahajim fashion PU leather Bucket bag Waterproof handbags women tote bags shoulder bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">40OM44MD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $23.99</strong> with promo code: <strong class="m_codes">40OM44MD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JRkqZ2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4jFAL"><img src="https://m.media-amazon.com/images/I/612n4qqpx-L._SR400,400_.jpg" alt="Portable Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4jFAL">Portable Blender - Nicewell USB Rechargeable Smoothie Blender, 14oz Detachable Juicer Cup for Travel Office School Home,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$35.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">35CJAK9K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $35.99</strong> with promo code: <strong class="m_codes">35CJAK9K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y4jFAL">Use Code at Amazon</a></div>
</div>