<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XyNfOE"><img src="https://m.media-amazon.com/images/I/619D-55pwHL._SR400,400_.jpg" alt="Sport Wireless Bluetooth" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>166 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XyNfOE">Upgraded 2019 True Waterproof Sport Wireless Bluetooth Earbuds- with Deep Bass HiFi 3D Stereo Sound>..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>60% off at $39.99</strong> with promo code: <strong>60S5SXPA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XyNfOE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.8">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XwUWK0"><img src="https://m.media-amazon.com/images/I/61cPjFTu76L._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XwUWK0">Wireless Earbuds, True Wireless Bluetooth Headphones, TWS Earphones with Charging Case 15H Playtime 3D Stereo...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.8</span><span class="ori_price">$41.99</span></address>
      <p><span>Take <strong>60% off at $41.99</strong> with promo code: <strong>60XEX9DZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XwUWK0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="25.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JpWQDT"><img src="https://m.media-amazon.com/images/I/71ZMS7ahHwL._SR400,400_.jpg" alt="Dearlove Women's Oversized Long Sleeve" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>82 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JpWQDT">Dearlove Women's Oversized Long Sleeve Open Front Knit Cardigan Sweater with Pocket S-XXL</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.19</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>30% off at $35.99</strong> with promo code: <strong>30PHNISY</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 06:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JpWQDT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="11.03">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jn1xOz"><img src="https://m.media-amazon.com/images/I/71UyJKxOefL._SR400,400_.jpg" alt="Lightning Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>154 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jn1xOz">Lightning Cable,[MFi Certified] Fantany Durable Metal USB Lightning Charging Cable Compatible with iPhone Xs,XS Max,XR,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.03</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>31% off at $15.99</strong> with promo code: <strong>31FANTANY</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jn1xOz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="6.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xx4XXL"><img src="https://m.media-amazon.com/images/I/81ntFFhwo8L._SR400,400_.jpg" alt="Car Phone Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>640 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xx4XXL">Car Phone Holder, Veckle CD Slot Magnetic Phone Car Mount Holder Strong Magnet Phone Holder for Car Universal...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.04</span><span class="ori_price">$10.99</span>
         <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
         <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>45% off at $10.99</strong> with promo code: <strong>45OUH9LW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xx4XXL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XwHFMU"><img src="https://m.media-amazon.com/images/I/51MAx75NvUL._SR400,400_.jpg" alt="AUTLEY Wireless Vertical Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>145 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XwHFMU">AUTLEY Wireless Vertical Mouse, 2.4G Optical Wireless Silent Ergonomic Mouse for Large Hands, for Laptop,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$20.99</span>
         <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $20.99</strong> with promo code: <strong>40S1DS1D</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XwHFMU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="38.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XB8i30"><img src="https://m.media-amazon.com/images/I/61q5ORCrcbL._SR400,400_.jpg" alt="LETSCOM USB C Hub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>201 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XB8i30">LETSCOM USB C Hub, 11 in 1 USB C Adapter with Ethernet, 4K HDMI, VGA, Power Delivery, 2 USB3.0 &USB2.0,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$38.49</span><span class="ori_price">$54.99</span></address>
      <p><span>Take <strong>30% off at $54.99</strong> with promo code: <strong>30MSRU1H</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XB8i30">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2G5oqUO"><img src="https://m.media-amazon.com/images/I/71bs2jGchNL._SR400,400_.jpg" alt="Modoker Small Travel Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>90 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2G5oqUO">Modoker Small Travel Backpack, Vintage Laptop Backpack Bag School College Bookbag USB Charging Port ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $25.99</strong> with promo code: <strong>3047TK7H</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2G5oqUO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="26.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XuYDjs"><img src="https://m.media-amazon.com/images/I/61GrkoF-qtL._SR400,400_.jpg" alt="Mcscants iPad 9.7 Keyboard Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XuYDjs">Mcscants iPad 9.7 Keyboard Case for iPad 2018 6th Gen / 2017 5th Gen/iPad Pro 9.7 / iPad Air 2 & 1,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.39</span><span class="ori_price">$43.99</span></address>
      <p><span>Take <strong>40% off at $43.99</strong> with promo code: <strong>40656F7G</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XuYDjs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xDG11i"><img src="https://m.media-amazon.com/images/I/61MHpIewjvL._SR400,400_.jpg" alt="7PCS Pimple Popper Tool" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xDG11i">7PCS Pimple Popper Tool, Blackhead Remover Comedone Extractor Kit </a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$14.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>70% off at $14.99</strong> with promo code: <strong>30FBHZQ1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xDG11i">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="12.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQ9Fcf"><img src="https://m.media-amazon.com/images/I/717y8vI2OxL._SR400,400_.jpg" alt="Christian T Shirts" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQ9Fcf">Qrupoad Be Kind Tees Women Kindness Graphic Tee Short Sleeve Christian T Shirts</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.79</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>20% off at $15.99</strong> with promo code: <strong>207V5CVL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQ9Fcf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="17.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ePTuO"><img src="https://m.media-amazon.com/images/I/51cZANlq9OL._SR400,400_.jpg" alt="Swing Mini Dress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>27 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ePTuO">YIBOCK Women's Summer Short Sleeve V Neck Button Ruffle Swing Mini Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.49</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>30% off at $24.99</strong> with promo code: <strong>30D4CKAI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30ePTuO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="5.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JqyOY0"><img src="https://m.media-amazon.com/images/I/51zKm1EPl3L._SR400,400_.jpg" alt="UNIFON Facial Clay Mask Natural French Mineral Mud" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JqyOY0">UNIFON Facial Clay Mask Natural French Mineral Mud, Deep Pore Cleansing, Super Pore Reducer and Minimizer，...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.60</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>65% off at $15.99</strong> with promo code: <strong>65OFZD8Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JqyOY0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LGOV6l"><img src="https://m.media-amazon.com/images/I/713qL-agP6L._SR400,400_.jpg" alt="momok Woven Laundry Basket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LGOV6l">momok Woven Laundry Basket, Large Cotton Rope Plant Basket Flower Pot Indoor Storage Basket for Blankets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>70% off at $29.99</strong> with promo code: <strong>70UMTKHI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LGOV6l">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LIZIx0"><img src="https://m.media-amazon.com/images/I/71vGC2WCf7L._SR400,400_.jpg" alt="YOREPEK Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,140 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LIZIx0">YOREPEK Travel Laptop Backpack, Extra Large College School Backpack for Men and Women with USB Charging Port,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>20% off at $49.99</strong> with promo code: <strong>209FIUC8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LIZIx0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JnkAZf"><img src="https://m.media-amazon.com/images/I/71QkQx-zVtL._SR400,400_.jpg" alt="NEEKFOX Men’s Cushion Crew Hiking Socks" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>180 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JnkAZf">NEEKFOX Men’s Cushion Crew Hiking Socks Multi Performance Outdoor Sport Moisture Wicking Socks</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>50% off at $24.99</strong> with promo code: <strong>506PH2CJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JnkAZf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JjzkYV"><img src="https://m.media-amazon.com/images/I/81MNYm0VH3L._SR400,400_.jpg" alt="Denim Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>367 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JjzkYV">Women's Hight Waisted Butt Lift Stretch Ripped Skinny Jeans Distressed Denim Pants</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>15% off at $29.99</strong> with promo code: <strong>15Q3DZH9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JjzkYV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XvwvN2"><img src="https://m.media-amazon.com/images/I/71BOzi0A50L._SR400,400_.jpg" alt="Skirt BL Women's Winter Jacket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>96 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XvwvN2">Skirt BL Women's Winter Jacket Casual Thicken Hooded Fleece Lining Zipper Padded Coat</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.50</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>50% off at $38.99</strong> with promo code: <strong>5051EL6G</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XvwvN2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="65.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XAtKKD"><img src="https://m.media-amazon.com/images/I/61JC-WcNtOL._SR400,400_.jpg" alt="Electric Air Fryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XAtKKD">PERSHOW 3.7-Quart, Electric Air Fryer, Comes with Recipes & CookBook - Auto Shut off & Timer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$65.99</span><span class="ori_price">$109.99</span></address>
      <p><span>Take <strong>40% off at $109.99</strong> with promo code: <strong>408Q6Q2R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XAtKKD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XzWenC"><img src="https://m.media-amazon.com/images/I/51HR3mMucwL._SR400,400_.jpg" alt="Dragon Fit High Waist Yoga Leggings" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>523 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XzWenC">Dragon Fit High Waist Yoga Leggings with 3 Pockets,Tummy Control Workout Running 4 Way Stretch Yoga Pants</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$20.98</span></address>
      <p><span>Take <strong>40% off at $20.98</strong> with promo code: <strong>40BKLF4Q</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XzWenC">Use Code at Amazon</a></div>
</div>


<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XvvxRa"><img src="https://m.media-amazon.com/images/I/61zAjrtjeXL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>127 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XvvxRa">Wireless Earbuds,True Wireless Stereo Earphones Sports Mini Bluetooth 5.0 in Ear Car Headphones with Mic,Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$29.99</span>
         <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $29.99</strong> with promo code: <strong>20ALQVJE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XvvxRa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LGJioY"><img src="https://m.media-amazon.com/images/I/714wvqM07cL._SR400,400_.jpg" alt="myCharge AdventureMax Portable Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>118 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LGJioY">myCharge AdventureMax Portable Charger 10500mAh Rugged External Battery Pack with Built-in Carabiner Clip...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $49.99</strong> with promo code: <strong>20OFFPOWER</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LGJioY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEMAMX"><img src="https://m.media-amazon.com/images/I/51szSMnXUiL._SR400,400_.jpg" alt="Taymanso Phone Chargers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>112 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEMAMX">Taymanso Phone Chargers, USB Wall Charger Power Adapter Travel Wall Plug with 2 Pack Phone Cable Charge Sync...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.47</span><span class="ori_price">$14.95</span></address>
      <p><span>Take <strong>50% off at $14.95</strong> with promo code: <strong>507CMZ1F</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEMAMX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30qkeXv"><img src="https://m.media-amazon.com/images/I/71O2MPqTUjL._SR400,400_.jpg" alt="Andobil Car Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>233 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30qkeXv">Andobil Car Phone Mount Easy Clamp, Ultimate Hands-Free Phone Holder for Car Dashboard Air Vent Windshield,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>30% off at $18.99</strong> with promo code: <strong>3062S7ZT</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30qkeXv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="125.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XyBRqO"><img src="https://m.media-amazon.com/images/I/71ssOOTbS3L._SR400,400_.jpg" alt="A-ZONE Wireless Security Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XyBRqO">A-ZONE Wireless Security Camera System, 4CH 1080P Full HD NVR with 4pcs 1080P HD Indoor Outdoor Wireless IP...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$125.00</span><span class="ori_price">$249.99</span></address>
      <p><span>Take <strong>50% off at $249.99</strong> with promo code: <strong>50OZYDC9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XyBRqO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="9.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XyyAYw"><img src="https://m.media-amazon.com/images/I/61Avmd3SkeL._SR400,400_.jpg" alt="NANFU Fast Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>117 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XyyAYw">NANFU Fast Wireless Charger, Qi Wireless 7.5W Fast Charging Stand with Cooling Fan</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.88</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>62% off at $25.99</strong> with promo code: <strong>62LRSO1L</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XyyAYw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XzvSlG"><img src="https://m.media-amazon.com/images/I/71c+ab7EQ0L._SR400,400_.jpg" alt="Amlion Personalized Insulated Tumbler" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XzvSlG">Amlion Personalized Insulated Tumbler Stainless Steel 20 Oz with Lid Custom Mug</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>55% off at $39.99</strong> with promo code: <strong>55LNKUN6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XzvSlG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="14.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30gok4j"><img src="https://images-na.ssl-images-amazon.com/images/I/61y93NNTqpL._UY535_.jpg" alt="SUNROLAN Casual Women's Suede" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>476 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30gok4j">SUNROLAN Casual Women's Suede Leather Driving Moccasins Slip-On Penny Loafers Boat Shoes...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.80</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>60% off at $36.99</strong> with promo code: <strong>60YXV9RK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30gok4j">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxMSbT"><img src="https://images-na.ssl-images-amazon.com/images/I/71wx0NlFucL._SX679_.jpg" alt="Mechanical Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>85 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxMSbT">Mechanical Gaming Keyboard, Rii K61C USB Wired 104keys Anti-ghosting Mechanical Programmable Gaming Keyboard,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>50% off at $24.99</strong> with promo code: <strong>504454UQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxMSbT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="52.00">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://m.media-amazon.com/images/I/51YtrNknd7L._SR400,400_.jpg" alt="Pull Down Kitchen Faucet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>76 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Pull Down Kitchen Faucet With Sprayer, SonTiy Utility Single Hole Pull Out Spray Kitchen Sink Faucet Oil Rubbed Bronze,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$52.00</span><span class="ori_price">$129.99</span></address>
      <p><span>Take <strong>60% off at $129.99</strong> with promo code: <strong>60B38P2W</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="47.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XujaQd"><img src="https://m.media-amazon.com/images/I/61uiFolC8yL._SR400,400_.jpg" alt="ZonLi Cooling Weighted Blanket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,064 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XujaQd">ZonLi Cooling Weighted Blanket 15 lbs(48''x72'', Twin Size, Grey), Cooled Weighted Blanket</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.12</span><span class="ori_price">$58.90</span></address>
      <p><span>Take <strong>20% off at $58.90</strong> with promo code: <strong>20KRHVTT</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XujaQd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDCW0V"><img src="https://m.media-amazon.com/images/I/41POmQOsxbL._SR400,400_.jpg" alt="MICHELANGELO Titanium Skillet 11 Inch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDCW0V">MICHELANGELO Titanium Skillet 11 Inch with Lid, 5 Quart Induction Saute Pan,Nonstick Saute Pan Nonstick Deep Pan,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$60.00</span></address>
      <p><span>Take <strong>70% off at $60.00</strong> with promo code: <strong>70DZORTZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XDCW0V">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="8.32">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jy2QsM"><img src="https://m.media-amazon.com/images/I/71v6r+q83rL._SR400,400_.jpg" alt="MCKOL Women's Summer Casual Tunic Tank top" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>46 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jy2QsM">MCKOL Women's Summer Casual Tunic Tank top for Leggings Sleeveless Tunic Shirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.32</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>68% off at $25.99</strong> with promo code: <strong>68C43IRR</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jy2QsM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="62.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jmh7Kt"><img src="https://m.media-amazon.com/images/I/31y83uH0gdL._SR400,400_.jpg" alt="Carephil Air Purifiers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jmh7Kt">Carephil Air Purifiers, 3 in 1 Room Air Purifier with True HEPA Filter, Home Air Cleaner for Allergies and Pets,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$62.98</span><span class="ori_price">$125.97</span></address>
      <p><span>Take <strong>50% off at $125.97</strong> with promo code: <strong>50DN22S4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jmh7Kt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2G0Q0m5"><img src="https://m.media-amazon.com/images/I/71PJdzqPabL._SR400,400_.jpg" alt="Adoric Ice Cube Trays Silicone Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>645 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2G0Q0m5">Adoric Ice Cube Trays Silicone Set of 2, Sphere Round Ice Ball Maker and Large Square Ice Cube Mold...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$14.98</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $14.98</strong> with promo code: <strong>30N5UHV3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2G0Q0m5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEhXXX"><img src="https://m.media-amazon.com/images/I/61kWoyKdeLL._SR400,400_.jpg" alt="Travel Pillow Memory Foam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>288 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEhXXX">Travel Pillow Memory Foam Airplane Comfortable U Shape Neck Pillow with Bag Set of Two, Blue and Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.79</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>15% off at $27.99</strong> with promo code: <strong>15SENDITIME</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEhXXX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="26.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30grG7p"><img src="https://m.media-amazon.com/images/I/418oO+tNUrL._SR400,400_.jpg" alt="Hubsan RC Quad Copter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>130 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30grG7p">Hubsan H107C HD 61170-02 4 Channel 2.4GHz RC Quad Copter with HD Camera (Green/Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.39</span><span class="ori_price">$32.14</span></address>
      <p><span>Take <strong>20% off at $32.14</strong> with promo code: <strong>20POV3WY</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30grG7p">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="13.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JtSM45"><img src="https://m.media-amazon.com/images/I/61gD7Og8cBL._SR400,400_.jpg" alt="Rabbitgoo Dog Harness No-Pull Pet Harness" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>6,948 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JtSM45">Rabbitgoo Dog Harness No-Pull Pet Harness Adjustable Outdoor Pet Vest 3M Reflective Oxford Material Vest...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.64</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>35% off at $20.99</strong> with promo code: <strong>35KINJADOGGI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JtSM45">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YDBJms"><img src="https://m.media-amazon.com/images/I/61xy9XckdrL._SR400,400_.jpg" alt="Yontree 6 Hooks Mugs Tree" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YDBJms">Yontree 6 Hooks Mugs Tree Cup Rack Dishes Organizer Style C</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.95</span><span class="ori_price">$13.89</span></address>
      <p><span>Take <strong>50% off at $13.89</strong> with promo code: <strong>503BT22O</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YDBJms">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30p37VZ"><img src="https://m.media-amazon.com/images/I/51kvubV-EEL._SR400,400_.jpg" alt="Kukoo Small Crossbody Bag Cell Phone Purse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>255 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30p37VZ">Kukoo Small Crossbody Bag Cell Phone Purse Wallet with Credit Card Slots for Women</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.11</span><span class="ori_price">$13.89</span></address>
      <p><span>Take <strong>20% off at $13.89</strong> with promo code: <strong>20A1RUKE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30p37VZ">Use Code at Amazon</a></div>
</div>

