<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="30" data-price="24.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SrtcAR"><img src="https://m.media-amazon.com/images/I/61fX-piCssL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>160 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SrtcAR">Wireless Earbuds, HSPRO True Wireless Earphones, Stereo Sound Bluetooth 5.0 Headphones, Mini Wireless in-Ear Headsets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.49</span><span class="ori_price">$34.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30H36UMA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $34.99</strong> with promo code: <strong class="m_codes">30H36UMA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SrtcAR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="26.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32F6Z6W"><img src="https://m.media-amazon.com/images/I/51HmOM+PQtL._SR400,400_.jpg" alt="GRC Bluetooth Wireless Earbuds 5.0 Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32F6Z6W">GRC Bluetooth Wireless Earbuds 5.0 Headphones, 18H Playtime Stereo Deep Bass w/Mic, Sport Wireless Touch Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.50</span><span class="ori_price">$52.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50C9L6KN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $52.99</strong> with promo code: <strong class="m_codes">50C9L6KN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32F6Z6W">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SrlO8u"><img src="https://m.media-amazon.com/images/I/71J72buIZqL._SR400,400_.jpg" alt="DAIKEN Womens Pajama Set Striped " /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SrlO8u">DAIKEN Womens Pajama Set Striped 3/4 Sleeve Top & Pants Sleepwear Pjs Sets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50SMQMRI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50SMQMRI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SrlO8u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSBUhv"><img src="https://m.media-amazon.com/images/I/71Ha8i+v14L._SR400,400_.jpg" alt="Dust Mask Respirator N95 Face Mask" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSBUhv">Dust Mask Respirator N95 Face Mask Disposable(20)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30ZSLJFD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $16.99</strong> with promo code: <strong class="m_codes">30ZSLJFD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XSBUhv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSjMdK"><img src="https://m.media-amazon.com/images/I/71LVdC-0cFL._SR400,400_.jpg" alt="LED Flashlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSjMdK">LED Flashlight, Zeelec FL4 Super Bright Portable Tactical Flashlight, Micro USB Rechargeable(18650 battery included),...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">603DOSWD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $24.99</strong> with promo code: <strong class="m_codes">603DOSWD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JSjMdK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWW9dZ"><img src="https://m.media-amazon.com/images/I/514WSGcRtUL._SR400,400_.jpg" alt="luciphia Rectangle Pet Dog Sofa Bed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWW9dZ">luciphia Rectangle Pet Dog Sofa Bed - Paw and Bone Patterned Linen Fabric Cover Square Water-Resistant Bottom</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">50L1NPXY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.99</strong> with promo code: <strong class="m_codes">50L1NPXY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XWW9dZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="6.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JYT43h"><img src="https://m.media-amazon.com/images/I/71TvrR3CodL._SR400,400_.jpg" alt="SOJOS Fashion Aviator Unisex Sunglasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>213 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JYT43h">SOJOS Fashion Aviator Unisex Sunglasses Flat Mirrored Lens Double Bridge SJ1051</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.90</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">70SJ1051</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $22.99</strong> with promo code: <strong class="m_codes">70SJ1051</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JYT43h">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SrMc2d"><img src="https://m.media-amazon.com/images/I/61lyulZQvnL._SR400,400_.jpg" alt="DAIKEN Women's Summer Sleeveless" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>46 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SrMc2d">DAIKEN Women's Summer Sleeveless Casual Loose Swing T-Shirt Dresses Plain Tank DressDAIKEN Women's Summer Sleeveless...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50ZOMWWO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50ZOMWWO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SrMc2d">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SxFAPN"><img src="https://m.media-amazon.com/images/I/61I6VzWgbOL._SR400,400_.jpg" alt="Professional 17-in-1 Multi Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SxFAPN">COMFEE' MB-FS5077 Japanese, Professional 17-in-1 Multi Cooker, Rice Warmer with Food Steamer, Stainless Steel...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.99</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">24MBFS5077</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $79.99</strong> with promo code: <strong class="m_codes">24MBFS5077</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SxFAPN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O9NdNP"><img src="https://m.media-amazon.com/images/I/61pSQm2A0AL._SR400,400_.jpg" alt="Moallia Phone Charger Cables" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>190 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O9NdNP">Moallia Phone Charger Cables, 2 Pack 6FT Extra Long Nylon Braided USB Fast Charging & Syncing Cord Compatible with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span></address>
      <textarea readonly="readonly" class="code_area">50NCOD7I</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50NCOD7I</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O9NdNP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="27.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSW2jG"><img src="https://m.media-amazon.com/images/I/61NQ-wHEYaL._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>72 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSW2jG">True Wireless Earbuds, BassPal Bluetooth 5.0 Headphones TWS in-Ear Mini Headset w/Mic IPX7 Waterproof, Deep Bass ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.49</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">453KZK18</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $49.99</strong> with promo code: <strong class="m_codes">453KZK18</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XSW2jG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32HjGOE"><img src="https://m.media-amazon.com/images/I/6129RMifN0L._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32HjGOE">True Wireless Earbuds 5.0 Bluetooth Headphones with Charging Case, TWS Stereo Earphones Cordless Headsets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">509WK73I</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $49.99</strong> with promo code: <strong class="m_codes">509WK73I</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 02:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32HjGOE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SuACDj"><img src="https://m.media-amazon.com/images/I/61wJTwfjghL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>762 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SuACDj">Bluetooth Headphones, HSPRO Wireless Earbuds, IPX7 Waterproof Sports Headphones Bluetooth Earbuds, CVC6.0...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40P24M94</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">40P24M94</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SuACDj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ssndf2"><img src="https://m.media-amazon.com/images/I/714CAAf279L._SR400,400_.jpg" alt="Derma Roller Cosmetic Needling Instrument Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>70 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ssndf2">Derma Roller Cosmetic Needling Instrument Kit for Face & Body [By 9Oine Skincare], 600 Titanium Microneedles 0.30mm,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40GI11GF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40GI11GF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ssndf2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSQED5"><img src="https://m.media-amazon.com/images/I/7199FkHtiwL._SR400,400_.jpg" alt="Puretanica Mint Shampoo and Conditioner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSQED5">Puretanica Mint Shampoo and Conditioner Set - (2 x 16 Fl Oz) - Keratin and Silk Proteins Repair Dry Damaged Hair...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.96</span><span class="ori_price">$49.95</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">20MTV7F1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $49.95</strong> with promo code: <strong class="m_codes">20MTV7F1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JSQED5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O74cjV"><img src="https://m.media-amazon.com/images/I/614cbcinEAL._SR400,400_.jpg" alt="JINRI 1875W Professional Salon Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>561 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O74cjV">JINRI 1875W Professional Salon Hair Dryer Ionic Infrared Blow Hair Dryer With Diffuser & Concentrator Attachments...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$99.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">703I7TMI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $99.99</strong> with promo code: <strong class="m_codes">703I7TMI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O74cjV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="19.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SrmRVY"><img src="https://m.media-amazon.com/images/I/51WRrkWsTkL._SR400,400_.jpg" alt="Handheld Back Massager" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SrmRVY">Handheld Back Massager - MOICO Cordless Deep Tissue Percussion Massager with 6 Interchangeable Nodes,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.79</span><span class="ori_price">$32.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40OFFHBM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $32.99</strong> with promo code: <strong class="m_codes">40OFFHBM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SrmRVY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="6.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWyqdI"><img src="https://m.media-amazon.com/images/I/61f6trw7vtL._SR400,400_.jpg" alt="Lot-yeah Garlic Press and Vegetable Peeler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWyqdI">Lot-yeah Garlic Press and Vegetable Peeler Set - Stainless Steel Garlic Mincer Durable and Dishwasher Safe Garlic ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.74</span><span class="ori_price">$12.97</span></address>
      <textarea readonly="readonly" class="code_area">487K6UP2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>48% off at $12.97</strong> with promo code: <strong class="m_codes">487K6UP2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XWyqdI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xYQK6y"><img src="https://m.media-amazon.com/images/I/61DG4MaLlOL._SR400,400_.jpg" alt="Buyer Star 20-Pieces Flatware Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>82 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xYQK6y">Buyer Star 20-Pieces Flatware Set, Rainbow Silverware Stainless Steel Reusable Wedding Dinnerware Cutlery Set (rainbow)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">40AYE32Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $35.99</strong> with promo code: <strong class="m_codes">40AYE32Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xYQK6y">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="14.07">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSYW7T"><img src="https://m.media-amazon.com/images/I/61QEgu3N76L._SR400,400_.jpg" alt="Magicafé French Press Coffee Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>103 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSYW7T">Magicafé French Press Coffee Maker – Stainless Steel Coffee Maker Double Walled 34oz/1L Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.07</span><span class="ori_price">$25.59</span></address>
      <textarea readonly="readonly" class="code_area">453QWIQ9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $25.59</strong> with promo code: <strong class="m_codes">453QWIQ9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XSYW7T">Use Code at Amazon</a></div>
</div>
