<% @hotdeals.each do |hotdeal| %>
 <div class="card clearfix" data-score="<%= hotdeal.h_percentage %>" data-price="<%= hotdeal.h_price %>">
  <div class="image_box">
    <% if hotdeal.h_image.present? %>
     <!-- <a target="_blank" href="<%= hotdeal.h_link %>"><img src="<%= hotdeal.h_image %>" alt="<%= hotdeal.h_title %>" title="<%= hotdeal.h_spare_04 %>"/></a>
       -->
     <%= link_to image_tag(hotdeal.h_image), hotdeal %>
    <% else %>
     <%= link_to (image_tag hotdeal.himage.url(:small), alt: hotdeal.h_title, title: hotdeal.h_spare_03), hotdeal %>
    <% end %> 
    <% if can? :update, @hotdeals %>
       <div class="admin clearfix">
         <%= link_to 'Edit', edit_hotdeal_path(hotdeal) %> | 
         <%= link_to 'Destroy', hotdeal, method: :delete, data: { confirm: 'Are you sure?' } %>
       </div><!--/.amdin-->
     <% end %>
  </div>
  <div class="inner">
    <% if hotdeal.h_spare_92 && (hotdeal.h_spare_92 < Date.today) %>
      <% else %>
        <% if hotdeal.h_spare_92 && (hotdeal.h_spare_92 = Date.today) %>
          <div class="new_mark">New</div>
        <% end %>
      <% end %>
    <% if hotdeal.h_percentage.present? %>
      <span class="regular">
        <em><%= hotdeal.h_percentage %>% OFF</em>
        <% if hotdeal.h_spare_63.present? %>
        <% else %>
         + free shipping
        <% end %>
      </span>
    <% else %>
      <% running_total = 0 %>
      <% running_total =  (hotdeal.h_spare_43 - hotdeal.h_spare_44) / hotdeal.h_spare_43 * 100 %>
      <span class="regular">
        <em><%= number_to_percentage(running_total, precision: 0) %> OFF</em>
        <% if hotdeal.h_spare_63.present? %>
        <% else %>
          + free shipping
        <% end %>
      </span>
    <% end %>
    <% if hotdeal.h_spare_63.present? %>
     <span class="shipping_condition">Free Shipping: $25+ of eligible items, fulfilled by Amazon or <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a></span>
     <!-- <span class="shipping_condition"><a target="_blank" href="https://amzn.to/2uvHHM2">Take "Amazon Prime" to save Shipping and handling fee.</a><i></i></span> -->
    <% else %>
     
    <% end %>
    <!-- <p><a target="_blank" href="<%= hotdeal.h_link %>"><%= hotdeal.h_title %></a></p> -->

    <p>
      <%= link_to hotdeal.h_title, hotdeal %>
    </p>
    <div class="code_high">
     <address>
        <% if hotdeal.h_price.present? %>
         <span class="dis_price bestdeals">$<%= hotdeal.h_price %></span><span class="ori_price">$<%= hotdeal.h_list_price %></span>
        <% else %>
          <% if hotdeal.h_spare_41.present? %>
            <span class="dis_price bestdeals"><%= number_to_currency(hotdeal.h_spare_42) %></span><span class="ori_price"><%= number_to_currency(hotdeal.h_spare_41) %></span>
          <% else %>
            <span class="dis_price bestdeals"><%= number_to_currency(hotdeal.h_spare_44) %></span><span class="ori_price"><%= number_to_currency(hotdeal.h_spare_43) %></span>
            <span>
              <% if hotdeal.h_spare_02.present? %>
                <% if hotdeal.h_spare_02.present? %>
                  <em><%= hotdeal.h_spare_02 %></em>
                <% else %>
                  <!-- <em>-</em> -->
                <% end %>
              <% else %>
                <% if hotdeal.h_spare_61.present? %>
                  <% if hotdeal.h_spare_61.present? %>
                    <em class="pcou">+ <%= number_to_percentage(hotdeal.h_spare_61, precision: 0) %> Off Coupon</em>
                  <% else %>
                    <!-- <em>-</em> -->
                  <% end %>
                <% else %>
                  <% if hotdeal.h_spare_62.present? %>
                    <em class="pcou">+ <%= number_to_currency(hotdeal.h_spare_62) %> Off Coupon</em>
                  <% else %>
                    <!-- <em>-</em> -->
                  <% end %>
                <% end %>
              <% end %>
            </span>
          <% end %>
        <% end %>      
     </address>
     
     <div class="info_wrap clearfix">
      <div class="block clearfix">
        <div class="box">
          <p>You saved</p>
          <em>
            <% if hotdeal.h_spare_41.present? %>
            <% running_total = 0 %>
            <% running_total =  hotdeal.h_spare_41.to_i - hotdeal.h_spare_42.to_i %>
            <em class="save_money"><%= number_to_currency(running_total) %></em>
           <% else %>
            <% running_total = 0 %>
            <% running_total =  hotdeal.h_spare_43.to_i - hotdeal.h_spare_44.to_i %>
            <em class="save_money"><%= number_to_currency(running_total) %></em>
           <% end %>
         </em>
        </div>
        <div class="box">
          <p>Star Rating</p>
          <% if hotdeal.h_spare_08.present? %>
          <em>Avg. <%= hotdeal.h_spare_08 %></em>
          <% else %>
            <em>-</em>
          <% end %>
        </div>
        <div class="box">
          <p>Customer Ratings</p>
          <% if hotdeal.h_spare_09.present? %>
          <em><%= number_with_delimiter(hotdeal.h_spare_09) %>+</em>
          <% else %>
            <em>-</em>
          <% end %>
        </div>
        <!-- <div class="box">
          <p>Coupon</p>
          <% if hotdeal.h_spare_02.present? %>
            <% if hotdeal.h_spare_02.present? %>
              <em><%= hotdeal.h_spare_02 %></em>
            <% else %>
              <em>-</em>
            <% end %>
          <% else %>
            <% if hotdeal.h_spare_61.present? %>
              <% if hotdeal.h_spare_61.present? %>
                <em><%= number_to_percentage(hotdeal.h_spare_61, precision: 0) %></em>
              <% else %>
                <em>-</em>
              <% end %>
            <% else %>
              <% if hotdeal.h_spare_62.present? %>
                <em><%= number_to_currency(hotdeal.h_spare_62) %></em>
              <% else %>
                <em>-</em>
              <% end %>
            <% end %>
          <% end %>
        </div> -->
      </div>
     </div>

     <!-- <em>*Pricing may change and deals can expire fast.</em> -->
    </div><!--/.code_high-->
  </div><!--/.inner --> 
  <div class="deal_btn"><a target="_blank" href="<%= hotdeal.h_link %>">Shop Now on Amazon</a></div>
 </div>

 <% if hotdeal.h_spare_03.present? %>
   <div class="show_banner">
      <div class="banner_option"><%= hotdeal.h_spare_03 %></div>
      <div class="banner_img"><img src="<%=asset_path 'bargain.png' %>" alt="banner"></div>
   </div>
 <% end %>
<% end %>
