<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="40" data-price="32.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LxItih"><img src="https://m.media-amazon.com/images/I/61ABEpY2FCL._SR400,400_.jpg" alt="CHISANA Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LxItih">CHISANA Wireless Earbuds, Bluetooth Headphones 5.0 [2019 Version] for Stable Connection&Instant Pairing, True 3D Stereo in-Ear Headsets with Battery...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.99</span><span class="ori_price">$54.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $54.99</strong> with promo code: <strong>40FJOVEJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LxItih">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NoUwAP"><img src="https://m.media-amazon.com/images/I/71t1dlGbGYL._SR400,400_.jpg" alt="proWireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NoUwAP">proWireless Earbuds CHISANA C1L – Bluetooth Headphones Extreme Subwoofer Bass True Wireless Earbuds w/Dual Microphones | Bluetooth 5.0, IPX7 Waterproof,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>35% off at $39.99</strong> with promo code: <strong>35U2MH8S</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NoUwAP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RJ03Rj"><img src="https://m.media-amazon.com/images/I/71JnbCfDymL._SR400,400_.jpg" alt="Voova Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RJ03Rj">Voova Laptop Backpack Women Men with Handle for Travel Business, Waterproof Canvas Computer Rucksack Bookbag for College School Adult Teens,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>504ZMFBA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RJ03Rj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="14.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nn01jH"><img src="https://m.media-amazon.com/images/I/71QdzNp9drL._SR400,400_.jpg" alt="SEEHONOR Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>258 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nn01jH">SEEHONOR Laptop Backpack, Slim Business Computer Backpack with USB Charging Cable and Port, Water Resistant Anti-Theft Travel School Bags Fits Under 17 Inch Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.95</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>32% off at $21.99</strong> with promo code: <strong>322UT7VV</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nn01jH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lp1UK1"><img src="https://m.media-amazon.com/images/I/61ymUNonq7L._SR400,400_.jpg" alt="Earpanda Wireless TV Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lp1UK1">Earpanda Wireless TV Headphones for Seniors,TV Listening Headphones,TV Headphones for Hard of Hearing，Wireless Headphones Connects to Both Digital....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$79.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $79.99</strong> with promo code: <strong>50EARPANDA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 02:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lp1UK1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="4.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NmLmVA"><img src="https://m.media-amazon.com/images/I/61pSQm2A0AL._SR400,400_.jpg" alt="Moallia Phone Charger Cables" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>157 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NmLmVA">Moallia Phone Charger Cables, 2 Pack 6FT Extra Long Nylon Braided USB Fast Charging & Syncing Cord Compatible with Phone Xs MAX/XR/X/8 Plus/7 Plus/6 Plus/6</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.79</span><span class="ori_price">$7.99</span></address>
      <p><span>Take <strong>40% off at $7.99</strong> with promo code: <strong>405YTZY4</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NmLmVA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xjaCRH"><img src="https://m.media-amazon.com/images/I/61qYYfGUPWL._SR400,400_.jpg" alt="BESTEK TV Power Strip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>130 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xjaCRH">BESTEK TV Power Strip UL & ETL Listed, 6 Outlet 110V 15A Surge Protector Commercial Power Outlet Power Socket with 2.6-Foot Long Power Cord and Straight...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.93</span><span class="ori_price">$14.88</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $14.88</strong> with promo code: <strong>40R3PYBJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xjaCRH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LrM699"><img src="https://m.media-amazon.com/images/I/81d-mFDHMZL._SR400,400_.jpg" alt="Toiletry Bag Travel Bags" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>79 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LrM699">Toiletry Bag Travel Bags for Toiletries Hanging Bathroom Cosmetic Organizer for Women Men Waterproof </a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$19.98</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>35% off at $19.98</strong> with promo code: <strong>35DUOHRF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LrM699">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NmMbOa"><img src="https://m.media-amazon.com/images/I/61cGVrDGHIL._SR400,400_.jpg" alt="wsiiroon Car WiFi OBD 2" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>920 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NmMbOa">wsiiroon Car WiFi OBD 2, OBD2 Scan Tool, Car OBDII Scan Tool Auto Diagnostic Scanner Code Reader/Scan Tool Check Engine Light for iOS & Android (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>60% off at $17.99</strong> with promo code: <strong>609V14P5</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 07:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NmMbOa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="4.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LpdNzo"><img src="https://m.media-amazon.com/images/I/712QG-rtLwL._SR400,400_.jpg" alt="wsiiroon Trim Removal Tool Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>63 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LpdNzo">wsiiroon Trim Removal Tool Kit, 15pcs Car Panel Removal Tool Kit for Car Panel Door Dash Audio Removal Installer with Stainless Steel Repair Pry Bar</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.20</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>70% off at $13.99</strong> with promo code: <strong>70FMQJ7B</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 07:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LpdNzo">Use Code at Amazon</a></div>
</div>


<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XnPoBP"><img src="https://m.media-amazon.com/images/I/81dfc6MovIL._SR400,400_.jpg" alt="Giotto Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XnPoBP">Giotto 32oz/22oz Leakproof BPA Free Motivational Water Bottle with Time Marker & Straw to Ensure You Drink Enough Water Throughout The Day for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>30% off at $18.99</strong> with promo code: <strong>30P3LESN</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XnPoBP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="5.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XiddLf"><img src="https://m.media-amazon.com/images/I/61WmBTqUj-L._SR400,400_.jpg" alt="Vintage Polarized Sunglasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>27 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XiddLf">Vintage Polarized Sunglasses for Women UV400 Protection Lens Eyewear Stylish Outdoor Sun Glasses for Driving Fishing</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.10</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>70% off at $16.99</strong> with promo code: <strong>70HXJNW2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XiddLf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="15.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FESmGP"><img src="https://m.media-amazon.com/images/I/61rDnLs5UqL._SR400,400_.jpg" alt="Angel Purse Shoulder Bags" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FESmGP">Angel Barcelo Womens Fashion Handbags Purse Shoulder Bags Tote Bags Ladies Girls Designer Satchel Bags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.25</span><span class="ori_price">$33.88</span></address>
      <p><span>Take <strong>55% off at $33.88</strong> with promo code: <strong>55VKH36M</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FESmGP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="16.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xkH0mO"><img src="https://m.media-amazon.com/images/I/61qvsLHr9JL._SR400,400_.jpg" alt="Angel Barcelo Womens Fashion Handbags" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xkH0mO">Angel Barcelo Womens Fashion Handbags Top-Handle Shoulder Bags Leather Tote Bags Cross body Purse</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.65</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>55% off at $36.99</strong> with promo code: <strong>55TJGG4U</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xkH0mO">Use Code at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jd7JYe"><img src="https://m.media-amazon.com/images/I/51WwL8aAo3L._SR400,400_.jpg" alt="Running Sport Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jd7JYe">AGSDON Women’s Running Sport Sneakers, Comfort Breathable Walking Athletic Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>70MD974H</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jd7JYe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDu1eW"><img src="https://m.media-amazon.com/images/I/91Ao95uk6tL._SR400,400_.jpg" alt="Sports Gym Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>612 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDu1eW">Venture Pal 20" Packable Sports Gym Bag with Wet Pocket & Shoes Compartment Travel Duffel Bag for men and Women</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>30% off at $25.99</strong> with promo code: <strong>30F3AUHX</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XDu1eW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RMazqN"><img src="https://m.media-amazon.com/images/I/71Dj2STkX0L._SR400,400_.jpg" alt="UPTIME" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>101 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RMazqN">UPTIME – Premium Energy Drink, Blood Orange - Cane Sugar, 12oz Bottles, (Case of 24), Better for You, Natural Caffeine, Sparkling </a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.99</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>25% off at $59.99</strong> with promo code: <strong>25LAKERS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RMazqN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xroBop"><img src="https://m.media-amazon.com/images/I/81MxS35QUCL._SR400,400_.jpg" alt="SEEHONOR Insulated Cooler Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xroBop">SEEHONOR Insulated Cooler Backpack Leakproof Soft Cooler Bag Lightweight Backpack Cooler for Lunch Picnic Hiking Camping Beach Park Day Trips, 30 Cans</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $39.99</strong> with promo code: <strong>40MBSRNO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xroBop">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FJIGuK"><img src="https://m.media-amazon.com/images/I/61pGsJK4MzL._SR400,400_.jpg" alt="Premium 3 Inch High Pressure Shower Head" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FJIGuK">Premium 3 Inch High Pressure Shower Head -Best Pressure Boosting Fixed Showerhead, Adjustable Metal Swivel Ball Joint, Water Saving Rain Showerhead...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.59</span><span class="ori_price">$15.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $15.99</strong> with promo code: <strong>401GTWC3</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FJIGuK">Use Code at Amazon</a></div>
</div>
