<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_Link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->

<div class="card dealofday clearfix" data-score="37" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ko62Jr"><img src="https://images-na.ssl-images-amazon.com/images/I/91ZYupUDLoL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ko62Jr"><span>Amazon Deal Of The Day:</span> Save up to 37% off on Leather Bags & Purses For Women</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2GRQDP7">Leather Crossbody Purse for Women</a> - <span>26.39<em>36.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2YxZ8dd">Leather Laptop Messenger Bag for women</a> - <span>44.44<em>69.99</em></span></li>
            <li><a target="_blank" href="Product_link">Engraved Husband Son Gift Wallet</a> - <span>17.99<em>22.99</em></span></li>
            <li><a href="https://amzn.to/2Ko62Jr">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ko62Jr">Shop Now at Amazon</a></div>
</div>    

<div class="card clearfix" data-score="16" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TigncE"><img src="https://images-na.ssl-images-amazon.com/images/I/61oEU8lUE9L._SX425_.jpg" alt="COWIN E7 Active Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TigncE">COWIN E7 Active Noise Cancelling Headphones Bluetooth Headphones with Microphone Deep Bass Wireless Headphones Over Ear,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TigncE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="4.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ky8xYe"><img src="https://images-na.ssl-images-amazon.com/images/I/61bi75mvoiL._SX522_.jpg" alt="Tinkle Eyebrow Razor Pack of 6 " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ky8xYe">Tinkle Eyebrow Razor Pack of 6 </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.80</span><span class="ori_price">$13.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ky8xYe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="14.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31m31yL"><img src="https://images-na.ssl-images-amazon.com/images/I/517cJC1ys7L._SX425_.jpg" alt="Lodge Cast Iron Skillet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31m31yL">Lodge Cast Iron Skillet, Pre-Seasoned and Ready for Stove Top or Oven Use, 10.25", Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.88</span><span class="ori_price">$26.68</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31m31yL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GRvJQq"><img src="https://images-na.ssl-images-amazon.com/images/I/71pwPPepOkL._SX522_.jpg" alt="White Noise Sound Machine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GRvJQq">White Noise Sound Machine | Portable Sleep Therapy for Home , Office , Baby & Travel | 6 Relaxing & Soothing Nature Sounds ,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GRvJQq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KkgOQz"><img src="https://images-na.ssl-images-amazon.com/images/I/911uOKKfxoL._SX522_.jpg" alt="Bissell Featherweight Stick" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KkgOQz">Bissell Featherweight Stick Lightweight Bagless Vacuum, 2033, One Size Fits All All, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KkgOQz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31t92K9"><img src="https://images-na.ssl-images-amazon.com/images/I/71TOK27XgyL._SX679_.jpg" alt="Anker Soundcore Liberty Neo" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31t92K9">Anker Soundcore Liberty Neo, Bluetooth Earbuds, Graphene Drivers, Pumping Bass, Secure Fit, Bluetooth 5.0 Headphones, Stereo Calls,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31t92K9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YNv2xt"><img src="https://images-na.ssl-images-amazon.com/images/I/81thvabU-GL._SX425_.jpg" alt="Fosmon Travel Pillow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YNv2xt">Fosmon Travel Pillow, Soft and Comfortable Memory Foam Travel Neck Pillow,Head and Chin Support Neck Cushion,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.89</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YNv2xt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="9.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YtwWrW"><img src="https://images-na.ssl-images-amazon.com/images/I/711mSdkqTkL._SY741_.jpg" alt="First Alert Smoke Detector Alarm" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YtwWrW">First Alert Smoke Detector Alarm | Hardwired with Backup Battery, BRK9120b6CP</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.84</span><span class="ori_price">$23.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YtwWrW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="75.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YNJ8Pm"><img src="https://images-na.ssl-images-amazon.com/images/I/71jJKcgN5gL._SY679_.jpg" alt="Philips Wake-Up Light Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YNJ8Pm">Philips Wake-Up Light Alarm Clock with Colored Sunrise Simulation and Sunset Fading Night Light, White (HF3520) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$75.00</span><span class="ori_price">$139.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YNJ8Pm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yJohlW"><img src="https://images-na.ssl-images-amazon.com/images/I/51Ll9V%2BATgL._SX522_.jpg" alt="Waterpik Water Flosser Electric Dental" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yJohlW">Waterpik Water Flosser Electric Dental Countertop Oral Irrigator For Teeth – Aquarius Professional, WP-660 White </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$89.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yJohlW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yKGXS2"><img src="https://images-na.ssl-images-amazon.com/images/I/51qrlR0StnL._SX522_.jpg" alt="Vanicream Moisturizing Skin Cream" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yKGXS2">Vanicream Moisturizing Skin Cream | For Sensitive Skin | Soothes Red, Irritated, Cracked or Itchy Skin | Dermatologist Tested...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.19</span><span class="ori_price">$16.43</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yKGXS2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="10.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kl5N1J"><img src="https://images-na.ssl-images-amazon.com/images/I/71k7KJoIrNL._SX522_.jpg" alt="American Crew Fiber" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kl5N1J">American Crew Fiber, 3 Oz </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.16</span><span class="ori_price">$15.94</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kl5N1J">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="49.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31t9gRv"><img src="https://images-na.ssl-images-amazon.com/images/I/815qi0FmN7L._SX679_.jpg" alt="NutriBullet NBR-1201 12-Piece High-Speed Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31t9gRv">NutriBullet NBR-1201 12-Piece High-Speed Blender/Mixer System, Gray (600 Watts)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.88</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31t9gRv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="13.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31prCmq"><img src="https://images-na.ssl-images-amazon.com/images/I/81SjHevGhbL._SX522_.jpg" alt="Epica Strongest Mildew Resistant Shower" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31prCmq">Epica Strongest Mildew Resistant Shower Curtain Liner on the Market-100% Anti-Bacterial 10 Gauge Heavy Duty Liner-Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.95</span><span class="ori_price">$34.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31prCmq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="24.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H5A5DF"><img src="https://images-na.ssl-images-amazon.com/images/I/71du7tG-e9L._SX679_.jpg" alt="The Original Bialetti Moka Express" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H5A5DF">The Original Bialetti Moka Express - 3 Cup Stovetop Coffee Maker with Safety Valve – brews 4.4 ounces</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.89</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H5A5DF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YJrbBy"><img src="https://images-na.ssl-images-amazon.com/images/I/81qdOn%2B31VL._SX425_.jpg" alt="Brother P-touch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YJrbBy">Brother P-touch, PTD210, Easy-to-Use Label Maker, One-Touch Keys, Multiple Font Styles, 27 User-Friendly Templates, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YJrbBy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="50.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMFjy8"><img src="https://images-na.ssl-images-amazon.com/images/I/51mgdR60lGL._SX425_.jpg" alt="Yaheetech 51" Cat Tree Tower " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMFjy8">Yaheetech 51" Cat Tree Tower Condo Furniture Scratch Post for Kittens Pet House Play</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$50.99</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YMFjy8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="7.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KiUMha"><img src="https://images-na.ssl-images-amazon.com/images/I/51bCdB6s0nL._AC_US218_.jpg" alt="Babo Botanicals SPF 40 Daily Sheer Facial Sunscreen" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KiUMha">Babo Botanicals SPF 40 Daily Sheer Facial Sunscreen, Unscented, 1.7oz, Best Natural Mineral Sunscreen, Non-Nano, Sensitive </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.97</span><span class="ori_price">$14.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KiUMha">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="358.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KitveN"><img src="https://images-na.ssl-images-amazon.com/images/I/61MdIZwKpBL._SX425_.jpg" alt="MEGAWHEELS S5 Electric Scooter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KitveN">MEGAWHEELS S5 Electric Scooter, 13 Miles Long Range Battery, Up to 15.5 MPH, 8.5" Pneumatic Tires, Portable and Folding Commuter...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$358.99</span><span class="ori_price">$499.90</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KitveN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GRGqlT"><img src="https://images-na.ssl-images-amazon.com/images/I/71BOzME7WFL._SX425_.jpg" alt="Vanaheim 3-in-1 Purifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GRGqlT">Vanaheim 3-in-1 Purifier with True HEPA Filter, Removes Odor Allergies, Eliminator for Smoke, Dust, Mold, Germs, and Pet Dander,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$89.97</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GRGqlT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="20.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YK42is"><img src="https://images-na.ssl-images-amazon.com/images/I/51spwvGkCfL._SX425_.jpg" alt="Secura Automatic Foaming Soap Dispenser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YK42is">Secura Automatic Foaming Soap Dispenser 14oz/400ml Infrared Motion Sensor Premium Touchless Battery Operated Electric...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.37</span><span class="ori_price">$38.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YK42is">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="7.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YR9Uq0"><img src="https://images-na.ssl-images-amazon.com/images/I/31LM2CBXmfL._SX425_.jpg" alt="Slice 10513 Pen Cutter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YR9Uq0">Slice 10513 Pen Cutter, 3 Position Manual Blade, Cuts Packages, Cardboard Box, Stays Sharp up to 11x Longer Than Steel Blades</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.27</span><span class="ori_price">$12.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YR9Uq0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GSYyM4"><img src="https://images-na.ssl-images-amazon.com/images/I/712dA%2BfZSiL._SX522_.jpg" alt="Linenspa All-Season Down Alternative Quilted Comforter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GSYyM4">Linenspa All-Season Down Alternative Quilted Comforter - Hypoallergenic - Plush Microfiber Fill - Machine Washable - Duvet Insert...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GSYyM4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMX24p"><img src="https://images-na.ssl-images-amazon.com/images/I/519kvOsIM6L._SX522_.jpg" alt="GORILLA GRIP Original Spa Bath Pillow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMX24p">GORILLA GRIP Original Spa Bath Pillow Features Powerful Gripping Technology, Comfortable, Soft & Large (14.5" x 11") Luxury 2-Panel Design for...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YMX24p">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33ceG53"><img src="https://images-na.ssl-images-amazon.com/images/I/41vL5J0sZ5L._SX425_.jpg" alt="Bergan Pet Waterer Automatic" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33ceG53">Bergan Pet Waterer Automatic</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.59</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33ceG53">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="18.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GOZtgA"><img src="https://images-na.ssl-images-amazon.com/images/I/61G3y9BXX5L._SX425_.jpg" alt="Evercare Pet Mega Cleaning Floor Roller" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GOZtgA">Evercare Pet Mega Cleaning Floor Roller</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.48</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GOZtgA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GSMzhP"><img src="https://images-na.ssl-images-amazon.com/images/I/41DAXiI7BFL._SX425_.jpg" alt="ChuckIt! Tri-Bumper" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GSMzhP">ChuckIt! Tri-Bumper</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$17.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GSMzhP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="55.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KlbyfR"><img src="https://images-na.ssl-images-amazon.com/images/I/51mrSGSfWtL._SX425_.jpg" alt="Go Pet Club Pet Dog Grooming Table with Arm" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KlbyfR">Go Pet Club Pet Dog Grooming Table with Arm</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.76</span><span class="ori_price">$89.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KlbyfR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="19" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YQ67JI"><img src="https://images-na.ssl-images-amazon.com/images/I/71kHSas3TxL._SX425_.jpg" alt="Folding Plastic Pet Stairs Durable Indoor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YQ67JI">Folding Plastic Pet Stairs Durable Indoor or Outdoor 4 Step Design With Built</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$37.04</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YQ67JI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLBNzP"><img src="https://images-na.ssl-images-amazon.com/images/I/81D-lF6D1yL._SX425_.jpg" alt="Carlson Freestanding Pet Gate, Large" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLBNzP">Carlson Freestanding Pet Gate, Large</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$136.69</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YLBNzP">Shop Now at Amazon</a></div>
</div>

