<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->

<div class="card clearfix" data-score="29" data-price="199.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KLjTIE"><img src="https://images-na.ssl-images-amazon.com/images/I/519C-V7bGsL._SX569_.jpg" alt="Apple Watch Series 3" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KLjTIE">Apple Watch Series 3 (GPS, 38mm) - Space Gray Aluminium Case with Black Sport Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.00</span><span class="ori_price">$279.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KLjTIE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31vApDk"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZtnrSOPTL._SX522_.jpg" alt="Bushnell Falcon Binoculars" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31vApDk"><span>Amazon Deal Of The Day:</span> Bushnell Falcon 133410 Binoculars with Case (Black, 7x35 mm)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$38.68</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31vApDk">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="75" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z56EYq"><img src="https://images-na.ssl-images-amazon.com/images/I/91D-xKKtJfL._SX425_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z56EYq"><span>Amazon Deal Of The Day:</span> Save Up to 75% off on College Dorm Fashion Bedding Collection</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2Z4Ulv8">Intelligent Design Loretta Ultra Soft Brushed... </a> - <span>41.91<em>89.59</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2YZUWOB">Madison Park Saben Sheet Set</a> - <span>81.74<em>328.37</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2YKXBAx">Urban Habitat Brooklyn 5 Pieces Cotton Tufted... </a> - <span>86.99<em>195.99</em></span></li>
            <li><a href="https://amzn.to/2Z56EYq">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z56EYq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="64.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TsVnje"><img src="https://images-na.ssl-images-amazon.com/images/I/71VrOmi5rEL._SX569_.jpg" alt="Beats EP On-Ear Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TsVnje">Beats EP On-Ear Headphones - White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.95</span><span class="ori_price">$129.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TsVnje">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="89.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31BrIr5"><img src="https://images-na.ssl-images-amazon.com/images/I/61j9hP6MMbL._SX569_.jpg" alt="Powerbeats3 Wireless Earphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31BrIr5">Powerbeats3 Wireless Earphones - Neighborhood Collection - Brick Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.95</span><span class="ori_price">$199.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31BrIr5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yYRDgg"><img src="https://images-na.ssl-images-amazon.com/images/I/81-P2nggl0L._SX522_.jpg" alt="Logitech G533 Wireless Gaming Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yYRDgg">Logitech G533 Wireless Gaming Headset – DTS 7.1 Surround Sound – Pro-G Audio Drivers</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yYRDgg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31EfQok"><img src="https://images-na.ssl-images-amazon.com/images/I/614nCEJWqyL._SX522_.jpg" alt="Philips Norelco Electric Shaver" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31EfQok">Philips Norelco Electric Shaver 8900 with SmartClean, Wet & Dry Edition S8950/90</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.99</span><span class="ori_price">$186.51</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31EfQok">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="14.36">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YZGTJ3"><img src="https://images-na.ssl-images-amazon.com/images/I/612%2Bddkug6L._SX679_.jpg" alt="Cuisinart DCG-20BKN Coffee Bar Coffee Grinder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YZGTJ3">Cuisinart DCG-20BKN Coffee Bar Coffee Grinder, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.36</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YZGTJ3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="18.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6n1no"><img src="https://images-na.ssl-images-amazon.com/images/I/81SOJzUUFkL._SX679_.jpg" alt="Farberware 50124 Classic Stainless Steel Yosemite ..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6n1no">Farberware 50124 Classic Stainless Steel Yosemite 8-Cup Coffee Stovetop Percolator,</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.74</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z6n1no">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33CiFrV"><img src="https://images-na.ssl-images-amazon.com/images/I/71h6VLmHB9L._SY679_.jpg" alt="Andis 1600-Watt MicroTurbo Dual Voltage Hair Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33CiFrV">Andis 1600-Watt MicroTurbo Dual Voltage Hair Dryer, White (33805) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.89</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33CiFrV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KyXRtu"><img src="https://images-na.ssl-images-amazon.com/images/I/6166GBkAH3L._SX522_.jpg" alt="PROGRACE Kids Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KyXRtu">PROGRACE Kids Camera Children Digital Cameras for Girls Birthday Toy Gifts 4-12 Year Old Kid Action Camera Toddler...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KyXRtu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="34.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31AOSxM"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2BM7xR4wGL._SX425_.jpg" alt="Action Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31AOSxM">Action Camera Davola 1080P WiFi Sports Camera 12MP Underwater Waterproof Camera with Wide-Angle Lens and ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.96</span><span class="ori_price">$43.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31AOSxM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="34.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31vE4RA"><img src="https://images-na.ssl-images-amazon.com/images/I/81Gepr-sTpL._SX425_.jpg" alt="Logitech G600 MMO Gaming Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Logitech G600 MMO Gaming Mouse, RGB Backlit, 20 Programmable Buttons</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.48</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31G8Ffs"><img src="https://images-na.ssl-images-amazon.com/images/I/71Psaiq4n8L._SX522_.jpg" alt="Schick Hydro Silk Sensitive Care Hang..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31G8Ffs">Schick Hydro Silk Sensitive Care Hang-In Shower Razor Blade Refills for Women, 6 Count</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.29</span><span class="ori_price">$33.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31G8Ffs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="17.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYcQ4k"><img src="https://images-na.ssl-images-amazon.com/images/I/51AKu7MpfmL._SX522_.jpg" alt="Ps By Paul Sebastian For Men. Aftershave 4.0 Oz. " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYcQ4k">Ps By Paul Sebastian For Men. Aftershave 4.0 Oz. </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.29</span><span class="ori_price">$42.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YYcQ4k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="6.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z2zLLR"><img src="https://images-na.ssl-images-amazon.com/images/I/61GP43FAoFL._SY679_.jpg" alt="Cliganic USDA Organic Peppermint Essential Oil" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z2zLLR">Cliganic USDA Organic Peppermint Essential Oil, 100% Pure Natural Undiluted, Therapeutic Grade for Aromatherapy...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.95</span><span class="ori_price">$12.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z2zLLR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="179.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YZIy1f"><img src="https://images-na.ssl-images-amazon.com/images/I/71OZ6W677ML._SX522_.jpg" alt="XTERRA Fitness ERG200 Folding Magnetic Resistance Rower" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YZIy1f">XTERRA Fitness ERG200 Folding Magnetic Resistance Rower</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.00</span><span class="ori_price">$399.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YZIy1f">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yUXxip"><img src="https://images-na.ssl-images-amazon.com/images/I/61jvcr2I8wL._SX522_.jpg" alt="Marshall Major III Bluetooth Wireless.." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yUXxip">Marshall Major III Bluetooth Wireless On-Ear Headphone, Brown - New</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$144.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yUXxip">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31C47qg"><img src="https://images-na.ssl-images-amazon.com/images/I/51Bjp85I6QL._SX522_.jpg" alt="Belkin WaveRest Gel Wrist Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31C47qg">Belkin WaveRest Gel Wrist Pad for Keyboards, Black (F8E263-BLK)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.00</span><span class="ori_price">$16.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31C47qg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z0INsD"><img src="https://images-na.ssl-images-amazon.com/images/I/31%2Bv66YikrL.jpg" alt="MOTOROLA AC2600 4x4 WiFi Smart Gigabit Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z0INsD">MOTOROLA AC2600 4x4 WiFi Smart Gigabit Router with Extended Range, Model MR2600</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z0INsD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="40.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H7UoA9"><img src="https://images-na.ssl-images-amazon.com/images/I/91hC5kjZ0oL._UX679_.jpg" alt="J World New York Sundance LAPTOP Rolling Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H7UoA9">J World New York Sundance LAPTOP Rolling Backpack for Schooling & Travel, 20 inch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.37</span><span class="ori_price">$95.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H7UoA9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31GUTsX"><img src="https://images-na.ssl-images-amazon.com/images/I/61fRl8Dho1L._SX679_.jpg" alt="Plantronics BackBeat FIT 2100 Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31GUTsX">Plantronics BackBeat FIT 2100 Wireless Headphones, Sweatproof and Waterproof in Ear Workout Headphones, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31GUTsX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="62.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H6Agyn"><img src="https://images-na.ssl-images-amazon.com/images/I/91JTr9FImOL._UY741_.jpg" alt="GUESS Men's Rigor Iconic Blue Stain Resistant Silicone Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H6Agyn">GUESS Men's Rigor Iconic Blue Stain Resistant Silicone Watch with Rose Gold-Tone Day + Date (Model: U0247G3)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$62.99</span><span class="ori_price">$150.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H6Agyn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="51.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31CTIdM"><img src="https://images-na.ssl-images-amazon.com/images/I/718WMixOKPL._SX679_.jpg" alt="Garmin vivofit 3" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31CTIdM">Garmin vivofit 3, Activity Tracker with 1+ Year Battery Life, Sleep Monitoring and Auto Activity Detection, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$51.90</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31CTIdM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H8C0Hw"><img src="https://images-na.ssl-images-amazon.com/images/I/91Fsqq13qzL._SX522_.jpg" alt="Travelon Anti-Theft Classic Mini Shoulder Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H8C0Hw">Travelon Anti-Theft Classic Mini Shoulder Bag, Black, One Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.89</span><span class="ori_price">$50.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H8C0Hw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="29.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z1sPPb"><img src="https://images-na.ssl-images-amazon.com/images/I/81zdTMpOaaL._SX425_.jpg" alt="Rockland Luggage Rolling 22 Inch Duffle Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z1sPPb">Rockland Luggage Rolling 22 Inch Duffle Bag, Black, One Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.95</span><span class="ori_price">$69.00</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z1sPPb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="17.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KIZZOt"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZH6VTIT2L._UX679_.jpg" alt="Champion Men's Prime Waist Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KIZZOt">Champion Men's Prime Waist Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.05</span><span class="ori_price">$32.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KIZZOt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="25.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z4ZFi6"><img src="https://images-na.ssl-images-amazon.com/images/I/71eUEdUO9CL._SX425_.jpg" alt="Kidde 900-0076-01 KN-COPP-3 Nighthawk Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z4ZFi6">Kidde 900-0076-01 KN-COPP-3 Nighthawk Plug in Carbon Monoxide Detector Alarm</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.74</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z4ZFi6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H6a6M1"><img src="https://images-na.ssl-images-amazon.com/images/I/3116t87lL8L.jpg" alt="Chamberlain Group Clicker..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H6a6M1">Chamberlain Group Clicker Universal Keyless Entry KLIK2U-P2, Works with Chamberlain, LiftMaster, Craftsman,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.98</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H6a6M1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YPhRRB"><img src="https://images-na.ssl-images-amazon.com/images/I/61eKCHptwdL._SX522_.jpg" alt="SentrySafe 1200 Fireproof Box" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YPhRRB">SentrySafe 1200 Fireproof Box with with Key Lock, 0.18 Cubic Feet</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.97</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YPhRRB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="11.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TuSJJU"><img src="https://images-na.ssl-images-amazon.com/images/I/716DIwlgZSL._SX679_.jpg" alt="Camco 50' 22793 TastePURE Freshwater Hose" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TuSJJU">Camco 50' 22793 TastePURE Freshwater Hose-5/8 x 50'</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.95</span><span class="ori_price">$33.35</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TuSJJU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z7q27f"><img src="https://images-na.ssl-images-amazon.com/images/I/71qF5kX8COL._SX679_.jpg" alt="Duck HD Clear Heavy Duty Packing Tape Refill" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z7q27f">Duck HD Clear Heavy Duty Packing Tape Refill, 6 Rolls, 1.88 Inch x 54.6 Yard, (441962)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$22.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z7q27f">Shop Now at Amazon</a></div>
</div>

