<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->


<div class="card dealofday clearfix" data-score="34" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KBiXXb"><img src="https://images-na.ssl-images-amazon.com/images/I/71NjG+RJjCL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KBiXXb"><span>Amazon Deal Of The Day:</span> Save up to 34% on Home Storage Series</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/31rKMYI">VASAGLE Industrial Nightstand, Stackable End Table</a> - <span>33.94<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2YWKHKZ">SONGMICS 43 Inches Folding Storage Ottoman Bench</a> - <span>32.99<em>49.69</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2KCrB7V">SONGMICS 50 Pack Plastic Hangers Space Saving Clothes Hangers</a> - <span>23.99<em>29.99</em></span></li>
            <li><a href="https://amzn.to/2KBiXXb">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KBiXXb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="144.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33q1sl6"><img src="https://images-na.ssl-images-amazon.com/images/I/71Dvmc3mFDL._SX522_.jpg" alt="SPORTSSTUFF SUPER MABLE" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33q1sl6"><span>Amazon Deal Of The Day:</span><br />SPORTSSTUFF SUPER MABLE</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$144.99</span><span class="ori_price">$213.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33q1sl6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31weXOE"><img src="https://images-na.ssl-images-amazon.com/images/I/51ut5USogRL._SX522_.jpg" alt="Crosstour Dash Cam 1080P FHD DVR Car Dashboard Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31weXOE">Crosstour Dash Cam 1080P FHD DVR Car Dashboard Camera Video Recorder for Cars 170° Wide Angle WDR with 2 inch LCD, Night Vision,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$169.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31weXOE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzoxDc"><img src="https://images-na.ssl-images-amazon.com/images/I/61qw8t6KhqL._SX425_.jpg" alt="Bluetooth 5.0 Deep Bass True Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzoxDc">Bluetooth 5.0 Deep Bass True Wireless Earbuds Built-in Microphone, Tranya T3 Sports Wireless Headphones, 6-8 Hours Continuous Playtime,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$69.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YzoxDc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KpX2mK"><img src="https://images-na.ssl-images-amazon.com/images/I/61zMyzhd6WL._SX679_.jpg" alt="CORSAIR K70 RGB MK.2 Low Profile Mechanical Gaming Keyboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KpX2mK">CORSAIR K70 RGB MK.2 Low Profile Mechanical Gaming Keyboard - USB Passthrough & Media Controls - Linear & Quiet...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.99</span><span class="ori_price">$169.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KpX2mK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33rnZOH"><img src="https://images-na.ssl-images-amazon.com/images/I/81Watt2w%2BqL._SX425_.jpg" alt="AeroGarden Harvest 360 - Black" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33rnZOH">AeroGarden Harvest 360 - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.99</span><span class="ori_price">$149.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33rnZOH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="54.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33rQIms"><img src="https://images-na.ssl-images-amazon.com/images/I/51WSByLdjOL._SX679_.jpg" alt="Wilton Chocolate Pro Chocolate Fountain" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33rQIms">Wilton Chocolate Pro Chocolate Fountain - Chocolate Fondue Fountain, 4 lb. Capacity</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.99</span><span class="ori_price">$109.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33rQIms">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.03">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31sy1Nv"><img src="https://images-na.ssl-images-amazon.com/images/I/71pfGGWEamL._SX522_.jpg" alt="Solid Gold SeaMeal Kelp-Based Supplement" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31sy1Nv">Solid Gold SeaMeal Kelp-Based Supplement for Skin & Coat, Digestive & Immune Health in Dogs & Cats; Natural, Holistic Grain-Free Supplement</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.03</span><span class="ori_price">$23.79</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31sy1Nv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="5.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TmnBMG"><img src="https://images-na.ssl-images-amazon.com/images/I/51vjHR4X6pL.jpg" alt="Ketone Strips" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TmnBMG">Ketone Strips - Perfect Ketogenic Supplement to Measure Ketones in Urine & Monitor Ketosis for Keto Diet, 125 Urinalysis Test Strips </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.05</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TmnBMG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H0AMhh"><img src="https://images-na.ssl-images-amazon.com/images/I/71ng2NcpCaL._SX425_.jpg" alt="Record Player Portable Wirelessl LP Belt-Drive 3-Speed Turntable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H0AMhh">Record Player Portable Wirelessl LP Belt-Drive 3-Speed Turntable with Built in Stereo Speakers, Vintage Style Vinyl Record Player...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.99</span><span class="ori_price">$149.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H0AMhh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="7.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzyCA6"><img src="https://images-na.ssl-images-amazon.com/images/I/61j-Rj8cW7L._AC_SR300,300_.jpg" alt="Car Phone Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzyCA6">Car Phone Mount - RYYMX Cell Phone Holder for Car : Air Vent Car Phone Holder with Double Clips, Compatible iPhone Xs Max XR X...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.64</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YzyCA6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="5.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YKtOrT"><img src="https://m.media-amazon.com/images/I/71b7YJ2uANL._AC_UY218_QL90_.jpg" alt="JETech Screen Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YKtOrT">JETech Screen Protector for Apple iPhone Xs and iPhone X, Tempered Glass Film, 2-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.95</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YKtOrT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="45.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYOk2W"><img src="https://images-na.ssl-images-amazon.com/images/I/51YuptOEJZL._SX425_.jpg" alt="ecobee Switch+ Smart Light Switch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYOk2W">ecobee Switch+ Smart Light Switch, Amazon Alexa Built-in</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.28</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YYOk2W">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="76" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YXvqJI"><img src="https://images-na.ssl-images-amazon.com/images/I/71zxttp6QTL._SX522_.jpg" alt="Circle with Disney" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>76% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YXvqJI">Circle with Disney (1st Gen) - In-Home Parental Controls for Wi-Fi Connected Devices</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.00</span><span class="ori_price">$99.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YXvqJI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31t3vTN"><img src="https://images-na.ssl-images-amazon.com/images/I/61JMRTTiW2L._SX679_.jpg" alt="APEMAN C420 Dash Cam 1080P Full HD Mini Dash Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31t3vTN">APEMAN C420 Dash Cam 1080P Full HD Mini Dash Camera for Cars with Super Night Vision, 170° Wide Angle, Motion Detection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31t3vTN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="12.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31EI5mX"><img src="https://images-na.ssl-images-amazon.com/images/I/61gKy1W-MsL._SX522_.jpg" alt="Aquapro Chiropractic Pillow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31EI5mX">Aquapro Chiropractic Pillow - Neck and Shoulder Relaxer Cervical Pillow Neck Traction Device for Pain Relief Management and Cervical Spine Alignment</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.69</span><span class="ori_price">$20.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31EI5mX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YWOyre"><img src="https://images-na.ssl-images-amazon.com/images/I/61HR4I3eXZL._SY879_.jpg" alt="CamelBak Eddy+ Water Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YWOyre">CamelBak Eddy+ Water Bottle with Straw, BPA-Free</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.00</span><span class="ori_price">$15.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YWOyre">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KowgLA"><img src="https://images-na.ssl-images-amazon.com/images/I/81zzDnLOXmL._SX425_.jpg" alt="Coleman Portable Camping Quad Chair" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KowgLA">Coleman Portable Camping Quad Chair with 4-Can Cooler</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KowgLA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBtonr"><img src="https://images-na.ssl-images-amazon.com/images/I/812XaHTx24L._SX425_.jpg" alt="Sawyer Products Mini Water Filtration System" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBtonr">Sawyer Products Mini Water Filtration System</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.95</span><span class="ori_price">$24.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YBtonr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="16.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GZEGXG"><img src="https://images-na.ssl-images-amazon.com/images/I/81J30NUyXaL._SX522_.jpg" alt="Mueller 255 Lumbar Support Back Brace" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GZEGXG">Mueller 255 Lumbar Support Back Brace with Removable Pad, Black, Regular(Package May Vary) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.39</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GZEGXG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KCfxTX"><img src="https://images-na.ssl-images-amazon.com/images/I/71Ze6Rb0neL._SX425_.jpg" alt="SKLZ Pro Mini Micro Basketball Hoop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KCfxTX">SKLZ Pro Mini Micro Basketball Hoop with Foam Ball (15 x 10 inches)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KCfxTX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KsS3C6"><img src="https://images-na.ssl-images-amazon.com/images/I/81a-zx3t8eL._SX425_.jpg" alt="BV Bicycle Light Set Super Bright 5 LED Headlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KsS3C6">BV Bicycle Light Set Super Bright 5 LED Headlight, 3 LED Taillight, Quick-Release</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$20.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KsS3C6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="65.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TkFqLU"><img src="https://images-na.ssl-images-amazon.com/images/I/31lUUicNGlL.jpg" alt="Broan-NuTone 403004 ADA Capable Under-Cabinet Range Hood" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TkFqLU">Broan-NuTone 403004 ADA Capable Under-Cabinet Range Hood, 30-Inch, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$65.39</span><span class="ori_price">$112.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TkFqLU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TiGIao"><img src="https://images-na.ssl-images-amazon.com/images/I/910uC8oskAL._SX522_.jpg" alt="NIVEA Men Dapper Duffel Gift Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TiGIao">NIVEA Men Dapper Duffel Gift Set - 5 Piece Collection Of On-The-Go Grooming Needs with Travel Bag Included </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.50</span><span class="ori_price">$25.00</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TiGIao">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="4.53">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YVep2X"><img src="https://images-na.ssl-images-amazon.com/images/I/81Yw6-rJJ0L._SX425_.jpg" alt="DampRid FG60FS Moisture Absorber" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KsFhDv">DampRid FG60FS Moisture Absorber, Fresh Scent, 10.5-Ounce, 2-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.53</span><span class="ori_price">$14.16</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KsFhDv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MRmZNS"><img src="https://images-na.ssl-images-amazon.com/images/I/81VSLxV7SlL._SX679_.jpg" alt="Rubbermaid LunchBlox Sandwich Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MRmZNS">Rubbermaid LunchBlox Sandwich Kit, Green 1806231</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$16.29</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MRmZNS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="72.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KCv1rh"><img src="https://images-na.ssl-images-amazon.com/images/I/81ugZ2peAgL._SY879_.jpg" alt="Cuisinart DCC-3200 14-Cup Glass Carafe" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KCv1rh">Cuisinart DCC-3200 14-Cup Glass Carafe with Stainless Steel Handle Programmable Coffeemaker, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$72.64</span><span class="ori_price">$185.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KCv1rh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="30.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YExVFu"><img src="https://images-na.ssl-images-amazon.com/images/I/61qvenkP4gL._SX522_.jpg" alt="Dr. Brown's Deluxe Baby Bottle Warmer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YExVFu">Dr. Brown's Deluxe Baby Bottle Warmer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.30</span><span class="ori_price">$44.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YExVFu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="19.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KDFDWJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71FREFtEQ7L._SX522_.jpg" alt="Brita Tap Water Filter System  " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KDFDWJ">Brita Tap Water Filter System, Water Faucet Filtration System with Filter Change Reminder, Reduces Lead, BPA Free, Fits Standard Faucets Only...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.87</span><span class="ori_price">$44.56</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KDFDWJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33pr01T"><img src="https://images-na.ssl-images-amazon.com/images/I/91s77i%2BQuaL._SX679_.jpg" alt="Lodge LMS3 Miniature Skillet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33pr01T">Lodge LMS3 Miniature Skillet, 3.5", Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.99</span><span class="ori_price">$13.52</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33pr01T">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="28.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YFLaWI"><img src="https://images-na.ssl-images-amazon.com/images/I/91MH9PC4J-L._SX425_.jpg" alt="Honey-Can-Do BTH-05281 4-Tier Metal Bathroom Shelf" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YFLaWI">Honey-Can-Do BTH-05281 4-Tier Metal Bathroom Shelf Space Saver, 24.02 x 11.02 x 67.72, Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.98</span><span class="ori_price">$61.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YFLaWI">Shop Now at Amazon</a></div>
</div>