<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="25" data-price="74.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JsAGR8"><img src="https://m.media-amazon.com/images/I/81++H68FAiL._SR400,400_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>141 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JsAGR8">Pratt Standard Cocktail Company Old Fashioned Authentic Tonic Syrup for Cocktails, 16oz, Pack of 6 </a></p>
    <div class="code_high">
      <address><span class="dis_price">$74.25</span><span class="ori_price">$99.00</span></address>
      <p><span>Take <strong>25% off at $99.00</strong> with promo code: <strong>25DRINKS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JsAGR8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32qX2Kz"><img src="https://m.media-amazon.com/images/I/51WwL8aAo3L._SR400,400_.jpg" alt="AGSDON Women’s Running Sport Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32qX2Kz">AGSDON Women’s Running Sport Sneakers, Comfort Breathable Walking Athletic Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>70NEM7NQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32qX2Kz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="26.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30vlpVy"><img src="https://m.media-amazon.com/images/I/61TL5n7SfTL._SR400,400_.jpg" alt="Brondell Bidet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,553 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30vlpVy">Brondell Bidet – Thinline Dual Nozzle SimpleSpa SS-250 | Fresh Water Spray |Non-Electric | Bidet Toilet Attachment in White...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.39</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>20% off at $32.99</strong> with promo code: <strong>20SSBRAD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 12:01 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30vlpVy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30t5yXn"><img src="https://m.media-amazon.com/images/I/81oDjcexOtL._SR400,400_.jpg" alt="Catry Four-Level Cat Tree" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>47.99% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30t5yXn">Catry Four-Level Cat Tree Condo Gray with Natural Sisal Scratching Posts, Teasing Toys, Scratching Pad</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.99</span><span class="ori_price">$79.99</span></address>
      <p><span>Take <strong>47.99% off at $79.99</strong> with promo code: <strong>40H16QCZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30t5yXn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="20.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30z2aKP"><img src="https://m.media-amazon.com/images/I/61lJgYbMdwL._SR400,400_.jpg" alt="Athletic Shorts" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>426 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30z2aKP">Baleaf Men's 5" Running Athletic Shorts Zipper Pocket</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.69</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>10% off at $22.99</strong> with promo code: <strong>10JTTX7S</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30z2aKP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="12.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JsbGcN"><img src="https://m.media-amazon.com/images/I/612RHFCF7OL._SR400,400_.jpg" alt="Collapsible Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JsbGcN">SPORFEEL 550ML Silicone Collapsible Water Bottle BPA Free, Sports Camping Canteen Sports Bottles Silicone Portable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.79</span><span class="ori_price">$15.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $15.99</strong> with promo code: <strong>20HQV5VH</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JsbGcN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="50.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LP2gtG"><img src="https://m.media-amazon.com/images/I/613gr76RhpL._SR400,400_.jpg" alt="Electric Cooler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LP2gtG">Electric Cooler and Warmer Car Refrigerator 26.4 Quart/27 Cans Car Cooler for Road Trip, 12V DC Portable Mini Fridge...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$50.39</span><span class="ori_price">$71.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $71.99</strong> with promo code: <strong>30IZWN5Q</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LP2gtG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="35.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Saf9zl"><img src="https://m.media-amazon.com/images/I/81eoZ9yCwJL._SR400,400_.jpg" alt="Whiskey Stones Gift" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>57 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Saf9zl">Whiskey Stones Gift Set for Men - 8 Chilling Stainless-Steel Whiskey Cubes, 2 Large Classic Glasses...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.96</span><span class="ori_price">$44.95</span></address>
      <p><span>Take <strong>20% off at $44.95</strong> with promo code: <strong>20FROLKOFF</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Saf9zl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="28.68">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JuNQ0g"><img src="https://m.media-amazon.com/images/I/81t6ot5HxSL._SR400,400_.jpg" alt="SHARDOR Electric Burr Coffee Grinder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>47 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JuNQ0g">SHARDOR Electric Burr Coffee Grinder Mill with 12 Adjustable Grinding,Coffee Grinders with 12 Cups,Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.68</span><span class="ori_price">$35.85</span></address>
      <p><span>Take <strong>20% off at $35.85</strong> with promo code: <strong>20C58A5C</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JuNQ0g">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="13.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ynOhZ"><img src="https://m.media-amazon.com/images/I/81YASs+fxJL._SR400,400_.jpg" alt="VANCOOL Meal Prep Containers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>99 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ynOhZ">VANCOOL Meal Prep Containers 3 Compartment with Lids BPA Free Food Storage Bento Style Lunch Boxes for Portion Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.20</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>60% off at $32.99</strong> with promo code: <strong>60DQBZQ8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30ynOhZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YHIXpD"><img src="https://m.media-amazon.com/images/I/61dSNpbjIrL._SR400,400_.jpg" alt="USB Type C Cable OULUOQI USB " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,714 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YHIXpD">USB Type C Cable OULUOQI USB C Cable 3 Pack(6ft) Nylon Braided Fast Charger Cord(USB 2.0) Compatible with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.99</span><span class="ori_price">$9.99</span></address>
      <p><span>Take <strong>20% off at $9.99</strong> with promo code: <strong>20OKUSBCABLE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YHIXpD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="15.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30pQBWb"><img src="https://m.media-amazon.com/images/I/71046Xk7IjL._SR400,400_.jpg" alt="USB C Wall Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30pQBWb">USB C Wall Charger with Quick Charge 3.0, 40W 5 Port USB Type-C Desktop Charging Station for Home, Office,Travel...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.39</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>30% off at $21.99</strong> with promo code: <strong>30JBLAO5</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30pQBWb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xFPo0F"><img src="https://m.media-amazon.com/images/I/81shMgUPpGL._SR400,400_.jpg" alt="Selfie Stick" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,045 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xFPo0F">Selfie Stick, Extendable Selfie Stick Tripod with Detachable Wireless Remote and Tripod Stand Selfie Stick for iPhone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>20% off at $14.99</strong> with promo code: <strong>20B5LZHJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 12:01 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xFPo0F">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JtNpmw"><img src="https://m.media-amazon.com/images/I/61mHn3dNC9L._SR400,400_.jpg" alt="Bluetooth Eye Mask" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>258 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JtNpmw">Bluetooth Eye Mask Sleep Headphones,ZesGood Music Travel Sleep Mask Wireless Bluetooth Headphones Built -in...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.51</span><span class="ori_price">$25.01</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $25.01</strong> with promo code: <strong>50ZTTTKK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JtNpmw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30oHFjC"><img src="https://images-na.ssl-images-amazon.com/images/I/71sBLPeRi5L._SX679_.jpg" alt="USB C Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30oHFjC">USB C Charger with 18W Power Delivery 3.0, iCovfe Mini USB C Wall Charger, Compatible with iPhone Xs/XS Max/XR、Google...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.64</span><span class="ori_price">$16.97</span></address>
      <p><span>Take <strong>55% off at $16.97</strong> with promo code: <strong>55577S4H</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30oHFjC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32oYnS7"><img src="https://m.media-amazon.com/images/I/71gmyFilOQL._SR400,400_.jpg" alt="USB Wired Multimedia Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>167 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32oYnS7">Rii RK100+ Multiple Colors Rainbow LED Backlit Large Size Mechanical Feeling USB Wired Multimedia Keyboard, White</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $18.99</strong> with promo code: <strong>50IFGU7L</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32oYnS7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="37.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JrN0kE"><img src="https://m.media-amazon.com/images/I/81-iDTZ81cL._SR400,400_.jpg" alt="Laptop Backpack 17.3 Inch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>85 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JrN0kE">Laptop Backpack 17.3 Inch, TSA Large Travel Backpack for Women Men, MATEIN Water Resistant College School...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$37.59</span><span class="ori_price">$46.99</span></address>
      <p><span>Take <strong>20% off at $46.99</strong> with promo code: <strong>20VOYX93</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 09:00 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JrN0kE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XG1LZZ"><img src="https://m.media-amazon.com/images/I/51gVq1LP8jL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XG1LZZ">Bluetooth Headphones, Wireless Bluetooth 4.1 Aptx Stereo Magnetic Earbuds Snug Fit for Sports with Built in Mic BT-519 Earphone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>60% off at $14.99</strong> with promo code: <strong>60G2IX8J</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XG1LZZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32lUk8L"><img src="https://m.media-amazon.com/images/I/61cPjFTu76L._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32lUk8L">Wireless Earbuds, True Wireless Bluetooth Headphones, TWS Earphones with Charging Case 15H Playtime 3D Stereo Sound...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.80</span><span class="ori_price">$41.99</span></address>
      <p><span>Take <strong>60% off at $41.99</strong> with promo code: <strong>60BR4ZJP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32lUk8L">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="25.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30pS5zJ"><img src="https://m.media-amazon.com/images/I/814TunoPDCL._SR400,400_.jpg" alt="BESTEK Power Strip Tower" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>595 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30pS5zJ">BESTEK Power Strip Tower 8-Outlet and 6 Smart USB Charging Ports 1500 Joules Surge Protector with 6 Feet Extension Cord ETL Listed</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.59</span><span class="ori_price">$31.99</span></address>
      <p><span>Take <strong>20% off at $31.99</strong> with promo code: <strong>20W6GPUB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30pS5zJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="10.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XE6wDs"><img src="https://m.media-amazon.com/images/I/61OXA2pclEL._SR400,400_.jpg" alt="SUPRENT 3 Double-Ring Electric Rotary Shaver" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XE6wDs">SUPRENT 3 Double-Ring Electric Rotary Shaver for Men, IPX6 Waterproof Men’s Electric Razor Quick Rechargeable with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.43</span><span class="ori_price">$29.80</span></address>
      <p><span>Take <strong>65% off at $29.80</strong> with promo code: <strong>65DD9HDS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XE6wDs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="2.82">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMj4Fd"><img src="https://m.media-amazon.com/images/I/71Ug+N2Q36L._SR400,400_.jpg" alt="My Magic Mud" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>345 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMj4Fd">My Magic Mud - Whitening Tooth Powder, Polishing, Brightening, Charcoal, Original, 1.06 oz. (150 uses) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$2.82</span><span class="ori_price">$5.64</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $5.64</strong> with promo code: <strong>50OFFMMM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 02:00 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YMj4Fd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30vRAnw"><img src="https://m.media-amazon.com/images/I/81iGpMDUl9L._SR400,400_.jpg" alt="Hyaluronic Acid Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>100 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30vRAnw">Hyaluronic Acid Serum, BREYLEE Moisturizing Face Serum Anti Aging Serum for Deeply Enhancing Nourishing Hydrating (40ml, 1.37fl Oz) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>60% off at $17.99</strong> with promo code: <strong>60UWW3YB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30vRAnw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xGWXnw"><img src="https://m.media-amazon.com/images/I/41hAVMO3UJL._SR400,400_.jpg" alt="Heated Eyelash Curler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>343 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xGWXnw">Heated Eyelash Curler, Acavado Electric Eyelash Curler Electronic Eye Lashes Curling Comb Quick Heating Long ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>50% off at $20.99</strong> with promo code: <strong>50NAKSS4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xGWXnw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30rJ215"><img src="https://m.media-amazon.com/images/I/618eBHDNgML._SR400,400_.jpg" alt="Blackhead Remover Pore Vacuum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30rJ215">Blackhead Remover Pore Vacuum - MASWATER Upgrade Strong Suction Facial Pore Cleanser Rechargeable Electric Acne...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.50</span><span class="ori_price">$34.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $34.99</strong> with promo code: <strong>509USR4Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30rJ215">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32v4Fj4"><img src="https://m.media-amazon.com/images/I/71bRsAlhUNL._SR400,400_.jpg" alt="Rechargeable Facial Cleansing Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>52 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32v4Fj4">Rechargeable Facial Cleansing Brush, Waterproof Face Brush with UV Deep Clean & Professional Air Dryer System,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $29.99</strong> with promo code: <strong>20AMOHVD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32v4Fj4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="42.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30tS91e"><img src="https://m.media-amazon.com/images/I/61d9fHGaLML._SR400,400_.jpg" alt="Facial Steamer Nano Ionic Hot Steam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>213 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30tS91e">Facial Steamer Nano Ionic Hot Steam For Face Personal Sauna SPA Quality Moisturizing Pores Cleanse Clear Blackheads...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.39</span><span class="ori_price">$52.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $52.99</strong> with promo code: <strong>20QP8AJC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30tS91e">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMxuRT"><img src="https://m.media-amazon.com/images/I/71sTjOcrxPL._SR400,400_.jpg" alt="WITHARMOUR Pocket Folding Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMxuRT">WITHARMOUR Pocket Folding Knife Tactical Knife Camping Hiking Survival Fishing Knife Black B 4.75" Closed with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.97</span><span class="ori_price">$29.95</span></address>
      <p><span>Take <strong>50% off at $29.95</strong> with promo code: <strong>50HJCYC1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMxuRT">Use Code at Amazon</a></div>
</div>

