<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-Rating_Num.jpg' %>">
      <p>Review_Num Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Amazon Deal Of The Day: Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
       </ul>
       <li><a href="product_link">- SEE MORE</a></li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Product_title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="tooltip_orange">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount width coupon</p>
  </div>
</div> 
-->


<div class="card clearfix" data-score="40" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MRS8Cr"><img src="https://images-na.ssl-images-amazon.com/images/I/71WrgTUJvtL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MRS8Cr">Amazon Deal Of The Day: Save up to 40% on Keter Patio Favorites</a></p>

    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/2IU1kRH">Keter Unity Indoor Outdoor BBQ Entertainment Storage...</a> - <span>95.99<em>159.99</em></span></li>
            <li><a href="https://amzn.to/2IRW1BX">Keter Novel Plastic Deck Storage Container Box...</a> - <span>54.99<em>89.99</em></span></li>
            <li><a href="https://amzn.to/2INe5gG">Keter Corfu Love Seat All Weather Outdoor Patio...</a> - <span>169.99<em>199.99</em></span></li>
            <li><a href="https://amzn.to/2MRS8Cr">- SEE MORE</a></li>
          </ul>
        </li>
      </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MRS8Cr">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KrWQoq"><img src="https://images-na.ssl-images-amazon.com/images/I/91OT6wErPRL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KrWQoq">Amazon Deal Of The Day: Save up to 50% on Friends Forever Dog & Cat Products</a></p>

    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/2WLfrNP">Friends Forever Orthopedic Dog Bed Lounge Sofa...</a> - <span>74.48<em>109.99</em></span></li>
            <li><a href="https://amzn.to/2Rlwx3Q">Friends Forever Interactive Cat Laser Toy - Pet Laser...</a> - <span>12.50<em>24.99</em></span></li>
            <li><a href="https://amzn.to/31GIk1m">Friends Forever Interactive Feather Cat Toys...</a> - <span>7.49<em>9.99</em></span></li>
            <li><a href="https://amzn.to/2KrWQoq">- SEE MORE</a></li>
          </ul>
        </li>
      </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KrWQoq">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="33" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MW1q0b"><img src="https://images-na.ssl-images-amazon.com/images/I/51ICToRmC1L._AC_US160_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MW1q0b">Amazon Deal Of The Day: Save up to 33% on Simpson Outdoor Products</a></p>

    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/31EqP1D">SIMPSON Cleaning MSH3125 MegaShot Gas Pressure...</a> - <span>298.50<em>398.00</em></span></li>
            <li><a href="https://amzn.to/2IP9Ilo">SIMPSON Cleaning CM60912 Clean Machine Gas...</a> - <span>169.13<em>249.00</em></span></li>
            <li><a href="https://amzn.to/2KoDxwl">SIMPSON Cleaning SPG7593E Portable Gas Generator...</a> - <span>588.23<em>840.00</em></span></li>
            <li><a href="https://amzn.to/2MW1q0b">- SEE MORE</a></li>
          </ul>
        </li>
      </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MW1q0b">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="33" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MUUIHW"><img src="https://images-na.ssl-images-amazon.com/images/I/81XLQ5HZtIL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MUUIHW">Amazon Deal Of The Day: Save Up to 33% on Aussie & Herbal Essence hair care</a></p>

    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/2KnMxBA">Aussie Leave In Conditioner Spray, with Jojoba...</a> - <span>11.26<em>15.99</em></span></li>
            <li><a href="https://amzn.to/31GRvig">Herbal Essences, Shampoo and Sulfate Free Conditioner...</a> - <span>8.67<em>12.99</em></span></li>
            <li><a href="https://amzn.to/2MTLpbc">Herbal Essences, Shampoo, BioRenew Arabica Coffee Fruit...</a> - <span>9.47<em>12.99</em></span></li>
            <li><a href="https://amzn.to/2MUUIHW">- SEE MORE</a></li>
          </ul>
        </li>
      </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MUUIHW">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="129.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Knemdv"><img src="https://images-na.ssl-images-amazon.com/images/I/51S0QUOaW1L._SX522_PIbundle-2,TopRight,0,0_SX522SY503SH20_.jpg" alt="Linksys Velop Home Mesh WiFi System" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>198 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Knemdv">Linksys Velop Home Mesh WiFi System – WiFi Router/WiFi Extender for Whole-Home Mesh Network (2-pack, White)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Knemdv">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="33" data-price="19.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Knn3EL"><img src="https://images-na.ssl-images-amazon.com/images/I/81YtozY6oRL._SX679_.jpg" alt="Logitech MK270 Wireless Keyboard and Mouse" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>12,799 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Knn3EL">Logitech MK270 Wireless Keyboard and Mouse Combo - Keyboard and Mouse Included, 2.4GHz Dropout-Free Connection, Long Battery Life</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.98</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Knn3EL">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31xmbT8"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZvN3jsZqL._SX679_.jpg" alt="Logitech K380 Multi-Device Bluetooth Keyboard" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>1,211 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31xmbT8">Logitech K380 Multi-Device Bluetooth Keyboard – Windows, Mac, Chrome OS, Android, iPad, iPhone, Apple TV Compatible – with FLOW Cross-Computer Control and...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31xmbT8">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="38" data-price="92.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WNpCS4"><img src="https://images-na.ssl-images-amazon.com/images/I/61uUpAUBZQL._SX425_.jpg" alt="LucidSound LS31 Wireless Gaming Headset" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>50 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WNpCS4">LucidSound LS31 Wireless Gaming Headset for Xbox One, PS4 - Wireless Surround Sound Headphones for Xbox One - Works Wired with Nintendo Switch, PC, Mac,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$92.50</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WNpCS4">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="39.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KYD3wu"><img src="https://images-na.ssl-images-amazon.com/images/I/91i2XWgykKL._SX522_.jpg" alt="Infantino Go Forward Evolved Ergonomic Carrier" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>54 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KYD3wu">Infantino Go Forward Evolved Ergonomic Carrier</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.59</span><span class="ori_price">$49.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KYD3wu">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="21" data-price="23.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WLifKR"><img src="https://images-na.ssl-images-amazon.com/images/I/818Cnh4ovXL._SY679_.jpg" alt="Neck Warmer Microwavable Heating Pad" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>465 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WLifKR">Neck Warmer Microwavable Heating Pad by TheraPAQ | Weighted Neck and Shoulder Heat Wrap - Best for Natural Moist Heat Therapy or as Cold Pack -... </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.70</span><span class="ori_price">$29.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WLifKR">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="155.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WQiYdQ"><img src="https://images-na.ssl-images-amazon.com/images/I/51GnlfDT6mL._SX522_.jpg" alt="Arlo Pro 2" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>3,854 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WQiYdQ">Arlo Pro 2 – (1) Add-on Camera | Rechargeable, Night vision, Indoor/Outdoor, HD Video 1080p, Two-Way Talk, Wall Mount | Cloud Storage Included...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$155.00</span><span class="ori_price">$219.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WQiYdQ">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="43" data-price="169.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RpxWXk"><img src="https://images-na.ssl-images-amazon.com/images/I/91JC-BoKQ7L._SX522_.jpg" alt="LG 32MP58HQ-P 32-Inch IPS Monitor" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>1,474 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RpxWXk">LG 32MP58HQ-P 32-Inch IPS Monitor with Screen Split</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.99</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RpxWXk">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="46" data-price="32.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IOqQYv"><img src="https://images-na.ssl-images-amazon.com/images/I/81C6pFVIHBL._SX679_.jpg" alt="Fuji 96090 Instax Mini Instant Film" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>3,121 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IOqQYv">Fuji Instax Mini Instant Film, 10 Sheet, 5 Piece</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.49</span><span class="ori_price">$59.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IOqQYv">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="48" data-price="51.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xs83eY"><img src="https://images-na.ssl-images-amazon.com/images/I/71Y9Ma4plKL._SX522_.jpg" alt="COSORI Blender" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>34 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xs83eY">COSORI Blender for Shakes and Smoothies(50 Recipes),1400W Heavy Duty Professional Blender for Crushing Ice, Frozen Fruit</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$51.98</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xs83eY">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="49.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KY5cDE"><img src="https://images-na.ssl-images-amazon.com/images/I/61I6l2MSQVL._SX522_.jpg" alt="Bose SoundSport in-ear headphones" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>2,507 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KY5cDE">Bose SoundSport in-ear headphones for Samsung and Android devices, Charcoal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.95</span><span class="ori_price">$99.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KY5cDE">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MTua9P"><img src="https://images-na.ssl-images-amazon.com/images/I/91yCh4uYy1L._SX522_.jpg" alt="LEGO Technic Dozer Compactor Building Kit" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>68 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MTua9P">LEGO Technic Dozer Compactor 42071 Building Kit (171 Pieces)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MTua9P">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="66" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IS0cxD"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZvuPwEIgL._SX679_.jpg" alt="Swimming Pool Game Toy" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>417 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IS0cxD">Swimline Giant Shootball Basketball Swimming Pool Game Toy</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$57.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IS0cxD">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="40.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KpRtpQ"><img src="https://images-na.ssl-images-amazon.com/images/I/81QASbI-mhL._SX679_.jpg" alt="SwimWays Spring Float Recliner XL" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>991 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KpRtpQ">SwimWays Spring Float Recliner XL - Extra Large Swim Lounger for Pool or Lake</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.02</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="24" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IU7Bgd"><img src="https://images-na.ssl-images-amazon.com/images/I/81eoSi-oTEL._SX679_.jpg" alt="Solar Charger 6V 28W Portable Solar Charger" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>7 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IU7Bgd">Solar Charger 6V 28W Portable Solar Charger for Cell Phone Dual USB Ports Waterproof Power Bank Foldable Battery Chargers</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$65.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IU7Bgd">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KnUNBH"><img src="https://images-na.ssl-images-amazon.com/images/I/71vlVLve-NL._SX522_.jpg" alt="JETech Screen Protector" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>551 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KnUNBH">JETech Screen Protector for iPad Air 3 (10.5 Inch 2019 Model) and iPad Pro 10.5 (2017), Tempered Glass Film</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$9.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KnUNBH">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="51.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmAH0W"><img src="https://images-na.ssl-images-amazon.com/images/I/811na6ZnGXL._SX522_.jpg" alt="DryGuy DX Forced Air Boot Dryer" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>715 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmAH0W">DryGuy DX Forced Air Boot Dryer and Garment Dryer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$51.70</span><span class="ori_price">$80.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XmAH0W">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="14.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fg0FZA"><img src="https://images-na.ssl-images-amazon.com/images/I/61s427GiJBL._SX522_.jpg" alt="Oximeter Blood Oxygen Saturation Monitor" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>5,085 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fg0FZA">Zacurate Pro Series 500DL Fingertip Pulse Oximeter Blood Oxygen Saturation Monitor with Silicon Cover, Batteries and Lanyard (Royal Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.05</span><span class="ori_price">$19.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Fg0FZA">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="58" data-price="13.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MUHMSq"><img src="https://images-na.ssl-images-amazon.com/images/I/61RN9TiSCoL._SX522_.jpg" alt="Heel Foot Pain Arch Support" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>350 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MUHMSq">MEDIZED® Plantar Fasciitis Therapy Wrap Heel Foot Pain Arch Support Ankle Brace Insole Orthotic … (Beige Arch Sleeve and Black Heel Wrap)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.55</span><span class="ori_price">$31.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MUHMSq">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IOjLac"><img src="https://images-na.ssl-images-amazon.com/images/I/51w3zK98wTL._SX679_.jpg" alt="Portable Charger Jackery Bolt 6000 mAh" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>2,321 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IOjLac">Portable Charger Jackery Bolt 6000 mAh - Power bank with built in Lightning Cable [Apple MFi certified] iPhone Battery Charger External Battery Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IOjLac">Shop Now at Amazon</a>
  </div>
</div>