<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button>
</div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
-->

<!-- <div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div> -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="39.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oRUOEG"><img src="https://m.media-amazon.com/images/I/71goGsQHdiL._SR400,400_.jpg" alt="Nalanda Balance Board Trainer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oRUOEG">Nalanda Balance Board Trainer, Core Trainer for Exercise, Increase Stability,Strength and Flexibility</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.49</span><span class="ori_price">$78.99</span></address>
      <textarea readonly="readonly" class="code_area">50LUGULAKE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $78.99</strong> with promo code: <strong class="m_codes">50LUGULAKE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oRUOEG">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35d24vc"><img src="https://m.media-amazon.com/images/I/61QskWZJUUL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35d24vc">Wireless Earbuds, RegeMoudal Latest Wireless Bluetooth Earbuds with Charging Display, IPX7 Waterproof and Built-in Microphone, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_green"><span> + 12% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 12% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40Q6NH2G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">40Q6NH2G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35d24vc">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31P7t9L"><img src="https://m.media-amazon.com/images/I/61swg2VTTXL._SR400,400_.jpg" alt="AKFLY Reflective Vest" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31P7t9L">AKFLY Reflective Vest with Pockets Zipper for Women Men Running Cycling Jogging Walking Motorcycling and Yellow High Visibility Class...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">50ZEGUTZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.99</strong> with promo code: <strong class="m_codes">50ZEGUTZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31P7t9L">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="20.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31RiGqy"><img src="https://m.media-amazon.com/images/I/71P00suZdwL._SR400,400_.jpg" alt="CVLIFE 40L Military Tactical Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31RiGqy">CVLIFE 40L Military Tactical Backpack 3 Day Assault Pack Army Rucksack Molle Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.33</span><span class="ori_price">$33.89</span></address>
      <textarea readonly="readonly" class="code_area">40TZ5FY8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $33.89</strong> with promo code: <strong class="m_codes">40TZ5FY8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31RiGqy">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LTo7zL"><img src="https://m.media-amazon.com/images/I/71Mlm2GkpYL._SR400,400_.jpg" alt="Banne Scooter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LTo7zL">Banne Scooter for Kids 3 Wheel Adjustable Height Scooters with Flashing Wheels for Boys Girls 3-14 Year Old</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">50YVLUHR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $59.99</strong> with promo code: <strong class="m_codes">50YVLUHR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Nov 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LTo7zL">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="17.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oZrCvb"><img src="https://m.media-amazon.com/images/I/71Gj9WHGJLL._SR400,400_.jpg" alt="Newgam Lumbar Support Pillow/Back Cushion" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oZrCvb">Newgam Lumbar Support Pillow/Back Cushion, Memory Foam Orthopedic Backrest with Breathable 3D Mesh for Car Seat,Office/Computer Chair,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.39</span><span class="ori_price">$28.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">4034EWEE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $28.99</strong> with promo code: <strong class="m_codes">4034EWEE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oZrCvb">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LSrqHs"><img src="https://m.media-amazon.com/images/I/8136nC3AttL._SR400,400_.jpg" alt="Majestic Pure Watermelon Body Scrub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LSrqHs">Majestic Pure Watermelon Body Scrub - Age Defying - Exfoliates, Hydrates, and Moisturizes Skin, 10 oz</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$19.98</span></address>
      <textarea readonly="readonly" class="code_area">70B773XE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $19.98</strong> with promo code: <strong class="m_codes">70B773XE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LSrqHs">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="22.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AOrjGt"><img src="https://m.media-amazon.com/images/I/51IC5m+lseL._SR400,400_.jpg" alt="Bluetooth Speakers with Deep Bass" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AOrjGt">Bluetooth Speakers with Deep Bass, Twin Wireless with Stereo Sound,Dual Portable wireless Speakers for iOS Android Smartphones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.50</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">55CWTRNU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $49.99</strong> with promo code: <strong class="m_codes">55CWTRNU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2AOrjGt">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="22.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30JrGww"><img src="https://m.media-amazon.com/images/I/710z7eZG+2L._SR400,400_.jpg" alt="FEOYA Men's Winter Warm Thick Fleece Hooded Sweatershirt" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30JrGww">FEOYA Men's Winter Warm Thick Fleece Hooded Sweatershirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.50</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">50VLTYR9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $49.99</strong> with promo code: <strong class="m_codes">50VLTYR9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30JrGww">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="5.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LR6FM6"><img src="https://m.media-amazon.com/images/I/61gltHRqagL._SR400,400_.jpg" alt="AINOPE Cell Phone Holder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LR6FM6">AINOPE Cell Phone Holder for Car, Gravity Car Phone Mount Auto-Clamping Air Vent Car Phone Holder Universal Car Phone Mount Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.10</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">70HGBGSB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $16.99</strong> with promo code: <strong class="m_codes">70HGBGSB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LR6FM6">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
 
<div class="card clearfix" data-score="70" data-price="5.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3355jDg"><img src="https://m.media-amazon.com/images/I/81NPKoflsuL._SR400,400_.jpg" alt="MAJESTIC PURE Argan Hair Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3355jDg">MAJESTIC PURE Argan Hair Mask with Keratin - Rejuvenating, Hydrating, Smoothing Deep Conditioner Keratin Hair Treatment...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.84</span><span class="ori_price">$19.48</span></address>
      <textarea readonly="readonly" class="code_area">70VCS42Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $19.48</strong> with promo code: <strong class="m_codes">70VCS42Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3355jDg">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="19.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30LXoZT"><img src="https://m.media-amazon.com/images/I/61lSESuttTL._SR400,400_.jpg" alt="Delonix-Light-Therapy-Lamp-10,000Lux" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30LXoZT">Delonix-Light-Therapy-Lamp-10,000Lux, Sun Lamp, Blue Light and White Light Adjustable, Compact Size</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.00</span><span class="ori_price">$37.99</span>
        <div class="tooltip_common tooltip_green"><span> + $7.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $7.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50J2NTFL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $37.99</strong> with promo code: <strong class="m_codes">50J2NTFL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30LXoZT">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="90.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oS8JKW"><img src="https://m.media-amazon.com/images/I/81f1zHScY9L._SR400,400_.jpg" alt="ONSON [2019 Upgrade] Mini Projector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oS8JKW">ONSON [2019 Upgrade] Mini Projector, 2800 Lux Portable Movie Projector with 50,000 Hours LED Lamp Life, Full HD 1080P Video Supported, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$90.00</span><span class="ori_price">$199.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">554SRKP8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $199.99</strong> with promo code: <strong class="m_codes">554SRKP8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oS8JKW">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="4.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOgXws"><img src="https://m.media-amazon.com/images/I/61a8H7Fcv8L._SR400,400_.jpg" alt="Compatible Apple Watch Case 44mm Series 4 Series 5, Shockproof..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOgXws">Compatible Apple Watch Case 44mm Series 4 Series 5, Shockproof and Shatter-Resistant Protective Bumper Cover iwatch Case, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.19</span><span class="ori_price">$6.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40FU4Z5F</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $6.99</strong> with promo code: <strong class="m_codes">40FU4Z5F</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LOgXws">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AOjKiS"><img src="https://m.media-amazon.com/images/I/91ea8Fc+5gL._SR400,400_.jpg" alt="Phone Camera Lens,11 in 1 Cell Phone Lens Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AOjKiS">Phone Camera Lens,11 in 1 Cell Phone Lens Kit for iPhone and Android, 0.36X Wide Angle Lens+198°Fisheye Lens+20X Macro Lens+Zoom Telephoto...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">40R5W4UX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $23.99</strong> with promo code: <strong class="m_codes">40R5W4UX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2AOjKiS">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VfdHxm"><img src="https://m.media-amazon.com/images/I/71GkSmJl0YL._SR400,400_.jpg" alt="HOMENOTE Sous Vide Bags 15 Reusable Vacuum Food Storage Bags" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VfdHxm">HOMENOTE Sous Vide Bags 15 Reusable Vacuum Food Storage Bags with Cookbook for Joule, Anova sous vide cooker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50X7Q2BJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50X7Q2BJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VfdHxm">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="19.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vgonf4"><img src="https://m.media-amazon.com/images/I/61ubzNJ+MZL._SR400,400_.jpg" alt="Ubon Large Hiking Waist Pack Lightweight Breathable Unisex Fanny Pack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vgonf4">Ubon Large Hiking Waist Pack Lightweight Breathable Unisex Fanny Pack with Bottle Holder Lumbar Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.49</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">35RA8ZVO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $29.99</strong> with promo code: <strong class="m_codes">35RA8ZVO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Vgonf4">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/335ABd7"><img src="https://m.media-amazon.com/images/I/71sxdX04qHL._SR400,400_.jpg" alt="Keenstone Travel Bag 35L waterproof" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/335ABd7">Keenstone Travel Bag 35L waterproof with USB business bag commuter school travel business travel PC compatible (Blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">409ERJQU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">409ERJQU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/335ABd7">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="16.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3330HNO"><img src="https://m.media-amazon.com/images/I/610JCJAIB2L._SR400,400_.jpg" alt="Coffee Grinder Electric" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3330HNO">Coffee Grinder Electric, Spice Grinder Blade Grinders with Powerful Stainless Steel Blades and Cleaning Brush for Large...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.09</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">30FCGE1I</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $22.99</strong> with promo code: <strong class="m_codes">30FCGE1I</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3330HNO">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pKTx2s"><img src="https://m.media-amazon.com/images/I/61tnAXFAI3L._SR400,400_.jpg" alt="Insulated Lunch Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pKTx2s">Insulated Lunch Bag | Water Resistant Canvas Lunch Box for Teen Girls, Boys, Women, Men, Kids, Reusable Cooler Lunch Tote (Grey/Yellow)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">35OX1L7C</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $19.99</strong> with promo code: <strong class="m_codes">35OX1L7C</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pKTx2s">Use Code at Amazon</a></div>
</div>
 
