<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_Link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->

<div class="card clearfix" data-score="33" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEFtDt"><img src="https://images-na.ssl-images-amazon.com/images/I/718Cp0WZWDL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEFtDt"><span>Amazon Deal Of The Day:</span> eufy BoostIQ RoboVac 30, Upgraded, Super-Thin 1500Pa Suction, Boundary Strips Included,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$269.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEFtDt">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="90" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/336ydUx"><img src="https://images-na.ssl-images-amazon.com/images/I/51X-kIIkghL._SY300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 90% or more OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_Link"><span>Amazon Deal Of The Day:</span> Today only: $0.99 & up | Select Amazon Charts best sellers on Kindle</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2Zvts4z">The Silent Woman: The USA TODAY BESTSELLER...</a> - <span>1.09<em>15.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31eUOw9">The Doll House: A gripping debut psychological thriller...n</a> - <span>1.09<em>12.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2yDXaIE">The Hidden Women: An inspirational novel of sisterhood...</a> - <span>1.09<em>15.99</em></span></li>
            <li><a href="https://amzn.to/336ydUx">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/336ydUx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="53.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yBUtaB"><img src="https://images-na.ssl-images-amazon.com/images/I/715Ja7DPywL._SX425_.jpg" alt="Fujifilm Instax Mini 9 Instant Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yBUtaB">Fujifilm Instax Mini 9 Instant Camera, Cobalt Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.99</span><span class="ori_price">$69.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yBUtaB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ztwg2d"><img src="https://images-na.ssl-images-amazon.com/images/I/71UVGlAxYqL._SX679_.jpg" alt="Anker Alkaline AAA Batteries" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ztwg2d">Anker Alkaline AAA Batteries, Long-Lasting & Leak-Proof with PowerLock Technology, High Capacity Triple A Batteries...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.50</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ztwg2d">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YHGJG3"><img src="https://images-na.ssl-images-amazon.com/images/I/61YVwSzfLIL._SX425_.jpg" alt="Brita Large 10 Cup Water Filter Pitcher" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YHGJG3">Brita Large 10 Cup Water Filter Pitcher with 1 Longlast Filter, Reduces Lead, BPA Free – Monterey, Cloud White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YHGJG3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yz4Agx"><img src="https://images-na.ssl-images-amazon.com/images/I/91yMC9W8uzL._SX425_.jpg" alt="Pre-Seasoned Cast Iron Skillet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yz4Agx">Pre-Seasoned Cast Iron Skillet and Double Dutch Oven Set – 2 In 1 Cooker: 5 Quart Deep Pan, 10-Inch Frying Pan Converts ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.95</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yz4Agx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="46.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEGc7F"><img src="https://m.media-amazon.com/images/I/71V3JP54iYL._AC_UY218_QL90_.jpg" alt="Everlasting Comfort Ultrasonic Cool Mist Humidifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEGc7F">Everlasting Comfort Ultrasonic Cool Mist Humidifier (6L) - Essential Oil Tray, High Output, Ultra Quiet, Auto Shut Off,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.70</span><span class="ori_price">$64.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEGc7F">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33audCs"><img src="https://images-na.ssl-images-amazon.com/images/I/618Ir5ijJWL._SX522_.jpg" alt="Yamde 50 Pcs Disposable Earloop Face Masks" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33audCs">Yamde 50 Pcs Disposable Earloop Face Masks Germ Dust Protection Four Layer Activated Carbon Filter Face Masks </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$23.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33audCs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zsst5e"><img src="https://images-na.ssl-images-amazon.com/images/I/61vrR4syI7L._SX522_.jpg" alt="Revlon One-Step Hair Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zsst5e">Revlon One-Step Hair Dryer & Styler, Black </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zsst5e">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZssCpi"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2BlqdcplDL._SX679_.jpg" alt="PNY Duo Link Sync & Charge" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZssCpi">PNY Duo Link Sync & Charge 128GB Metal Gray for iPhone/iPad (P-FDI128GLA02GC-RB)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZssCpi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yDYew8"><img src="https://images-na.ssl-images-amazon.com/images/I/81nV5FSq5BL._SX679_.jpg" alt="XPG SX6000 Lite 1TB PCIe 3D NAND PCIe..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yDYew8">XPG SX6000 Lite 1TB PCIe 3D NAND PCIe Gen3x4 M.2 2280 NVMe 1.3 R/W up to 1800/1200MB/s SSD (ASX6000LNP-1TT-C)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.99</span><span class="ori_price">$189.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yDYew8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="21.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KuIscO"><img src="https://images-na.ssl-images-amazon.com/images/I/91JCne9fbUL._SX425_.jpg" alt="Monopoly Game of Thrones Board Game for Adults" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KuIscO">Monopoly Game of Thrones Board Game for Adults</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.98</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KuIscO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGuzwQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZnPLd%2BGPL._SX522_.jpg" alt="Lagunamoon Essential Oils Top 6 Gift Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGuzwQ">Lagunamoon Essential Oils Top 6 Gift Set Pure Essential Oils for Diffuser, Humidifier, Massage, Aromatherapy, Skin & Hair Care </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$15.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YGuzwQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yNRVXf"><img src="https://images-na.ssl-images-amazon.com/images/I/71Ahe8IumlL._SY879_.jpg" alt="Vremi 3-Speed Compact Hand Mixer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yNRVXf">Vremi 3-Speed Compact Hand Mixer with Clever Built-In Beater Storage - Handheld Egg Beater with Stainless Steel Blades...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$20.47</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yNRVXf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="26.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YpnXrx"><img src="https://images-na.ssl-images-amazon.com/images/I/71U4hiw5OXL._SX425_.jpg" alt="Rowenta Xcel Steam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YpnXrx">Rowenta Xcel Steam Compact DR7000 Hand-held garment steamer 1100-Watt, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.17</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YpnXrx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yCl1Zy"><img src="https://images-na.ssl-images-amazon.com/images/I/61Js0FGG6dL._SX522_.jpg" alt="Kasa Smart Plug, 2-Outlets by TP-Link" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yCl1Zy">Kasa Smart Plug, 2-Outlets by TP-Link - Reliable WiFi Connection, Double the Outlets, Control from Anywhere,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yCl1Zy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="12.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yDOHFo"><img src="https://images-na.ssl-images-amazon.com/images/I/713JHXyZS9L._SX425_.jpg" alt="Pet Grooming Glove" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yDOHFo">[Upgrade Version] Pet Grooming Glove - Gentle Deshedding Brush Glove - Efficient Pet Hair Remover Mitt - Enhanced Five...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.86</span><span class="ori_price">$16.86</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yDOHFo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="28.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YoAmff"><img src="https://images-na.ssl-images-amazon.com/images/I/51KlM98iaYL._SX679_.jpg" alt="T-fal 2100092146 Soup" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YoAmff">T-fal 2100092146 Soup, Stock, Dishwasher Safe Nonstick Pot, 8 Quart, Charcoal, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.59</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YoAmff">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZF5DaJ"><img src="https://images-na.ssl-images-amazon.com/images/I/817Om0cdRLL._SX679_.jpg" alt="Instant Pot DUO60 6 Qt 7-in-1 Multi-Use Programmable Pressure Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZF5DaJ">Instant Pot DUO60 6 Qt 7-in-1 Multi-Use Programmable Pressure Cooker, Slow Cooker, Rice Cooker, Steamer, Sauté, Yogurt Maker and Warmer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$99.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZF5DaJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="14.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/336BwuV"><img src="https://images-na.ssl-images-amazon.com/images/I/71oJkjWqYSL._SX522_.jpg" alt="Best Naturals Berberine Plus 1000mg/Serving Supports Healthy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/336BwuV">Best Naturals Berberine Plus 1000mg/Serving Supports Healthy Glucose Metabolism (Non-GMO) 120 Capsules </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.91</span><span class="ori_price">$18.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/336BwuV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZvvAcz"><img src="https://images-na.ssl-images-amazon.com/images/I/31Xaa-FI3xL._SX425_.jpg" alt="YI Smart Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZvvAcz">YI Smart Dash Cam, 2.7" Screen 1080P60 Full HD 165 Wide Angle Front Dashboard Camera Car DVR Vehicle Recorder with...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZvvAcz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="148.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZqQzx7"><img src="https://images-na.ssl-images-amazon.com/images/I/81h4xEm7blL._SX425_.jpg" alt="Razor Hovertrax" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZqQzx7">Razor Hovertrax 2.0 - Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$148.00</span><span class="ori_price">$298.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZqQzx7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KnYjtB"><img src="https://images-na.ssl-images-amazon.com/images/I/61g8PvRqdRL._SY450_.jpg" alt="KitchenAid KSM75SL Classic Plus" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KnYjtB">KitchenAid KSM75SL Classic Plus 4.5-Qt. Tilt-Head Stand Mixer, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$359.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KnYjtB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="9.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yHJBrD"><img src="https://images-na.ssl-images-amazon.com/images/I/818HZxiQIML._SX522_.jpg" alt="Stalwart Foam Mat Floor Tiles" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yHJBrD">Stalwart Foam Mat Floor Tiles, Interlocking EVA Foam Padding</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.89</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yHJBrD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="7.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31hkWqc"><img src="https://images-na.ssl-images-amazon.com/images/I/51uYt5gN2XL._SX425_.jpg" alt="Speedo Hydrospex Classic Swim Goggle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31hkWqc">Speedo Hydrospex Classic Swim Goggle</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.48</span><span class="ori_price">$15.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31hkWqc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="463.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLcM88"><img src="https://images-na.ssl-images-amazon.com/images/I/61AxU-ADydL._SX425_.jpg" alt="Coway Airmega 400 Smart Air Purifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLcM88">Coway Airmega 400 Smart Air Purifier with 1,560 sq. ft. Coverage</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$463.49</span><span class="ori_price">$749.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YLcM88">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="198.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YDcCzh"><img src="https://images-na.ssl-images-amazon.com/images/I/512QKheNJ5L._SX679_.jpg" alt="Furbo Dog Camera: Treat Tossing" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YDcCzh">Furbo Dog Camera: Treat Tossing, Full HD Wifi Pet Camera and 2-Way Audio, Designed for Dogs, Compatible with Alexa (As Seen On Ellen)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$198.95</span><span class="ori_price">$249.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZvX4ij"><img src="https://images-na.ssl-images-amazon.com/images/I/61Opi47sLCL._SY606_.jpg" alt="StarMark Bob-A-Lot Interactive Dog Toy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZvX4ij">StarMark Bob-A-Lot Interactive Dog Toy</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$26.39</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZvX4ij">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZBADs8"><img src="https://images-na.ssl-images-amazon.com/images/I/811lqIV9HmL._SY450_.jpg" alt="IRIS Top Entry Cat Litter Box" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZBADs8">IRIS Top Entry Cat Litter Box with Cat Litter Scoop</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$32.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZBADs8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZqR3mV"><img src="https://images-na.ssl-images-amazon.com/images/I/916XrN%2B3sfL._SX425_.jpg" alt="GREENIES Pill Pockets Capsule Size Natural Dog Treats" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZqR3mV">GREENIES Pill Pockets Capsule Size Natural Dog Treats</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.98</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZqR3mV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/337Gd7A"><img src="https://images-na.ssl-images-amazon.com/images/I/8172FULVivL._SX679_.jpg" alt="TP-Link 8 Port Gigabit Ethernet Network Switch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/337Gd7A">TP-Link 8 Port Gigabit Ethernet Network Switch | Ethernet Splitter | Sturdy Metal w/ Shielded Ports | Plug-and-Play |...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/337Gd7A">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YFqFob"><img src="https://images-na.ssl-images-amazon.com/images/I/41xNtWtAFyL._SX569_.jpg" alt="Apple USB-C Charge Cable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YFqFob">Apple USB-C Charge Cable (2m)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$35.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YFqFob">Shop Now at Amazon</a></div>
</div>



