<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="32" data-price="27.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XU8yPV"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZzC0H6UNL._SX679_.jpg" alt="Speck Products StyleFolio Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>432 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XU8yPV">Speck Products StyleFolio Case and Stand for 9.7-inch iPad Pro (Fits iPad Air 2, 1), 77233-5412</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.06</span><span class="ori_price">$39.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XU8yPV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XXsYrn"><img src="https://images-na.ssl-images-amazon.com/images/I/71VxROU3W9L._SX425_.jpg" alt="Portable Battery" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>43 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XXsYrn">"Made for Amazon" Ninety7 SKY TOTE Portable Battery Base for Amazon Echo (2nd Generation) Black/Carbon</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$59.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XXsYrn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="63.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SoGvBS"><img src="https://images-na.ssl-images-amazon.com/images/I/81sP%2Bxm4T5L._SX522_.jpg" alt="Air Purifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>9,345 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SoGvBS">Germ Guardian AC4825 22” 3-in-1 True HEPA Filter Air Purifier for Home, Full Room, UV-C Light Kills Germs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$63.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SoGvBS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="79.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y0gg63"><img src="https://images-na.ssl-images-amazon.com/images/I/71je7FZzN6L._SX522_.jpg" alt="Swivel Chair" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>370 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y0gg63">Flash Furniture High Back White Leather Executive Swivel Chair with Chrome Base and Arms</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.00</span><span class="ori_price">$145.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y0gg63">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="20.42">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQWbKA"><img src="https://images-na.ssl-images-amazon.com/images/I/51HrqWHv2BL._SX679_.jpg" alt="OtterBox COMMUTER SERIES Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>542 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQWbKA">OtterBox COMMUTER SERIES Case for Samsung Galaxy S9+ - Retail Packaging - BLACK</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.42</span><span class="ori_price">$49.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JQWbKA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="46.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Smr4dI"><img src="https://images-na.ssl-images-amazon.com/images/I/81cK9bn7KiL._SX522_.jpg" alt="18.4 Inch Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Smr4dI">18.4 Inch Laptop Backpack, Durable Large Carry on Backpack with USB Charging Port, TSA Friendly Travel...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.69</span><span class="ori_price">$85.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Smr4dI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="69.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SuNIRe"><img src="https://images-na.ssl-images-amazon.com/images/I/71UHWqIBFrL._SX522_.jpg" alt="HP Wireless Printer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>3,058 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SuNIRe">HP OfficeJet Pro 6968 All-in-One Wireless Printer, HP Instant Ink & Amazon Dash Replenishment ready (T0F28A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.89</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SuNIRe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JMSZQ2"><img src="https://images-na.ssl-images-amazon.com/images/I/31uduw99lZL.jpg" alt="TP-Link 8 Port Gigabit Ethernet Network Switch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,870 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JMSZQ2">TP-Link 8 Port Gigabit Ethernet Network Switch | Ethernet Splitter | Sturdy Metal w/ Shielded Ports...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JMSZQ2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sr3DzH"><img src="https://images-na.ssl-images-amazon.com/images/I/61lQcSD9HSL._SX679_.jpg" alt="SanDisk 128GB Ultra Dual Drive USB Type-C" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,302 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Sr3DzH">SanDisk 128GB Ultra Dual Drive USB Type-C - USB-C, USB 3.1 - SDDDC2-128G-G46</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Sr3DzH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSjZaI"><img src="https://images-na.ssl-images-amazon.com/images/I/81N9TeedXaL._SY879_.jpg" alt="Logitech G903 LIGHTSPEED Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>699 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSjZaI">Logitech G903 LIGHTSPEED Gaming Mouse with POWERPLAY Wireless Charging Compatibility</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XSjZaI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="49.36">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSm3FH"><img src="https://images-na.ssl-images-amazon.com/images/I/51HB1nrIPCL._SX522_.jpg" alt="TV Wall Mount Bracket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>158 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSm3FH">Monoprice Titan Series Full-Motion Articulating TV Wall Mount Bracket for TVs 32in to 60in Max Weight 175 lbs...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.36</span><span class="ori_price">$67.39</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JSm3FH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="13.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YgrS9a"><img src="https://images-na.ssl-images-amazon.com/images/I/71adqHh42IL._SX522_.jpg" alt="Foot M.D. Natural Foot Cream" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YgrS9a">Foot M.D. Natural Foot Cream - Cools, Moisturizes and Heals Dry Skin - Reduces Redness, Itching, Inflammation...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.75</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YgrS9a">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yg2CzO"><img src="https://images-na.ssl-images-amazon.com/images/I/61lXZjE4NEL._SX522_.jpg" alt="Kids Camping Gear" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yg2CzO">15-in-1 Kids Camping Gear - Outdoor Exploration Adventure Play Set w/ Explorer Gear, Nature KIT Binoculars,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$25.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yg2CzO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="10.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32AxOZY"><img src="https://images-na.ssl-images-amazon.com/images/I/61LD9PMw0aL._SX522_.jpg" alt="Jeju Fresh Aloe Soothing Gel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32AxOZY">[the SAEM] Jeju Fresh Aloe Soothing Gel 10.1 fl.oz. (300ml) - 99% Aloe Vera, Hydrates & Heals Dry, Itchy...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.39</span><span class="ori_price">$12.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32AxOZY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JLWoi4"><img src="https://images-na.ssl-images-amazon.com/images/I/81OY8LJ5zsL._SY355_.jpg" alt="Home Clock Speaker System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JLWoi4">"Made for Amazon" All-NEW iHome iAV2v2 Docking Bedside and Home Clock Speaker System for Amazon Echo Input and Echo Dot </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JLWoi4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="240.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Spaslk"><img src="https://images-na.ssl-images-amazon.com/images/I/81WHwKKpl6L._SX522_.jpg" alt="Firm Mattress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,030 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Spaslk">Ashley Furniture Signature Design - 12 Inch Chime Express Hybrid Innerspring - Firm Mattress - Bed in a Box - Queen - White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$240.00</span><span class="ori_price">$339.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Spaslk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="15.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xXFBmM"><img src="https://images-na.ssl-images-amazon.com/images/I/71wCglSsI8L._SX522_.jpg" alt="Restaurant Sauté Pan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,530 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xXFBmM">Tramontina 8" Professional Aluminum Nonstick Restaurant Sauté Pan, Made in USA - 80114/534DS</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.50</span><span class="ori_price">$35.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xXFBmM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="69.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SraNUB"><img src="https://images-na.ssl-images-amazon.com/images/I/913SweefWXL._SX522_.jpg" alt="Lodge Seasoned Cast Iron 5 Piece Bundle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,409 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SraNUB">Lodge Seasoned Cast Iron 5 Piece Bundle. 10.5” Griddle, 8” Skillet, 10.25” Skillet, 10.25” Dutch Oven, and 10.25” Lid</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.95</span><span class="ori_price">$150.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SraNUB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="118.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ssrdw3"><img src="https://images-na.ssl-images-amazon.com/images/I/A1XgyXC1aRL._SX522_.jpg" alt="nuLOOM Moroccan Blythe Area Rug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,320 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ssrdw3">nuLOOM Moroccan Blythe Area Rug, 6' 7" x 9', Grey/Off-white</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$118.00</span><span class="ori_price">$367.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ssrdw3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JU4ipt"><img src="https://images-na.ssl-images-amazon.com/images/I/61qulo8UccL._SX522_.jpg" alt="Philips Norelco Electric Shaver 8900" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,253 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JU4ipt">Philips Norelco Electric Shaver 8900, Wet & Dry Edition S8950/91 </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JU4ipt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sp9fe7"><img src="https://images-na.ssl-images-amazon.com/images/I/41pddYrbqiL.jpg" alt="DEWALT Deep Box" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,384 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em>+ $6.49 shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Sp9fe7">DEWALT DWST17806 TSTAK VI Deep Box</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.99</span><span class="ori_price">$44.90</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Sp9fe7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="36.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQ3VfU"><img src="https://images-na.ssl-images-amazon.com/images/I/714cF4yr36L._SX679_.jpg" alt="Elite Delux EBK-300R Deluxe Breakfast Station" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>842 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQ3VfU">Elite Delux EBK-300R Deluxe Breakfast Station, X-Large, Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.47</span><span class="ori_price">$57.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JQ3VfU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="96.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSlZpo"><img src="https://images-na.ssl-images-amazon.com/images/I/61RBIhxdT7L._SX522_.jpg" alt="Smart Box Spring / Mattress Foundation" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,877 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSlZpo">Zinus Armita 9 Inch High Profile Smart Box Spring / Mattress Foundation / Strong Steel Structure...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$96.14</span><span class="ori_price">$290.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JSlZpo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="497.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JO2Y7L"><img src="https://images-na.ssl-images-amazon.com/images/I/7162THDFfpL._SX522_.jpg" alt="PANASONIC Shoot Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>326 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JO2Y7L">PANASONIC LUMIX FZ1000 4K Point and Shoot Camera, 16X LEICA DC Vario-ELMARIT F2.8-4.0 Lens, 21.1 Megapixels,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$497.99</span><span class="ori_price">$799.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JO2Y7L">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="87.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XMmf38"><img src="https://images-na.ssl-images-amazon.com/images/I/71CzLYa81fL._SX522_.jpg" alt="Instant Pot Ultra Programmable Pressure Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,075 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XMmf38">Instant Pot Ultra 6 Qt 10-in-1 Multi- Use Programmable Pressure Cooker, Slow Cooker, Rice Cooker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$87.99</span><span class="ori_price">$149.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XMmf38">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="84" data-price="16.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y59EUg"><img src="https://images-na.ssl-images-amazon.com/images/I/71fSFsIxEFL._SX679_.jpg" alt="Style Basics Super Soft Brushed Microfiber Bed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>54 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>84% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y59EUg">Style Basics Super Soft Brushed Microfiber Bed Sheet Set - 1800 Series Easy-Clean (Slate, California King)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.39</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y59EUg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XUcErh"><img src="https://images-na.ssl-images-amazon.com/images/I/81bNsLPiy7L._SX522_.jpg" alt="Samsung T5 Portable SSD" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,754 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XUcErh">Samsung T5 Portable SSD - 500GB - USB 3.1 External SSD (MU-PA500B/AM), Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$129.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XUcErh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="206.61">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32BfnVb"><img src="https://images-na.ssl-images-amazon.com/images/I/61tmThxXwCL._SX522_.jpg" alt="Logitech Dual-motor Feedback Driving Force" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,437 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32BfnVb">Logitech Dual-motor Feedback Driving Force G29 Gaming Racing Wheel with Responsive Pedals for PlayStation 4 and PlayStation 3</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$206.61</span><span class="ori_price">$399.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32BfnVb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XThmWb"><img src="https://images-na.ssl-images-amazon.com/images/I/71f43TpquEL._SX679_.jpg" alt="SHPure Reusable Silicone Food Storage Bags" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XThmWb">SHPure Reusable Silicone Food Storage Bags - Ziplock Airtight Seal For Freezers & Keep Food Fresh...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$35.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XThmWb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="92.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32BzkuX"><img src="https://images-na.ssl-images-amazon.com/images/I/71u80OuhzuL._SX522_.jpg" alt="Wall Pool Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>3,118 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32BzkuX">XtremepowerUS Automatic Suction Vacuum-generic Climb Wall Pool Cleaner - 75037</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$92.83</span><span class="ori_price">$199.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32BzkuX">Shop Now at Amazon</a></div>
</div>

