<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" title=""/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button>
</div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
-->

<!-- <div class="deal_btn promo_btn"><em class="stock_m">* Only a few left in stock.</em><a target="_blank" href="product_link">Use Code at Amazon</a><em>* Only a few left in stock.</em></div> -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="20" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/325osov"><img src="https://m.media-amazon.com/images/I/91lwSTfQP2L._SR400,400_.jpg" alt="Premium Dry Dog Food" title="Premium Dry Dog Food"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/325osov">Rachael Ray Nutrish Dish Super Premium Dry Dog Food</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.99</span><span class="ori_price">$9.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">20NUTRISHTT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $9.99</strong> with promo code: <strong class="m_codes">20NUTRISHTT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/325osov">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IFDd9M"><img src="https://m.media-amazon.com/images/I/31XlevuQCYL._SR400,400_.jpg" alt="Single Serve Coffee Cups" title="Single Serve Coffee Cups"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IFDd9M">Single Serve Coffee Cups, Compatible with Keurig Coffee Machines from Cafe Joe - Rosh Hashanah Medium Roast Espresso Coffee Blend (24 Count)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">35Q2UPLT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $13.99</strong> with promo code: <strong class="m_codes">35Q2UPLT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2IFDd9M">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="14.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pdXufJ"><img src="https://m.media-amazon.com/images/I/716Gykrc5wL._SR400,400_.jpg" alt="NKTM Suit Carry On Garment Bag" title="NKTM Suit Carry On Garment Bag"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pdXufJ">NKTM Suit Carry On Garment Bag for Travel & Business Trips With Shoulder Strap</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.79</span><span class="ori_price">$36.98</span></address>
      <textarea readonly="readonly" class="code_area">60YNO811</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $36.98</strong> with promo code: <strong class="m_codes">60YNO811</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pdXufJ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vt1KUQ"><img src="https://m.media-amazon.com/images/I/61xDPW1vyuL._SR400,400_.jpg" alt="X-CWLTEZ Paracord Handle" title="X-CWLTEZ Paracord Handle"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vt1KUQ">X-CWLTEZ Paracord Handle for Wide Mouth Water Bottles(12oz-64oz), Durable Survival Strap Carrier Cord with Safety Ring,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50U8VMMM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50U8VMMM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Vt1KUQ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35mSVk8"><img src="https://m.media-amazon.com/images/I/51GQO42UPQL._SR400,400_.jpg" alt="LIVHO 2 Sizes Classic Aviator Polarized Sunglasses" title="LIVHO 2 Sizes Classic Aviator Polarized Sunglasses"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35mSVk8">LIVHO 2 Sizes Classic Aviator Polarized Sunglasses for Women Men Metal Frame Mirror UV400 Lens Protection Glasses</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.99</span><span class="ori_price">$13.98</span></address>
      <textarea readonly="readonly" class="code_area">50TEQNI5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $13.98</strong> with promo code: <strong class="m_codes">50TEQNI5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35mSVk8">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="6.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VqUJE6"><img src="https://m.media-amazon.com/images/I/51NQR3gkczL._SR400,400_.jpg" alt="NEILDEN 5D DIY Diamond Painting" title="NEILDEN 5D DIY Diamond Painting"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VqUJE6">NEILDEN 5D DIY Diamond Painting Full Drill Cross Stitch Kit 40x41cm Diamond Painting Number Kits for Adults Rhinestone Embroidery Diamond Art</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.30</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">55JY8U6Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $13.99</strong> with promo code: <strong class="m_codes">55JY8U6Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VqUJE6">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="4.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MstzbQ"><img src="https://m.media-amazon.com/images/I/41ZfCdwmpoL._SR400,400_.jpg" alt="Apple MFI Certified 3-in-1 Cable" title="Apple MFI Certified 3-in-1 Cable"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MstzbQ">Apple MFI Certified 3-in-1 Cable, Lightning/Type C/Micro USB Cable for iPhone, iPad, Huawei, HTC, LG, Samsung Galaxy, Sony Xperia,..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.49</span><span class="ori_price">$8.98</span></address>
      <textarea readonly="readonly" class="code_area">50RONYMARX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.98</strong> with promo code: <strong class="m_codes">50RONYMARX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Nov 05, 2019 at 04:00 PM PST</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MstzbQ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="14.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35lX6N0"><img src="https://m.media-amazon.com/images/I/61DbzOoOK+L._SR400,400_.jpg" alt="WIFI Smart Plug 4 Pack" title="WIFI Smart Plug"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35lX6N0">WIFI Smart Plug 4 Pack, LITSPED Smart plugs Work with Amazon Alexa Echo & Google Home and IFTTT, Smart Socket,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.40</span><span class="ori_price">$31.99</span></address>
      <textarea readonly="readonly" class="code_area">5552H3CZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $31.99</strong> with promo code: <strong class="m_codes">5552H3CZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35lX6N0">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="25" data-price="44.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M0V6ly"><img src="https://m.media-amazon.com/images/I/71EzuGuovNL._SR400,400_.jpg" alt="" title="PowerTac M5 Tactical Flashlight"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M0V6ly">PowerTac M5 Tactical Flashlight, 1300 Lumens LED Flashlight, CREE XM-L2 U3 Flashlights High Lumens, Rechargeable Flashlight with USB Magnetic...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.96</span><span class="ori_price">$59.95</span></address>
      <textarea readonly="readonly" class="code_area">25D4XKSA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $59.95</strong> with promo code: <strong class="m_codes">25D4XKSA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2M0V6ly">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="17.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OBvz4i"><img src="https://m.media-amazon.com/images/I/61mkN0d+XZL._SR400,400_.jpg" alt="Ancaixin Interactive Dog Cat Bowl Slow Feeder" title="Dog Cat Bowl Slow Feeder"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OBvz4i">Ancaixin Interactive Dog Cat Bowl Slow Feeder FDA Certified IQ Training Toy Adjustable Funny Treats Dispenser Exercise Games...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.00</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">508VIBZJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $33.99</strong> with promo code: <strong class="m_codes">508VIBZJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OBvz4i">Use Code at Amazon</a></div>
</div>
 
<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35kdZYk"><img src="https://m.media-amazon.com/images/I/71nhPGwL5vL._SR400,400_.jpg" alt="PICTEK RGB Gaming Keyboard USB Wired Keyboard" title="RGB Gaming Keyboard"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35kdZYk">PICTEK RGB Gaming Keyboard USB Wired Keyboard, Crater Architecture Backlit Computer Keyboard with 8 Independent Multimedia Keys,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span> + $2.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $2.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30UVPERH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $19.99</strong> with promo code: <strong class="m_codes">30UVPERH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35kdZYk">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="13.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33kBHlC"><img src="https://m.media-amazon.com/images/I/81mmeR9bTpL._SR400,400_.jpg" alt="Felt Letter Board" title="Felt Letter Board"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33kBHlC">Felt Letter Board, 10x10 Double-Sided Message Board Oak Wood Frame, 680 Letters with 4 Colors, Baby Gift (Grey/Black, 10in10in)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.20</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">609RD8YO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $32.99</strong> with promo code: <strong class="m_codes">609RD8YO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33kBHlC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OzSBbC"><img src="https://m.media-amazon.com/images/I/81GeBv1udKL._SR400,400_.jpg" alt="Tophie Insulated Cooler Backpack" title="Tophie Insulated Backpack"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OzSBbC">Tophie Insulated Cooler Backpack, 30L Leakproof Lightweight Lunch Backpack and Bag, 30 Cans PU Leather Waterproof Hiking Backpack...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.98</span></address>
      <textarea readonly="readonly" class="code_area">40S2DOC4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.98</strong> with promo code: <strong class="m_codes">40S2DOC4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OzSBbC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="8.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35naxMF"><img src="https://m.media-amazon.com/images/I/61AXe-g14iL._SR400,400_.jpg" alt="Portable Baby Changing Pad" title="Portable Baby Changing Pad"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35naxMF">Portable Baby Changing Pad, LCARY Waterproof Travel Diaper Changing Station Kit with Pillow & 3 Pockets, Diaper Change Mat Bag ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.80</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">60HWATUN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $21.99</strong> with promo code: <strong class="m_codes">60HWATUN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35naxMF">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nxTma2"><img src="https://m.media-amazon.com/images/I/71ae9XfgNmL._SR400,400_.jpg" alt="Womens Tunic Tops" title="Womens Tunic Tops"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nxTma2">Fall 2019 Womens Tunic Tops for Leggings Long Plaid Sleeve Sweatshirts</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">80X9SWZ7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $29.99</strong> with promo code: <strong class="m_codes">80X9SWZ7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nxTma2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="41" data-price="9.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/324IKhT"><img src="https://m.media-amazon.com/images/I/61XRxTvCsXL._SR400,400_.jpg" alt="12Pcs 5ml Rose Gold Refillable Roller Bottles" title="Roller Bottles"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/324IKhT">12Pcs 5ml Rose Gold Refillable Roller Bottles for Essential Oil,Perfume Sample Bottles,Glass Empty Roll On Bottles ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.43</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_green"><span> + $1.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $1.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">4124GBJ6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>41% off at $15.99</strong> with promo code: <strong class="m_codes">4124GBJ6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/324IKhT">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="4.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/324eu6W"><img src="https://m.media-amazon.com/images/I/61OxUi4OuzL._SR400,400_.jpg" alt="GaraTia Warm Indoor Slippers" title="GaraTia Warm Indoor Slippers"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/324eu6W">GaraTia Warm Indoor Slippers for Women Fleece Plush Bedroom Winter Boots</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.79</span><span class="ori_price">$15.98</span></address>
      <textarea readonly="readonly" class="code_area">708GERT3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $15.98</strong> with promo code: <strong class="m_codes">708GERT3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/324eu6W">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2p6jBos"><img src="https://m.media-amazon.com/images/I/6134tOySabL._SR400,400_.jpg" alt="Portable Charger 20000M Power Bank" title="Portable Charger 20000M Power Bank"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2p6jBos">Portable Charger 20000M Power Bank 10000mAh, T-CORE Smallest External Battery lightest Ultra Compact High Speed Cell Phone Mobile...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$27.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">301C8ODP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $27.99</strong> with promo code: <strong class="m_codes">301C8ODP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2p6jBos">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/313uWCQ"><img src="https://m.media-amazon.com/images/I/8195Rau3JWL._SR400,400_.jpg" alt="FERTOY Travel Pillow Memory Foam" title="FERTOY Travel Pillow Memory Foam"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/313uWCQ">FERTOY Travel Pillow Memory Foam Travel Pillow Neck Pillow for Traveling, Comfortable & Portable Airplane Pillow...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$20.99</span></address>
      <textarea readonly="readonly" class="code_area">4073QSED</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $20.99</strong> with promo code: <strong class="m_codes">4073QSED</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/313uWCQ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M0T1pR"><img src="https://m.media-amazon.com/images/I/71txPKLsm4L._SR400,400_.jpg" alt="DierCosy Sneakers" title="DierCosy Sneakers"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M0T1pR">DierCosy Sneakers for Men Lightweight Gym Shoes Mens Tennis Shoes Non Slip Walking Shoes Athletic Running Slip-On Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">505DERDF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $32.99</strong> with promo code: <strong class="m_codes">505DERDF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2M0T1pR">Use Code at Amazon</a></div>
</div>
 
