<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

 <!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <span class="ex_date ex_date_new">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="35" data-price="29.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsSCBK"><img src="https://m.media-amazon.com/images/I/51oQIXTBVzL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>678 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsSCBK">Wireless Earbuds, TaoTronics Bluetooth 5.0 Headphones True Wireless Ear Buds IPX7 Waterproof Dual Built-in Mic Earphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.89</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>35% off at $45.99</strong> with promo code: <strong>35CNNTC7</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsSCBK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lrbWPQ"><img src="https://m.media-amazon.com/images/I/51MFXO9Ir3L._SR400,400_.jpg" alt="Wireless Charging Pad" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lrbWPQ">Wireless Charging Pad, UDISON Ultra Thin Qi-Certified Fast Wireless Charger, 10W Compatible Galaxy...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $13.99</strong> with promo code: <strong>50JKT5MQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 05:00 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lrbWPQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l9aVvw"><img src="https://m.media-amazon.com/images/I/71beHwtyfIL._SR400,400_.jpg" alt="Asiahorse MS-9002 120mm ARGB Music case Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>661 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l9aVvw">Asiahorse MS-9002 120mm ARGB Music case Fan(in and Outside Light efect) Adjustable Speed 800-1500 RPM Synchronizable RGB...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$34.99</span></address>
      <p><span>Take <strong>20% off at $34.99</strong> with promo code: <strong>207VOIWF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2l9aVvw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="47.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lt5JTx"><img src="https://m.media-amazon.com/images/I/71gczqsNA6L._SR400,400_.jpg" alt="Laptop Shoulder Satchel Computer Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>83 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lt5JTx">ECOSUSI Women Briefcase PU Leather Laptop Shoulder Satchel Computer Bag with Detachable Bow fits 15.6 inch Laptops,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.24</span><span class="ori_price">$62.99</span></address>
      <p><span>Take <strong>25% off at $62.99</strong> with promo code: <strong>25TDSHOW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lt5JTx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lqLTbt"><img src="https://m.media-amazon.com/images/I/719h8WYxZ1L._SR400,400_.jpg" alt="DM Car Phone Mount Air Vent..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>377 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lqLTbt">DM Car Phone Mount Air Vent Automatic Clamping Cell Phone Holder for Car Wireless Charger Compatible With...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.79</span><span class="ori_price">$27.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $27.99</strong> with promo code: <strong>158Z5M8P</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lqLTbt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsq3o1"><img src="https://m.media-amazon.com/images/I/71bv65kjDzL._SR400,400_.jpg" alt="Wireless Car Charger Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsq3o1">Wireless Car Charger Mount, Air Vent Phone Holder,Qi 10W Fast Charging Compatible Samsung Note 8/7/5,Galaxy S9/S8/S...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>7061BJCB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsq3o1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lru7VA"><img src="https://m.media-amazon.com/images/I/71BXhLxhQ5L._SR400,400_.jpg" alt="Key Finder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>54 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lru7VA">Key Finder - TBMax Smart Key Tracker Bluetooth GPS Locator with App Control for Phone, Anti-Lost Finder Device,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>50% off at $19.99</strong> with promo code: <strong>50VCQDPB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lru7VA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="25.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsvEL3"><img src="https://m.media-amazon.com/images/I/718rK1Obs1L._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsvEL3">Wireless Earbuds Bluetooth Headphones Mini Binaural Waterproof 60H Cycle Play Time Bluetooth 5.0...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.79</span><span class="ori_price">$42.99</span></address>
      <p><span>Take <strong>40% off at $42.99</strong> with promo code: <strong>403FC39T</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsvEL3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljNWOn"><img src="https://m.media-amazon.com/images/I/71M8XMnaKrL._SR400,400_.jpg" alt="GKG Tactical Flashlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>162 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljNWOn">GKG Tactical Flashlight, 2pack T6 Pocket Size Handheld LED Flashlight Portable Flashlight with 5 Modes Zoomable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>50% off at $15.99</strong> with promo code: <strong>503PYRAP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ljNWOn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2la9Kfl"><img src="https://m.media-amazon.com/images/I/518lulYCaiL._SR400,400_.jpg" alt="OXA Sun Sleeves" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2la9Kfl">OXA Sun Sleeves, 2 Pairs UV Protection Cooling Anti-Slip Arm Sleeves</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.06</span><span class="ori_price">$12.95</span></address>
      <p><span>Take <strong>30% off at $12.95</strong> with promo code: <strong>30CQSZ4O</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2la9Kfl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="239.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jx2S5o"><img src="https://m.media-amazon.com/images/I/7167aX1nrAL._SR400,400_.jpg" alt="DCOICFAN DOFAN SF Spring Mattress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jx2S5o">DCOICFAN DOFAN SF Spring Mattress Queen Bamboo Memory Foam Charcoal Latex Gel 10-Inch</a></p>
    <div class="code_high">
      <address><span class="dis_price">$239.99</span><span class="ori_price">$399.99</span></address>
      <p><span>Take <strong>40% off at $399.99</strong> with promo code: <strong>40GEWPH8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Jx2S5o">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JMbkNj"><img src="https://m.media-amazon.com/images/I/61LvgAx3C7L._SR400,400_.jpg" alt="Rosehip Facial Cleanser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JMbkNj">Rosehip Facial Cleanser by Majestic Pure - Hydrating Cream Face Cleanser for Youthful Radiant Looking Skin...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$14.98</span></address>
      <p><span>Take <strong>60% off at $14.98</strong> with promo code: <strong>60R6KVC6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JMbkNj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="6.62">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ltn5Qb"><img src="https://m.media-amazon.com/images/I/61NO82fWV9L._SR400,400_.jpg" alt="LotFancy Sunglasses for Women" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>233 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ltn5Qb">LotFancy Sunglasses for Women, Aviator Sunglasses, UV400 Protection Lens, 61MM, Metal Frame,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.62</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>49% off at $12.99</strong> with promo code: <strong>49N75947</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ltn5Qb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lopKdL"><img src="https://m.media-amazon.com/images/I/81YYcc7WuqL._SR400,400_.jpg" alt="Kitchen Utensils Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lopKdL">Kitchen Utensils Set, Cooking Utensils Set, 22 Silicone Kitchen Utensil Set, Kitchen Cooking Tool BPA Free Non Toxic Kitchen Gadgets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $29.99</strong> with promo code: <strong>50NVR7HF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lopKdL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsHncw"><img src="https://m.media-amazon.com/images/I/71UYMhM0GnL._SR400,400_.jpg" alt="Mossy Oak Stainless Steel Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>53 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsHncw">Mossy Oak Stainless Steel Water Bottle - Leak-Proof Vacuum Insulated Cola Shape Bottle - Keeps Drinks Cold for 24 Hours & Hot for 12 Hours</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>30L8FFAE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsHncw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljQHPJ"><img src="https://m.media-amazon.com/images/I/51Y9MVQX90L._SR400,400_.jpg" alt="HAMSUNG Air Purifier Air Purifier Filter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljQHPJ">HAMSUNG Air Purifier Air Purifier Filter Air Purifier filter Odor Allergies Eliminator 3 in 1 for Smokers...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$69.99</span></address>
      <p><span>Take <strong>50% off at $69.99</strong> with promo code: <strong>50YYZ6TT</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ljQHPJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="5.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsIZmB"><img src="https://m.media-amazon.com/images/I/51lVjdHKXGL._SR400,400_.jpg" alt="Livhò Sunglasses for Women" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>Revi1,087ew_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsIZmB">Livhò Sunglasses for Women, Cat Eye Mirrored + Transparent Flat Lenses Metal Frame Sunglasses UV400</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.39</span><span class="ori_price">$11.98</span></address>
      <p><span>Take <strong>55% off at $11.98</strong> with promo code: <strong>55OFFCATEYE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsIZmB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsLu8t"><img src="https://m.media-amazon.com/images/I/51S313CSXPL._SR400,400_.jpg" alt="MICHELANGELO 11 Inch Copper Frying Pan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsLu8t">MICHELANGELO 11 Inch Copper Frying Pan with Ultra Nonstick Ceramic Titanium Coating, 11 Inch Frying Pan Nonstick,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$54.95</span></address>
      <p><span>Take <strong>80% off at $54.95</strong> with promo code: <strong>80L3NRNC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 16, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lsLu8t">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="160.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ltvbZ5"><img src="https://m.media-amazon.com/images/I/71sCrbmlHAL._SR400,400_.jpg" alt="TOMOLOO Hoverboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>514 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ltvbZ5">TOMOLOO Hoverboard with Bluetooth Speaker UL2272 Certified Self Balancing Electric Scooter 6.5" Two-Wheel Hover Boards...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$160.00</span><span class="ori_price">$319.99</span></address>
      <p><span>Take <strong>50% off at $319.99</strong> with promo code: <strong>504SGWWQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ltvbZ5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="6.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lkDohX"><img src="https://m.media-amazon.com/images/I/81b1hGoQjLL._SR400,400_.jpg" alt="Boar Bristle Hair Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>611 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lkDohX">Boar Bristle Hair Brush with Nylon Detangle Pins,Wooden Paddle Hair brush for Women Men Smoothing and Detangling Thick...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.65</span><span class="ori_price">$17.97</span></address>
      <p><span>Take <strong>63% off at $17.97</strong> with promo code: <strong>63ZHAY9Q</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lkDohX">Use Code at Amazon</a></div>
</div>
