<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code</a></div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
-->

<div class="card clearfix" data-score="60" data-price="4.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RqDL6A"><img src="https://m.media-amazon.com/images/I/71JEl52as4L._SR400,400_.jpg" alt="Hair Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RqDL6A">Hair Brush-Natural Boar Bristle Hair Brush With Detangling Pins, Best Paddle Brush for Women Men&Kids'Long Thick Fine Curly Dry Wet and Damaged Hair …</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.65</span><span class="ori_price">$11.62</span></address>
      <p><span>Take <strong>60% off at $11.62</strong> with promo code: <strong>604JF9IA</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RqDL6A">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="3.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RsyITj"><img src="https://m.media-amazon.com/images/I/51wJJFym9wL._SR400,400_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>171 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RsyITj">Hair Scalp Massager Shampoo Brush, Scalp Care Hair Wash Brush Silicone Comb - Green</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.00</span><span class="ori_price">$5.99</span>
       <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $5.99</strong> with promo code: <strong>50UKVMLU</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RsyITj">Use Code</a></div>
</div>


<div class="card clearfix" data-score="45" data-price="18.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RsDy33"><img src="https://m.media-amazon.com/images/I/81cpBZ0BAiL._SR400,400_.jpg" alt="Bath Bombs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RsDy33">Bath Bombs for Women for Girls with Surprise Inside 12 Packs, Natural Lush Bath Gifts for Kids, Great Gift for Birthday,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.14</span><span class="ori_price">$32.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>45% off at $32.99</strong> with promo code: <strong>45RS2JCF</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RsDy33">Use Code</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FqLNaW"><img src="https://m.media-amazon.com/images/I/71120AgGUnL._SR400,400_.jpg" alt="YaBland Wireless Charger Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FqLNaW">YaBland Wireless Charger Stand,Fast 4in1 Qi Charging Station 10W Compatible with Samsung S10/S9, 7.5W 5W for Apple Watch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$27.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $27.99</strong> with promo code: <strong>303HXLD4</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FqLNaW">Use Code</a></div>
</div>


<div class="card clearfix" data-score="16" data-price="65.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X1czS0"><img src="https://m.media-amazon.com/images/I/71FnfRynOLL._SR400,400_.jpg" alt="TESmart HDMI KVM Switch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>107 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X1czS0">TESmart HDMI KVM Switch 2 in 1 Out 4K@60Hz 2 Ports HDMI KVM Switch with USB Port for Windows and Mac OS X</a></p>
    <div class="code_high">
      <address><span class="dis_price">$65.51</span><span class="ori_price">$77.99</span></address>
      <p><span>Take <strong>16% off at $77.99</strong> with promo code: <strong>16A5BUNR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 01:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X1czS0">Use Code</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y5kvy5"><img src="https://m.media-amazon.com/images/I/81wyoIvrsmL._SR400,400_.jpg" alt="Waterproof Phone Pouch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>223 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y5kvy5">Waterproof Phone Pouch, 2 Pack Veckle Clear TPU Universal Water Proof Cell Phone Pouch Floating Dry Bag Waterproof Case for Smartphones OnePlus 7 iPhone ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.59</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>40% off at $10.99</strong> with promo code: <strong>40ZB7U1Y</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y5kvy5">Use Code</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WZJyGy"><img src="https://m.media-amazon.com/images/I/61Wc1VvMtVL._SR400,400_.jpg" alt="SoundPEATS Bluetooth Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>68 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WZJyGy">SoundPEATS Bluetooth Earphones, Wireless 4.1 Magnetic Earphones, in-Ear IPX7 Sweatproof Headphones with Mic (Superior Sound with Upgraded Drivers,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">17.39$</span><span class="ori_price">$28.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $28.99</strong> with promo code: <strong>40WXYM6D</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WZJyGy">Use Code</a></div>
</div>


<div class="card clearfix" data-score="35" data-price="25.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X00U66"><img src="https://images-na.ssl-images-amazon.com/images/I/41XKOiqMdNL._SX679_.jpg" alt="Power Bank 20000mAh" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X00U66">Power Bank 20000mAh, Yoobao Portable Charger External Battery Pack (with 2 Outputs & 3 Inputs, LED Flashlight) High Capacity Powerbank for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.34</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>35% off at $38.99</strong> with promo code: <strong>353TKCMW</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X00U66">Use Code</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="17.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RtAUdi"><img src="https://m.media-amazon.com/images/I/517oRBtv5DL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>369 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RtAUdi">Bluetooth Headphones,GUSGU Bluetooth 5.0 Wireless Headphones with Microphone Waterproof Running Headphones,HD Stereo Bluetooth Wireless Earphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.58</span><span class="ori_price">$21.98</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $21.98</strong> with promo code: <strong>20QJYIAT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RtAUdi">Use Code</a></div>
</div>


<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZ7i3y"><img src="https://m.media-amazon.com/images/I/61Hw3QIwwoL._SR400,400_.jpg" alt="Yoobao Bluetooth Speakers & Power Bank" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZ7i3y">Yoobao Bluetooth Speakers & Power Bank 10000mAh Portable Charger(2-in-1),24-Hour Playtime, 32 ft Bluetooth Range, Built-in Mic. Perfect Bluetooth Speaker...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>30% off at $39.99</strong> with promo code: <strong>30P9NK8D</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZ7i3y">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y5tUG7"><img src="https://m.media-amazon.com/images/I/61NQ-wHEYaL._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y5tUG7">True Wireless Earbuds, BassPal Bluetooth 5.0 Headphones TWS in-Ear Mini Headset w/Mic IPX7 Waterproof, Deep Bass 3D Stereo Sound, Portable Charging Case...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $49.99</strong> with promo code: <strong>501EV1QC</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y5tUG7">Use Code</a></div>
</div>


<div class="card clearfix" data-score="70" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RsE8Oh"><img src="https://m.media-amazon.com/images/I/61sNn-ZYQ-L._SR400,400_.jpg" alt="Cell Phone Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,528 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RsE8Oh">Cell Phone Stand, LOBKIN Metal PhoneTablet Cradle, Holder, Stand,for iPhone 8 X 7 6 6s Plus 5 5s 5c Charging, Accessories Desk, All Android Smartphone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>70% off at $19.99</strong> with promo code: <strong>70WQBM6O</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RsE8Oh">Use Code</a></div>
</div>


<div class="card clearfix" data-score="15" data-price="24.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IzzNpt"><img src="https://m.media-amazon.com/images/I/61hfeWcE9nL._SR400,400_.jpg" alt="Military Tactical Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IzzNpt">Military Tactical Backpack with D-Ring Screw Locking Assault Pack Army Molle Bug Out Bag Backpacks</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.64</span><span class="ori_price">$28.99</span></address>
      <p><span>Take <strong>15% off at $28.99</strong> with promo code: <strong>15FSI5JP</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IzzNpt">Use Code</a></div>
</div>


<div class="card clearfix" data-score="15" data-price="22.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XuP7My"><img src="https://m.media-amazon.com/images/I/614FBIzuFiL._SR400,400_.jpg" alt="Louis Garden Beauty and The Beast Rose Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>399 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XuP7My">Louis Garden Beauty and The Beast Rose Kit, Colorful Silk Rose and Led Light with Crystals in Glass Dome on Wooden Base for Home Decor Holiday Party...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.86</span><span class="ori_price">$26.89</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $26.89</strong> with promo code: <strong>15Y1CI59</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XuP7My">Use Code</a></div>
</div>


<div class="card clearfix" data-score="15" data-price="11.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IY3ZJY"><img src="https://images-na.ssl-images-amazon.com/images/I/51WD-75j%2B4L._SX522_.jpg" alt="SUNWILL Tumbler Skinny Travel Tumbler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>41 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IY3ZJY">SUNWILL Tumbler Skinny Travel Tumbler with Lid, Vacuum Insulated Double Wall Stainless Steel 12oz for Coffee, Tea, Beverages, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.04</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>15% off at $12.99</strong> with promo code: <strong>154JCCUJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IY3ZJY">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N28Zm4"><img src="https://m.media-amazon.com/images/I/6146VzV43iL._SR400,400_.jpg" alt="Lightning to USB Camera Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>128 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N28Zm4">Lightning to USB Camera Adapter,YIKU 4 in 1 SD/TF Card Reader, Trail Game Camera Card Viewer Reader, Micro SD Card Reader USB 3.0 OTG Cable support iPhone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.74</span><span class="ori_price">$17.49</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $17.49</strong> with promo code: <strong>503L8YGQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N28Zm4">Use Code</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYyTSs"><img src="https://m.media-amazon.com/images/I/710L9C4sGpL._SR400,400_.jpg" alt="Multimedia Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>713 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYyTSs">Rii RK100+ Multiple Color Rainbow LED Backlit Large Size USB Wired Mechanical Feeling Multimedia Gaming Keyboard</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $18.99</strong> with promo code: <strong>30HNWY2Q</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IYyTSs">Use Code</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="119.2">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N0ccT8"><img src="https://m.media-amazon.com/images/I/61X7eweTxfL._SR400,400_.jpg" alt="Smartphone Handheld Gimbal" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>22 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N0ccT8">[Official Store] Snoppa Atom a Pocket Sized 3 axis Smartphone Handheld Gimbal Stabilizer w/Focus Pull & Zoom for iPhone Xs Max Xr X 8 Plus 7 6 SE...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$119.2</span><span class="ori_price">$149.00</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $149.00</strong> with promo code: <strong>20J1ZNCO</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N0ccT8">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L75JmU"><img src="https://m.media-amazon.com/images/I/61cPjFTu76L._SR400,400_.jpg" alt="Wireless Bluetooth Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2L75JmU">Wireless Bluetooth Earbuds,TWS Bluetooth True Wireless Earbuds 15H Playtime 3D Stereo Sound Wireless Headphones,Built-in Microphone,Gift Box … (LA77-TWS-QL)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.50</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>50% off at $38.99</strong> with promo code: <strong>509R6B82</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2L75JmU">Use Code</a></div>
</div>

<div class="card clearfix" data-score="5" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J1zD9p"><img src="https://m.media-amazon.com/images/I/714LziW2OyL._SR400,400_.jpg" alt="Stereo Gaming Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>253 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>5% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J1zD9p">Stereo Gaming Headset for PS4 Xbox One, Beexcellent 3.5mm Bass Over Ear PC Gaming Headphones with Mic/Surround Sound/Noise Isolation/Volume Control/LED Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>5% off at $19.99</strong> with promo code: <strong>05PS4PFX</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J1zD9p">Use Code</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="32.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y8X6Mq"><img src="https://m.media-amazon.com/images/I/51Z01i0fD8L._SR400,400_.jpg" alt="Aisuo Night Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y8X6Mq">Aisuo Night Light - 5 in 1 Lamp with Bluetooth Speaker, 4000mAh Battery & 12/24H Digital Calendar Alarm Clock, Touch Control & Color Dimmable,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.39</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>10% off at $35.99</strong> with promo code: <strong>10E5V7TP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y8X6Mq">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N42dwe"><img src="https://m.media-amazon.com/images/I/71JyAucp5UL._SR400,400_.jpg" alt="Vitamin C Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N42dwe">Vitamin C Serum, BREYLEE Anti-Aging Facial Serum with Hyaluronic Acid, Retinol, and Vitamin E Moisturizing Face Serum...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $17.99</strong> with promo code: <strong>50WDBNZU</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N42dwe">Use Code</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="67.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4edik"><img src="https://m.media-amazon.com/images/I/81g2lpVy7WL._SR400,400_.jpg" alt="Over EZ Hangover Cure" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>47 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4edik">Over EZ Hangover Cure and Hangover Prevention with Milk Thistle, Anti Hangover Pill, Liver Detox with Amino Acids, Vitamin B6 and B12, Hangover Pill ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$67.49</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>25% off at $89.99</strong> with promo code: <strong>25OVEREZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y4edik">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2x6mvdt"><img src="https://m.media-amazon.com/images/I/610vfiLmbFL._SR400,400_.jpg" alt="Hand Mixer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>104 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2x6mvdt">Hand Mixer, Cusinaid 5-Speed Electric Hand Mixer with Turbo Mixers Includes Beaters, Dough Hooks and Storage Case (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.00</span><span class="ori_price">$33.99</span></address>
      <p><span>Take <strong>50% off at $33.99</strong> with promo code: <strong>50J93ZB8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2x6mvdt">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4afGj"><img src="https://m.media-amazon.com/images/I/51kgrZ+OiuL._SR400,400_.jpg" alt="Portable Cool Mist" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4afGj">BINLEFOIS Portable Cool Mist Vaporizer and Handheld Inhaler Machine, Kids Adults and Daily Home Use</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.45</span><span class="ori_price">$28.90</span></address>
      <p><span>Take <strong>50% off at $28.90</strong> with promo code: <strong>50MYAW33</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y4afGj">Use Code</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xbq2Yd"><img src="https://m.media-amazon.com/images/I/71f7mfB1UlL._SR400,400_.jpg" alt="Fires Mens Work Safety Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xbq2Yd">Fires Mens Work Safety Shoes Slip-Resistant Anti-Puncture Industrial Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>40% off at $49.99</strong> with promo code: <strong>402BRZG6</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xbq2Yd">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RuoQIK"><img src="https://m.media-amazon.com/images/I/51fULivBceL._SR400,400_.jpg" alt="KT High Waisted Leggings" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>86 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RuoQIK">KT High Waisted Leggings with Pockets - Womens Tummy Control Workout Leggings Yoga Pants</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>503AEC6D</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RuoQIK">Use Code</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="254.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xf5myh"><img src="https://m.media-amazon.com/images/I/71PmwzI4LBL._SR400,400_.jpg" alt="ANCHEER Indoor Cycling Bike" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>297 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xf5myh">ANCHEER Indoor Cycling Bike, 49lbs Flywheel Belt Drive Indoor Exercise Bike (Model: ANCHEER-B3008)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$254.99</span><span class="ori_price">$279.99</span></address>
      <p><span>Take <strong>15% off at $279.99</strong> with promo code: <strong>15TC1XEM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xf5myh">Use Code</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="15.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYOwJx"><img src="https://m.media-amazon.com/images/I/61E8aawThrL._SR400,400_.jpg" alt="Blika Auger Drill Bit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>102 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYOwJx">Blika Auger Drill Bit, Garden Plant Flower Bulb Auger 3" x 10" Rapid Planter with Garden Genie Gloves, Post or Umbrella Hole Digger for 3/8" Hex Drive Drill</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.17</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>31% off at $21.99</strong> with promo code: <strong>31DW1GK8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IYOwJx">Use Code</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZVbU2"><img src="https://m.media-amazon.com/images/I/518z826IgEL._SR400,400_.jpg" alt="TRSCIND Cool Survival LED Paracord Bracelet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZVbU2">TRSCIND Cool Survival LED Paracord Bracelet Birthday Gift Gadgets for Men Boyfriend Teen Boy Scouts, 6-in-1 Survival Bracelet SOS Everyday Carry Gear with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.93</span><span class="ori_price">$14.88</span></address>
      <p><span>Take <strong>40% off at $14.88</strong> with promo code: <strong>40C9X9WS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZVbU2">Use Code</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="6.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZn3aF"><img src="https://m.media-amazon.com/images/I/81pUPMJR-qL._SR400,400_.jpg" alt="Wsiiroon Upgraded LED Flashlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,278 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZn3aF">Wsiiroon Upgraded LED Flashlight, Best Pocket Flashlight Super Bright with 5 Modes, Waterproof, Zoomable, Portable with Clip for Working Camping Emergency-2</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.75</span><span class="ori_price">$14.99</span>
         <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
         <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>55% off at $14.99</strong> with promo code: <strong>55XEKRWL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 05:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZn3aF">Use Code</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="18.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xaxAdQ"><img src="https://m.media-amazon.com/images/I/51od+CGYYpL._SR400,400_.jpg" alt="eLinkSmart HD Mini WiFi Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xaxAdQ">eLinkSmart HD Mini WiFi Camera Baby Monitor for Home Security, Night Vision, Video Recording, Motion and Crying Detection, Cloud Storage</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.69</span><span class="ori_price">$21.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $21.99</strong> with promo code: <strong>15MLTRZ9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xaxAdQ">Use Code</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xr4w0q"><img src="https://m.media-amazon.com/images/I/61DxdEzw-pL._SR400,400_.jpg" alt="proLANCROP Women's Running Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xr4w0q">proLANCROP Women's Running Shoes - Lightweight Athletic Slip on Walking Sneakersdcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.19</span><span class="ori_price">$28.99</span></address>
      <p><span>Take <strong>20% off at $28.99</strong> with promo code: <strong>20EMBXAW</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 12:01 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xr4w0q">Use Code</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="10.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IyPgq3"><img src="https://m.media-amazon.com/images/I/71T-WgnCwaL._SR400,400_.jpg" alt="Luxe Performance Cable Strap" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>240 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IyPgq3">Luxe Performance Cable Strap - Premium Adjustable No Tail Sunglass Strap & Eyewear Retainer for your Sunglasses, Eyeglasses, or Prescription Glasses (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.39</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>20% off at $12.99</strong> with promo code: <strong>20LUXESTRAPS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IyPgq3">Use Code</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2x8oZbg"><img src="https://m.media-amazon.com/images/I/61y1a95cjcL._SR400,400_.jpg" alt="Leather Backpack Travel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>161 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2x8oZbg">Zicac Girl's Sliver Holographic Laser Leather Backpack Travel Casual Satchel (Silver#2)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $25.99</strong> with promo code: <strong>509Q7644</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2x8oZbg">Use Code</a></div>
</div>
