<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="35" data-price="64.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XPyS8N"><img src="https://images-na.ssl-images-amazon.com/images/I/71jCkmQtVXL._SX522_.jpg" alt="HELM Audio True Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>51 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XPyS8N">HELM Audio True Headphones, Wireless, Bluetooth, Earbuds/Earphones, Recharge up to 5X w/Charging Case,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XPyS8N">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="2,797.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ShsA0A"><img src="https://images-na.ssl-images-amazon.com/images/I/91rhYwnuu7L._SX679_.jpg" alt="Samsung QLED 4K Smart TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ShsA0A">Samsung QN75Q80RAFXZA Flat 75'' QLED 4K Q80 Series Smart TV (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2,797.99</span><span class="ori_price">$3,999.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ShsA0A">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="549.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XO3sVi"><img src="https://images-na.ssl-images-amazon.com/images/I/610PzgEPOLL._SX679_.jpg" alt="Samsung Galaxy S10e" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>308 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XO3sVi">Samsung Galaxy S10e Factory Unlocked Phone with 128GB, (U.S. Warranty) - Prism White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$549.99</span><span class="ori_price">$749.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XO3sVi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="739.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y8jEzV"><img src="https://images-na.ssl-images-amazon.com/images/I/71VMn6229fL._SX679_.jpg" alt="Samsung Galaxy Note 9" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>610 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y8jEzV">Samsung Galaxy Note 9 Factory Unlocked Phone with 6.4" Screen and 128GB (U.S. Warranty), Ocean Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$739.77</span><span class="ori_price">$999.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y8jEzV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O26uAE"><img src="https://images-na.ssl-images-amazon.com/images/I/71CUrtPm8TL._SX522_.jpg" alt="Logitech Bluetooth Wireless Computer Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O26uAE">Logitech MX Sound 2.0 Premium Bluetooth Wireless Computer Speakers with 3.5mm Jack 980-001281 (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2O26uAE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y74YAZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61lZadslStL._SY355_.jpg" alt="Echo Connect" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>973 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y74YAZ">Echo Connect – requires compatible Alexa-enabled device and home phone service</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y74YAZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XIEd6N"><img src="https://images-na.ssl-images-amazon.com/images/I/51SRU6lcYtL._SY879_.jpg" alt="Stick Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XIEd6N">Kenmore Elite 10441 Pet Friendly 25V UltraLight Cordless Complete Super Stick Vacuum Cleaner w/Pet PowerMate,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$299.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XIEd6N">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="279.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32vcuFn"><img src="https://images-na.ssl-images-amazon.com/images/I/71FTuBvs8-L._SX522_.jpg" alt="Corsair Desktop Memory" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>548 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32vcuFn">Corsair Dominator Platinum 32GB (4x8GB) DDR4 3200MHz C16 Desktop Memory</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$279.99</span><span class="ori_price">$501.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32vcuFn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="399.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lqruz5"><img src="https://images-na.ssl-images-amazon.com/images/I/51UyfJSsb0L._SX522_.jpg" alt="QNAP QSW-1208-8C-US 12-Port..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lqruz5">QNAP QSW-1208-8C-US 12-Port Unmanaged 10GbE Switch Twelve SFP+ with Shared Eight 10GBASE-T Ports</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.00</span><span class="ori_price">$549.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lqruz5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32s2ywi"><img src="https://images-na.ssl-images-amazon.com/images/I/81jx3ucK%2B2L._SX522_.jpg" alt="Marshall Major III Wired On-Ear Headphone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32s2ywi">Marshall Major III Wired On-Ear Headphone, Brown - New</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32s2ywi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="99.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32yggxB"><img src="https://images-na.ssl-images-amazon.com/images/I/618d876cszL._SX522_.jpg" alt="Philips Kitchen Viva Collection Soup Maker Philips" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>41 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32yggxB">Philips Kitchen HR2204/70 Viva Collection Soup Maker Philips, 1.2 liters, Black and Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.95</span><span class="ori_price">$129.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32yggxB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JKq2nR"><img src="https://images-na.ssl-images-amazon.com/images/I/41jTlHf2a0L.jpg" alt="Pioneer Pro DJ Black Professional DJ Headphone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JKq2nR">Pioneer Pro DJ Black HDJ-X5-K Professional DJ Headphone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.00</span><span class="ori_price">$99.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JKq2nR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="64.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SmiSKd"><img src="https://images-na.ssl-images-amazon.com/images/I/81sKBmJa2DL._UY741_.jpg" alt="Tommy Hilfiger Men's Denim Quartz Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SmiSKd">Tommy Hilfiger Men's Denim Quartz Watch with Silicone Strap, Black, 19.4 (Model: 1791483)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.75</span><span class="ori_price">$95.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SmiSKd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="80.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ShUf1k"><img src="https://images-na.ssl-images-amazon.com/images/I/51RLNxV9pkL._SX522_.jpg" alt="Monoprice TV Wall Mount Bracket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>131 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ShUf1k">Monoprice Above Fireplace Pull-Down Full-Motion Articulating TV Wall Mount Bracket - for TVs 32in to 50in, Max Weight 60lbs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$80.24</span><span class="ori_price">$109.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ShUf1k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SkQubv"><img src="https://m.media-amazon.com/images/S/aplus-media/sota/4e6df80e-e3f3-49b7-8b02-d5617df3da58._CR0,0,300,300_PT0_SX300__.jpg" alt="My Arcade" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>78 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SkQubv">My Arcade - Retro Arcade Machine X Portable Gaming Mini Arcade Cabinet with 300 Built-in Hi-res 16 bit Games by My Arcade</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SkQubv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="32.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JKbk0d"><img src="https://images-na.ssl-images-amazon.com/images/I/81uUsFoFYqL._SX679_.jpg" alt="T-fal Cookware Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>237 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JKbk0d">T-fal Ultimate Hard Anodized 2-Piece Scratch Resistant Titanium Nonstick Thermo-Spot PFOA Free 10/12-Inch Cookware Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.24</span><span class="ori_price">$42.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JKbk0d">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="21.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQQxIu"><img src="https://images-na.ssl-images-amazon.com/images/I/71C8k18strL._SX679_.jpg" alt="Flexi New Classic Retractable Dog Leash" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>41 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQQxIu">Flexi New Classic Retractable Dog Leash (Cord), 26 ft, Small, Pink</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.74</span><span class="ori_price">$28.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JQQxIu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="40.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y9jtV5"><img src="https://images-na.ssl-images-amazon.com/images/I/81Hk8Fc-57L._SX679_.jpg" alt="Chair Cushion" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y9jtV5">Pillow Perfect Outdoor Pom Pom Play Peachtini Squared Corners Chair Cushion</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.99</span><span class="ori_price">$74.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y9jtV5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="40.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ls1jrI"><img src="https://images-na.ssl-images-amazon.com/images/I/71u-O%2BveoAL._SX679_.jpg" alt="Pillow Perfect Outdoor Cushion" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>118 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ls1jrI">Pillow Perfect Outdoor Forsyth Wicker Loveseat Cushion, Turquoise</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.79</span><span class="ori_price">$56.94</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ls1jrI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="44.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xQvUX3"><img src="https://images-na.ssl-images-amazon.com/images/I/91Rmm1e7fKL._SX679_.jpg" alt="PLAYMOBIL® Shopping Plaza Building Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xQvUX3">PLAYMOBIL® Shopping Plaza Building Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.24</span><span class="ori_price">$74.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xQvUX3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="69.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SisWUJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61PYJdQam0L._SX522_.jpg" alt="Monoprice 3-Way Fiber In-Wall Speakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SisWUJ">Monoprice 3-Way Fiber In-Wall Speakers - 8 Inch (Pair) With Removable And Paintable Grille - Caliber Series</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.90</span><span class="ori_price">$102.92</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SisWUJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JJq5jK"><img src="https://images-na.ssl-images-amazon.com/images/I/61lC-w1n-AL._SX522_.jpg" alt="Calphalon Nylon Ladle Utensil" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>153 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JJq5jK">Calphalon Nylon Ladle Utensil</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JJq5jK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="22.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xOboX4"><img src="https://images-na.ssl-images-amazon.com/images/I/71cwWOUorxL._SY879_.jpg" alt="Urban Shop Eiffel Tower Table Lamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>110 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xOboX4">Urban Shop Eiffel Tower Table Lamp, 14"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.00</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xOboX4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="8.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JJiiCH"><img src="https://images-na.ssl-images-amazon.com/images/I/618cJCdz-1L._SX679_.jpg" alt="Antique Galvanized Metal Jug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JJiiCH">Stonebriar Farmhouse Small Antique Galvanized Metal Jug</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.83</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JJiiCH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JLHPuP"><img src="https://images-na.ssl-images-amazon.com/images/I/91YJl9aTgiL._SX679_.jpg" alt="Meal Prep Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,767 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JLHPuP">Fit and Fresh 944FFJX232C Original Jaxx FitPak Insulated Cooler Lunch Box, Meal Prep Bag with Portion Control Containers,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JLHPuP">Shop Now at Amazon</a></div>
</div>
