<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card dealofday clearfix" data-score="44" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XiYg6E"><img src="https://images-na.ssl-images-amazon.com/images/I/810dZGLhVwL._SX679_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Save up to 44% on YOREPEK Bags</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2XsF7UH">TSA Friendly Durable Travel Laptop Computer Backpack</a> - <span>39.19<em>69.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/329ana4">TSA Durable Water Resistant Outdoor Laptop Backpack</a> - <span>41.99<em>69.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LBtcNs">TSA Friendly Durable Laptop Backpack</a> - <span>48.99<em>69.99</em></span></li>
            <li><a href="https://amzn.to/2XiYg6E">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XiYg6E">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="674.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/327gICR"><img src="https://images-na.ssl-images-amazon.com/images/I/61g6Z7viX5L._SY606_.jpg" alt="Apple iPad Pro" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>405 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/327gICR">Apple iPad Pro (11-inch, Wi-Fi, 64GB) - Space Gray (Latest Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$674.00</span><span class="ori_price">$799.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/327gICR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xp0YaO"><img src="https://images-na.ssl-images-amazon.com/images/I/71ogaAK8DGL._AC_SL1500_.jpg" alt="PlayStation Classic by Sony" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>473 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xp0YaO">PlayStation Classic by Sony</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xp0YaO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="39.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/329blDe"><img src="https://m.media-amazon.com/images/I/61+tf+sV+qL._AC_UL436_.jpg" alt="Electric Razor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/329blDe">Electric Razor for Men, MaikcQ 5 in 1 Electric Shaver & Grooming Kit: Floating Rotary Shavers Beard Trimmer Nose Hair Trimmer...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.19</span><span class="ori_price">$73.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/329blDe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="30.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LC6xAr"><img src="https://images-na.ssl-images-amazon.com/images/I/71ohNAS9dqL._SX679_.jpg" alt="Vanzon X5 Pro Bluetooth Speakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>482 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LC6xAr">Vanzon X5 Pro Bluetooth Speakers - 20W Portable Wireless Speaker V5.0 with Louder Stereo Sound, Rich Bass,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.59</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LC6xAr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="25.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J96jzc"><img src="https://images-na.ssl-images-amazon.com/images/I/61N0YqUFh3L._SX679_.jpg" alt="SoundPEATS TrueFree True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>962 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J96jzc">SoundPEATS TrueFree True Wireless Earbuds Bluetooth 5.0 in-Ear Stereo Bluetooth Headphones with Microphone Wireless Earphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.39</span><span class="ori_price">$30.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J96jzc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XpsgxA"><img src="https://images-na.ssl-images-amazon.com/images/I/81DjBrwT64L._SX522_.jpg" alt="Hayley Cherie" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>600 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XpsgxA">Hayley Cherie - 328 Printed Spice Jar and Pantry Label Set - Chalkboard 1.5" Round Stickers...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XpsgxA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KXinFS"><img src="https://images-na.ssl-images-amazon.com/images/I/71n5pZeaugL._SX679_.jpg" alt="amFilm Glass Screen Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>123 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KXinFS">amFilm Glass Screen Protector for Galaxy S10e, Tempered Glass, Full Screen Adhesive, with Easy Installation Tray (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KXinFS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="19.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xrKynl"><img src="https://images-na.ssl-images-amazon.com/images/I/81Lxi3XcdsL._SX679_.jpg" alt="Artist Paint Brush Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>111 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xrKynl">Artist Paint Brush Set - 15 Different Sizes Paint Brushes for Acrylic Watercolor Oil Gouache Paint - Perfect Gift for Artists,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.54</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xrKynl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XsIz1B"><img src="https://images-na.ssl-images-amazon.com/images/I/81pNYYQuCrL._SX522_.jpg" alt="SodaStream Fizzi Sparkling Water Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>432 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XsIz1B">SodaStream Fizzi Sparkling Water Maker Bundle (Black), with CO2, BPA free Bottles, and 0 Calorie Fruit Drops Flavors</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$149.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XsIz1B">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J9EUNm"><img src="https://images-na.ssl-images-amazon.com/images/I/813lyZ98EkL._SX522_.jpg" alt="Aesthetica Matte Lip Contour Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>596 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J9EUNm">Aesthetica Matte Lip Contour Kit - Lipstick Palette Set Includes 6 Lip Colors, 4 Lip Liners, Lip Brush and Instructions</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.00</span><span class="ori_price">$59.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J9EUNm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFXkY1"><img src="https://images-na.ssl-images-amazon.com/images/I/710UH%2BCLVTL._SX522_.jpg" alt="XIKEZAN Beard Grooming Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>153 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFXkY1">XIKEZAN Beard Grooming Kit in METAL BOX w/Beard Shaping Tool,Beard Shampoo/Wash,Beard Conditioner Oil,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.50</span><span class="ori_price">$25.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LFXkY1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="70.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FRNr5z"><img src="https://images-na.ssl-images-amazon.com/images/I/612Lqe8zYEL._SX679_.jpg" alt="Wireless Charge Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>920 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FRNr5z">mophie - 2-Pack - Wireless Charge Pad - Apple Optimized - 7.5W Qi Wireless Technology - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$70.99</span><span class="ori_price">$95.64</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FRNr5z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="14.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XqTfsZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61bUI2NzgrL._SX679_.jpg" alt="Conair 1875 Watt Full Size Pro Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,819 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XqTfsZ">Conair 1875 Watt Full Size Pro Hair Dryer with Ionic Conditioning, Black/Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.45</span><span class="ori_price">$21.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XqTfsZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KYsf2a"><img src="https://images-na.ssl-images-amazon.com/images/I/71mSMl9JXIL._SX522_.jpg" alt="Air Popcorn Popper Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KYsf2a">Dash DAPP150V2AQ04 Hot Air Popcorn Popper Maker with with Measuring Cup to Portion Popping Corn Kernels + Melt Butter, Makes 16C, Aqua</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KYsf2a">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XpaUB8"><img src="https://images-na.ssl-images-amazon.com/images/I/81YYsrmuXkL._SX522._SX._UX._SY._UY_.jpg" alt="Under Armour Men's Hoodie" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>131 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XpaUB8">Under Armour Men's Armourfleece Spectrum Pull Over Hoodie</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.50</span><span class="ori_price">$55.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XpaUB8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XpPwvq"><img src="https://images-na.ssl-images-amazon.com/images/I/71RB2b7vyEL._SX522_.jpg" alt="Columbia Men's PFG Backcast III Water Short" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>509 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XpPwvq">Columbia Men's PFG Backcast III Water Short</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.00</span><span class="ori_price">$30.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XpPwvq">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="57" data-price="50.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J9PUdz"><img src="https://images-na.ssl-images-amazon.com/images/I/81LFWS2OgJL._SX522_.jpg" alt="DHP Emily Accent Chair" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,375 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J9PUdz">DHP Emily Accent Chair with Split-Back and Chrome Legs, Grey Linen</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$50.18</span><span class="ori_price">$116.80</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J9PUdz">Shop Now at Amazon</a><p>run out of stock soon</p><</div>
</div>

<div class="card clearfix" data-score="50" data-price="148.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xvJdvS"><img src="https://images-na.ssl-images-amazon.com/images/I/81AV0tRCiiL._SX522_.jpg" alt="Hoverboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>351 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xvJdvS">Razor Hovertrax 2.0 Hoverboard Self-Balancing Smart Scooter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$148.00</span><span class="ori_price">$298.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xvJdvS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="57.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FRPw1n"><img src="https://images-na.ssl-images-amazon.com/images/I/910pijbZ3SL._SX522_.jpg" alt="LEGO Creator 3in1 Pirate Roller Coaster" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FRPw1n">LEGO Creator 3in1 Pirate Roller Coaster 31084 Building Kit (923 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$57.99</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FRPw1n">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="22.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JgVny4"><img src="https://images-na.ssl-images-amazon.com/images/I/61SueSzCLIL._SX522_.jpg" alt="Vegansmart Plant Based Vegan Protein Powder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,556 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JgVny4">Vegansmart Plant Based Vegan Protein Powder by Naturade, All-In-One Nutritional Shake – Vanilla 22.75 oz </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.48</span><span class="ori_price">$26.45</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JgVny4">Shop Now at Amazon</a></div>
</div>
