<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="40" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XvvEvd"><img src="https://m.media-amazon.com/images/I/61KIraLxg7L._SR400,400_.jpg" alt="Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XvvEvd">Earbuds, GGMM Wired Earphones Noise Isolating Earbuds with Microphone Heavy Deep Bass Ear Buds, in Ear Headphones Fits All 3.5mm Jack Device (C300-Black-01)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$9.99</span></address>
      <p><span>Take <strong>40% off at $9.99</strong> with promo code: <strong>40Q2LNQY</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XvvEvd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IRj2WY"><img src="https://m.media-amazon.com/images/I/61y2hUmEjmL._SR400,400_.jpg" alt="MADETEC Small Handheld Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IRj2WY">MADETEC Small Handheld Fan, Portable Mini Personal Fan with USB Rechargeable Battery Operated Electric Cooling Fan for Office Room Outdoor Household...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $12.99</strong> with promo code: <strong>50XPAGHA</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IRj2WY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xdeljc"><img src="https://m.media-amazon.com/images/I/71cTzsIKXxL._SR400,400_.jpg" alt="Mobile Game Controller with Portable Charger 4000mAh Cooling Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xdeljc">Mobile Game Controller with Portable Charger 4000mAh Cooling Fan for Fortnite PUBG, Phone Controller L1R1 Game Trigger Joystick Gamepad Grip with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.45</span><span class="ori_price">$24.89</span></address>
      <p><span>Take <strong>50% off at $24.89</strong> with promo code: <strong>50NESOPQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xdeljc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JbSazV"><img src="https://m.media-amazon.com/images/I/61jRmkJPb8L._SR400,400_.jpg" alt="Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JbSazV">Wireless Charger, Nillkin Qi-Certified Fast Wireless Charging Pad 7.5W[Colorful LED Light] Compatible with iPhone Xs Max/XS/XR/X/8/8 Plus,10W for Samsung...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $19.99</strong> with promo code: <strong>15UL4E3V</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JbSazV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XAzfI9"><img src="https://m.media-amazon.com/images/I/51pzePyLfyL._SR400,400_.jpg" alt="Phone Holder for Car" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>122 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XAzfI9">Phone Holder for Car FLOVEME Universal Long Neck Dashboard & Windshield with Washable Suction Pad Car Phone Mount for iPhone X XR XS MAX 8 7 6s...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>50FLM001</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XAzfI9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J9cxxB"><img src="https://m.media-amazon.com/images/I/71CDvs2cuIL._SR400,400_.jpg" alt="Voova Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J9cxxB">Voova Travel Laptop Backpack Multipurpose Anti-Theft Business Backpack Water Resistant College School Computer Bag for Women & Men Fits 15.6 Inch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.50</span><span class="ori_price">$40.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $40.99</strong> with promo code: <strong>50TL1W11</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J9cxxB">Use Code at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="15" data-price="28.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZQs4sV"><img src="https://m.media-amazon.com/images/I/71INzuRHf5L._SR400,400_.jpg" alt="Gym Running Walking Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>203 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZQs4sV">Feetmat Mens Slip On Sneakers Laceless Lightweight Gym Running Walking Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.89</span><span class="ori_price">$33.99</span></address>
      <p><span>Take <strong>15% off at $33.99</strong> with promo code: <strong>158SA4Z9</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZQs4sV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZTM3a2"><img src="https://m.media-amazon.com/images/I/61-qG-orBNL._SR400,400_.jpg" alt="Msicyness Sports Duffle Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZTM3a2">Msicyness Sports Duffle Bag 70L Overnight Bag Large Travel Duffel Tote for Men and Women Waterproof Carry on Weekender Bags with Shoe Compartment</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.38</span><span class="ori_price">$24.75</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $24.75</strong> with promo code: <strong>50HM8WEF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZTM3a2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="10.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XjcKZj"><img src="https://m.media-amazon.com/images/I/81TTTZdcrJL._SR400,400_.jpg" alt="FAYERXL Minimalist Wallets" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XjcKZj">FAYERXL Minimalist Wallets Gift for son daughter from Mom Dad Slim Wallet RFID Front Pocket Wallet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.98</span><span class="ori_price">$16.90</span></address>
      <p><span>Take <strong>35% off at $16.90</strong> with promo code: <strong>35QMIPY2</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XjcKZj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="3.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FCXw6n"><img src="https://m.media-amazon.com/images/I/61iigDncivL._SR400,400_.jpg" alt="Garlic Press" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FCXw6n">Candy Color Garlic Press Multifunctional Ginger Garlic Press Mini Ginger Grinding Grater Planer Slicer Cutter Kitchen Cooking Gadgets Tools Utensils Accessories</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.50</span><span class="ori_price">$9.99</span></address>
      <p><span>Take <strong>65% off at $9.99</strong> with promo code: <strong>6569XNZL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FCXw6n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="11.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Januz5"><img src="https://m.media-amazon.com/images/I/514hBnZ05+L._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Januz5">Bluetooth Headphones,Wireless Sports Earphones w/Mic,Waterproof IPX7 HD Stereo Sweatproof in Earbuds for Sports Gym Running Exercising...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.55</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>65% off at $32.99</strong> with promo code: <strong>65XU5ZF1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Januz5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FBwUCy"><img src="https://m.media-amazon.com/images/I/71bv65kjDzL._SR400,400_.jpg" alt="Wireless Car Charger Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FBwUCy">Wireless Car Charger Mount, Air Vent Phone Holder,Qi 10W Fast Charging Compatible Samsung Note 8/7/5,Galaxy S9/S8/S7,7.5W Compatible iPhone Xs/XS Max/XR/X/8...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>60% off at $29.99</strong> with promo code: <strong>60FOY4UI</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FBwUCy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X9SggE"><img src="https://m.media-amazon.com/images/I/71Tgpfjgj1L._SR400,400_.jpg" alt="WOBEECO LCD Writing Tablet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>95 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X9SggE">WOBEECO LCD Writing Tablet, 8.5 Inch Electronic Writing Board with Case Doodle and Scribble Board Magnetic Memo Notes for Kid & Adults</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.19</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>40% off at $16.99</strong> with promo code: <strong>40LVPCUK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X9SggE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="7.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YcU5dQ"><img src="https://m.media-amazon.com/images/I/51m5tAWggdL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YcU5dQ">Bluetooth Headphones Sweatproof Sports Earphones Wireless Headset Magnetic Attraction Earbuds for Running Workout Gym Noise Cancelling (White)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.80</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>70% off at $25.99</strong> with promo code: <strong>708QW6UD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YcU5dQ">Use Code at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="50" data-price="21.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RDKNVQ"><img src="https://m.media-amazon.com/images/I/61wGNoDLmSL._SR400,400_.jpg" alt="NPET True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RDKNVQ">NPET True Wireless Earbuds, Bluetooth 5.0 Bass Stereo Sound IPX8 Waterproof Wireless Earphones 80H Playtime with 3000 mAh Charging Case, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.49</span><span class="ori_price">$42.98</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $42.98</strong> with promo code: <strong>50RKLPBZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RDKNVQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rzj1tq"><img src="https://m.media-amazon.com/images/I/613fLJk+NdL._SR400,400_.jpg" alt="Aromatherapy Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>558 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rzj1tq">Aromatherapy Essential Oil Diffuser 530ml Cool Mist Ultrasonic Fragrance Scent Air Humidifier Wood Grain 18 Hours Aroma Diffuser with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.49</span><span class="ori_price">$32.98</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $32.98</strong> with promo code: <strong>50CZYNSR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Rzj1tq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RFmPJR"><img src="https://m.media-amazon.com/images/I/81TaseKEVOL._SR400,400_.jpg" alt="Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>158 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RFmPJR">Blue Light Blocking Glasses for Women and Men, Eye Glasses for Computer and Gaming (Black) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.99</span><span class="ori_price">$39.97</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $39.97</strong> with promo code: <strong>60BLUEBLOCK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RFmPJR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RBOKKN"><img src="https://m.media-amazon.com/images/I/61cFUeWZTxL._SR400,400_.jpg" alt="ESSORT Back & Seat Cushion Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RBOKKN">ESSORT Back & Seat Cushion Set, 100% Memory Foam Orthopedic Coccyx Butt Cushion, Lumbar Support Pillow, Sciatica Tailbone Lower Back Pain Relief...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.33</span><span class="ori_price">$38.88</span></address>
      <p><span>Take <strong>40% off at $38.88</strong> with promo code: <strong>40LQDV4E</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RBOKKN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="4.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RJ1DTm"><img src="https://m.media-amazon.com/images/I/71s1CQINnOL._SR400,400_.jpg" alt="VEHHE Metal Straws Drinking Straws" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>778 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RJ1DTm">VEHHE Metal Straws Drinking Straws 10.5" Stainless Steel Straws Reusable 8 Set - Ultra Long Rainbow Color-Cleaning Brush for 20/30 Oz for Yeti RTIC SIC Ozark...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.79</span><span class="ori_price">$7.99</span></address>
      <p><span>Take <strong>40% off at $7.99</strong> with promo code: <strong>402MC3WC</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RJ1DTm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RAMGm8"><img src="https://m.media-amazon.com/images/I/71IqLhR+X0L._SR400,400_.jpg" alt="Chef Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>104 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RAMGm8">Chef Knife, OOU Pro Kitchen Knife 7 Inch Chef’s Knife, High Carbon Stainless Steel Chef Knife with Ergonomic Handle, Ultra Sharp to Cut Meat Veggies,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.39</span><span class="ori_price">$28.99</span></address>
      <p><span>Take <strong>40% off at $28.99</strong> with promo code: <strong>408HISLQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 03:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RAMGm8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="90.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JfvEGi"><img src="https://m.media-amazon.com/images/I/61an++27dDL._SR400,400_.jpg" alt="MICHELANGELO Stainless Steel Pots and Pans Set" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JfvEGi">MICHELANGELO Stainless Steel Pots and Pans Set, Premium Stainless Steel Cookware Set 10 Piece German Technology, 18/10 Stainless Steel Cookware, Frying Pans...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$90.00</span><span class="ori_price">$179.99</span></address>
      <p><span>Take <strong>50% off at $179.99</strong> with promo code: <strong>50H3IB8U</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JfvEGi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yp2paJ"><img src="https://m.media-amazon.com/images/I/61idC1l2IkL._SR400,400_.jpg" alt="YISSVIC Coffee Grinder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yp2paJ">YISSVIC Coffee Grinder Electric Grinder with Stainless Steel Blade, Removable Bowl, Grind Size and Cup Selection for Coffee Beans Spices Nuts Seeds...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>30% off at $27.99</strong> with promo code: <strong>30SWKXRI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yp2paJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="16.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RHcjBY"><img src="https://m.media-amazon.com/images/I/81vjnUz7LUL._SR400,400_.jpg" alt="Professional Salt and Pepper Grinder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>478 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RHcjBY">Professional Salt and Pepper Grinder Set – Premium Stainless Steel Salt and Pepper Shakers with Ceramic Spice Grinder Mill for Adjustable Coarseness ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.70</span><span class="ori_price">$20.87</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $20.87</strong> with promo code: <strong>20ISN24B</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RHcjBY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JbITaW"><img src="https://m.media-amazon.com/images/I/61UuxTeGsSL._SR400,400_.jpg" alt="Hand Mixer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>46 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JbITaW">Hand Mixer with 5-Speed 250W Power Advantage Electric Handheld Mixer with Turbo and Easy Eject Button, Includes Storage Case Beaters Dough Hooks...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>40% off at $29.99</strong> with promo code: <strong>4098CTTS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JbITaW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jfx2su"><img src="https://m.media-amazon.com/images/I/71tXoYfSDOL._SR400,400_.jpg" alt="Headlamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jfx2su">Headlamp, RockBirds H542 200Lumens 5 Modes LED Headlights, Waterproof Touch Sensitive Switch, 3 AAA Batteries (White & Red)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>50% off at $17.99</strong> with promo code: <strong>503YSHTL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jfx2su">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J8u4Gh"><img src="https://m.media-amazon.com/images/I/81T3l3nN40L._SR400,400_.jpg" alt="USB Borescope Pancellent 2 in 1 Waterproof Endoscope" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>179 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J8u4Gh">USB Borescope Pancellent 2 in 1 Waterproof Endoscope 2.0 Megapixels CMOS HD Inspection Camera 5 Metes Rigid Snake Cable for Smartphone Tablet Device...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.96</span><span class="ori_price">$19.90</span></address>
      <p><span>Take <strong>60% off at $19.90</strong> with promo code: <strong>60W5COGP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J8u4Gh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xggYS0"><img src="https://m.media-amazon.com/images/I/51GojZEgb2L._SR400,400_.jpg" alt="MOSSY OAK 32 Oz Stainless Steel Vacuum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xggYS0">MOSSY OAK 32 Oz Stainless Steel Vacuum Insulated Sports Water Bottle - Wide Mouth Leak-Proof Double Wall Bottle with 3 Lids - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>50% off at $25.99</strong> with promo code: <strong>50GKZ6TY</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xggYS0">Use Code at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="80" data-price="244.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YgREHg"><img src="https://m.media-amazon.com/images/I/61mBegHhr-L._SR400,400_.jpg" alt="Indoor Cycling Bike" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YgREHg">S501 Indoor Cycling Bike Belt Drive Exercise Bike with 28lbs Flywheel (Black and Blue?</a></p>
    <div class="code_high">
      <address><span class="dis_price">$244.80</span><span class="ori_price">$1,224.00</span></address>
      <p><span>Take <strong>80% off at $1,224.00</strong> with promo code: <strong>8077QMW7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YgREHg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XcftmX"><img src="https://m.media-amazon.com/images/I/71w0OfquLNL._SR400,400_.jpg" alt="Sports Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XcftmX">Venture Pal Large 128oz/74oz Leakproof BPA Free Fitness Sports Water Bottle with Motivational Time Marker to Ensure You Drink Enough Water Throughout The Day</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>30% off at $18.99</strong> with promo code: <strong>30S3QOJT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XcftmX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="3.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xxe7ml"><img src="https://m.media-amazon.com/images/I/71NwOoPDtPL._SR400,400_.jpg" alt="SHANDALI GoSweat Non-Slip Hot Yoga Towel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,114 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xxe7ml">SHANDALI GoSweat Non-Slip Hot Yoga Towel with Super-Absorbent Soft Suede Microfiber in Many Colors, for Bikram Pilates and Yoga Mats.</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.88</span><span class="ori_price">$12.94</span></address>
      <p><span>Take <strong>70% off at $12.94</strong> with promo code: <strong>70TONEITUP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xxe7ml">Use Code at Amazon</a></div>
</div>


