<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <span class="ex_date ex_date_new">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O0a9it"><img src="https://m.media-amazon.com/images/I/614TA8L-4iL._SR400,400_.jpg" alt="Oneach Industrial Desk Lamp " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O0a9it">Oneach Industrial Desk Lamp Vintage Table Lamp Bedside Lamp for Living Room Bedroom Office Wooden Reading Lamp Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>40% off at $19.99</strong> with promo code: <strong>40DEWSUB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O0a9it">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XMQqal"><img src="https://m.media-amazon.com/images/I/71sl8RThbyL._SR400,400_.jpg" alt="Round Hair Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>99 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XMQqal">HOMEIDEAS Natural Boar Bristles Round Hair Brush with Wood Handle, Round Comb Twill 2.75 Inch, Styling Essentials ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.77</span><span class="ori_price">$12.95</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $12.95</strong> with promo code: <strong>40NNGRE9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XMQqal">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y27jgR"><img src="https://m.media-amazon.com/images/I/71Z-1kgc+9L._SR400,400_.jpg" alt="SYOSIN Upgrade Memory Foam Travel Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y27jgR">SYOSIN Upgrade Memory Foam Travel Pillow U-Shape Neck Pillow Washable 100% Cotton Cover for Car, Train, Office and Airplane</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>40% off at $27.99</strong> with promo code: <strong>40MKHOD1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y27jgR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JKKBka"><img src="https://m.media-amazon.com/images/I/51mQh52lHtL._SR400,400_.jpg" alt="Livho Oval Unisex Polarized Sunglasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JKKBka">Livho Oval Unisex Polarized Sunglasses Outdoor Vintage Sunglasses For Women/Men UV400...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.80</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>60% off at $16.99</strong> with promo code: <strong>60OFFLIVHO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 10:00 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JKKBka">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JIHOrD"><img src="https://m.media-amazon.com/images/I/614m8j0LmqL._SR400,400_.jpg" alt="ViLSOM Led Vanity Mirror Lights Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JIHOrD">ViLSOM Led Vanity Mirror Lights Kit 0.98Ft/0.3M with USB Adapter and Inline Dimmer Controller for Makeup Table Pink</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>60% off at $19.99</strong> with promo code: <strong>60XSJRZX</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JIHOrD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="9.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JOWUfn"><img src="https://m.media-amazon.com/images/I/61Y+xs22niL._SR400,400_.jpg" alt="TV Antenna Indoor Amplified HDTV Antenna" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>72 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JOWUfn">TV Antenna Indoor Amplified HDTV Antenna TV Digital HD 4K,80 Miles Range Max,with Powerful Amplifier Signal Booster...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.24</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>72% off at $32.99</strong> with promo code: <strong>72G33AIP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JOWUfn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JPzwyf"><img src="https://m.media-amazon.com/images/I/61fX-piCssL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>160 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JPzwyf">Wireless Earbuds, HSPRO True Wireless Earphones, Stereo Sound Bluetooth 5.0 Headphones, Mini Wireless in-Ear Headsets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.49</span><span class="ori_price">$34.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $34.99</strong> with promo code: <strong>30H36UMA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JPzwyf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="45.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JXY4oX"><img src="https://m.media-amazon.com/images/I/81SsjnejwJL._SR400,400_.jpg" alt="Mythinglogic Heavy Duty Clothing Garment Rack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JXY4oX">Mythinglogic Heavy Duty Clothing Garment Rack, Commercial Grade Clothes Rack with Wheels, Rolling Closet Organizer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$45.59</span><span class="ori_price">$75.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $75.99</strong> with promo code: <strong>40HDIW9C</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JXY4oX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="6.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JJKfdn"><img src="https://m.media-amazon.com/images/I/61Lmt09un+L._SR400,400_.jpg" alt="Waterproof Packable Active Outdoor Rain Jacket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>151 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JJKfdn">Hount Women's Lightweight Hooded Raincoat Waterproof Packable Active Outdoor Rain Jacket</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.75</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>75% off at $26.99</strong> with promo code: <strong>75MQA4PU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JJKfdn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y02yo3"><img src="https://m.media-amazon.com/images/I/51p+0i5PdGL._SR400,400_.jpg" alt="AmazeFan Single Handle High..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y02yo3">AmazeFan Single Handle High Arc Brushed Nickel Pull out Kitchen Faucet,Single Level Stainless Steel Kitchen Sink Faucets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.99</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>40% off at $59.99</strong> with promo code: <strong>40KFQZQ2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y02yo3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="8.75">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://m.media-amazon.com/images/I/51QqNKVkw3L._SR400,400_.jpg" alt="Neck Casual Sundress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">FANVOOK Women's Summer Floral Halter Neck Casual Sundress with Pockets (US Size)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.75</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>65% off at $24.99</strong> with promo code: <strong>657U4PR9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XNezxM"><img src="https://m.media-amazon.com/images/I/81P6XQkBtgL._SR400,400_.jpg" alt="Travel Gadget Organizer Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XNezxM">Travel Gadget Organizer Bag, Electronic Accessories Storage Carrying Case Bag for USB Cables,Chargers,Power Bank,iPad Mini(L)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>50% off at $24.99</strong> with promo code: <strong>50IKLD4Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XNezxM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JKfTaR"><img src="https://m.media-amazon.com/images/I/61XCuWErp1L._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JKfTaR">True Wireless Earbuds, ALOFOX Latest Bluetooth 5.0 Auto Pairing HiFi Sound Bluetooth Earbuds with Charging Case,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>30% off at $39.99</strong> with promo code: <strong>30D3NQ3P</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JKfTaR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2y1pEvX"><img src="https://m.media-amazon.com/images/I/71vtyeciPiL._SR400,400_.jpg" alt="Shoulder Chiffon Maxi Beach Dress" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2y1pEvX">Abollria Women's Off The Shoulder Chiffon Maxi Beach Dress Wedding Party</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>70GKLWD7</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2y1pEvX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XVGk26"><img src="https://m.media-amazon.com/images/I/41WCKHW8QiL._SR400,400_.jpg" alt="Anti-Theft Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XVGk26">Anti-Theft Travel Laptop Backpack, Business Computer Bags Waterproof Lightweight with USB Charging Port Travel Backpack...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.50</span><span class="ori_price">$69.99</span></address>
      <p><span>Take <strong>75% off at $69.99</strong> with promo code: <strong>75H437GG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XVGk26">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="137.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y1Q9zS"><img src="https://m.media-amazon.com/images/I/51T6u0V3SwL._SR400,400_.jpg" alt="JIMMY Cordless Stick Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y1Q9zS">JIMMY Cordless Stick Vacuum Cleaner with 2 Motorized Brushes - 400W Digital Motor - 125AW/17Kpa Suction Power...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$137.99</span><span class="ori_price">$229.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $229.99</strong> with promo code: <strong>405MKIKD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y1Q9zS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="4.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJCKwQ"><img src="https://m.media-amazon.com/images/I/611sIel5DZL._SR400,400_.jpg" alt="Ankle Athletic Socks" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>67 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XJCKwQ">Women's 6-Pairs Low Cut Ankle Athletic Socks with Cushion for Sports and Casual Use</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.90</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>65% off at $13.99</strong> with promo code: <strong>655EWQIC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XJCKwQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Smq2hz"><img src="https://m.media-amazon.com/images/I/71nMlNwXPbL._SR400,400_.jpg" alt="2 Pack Hanging Planter for Hot Pepper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Smq2hz">2 Pack Hanging Planter for Hot Pepper, Fabric Plant Pots for Growing Hot Pepper with Hooks Included</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.19</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>20% off at $13.99</strong> with promo code: <strong>20M169VD</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Smq2hz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="6.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xOevhF"><img src="https://m.media-amazon.com/images/I/71H3lNZ8RhL._SR400,400_.jpg" alt="Mandoline Slicer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>847 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xOevhF">Mandoline Slicer Stainless Steel Vegetable Julienner Built-in Adjustable Safe Blades Grater - Veggie Slicer Food ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.60</span><span class="ori_price">$32.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <p><span>Take <strong>80% off at $32.99</strong> with promo code: <strong>807IV9FC</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xOevhF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32xGOze"><img src="https://m.media-amazon.com/images/I/51QKb9lIlEL._SR400,400_.jpg" alt="Owl Night Lights for Kids 3D Night" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>100 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32xGOze">Owl Night Lights for Kids 3D Night Light Lamp Wiscky 7 LED Colors Changing Touch Table Desk Lamps...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>50% off at $18.99</strong> with promo code: <strong>50F8SZ9V</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32xGOze">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JJoOJF"><img src="https://m.media-amazon.com/images/I/61n2y7H6ZUL._SR400,400_.jpg" alt="Diaper Bag Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>132 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JJoOJF">Diaper Bag Backpack, Organizer Back Pack for Mom/Dad with Baby Stroller Straps, Changing Pad & Insulated Pockets,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>40% off at $29.99</strong> with promo code: <strong>40B7U5GW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JJoOJF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="16.66">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32xH4yc"><img src="https://m.media-amazon.com/images/I/81UfEyEP9oL._SR400,400_.jpg" alt="Athletic Walking Gym Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32xH4yc">AX BOXING Running Shoes Men Mesh Lightweight Breathable Athletic Walking Gym Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.66</span><span class="ori_price">$33.99</span></address>
      <p><span>Take <strong>51% off at $33.99</strong> with promo code: <strong>5168G1QL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32xH4yc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="19.13">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32x5bgb"><img src="https://m.media-amazon.com/images/I/613DQDxKL1L._SR400,400_.jpg" alt="Justperkun Men's Running Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32x5bgb">Justperkun Men's Running Sneakers,Lightweight and Breathable Comfortable Walking Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.13</span><span class="ori_price">$31.89</span></address>
      <p><span>Take <strong>40% off at $31.89</strong> with promo code: <strong>40YTQZ7W</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32x5bgb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XKgwuJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61UcgWY%2B3mL._UY535_.jpg" alt="DOUDOU shop Slip On Walking Shoes Women" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XKgwuJ">DOUDOU shop Slip On Walking Shoes Women - Knit Mesh Breathable Causel Running Sneakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>70% off at $35.99</strong> with promo code: <strong>7033M5BJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XKgwuJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="16.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32yYvhY"><img src="https://m.media-amazon.com/images/I/71m4ZDOXetL._SR400,400_.jpg" alt="DESERT RAM Men's Running Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32yYvhY">DESERT RAM Men's Running Shoes Breathable Lightweight Sports Shoes Fashion Ultralight Travel Walking Shoes...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.09</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>30% off at $22.99</strong> with promo code: <strong>304Q9II6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32yYvhY">Use Code at Amazon</a></div>
</div>