<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
-->

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxZFuf"><img src="https://m.media-amazon.com/images/I/61CRC4GDdZL._SR400,400_.jpg" alt="TWS Bluetooth 5.0 wireless earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>288 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxZFuf">TWS Bluetooth 5.0 wireless earbuds headset SZSAGO W5s true wireless earphones for iPHONE/SAMSUNG IPX7 waterproof smart bluetooth headphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.99</span><span class="ori_price">$49.98</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $49.98</strong> with promo code: <strong>50N1YKQD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxZFuf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="5" data-price="36.08">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IH9oq2"><img src="https://m.media-amazon.com/images/I/61xwdrqFimL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,245 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>5% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IH9oq2">Wireless Earbuds, Letsfit Bluetooth 5.0 Headphones True Wireless in-Ear Earbuds 20H Playtime Deep Bass 3D Stereo Sound, Bluetooth Earbuds with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.08</span><span class="ori_price">$37.98</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>5% off at $37.98</strong> with promo code: <strong>053BBZHJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IH9oq2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="11.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xo3ouv"><img src="https://m.media-amazon.com/images/I/614yzlbUnUL._SR400,400_.jpg" alt="POWERADD Slim 2 Most Compact 5000mAh External Battery" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,912 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xo3ouv">[Upgraded] POWERADD Slim 2 Most Compact 5000mAh External Battery 2.1A Ouput Portable Charger with Smart Charge for iPhones, iPad, Samsung Galaxy,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.04</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>15% off at $12.99</strong> with promo code: <strong>1599IVTD</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xo3ouv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="10.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X0V2JC"><img src="https://m.media-amazon.com/images/I/61TD+r7BIdL._SR400,400_.jpg" alt="Sunvito Rechargeable Desk Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X0V2JC">Sunvito Rechargeable Desk Fan, Personal Portable Desk Fan with USB Rechargeable 2600mAh Mini Handheld Fan for Home,Office,Travel and Outdoor Activities (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.19</span><span class="ori_price">$11.99</span></address>
      <p><span>Take <strong>15% off at $11.99</strong> with promo code: <strong>158SSZGG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X0V2JC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="12.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RG5GzT"><img src="https://m.media-amazon.com/images/I/71RB5WcA1pL._SR400,400_.jpg" alt="Womens Leather Wristlet Lightweight Wallet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>34 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RG5GzT">Womens Leather Wristlet Lightweight Wallet - U+U (Upgrade Version) Cellphone Purse Clutch Soft Ladies Handbag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.15</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>55% off at $26.99</strong> with promo code: <strong>55Y7F2JR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RG5GzT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IH4bhY"><img src="https://m.media-amazon.com/images/I/61NnMkBVgML._SR400,400_.jpg" alt="MrWonder Men's Casual Joggers Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IH4bhY">MrWonder Men's Casual Joggers Pants Fitness Running Trousers Slim Fit Bottoms Sweatpants with Pockets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$9.99</span></address>
      <p><span>Take <strong>15% off at $9.99</strong> with promo code: <strong>15IFUT26</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IH4bhY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WY8fOF"><img src="https://m.media-amazon.com/images/I/71Oc8njlJkL._SR400,400_.jpg" alt="USB Charger Station" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>92 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WY8fOF">USB Charger Station,Tonyhoney 6-Port Universal Desktop Docking Station with Detachable Baffles Stand Organizer Compatible with iPhone, iPad, Tablets,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$28.99</span></address>
      <p><span>Take <strong>50% off at $28.99</strong> with promo code: <strong>5052Z6AH</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WY8fOF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="10.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YbZSQM"><img src="https://m.media-amazon.com/images/I/71tQ5YUfSzL._SR400,400_.jpg" alt="F-color Waterproof Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>728 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YbZSQM">F-color Waterproof Case, 4 Pack Transparent PVC Waterproof Phone Pouch Dry Bag for Swimming, Boating, Fishing, Skiing, Rafting, Protect iPhone X 8 7...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.39</span><span class="ori_price">$12.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $12.99</strong> with promo code: <strong>20BKOXJB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YbZSQM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X3Nzd4"><img src="https://m.media-amazon.com/images/I/619Jm4ZhonL._SR400,400_.jpg" alt="USB C Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X3Nzd4">USB C Charger, AIDEAZ 60W Quick Charge 5-Port Multi Port USB Wall Charger, 30W Type-c PD Charger and 18W QC3.0 Charging Station Compatible for MacBook Air...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>50% off at $32.99</strong> with promo code: <strong>50AIDEAZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X3Nzd4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xt9QjB"><img src="https://m.media-amazon.com/images/I/61R1uiWQScL._SR400,400_.jpg" alt="Selfie Stick Tripod" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xt9QjB">Selfie Stick Tripod, Extendable Camera Tripod,Phone Tripod Included Bluetooth Wireless Remote for Apple,Android Devices,Compatible with iPhone X/8/8 ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>509SKUCF</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xt9QjB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y7EWKF"><img src="https://m.media-amazon.com/images/I/61E3ihLzzDL._SR400,400_.jpg" alt="2 in 1 Wireless Charger " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>151 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y7EWKF">2 in 1 Wireless Charger FLOVEME 10W Wireless Charging Pad Qi Fast Wireless Charging Station Compatible for Apple Watch Series 4/3/2/1 iPhone Xs Max/XR/X/8 Plus..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$38.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $38.99</strong> with promo code: <strong>40FLOVEME</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y7EWKF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N9R0Ko"><img src="https://m.media-amazon.com/images/I/71Pme60c+5L._SR400,400_.jpg" alt="OPOLAR F801B USB Operated Clip on Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>149 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N9R0Ko">OPOLAR F801B USB Operated Clip on Fan with Two Settings and Fully Adjustable Head Personal Cooling Fan</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$24.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $24.99</strong> with promo code: <strong>60656CXA</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N9R0Ko">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X9Hk7D"><img src="https://m.media-amazon.com/images/I/61Grhm-8v7L._SR400,400_.jpg" alt="Havit Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>725 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X9Hk7D">Havit Gaming Mouse 12000 DPI Computer Ergonomic Wired Mice with 14 Programmable Buttons Interchangeable Side Plates (8 Buttons/ 8+6 Side Buttons Mouses),...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $24.99</strong> with promo code: <strong>50W6P8CI</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X9Hk7D">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="22.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yjua44"><img src="https://m.media-amazon.com/images/I/61WwBsjCpDL._SR400,400_.jpg" alt="BrosTrend 1200Mbps Long Range USB WiFi Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,320 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yjua44">BrosTrend 1200Mbps Long Range USB WiFi Adapter; Dual Band 5GHz Wireless Network Speed 867Mbps, 2.4GHz 300Mbps; 2 X 5dBi Wi-Fi Antennas; USB 3.0; For Desktop,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.39</span><span class="ori_price">$27.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $27.99</strong> with promo code: <strong>209H9GVS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yjua44">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X3M8en"><img src="https://m.media-amazon.com/images/I/717nuCU-8xL._SR400,400_.jpg" alt="Puersit Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X3M8en">Puersit Travel Laptop Backpack Anti Theft Slim Durable Laptops Backpack with Waterproof Design Unisex College School Computer Bag for Woman Men Fits...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>50% off at $22.99</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X3M8en">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XsHl5D"><img src="https://m.media-amazon.com/images/I/51CjuX0ODFL._SR400,400_.jpg" alt="Aiibe 8 Port USB Hub 3.0 Splitter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>27 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XsHl5D">Aiibe 8 Port USB Hub 3.0 Splitter, 6 High Speed Data Transfer Ports + 2 Charging Ports Powered USB Hub with Power Adapter for Laptop, PC, Computer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>30% off at $19.99</strong> with promo code: <strong>30ZDERIQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XsHl5D">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IEEZbI"><img src="https://m.media-amazon.com/images/I/51ajncx2QfL._SR400,400_.jpg" alt="LED Desk Lamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IEEZbI">LED Desk Lamp, Aiibe Dimmable Eye-Care Clip on Lamp for Bed Headboard, Bedroom, Living Room, Office, 3 Modes 14 Dimming Levels, Flexible Gooseneck USB...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.79</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>30% off at $13.99</strong> with promo code: <strong>30ZDERIQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IEEZbI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rtguku"><img src="https://m.media-amazon.com/images/I/61-WILBOHLL._SR400,400_.jpg" alt="Conference Microphone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rtguku">Conference Microphone, CMTECK USB Computer Microphone CM003, Mute Function, Omnidirectional Mic for Computers PC, Condenser Boundary Desktop Microphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>20% off at $26.99</strong> with promo code: <strong>20VPXNYU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Rtguku">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="22.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FtmANd"><img src="https://m.media-amazon.com/images/I/61i0BIuFNAL._SR400,400_.jpg" alt="Fast Wireless Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>74 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FtmANd">Fast Wireless Car Charger, ZealSound Qi-Certified Car Charge Slim Pad Station Dock & Phone Holder for Car with USB QC 3.0 Adapter 10W/7.5W Quick Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.48</span><span class="ori_price">$24.98</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>10% off at $24.98</strong> with promo code: <strong>10T4MRQJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FtmANd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCa08I"><img src="https://m.media-amazon.com/images/I/61Hnvz1sHvL._SR400,400_.jpg" alt="Gaming Keyboard and Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XCa08I">Gaming Keyboard and Mouse Combo, MFTEK RGB Rainbow Backlit Gaming Keyboard and Illuminated Gaming Mouse Set, Programmable Keyboard with Wrist Rest...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>3044HPFI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XCa08I">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="2.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XA5ZRQ"><img src="https://m.media-amazon.com/images/I/61q4QVZ-QDL._SR400,400_.jpg" alt="Samsung Galaxy S8 Plus Screen Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XA5ZRQ">[3-Pack] for Samsung Galaxy S8 Plus Screen Protector, Full Coverage Glass HD Tempered Glass Protective Film, [Case-Friendly] High Definition Transparent...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$2.80</span><span class="ori_price">$7.99</span></address>
      <p><span>Take <strong>65% off at $7.99</strong> with promo code: <strong>65TGX6I5</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XA5ZRQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="18.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IFos7A"><img src="https://m.media-amazon.com/images/I/915KEtNHFJL._SR400,400_.jpg" alt="Vintage Canvas Messenger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IFos7A">S-ZONE Vintage Canvas Messenger Mens Briefcase Shoulder Laptop Bag Large Satchel for 15.6 Inch Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.50</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>50% off at $36.99</strong> with promo code: <strong>50MVYY9T</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IFos7A">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XsBGMT"><img src="https://m.media-amazon.com/images/I/51gVq1LP8jL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XsBGMT">Bluetooth Headphones, Wireless Bluetooth 4.1 Aptx Stereo Magnetic Earbuds Snug Fit for Sports with Built in Mic BT-519 Earphone(7 Hours Playtime,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.28</span><span class="ori_price">$15.69</span></address>
      <p><span>Take <strong>60% off at $15.69</strong> with promo code: <strong>60HZJGRR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XsBGMT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="37.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XygepT"><img src="https://m.media-amazon.com/images/I/61uXi805T2L._SR400,400_.jpg" alt="LETSCOM USB C Hub, 11 in 1 USB C Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>172 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XygepT">LETSCOM USB C Hub, 11 in 1 USB C Adapter with Ethernet, 4K HDMI, VGA, Power Delivery, 2 USB3.0 &USB2.0, Micro SD/TF Card Reader, Mic/Audio, Portable for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$37.09</span><span class="ori_price">$52.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $52.99</strong> with promo code: <strong>30P1UQXW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XygepT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="20.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y8O6H5"><img src="https://m.media-amazon.com/images/I/714Ab2bRr5L._SR400,400_.jpg" alt="Wireless Portable Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>208 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y8O6H5">Wireless Portable Charger 24000mAh Power Bank Huge Capacity Charge External Battery Pack Dual Inputs & Three Output with LCD Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.34</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>45% off at $36.99</strong> with promo code: <strong>45SJX8Y4</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y8O6H5">Use Code at Amazon</a></div>
</div>


<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XuYk7o"><img src="https://m.media-amazon.com/images/I/71ch6Yhs5uL._SR400,400_.jpg" alt="Prasacco Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XuYk7o">Prasacco Laptop Backpack, Water Resistant Anti- Theft Business Laptop Backpack Slim, Multi-Functional Laptop Tote Bag College School Backpack for Men and Women</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>70% off at $29.99</strong> with promo code: <strong>70B72C39</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XuYk7o">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N8hOLg"><img src="https://m.media-amazon.com/images/I/71bv65kjDzL._SR400,400_.jpg" alt="Wireless Car Charger Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N8hOLg">Wireless Car Charger Mount,Air Vent Phone Holder,Qi 10W Fast Charging Compatible Samsung Note 8/7/5,Galaxy S9/S8/S7,7.5W Compatible iPhone Xs/XS Max/XR/X/8/...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $29.99</strong> with promo code: <strong>40T9KQSN</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N8hOLg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="33.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J7xaul"><img src="https://m.media-amazon.com/images/I/61qfXv04zLL._SR400,400_.jpg" alt="Zealsound Wireless Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J7xaul">Zealsound Wireless Car Charger Auto Clamp Mount/Qi-Certified Smart Infrared Sensor Car Chargers/Windshield Dashboard Air Vent Phone Holder/Automatic...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$33.59</span><span class="ori_price">$47.98</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $47.98</strong> with promo code: <strong>30JKGBKE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J7xaul">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X2N7vl"><img src="https://m.media-amazon.com/images/I/61MGI1HroHL._SR400,400_.jpg" alt="SoundPEATS True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>98 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X2N7vl">SoundPEATS True Wireless Earbuds TWS Bluetooth Headphones in-Ear Stereo Bluetooh V5.0 Eeadphones High Definition Mic Rechargable Wireless Headphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $39.99</strong> with promo code: <strong>30VIA2QG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X2N7vl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XA75gq"><img src="https://m.media-amazon.com/images/I/71MktYbqzUL._SR400,400_.jpg" alt="2 Pack Insulated Grocery Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XA75gq">2 Pack Insulated Grocery Bag for Shopping in Medium Size with Sturdy Zipper and Reinforced Handle, Foldable, Stands Upright,Heavy Duty Thermal Totes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.12</span><span class="ori_price">$15.89</span></address>
      <p><span>Take <strong>30% off at $15.89</strong> with promo code: <strong>30T6ZJLH</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XA75gq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="28.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N3kXf5"><img src="https://m.media-amazon.com/images/I/815+AFABjlL._SR400,400_.jpg" alt="Nintendo Switch Travel Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N3kXf5">Nintendo Switch Travel Case Anti-theft Protective Deluxe Bag for Nintendo Switch Games by Magictodoor</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.89</span><span class="ori_price">$33.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $33.99</strong> with promo code: <strong>15JLGAMERS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N3kXf5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RuXhPv"><img src="https://m.media-amazon.com/images/I/61ZquX3zznL._SR400,400_.jpg" alt="XJD Ultralight Balance Bike" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RuXhPv">XJD Ultralight Balance Bike (4.8 lbs) for Ages 1.5 to 5 Years Magnesium Best Sport Push Bicycle for 2, 3, 4 Year Old Boys & Girls Toddlers Kids Skip ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.49</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $49.99</strong> with promo code: <strong>155FQFYW</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RuXhPv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="29.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N9dE5S"><img src="https://m.media-amazon.com/images/I/612oHBi+LpL._SR400,400_.jpg" alt="ThermoPro TP67" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>258 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N9dE5S">ThermoPro TP67 Rechargeable Indoor Outdoor Thermometer Wireless Weather Station Digital Barometer Hygrometer Humidity Gauge with Cold-Resistant ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.74</span><span class="ori_price">$34.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $34.99</strong> with promo code: <strong>15UEHRJJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N9dE5S">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WZhLB3"><img src="https://m.media-amazon.com/images/I/71kkZC+EBkL._SR400,400_.jpg" alt="AmzAokay Replacement Bands" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>510 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WZhLB3">AmzAokay Replacement Bands Compatible for Apple Watch 38mm 42mm Stainless Steel Metal Cowboy Chain Strap Wrist Band for Apple Watch 40mm 44mm Series...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>20% off at $20.99</strong> with promo code: <strong>20HZCAYB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WZhLB3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rwingl"><img src="https://m.media-amazon.com/images/I/71NYbP7Z2tL._SR400,400_.jpg" alt="One-Step Growom Hot Air Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rwingl">One-Step Growom Hot Air Brush, Hair Dryer, Straightener, Curler, Hair Styler, Designer and Volumizer, with 6pcs Plastic Alligator Hairgrips for All Hairstyles</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$34.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $34.99</strong> with promo code: <strong>205V7IPZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Rwingl">Use Code at Amazon</a></div>
</div>


