<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="42" data-price="40.32">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XB2U4b"><img src="https://images-na.ssl-images-amazon.com/images/I/918yNx90wOL._SY879_.jpg" alt="OtterBox DEFENDER SERIES Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>656 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XB2U4b">OtterBox DEFENDER SERIES Case for iPad Mini 1/2/3 - Retail Packaging - BLACK</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.32</span><span class="ori_price">$69.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XB2U4b">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="61.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xdFEuc"><img src="https://images-na.ssl-images-amazon.com/images/I/81gu1eFif-L._SX522_.jpg" alt="Kasa Cam by TP-Link" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>707 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xdFEuc">Kasa Cam by TP-Link – WiFi Camera for Home, Indoor Camera, Works with Alexa and Google (KC120)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$61.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xdFEuc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="999.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XI7xJW"><img src="https://images-na.ssl-images-amazon.com/images/I/71cdNd8aKcL._SX522_.jpg" alt="Marcy Smith Cage Workout Machine" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>403 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XI7xJW">Marcy Smith Cage Workout Machine Total Body Training Home Gym System with Linear Bearing</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$999.99</span><span class="ori_price">$1,499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XI7xJW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="769.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xe1EF9"><img src="https://images-na.ssl-images-amazon.com/images/I/81bWkUdnanL._SX522_.jpg" alt="ASUS ROG Swift Gaming Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>366 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xe1EF9">ASUS ROG Swift PG348Q 34" Gaming Monitor Curved Ultra-Wide 3440x1440 100Hz IPS DisplayPort USB Eye Care G-SYNC</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$769.99</span><span class="ori_price">$999.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xe1EF9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xemULf"><img src="https://images-na.ssl-images-amazon.com/images/I/61SCAhR5YAL._SX679_.jpg" alt="Smartphone Car Mount Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,242 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xemULf">Koomus Pro CD-M Universal CD Slot Magnetic Cradle-less Smartphone Car Mount Holder for all iPhone and Android Devices</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$23.48</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xemULf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X7ehMK"><img src="https://images-na.ssl-images-amazon.com/images/I/81l4-YufEXL._UY741_.jpg" alt="Casio Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>353 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X7ehMK">Casio Unisex F108WHC-7BCF White Resin Band Watch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.89</span><span class="ori_price">$24.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X7ehMK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="27.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FEgnhg"><img src="https://images-na.ssl-images-amazon.com/images/I/513bajXLb8L._SX679_.jpg" alt="Microsoft Sculpt Ergonomic Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,116 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FEgnhg">Microsoft Sculpt Ergonomic Mouse (L6V-00001)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.49</span><span class="ori_price">$59.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FEgnhg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fz6gu3"><img src="https://images-na.ssl-images-amazon.com/images/I/91GjCL%2BGN7L._SX522_.jpg" alt="Bunny James Box" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>62 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fz6gu3">Bunny James Box - Hand Selected Premium Snacks Subscription: Casual Keto</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.00</span><span class="ori_price">$23.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Fz6gu3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xinUhq"><img src="https://images-na.ssl-images-amazon.com/images/I/71oR1hvkCiL._SX522_.jpg" alt="Chevron Techron Concentrate Plus Fuel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,155 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xinUhq">Chevron Techron Concentrate Plus Fuel System Cleaner - 20 oz.</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$15.74</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xinUhq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="139.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LnzzDS"><img src="https://m.media-amazon.com/images/I/71VpqeHj6HL._AC_UL436_.jpg" alt="Dell Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>336 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LnzzDS">Dell Professional P2217H 21.5" Screen LED-Lit Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$139.58</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LnzzDS">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="58" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XyPgP0"><img src="https://images-na.ssl-images-amazon.com/images/I/71Hs+vj5+8L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Save up to 58% off Acer Products</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Laptop</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2IRgh7Z">Acer Aspire E 15 Laptop, 15.6" Full HD,...</a> - <span>499.99<em>599.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2FBmDGx">Acer Chromebook 15, Intel Celeron N3350,...</a> - <span>239.99<em>337.96</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2RD2PHy">Acer Aspire 5, 17.3" HD+, 8th Gen Intel Core i7-8550U,...</a> - <span>549.99<em>799.99</em></span></li>
            <li><a href="https://amzn.to/2XyPgP0">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>Backpack</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2Nh0FiC">Acer Predator Gaming Hybrid Backpack</a> - <span>49.99<em>84.30</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2XuD2XJ">Acer Predator Rolltop Jr. Backpack - For All 15.6"...</a> - <span>22.99<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2XdXpZJ">Travel Backpack, Organized Pockets for All Gear, Teal...</a> - <span>55.00<em>129.99</em></span></li>
            <li><a href="https://amzn.to/2XyPgP0">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>Gamming Stuff</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2X7vyKR">Acer Mechanical Kailh Blue Switch Gaming Keyboard</a> - <span>99.99<em>151.45</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2RD3OaI">Acer Predator Cestus 500 RGB Gaming Mouse</a> - <span>34.00<em>63.97</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2NvF9qz">Acer Nitro Gaming Headset – Powerful Bass with Audio</a> - <span>22.99<em>39.99</em></span></li>
            <li><a href="https://amzn.to/2XyPgP0">- SEE MORE</a></li>
          </ul>
        </li>

       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XyPgP0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="149.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J8l7g9"><img src="https://images-na.ssl-images-amazon.com/images/I/71TmTj7HjNL._AC_SR300,300_.jpg" alt="Robot Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,162 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J8l7g9">eufy BoostIQ RoboVac 11S (Slim), Robot Vacuum Cleaner, Super-Thin, 1300Pa Strong Suction, Quiet, Self-Charging Robotic Vacuum Cleaner, Cleans Hard Floors...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.00</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J8l7g9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="191.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xdv6LA"><img src="https://images-na.ssl-images-amazon.com/images/I/81iUDga3YsL._SX522_.jpg" alt="Electric Food Dehydrator" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,611 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xdv6LA">Excalibur 3926TB 9-Tray Electric Food Dehydrator with Temperature Settings and 26-hour Timer Automatic Shut Off for Faster and Efficient Drying Includes...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$191.99</span><span class="ori_price">$295.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xdv6LA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="79.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ISAjPL"><img src="https://images-na.ssl-images-amazon.com/images/I/61fasXpxYGL._SX522_.jpg" alt="HyperDrive USB C Hub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>79 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ISAjPL">HyperDrive USB C Hub, Sanho Type C Multi-port Adapter for MacBook Pro 2018 2017 2016, Dual 6in2 Thunderbolt USB-C Dongle w Gigabit Ethernet,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.00</span><span class="ori_price">$99.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ISAjPL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="126.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XBjpx4"><img src="https://images-na.ssl-images-amazon.com/images/I/61r-V8h7OGL._SX522_.jpg" alt="TP-Link AC3150 Wireless Wi-Fi Router" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,802 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XBjpx4">TP-Link AC3150 Wireless Wi-Fi Router - High Performance Wave 2 Wi-Fi for 4K Streaming and Gaming (Archer C3150 V2)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$126.99</span><span class="ori_price">$219.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XBjpx4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XEXBk2"><img src="https://images-na.ssl-images-amazon.com/images/I/71Fvl6BkksL._SX522_.jpg" alt="COSORI Air Fryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>309 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XEXBk2">COSORI Air Fryer(100 Recipes, Rack & 4 Skewers),3.7QT Electric Hot Air Fryers Oven Oilless Cooker,11 Presets,Preheat& Shake Reminder, LED Touch Digital...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XEXBk2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="262.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RCdSkj"><img src="https://images-na.ssl-images-amazon.com/images/I/91y16ZXfBvL._SX522_.jpg" alt="Graco 4Ever 4-in-1 Car Seat" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RCdSkj">Graco 4Ever 4-in-1 Car Seat featuring TrueShield Technology </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$262.90</span><span class="ori_price">$329.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RCdSkj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="33.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDIjMs"><img src="https://images-na.ssl-images-amazon.com/images/I/61gm2SWjdNL._SX679_.jpg" alt="BESTEK 400W Car Power Inverter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,073 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDIjMs">BESTEK 400W Car Power Inverter DC 12V to AC 110V Car Adapter with 5A 4 USB Charging Ports</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.98</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XDIjMs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="399.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NjCJuS"><img src="https://images-na.ssl-images-amazon.com/images/I/613jin2%2BCyL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>167 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NjCJuS">DJI Spark with Remote Control Combo (White)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.00</span><span class="ori_price">$549.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NjCJuS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xbJIez"><img src="https://images-na.ssl-images-amazon.com/images/I/71q4lj5Gh2L._SX679_.jpg" alt="Holy Stone HS170 Predator Mini RC Helicopter Drone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5,155 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xbJIez">Holy Stone HS170 Predator Mini RC Helicopter Drone 2.4Ghz 6-Axis Gyro 4 Channels Quadcopter Good Choice for Drone Training</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.99</span><span class="ori_price">$50.00</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xbJIez">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yg2tcD"><img src="https://images-na.ssl-images-amazon.com/images/I/81U7FCdN6cL._SX679_.jpg" alt="SplashEZ 3-in-1 Sprinkler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>496 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yg2tcD">SplashEZ 3-in-1 Sprinkler for Kids, Splash Pad, and Wading Pool for Learning – Children’s Sprinkler Pool, 60’’ Inflatable Water Toys...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yg2tcD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="54.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NiMWaT"><img src="https://images-na.ssl-images-amazon.com/images/I/61lmTFoqPSL._SX522_.jpg" alt="Rocketbook" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NiMWaT">Rocketbook Back to School Bundle - 2 Everlast Letter (1 Lined & 1 Dot Grid) in Neptune Teal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.40</span><span class="ori_price">$68.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NiMWaT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2REUjI9"><img src="https://images-na.ssl-images-amazon.com/images/I/71KApHzvsvL._SX679_.jpg" alt="Digital Food Dehydrator" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>683 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2REUjI9">Hamilton Beach 32100A Digital Food Dehydrator, 5 Tray, Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$54.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2REUjI9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rz6Lco"><img src="https://images-na.ssl-images-amazon.com/images/I/91u32FNC56L._UY741_.jpg" alt="Dial Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>566 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rz6Lco">Invicta Men's 6621 II Collection Chronograph Stainless Steel Silver/Blue Dial Watch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$70.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Rz6Lco">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="119.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XeemTR"><img src="https://images-na.ssl-images-amazon.com/images/I/61ShYx%2B0JdL._SX522_.jpg" alt="Travel Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>600 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XeemTR">Osprey Packs Farpoint 40 Travel Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.95</span><span class="ori_price">$159.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XeemTR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="129.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LhquMO"><img src="https://images-na.ssl-images-amazon.com/images/I/71atNh-3AmL._SX522_.jpg" alt="Jiobit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>45 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LhquMO">Jiobit - Smallest Real-Time Location Tracker for Kids | Highly Secure, KidSAFE Approved, Lightweight, Durable, Live Notifications...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LhquMO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="24.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X9KbNO"><img src="https://images-na.ssl-images-amazon.com/images/I/8199ku7C7oL._SY879_.jpg" alt="Garage Parking Sensor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>717 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X9KbNO">Striker Adjustable Garage Parking Sensor - Parking Aid</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.96</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X9KbNO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YkjjqM"><img src="https://images-na.ssl-images-amazon.com/images/I/61OrIsbhBuL._SX425_.jpg" alt="Toshiba Full HD Smart LED TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,650 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YkjjqM">Toshiba 43LF421U19 43-inch 1080p Full HD Smart LED TV - Fire TV Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YkjjqM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="24.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JfseTY"><img src="https://images-na.ssl-images-amazon.com/images/I/51Sqc5CmbZL._SX342_.jpg" alt="CAPTAIN MARVEL" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>656 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JfseTY">CAPTAIN MARVEL(Blu-ray)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.96</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JfseTY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="274.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J74xNI"><img src="https://images-na.ssl-images-amazon.com/images/I/51o4l7rvbTL.jpg" alt="Air Purifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>47 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J74xNI">Medify MA-40 Medical Grade True HEPA (H13 99.97%) Air Purifier for 800 Sq. Ft. with Particle Sensor, Modern design</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$274.98</span><span class="ori_price">$349.00</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J74xNI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="83.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RFdGRx"><img src="https://images-na.ssl-images-amazon.com/images/I/81bEh44EWzL._SY741_.jpg" alt="Victrola Retro Desktop Jukebox" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>363 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RFdGRx">Victrola Retro Desktop Jukebox with CD Player, FM Radio, Bluetooth, and Color Changing LED Lights, 15-Inch Tall</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$83.04</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RFdGRx">Shop Now at Amazon</a></div>
</div>

