<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XEAqHr"><img src="https://images-na.ssl-images-amazon.com/images/I/51R88kgEmhL._UX535_.jpg" alt="PRIME DEAL OF THE DAY" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>$25.00 - $39.00</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XEAqHr">PRIME DEAL OF THE DAY: Save up to 50% on Classic Shoes(Puma, Kswiss, Reebok)</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/32jXv0V">PUMA Women's Vikky Sneaker</a> - <span>$30.01 - $54.95</span></li>
            <li><a target="_blank" href="https://amzn.to/2S8IqdP">PUMA Men's Smash V2 Sneaker</a> - <span>$31.99 - $52.34</span></li>
            <li><a target="_blank" href="https://amzn.to/2xJEczT">Reebok Unisex Adult's Aztrek SHOES</a> - <span>$19.94 - $100.00</span></li>
            <li><a target="_blank" href="https://amzn.to/2JtcsGu">Reebok Women's Classic Renaissance Sneaker</a> - <span>$41.99 - $60.00</span></li>
            <li><a target="_blank" href="https://amzn.to/2JrAUrG">K-Swiss Women's St329 CMF Sneaker</a> - <span>$48.99 - $75.00</span></li>
            <li><a target="_blank" href="https://amzn.to/2JutrZb">K-Swiss Men's ST-329 Fashion Sneaker</a> - <span>$56.59 - $75.00</span></li>
            <li><a href="https://amzn.to/2XEAqHr">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="82.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Scy5Oe"><img src="https://images-na.ssl-images-amazon.com/images/I/71McGOnjzBL._SX522_.jpg" alt="Dash Cam," /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>564 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Scy5Oe">PRIME DEAL OF THE DAY: Dash Cam, VAVA 1920x1080P@60fps Wi-Fi Car Dash Camera with Sony Night...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$82.99</span><span class="ori_price">$119.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Scy5Oe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="31.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30zvaC9"><img src="https://images-na.ssl-images-amazon.com/images/I/71Zo7snBX6L._SX679_.jpg" alt="VAVA Dash Cam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>93 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30zvaC9">PRIME DEAL OF THE DAY: VAVA Dash Cam 1080P Full HD Car DVR Dashboard Camera, Driving Recorder with 3 Inch LCD...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.49</span><span class="ori_price">$44.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30zvaC9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="209.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJj8Si"><img src="https://images-na.ssl-images-amazon.com/images/I/61vKzzkTZDL._SX522_.jpg" alt="TOMOLOO Music-Rhythmed Hover Board" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>584 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJj8Si">TOMOLOO Music-Rhythmed Hover Board for Kids and Adult Two-Wheel Self-Balancing Scooter- UL2272 Certificated ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$209.00</span><span class="ori_price">$299.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LJj8Si">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ju9DVG"><img src="https://images-na.ssl-images-amazon.com/images/I/61UCHYwTUAL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>241 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ju9DVG">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ju9DVG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="2.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWPM9v"><img src="https://images-na.ssl-images-amazon.com/images/I/618BxsGoTGL._SY879_.jpg" alt="Ink Roller Ball Pens" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7,039 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWPM9v">Pilot G2 Retractable Premium Gel Ink Roller Ball Pens, Fine Point, 2-Pack, Purple Ink (31052)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2.74</span><span class="ori_price">$4.75</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XWPM9v">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="8.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32jZ0vZ"><img src="https://images-na.ssl-images-amazon.com/images/I/71iL4WdraXL._SX679_.jpg" alt="iFrogz Audio" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>260 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32jZ0vZ">iFrogz Audio - Plugz Wireless Bluetooth Earbuds - Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.93</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32jZ0vZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xJF9It"><img src="https://images-na.ssl-images-amazon.com/images/I/61j9hP6MMbL._SX679_.jpg" alt="Powerbeats3 Wireless Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,416 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xJF9It">Powerbeats3 Wireless Earphones - Neighborhood Collection - Brick Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$199.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xJF9It">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="53.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XRwqCU"><img src="https://images-na.ssl-images-amazon.com/images/I/71LVaoDOnUL._UX679_.jpg" alt="Oakley Men's Voyage 23l Roll Top Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XRwqCU">Oakley Men's Voyage 23l Roll Top Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.99</span><span class="ori_price">$120.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XRwqCU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="34.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xFHhkv"><img src="https://images-na.ssl-images-amazon.com/images/I/91gUdyHXbyL._UY679_.jpg" alt="Youth Children's Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xFHhkv">Herschel Supply Co. Little America Youth Children's Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.48</span><span class="ori_price">$89.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xFHhkv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30umywE"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2Byug67%2B4L._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>33,719 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30umywE">Instant Pot DUO80 8 Qt 7-in-1 Multi- Use Programmable Pressure Cooker, Slow Cooker, Rice Cooker, Steamer, Sauté...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$139.95</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30umywE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y11UX6"><img src="https://images-na.ssl-images-amazon.com/images/I/71TzCLRzYAL._SY355_.jpg" alt="Certified Refurbished Ring Video Doorbell 2" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y11UX6">Certified Refurbished Ring Video Doorbell 2</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$169.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y11UX6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="136.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xFp7iS"><img src="https://images-na.ssl-images-amazon.com/images/I/81ByPZMUlCL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>750 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xFp7iS">Zinus Omkaram Upholstered Navy Button Detailed Platform Bed / Mattress Foundation / Easy Assembly / Strong Wood...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$136.96</span><span class="ori_price">$214.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xFp7iS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="66.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32ldJXu"><img src="https://images-na.ssl-images-amazon.com/images/I/71cedDEfnLL._SX522_.jpg" alt="Convenience Concepts Newport Desk" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>123 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32ldJXu">Convenience Concepts Newport Desk with Drawer, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$66.99</span><span class="ori_price">$127.29</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32ldJXu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30vfWhn"><img src="https://images-na.ssl-images-amazon.com/images/I/61X6CZmcWQL._SX679_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>173 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30vfWhn">LARKKEY WiFi Home Security Surveillance Camera 1080P, Smart Baby Monitor Compatible with Alexa and Google Home, Motion Detection & Tracker, Night Vision</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30vfWhn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="4.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XYMnqQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2Be86Rda-L._SX522_.jpg" alt="Dingo Twist Sticks Rawhide Chews" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,410 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XYMnqQ">Dingo Twist Sticks Rawhide Chews, Made With Real Chicken</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.06</span><span class="ori_price">$10.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XYMnqQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="4.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30sOsJ7"><img src="https://images-na.ssl-images-amazon.com/images/I/41p6wB-oU9L.jpg" alt="SmartSticks Rawhide Free Dog Chew" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>745 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30sOsJ7">SmartSticks Rawhide Free Dog Chew Peanut Butter and Buerre d' Arachide</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.58</span><span class="ori_price">$12.64</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30sOsJ7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="6.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JqNN5n"><img src="https://images-na.ssl-images-amazon.com/images/I/41JH8T1JRrL.jpg" alt="SmartBones Chicken Dog Chew" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,155 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JqNN5n">SmartBones Chicken Dog Chew</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.70</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JqNN5n">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="4.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2S6QCvb"><img src="https://images-na.ssl-images-amazon.com/images/I/815f0BXG2%2BL._SX522_.jpg" alt="Dog Shampoo" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,375 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2S6QCvb">FURminator deShedding Ultra Premium Dog Shampoo to Reduce Shedding</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.49</span><span class="ori_price">$13.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2S6QCvb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2S4rGEs"><img src="https://images-na.ssl-images-amazon.com/images/I/51lQOcxzklL._SY879_.jpg" alt="Petmate Pet Café Feeder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,758 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2S4rGEs">Petmate Pet Café Feeder</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.49</span><span class="ori_price">$17.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2S4rGEs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNcpcU"><img src="https://images-na.ssl-images-amazon.com/images/I/81HNnzPqQfL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>7,531 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNcpcU">MidWest Homes for Pets Deluxe Pet Beds | Super Plush Dog & Cat Beds Ideal for Dog Crates | Machine Wash & Dryer...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$28.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NNcpcU">Shop Now at Amazon</a></div>
</div>

