<div class="st_warp">
 <div class="st_top_warp clearfix">
   <div class="st_top clearfix">
    <div class="st_left clearfix">
      
      <h2>LEFT DEALS & SALES</h2>
      <% @promotion.each do |promo| %>
        <div class="st_box clearfix">
          <div class="st_image"><a target="_blank" href="<%= promo.sp_link %>"><img src="<%= promo.sp_image %>" alt="<%= promo.sp_title %>" title="<%= promo.sp_store_name %>"></a></div>
          <div class="inner">
            <p><em class="st_title"><%= promo.sp_store_name %></em> | Up to <%= number_to_percentage(promo.sp_percentage_01, precision: 0) %> OFF <% if can? :update, promo %> | <%= link_to 'Edit', edit_storepromotion_path(promo) %><% end %></p>
            <span><a target="_blank" href="<%= promo.sp_link %>"><%= promo.sp_title %></a></span>
            <% if promo.sp_promocode.present? %>
              <!-- <div class="store_code"><p>Code: <%= promo.sp_promocode %></p></div> -->
              <div class="text_copied store_sti">
                <div class="container"><div class="wrap"><div class="box"><p data-copy-text=""><%= promo.sp_promocode %></p></div></div></div>
              </div>
            <% end %>
            <!-- <span><%= promo.sp_description %></span> -->
          </div>
        </div>
      <% end %>
      <div class="more_btn"><a href="/storepromotions">SEE MORE</a></div>

    </div><!--./st_left-->

    <div class="st_right clarfix">
      
      <h2>RIGHT DEALS & SALES</h2>

      <% @promotion_with_code.each do |promo| %>
        <div class="st_box clearfix">
          <div class="st_image"><a target="_blank" href="<%= promo.sp_link %>"><img src="<%= promo.sp_image %>" alt="<%= promo.sp_title %>" title="<%= promo.sp_store_name %>"></a>
          </div>
          <div class="inner">
            <p><em class="st_title"><%= promo.sp_store_name %></em> | Up to <%= number_to_percentage(promo.sp_percentage_01, precision: 0) %> OFF <% if can? :update, promo %> | <%= link_to 'Edit', edit_storepromotion_path(promo) %><% end %></p>
            
            <span><a target="_blank" href="<%= promo.sp_link %>"><%= promo.sp_title %></a></span>
            <% if promo.sp_promocode.present? %>
              <!-- <div class="store_code"><p>Code: <%= promo.sp_promocode %></p></div> -->
              <!-- <div class="text_copied store_sti">
                <div class="container"><div class="wrap"><div class="box"><p data-copy-text=""><%= promo.sp_promocode %></p></div></div></div>
              </div> -->
            <% end %>
            <!-- <span><%= promo.sp_description %></span> -->
          </div>
        </div>
      <% end %>
      <div class="more_btn"><a href="/storepromotions">SEE MORE</a></div>

    </div><!--./st_right-->
   </div><!--./st_top-->

   <div class="st_top_side clearfix">
    <div class="tab-menu-test">
      <div class="title-tab-menu">
        <span>What's</span>Trend?
      </div>
      <div class="tab-menu-wp">
        <ul>
          <li>SAYFA 1</li>
          <li>SAYFA 2</li>
          <!-- <li>SAYFA 3</li> -->
        </ul>
        <div class="clear"></div>
        
        <div class="page1">
          
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://images-na.ssl-images-amazon.com/images/I/51Cup-aObSL._SX425_.jpg" alt="" />
          </div>
          <div class="tab-menu-text-title">
            <p>Extra 40%~60% off Sale Shoes</p>
          </div>
          <div class="tab-menu-text-alt">
            <span><em>$100.00</em> $50.00</span>
          </div>
        </div>
        
          <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61WN0xvzGYL._SX679_.jpg" alt="" />
          </div>
          <div class="tab-menu-text-title">
            GM 5 PLUS5151
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
          
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="http://www.pngmart.com/files/2/IPhone-Apple-PNG-File.png" alt="" />
          </div>
          <div class="tab-menu-text-title">
            IPHONE 7 ÇOK UZUN BURASI
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
        
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://www.mts.ca/file_source/mts/assets/img/wireless_devices/android/LG-G4.png" alt="" />
          </div>
          <div class="tab-menu-text-title">
            LG G4
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
        
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/s960x960/17492776_273952066380058_7076800302457293385_o.jpg?oh=87fa7ba82c1f58e61fb1368c915b81cf&oe=59B43043" alt="" />
          </div>
          <div class="tab-menu-text-title">
            DOGUKAN AKGUN
          </div>
          <div class="tab-menu-text-alt">
            Yazılımcı
          </div>
        </div>
          <div class="all-show">
            See More
          </div>
        </div>
        
        <div class="page1">
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://lh4.googleusercontent.com/S6zhIoUgVeDfKh7ohBaMvtm9mDaQQolRDtXdTQfwv4zMj82rOt6IsNrNM2OszjDLOYx8OMzyM0j8yQipYVn8gxTkSYQED1kE4lEco2Tcxjg8xA5FSHRfsUd1Xq_X1Z8nw7D17RtH" alt="" />
          </div>
          <div class="tab-menu-text-title">
            GM 5 PLUS4124
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
        
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="http://www.pngmart.com/files/2/IPhone-Apple-PNG-File.png" alt="" />
          </div>
          <div class="tab-menu-text-title">
            IPHONE 7
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
        
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://www.mts.ca/file_source/mts/assets/img/wireless_devices/android/LG-G4.png" alt="" />
          </div>
          <div class="tab-menu-text-title">
            LG G4
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
        
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/s960x960/17492776_273952066380058_7076800302457293385_o.jpg?oh=87fa7ba82c1f58e61fb1368c915b81cf&oe=59B43043" alt="" />
          </div>
          <div class="tab-menu-text-title">
            DOGUKAN AKGUN
          </div>
          <div class="tab-menu-text-alt">
            Yazılımcı
          </div>
        </div>
           <div class="all-show">
            Tümünü göster
          </div>
        </div>
        
        <div class="page1">
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://lh4.googleusercontent.com/S6zhIoUgVeDfKh7ohBaMvtm9mDaQQolRDtXdTQfwv4zMj82rOt6IsNrNM2OszjDLOYx8OMzyM0j8yQipYVn8gxTkSYQED1kE4lEco2Tcxjg8xA5FSHRfsUd1Xq_X1Z8nw7D17RtH" alt="" />
          </div>
          <div class="tab-menu-text-title">
            GM 5 PLUS511
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
        
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="http://www.pngmart.com/files/2/IPhone-Apple-PNG-File.png" alt="" />
          </div>
          <div class="tab-menu-text-title">
            IPHONE 7
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
        
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://www.mts.ca/file_source/mts/assets/img/wireless_devices/android/LG-G4.png" alt="" />
          </div>
          <div class="tab-menu-text-title">
            LG G4
          </div>
          <div class="tab-menu-text-alt">
            Teknoloji Haberleri
          </div>
        </div>
        
        <div class="tab-menu-text">
          <div class="tab-menu-img">
            <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/s960x960/17492776_273952066380058_7076800302457293385_o.jpg?oh=87fa7ba82c1f58e61fb1368c915b81cf&oe=59B43043" alt="" />
          </div>
          <div class="tab-menu-text-title">
            DOGUKAN AKGUN
          </div>
          <div class="tab-menu-text-alt">
            Yazılımcı
          </div>
        </div>
           <div class="all-show">
            Tümünü göster
          </div>
        </div>
      </div>
    </div>


   </div><!--./st_top_side-->

  </div><!--./st_top_wrap-->

  <hr>

  <div class="st_middle clearfix">
    <div class="st_middle_box clearfix">
      <h2>Aliexpress Deals</h2>        
      <% @sdcategory_01.each do |sd01| %>
        <figure class="deals_card deal_stores">
          <div class="image_box">
            <%= link_to image_tag(sd01.sd_image, alt: sd01.sd_title, title: sd01.sd_image_title), sd01 %>
            <div class="mark"><span><%= sd01.sd_percentage %>%</span><em>OFF</em></div>
          </div>
          <div class="buy-now"><span><a target="_blank" href="<%= sd01.sd_link %>">BUY NOW</a></span></div>
          <figcaption>
            <h3>#HashTag</h3>
            <p class="store_title"><%= link_to sd01.sd_title, sd01 %></p>
            <div class="price">
              <em><%= number_to_currency(sd01.sd_spare_31) %></em><%= number_to_currency(sd01.sd_spare_32) %>
            </div>
            <div class="m_btn"><a href="<%= sd01.sd_link %>">Buy Now</a></div>
          </figcaption>
        </figure>
      <% end %>    
    </div><!--./st_middle_box-->

    <hr>

    <div class="st_middle_box clearfix">
      <h2>Walmart Deals</h2>
      <% @sdcategory_02.each do |sd02| %>
        <figure class="deals_card deal_stores">
          <div class="image_box">
            <%= link_to image_tag(sd02.sd_image, alt: sd02.sd_title, title: sd02.sd_image_title), sd02 %>
            <div class="mark"><span><%= sd02.sd_percentage %>%</span><em>OFF</em></div>
          </div>
          <div class="buy-now"><span><a target="_blank" href="<%= sd02.sd_link %>">BUY NOW</a></span></div>
          <figcaption>
            <h3>#HashTag</h3>
            <p class="store_title"><%= link_to sd02.sd_title, sd02 %></p>
            <div class="price">
              <em><%= number_to_currency(sd02.sd_spare_31) %></em><%= number_to_currency(sd02.sd_spare_32) %>
            </div>
            <div class="m_btn"><a href="<%= sd02.sd_link %>">Buy Now</a></div>
          </figcaption>
        </figure>
      <% end %>    
    </div><!--./st_middle_box-->


  </div><!--./st_middle-->


</div><!--./st_wrap-->

<!-- Side Tab Menu -->
<script type="text/javascript">
  $(document).ready(function(){
  $(".page1").hide();
  $(".tab-menu-wp ul li:first").addClass("store_active");
  $(".page1:first").fadeIn();
  $(".tab-menu-wp ul li").click(function(){
      var index = $(this).index();
      $(".page1").hide();
        $(".tab-menu-wp ul li").removeClass("store_active");
      $(".tab-menu-wp ul li:eq("+index+")").addClass("store_active");
        $(".page1:eq("+index+")").fadeIn();
    });
  });
</script>