<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->
<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LAMD8W"><img src="https://m.media-amazon.com/images/I/81+uJXCZ-YL._SR400,400_.jpg" alt="ProCase Galaxy Tab S5e..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LAMD8W">ProCase Galaxy Tab S5e 10.5 2019 T720 T725 Case, Slim Light Cover Stand Hard Shell Folio Case for 10.5 Inch Galaxy Tab S5e Tablet...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $12.99</strong> with promo code: <strong>30WNRAOG</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LAMD8W">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jsd3a6"><img src="https://m.media-amazon.com/images/I/71OesWXDgiL._SR400,400_.jpg" alt="JADEMALL Keyboard Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>46 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jsd3a6">JADEMALL Keyboard Case for iPad Pro 12.9 Inch 2018(3rd Gen), Detachable Wireless Smart Keyboard Stand Folio Cover,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.18</span><span class="ori_price">$48.98</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $48.98</strong> with promo code: <strong>201IHVVL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 12:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jsd3a6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XnEOpc"><img src="https://m.media-amazon.com/images/I/61xaFsgHI5L._SR400,400_.jpg" alt="Active Stylus Pen" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XnEOpc">Active Stylus Pen for Touch Screen, G-TING Digital Pen Compatible for iPad iPhone &Tablets, Smart Digital Pencil...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>50% off at $21.99</strong> with promo code: <strong>503BJICQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XnEOpc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30,.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yv1YeV"><img src="https://m.media-amazon.com/images/I/51HmOM+PQtL._SR400,400_.jpg" alt="GRC Bluetooth Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yv1YeV">GRC Bluetooth Wireless Earbuds 5.0 Headphones, 18H Playtime Stereo Deep Bass w/Mic, Sport Wireless Touch Control Earbuds with Charging Case...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30,.00</span><span class="ori_price">$59.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $59.99</strong> with promo code: <strong>50C9L6KN</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yv1YeV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30fo0CZ"><img src="https://m.media-amazon.com/images/I/71K7KKghd4L._SR400,400_.jpg" alt="ZOVER Battery Case for iPhone Xs/X" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>62 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30fo0CZ">ZOVER Battery Case for iPhone Xs/X, Portable Charger 4000mAh Travel Slim High-Speed Dual USB Type-C Power Bank,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>10% off at $39.99</strong> with promo code: <strong>10BK962O</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30fo0CZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="77" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xz6mxn"><img src="https://m.media-amazon.com/images/I/41Vzi5wb2IL._SR400,400_.jpg" alt="Face & Neck Firming Cream" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>119 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>77% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xz6mxn">Face & Neck Firming Cream - Top Influencer - Organic & Vegan - Helps With Anti-Wrinkle & Firming Skin Packed with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$19.57</span></address>
      <p><span>Take <strong>77% off at $19.57</strong> with promo code: <strong>77NBIZHI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xz6mxn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="77" data-price="4.57">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XHFCK1"><img src="https://m.media-amazon.com/images/I/61CrusygM+L._SR400,400_.jpg" alt="18 Super Pigmented" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,477 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>77% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XHFCK1">18 Super Pigmented - Top Influencer Professional Eyeshadow Palette all finishes, 5 Matte + 9 Shimmer + 4 Duochrome - Buttery Soft...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.57</span><span class="ori_price">$19.87</span></address>
      <p><span>Take <strong>77% off at $19.87</strong> with promo code: <strong>77NBIZHI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XHFCK1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RRcD0Q"><img src="https://m.media-amazon.com/images/I/81hmxa+GZTL._SR400,400_.jpg" alt="Belilent Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>201 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RRcD0Q">Belilent Sneakers Women Men Breathable Walking Shoes Women Fashion Slip on Work Nursing Workout Casual Gym Shoes for Outdoor Indoor Travel Sport</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>50% off at $26.99</strong> with promo code: <strong>50AMAZONSF07</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RRcD0Q">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="20.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JakFPP"><img src="https://m.media-amazon.com/images/I/91ElbW95LML._SR400,400_.jpg" alt="StorageWorks Closet Bins" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>256 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JakFPP">StorageWorks Closet Bins for Shelves, Closet Baskets with Cotton Rope Handles, Mixing of Gray, Brown & Beige, 3-Pack, Jumbo</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.39</span><span class="ori_price">$33.99</span></address>
      <p><span>Take <strong>40% off at $33.99</strong> with promo code: <strong>40E52P6F</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JakFPP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="18.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xp2jye"><img src="https://m.media-amazon.com/images/I/81LgwKDytwL._SR400,400_.jpg" alt="Premium Digestive Enzyme Supplement" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xp2jye">MassZymes - Premium Digestive Enzyme Supplement for Women and Men - Most Potent Enzyme Formula on The Planet - Now with AstraZyme (120 Capsules) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.98</span><span class="ori_price">$39.95</span></address>
      <p><span>Take <strong>50% off at $39.95</strong> with promo code: <strong>50OFFAMAZON</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xp2jye">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LBoUFt"><img src="https://m.media-amazon.com/images/I/61PAkdHvcPL._SR400,400_.jpg" alt="GRANDIX 3 in One Charging Dock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LBoUFt">GRANDIX 3 in One Charging Dock for Apple Series Charger Docks Station for Airpods iWatch iPhone Android Smartphone Ipad Tablet NightStand Aluminum Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.50</span><span class="ori_price">$25.00</span></address>
      <p><span>Take <strong>50% off at $25.00</strong> with promo code: <strong>503MZ6DL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LBoUFt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XijsJX"><img src="https://m.media-amazon.com/images/I/51gaTXbdorL._SR400,400_.jpg" alt="2 Slice Toaster" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>37 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XijsJX">2 Slice Toaster, CUSIBOX Extra Wide Slots Stainless Steel Toaster with 7 Bread Browning Settings, REHEAT/DEFROST/CANCEL Function, 750W</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$34.99</span></address>
      <p><span>Take <strong>40% off at $34.99</strong> with promo code: <strong>40ST013MF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XijsJX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lw6vtX"><img src="https://m.media-amazon.com/images/I/51+tnk5cR8L._SR400,400_.jpg" alt="RAOYI LED Desk Lamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>132 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lw6vtX">RAOYI LED Desk Lamp Eye-Caring Table Lamps, Dimmable Office Lamp with USB Charging Port, Touch Control Sensitive, 5 Color Modes, Black, 12W</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.87</span><span class="ori_price">$19.79</span></address>
      <p><span>Take <strong>40% off at $19.79</strong> with promo code: <strong>40ABYFXH</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lw6vtX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="19.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YwlBmG"><img src="https://m.media-amazon.com/images/I/61Fp99a9+hL._SR400,400_.jpg" alt="Desktop Charging Station" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YwlBmG">Volmate 60W 12A 8-Port USB Wall Charger Desktop Charging Station with Intelligent Hub for iPhone Xs XS Max XR X 8 7 Plus,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.49</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>35% off at $29.99</strong> with promo code: <strong>35291WTK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YwlBmG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J65R4G"><img src="https://m.media-amazon.com/images/I/61kemUOWrWL._SR400,400_.jpg" alt="Selfie Stick" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>56 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J65R4G">Selfie Stick with Bluetooth Remote,SYOSIN 3 in 1 Extendable Selfie Stick(37 inch) and Tripod Stand...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>50% off at $19.99</strong> with promo code: <strong>50HYKBC8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J65R4G">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="3.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J66prg"><img src="https://m.media-amazon.com/images/I/61BoaGK+HsL._SR400,400_.jpg" alt="Ainope iPhone XR Case Compatible" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>105 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J66prg">Ainope iPhone XR Case Compatible, [Crystal Clear] Shock Absorption with 4 Corners Protection, Protective Cover...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.60</span><span class="ori_price">$8.99</span></address>
      <p><span>Take <strong>60% off at $8.99</strong> with promo code: <strong>60134VNP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J66prg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XLPK4u"><img src="https://m.media-amazon.com/images/I/71UuDr4YlaL._SR400,400_.jpg" alt="AINOPE Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,974 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XLPK4u">AINOPE Car Charger, 4.8A Aluminum Alloy Car Charger Adapter Dual USB Port Fast Car Charging Mini Flush Fit...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.20</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>60% off at $12.99</strong> with promo code: <strong>60ROFO6N</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XLPK4u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="45.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LF98tc"><img src="https://m.media-amazon.com/images/I/51UXjeyh0yL._SR400,400_.jpg" alt="Noise Cancelling Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LF98tc">TaoTronics Active Noise Cancelling Bluetooth Headphones, HiFi Stereo Wireless Over Ear Deep Bass Headset...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$45.49</span><span class="ori_price">$69.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>35% off at $69.99</strong> with promo code: <strong>35HMQ4YV</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LF98tc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J6N1uf"><img src="https://m.media-amazon.com/images/I/51Q4oWaxsUL._SR400,400_.jpg" alt="Power Strip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J6N1uf">Power Strip with 3 USB & 2 Outlets, KPSTEK Small Desktop Charging Station with 5ft Extension Cord,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.35</span><span class="ori_price">$14.39</span></address>
      <p><span>Take <strong>35% off at $14.39</strong> with promo code: <strong>355Z4IWM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J6N1uf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="36.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJD79U"><img src="https://m.media-amazon.com/images/I/61Qt7m1VOvL._SR400,400_.jpg" alt="Kove Strive Bluetooth Sport Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XJD79U">Kove Strive Bluetooth Sport Earphones - On-Ear, Water Resistant and Passive Noise Reduction</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.39</span><span class="ori_price">$64.99</span></address>
      <p><span>Take <strong>44% off at $64.99</strong> with promo code: <strong>44UNBOXKOVE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XJD79U">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="81.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2G1TgxF"><img src="https://m.media-amazon.com/images/I/81xEZr1qbjL._SR400,400_.jpg" alt="Wireless Bluetooth 4.1 Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>84 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2G1TgxF">Kove Commuter Portable Splashproof Wireless Bluetooth 4.1 Speaker Indoor/Outdoor Powerful X-Bass</a></p>
    <div class="code_high">
      <address><span class="dis_price">$81.19</span><span class="ori_price">$144.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>44% off at $144.99</strong> with promo code: <strong>44UNBOXKOVE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2G1TgxF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LASgE0"><img src="https://m.media-amazon.com/images/I/51XAhqNig7L._SR400,400_.jpg" alt="Magnetic USB C Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>248 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LASgE0">ELECJET MagJet, Magnetic USB C Adapter, Magsafe replacement, 6.6ft PD Type C Charging Cable Support up to 87W...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>10% off at $23.99</strong> with promo code: <strong>109TO5MAC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LASgE0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J7XF3L"><img src="https://m.media-amazon.com/images/I/71USn3AvziL._SR400,400_.jpg" alt="Tzowla Business Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>740 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J7XF3L">Tzowla Business Laptop Backpack Water Resistant Anti-Theft College Backpack with USB Charging Port and Lock 15.6 Inch Computer Backpacks...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.29</span><span class="ori_price">$28.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $28.99</strong> with promo code: <strong>30TZOWLA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J7XF3L">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RUvJDh"><img src="https://m.media-amazon.com/images/I/71dFcFpRxDL._SR400,400_.jpg" alt="Water Flosser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>91 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RUvJDh">Water Flosser, ABOX Dental Oral Irrigator 600ml Capacity with 8 multifunctional Tips 10 Water Pressures Countertop Dental Flosser(FDA Approved)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.98</span><span class="ori_price">$39.97</span>
      </address>
      <p><span>Take <strong>30% off at $39.97</strong> with promo code: <strong>30RIZ7U7</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RUvJDh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jr6Ds6"><img src="https://m.media-amazon.com/images/I/81iGpMDUl9L._SR400,400_.jpg" alt="Hyaluronic Acid Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>93 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jr6Ds6">Hyaluronic Acid Serum, BREYLEE Moisturizing Face Serum Anti Aging Serum for Deeply Enhancing Nourishing Hydrating (40ml, 1.37fl Oz) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>60% off at $17.99</strong> with promo code: <strong>60I943BI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jr6Ds6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="21.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/326AA99"><img src="https://m.media-amazon.com/images/I/91v6M5QhGvL._SR400,400_.jpg" alt="Mini Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>721 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/326AA99">Mini Essential Oil Diffuser & E-book Bundle - 6+ Hours of Super High Aroma Output - Wood Diffusers for Essential Oils</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.24</span><span class="ori_price">$24.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $24.99</strong> with promo code: <strong>15ESSENTIAL</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/326AA99">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J7iqfU"><img src="https://m.media-amazon.com/images/I/615JchU-1aL._SR400,400_.jpg" alt="Portable Travel Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J7iqfU">Portable Travel Blender for Shakes and Smoothies, QUELLANCE 11 oz Single Serve Blender, Portable and USB Rechargeable,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.50</span><span class="ori_price">$34.99</span></address>
      <p><span>Take <strong>50% off at $34.99</strong> with promo code: <strong>501D5CZP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J7iqfU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LzTlfw"><img src="https://m.media-amazon.com/images/I/81xjNlGmmmL._SR400,400_.jpg" alt="Aicok Sandwich Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LzTlfw">Aicok Sandwich Maker, Waffle Maker, Sandwich Grill, 800-Watts, 3-in-1 Detachable Non-stick Coating, LED Indicator Lights,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.09</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>30% off at $32.99</strong> with promo code: <strong>30LPUV1H</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LzTlfw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YwsoNc"><img src="https://m.media-amazon.com/images/I/51spTbrwJxL._SR400,400_.jpg" alt="MICHELANGELO 8 Inch Frying Pan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>113 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YwsoNc">MICHELANGELO 8 Inch Frying Pan with Lid, Ultra Nonstick Small Frying Pan with Ceramic Titanium Coating, Copper Frying Pan...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>30UGNKPB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YwsoNc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XkULfV"><img src="https://m.media-amazon.com/images/I/61DPMwM8+bL._SR400,400_.jpg" alt="Glass Teapot" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>73 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XkULfV">Glass Teapot with Stainless Steel Infuser and Lid,26oz/750ml Borosilicate Ultralight High Heat Resistance Teapots...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>30% off at $16.99</strong> with promo code: <strong>30U4AA1J</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XkULfV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="34.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LvqMQ6"><img src="https://m.media-amazon.com/images/I/71HYB1sEOXL._SR400,400_.jpg" alt="Knife Set,6-Piece Kitchen Knife Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>99 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LvqMQ6">Knife Set,6-Piece Kitchen Knife Set with Wooden Block Germany High Carbon Stainless Steel Knife Block Set,Chef Knife Set...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.38</span><span class="ori_price">$42.98</span></address>
      <p><span>Take <strong>20% off at $42.98</strong> with promo code: <strong>20NGVE13</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LvqMQ6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J8ka8O"><img src="https://m.media-amazon.com/images/I/519U24lXCAL._SR400,400_.jpg" alt="KI 4.5QT Ceramic Nonstic Soup Pot" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J8ka8O">KI 4.5QT Ceramic Nonstic Soup Pot | Induction Compatible Casserole with Free Measuring Cups and Spoons | Stockpot with Glass Lid...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>50% off at $59.99</strong> with promo code: <strong>50EY7D82</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J8ka8O">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="53.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xqdZ9s"><img src="https://m.media-amazon.com/images/I/61ehOHS4kuL._SR400,400_.jpg" alt="Sous Vide" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>83 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xqdZ9s">Sous Vide, AUKUYEE Sous Vide Machine Immersion Circulator Sous Vide Cooker Sturdy Stainless Steel Circulator with Smart Operation Panel...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$53.99</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>40% off at $89.99</strong> with promo code: <strong>40MB4UG7</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xqdZ9s">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="12.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xuglnW"><img src="https://m.media-amazon.com/images/I/51fCXQpbm+L._SR400,400_.jpg" alt="DiamondSmile Replacement Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,140 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xuglnW">DiamondSmile Replacement Toothbrush Heads Compatible with Sonicare Plaque Control HX9028/64 8 Pack,fits 2 Series,Gum...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.71</span><span class="ori_price">$16.95</span></address>
      <p><span>Take <strong>25% off at $16.95</strong> with promo code: <strong>25NRKUFI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xuglnW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LAvQmz"><img src="https://m.media-amazon.com/images/I/61cgzy1sakL._SR400,400_.jpg" alt="Fingerprint Bluetooth Padlock Metal Keyless Gym Lock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LAvQmz">Fingerprint Bluetooth Padlock Metal Keyless Gym Lock for Portable Luggage Travel Lock Rechargeable USB Biometric Backpack Padlock...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>35% off at $39.99</strong> with promo code: <strong>35SCJVG9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LAvQmz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFcsEG"><img src="https://m.media-amazon.com/images/I/51Ix+zFiA4L._SR400,400_.jpg" alt="LEDGLE Updated Rechargeable LED Book Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,356 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFcsEG">LEDGLE Updated Rechargeable LED Book Light, Hands Free, Best for Bed Reading or Read in Car, Flexible Arm, 4 Super Bright LED Bulbs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>50YGN7WS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 08:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LFcsEG">Use Code at Amazon</a></div>
</div>

