<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JiqzOZ"><img src="https://m.media-amazon.com/images/I/51Sdov-2nTL._SR400,400_.jpg" alt="VANMASS Qi Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>76 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JiqzOZ">VANMASS Qi Wireless Charger, Fast Ultra-Thin Foldable Wireless Charger, 10W/7.5W Fast Wireless Charging Stand Conpitable with Note 9/S9/S9,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>40% off at $12.99</strong> with promo code: <strong>401OKOLM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JiqzOZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="22.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XrfSx5"><img src="https://m.media-amazon.com/images/I/61AaQbEgvOL._SR400,400_.jpg" alt="Yoobao 20000mAh Portable Charger Power Bank" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>105 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XrfSx5">Yoobao 20000mAh Portable Charger Power Bank External Battery Pack (2 Outputs, 3 Inputs, Digital Display)...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.19</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>40% off at $36.99</strong> with promo code: <strong>40CZOAFI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XrfSx5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xzSQKc"><img src="https://m.media-amazon.com/images/I/81Unr0Qa-cL._SR400,400_.jpg" alt="Modoker Vintage Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,365 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xzSQKc">Modoker Vintage Laptop Backpack for Women Men,School College Backpack with USB Charging Port Fashion Backpack Fits 15 inch Notebook (Grey)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$23.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>25% off at $23.99</strong> with promo code: <strong>25MODOKER</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xzSQKc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.3">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xuu3am"><img src="https://m.media-amazon.com/images/I/61bgMHHYQFL._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xuu3am">Wireless Earbuds Bluetooth for Running, 28 Hours Playtime, Bluetooth 5.0 Headphones with Mic, Stereo Bass IPX7 Waterproof,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.3</span><span class="ori_price">$38.59</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $38.59</strong> with promo code: <strong>508LWWU8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xuu3am">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xuuAcm"><img src="https://images-na.ssl-images-amazon.com/images/I/61jsLKGloXL._SX522_.jpg" alt="Tenda NOVA Whole Home Mesh WiFi System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>52 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xuuAcm">Tenda NOVA Whole Home Mesh WiFi System - Replaces Gigabit AC WiFi Router and Extenders, Dual Band, Works with Amazon Alexa...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$109.99</span><span class="ori_price">$159.99</span></address>
      <p><span>Take <strong>31% off at $159.99</strong> with promo code: <strong>50OFFPRIME</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xuuAcm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="4.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJJDr3"><img src="https://m.media-amazon.com/images/I/61pSQm2A0AL._SR400,400_.jpg" alt="Moallia Phone Charger Cables" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>235 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJJDr3">Moallia Phone Charger Cables, 2 Pack 6FT Extra Long Nylon Braided USB Fast Charging & Syncing Cord Compatible with Phone Xs MAX/XR/X/8...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.79</span><span class="ori_price">$7.99</span></address>
      <p><span>Take <strong>40% off at $7.99</strong> with promo code: <strong>40V43NI4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LJJDr3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XuJkr8"><img src="https://m.media-amazon.com/images/I/41cnjNcB+LL._SR400,400_.jpg" alt="JIECAN Amphibious RC Stunt Car" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XuJkr8">JIECAN Amphibious RC Stunt Car 2.4Ghz - 4WD Water and Land Remote Control Boat Truck Monster Double Sided Rotate,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $49.99</strong> with promo code: <strong>5068DL5Y</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XuJkr8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JeKChc"><img src="https://m.media-amazon.com/images/I/51jlIgEVBZL._SR400,400_.jpg" alt="Wumal Handheld Mini Heat Bag Sealer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>56 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JeKChc">Wumal Handheld Mini Heat Bag Sealer, Portable Hand Pressure Sealing Machine for Airtight Food Storage, Reseal Snack Bags,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.59</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>40% off at $10.99</strong> with promo code: <strong>40K75KFX</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JeKChc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xw3gou"><img src="https://m.media-amazon.com/images/I/61y-RcEtNqL._SR400,400_.jpg" alt="GearOZ Folding Pocket Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xw3gou">GearOZ Folding Pocket Knife with Clip-Stainless Steel Blade with Sharp Serrations for Hunting,Camping,Outdoor Survival</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>50% off at $14.99</strong> with promo code: <strong>50I9ZZ7A</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xw3gou">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32bLs5S"><img src="https://m.media-amazon.com/images/I/618Q3gLb1SL._SR400,400_.jpg" alt="Desk Clamp Power Strip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>133 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32bLs5S">Desk Clamp Power Strip 3 Outlet with 3 USB,The Clamp Edge Mount Power Center,Aluminum Alloy Fireproof Desktop Power Socket with Switch</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.49</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $49.99</strong> with promo code: <strong>155ODA2I</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32bLs5S">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="18.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xwciHx"><img src="https://m.media-amazon.com/images/I/61TW2TWCvYL._SR400,400_.jpg" alt="Unizooke 2019 Third Generation Snorkel Mask" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xwciHx">Unizooke 2019 Third Generation Snorkel Mask Set,Foldable Full Face Snorkel Mask for Adults with Camera Mount Anti -Leak Anti - Fog</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.69</span><span class="ori_price">$33.99</span></address>
      <p><span>Take <strong>45% off at $33.99</strong> with promo code: <strong>455ICK9L</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xwciHx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFZgQe"><img src="https://m.media-amazon.com/images/I/813m-93sWXL._SR400,400_.jpg" alt="VEEYOO Ultra Thin Velvet Baby Hangers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFZgQe">VEEYOO Ultra Thin Velvet Baby Hangers - 25 Pack - Heavy Duty, Non Slip & Space Saving Small Clothes Hangers for Babies 0-48 Months...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.19</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>30% off at $15.99</strong> with promo code: <strong>30GGXXF6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LFZgQe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="36.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xzwgBe"><img src="https://m.media-amazon.com/images/I/717kw+WFFfL._SR400,400_.jpg" alt="EaseLife 6 FT Heavy Duty Sliding Barn Door..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>67 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xzwgBe">EaseLife 6 FT Heavy Duty Sliding Barn Door Hardware Track Kit-Ultra Hard Sturdy | Sliding Smooth Quiet | Easy Install |...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.99</span><span class="ori_price">$73.98</span></address>
      <p><span>Take <strong>50% off at $73.98</strong> with promo code: <strong>50BHXKD6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xzwgBe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30fbqmZ"><img src="https://m.media-amazon.com/images/I/51+NHyWBlvL._SR400,400_.jpg" alt="Livhò Sunglasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>868 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30fbqmZ">Livhò Sunglasses for Men Women Aviator Polarized Metal Mirror UV 400 Lens Protection</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.74</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>35% off at $14.99</strong> with promo code: <strong>35OFFLIVHO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 04:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30fbqmZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="17.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JgqHOH"><img src="https://m.media-amazon.com/images/I/71P3HQxGCLL._SR400,400_.jpg" alt="Car Vacuum Cleaner High Power" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>314 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JgqHOH">Car Vacuum Cleaner High Power - Baronage Corded Portable Auto Car Vac with LED Light, DC 12V Mini Handheld Vacuum Cleaner for Quick Car Cleaning (Red)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.47</span><span class="ori_price">$26.88</span></address>
      <p><span>Take <strong>35% off at $26.88</strong> with promo code: <strong>355UIKW4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 05:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JgqHOH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="21.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32cOAhC"><img src="https://m.media-amazon.com/images/I/71Anu-v2XzL._SR400,400_.jpg" alt="GHB Pet Clippers Cordless Double-Edged Dog Clippers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32cOAhC">GHB Pet Clippers Cordless Double-Edged Dog Clippers Pet Grooming Clipper with Large Small Blades and 2 Combs for Dogs, Cats and Other Pets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.74</span><span class="ori_price">$28.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>25% off at $28.99</strong> with promo code: <strong>254DG51S</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32cOAhC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32ekLgQ"><img src="https://m.media-amazon.com/images/I/718SBZJIqrL._SR400,400_.jpg" alt="ISIDO Mens Watches" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32ekLgQ">ISIDO Mens Watches - Waterproof Quartz Wrist Watches for Men - Luxury Fashion Industrial Spirit Watches ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>50% off at $20.99</strong> with promo code: <strong>50L91P5G</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32ekLgQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jgs1RF"><img src="https://m.media-amazon.com/images/I/71Kp7H5ZszL._SR400,400_.jpg" alt="YOHOOLYO Aromatherapy Facial Steamer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jgs1RF">YOHOOLYO Aromatherapy Facial Steamer Warm Mist Spa Face Steamer Moisturizing Humidifier Atomizer with Essential Oil Box, Cotton Piece and Head Band </a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $29.99</strong> with promo code: <strong>20MGX5F3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jgs1RF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="8.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LGHwnC"><img src="https://m.media-amazon.com/images/I/71hsUC4Xa1L._SR400,400_.jpg" alt="Water Shoes Men Women Quick Dry Aqua Water" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>46 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LGHwnC">Water Shoes Men Women Quick Dry Aqua Water Shoes for Beach Walking Swim Summer Water Sports Surf Yoga Outdoor Pool Exercise</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.40</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>70% off at $27.99</strong> with promo code: <strong>70AMAZON07</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LGHwnC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="25.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XyusTS"><img src="https://m.media-amazon.com/images/I/71jH81-t8LL._SR400,400_.jpg" alt="Univivi HDMI 2.0 Switch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>57 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XyusTS">Univivi HDMI 2.0 Switch 4k@60Hz HDMI Switcher 5-Port 5x1 Switch Distributor Support HDR & HDCP 2.2 Pass-Through & 3D Visual Effect ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.79</span><span class="ori_price">$42.99</span></address>
      <p><span>Take <strong>40% off at $42.99</strong> with promo code: <strong>409UGFMQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XyusTS">Use Code at Amazon</a></div>
</div>
