<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Image_alt" title="Image_title"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button>
</div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
-->

<!-- <div class="deal_btn promo_btn"><em class="stock_m">* Only a few left in stock.</em><a target="_blank" href="product_link">Use Code at Amazon</a><em>* Only a few left in stock.</em></div> -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="45" data-price="9.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32iLo3D"><img src="https://m.media-amazon.com/images/I/81C5+ftH62L._SR400,400_.jpg" alt="Aqui Legend Hot Yoga Towel" title="Aqui Legend Hot Yoga Towel"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32iLo3D">Aqui Legend Hot Yoga Towel, Extra Thick Super Absorbent Yoga Towels, Non Slip Waffle Texture, Perfect Size for Mat - Ideal for Gym Hot Yoga & Pilates</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.34</span><span class="ori_price">$16.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">45LC8HJZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $16.99</strong> with promo code: <strong class="m_codes">45LC8HJZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32iLo3D">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="10" data-price="9.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35Ff39i"><img src="https://m.media-amazon.com/images/I/51N1mxes-WL._SR400,400_.jpg" alt="AUVON Plug-in LED Motion Sensor Night Light" title="AUVON Plug-in LED Motion Sensor Night Light"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35Ff39i">AUVON Plug-in LED Motion Sensor Night Light, Warm White LED Nightlight with Dusk to Dawn Sensor, Motion Sensor, Adjustable Brightness for Bedroom, Bathroom, Kitchen, Hallway, Stairs (2 Pack)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.17</span><span class="ori_price">$10.19</span></address>
      <textarea readonly="readonly" class="code_area">1061DXKJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $10.19</strong> with promo code: <strong class="m_codes">1061DXKJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35Ff39i">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mn1tA1"><img src="https://m.media-amazon.com/images/I/71xzRP7BBBL._SR400,400_.jpg" alt="Wireless Bluetooth Earbuds" title="Wireless Bluetooth Earbuds"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mn1tA1">Wireless Bluetooth Earbuds, SHAVA GEM Bluetooth Headphones with Noise Cancelling and Microphone, True Wireless Earbuds with Touch Sensor and 3D Stereo Sound (Upgraded Version)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">308NWDHA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $39.99</strong> with promo code: <strong class="m_codes">308NWDHA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Mn1tA1">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IVexul"><img src="https://m.media-amazon.com/images/I/61eUes4HgeL._SR400,400_.jpg" alt="InnSweet Makeup Organizer" title="InnSweet Makeup Organizer"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IVexul">InnSweet Makeup Organizer, Cosmetic Display Cases with Slanted Front Open Lid, Acrylic Jewelry & Cosmetic Storage for Perfume, Lipstick, 2 Pieces</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">50MBOWUG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $18.99</strong> with promo code: <strong class="m_codes">50MBOWUG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2IVexul">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="21.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oNGaOR"><img src="https://m.media-amazon.com/images/I/6130L4Kb+9L._SR400,400_.jpg" alt="RegeMoudal Vertical Cooling Stand" title="RegeMoudal Vertical Cooling Stand"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oNGaOR">RegeMoudal Vertical Cooling Stand Compatible with Xbox One/S/X, Cooling Fan with 2*600mAh Batteries, 12 Disc Storage, USB Port, 2 Controller Charging Stations for Xbox One/S/X/Elite USB Cable Included</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.44</span><span class="ori_price">$38.99</span></address>
      <textarea readonly="readonly" class="code_area">45JLL9EG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $38.99</strong> with promo code: <strong class="m_codes">45JLL9EG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oNGaOR">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35AFcWS"><img src="https://m.media-amazon.com/images/I/71lPlSYH7-L._SR400,400_.jpg" alt="FASÏZ IPL Permanent Hair Removal" title="FASÏZ IPL Permanent Hair Removal"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35AFcWS">FASÏZ IPL Permanent Hair Removal System for Women - Painless Light Body Hair Remover - 600,000 Flashes with 2 Replaceble Cartridge Hair Treatment- Home Use Device (Red)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">50YWHFASIZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $99.99</strong> with promo code: <strong class="m_codes">50YWHFASIZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35AFcWS">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31i3nWE"><img src="https://m.media-amazon.com/images/I/51qPQeU+mOL._SR400,400_.jpg" alt="Mini Projector" title="Mini Projector"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31i3nWE">Mini Projector, Full HD 1080P and 170'' Display Supported, 80% Brighter Home Theater Projector, Compatible with Ipad, Fire TV Stick, PS4, HDMI, VGA, TF, USB, Chromecast</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.99</span><span class="ori_price">$89.99</span></address>
      <textarea readonly="readonly" class="code_area">50CX7PFT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $89.99</strong> with promo code: <strong class="m_codes">50CX7PFT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31i3nWE">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MISRm9"><img src="https://m.media-amazon.com/images/I/71pC1o-4kjL._SR400,400_.jpg" alt="iPhone 11 Pro Case" title="iPhone 11 Pro Case"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MISRm9">Ztotop for iPhone 11 Pro Case, [Shockproof Anti-Drop] [Fit Screen Protector] Translucent Matte Hard PC Back and TPU Bumper Cover Designed for New iPhone 11 Pro 5.8 Inch 2019, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30FXXADD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $12.99</strong> with promo code: <strong class="m_codes">30FXXADD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MISRm9">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="18.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IXFYDM"><img src="https://m.media-amazon.com/images/I/71NJ-6EVXBL._SR400,400_.jpg" alt="Wire Corner Shelving" title="Wire Corner Shelving"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IXFYDM">SINGAYE 4-Shelf Wire Corner Shelving Unit Kitchen Bathroom Storage Wire Shelving</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.39</span><span class="ori_price">$22.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20ETRSL2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $22.99</strong> with promo code: <strong class="m_codes">20ETRSL2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2IXFYDM">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35CQp9t"><img src="https://m.media-amazon.com/images/I/61-22yTmAbL._SR400,400_.jpg" alt="PETCOME Dog Leash " title="PETCOME Dog Leash "/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35CQp9t">PETCOME Dog Leash LED Rechargeable 7 Colors, 5ft Dog Leash Retractable with Waste Bag Dispenser, Small and Medium Dog Leashes with LED Handle for Night Walking</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50ZJCGYN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50ZJCGYN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35CQp9t">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oKUqbe"><img src="https://m.media-amazon.com/images/I/51pIHhHzX6L._SR400,400_.jpg" alt="Car Dash Cam, Dash Camera" title="Car Dash Cam, Dash Camera"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oKUqbe">Car Dash Cam, Dash Camera, SIV FHD 1440P Car Driving Recorder with G-Sensor, WDR, Loop Recording, Night Vision, 140°Wide Angle,Upgraded Super Ferrari capacitors-More Secure(Lipstick-Sized)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">50E59CTE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $49.99</strong> with promo code: <strong class="m_codes">50E59CTE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oKUqbe">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="5.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VIId2U"><img src="https://m.media-amazon.com/images/I/619dcFO4SyL._SR400,400_.jpg" alt="Meat Thermometer" title="Meat Thermometer"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VIId2U">Instant Read Meat Thermometer Food Cooking Thermometer with Digital Meat Thermometer for Kitchen, Outdoor Cooking, BBQ, Candy and Grill Meat Thermometer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.01</span><span class="ori_price">$16.69</span></address>
      <textarea readonly="readonly" class="code_area">709UF13G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $16.69</strong> with promo code: <strong class="m_codes">709UF13G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VIId2U">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="8.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MPGX9Y"><img src="https://m.media-amazon.com/images/I/71FuGuXyucL._SR400,400_.jpg" alt="Makeup Brush Set" title="Makeup Brush Set"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MPGX9Y">Makeup Brush Set, Premium Synthetic Fiber Make Up Brush Kit Powder Foundation Blending Eyeliner Face Cosmetics Concealers Eye Shadows Brushes Tools with PU Leather Travel Makeup Bag (10pcs)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.05</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">655JUGNI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $22.99</strong> with promo code: <strong class="m_codes">655JUGNI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MPGX9Y">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="8.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OTN3Jc"><img src="https://m.media-amazon.com/images/I/71TyK1vHExL._SR400,400_.jpg" alt="Crossbody Bag" title="Crossbody Bag"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OTN3Jc">Sling Backpack Crossbody Pack Bag One Strap Chest Bag Casual Backpacks,Perkisboby Sling Bag One Shoulder Strap Crossbody Canvas Sports Chest Backpack with Earphone Hole Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.10</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">55IUOSMN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $17.99</strong> with promo code: <strong class="m_codes">55IUOSMN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OTN3Jc">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="57" data-price="5.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MlNoTj"><img src="https://m.media-amazon.com/images/I/715dsfeaDdL._SR400,400_.jpg" alt="Beer Glasses" title="Beer Glasses"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MlNoTj">Beer Glasses, Pint Glasses,British Pint Beer Glasses,Large Beer Glass Sets(4-pack),Pub/Bar Beer Glass,Beer Drinking Glasses,Beer Glasses</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.89</span><span class="ori_price">$13.69</span>
        <div class="tooltip_common tooltip_green"><span> + $2.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $2.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">576WUTW1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>57% off at $13.69</strong> with promo code: <strong class="m_codes">576WUTW1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MlNoTj">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Bc52Td"><img src="https://m.media-amazon.com/images/I/61qdudPtyiL._SR400,400_.jpg" alt="Vinsguir Ab Roller" title="Vinsguir Ab Roller"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Bc52Td">Vinsguir Ab Roller for Abs Workout, Ab Roller Wheel Exercise Equipment, Ab Wheel Roller for Home Gym, Ab Workout Equipment for Abdominal Exercise</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">40MFXKOT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">40MFXKOT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Bc52Td">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VJhIKL"><img src="https://m.media-amazon.com/images/I/61ZSdJh0+LL._SR400,400_.jpg" alt="HOMYSHOPY 3-Tier Open Bookcase Furniture" title="Bookcase Furniture"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VJhIKL">HOMYSHOPY 3-Tier Open Bookcase Furniture, Industrial Style Etagere Bookshelf for Home Office, Vintage Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">50A9L7L2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $79.99</strong> with promo code: <strong class="m_codes">50A9L7L2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VJhIKL">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35CEpET"><img src="https://m.media-amazon.com/images/I/61p2G2FY0TL._SR400,400_.jpg" alt="Electric Coffee Grinder" title="Electric Coffee Grinder"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35CEpET">Electric Coffee Grinder Spice Grinder - Stainless Steel Blades Grinder for Coffee Bean Seed Nut Spice Herb Pepper, Brushed Stainless Steel Texture and Transparent Lid</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.98</span><span class="ori_price">$19.96</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40NQELI4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.96</strong> with promo code: <strong class="m_codes">40NQELI4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35CEpET">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="34" data-price="7.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31d9b3O"><img src="https://m.media-amazon.com/images/I/51XtQpkvwIL._SR400,400_.jpg" alt="CubicFun 3D Puzzles" title="CubicFun 3D Puzzles"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31d9b3O">CubicFun 3D Puzzles Paris Souvenirs Paper Craft Kits Toys for Adults and Teens GIFS, Eiffel Tower, 71 Pieces</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.91</span><span class="ori_price">$11.99</span>
         <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">34CF9FB1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>34% off at $11.99</strong> with promo code: <strong class="m_codes">34CF9FB1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31d9b3O">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="34" data-price="7.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VNgIoF"><img src="https://m.media-amazon.com/images/I/61V+lNVsjXL._SR400,400_.jpg" alt="CubicFun 3D London Puzzles" title="CubicFun 3D London Puzzles"/></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VNgIoF">CubicFun 3D London Puzzles Small Britain Architecture Buildings Paper Craft Model Kits Toys for Adults and Teens, Big Ben, 30 Pieces</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.91</span><span class="ori_price">$11.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">34CF9FB1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>34% off at $11.99</strong> with promo code: <strong class="m_codes">34CF9FB1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VNgIoF">Use Code at Amazon</a></div>
</div>
 
