<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="30" data-price="25.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XB3RJB"><img src="https://images-na.ssl-images-amazon.com/images/I/61COeg9hafL._AC_SR300,300_.jpg" alt="Native Deodorant" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XB3RJB">Amazon Deal Of The Day: Native Deodorant - Natural Deodorant made without Aluminum & Parabens - 3 Pack - Blackberry & Green Tea- Powder & Cotton - Vanilla & Sandalwood </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.20</span><span class="ori_price">$36.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XB3RJB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="38.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYHINw"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZLvZharpL._AC_SR300,300_.jpg" alt="NOCCO BCAA Apple" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYHINw">Amazon Deal Of The Day: NOCCO BCAA Apple 24 x 12 Fl Oz | Carbonated Sugar-free and Low Calorie Beverage | No Carbs Company | Vitamin| Flavored...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$38.43</span><span class="ori_price">$54.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IYHINw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlHOjM"><img src="https://images-na.ssl-images-amazon.com/images/I/81G8mpKBSPL._SX522_.jpg" alt="MalloMe Tumbler Stainless Steel Insulated Tumbler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,797 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlHOjM">MalloMe Tumbler Stainless Steel Insulated Tumbler With Straw – Best Tumblers With Lids And Straws - Coffee 30 oz Cup Travel Mug Handle...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$23.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlHOjM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FJaRKy"><img src="https://images-na.ssl-images-amazon.com/images/I/41L-Tru58gL._AC_US218_.jpg" alt="Marshall Major III Wired On-Ear Headphone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FJaRKy">Marshall Major III Wired On-Ear Headphone, Brown - New</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FJaRKy">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="37" data-price="169.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LzTzTZ"><img src="https://images-na.ssl-images-amazon.com/images/I/51%2B6z2GJyoL._SX679_.jpg" alt="Dehumidifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>54 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LzTzTZ">MIDEA MAD70C1YWS Dehumidifier 70 Pint with Reusable Filter, Ideal for basements, bedroom, bathroom, with bucket of 1.6 gallon,</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.47</span><span class="ori_price">$269.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LzTzTZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="35.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCqiye"><img src="https://images-na.ssl-images-amazon.com/images/I/71SovGeT32L._SX679_.jpg" alt="Knife Sharpener" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>503 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XCqiye">Chef’sChoice 4643 ProntoPro Diamond Hone Manual Knife Sharpener Extremely Fast Sharpening Euro-American and Asian Style Knives Precise Bevel Angle...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.64</span><span class="ori_price">$65.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XCqiye">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="12.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JgBasg"><img src="https://m.media-amazon.com/images/I/7186rr5M78L._AC_UL436_.jpg" alt="Apple Cider Vinegar Capsules" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>170 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JgBasg">100% Organic Apple Cider Vinegar Capsules with The Mother - Natural Cleanser Supports Weight Loss, Healthy Blood Sugar & Cholesterol Levels, Boosts Energy ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.93</span><span class="ori_price">$19.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JgBasg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IWqJes"><img src="https://images-na.ssl-images-amazon.com/images/I/61crtLDtkTL._SX679_.jpg" alt="Skullcandy Ink'd Bluetooth Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,648 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IWqJes">Skullcandy Ink'd Bluetooth Wireless Earbuds with Microphone, Noise Isolating Supreme Sound, 8-Hour Rechargeable Battery, Lightweight with Flexible...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IWqJes">Shop Now at Amazon</a></div>
</div>


<div class="card clearfix" data-score="54" data-price="23.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDKpfl"><img src="https://images-na.ssl-images-amazon.com/images/I/61x9epUfGkL._SX679_.jpg" alt="Skullcandy Strum Maximum Comfort Earbud" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>218 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDKpfl">Skullcandy Strum Maximum Comfort Earbud with Universal In-Line Microphone and Remote, Supreme Sound Acoustics, Flexible Design To Match All Ears,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.18</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XDKpfl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="58.73">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XvX04r"><img src="https://images-na.ssl-images-amazon.com/images/I/61fRl8Dho1L._SX679_.jpg" alt="Plantronics BackBeat Wireless Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>160 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XvX04r">Plantronics BackBeat FIT 2100 Wireless Headphones, Sweatproof and Waterproof in Ear Workout Headphones, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$58.73</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XvX04r">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="1,596.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XgoOdC"><img src="https://images-na.ssl-images-amazon.com/images/I/91ELO2HjlsL._SX679_.jpg" alt="LG Smart OLED TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>256 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XgoOdC">LG Electronics OLED55C8P 55-Inch 4K Ultra HD Smart OLED TV (2018 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,596.99</span><span class="ori_price">$1,896.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XgoOdC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="399.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JqFBRF"><img src="https://images-na.ssl-images-amazon.com/images/I/91RWvX7RWqL._SX679_.jpg" alt="TCL Roku Smart LED TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>890 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JqFBRF">TCL 55S517 55-Inch 4K Ultra HD Roku Smart LED TV (2018 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.99</span><span class="ori_price">$699.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JqFBRF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="43.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J0JKwF"><img src="https://images-na.ssl-images-amazon.com/images/I/81fn5bFf1SL._UX535_.jpg" alt="adidas Women's Cloudfoam Pure Running Shoe" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,427 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J0JKwF">adidas Women's Cloudfoam Pure Running Shoe(Size:6)<br />*Lower price available on select options</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.99</span><span class="ori_price">$70.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J0JKwF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="37.07">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XAAEi9"><img src="https://images-na.ssl-images-amazon.com/images/I/81A-a8M-%2BzL._UX535_.jpg" alt="New Balance Women's shoe" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,661 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XAAEi9">New Balance Women's FuelCore Nergize V1 Cross Trainer(size:6wide)<br />*Lower price available on select options</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.07</span><span class="ori_price">$64.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XAAEi9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="39.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JbTfYC"><img src="https://images-na.ssl-images-amazon.com/images/I/61fZocKeswL._SX522_.jpg" alt="Heather Gray with with TP-Link Smart Plug Mini" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JbTfYC">Echo Dot (3rd Gen) - Heather Gray with with TP-Link Smart Plug Mini</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.98</span><span class="ori_price">$76.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JbTfYC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XiEcWP"><img src="https://images-na.ssl-images-amazon.com/images/I/61CyqOYtqAL._SX679_.jpg" alt="Fintie Keyboard Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>946 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XiEcWP">Fintie Keyboard Case with Built-in Pencil Holder for iPad Air 2019 3rd Gen/iPad Pro 10.5" 2017- SlimShell Stand Cover w/Magnetically Detachable Wireless...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XiEcWP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="25.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xh6tNo"><img src="https://images-na.ssl-images-amazon.com/images/I/81d29Mk7PRL._SX679_.jpg" alt="Lifeproof FRĒ Series Waterproof Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>422 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xh6tNo">Lifeproof FRĒ Series Waterproof Case for Samsung Galaxy S8+ (ONLY) - Retail Packaging - Asphalt (Black/Dark Grey)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.35</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xh6tNo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="22.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ls72wO"><img src="https://images-na.ssl-images-amazon.com/images/I/61Od55e40lL._SX679_.jpg" alt="Monoprice Over-The-Ear Pro Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,664 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ls72wO">Monoprice Premium Hi-Fi DJ Style Over-The-Ear Pro Headphones with A Single-Button Inline Microphone/Controller</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.89</span><span class="ori_price">$64.76</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ls72wO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XguGmZ"><img src="https://images-na.ssl-images-amazon.com/images/I/71aaqrQzJzL._SX679_.jpg" alt="Samsung Galaxy Note9 Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>229 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XguGmZ">Samsung Galaxy Note9 Case, S-View Flip Cover with Kickstand, Black - EF-ZN960CBEGUS</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.00</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XguGmZ">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="53" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J0M4DT"><img src="https://images-na.ssl-images-amazon.com/images/I/41yEKwgyriL.jpg" alt="Belkin USB Swivel Home and Wall Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>566 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J0M4DT">Belkin USB Swivel Home and Wall Charger with Lightning Cable for iPhone, iPad, and iPod</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J0M4DT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="14.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XAASpr"><img src="https://images-na.ssl-images-amazon.com/images/I/61bNBpKCbFL._SX522_.jpg" alt="Best High Absorption Magnesium" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,933 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XAASpr">Doctor's Best High Absorption Magnesium Glycinate Lysinate, 100% Chelated, Non-GMO, Vegan, Gluten Free, Soy Free, 100 mg, 240 Tablets </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.05</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XAASpr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="12.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xgcomH"><img src="https://images-na.ssl-images-amazon.com/images/I/71sfAL8oxAL._SY679_.jpg" alt="Jarrow Formulas Methylcobalamin" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,272 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>12.78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xgcomH">Jarrow Formulas Methylcobalamin (Methyl B12), Supports Brain Cells, 5000 mcg, 60 Lozenges </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.78</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xgcomH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="6.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XvXM1l"><img src="https://images-na.ssl-images-amazon.com/images/I/71vYfnDf%2BuL._SX522_.jpg" alt="Garden of Life Zinc Vitamin" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>459 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XvXM1l">Garden of Life Zinc Vitamin - Vitamin Code Raw Zinc Whole Food Supplement with Vitamin C, Vegan, 60 Capsules </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.17</span><span class="ori_price">$13.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XvXM1l">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="5.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XBGmjU"><img src="https://images-na.ssl-images-amazon.com/images/I/71usryDUh9L._SX522_.jpg" alt="Banana Boat Ultra Sport Sunscreen Spray" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>445 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XBGmjU">Banana Boat Ultra Sport Sunscreen Spray, New Formula, SPF 100, 6 Ounces </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.89</span><span class="ori_price">$11.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XBGmjU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="7.62">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LqBKXi"><img src="https://images-na.ssl-images-amazon.com/images/I/71H703D%2Br2L._SX522_.jpg" alt="Eucerin Q10 Anti-Wrinkle Face Cream" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,447 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LqBKXi">Eucerin Q10 Anti-Wrinkle Face Cream - Fragrance Free, Moisturizes for Softer Smoother Skin - 1.7 oz. Jar </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.62</span><span class="ori_price">$11.49</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LqBKXi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lr8vDv"><img src="https://images-na.ssl-images-amazon.com/images/I/31ym-CQxOeL._SX425_.jpg" alt="MISSHA Moist Treatment Essence" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>221 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lr8vDv">MISSHA Time Revolution The First Intensive Moist Treatment Essence, 150 ml</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.00</span><span class="ori_price">$49.00</span>
         <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lr8vDv">Shop Now at Amazon</a></div>
</div>

