<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Image_alt" title="Image_title"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span><br /> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>Recommended</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span> + Percentage% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Percentage% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="deal_btn promo_btn"><em class="stock_m">* Only a few left in stock.</em><a target="_blank" href="product_link">Use Code at Amazon</a><em>* Only a few left in stock.</em></div>
-->

<div class="card clearfix" data-score="41" data-price="194.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/315kCuj"><img src="https://images-na.ssl-images-amazon.com/images/I/51XoylGq9iL._SX522_.jpg" alt="AMD Ryzen 7 2700X Processor" title="AMD Ryzen 7 2700X Processor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/315kCuj">AMD Ryzen 7 2700X Processor with Wraith Prism LED Cooler - YD270XBGAFBOX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$194.99</span><span class="ori_price">$329.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/315kCuj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="269.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IE20eE"><img src="https://images-na.ssl-images-amazon.com/images/I/81G0mAwT0DL._SX522_.jpg" alt="SanDisk 2TB Extreme Portable External SSD" title="SanDisk 2TB Extreme Portable External SSD"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IE20eE">SanDisk 2TB Extreme Portable External SSD - Up to 550MB/s - USB-C, USB 3.1 - SDSSDE60-2T00-G25</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$269.99</span><span class="ori_price">$699.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IE20eE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="139.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VxyqfT"><img src="https://images-na.ssl-images-amazon.com/images/I/31jRy3nYBdL.jpg" alt="WD 8TB Elements Desktop Hard Drive" title="WD 8TB Elements Desktop Hard Drive"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VxyqfT">WD 8TB Elements Desktop Hard Drive - USB 3.0 - WDBWLG0080HBK-NESN</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$139.99</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VxyqfT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="229.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oz1WFX"><img src="https://images-na.ssl-images-amazon.com/images/I/413zfEUJQAL.jpg" alt="Dell Computer Ultrasharp Monitor" title="Dell Computer Ultrasharp Monitor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oz1WFX">Dell Computer Ultrasharp U2415 24.0-Inch Screen LED Monitor, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$229.95</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oz1WFX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="235.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33phNpB"><img src="https://images-na.ssl-images-amazon.com/images/I/71yIFvrfDIL._AC_.jpg" alt="Image_alt" title="Image_title"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33phNpB">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$235.99</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33phNpB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="58.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33kX1qT"><img src="https://images-na.ssl-images-amazon.com/images/I/71zyYpcd%2BmL._SX522_.jpg" alt="Logitech K800 Wireless Illuminated Keyboard" title="Logitech Wireless Keyboard"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33kX1qT">Logitech K800 Wireless Illuminated Keyboard — Backlit Keyboard, Fast-Charging, Dropout-Free 2.4GHz Connection</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$58.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33kX1qT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="611.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2p7x6Ey"><img src="https://images-na.ssl-images-amazon.com/images/I/61cbZP4oO8L._SX522_.jpg" alt="Dell OptiPlex 3060 XKF5K Micro PC" title="Dell OptiPlex 3060 XKF5K Micro PC"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2p7x6Ey">Dell OP3060MFFXKF5K OptiPlex 3060 XKF5K Micro PC with Intel Core i5-8500T 2.1 GHz Hexa-core, 8GB RAM, 256GB SSD, Windows 10 Pro 64-bit</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$611.99</span><span class="ori_price">$1,061.29</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2p7x6Ey">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="89.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VCOTzt"><img src="https://images-na.ssl-images-amazon.com/images/I/71u0pT-X%2BuL._SX522_.jpg" alt=">Microsoft Type Cover Surface Pro" title="Microsoft Type Cover Surface Pro"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VCOTzt">Microsoft FMM-00001 Type Cover for Surface Pro - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.00</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VCOTzt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="329.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35pA4ET"><img src="https://images-na.ssl-images-amazon.com/images/I/517A2KkGuJL._SX342_.jpg" alt="Apple Watch Series 4 (GPS, 44mm)" title="Apple Watch Series 4"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35pA4ET">Apple Watch Series 4 (GPS, 44mm) - Silver Aluminium Case with White Sport Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$329.97</span><span class="ori_price">$429.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35pA4ET">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/310B52Q"><img src="https://images-na.ssl-images-amazon.com/images/I/81-P2nggl0L._SX522_.jpg" alt="Logitech G533 Wireless Gaming Headset" title="Logitech G533 Wireless Gaming Headset"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/310B52Q">Logitech G533 Wireless Gaming Headset – DTS 7.1 Surround Sound – Pro-G Audio Drivers</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/310B52Q">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="30" data-price="769.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35pFJuI"><img src="https://images-na.ssl-images-amazon.com/images/I/71oLmgxBH-L._SX522_.jpg" alt="Alienware Curved Gaming Monitor" title="Alienware Curved Gaming Monitor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35pFJuI">Alienware 1900R 34.1", Curved Gaming Monitor LED-Lit, WQHD 3440 x 1440p Resolution, 4ms 120Hz Overclocked Refresh Rate,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$769.99</span><span class="ori_price">$1,099.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35pFJuI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="426.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nACBuR"><img src="https://images-na.ssl-images-amazon.com/images/I/91vvNj-YjvL._SX425_.jpg" alt="LG Alexa Built-in 55-inch 4K Ultra HD Smart LED TV " title="LG 4K Ultra HD Smart LED TV"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nACBuR">LG 55UM7300PUA Alexa Built-in 55" 4K Ultra HD Smart LED TV (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$426.99</span><span class="ori_price">$699.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nACBuR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2p7g49B"><img src="https://images-na.ssl-images-amazon.com/images/I/81xeyiadbaL._SX522_.jpg" alt="Razer Naga Trinity Gaming Mouse" title="Razer Naga Trinity Gaming Mouse"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2p7g49B">Razer Naga Trinity Gaming Mouse: 16,000 DPI Optical Sensor - Chroma RGB Lighting - Interchangeable Side Plate w/ 2, 7, 12...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2p7g49B">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OB0JZu"><img src="https://images-na.ssl-images-amazon.com/images/I/61sa7S-EMAL._SX679_.jpg" alt="HP DeskJet 2655 All-in-One Compact Printer" title="HP All-in-One Compact Printer"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OB0JZu">HP DeskJet 2655 All-in-One Compact Printer, HP Instant Ink & Amazon Dash Replenishment ready - White (V1N04A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.89</span><span class="ori_price">$59.89</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OB0JZu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="6.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IGgACq"><img src="https://images-na.ssl-images-amazon.com/images/I/81NJECLEPAL._SX425_.jpg" alt="LEGO Marvel Spider-Man Car" title="LEGO Marvel Spider-Man Car"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IGgACq">LEGO Marvel Spider-Man Car Chase 76133 Building Kit, Green Goblin and Spider Man Superhero Car Toy Chase (52 Pieces)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.89</span><span class="ori_price">$9.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IGgACq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33fZClY"><img src="https://images-na.ssl-images-amazon.com/images/I/71mRuZ9y3-L._SX679_.jpg" alt="Spigen Liquid Air Designed for Apple iPhone 11 Pro" title="Spigen Liquid Air Designed for Apple iPhone 11 Pro"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33fZClY">Spigen Liquid Air Designed for Apple iPhone 11 Pro Max Case (2019) - Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33fZClY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pcBqCa"><img src="https://images-na.ssl-images-amazon.com/images/I/71GkA2%2BCMcL._SX522_.jpg" alt="Corsair K68 RGB Mechanical Gaming Keyboard" title="Corsair K68 RGB Mechanical Gaming Keyboard"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pcBqCa">Corsair K68 RGB Mechanical Gaming Keyboard, Backlit RGB LED, Dust and Spill Resistant - Linear & Quiet - Cherry MX Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$119.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pcBqCa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="53.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/327q4y1"><img src="https://images-na.ssl-images-amazon.com/images/I/71GSwVu8VEL._SX522_.jpg" alt="Logitech Crayon Digital Pencil" title="Logitech Crayon Digital Pencil"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/327q4y1">Logitech Crayon Digital Pencil for iPad Pro 12.9-Inch (3rd Gen), iPad Pro 11-Inch, iPad (7th Gen), iPad (6th (Gen), iPad Air (3rd Gen),...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/327q4y1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="220.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pZ4nC4"><img src="https://images-na.ssl-images-amazon.com/images/I/61cR65ugGTL._SX522_.jpg" alt="Tripp Lite 1500VA Smart UPS Battery Back Up" title="Tripp Lite 1500VA Smart UPS Battery Back Up"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pZ4nC4">Tripp Lite 1500VA Smart UPS Battery Back Up, 900W Rack-Mount/Tower, LCD, AVR, USB, DB9, 3 Year Warranty & $250,000 Insurance (SMART1500LCD)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$220.99</span><span class="ori_price">$358.20</span>
        <div class="tooltip_common tooltip_orange"><span> + $1.64 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $1.64 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pZ4nC4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="129.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ODrLPK"><img src="https://images-na.ssl-images-amazon.com/images/I/71vljm0sdoL._SX522_.jpg" alt="ASUS HDMI DVI VGA Back-lit LED Monitor" title="ASUS LED Monitor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ODrLPK">ASUS VE248H 24" Full HD 1920x1080 2ms HDMI DVI VGA Back-lit LED Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.99</span><span class="ori_price">$219.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ODrLPK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2q5UkLP"><img src="https://images-na.ssl-images-amazon.com/images/I/81D46VNLb9L._SX522_.jpg" alt="XFX Radeon RX 580 GTS AMD Graphics Card" title="XFX Radeon RX 580 GTS AMD Graphics Card"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2q5UkLP">XFX Radeon RX 580 GTS XXX Edition 1386MHz OC+, 8GB GDDR5, VR Ready, Dual BIOS, 3xDP HDMI DVI, AMD Graphics Card (RX-580P8DFD6)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$379.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2q5UkLP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="39.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33mZJMQ"><img src="https://images-na.ssl-images-amazon.com/images/I/51iPhvx%2BTpL._SX522_.jpg" alt="Bose SoundSport In-Ear Headphones" title="Image_title"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33mZJMQ">Bose SoundSport In-Ear Headphones, 3.5mm Connector for Apple Devices - Energy Green</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.00</span><span class="ori_price">$99.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33mZJMQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="78.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VtEDJU"><img src="https://images-na.ssl-images-amazon.com/images/I/41MP7fcQwxL._SY445_.jpg" alt="Apple Smart Battery Case" title="Apple Smart Battery Case"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VtEDJU">Apple Smart Battery Case (for iPhone 7) - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$78.00</span><span class="ori_price">$99.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VtEDJU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="36.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M6ndQw"><img src="https://images-na.ssl-images-amazon.com/images/I/51C5%2BajQVyL._SX522_.jpg" alt="Xiaomi Mi Band 4" title="Xiaomi Mi Band 4"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M6ndQw">Xiaomi Mi Band 4</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.85</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2M6ndQw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="48.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2owfdPG"><img src="https://images-na.ssl-images-amazon.com/images/I/51D3-2lQu7L._SX522_.jpg" alt="Logitech G Gaming Driving Force Shifter " title="Logitech G Gaming Driving Force Shifter "/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2owfdPG">Logitech G Gaming Driving Force Shifter – Compatible with G29 and G920 Driving Force Racing Wheels for Playstation 4, Xbox One, and PC</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.95</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2owfdPG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="113.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/316VQtQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71JmA6I1kYL._SX679_.jpg" alt="Beats Pill+ Portable Speaker" title="Beats Pill+ Portable Speaker"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/316VQtQ">Beats Pill+ Portable Speaker - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$113.99</span><span class="ori_price">$179.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/316VQtQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="100.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/327bOp9"><img src="https://images-na.ssl-images-amazon.com/images/I/71cGRsaFKSL._SX679_.jpg" alt="Cool Toner Compatible Toner Cartridge Replacement" title="Toner Cartridge"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/327bOp9">Cool Toner Compatible Toner Cartridge Replacement for HP M281fdw CF500A CF500X HP 202A 202X for HP Laserjet Pro ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$100.29</span><span class="ori_price">$188.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/327bOp9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="30.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M3FpKo"><img src="https://images-na.ssl-images-amazon.com/images/I/6129OdzPknL._SX425_.jpg" alt="USB C Hub" title="USB C Hub"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M3FpKo">USB C Hub, 8-in-1 USB C Adapter with 4K HDMI, 1Gbps RJ45 Ethernet Port, USB 3.0, SD/TF Card Reader, 100W Pd Charging Port...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.33</span><span class="ori_price">$54.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2M3FpKo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35pIegA"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZYF6NtK8L._SX522_.jpg" alt="Sabrent Premium 3-Port Aluminum Mini USB 3.0 Hub" title="Sabrent Premium 3-Port Aluminum Mini USB 3.0 Hub"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35pIegA">Sabrent Premium 3-Port Aluminum Mini USB 3.0 Hub [90°/180° Degree Rotatable] (HB-R3MB)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35pIegA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="16.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/327RC6m"><img src="https://images-na.ssl-images-amazon.com/images/I/61Xkm%2B2K0xL._SX425_.jpg" alt="Blood Oxygen Saturation Monitor" title="Blood Oxygen Saturation Monitor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/327RC6m">Zacurate 430-DL Premium Fingertip Pulse Oximeter Oximetry Blood Oxygen Saturation Monitor with Silicon Cover, Batteries and Lanyard</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.05</span><span class="ori_price">$26.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/327RC6m">Shop Now at Amazon</a></div>
</div>