<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->

<div class="card clearfix" data-score="26" data-price="579.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SsZ0pa"><img src="https://images-na.ssl-images-amazon.com/images/I/71hA1Sf1TnL._SY606_.jpg" alt="Apple iPad Pro" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>668 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SsZ0pa">Apple iPad Pro (10.5-inch, Wi-Fi + Cellular, 64GB) - Rose Gold (Previous Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$579.00</span><span class="ori_price">$779.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SsZ0pa">Shop Now at Amazon</a></div>
</div>    

<div class="card clearfix" data-score="13" data-price="349.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JXcYM3"><img src="https://images-na.ssl-images-amazon.com/images/I/51Z3BFA0enL._SX522_.jpg" alt="Apple Watch Series 4" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,207 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JXcYM3">Apple Watch Series 4 (GPS, 40mm) - Silver Aluminium Case with White Sport Band</a></p>
    <!-- <div class=""><a target="_blank" href="#n">See more related with...</a></div> -->
    <div class="code_high">
      <address><span class="dis_price bestdeals">$349.00</span><span class="ori_price">$399.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JXcYM3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="98.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWhPqH"><img src="https://images-na.ssl-images-amazon.com/images/I/81V8YAU2leL._SX522_.jpg" alt="Bosch 12-Volt Max Brushless 3/8-Inch Drill/Driver Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>216 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWhPqH">Bosch 12-Volt Max Brushless 3/8-Inch Drill/Driver Kit PS32-02 with 2 Lithium-Ion Batteries, 12V Charger and Carrying Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$98.00</span><span class="ori_price">$139.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XWhPqH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="129.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTeFtN"><img src="https://images-na.ssl-images-amazon.com/images/I/81w0YIe19xL._SX679_.jpg" alt="Marshall Monitor Bluetooth Over-Ear Headphone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>163 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTeFtN">Marshall Monitor Bluetooth Over-Ear Headphone - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.99</span><span class="ori_price">$249.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JTeFtN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JToEiK"><img src="https://images-na.ssl-images-amazon.com/images/I/315YZuSLHqL.jpg" alt="Contigo Jackson Reusable Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,594 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JToEiK">Contigo Jackson Reusable Water Bottle, 24oz, Grayed Jade</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JToEiK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="33.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SozYHq"><img src="https://images-na.ssl-images-amazon.com/images/I/71SxuV5W8nL._SL1500_.jpg" alt="Lavazza Classico Ground Coffee Blend" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SozYHq">Lavazza Classico Ground Coffee Blend, Medium Roast, 12-Ounce Bags (Pack of 6)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SozYHq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XRnrSV"><img src="https://images-na.ssl-images-amazon.com/images/I/81KHUVOA5bL._SX522_.jpg" alt="Arm Blood Pressure Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>8,827 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XRnrSV">Omron 10 Series Wireless Upper Arm Blood Pressure Monitor; 2-User, 200-Reading Memory, Backlit Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XRnrSV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="18.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YcqTHf"><img src="https://images-na.ssl-images-amazon.com/images/I/51bWqm%2B%2BWoL._SX679_.jpg" alt="InterDesign York Metal Wire Hanging Shower Caddy" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>340 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YcqTHf">InterDesign York Metal Wire Hanging Shower Caddy, Extra Wide Space for Shampoo, Conditioner, and Soap...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.76</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YcqTHf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="99.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTp094"><img src="https://images-na.ssl-images-amazon.com/images/I/31-hwQYpgJL.jpg" alt="Petcube Bites Pet Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>855 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTp094">Petcube Bites Pet Camera with Treat Dispenser: HD 1080p Video Monitor, 2-Way Audio, Night Vision, Sound and Motion Alerts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.00</span><span class="ori_price">$249.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JTp094">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="8.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y2qrY3"><img src="https://images-na.ssl-images-amazon.com/images/I/91IKT7TL7NL._SX522_.jpg" alt="Dog Casino Advanced Puzzle Toy" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>156 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y2qrY3">Outward Hound Nina Ottosson Dog Casino Advanced Puzzle Toy – Stimulating Interactive Dog Game for Dispensing Treats</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.65</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y2qrY3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="32.36">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YgFMrZ"><img src="https://images-na.ssl-images-amazon.com/images/I/51L6JIAJgLL._SX679_.jpg" alt="Pet Water Fountain" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>9,547 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YgFMrZ">PetSafe Drinkwell Platinum or 1 Gallon Pet Water Fountain - Drinking Fountain for Cats and Small to Medium Dogs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.36</span><span class="ori_price">$47.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YgFMrZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="16.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.toDeshedding/2y8wEXX"><img src="https://images-na.ssl-images-amazon.com/images/I/71NpzfhGV6L._SX522_.jpg" alt=" Tool for Dogs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>14,358 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2y8wEXX">FURminator for Dogs Undercoat Deshedding Tool for Dogs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.37</span><span class="ori_price">$23.39</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2y8wEXX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="99.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XVdGDm"><img src="https://images-na.ssl-images-amazon.com/images/I/61gKvbFUJML._SX522_.jpg" alt="Cat Litter Box" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,018 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XVdGDm">PetSafe ScoopFree Ultra Self-Cleaning Cat Litter Box, Covered, Automatic with Disposable Tray, 2 Color Options</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.98</span><span class="ori_price">$169.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XVdGDm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="4.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XVdHXW"><img src="https://images-na.ssl-images-amazon.com/images/I/41p6wB-oU9L.jpg" alt="Smartsticks Dog chew" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,218 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XVdHXW">Smartsticks Dog chew</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.58</span><span class="ori_price">$12.64</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XVdHXW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="13.26">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQoLvG"><img src="https://images-na.ssl-images-amazon.com/images/I/61oEhC1sRkL._SX679_.jpg" alt="AcuRite 00613 Indoor Thermometer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>15,623 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQoLvG">AcuRite 00613 Indoor Thermometer & Hygrometer with Humidity Gauge, 3" H x 2.5" W x 1.3" D</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.26</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JQoLvG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="48.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XVeI2c"><img src="https://images-na.ssl-images-amazon.com/images/I/61SvwRwCM%2BL._SX522_.jpg" alt="Pool Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>990 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XVeI2c">Intex 8ft X 30in Easy Set Pool Set with Filter Pump</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.95</span><span class="ori_price">$58.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XVeI2c">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Stg4LA"><img src="https://images-na.ssl-images-amazon.com/images/I/61-9I6wr9hL._SX522_.jpg" alt="Suncast Golf Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>970 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Stg4LA">Suncast Golf Bag Garage Organizer Rack - Golf Equipment Organizer Storage -  Store Golf Bags, Clubs, and Accessories...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.00</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Stg4LA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="25.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y7dUqn"><img src="https://images-na.ssl-images-amazon.com/images/I/51Uz%2BHmjHtL.jpg" alt="Gardman R687 4-Tier Mini Greenhouse," /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,385 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y7dUqn">Gardman R687 4-Tier Mini Greenhouse, 27" Long x 18" Wide x 63" High</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.11</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y7dUqn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="309.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XUeQPw"><img src="https://images-na.ssl-images-amazon.com/images/I/51zsfUJIzWL.jpg" alt="Graphics Card" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>86 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XUeQPw">Sapphire 11276-02-40G Radeon Pulse RX Vega 56 8GB HBM2 HDMI/ Triple DP (UEFI) PCI-E Graphics Card</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$309.99</span><span class="ori_price">$414.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XUeQPw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="29.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XTVYjH"><img src="https://images-na.ssl-images-amazon.com/images/I/71f356ycgUL._SY879_.jpg" alt="Salton Cup Coffee Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>165 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XTVYjH">Salton FC1667 14 Cup Coffee Maker, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.75</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XTVYjH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="289.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32Ew4z2"><img src="https://images-na.ssl-images-amazon.com/images/I/91YsY49Dv0L._SX522_.jpg" alt="LEGO Star Wars TM Betrayal at Cloud City" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32Ew4z2">LEGO Star Wars TM Betrayal at Cloud City 75222, New 2019 (2812 Pieces)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$289.99</span><span class="ori_price">$349.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32Ew4z2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="54.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O6VfqD"><img src="https://images-na.ssl-images-amazon.com/images/I/81K7kfFlIRL._SX522_.jpg" alt="Inflatable 4-Person Island Tube" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>595 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O6VfqD">CoolerZ Rapid Rider X4 Inflatable 4-Person Island Tube</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2O6VfqD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="9.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y2oeM5"><img src="https://images-na.ssl-images-amazon.com/images/I/615kLkiLXBL.jpg" alt="Swimline Giant Pretzel Swim ..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>385 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y2oeM5">Swimline Giant Pretzel Swim Fun Inflatable Floating Seat</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.92</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y2oeM5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="27.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O8sAl5"><img src="https://images-na.ssl-images-amazon.com/images/I/61tlm8AE1nL._SX679_.jpg" alt="Pacific Play Tents" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>434 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O8sAl5">Pacific Play Tents 20435 Kids Safari Fun Dome Tent Crawl Tunnel Combo Indoor / Outdoor Fun</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.77</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2O8sAl5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="28.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XOgGRM"><img src="https://images-na.ssl-images-amazon.com/images/I/919rv%2BgUqbL._SX679_.jpg" alt="SwimWays Star Wars" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>119 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XOgGRM">SwimWays Star Wars Millenium Falcon Ride-On Float - Inflatable Novelty Float for Pool</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.14</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XOgGRM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="66.07">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XU5PWz"><img src="https://images-na.ssl-images-amazon.com/images/I/71IWmw%2BjIsL._SX522_.jpg" alt="Floating Mattress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>316 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XU5PWz">Texas Recreation Sunray 1.25" Thick Swimming Pool Foam Pool Floating Mattress, Bahama Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$66.07</span><span class="ori_price">$84.87</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XU5PWz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SsZyLK"><img src="https://images-na.ssl-images-amazon.com/images/I/71HAJg1kFIL._SX679_.jpg" alt="Electric Pencil Sharpener" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,154 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SsZyLK">X-ACTO School Pro Classroom Electric Pencil Sharpener, Blue, 1 Count</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$57.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SsZyLK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="44.32">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32w8ft4"><img src="https://images-na.ssl-images-amazon.com/images/I/71nC34Uyn9L._SX679_.jpg" alt="Electric Stapler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>558 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32w8ft4">Bostitch Impulse 45 Sheet Electric Stapler Value Pack - Double Heavy Duty, No-Jam with Trusted Warranty...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.32</span><span class="ori_price">$149.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32w8ft4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="45.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Svfo8v"><img src="https://images-na.ssl-images-amazon.com/images/I/71iTu2CtBUL._SX679_.jpg" alt="Canon TS6120 Wireless All-In-One Printer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>234 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Svfo8v">Canon TS6120 Wireless All-In-One Printer with Scanner and Copier: Mobile and Tablet Printing, with Airprint(TM)...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.00</span><span class="ori_price">$129.26</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Svfo8v">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xWQ9T5"><img src="https://images-na.ssl-images-amazon.com/images/I/61eKCHptwdL._SX679_.jpg" alt="Fireproof Box" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,556 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xWQ9T5">SentrySafe 1200 Fireproof Box with with Key Lock, 0.18 Cubic Feet</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.97</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xWQ9T5">Shop Now at Amazon</a></div>
</div>
