<div class="st_warp">
 <div class="st_top_warp clearfix">

   <div class="st_top clearfix">
      
      <h2>New Offers & Promotions</h2>
      <% @storepromotions.each do |promo| %>
        <div class="st_box clearfix">          
          <div class="st_image"><%= link_to image_tag(promo.sp_image, alt: promo.sp_title, title: promo.sp_store_name), promo %></div>
          <div class="inner">
            <p><em class="st_title"><%= promo.sp_store_name %></em> <% if promo.sp_spare_40.present? || promo.sp_spare_42.present?%><% else %>| Up to <%= number_to_percentage(promo.sp_percentage_01, precision: 0) %> OFF<% end %> <% if can? :update, promo %> | <%= link_to 'Edit', edit_storepromotion_path(promo) %><% end %></p>
            <span><%= link_to promo.sp_title, promo %></span>

            <div class="pricing">
              <% if promo.sp_spare_40.present? %>
                <p class="h_price"><%= number_to_currency(promo.sp_spare_41) %> <em class="span_01"><%= number_to_currency(promo.sp_spare_40) %></em><em class="span_02">( <%= number_to_percentage(promo.sp_percentage_01, precision: 0) %> OFF )</em></p>
              <% else %>
                <% if promo.sp_spare_42.present? %>
                  <% running_total = 0 %>
                  <% running_total =  (promo.sp_spare_42 - promo.sp_spare_43) / promo.sp_spare_42 * 100 %>
                  <p class="h_price"><%= number_to_currency(promo.sp_spare_43) %> <em class="span_01"><%= number_to_currency(promo.sp_spare_42) %></em><em class="span_02">( <%= number_to_percentage(running_total, precision: 0) %> OFF )</em></p>
                <% end %>
              <% end %>
            </div>

            <% if promo.sp_end_date.present? %>
              <div class="date_info">
                <% if promo.sp_spare_60 && (promo.sp_spare_60 < DateTime.now) %>
                <% promo.sp_spare_60 %>
                  <em class="expired code_em">* This offer has EXPIRED</em>
                <% else %>
                  <% if promo.sp_spare_61 && (promo.sp_spare_61 <= DateTime.now) %>
                  <% promo.sp_spare_61 %>
                   <em class="endtoday code_em">* This offer expires TODAY</em>
                  <% else %>
                   <em class="code_em">* End Date: <%= promo.sp_end_date %></em>
                   <!-- <em class="code_em">* Offers can be expired fast.</em> -->
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="more_btn"><a href="/storepromotions">SEE MORE</a></div>
    
   </div><!--./st_top-->


   <div class="st_top_side clearfix">
    <div class="tab-menu-test">
      <div class="title-tab-menu"><span>What's</span> Trend?</div>
      <div class="tab-menu-wp">
        <ul>
          <li>Promotions</li>
          <li>Hot Deals</li>
          <!-- <li>SAYFA 3</li> -->
        </ul>
        <div class="clear"></div>
        
        <div class="page1">
          <% @most_promotions.each do |mp| %>
            <div class="tab-menu-text">
              <div class="tab-menu-img"><%= link_to image_tag(mp.sp_image, alt: mp.sp_title, title: mp.sp_store_name), mp %></div>
              <div class="tab-menu-text-title"><p><%= mp.sp_store_name %> <% if mp.sp_spare_40.present? || mp.sp_spare_42.present?%><% else %>| Up to <%= mp.sp_percentage_01 %>% Off<% end %></p>
              </div>
              <div class="tab-menu-text-alt"><p><%= link_to mp.sp_title, mp %></p></div>
              <div class="tab-menu-text-alt">
                <% if mp.sp_spare_40.present? %>
                  <p class="h_price"><%= number_to_currency(mp.sp_spare_41) %> <em class="span_01"><%= number_to_currency(mp.sp_spare_40) %></em><em class="span_02">( <%= number_to_percentage(mp.sp_percentage_01, precision: 0) %> OFF )</em></p>
                <% else %>
                  <% if mp.sp_spare_42.present? %>
                    <% running_total = 0 %>
                    <% running_total =  (mp.sp_spare_42 - mp.sp_spare_43) / mp.sp_spare_42 * 100 %>
                    <p class="h_price"><%= number_to_currency(mp.sp_spare_43) %> <em class="span_01"><%= number_to_currency(mp.sp_spare_42) %></em><em class="span_02">( <%= number_to_percentage(running_total, precision: 0) %> OFF )</em></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="all-show"><a href="/storepromotions">See More</a></div>
        </div>
        
        <div class="page1">
          <% @most_deals.each do |md| %>  
            <div class="tab-menu-text">
              <div class="tab-menu-img"><%= link_to image_tag(md.sd_image, alt: md.sd_title, title: md.sd_image_title), md %></div>
              <div class="tab-menu-text-alt"><p><%= link_to md.sd_title, md %></p></div>
              <div class="tab-menu-text-alt">
               <span><em><%= number_to_currency(md.sd_spare_31) %></em> <%= number_to_currency(md.sd_spare_32) %></span>
              </div>
            </div>
          <% end %>
          <div class="all-show"><a href="/storedeals">See More</a></div>
        </div>
      
       </div>
      </div>
    </div><!--./st_top_side-->

   </div><!--./st_top_wrap-->
  </div><!--./st_warp-->

  <hr>

  <div class="st_middle clearfix">
    <div class="st_middle_box clearfix">
      <h2>Aliexpress Deals</h2>        
      <% @sdcategory_01.each do |sd01| %>
        <figure class="deals_card deal_stores">
          <div class="image_box">
            <%= link_to image_tag(sd01.sd_image, alt: sd01.sd_title, title: sd01.sd_image_title), sd01 %>
            <div class="mark"><span><%= sd01.sd_percentage %>%</span><em>OFF</em></div>
          </div>
          <div class="buy-now"><span><a target="_blank" href="<%= sd01.sd_link %>">BUY NOW</a></span></div>
          <figcaption>
            <h3>#HashTag</h3>
            <p class="store_title"><%= link_to sd01.sd_title, sd01 %></p>
            <div class="price">
              <em><%= number_to_currency(sd01.sd_spare_31) %></em><%= number_to_currency(sd01.sd_spare_32) %>
            </div>
            <div class="m_btn"><a href="<%= sd01.sd_link %>">Buy Now</a></div>
          </figcaption>
        </figure>
      <% end %>    
    </div><!--./st_middle_box-->

    <hr>

    <div class="st_middle_box clearfix">
      <h2>Walmart Deals</h2>
      <% @sdcategory_02.each do |sd02| %>
        <figure class="deals_card deal_stores">
          <div class="image_box">
            <%= link_to image_tag(sd02.sd_image, alt: sd02.sd_title, title: sd02.sd_image_title), sd02 %>
            <div class="mark"><span><%= sd02.sd_percentage %>%</span><em>OFF</em></div>
          </div>
          <div class="buy-now"><span><a target="_blank" href="<%= sd02.sd_link %>">BUY NOW</a></span></div>
          <figcaption>
            <h3>#HashTag</h3>
            <p class="store_title"><%= link_to sd02.sd_title, sd02 %></p>
            <div class="price">
              <em><%= number_to_currency(sd02.sd_spare_31) %></em><%= number_to_currency(sd02.sd_spare_32) %>
            </div>
            <div class="m_btn"><a href="<%= sd02.sd_link %>">Buy Now</a></div>
          </figcaption>
        </figure>
      <% end %>    
    </div><!--./st_middle_box-->


  </div><!--./st_middle-->


</div><!--./st_wrap-->

<!-- Side Tab Menu -->
<script type="text/javascript">
  $(document).ready(function(){
  $(".page1").hide();
  $(".tab-menu-wp ul li:first").addClass("store_active");
  $(".page1:first").fadeIn();
  $(".tab-menu-wp ul li").click(function(){
      var index = $(this).index();
      $(".page1").hide();
        $(".tab-menu-wp ul li").removeClass("store_active");
      $(".tab-menu-wp ul li:eq("+index+")").addClass("store_active");
        $(".page1:eq("+index+")").fadeIn();
    });
  });
</script>