<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xhy3p0"><img src="https://m.media-amazon.com/images/I/61eEnDhc36L._SR400,400_.jpg" alt="Armband" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>160 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xhy3p0">Armband for iPhone, VCOO Ultra Thin Soft Running Case with Reflective Strip and Extension Strap,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>40% off at $12.99</strong> with promo code: <strong>40GTDKUM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xhy3p0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xb441X"><img src="https://m.media-amazon.com/images/I/615dsz3vsxL._SR400,400_.jpg" alt="i2 Gear Cell Phone Armband Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>251 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xb441X">i2 Gear Cell Phone Armband Case - Phone Holder for Running fits iPhone 8 7 6 6S Cell Phones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$9.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>55% off at $9.99</strong> with promo code: <strong>55WGVAS6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xb441X">Use Code at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XjJOQz"><img src="https://m.media-amazon.com/images/I/81tsByM3RbL._SR400,400_.jpg" alt="Waterproof Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XjJOQz">Waterproof Case, 4 Pack Veckle Floating Waterproof Cell Phone Pouch Universal TPU Clear Water Proof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $14.99</strong> with promo code: <strong>405LNJTJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XjJOQz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="3.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NqmA6V"><img src="https://m.media-amazon.com/images/I/717zxiSAe-L._SR400,400_.jpg" alt="Soweiek iPad Pro 11” 2018 Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NqmA6V">Soweiek iPad Pro 11” 2018 Case, Slim Soft Trifold Stand Smart Cover with Auto Wake/Sleep,Pencil Holder,Screen Protector...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.75</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>75% off at $14.99</strong> with promo code: <strong>7535771U</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NqmA6V">Use Code at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ROb5od"><img src="https://m.media-amazon.com/images/I/613fLJk+NdL._SR400,400_.jpg" alt="Aromatherapy Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>559 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ROb5od">Aromatherapy Essential Oil Diffuser 530ml Cool Mist Ultrasonic Fragrance Scent Air Humidifier...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.49</span><span class="ori_price">$32.98</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $32.98</strong> with promo code: <strong>507CI6DP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ROb5od">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RQoJaK"><img src="https://m.media-amazon.com/images/I/710JbH25rUL._SR400,400_.jpg" alt="Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>313 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RQoJaK">100ml Aromatherapy Essential Oil Diffuser Humidifier Bronze, Mini Vintage Metal Ultrasonic Cool Mist Humidifier...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$27.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $27.99</strong> with promo code: <strong>50SCLZR5</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RQoJaK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZZetj1"><img src="https://m.media-amazon.com/images/I/61VdvS34yvL._SR400,400_.jpg" alt="Green Tea Matcha Mud Mask" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>98 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZZetj1">Green Tea Matcha Mud Mask With Aloe Vera 100g, Deep Pore Cleansing Facial & Body Detox Mask, Natural Deep...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>40% off at $14.99</strong> with promo code: <strong>406X4D7K</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZZetj1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="17.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xmd3ST"><img src="https://m.media-amazon.com/images/I/813jkKuNsyL._SR400,400_.jpg" alt="Bodylogix Natural Grass-Fed Whey Protein Powder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,001 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xmd3ST">Bodylogix Natural Grass-Fed Whey Protein Powder, NSF Certified, Vanilla Bean, 1.6 Pound </a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.47</span><span class="ori_price">$24.96</span></address>
      <p><span>Take <strong>30% off at $24.96</strong> with promo code: <strong>30JULY4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xmd3ST">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZXuRAL"><img src="https://m.media-amazon.com/images/I/81TaseKEVOL._SR400,400_.jpg" alt="Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>185 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZXuRAL">Blue Light Blocking Glasses for Women and Men, Eye Glasses for Computer and Gaming (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$29.97</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $29.97</strong> with promo code: <strong>60BLUEBLOCK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZXuRAL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NlYMAZ"><img src="https://m.media-amazon.com/images/I/41Ew0YNKeiL._SR400,400_.jpg" alt="Air Fryer Accessories" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NlYMAZ">Air Fryer Accessories 8pcs for Gowise Phillips Cozyna Ninja Deep Fryer Accessories Set with Cake Barrel,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>303W9P83</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NlYMAZ">Use Code at Amazon</a></div>
</div>


<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RRIGOo"><img src="https://m.media-amazon.com/images/I/81grPQW5eRL._SR400,400_.jpg" alt="BOKIN Pocket Hip Flask..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RRIGOo">BOKIN Pocket Hip Flask 304 Stainless Steel with Funnel and 3 Cups,American Flag Eagle Brown Leather...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$16.00</span></address>
      <p><span>Take <strong>50% off at $16.00</strong> with promo code: <strong>50TGZ745</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RRIGOo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/71Xt5WRALVL._SX522_.jpg" alt="MIEO Digital Instant Read Meat Thermometer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>39 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">MIEO Digital Instant Read Meat Thermometer for Grilling High Accuracy IP7 Waterproof Fast Read Digital Meat Thermometer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>30% off at $18.99</strong> with promo code: <strong>30IMYID6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ls67wt"><img src="https://m.media-amazon.com/images/I/61yti9iJf0L._SR400,400_.jpg" alt="Stand Mixer Tilt Head" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ls67wt">Stand Mixer Tilt Head, 5 Quart Classic 6 Speed 500W Kitchen Dough Mixer (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.99</span><span class="ori_price">$99.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $99.99</strong> with promo code: <strong>40CH519R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ls67wt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LtcgZf"><img src="https://m.media-amazon.com/images/I/71MSQ8XdAfL._SR400,400_.jpg" alt="BOTTLED JOY Water Jug 75oz Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>78 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LtcgZf">BOTTLED JOY Water Jug 75oz Water Bottle 2.2L Large Water Bottle Clear Water Bottle with 20pcs Ice Cubes and Fruit Infuser Wide Mouth BPA Free Sports</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>50% off at $15.99</strong> with promo code: <strong>5012OZI1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LtcgZf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3019G0t"><img src="https://m.media-amazon.com/images/I/61ja85lYARL._SR400,400_.jpg" alt="E-Gtong Manual Food Chopper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3019G0t">E-Gtong Manual Food Chopper, Large 3-Cup Powerful Hand Held Vegetable Chopper Food Processor, Veggie Salsa Maker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.29</span><span class="ori_price">$14.59</span></address>
      <p><span>Take <strong>50% off at $14.59</strong> with promo code: <strong>50469NL1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3019G0t">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RNq6qI"><img src="https://m.media-amazon.com/images/I/61qbdmGlABL._SR400,400_.jpg" alt="E-Gtong Vegetable Chopper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RNq6qI">E-Gtong Vegetable Chopper and Food Slicer, Vegetable Slicer with 9 Interchangeable Blades, Potato Onion Chopper...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>50% off at $19.99</strong> with promo code: <strong>50MDDUGI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RNq6qI">Use Code at Amazon</a></div>
</div>
