<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span><br /> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>Recommended</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span> + Percentage% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Percentage% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="image"><img src="<%=asset_path 'time.png' %>" alt="out of sold" /></div>
-->

<div class="card clearfix" data-score="50" data-price="64.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mdwa9l"><img src="https://images-na.ssl-images-amazon.com/images/I/71VrOmi5rEL._SX569_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mdwa9l">Beats EP On-Ear Headphones - White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.95</span><span class="ori_price">$129.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Mdwa9l">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="21.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/355IAbU"><img src="https://images-na.ssl-images-amazon.com/images/I/71HPE%2BeEauL._SX522_.jpg" alt="Twelve South PlugBug World" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/355IAbU">Twelve South PlugBug World | All-in-one MacBook global travel adapter + iPhone/iPad/USB charger</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.88</span><span class="ori_price">$33.74</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/355IAbU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="399.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30LRKXV"><img src="https://images-na.ssl-images-amazon.com/images/I/71j0ZDnUEsL._SY679_.jpg" alt="LG V35 ThinQ with Alexa Hands-Free" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30LRKXV">LG V35 ThinQ with Alexa Hands-Free – Prime Exclusive Phone – Unlocked – 64 GB – Aurora Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.99</span><span class="ori_price">$899.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30LRKXV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="160.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ohs2rC"><img src="https://images-na.ssl-images-amazon.com/images/I/71FJqHOegyL._SY679_.jpg" alt="Motorola G6 – 64 GB" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ohs2rC">Motorola G6 – 64 GB – Unlocked (AT&T/Sprint/T-Mobile/Verizon) – Black - (U.S. Warranty) - PAAE0009US</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$160.99</span><span class="ori_price">$319.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ohs2rC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="17.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nkBbog"><img src="https://images-na.ssl-images-amazon.com/images/I/71dXctT-WHL._SX679_.jpg" alt="Garment Duffle Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nkBbog">Garment Duffle Bag, Suit Bag with Shoulder Strap, AGPTEK Travel Gym Bag, Foldable Flight Bag with Shoe Pouch for Men Women, Airplane Business Sport Weekend, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.83</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nkBbog">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o1vHPH"><img src="https://images-na.ssl-images-amazon.com/images/I/51eAhFCg5mL._SX679_.jpg" alt="Bluetooth Over-Ear Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o1vHPH">Bluetooth Over-Ear Headphones, Zihnic Foldable Wireless and Wired Stereo Headset Micro SD/TF, FM for Cell Phone,PC,Soft Earmuffs...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.99</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 20% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 20% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o1vHPH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/333gHQ1"><img src="https://images-na.ssl-images-amazon.com/images/I/41j6TGKMtEL.jpg" alt="Keurig K-Select Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/333gHQ1">Keurig K-Select Coffee Maker, Single Serve K-Cup Pod Coffee Brewer, With Strength Control And Hot Water On Demand, Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$145.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/333gHQ1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32YXC1t"><img src="https://images-na.ssl-images-amazon.com/images/I/71P3d4odrcL._SX679_.jpg" alt="West Bend 82505 Stir Crazy Electric Hot Oil Popcorn Popper Machine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32YXC1t">West Bend 82505 Stir Crazy Electric Hot Oil Popcorn Popper Machine with Stirring Rod Offers Large Lid for Serving Bowl and Convenient Storage, 6-Quart, Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$35.29</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32YXC1t">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="19.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31LpN3B"><img src="https://images-na.ssl-images-amazon.com/images/I/61nGZkpNKNL._SX425_.jpg" alt="Thermos Stainless King 24 Ounce Food Jar" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31LpN3B">Thermos Stainless King 24 Ounce Food Jar, Midnight Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.29</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31LpN3B">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OkfRKK"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZRiQScWrL._SX679_.jpg" alt="KitchenAid KHB2351CU 3-Speed Hand Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OkfRKK">KitchenAid KHB2351CU 3-Speed Hand Blender - Contour Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OkfRKK">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="30" data-price="6.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IoASA1"><img src="https://images-na.ssl-images-amazon.com/images/I/91tOehwSy9L._SX679_.jpg" alt="Scott Paper Towels Choose-A-Sheet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IoASA1">Scott Paper Towels Choose-A-Sheet, White, 6 Mega Rolls</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.97</span><span class="ori_price">$9.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IoASA1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="74" data-price="95.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MhGH3g"><img src="https://images-na.ssl-images-amazon.com/images/I/81riTu3g38L._SX425_.jpg" alt="Rachael Ray Cucina Hard-Anodized Aluminum Nonstick Pots and Pans Cookware Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>74% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MhGH3g">Rachael Ray Cucina Hard-Anodized Aluminum Nonstick Pots and Pans Cookware Set, 12-Piece, Gray, Cranberry Red Handles</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$95.19</span><span class="ori_price">$360.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MhGH3g">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="12.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AJ97hf"><img src="https://images-na.ssl-images-amazon.com/images/I/71Kzn7BXBEL._SY879_.jpg" alt="Ninja Coffee Bar Easy Milk Frother" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AJ97hf">Ninja Coffee Bar Easy Milk Frother with Press Froth Technology (CFFROTH)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.69</span><span class="ori_price">$43.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AJ97hf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="44.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AIeGwy"><img src="https://images-na.ssl-images-amazon.com/images/I/61r9NdF5LWL._SX679_.jpg" alt="NutriChef Upgraded Vacuum Sealer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AIeGwy">NutriChef Upgraded Vacuum Sealer | Automatic Vacuum Air Sealing System For Food Preservation w/ Starter Kit | Compact Design | Lab Tested ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.95</span><span class="ori_price">$65.44</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AIeGwy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="76" data-price="100.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/354Jiq2"><img src="https://images-na.ssl-images-amazon.com/images/I/813yTT7IXOL._SX425_.jpg" alt="J.A. Henckels International Modernist 13-pc Knife " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>76% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/354Jiq2">J.A. Henckels International Modernist 13-pc Knife Block Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$100.10</span><span class="ori_price">$425.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/354Jiq2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="41.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OgglBv"><img src="https://images-na.ssl-images-amazon.com/images/I/A1v-1wh%2Be4L._SX522_.jpg" alt="Samsonite Laptop Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OgglBv">Samsonite Classic Business Perfect Fit Two Gusset Laptop Bag - 15.6" Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$41.99</span><span class="ori_price">$120.00</span>
        <div class="tooltip_common tooltip_orange"><span> + $8.40 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $8.40 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OgglBv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LL0XeU"><img src="https://images-na.ssl-images-amazon.com/images/I/51pWD-MX5%2BL._SX522_.jpg" alt="Solo Astor 15.6 Inch Laptop Slim Brief, Grey" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LL0XeU">Solo Astor 15.6 Inch Laptop Slim Brief, Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$35.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LL0XeU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="27.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VcSTX7"><img src="https://images-na.ssl-images-amazon.com/images/I/81Xq-ieL7qL._SY550_.jpg" alt="All Purpose Backpack for Men and Women" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VcSTX7">All Purpose Backpack for Men and Women</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.45</span><span class="ori_price">$67.74</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VcSTX7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/354tVOj"><img src="https://images-na.ssl-images-amazon.com/images/I/91dnEUeMQUL._SX425_.jpg" alt="HAZARD 4 Patrol Pack Thermo-Cap Daypack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/354tVOj">HAZARD 4 Patrol Pack Thermo-Cap Daypack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.99</span><span class="ori_price">$187.19</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/354tVOj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="80.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AHsaZC"><img src="https://images-na.ssl-images-amazon.com/images/I/51gpGyXJzKL._SX679_.jpg" alt="Grand-Pro A1 Robot Vacuum Pet..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AHsaZC">Grand-Pro A1 Robot Vacuum Pet Hair Allergies Friendly, Automatic Self-Charging Robotic Vacuum for Cleaning Hardwood Floors,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$80.02</span><span class="ori_price">$159.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AHsaZC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="6.21">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nfSerr"><img src="https://images-na.ssl-images-amazon.com/images/I/71bipRZcU0L._SX425_.jpg" alt="BLEUM CADE Throw Pillow Covers Cushion Covers Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nfSerr">BLEUM CADE Throw Pillow Covers Cushion Covers Set of 4 Easter Pillow Covers Easter Rabbit Pilowcase with Hidden Zipper for Sofa Couch Bed Office Car</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.21</span><span class="ori_price">$20.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nfSerr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="5.31">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31LrBtz"><img src="https://images-na.ssl-images-amazon.com/images/I/71pqD2v-dKL._SX522_.jpg" alt="MoKo Case Fit iPad Pro" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31LrBtz">MoKo Case Fit iPad Pro 11" 2018 with Apple Pencil Holder - Support Magnetically Attach Charging/Pairing Function - Slim Lightweight Smart...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.31</span><span class="ori_price">$12.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31LrBtz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="18.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Oki5K6"><img src="https://images-na.ssl-images-amazon.com/images/I/71AtoUc6qrL._SX425_.jpg" alt="feifuns Fitness Tracker Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Oki5K6">feifuns Fitness Tracker Watch, Activity Tracker IP68 Waterproof Smart Watch Wristband with Heart Rate Monitor,Calorie Counter,Sleep Monitor,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.50</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Oki5K6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30NWQ5Q"><img src="https://images-na.ssl-images-amazon.com/images/I/71vljm0sdoL._SX522_.jpg" alt="ASUS VE248H 240-Inch Full HD Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30NWQ5Q">ASUS VE248H 24" Full HD 1920x1080 2ms HDMI DVI VGA Back-lit LED Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$219.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30NWQ5Q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AI5RCQ"><img src="https://images-na.ssl-images-amazon.com/images/I/81JJuDwkXBL._SX679_.jpg" alt="Seagate IronWolf 4TB NAS Internal Hard Drive HDD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AI5RCQ">Seagate IronWolf 4TB NAS Internal Hard Drive HDD – 3.5 Inch SATA 6Gb/s 5900 RPM 64MB Cache for RAID Network Attached Storage (ST4000VN008)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.95</span><span class="ori_price">$150.08</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AI5RCQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="35.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vdeor5"><img src="https://images-na.ssl-images-amazon.com/images/I/81Yy2Vmid-L._SX679_.jpg" alt="Wireless Earbuds, Dveda Bluetooth..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vdeor5">Wireless Earbuds,Dveda Bluetooth 5.0 Stereo Sound IPX8 Waterproof Wireless Headphones,110H Playtime with 3500mAh Charging Case,Built-in MiC...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.18</span><span class="ori_price">$69.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Vdeor5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="37.57">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3583pDw"><img src="https://images-na.ssl-images-amazon.com/images/I/81CDXLxYwYL._SX522_.jpg" alt="FiveJoy Military Folding Shovel Multitool" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3583pDw">FiveJoy Military Folding Shovel Multitool (C1) - Portable Foldable Survival Tool - Entrenching Backpack Equipment for Hiking Camping Emergency Car...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.57</span><span class="ori_price">$79.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3583pDw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="11.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AJfhOo"><img src="https://images-na.ssl-images-amazon.com/images/I/516V8UWJTrL._SX425_.jpg" alt="OMERIL Night Light for Kids-2 Packs Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AJfhOo">OMERIL Night Light for Kids-2 Packs Plug in Night Lights with Auto Dusk to Dawn Photocell Sensor, Baby Night Light for Kids, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.04</span><span class="ori_price">$25.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AJfhOo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="5.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34ZSJah"><img src="https://images-na.ssl-images-amazon.com/images/I/61mSdwKF2%2BL._SX522_.jpg" alt="iPhone Cable,TIMMY iPhone Charging Cable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34ZSJah">iPhone Cable,TIMMY iPhone Charging Cable 3PACK 6ft Nylon Braided iphone Charger Cable to USB Data Synchronization Cable Charger (BLACK)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.98</span><span class="ori_price">$13.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34ZSJah">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="8.57">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31RqqJe"><img src="https://images-na.ssl-images-amazon.com/images/I/916utbEa9sL._SX425_.jpg" alt="Equity by La Crosse 30228 LED Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31RqqJe">Equity by La Crosse 30228 LED Alarm Clock</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.57</span><span class="ori_price">$19.28</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31RqqJe">Shop Now at Amazon</a></div>
</div>
