<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->


<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="18.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YTPBbv"><img src="https://m.media-amazon.com/images/I/61r3c4xV-kL._SR400,400_.jpg" alt="Baseus Wireless Car Charger Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YTPBbv">Baseus Wireless Car Charger Mount, 10w Automatic Infrared Qi Fast Charging Car Phone Holder Dashboard Compatible with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.50</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">50T1DCZF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $36.99</strong> with promo code: <strong class="m_codes">50T1DCZF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YTPBbv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31yHLWr"><img src="https://m.media-amazon.com/images/I/61LzUDBKXML._SR400,400_.jpg" alt="Wireless Charger Qi Fast Wireless Charging Pad" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31yHLWr">Wireless Charger Qi Fast Wireless Charging Pad, 7.5W Wireless Charging Compatible iPhone Xs MAX/XR/XS/X/8/8 Plus,....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">70D6W25J</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $29.99</strong> with promo code: <strong class="m_codes">70D6W25J</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31yHLWr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="18.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31rPKVt"><img src="https://m.media-amazon.com/images/I/613ddmsNtAL._SR400,400_.jpg" alt="Charging Station Organizer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31rPKVt">Charging Station Organizer for Multiple Devices – 4 Short Mixed Cables Included for Cell Phones, Smart Phones, Tablets, and Other Devices.</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.59</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">40VVNW5V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $30.99</strong> with promo code: <strong class="m_codes">40VVNW5V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31rPKVt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GYnFNH"><img src="https://m.media-amazon.com/images/I/61u+1rPNcrL._SR400,400_.jpg" alt="YENOCK Smartwatch Bluetooth Fitness Tracker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GYnFNH">YENOCK Smartwatch Bluetooth Fitness Tracker with All-Day Heart Rate and Activity Tracking, Sleep Monitoring and SMS Notifications for iOS and Android Devices</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">50UOON8G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $23.99</strong> with promo code: <strong class="m_codes">50UOON8G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GYnFNH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="13.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GYzK5n"><img src="https://m.media-amazon.com/images/I/71fUTSxj3vL._SR400,400_.jpg" alt="Charging Station for Multiple Devices" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GYzK5n">Charging Station for Multiple Devices 3 in 1 Docking Station 4 USB Ports and 2 Outlet Surge Protector Power Strip Holder...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.50</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">55SSSSSS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $29.99</strong> with promo code: <strong class="m_codes">55SSSSSS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GYzK5n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYrXPg"><img src="https://m.media-amazon.com/images/I/61fT1CJOITL._SR400,400_.jpg" alt="Portable Charger Power Bank 25000mAh" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYrXPg">Portable Charger Power Bank 25000mAh - High Capacity with LCD Digital Display,3 USB Output & Dual Input External Battery Pack ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.00</span><span class="ori_price">$33.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div> 
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50OVZ5MS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $33.99</strong> with promo code: <strong class="m_codes">50OVZ5MS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YYrXPg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33mbAvb"><img src="https://m.media-amazon.com/images/I/71pGKOLmmDL._SR400,400_.jpg" alt="Travel Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33mbAvb">Travel Backpack 40Liter Flight Approved Carry on Backpack Laptop Rucksack Large Daypack Weekender Bag Overnight Backpack for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">409SIXES</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $59.99</strong> with promo code: <strong class="m_codes">409SIXES</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33mbAvb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YE1yXv"><img src="https://images-na.ssl-images-amazon.com/images/I/61WfNnKRdkL._SX522_.jpg" alt="Business Travel Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YE1yXv">Business Travel Laptop Backpack with USB Charging Port, Anti Theft College School Computer Bag Fits 15 Inch Notebook for Men Women (Gray)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.00</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">65QJDSPT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $59.99</strong> with promo code: <strong class="m_codes">65QJDSPT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YE1yXv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUmLfq"><img src="https://m.media-amazon.com/images/I/61mrtpQC1DL._SR400,400_.jpg" alt="Laptop Backpack, Business Travel Anti Theft.." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUmLfq">Laptop Backpack, Business Travel Anti Theft Slim Durable Laptops Backpack with USB Charging Port,Waterproof College School Computer Bag...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.79</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">30ZM3OJZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $33.99</strong> with promo code: <strong class="m_codes">30ZM3OJZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YUmLfq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MQQiA1"><img src="https://m.media-amazon.com/images/I/61WmpqBdwjL._SR400,400_.jpg" alt="sinstar Gaming Headset Stand Headphone Holder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MQQiA1">sinstar Gaming Headset Stand Headphone Holder with Full-Range Stereo or EQ7.1 Surround Sound Universal Earphones Hanger...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">60IFRI2U</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">60IFRI2U</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MQQiA1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YR1grG"><img src="https://m.media-amazon.com/images/I/71-pvbLI1ZL._SR400,400_.jpg" alt="Bluetooth Headphones/Sports..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YR1grG">Bluetooth Headphones/Sports Sweatproof Wireless Headphones/Neckband Headset/Digital Noise Cancellation Earphone. (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50Y638RA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50Y638RA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YR1grG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="13.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYsu3I"><img src="https://m.media-amazon.com/images/I/51KlMMR2ecL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYsu3I">Bluetooth Headphones, Baseus Wireless Earbuds Bluetooth 5.0 HD Stereo Headset Waterproof Sweatproof 7-10 Hrs Playback Noise...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.77</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">47K55WSP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>47% off at $25.99</strong> with promo code: <strong class="m_codes">47K55WSP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YYsu3I">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="13.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GZdpoa"><img src="https://m.media-amazon.com/images/I/51dlHP+rE4L._SR400,400_.jpg" alt="TESSAN Surge Protector Tower" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GZdpoa">TESSAN Surge Protector Tower, Power Strip with 9 AC Outlets 4 USB Ports, 900 Joules, Electrical Plug Tower Desktop Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.05</span><span class="ori_price">$28.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">554Q7M32</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $28.99</strong> with promo code: <strong class="m_codes">554Q7M32</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 02:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GZdpoa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="24.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KoZUAo"><img src="https://m.media-amazon.com/images/I/61t45lsq-JL._SR400,400_.jpg" alt="1Mii Long Range Bluetooth Wireless Speaker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KoZUAo">1Mii Long Range Bluetooth Wireless Speaker, Portable Bluetooth Speaker with Music Mode&Vocal Mode, 10W 360⁰ Music Speakers, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.74</span><span class="ori_price">$54.98</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">55QFN8GF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $54.98</strong> with promo code: <strong class="m_codes">55QFN8GF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KoZUAo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="22.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GYpfPA"><img src="https://images-na.ssl-images-amazon.com/images/I/619t%2BUn181L._SX425_.jpg" alt="Desktop Edge Power Strip" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GYpfPA">Desktop Edge Power Strip, Removable Clamp Power Outlet Socket with USB Port, 6.5 ft Extension Cord Connect 2 Plugs for Home Office Reading</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.39</span><span class="ori_price">$27.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20TPMBHX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $27.99</strong> with promo code: <strong class="m_codes">20TPMBHX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GYpfPA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GTvS5N"><img src="https://m.media-amazon.com/images/I/615AlUdaTrL._SR400,400_.jpg" alt="SoundPEATS Bluetooth Speaker Portable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GTvS5N">SoundPEATS Bluetooth Speaker Portable 24W Wireless Speakers 360 Degree Surround Sound Stereo Speaker with Built-in Mic,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$42.49</span></address>
      <textarea readonly="readonly" class="code_area">407KQI3D</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $42.49</strong> with promo code: <strong class="m_codes">407KQI3D</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GTvS5N">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33pRxMm"><img src="https://m.media-amazon.com/images/I/61dmiXcDKdL._SR400,400_.jpg" alt="Zoppen International Travel Plug Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33pRxMm">Zoppen International Travel Plug Adapter 4 USB Universal Outlets US/Euro/UK/IT/FR/AU/JP/CN for iPhone iPad Tablet Laptop,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50P1DTQR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50P1DTQR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33pRxMm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yO20mL"><img src="https://m.media-amazon.com/images/I/51WF+A5eZCL._SR400,400_.jpg" alt="Wireless Ear Buds Wireless Headphones Bluetooth" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yO20mL">Wireless Ear Buds Wireless Headphones Bluetooth 5.0 Waterproof Earbuds Built-in Mic with 500mAh Charging Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.49</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">30DULXRG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $34.99</strong> with promo code: <strong class="m_codes">30DULXRG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yO20mL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YFO1Pq"><img src="https://m.media-amazon.com/images/I/6188rjLEJzL._SR400,400_.jpg" alt="Travel Case Packed" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YFO1Pq">Travel Case Packed, EWA A106 Portable Bluetooth Speaker with Custom Bass Radiator, Brief Design, Perfect Mini Speaker for Shower,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.74</span><span class="ori_price">$14.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">35U6PGRC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $14.99</strong> with promo code: <strong class="m_codes">35U6PGRC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YFO1Pq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31oQdYm"><img src="https://m.media-amazon.com/images/I/61Je9afhiiL._SR400,400_.jpg" alt="BYEASY USB C Hub, 5-in-1 USB C Card Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31oQdYm">BYEASY USB C Hub, 5-in-1 USB C Card Adapter with SD/TF Card Reader and 3 USB 3.0 Ports for Apple MacBook Pro 2018/2017/2016,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$17.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40VIPON2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $17.99</strong> with promo code: <strong class="m_codes">40VIPON2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31oQdYm">Use Code at Amazon</a></div>
</div>



