<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="card dealofday clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Amazon Deal Of The Day: Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
       </ul>
       <li><a href="product_link">- SEE MORE</a></li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
-->

<div class="card dealofday clearfix" data-score="38" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N0fS7x"><img src="https://images-na.ssl-images-amazon.com/images/I/71KweBk41NL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N0fS7x">Amazon Deal Of The Day: Save up to 38% on Pantene hair care</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Shampoo</p>
          <ul>
            <li><a href="https://amzn.to/2WScoU5">Pantene, Shampoo and Sulfate Free Conditioner Kit</a> - <span>9.35<em>14.98</em></span></li>
            <li><a href="https://amzn.to/2WZVpj2">Pro-V Daily Moisture Renewal for Dry Hair</a> - <span>11.19<em>13.99</em></span></li>
            <li><a href="https://amzn.to/2J4yCh4">Pro-V Classic Clean, 25.4 fl oz, Twin Pack</a> - <span>12.30<em>16.99</em></span></li>
            <li><a href="https://amzn.to/2N0fS7x">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>Conditioner</p>
          <ul>
            <li><a href="https://amzn.to/2Y4QnD8">Pro-V Daily Moisture Renewal for Dry Hair</a> - <span>11.99<em>14.99</em></span></li>
            <li><a href="https://amzn.to/2WXAIsB">Moisture Boost, Pro-V Gold Series, for Natural ...</a> - <span>11.98<em>12.99</em></span></li>
            <li><a href="https://amzn.to/2WTvYo1">Pantene, Sulfate Free Conditioner</a> - <span>9.78<em>13.99</em></span></li>
            <li><a href="https://amzn.to/2N0fS7x">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>others</p>
          <ul>
            <li><a href="https://amzn.to/2N1s2gv">Pantene Conditioning Mist Detangler</a> - <span>11.99<em>14.99</em></span></li>
            <li><a href="https://amzn.to/2Y1OeYJ">Pantene, Spray Gel, Pro-V Curl, Hold Shape...</a> - <span>12.79<em>15.99</em></span></li>
            <li><a href="https://amzn.to/2MWyi94">Pantene Hairspray, Smooth Finish</a> - <span>11.93<em>15.99</em></span></li>
            <li><a href="https://amzn.to/2N0fS7x">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
       
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N0fS7x">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IW0qE6"><img src="https://images-na.ssl-images-amazon.com/images/I/517ysWkFnxL._SX679_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>393 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IW0qE6">Wireless Earbuds, Tepoinn Bluetooth 5.0 True Wireless Bluetooth Headphones with Built-in Mic, in-Ear Stereo Wireless Earphones</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$35.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IW0qE6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="189.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FoJHbx"><img src="https://images-na.ssl-images-amazon.com/images/I/51YboKeWoSL._SX679_.jpg" alt="Fingerprint and Touchscreen Smart Lock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>955 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FoJHbx">Ultraloq UL3 BT Bluetooth Enabled Fingerprint and Touchscreen Smart Lock (Satin Nickel) | 5-in-1 Keyless Entry | Secure Finger ID |...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$189.99</span><span class="ori_price">$249.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FoJHbx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="139.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ktnk97"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2BGjEuJ3LL._SX679_.jpg" alt="Air Cooler and Humidifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>318 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ktnk97">Evapolar evaLIGHT Personal Evaporative Air Cooler and Humidifier / Cleaner, Portable Air Conditioner, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$139.00</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ktnk97">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="24.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MWBGRk"><img src="https://images-na.ssl-images-amazon.com/images/I/71Cp5cCyW6L._SX679_.jpg" alt="Dash Shaved Ice Maker " /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MWBGRk">Dash DSIM100GBAQ02 Shaved Ice Maker + Slushie Machine with with Stainless Steel Blades for Snow Cone, Margarita + Frozen Cocktails, Organic, Sugar Free,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.95</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MWBGRk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="199.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IWlyKt"><img src="https://images-na.ssl-images-amazon.com/images/I/61EDNWhnXwL._SY355_.jpg" alt="Ring Alarm 5 Piece Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,997 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IWlyKt">Ring Alarm 5 Piece Kit + Echo Dot (3rd Gen), Works with Alexa</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.00</span><span class="ori_price">$248.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IWlyKt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="199.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N0OBBI"><img src="https://images-na.ssl-images-amazon.com/images/I/81Q42WU0lrL._SX522_.jpg" alt="Owlet Smart Sock 2 Baby Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,063 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N0OBBI">Owlet Smart Sock 2 Baby Monitor - Track Your Infant's Heart Rate & Oxygen Levels</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.00</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N0OBBI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="349.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31MrHla"><img src="https://images-na.ssl-images-amazon.com/images/I/61464S%2BS3EL._SX679_.jpg" alt="CINEMOOD Portable Movie Theater" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31MrHla">CINEMOOD Portable Movie Theater- Includes Disney Family Favorites, Streams Netflix, Amazon Prime Videos and Youtube - Anytime, Anyplace</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$349.99</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31MrHla">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="51.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IW23BI"><img src="https://images-na.ssl-images-amazon.com/images/I/71Y9Ma4plKL._SX522_.jpg" alt="COSORI Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>35 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IW23BI">COSORI Blender for Shakes and Smoothies(50 Recipes),1400W Heavy Duty Professional Blender for Crushing Ice, Frozen Fruit with 64oz Pitcher&20oz Travel Bottle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$51.98</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IW23BI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="72.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XX3ru9"><img src="https://images-na.ssl-images-amazon.com/images/I/71DggNPUZxL._SX522_.jpg" alt="NETGEAR 24-Port Gigabit Ethernet Unmanaged Switch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,088 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XX3ru9">NETGEAR 24-Port Gigabit Ethernet Unmanaged Switch (GS324) - Desktop/Rackmount, Fanless Housing for Quiet Operation</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$72.99</span><span class="ori_price">$109.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XX3ru9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fn29l4"><img src="https://images-na.ssl-images-amazon.com/images/I/71rt%2BiBqIJL._SX522_.jpg" alt="HIEIE Sonic Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fn29l4">HIEIE Sonic Electric Toothbrush, USB Rechargeable Toothbrush Travel with 2 Replacement Heads, 5 Brushing Modes with 2 Minutes Timer, IPX7 Waterproof</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.79</span><span class="ori_price">$32.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Fn29l4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FkuLew"><img src="https://images-na.ssl-images-amazon.com/images/I/71QyB%2BRj01L._SX679_.jpg" alt="RAVPower Solar Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FkuLew">RAVPower Solar Charger 21W Solar Panel with Dual USB Port Waterproof Foldable Camping Travel Charger Compatible iPhone Xs XS Max XR X 8 7 Plus, iPad,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FkuLew">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="98.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L3ZujK"><img src="https://images-na.ssl-images-amazon.com/images/I/812pGjmDC-L._SX522_.jpg" alt="Sony Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2L3ZujK">Sony WH-XB700 Wireless Extra Bass Bluetooth Headphones, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$98.00</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2L3ZujK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="79.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KteN6b"><img src="https://images-na.ssl-images-amazon.com/images/I/61fasXpxYGL._SX522_.jpg" alt="HyperDrive USB C Hub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>77 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KteN6b">HyperDrive USB C Hub, Sanho Type C Multi-port Adapter for MacBook Pro 2018 2017 2016, Dual 6in2 Thunderbolt USB-C Dongle w Gigabit Ethernet,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.00</span><span class="ori_price">$99.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KteN6b">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y3QJK7"><img src="https://images-na.ssl-images-amazon.com/images/I/816FrUl5YVL._SY741_.jpg" alt="OtterBox COMMUTER SERIES iPhone 6/6s Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,030 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y3QJK7">OtterBox COMMUTER SERIES iPhone 6/6s Case - Frustration Free Packaging - BLACK</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$34.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y3QJK7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/Apple-Power-Adapter-iPhone-iPad/dp/B00A83I8G2/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108487&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-18&linkCode=sl1&tag=3628-20&linkId=dd7361b64e8a4c6f8d99507d8b95112b&language=en_US"><img src="https://images-na.ssl-images-amazon.com/images/I/418H4DiygbL._SX569_.jpg" alt="Apple 12W USB Power Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,607 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/Apple-Power-Adapter-iPhone-iPad/dp/B00A83I8G2/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108487&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-18&linkCode=sl1&tag=3628-20&linkId=dd7361b64e8a4c6f8d99507d8b95112b&language=en_US">Apple 12W USB Power Adapter (for iPhone, iPad)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://www.amazon.com/Apple-Power-Adapter-iPhone-iPad/dp/B00A83I8G2/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108487&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-18&linkCode=sl1&tag=3628-20&linkId=dd7361b64e8a4c6f8d99507d8b95112b&language=en_US">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/Energizer-Rechargeable-Battery-Recharge-Batteries/dp/B00IM3P8GS/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108487&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-23&th=1&linkCode=sl1&tag=3628-20&linkId=f2aa928375dadd30752366452cb85906&language=en_US"><img src="https://images-na.ssl-images-amazon.com/images/I/71LhrNqMpHL._SX522_.jpg" alt="Energizer Rechargeable AA and AAA Battery Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,239 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/Energizer-Rechargeable-Battery-Recharge-Batteries/dp/B00IM3P8GS/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108487&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-23&th=1&linkCode=sl1&tag=3628-20&linkId=f2aa928375dadd30752366452cb85906&language=en_US">Energizer Rechargeable AA and AAA Battery Charger (Recharge Pro) with 4 AA NiMH Rechargeable Batteries, Auto-Safety Feature, Over-charge Protection </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.19</span><span class="ori_price">$20.79</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://www.amazon.com/Energizer-Rechargeable-Battery-Recharge-Batteries/dp/B00IM3P8GS/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108487&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-23&th=1&linkCode=sl1&tag=3628-20&linkId=f2aa928375dadd30752366452cb85906&language=en_US">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="57.00">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/Plantronics-Voyager-Wireless-Bluetooth-Headset/dp/B00DQ5NU76/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108527&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-29&linkCode=sl1&tag=3628-20&linkId=c89f7041bf9e8ce46404f868916f2672&language=en_US"><img src="https://images-na.ssl-images-amazon.com/images/I/51sc6e37-DL._SX679_.jpg" alt="Wireless Bluetooth Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>9,052 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/Plantronics-Voyager-Wireless-Bluetooth-Headset/dp/B00DQ5NU76/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108527&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-29&linkCode=sl1&tag=3628-20&linkId=c89f7041bf9e8ce46404f868916f2672&language=en_US">Plantronics Voyager Legend Wireless Bluetooth Headset - Compatible with iPhone, Android, and Other Leading Smartphones - Black- Frustration Free Packaging</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$57.00</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://www.amazon.com/Plantronics-Voyager-Wireless-Bluetooth-Headset/dp/B00DQ5NU76/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108527&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-29&linkCode=sl1&tag=3628-20&linkId=c89f7041bf9e8ce46404f868916f2672&language=en_US">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/Powerbeats3-Wireless-Earphones-Neighborhood-Collection/dp/B0765FPSQ9/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108527&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-42&linkCode=sl1&tag=3628-20&linkId=5d69d05624a73d9d3a7eefdd7e20ad1d&language=en_US"><img src="https://images-na.ssl-images-amazon.com/images/I/614rX%2BFqKEL._SX679_.jpg" alt="Powerbeats3 Wireless Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,307 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/Powerbeats3-Wireless-Earphones-Neighborhood-Collection/dp/B0765FPSQ9/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108527&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-42&linkCode=sl1&tag=3628-20&linkId=5d69d05624a73d9d3a7eefdd7e20ad1d&language=en_US">Powerbeats3 Wireless Earphones - Neighborhood Collection - Turf Green</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$199.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://www.amazon.com/Powerbeats3-Wireless-Earphones-Neighborhood-Collection/dp/B0765FPSQ9/ref=as_li_ss_tl?_encoding=UTF8&imprToken=e3xMVhIde.oE2bWnmqpyTA&qid=1561108527&refinements=p_75:20-&s=wireless&slotNum=44&sr=1-42&linkCode=sl1&tag=3628-20&linkId=5d69d05624a73d9d3a7eefdd7e20ad1d&language=en_US">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="53.98">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/INFINITIPRO-CONAIR-Secret-Styler-Purple/dp/B00E68O4JU/ref=as_li_ss_tl?_encoding=UTF8&refRID=VVTQN5SMS10TSS7JYBGF&th=1&linkCode=sl1&tag=3628-20&linkId=d89f85ca6ccbbc8c1a7a6f80cb12b8c0&language=en_US"><img src="https://images-na.ssl-images-amazon.com/images/I/61qx%2BE3rLaL._SX522_.jpg" alt="INFINITIPRO BY CONAIR Curl Secret" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>3,720 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/INFINITIPRO-CONAIR-Secret-Styler-Purple/dp/B00E68O4JU/ref=as_li_ss_tl?_encoding=UTF8&refRID=VVTQN5SMS10TSS7JYBGF&th=1&linkCode=sl1&tag=3628-20&linkId=d89f85ca6ccbbc8c1a7a6f80cb12b8c0&language=en_US">INFINITIPRO BY CONAIR Curl Secret, Purple</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.98</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://www.amazon.com/INFINITIPRO-CONAIR-Secret-Styler-Purple/dp/B00E68O4JU/ref=as_li_ss_tl?_encoding=UTF8&refRID=VVTQN5SMS10TSS7JYBGF&th=1&linkCode=sl1&tag=3628-20&linkId=d89f85ca6ccbbc8c1a7a6f80cb12b8c0&language=en_US">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="11" data-price="249.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MYt8JD"><img src="https://images-na.ssl-images-amazon.com/images/I/81KyWQk%2BE2L._SX522_.jpg" alt="Cubii Jr: Desk Elliptical" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>362 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MYt8JD">Cubii Jr: Desk Elliptical with Built in Display Monitor, Easy Assembly, Adjustable Resistance, Quiet & Compact</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$249.00</span><span class="ori_price">$279.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MYt8JD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="45.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fo4r37"><img src="https://images-na.ssl-images-amazon.com/images/I/6141ssjOMWL._SX679_.jpg" alt="Wacaco Minipresso GR" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>568 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fo4r37">Wacaco Minipresso GR, Portable Espresso Machine, Compatible Ground Coffee, Small Travel Coffee Maker, Manually Operated from Piston Action</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.05</span><span class="ori_price">$49.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Fo4r37">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NaWfcK"><img src="https://images-na.ssl-images-amazon.com/images/I/51XrhooclsL._SX522_.jpg" alt="Electric Eye Temple Massager" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NaWfcK">Breo iSee 3S Electric Eye Temple Massager with Air Pressure Music Vibration Heat Compression Therapy for Dry Eye Relax Eyesight Care Stress Fatigue...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$110.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NaWfcK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FkCvgr"><img src="https://images-na.ssl-images-amazon.com/images/I/61iixOb9aVL._SX679_.jpg" alt="LIFX (A19) Wi-Fi Smart LED Light Bulb" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,145 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FkCvgr">LIFX (A19) Wi-Fi Smart LED Light Bulb, Adjustable, Multicolor, Dimmable, No Hub Required, Works with Alexa, Apple HomeKit and Google Assistant</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FkCvgr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZFPIZk"><img src="https://images-na.ssl-images-amazon.com/images/I/51P2-XNgCCL._SX679_.jpg" alt="Amazfit Bip Smartwatch by Huami" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>3,557 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZFPIZk">Amazfit Bip Smartwatch by Huami with All-Day Heart Rate and Activity Tracking, Sleep Monitoring, GPS, Ultra-Long Battery Life, Bluetooth,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZFPIZk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FoXwqr"><img src="https://m.media-amazon.com/images/I/31QlX5scPIL._AC_UL436_.jpg" alt="SCOSCHE MagicMount Magnetic Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,444 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FoXwqr">SCOSCHE MagicMount Magnetic Mount Replacement Plate Kit - MagicPlate Color Matching Plates for iPhone/iPad and Other Smart Devices ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$12.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FoXwqr">Shop Now at Amazon</a></div>
</div>



