<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="70" data-price="27.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JXohDU"><img src="https://m.media-amazon.com/images/I/51oTMkfJUCL._SR400,400_.jpg" alt="Elzle 25000mAh Quick Charger Power Bank" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JXohDU">Elzle 25000mAh Quick Charger Power Bank, Ultra Fast Charger 5V/5A with Dual Input(Type-C and Micro USB),...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.00</span><span class="ori_price">$89.99</span></address>
      <textarea readonly="readonly" class="code_area">70NIRMJN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $89.99</strong> with promo code: <strong class="m_codes">70NIRMJN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JXohDU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KdyrR9"><img src="https://m.media-amazon.com/images/I/61qvXQwah6L._SR400,400_.jpg" alt="DveeTech Dash Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>79 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KdyrR9">DveeTech Dash Camera for Cars 1920x1080p【Super Night Vision】 3" IPS LCD FHD 1080P Screen 170°HDR/WDR G-Sensor Car Video...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40F5WKG6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40F5WKG6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KdyrR9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="21.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YdNkHV"><img src="https://m.media-amazon.com/images/I/61qTLphZ+bL._SR400,400_.jpg" alt="Screen Replacement" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>387 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YdNkHV">Screen Replacement Compatible iPhone 6S White 4.7inch Digitizer Repair LCD Replacement Kit Assembly</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.69</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">30T2QCCP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $30.99</strong> with promo code: <strong class="m_codes">30T2QCCP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YdNkHV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SzsQbu"><img src="https://m.media-amazon.com/images/I/81l+fhxgAlL._SR400,400_.jpg" alt="Dealz Frenzy Insulated Tumbler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SzsQbu">Dealz Frenzy Insulated Tumbler-Double Wall Stainless Steel Travel Coffee Mug with Lid,Thermo Cup BPA Free...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">50NDXZPP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">50NDXZPP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SzsQbu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SyL3pu"><img src="https://m.media-amazon.com/images/I/61j4b-t1HQL._SR400,400_.jpg" alt="Memory Foam Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>37 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SyL3pu">Comfort & Relax Shredded Bamboo Memory Foam Pillow for Neck Support with Free Pillowcase, KING</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.40</span><span class="ori_price">$40.99</span></address>
      <textarea readonly="readonly" class="code_area">60HKS03K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $40.99</strong> with promo code: <strong class="m_codes">60HKS03K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 27, 2019 at 11:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SyL3pu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JNyRyq"><img src="https://m.media-amazon.com/images/I/716dIZBftHL._SR400,400_.jpg" alt="ELECDER D10 True Wireless Earbuds Bluetooth" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JNyRyq">ELECDER D10 True Wireless Earbuds Bluetooth 5.0 in Ear with Microphone, 3D Stereo Sound, Charging Case for Workout, Running</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50GFTNGE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50GFTNGE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JNyRyq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="19.13">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JYT3MB"><img src="https://m.media-amazon.com/images/I/510Pv53ugzL._SR400,400_.jpg" alt="Men's Running Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>39 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JYT3MB">Men's Running Sneakers, Lightweight and Breathable Comfortable Walking Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.13</span><span class="ori_price">$31.89</span></address>
      <textarea readonly="readonly" class="code_area">40XJ6BO3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $31.89</strong> with promo code: <strong class="m_codes">40XJ6BO3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JYT3MB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="23.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTNSxm"><img src="https://m.media-amazon.com/images/I/61w+jrqwggL._SR400,400_.jpg" alt="MorePro Waterproof Health Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>333 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTNSxm">MorePro Waterproof Health Tracker, Fitness Tracker Color Screen Sport Smart Watch,Activity Tracker with Heart Rate...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.00</span><span class="ori_price">$45.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">502A5DH3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $45.99</strong> with promo code: <strong class="m_codes">502A5DH3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JTNSxm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JNDF6W"><img src="https://m.media-amazon.com/images/I/51zK5jWCofL._SR400,400_.jpg" alt="CORNMI Power Bank" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JNDF6W">CORNMI Power Bank 20000mAh Portable Charger Battery Pack USB Charger Bank High Capacity External Battery Compatible with iPhone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">50NXKEXV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $32.99</strong> with promo code: <strong class="m_codes">50NXKEXV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JNDF6W">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="15.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDr0pg"><img src="https://m.media-amazon.com/images/I/616IzF1q3LL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>257 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDr0pg">Laptop Backpack, Business Computer Bag Waterproof Travel Backpack College School Backpack for Men Women with USB Charging Port...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.39</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">45OLRFVP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $27.99</strong> with promo code: <strong class="m_codes">45OLRFVP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LDr0pg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JYTQx3"><img src="https://m.media-amazon.com/images/I/51c6cO8CNmL._SR400,400_.jpg" alt="MAKHISTORY Plastic 8-Tab Binde" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>27 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JYTQx3">MAKHISTORY Plastic 8-Tab Binder Dividers with Two Pockets - 3 Sets, Insertable Tab Dividers for 3-Ring Binder, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">5087QHPC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.99</strong> with promo code: <strong class="m_codes">5087QHPC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JYTQx3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YejpiE"><img src="https://m.media-amazon.com/images/I/81BYzch7FoL._SR400,400_.jpg" alt="100% Cotton Crew Neck T-Shirt" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>63 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YejpiE">CYZ Men's 3-PK 100% Cotton Crew Neck T-Shirt Undershirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50COTTONSHRT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50COTTONSHRT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YejpiE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JYS6DZ"><img src="https://m.media-amazon.com/images/I/71sslz6HUZL._SR400,400_.jpg" alt="Fitpolo Fitness Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>65 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JYS6DZ">Fitpolo Fitness Tracker, Health Smart Watch Heart Rate Monitor, Waterproof Activity Tracker with Sleep Monitor,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.5</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">50W9Y63U</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $34.99</strong> with promo code: <strong class="m_codes">50W9Y63U</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JYS6DZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDtaVP"><img src="https://m.media-amazon.com/images/I/81SEDt46z8L._SR400,400_.jpg" alt="Fashion Shower Curtain" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDtaVP">MYSKY HOME - Fashion Shower Curtain - Pink Rose Flower and Lovely Woman Digital Print Pattern Curtain for Bathroom...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">80IQADZE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $19.99</strong> with promo code: <strong class="m_codes">80IQADZE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LDtaVP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="15.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JY10BW"><img src="https://m.media-amazon.com/images/I/71-+qbbcxiL._SR400,400_.jpg" alt="VEHHE Dog Car Seat Covers Pet Seat" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JY10BW">VEHHE Dog Car Seat Covers Pet Seat Cover Hammock for Back Seat - 100% Waterproof Scratch Proof Nonslip Backing Washble...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.20</span><span class="ori_price">$37.99</span></address>
      <textarea readonly="readonly" class="code_area">60LERPFG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $37.99</strong> with promo code: <strong class="m_codes">60LERPFG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JY10BW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="14.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LE7pVX"><img src="https://m.media-amazon.com/images/I/61BZotFnBvL._SR400,400_.jpg" alt="HKR Womens Slip On Fashion Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LE7pVX">HKR Womens Slip On Fashion Sneakers Summer Breathable Mesh Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.80</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">601CTEV9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $36.99</strong> with promo code: <strong class="m_codes">601CTEV9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LE7pVX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="29.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDvjAO"><img src="https://m.media-amazon.com/images/I/81wppbEr2CL._SR400,400_.jpg" alt="Braun MGK3040 7-in-1 All-in-One Beard Trimmer " /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>643 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDvjAO">Braun MGK3040 7-in-1 All-in-One Beard Trimmer for Men, Cordless Hair Clipper, Black/Blue, with 5 Attachments and Gillette Body Razor</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.70</span><span class="ori_price">$34.94</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">15OFFBRAUN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $34.94</strong> with promo code: <strong class="m_codes">15OFFBRAUN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LDvjAO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="6.72">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://m.media-amazon.com/images/I/71U3AYg59cL._SR400,400_.jpg" alt="LEYOSOV Springform, Non-Stick Cake Pan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">LEYOSOV Springform, Non-Stick Cake Pan, 7Inch, Fits 6Qt Instant Pot</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.72</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">72H3XY5P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>72% off at $23.99</strong> with promo code: <strong class="m_codes">72H3XY5P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="53.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K3MYyJ"><img src="https://m.media-amazon.com/images/I/51fgpFJqLgL._SR400,400_.jpg" alt="ZonLi Premium Weighted Blanket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,148 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K3MYyJ">ZonLi Premium Weighted Blanket 20lbs(60''x80'', Queen Size), Cooling Weighted Blanket for Adults 180-220 lbs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$53.94</span><span class="ori_price">$89.90</span></address>
      <textarea readonly="readonly" class="code_area">40RMS79J</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $89.90</strong> with promo code: <strong class="m_codes">40RMS79J</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2K3MYyJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="3.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LD4SeM"><img src="https://m.media-amazon.com/images/I/61ctEDd2tIL._SR400,400_.jpg" alt="ALICROWN False Eyelashes Natural Lashes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>47 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LD4SeM">ALICROWN False Eyelashes Natural Lashes BLUE (5 Pairs) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.00</span><span class="ori_price">$9.58</span></address>
      <textarea readonly="readonly" class="code_area">60U1I2LO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $9.58</strong> with promo code: <strong class="m_codes">60U1I2LO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LD4SeM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y7YoGw"><img src="https://m.media-amazon.com/images/I/51XOomyh2SL._SR400,400_.jpg" alt="Livho Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>170 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y7YoGw">Livho Blue Light Blocking Glasses Filter UV Glare Retro Round Ultra Lightweight Computer Game Glasses...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.98</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50OFFJSS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.98</strong> with promo code: <strong class="m_codes">50OFFJSS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 07:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Y7YoGw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="6.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SwHzDS"><img src="https://m.media-amazon.com/images/I/71ilW910BpL._SR400,400_.jpg" alt="Pantene, Rescue Shots Hair Ampoules Treatment" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>323 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SwHzDS">Pantene, Rescue Shots Hair Ampoules Treatment, Intensive Repair of Damaged Hair, Pro-V, 0.5 fl oz (3 Count), Twin Pack </a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.96</span><span class="ori_price">$9.94</span></address>
      <textarea readonly="readonly" class="code_area">30PNTSHOTS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $9.94</strong> with promo code: <strong class="m_codes">30PNTSHOTS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SwHzDS">Use Code at Amazon</a></div>
</div>
