<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jm8MFk"><img src="https://m.media-amazon.com/images/I/61QlFURDodL._SR400,400_.jpg" alt="AINOPE Bluetooth FM Transmitter for Car," /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>159 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jm8MFk">AINOPE Bluetooth FM Transmitter for Car, Upgrade V4.2 Car Radio Bluetooth Adapter with QC3.0 & 2.4A Fast Charging,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $19.99</strong> with promo code: <strong>60ZHHRPT</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jm8MFk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XjFJqU"><img src="https://m.media-amazon.com/images/I/616fJfD8JRL._SR400,400_.jpg" alt="Running, Exercise Workout Armband Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>549 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XjFJqU">Running, Exercise Workout Armband Case - Compatible with Galaxy S10+, iPhone Xs Max, iPhone 8 7 6 Plus, Pixel 3 Phones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.59</span><span class="ori_price">$10.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $10.99</strong> with promo code: <strong>40RTSQS3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XjFJqU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/308zHes"><img src="https://m.media-amazon.com/images/I/61VvCUewQgL._SR400,400_.jpg" alt="mittaGonG Reading Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>427 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/308zHes">mittaGonG Reading Pillow - Large Design - Shredded Foam Backrest Pillow with Arms & Removable Velvet Cover...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>40% off at $39.99</strong> with promo code: <strong>401GKVIO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/308zHes">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FRRL4N"><img src="https://m.media-amazon.com/images/I/6153UjrP7aL._SR400,400_.jpg" alt="Pahajim Women Leather Top Handle Handbags" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>51 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FRRL4N">Pahajim Women Leather Top Handle Handbags Satchel Purse Shoulder Bag Lady Tote BagPahajim Women Leather Top Handle Handbags Satchel Purse...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.40</span><span class="ori_price">$24.00</span></address>
      <p><span>Take <strong>40% off at $24.00</strong> with promo code: <strong>40IQ5KZI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FRRL4N">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JcuSv7"><img src="https://m.media-amazon.com/images/I/61NZaqTVQUL._SR400,400_.jpg" alt="LOMVUM Compact Reciprocating Saw" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JcuSv7">LOMVUM Compact Reciprocating Saw 850W Non-Slip Rubber grip, Variable Speed Trigger with 0-2800 SPM, 2 Blades...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>50% off at $59.99</strong> with promo code: <strong>50VQ81SU</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JcuSv7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="11.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jbnr7l"><img src="https://m.media-amazon.com/images/I/613pWXE3sSL._SR400,400_.jpg" alt="Rechargeable AA Battery Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>124 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jbnr7l">TENAVOLTS Rechargeable AA Battery Charger with 4 Counts Lithium 2775 mWh AA Rechargeable Batteries</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.90</span><span class="ori_price">$34.99</span></address>
      <p><span>Take <strong>66% off at $34.99</strong> with promo code: <strong>66CWKER1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jbnr7l">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XruL7L"><img src="https://images-na.ssl-images-amazon.com/images/I/61sHy04bhdL._SX522_.jpg" alt="Projector Paick Video Projector" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XruL7L">Projector Paick Video Projector Support 1080P HD 180" Big Screen Upgraded +60% Brighter Home Cinema Portable Projector...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.99</span><span class="ori_price">$99.99</span></address>
      <p><span>Take <strong>50% off at $99.99</strong> with promo code: <strong>55L3HQE9</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XruL7L">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="10.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30euWAi"><img src="https://m.media-amazon.com/images/I/51wLYiYZAaL._SR400,400_.jpg" alt="YoYoFit Desire Fitness Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30euWAi">YoYoFit Desire Fitness Tracker, Heart Rate Monitor Activity Tracker with Connected GPS Tracker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.50</span><span class="ori_price">$34.99</span></address>
      <p><span>Take <strong>70% off at $34.99</strong> with promo code: <strong>70HKTIVI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30euWAi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XlwLOC"><img src="https://m.media-amazon.com/images/I/51xIYxzKktL._SR400,400_.jpg" alt="Stainless Steel Insulated Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>121 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XlwLOC">Stainless Steel Insulated Water Bottle - Wide Mouth Leak Proof Vacuum Outdoors Coffee Mug...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <p><span>Take <strong>50% off at $11.99</strong> with promo code: <strong>50HF2DBI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XlwLOC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xsrd5A"><img src="https://m.media-amazon.com/images/I/61i04Ib+4BL._SR400,400_.jpg" alt="Active Noise Cancelling Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>271 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xsrd5A">Active Noise Cancelling Bluetooth Headphones, Ausdom ANC8 Over Ear Wireless Headphones Wired Headsets with Microphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>50% off at $59.99</strong> with promo code: <strong>50J9BRCW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xsrd5A">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="67.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XlsgyU"><img src="https://m.media-amazon.com/images/I/61GNFmHDMCL._SR400,400_.jpg" alt="Trekpow G22 Car Jump Starter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>207 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XlsgyU">Trekpow G22 Car Jump Starter Pack-1500A Peak 12V Auto Battery Booster Box(Up to 8.0L Gasoline/6.5L Diesel Engine) with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$67.97</span><span class="ori_price">$79.97</span>
         <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
         <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $79.97</strong> with promo code: <strong>15T4I5KV</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XlsgyU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="44.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FRTt6d"><img src="https://m.media-amazon.com/images/I/71BLpolygWL._SR400,400_.jpg" alt="Redragon K582-BA Wired Mechanical Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>108 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FRTt6d">Redragon K582-BA Wired Mechanical Gaming Keyboard & M711 Cobra Gaming Mouse Combo, 10,000DPI, 7 Programmable Buttons,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.09</span><span class="ori_price">$62.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>30% off at $62.99</strong> with promo code: <strong>30K582BA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FRTt6d">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XkoxS1"><img src="https://m.media-amazon.com/images/I/51p+0i5PdGL._SR400,400_.jpg" alt="Kitchen Faucet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XkoxS1">AmazeFan Single Handle High Arc Brushed Nickel Pull out Kitchen Faucet, Single Level Stainless Steel Kitchen Sink Faucets with Pull down Sprayer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.99</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>40% off at $59.99</strong> with promo code: <strong>40FRZEXX</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XkoxS1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="143.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JAZN3l"><img src="https://m.media-amazon.com/images/I/71F1GqF-seL._SR400,400_.jpg" alt="PINSOON Air Fryer Oven 10 QT" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>75 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JAZN3l">PINSOON Air Fryer Oven 10 QT with 31 Recipes, 360 degree Of Super-Heated Cyclonic Air, 8 Cooking Presets and 11 Accessories,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$143.99</span><span class="ori_price">$159.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>10% off at $159.99</strong> with promo code: <strong>107PF5O6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 12:01 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JAZN3l">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="77" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jevbpn"><img src="https://m.media-amazon.com/images/I/41qOVmARj8L._SR400,400_.jpg" alt="Eye Cream Gel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>95 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>77% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jevbpn">Eye Cream Gel - Top Influencer - Organic & Vegan - Luxury Quality for Dark Circles, Puffiness, Wrinkles Crow's Feet & Bags...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$19.57</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>77% off at $19.57</strong> with promo code: <strong>77NBIZHI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jevbpn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="16.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xwx7m9"><img src="https://m.media-amazon.com/images/I/61q45h8wMfL._SR400,400_.jpg" alt="BESTEK 8-Outlet Surge Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>410 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xwx7m9">BESTEK 8-Outlet Surge Protector Power Strip with 4 USB Charging Ports and 6-Foot Heavy Duty Extension Cord, 600 Joule, ETL Listed</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.58</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>21% off at $20.99</strong> with promo code: <strong>21NRHYZ3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xwx7m9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RSBm4W"><img src="https://m.media-amazon.com/images/I/61HghOGxIfL._SR400,400_.jpg" alt="INDAILY Cotton Weighted Blanket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>59 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RSBm4W">INDAILY Cotton Weighted Blanket for Adults Kids with Glass Beads Warm Weighted Comforter (48"x72", 15lbs)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$75.00</span></address>
      <p><span>Take <strong>60% off at $75.00</strong> with promo code: <strong>60U8IJYD</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RSBm4W">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30bmhOJ"><img src="https://m.media-amazon.com/images/I/61Qf3eRRACL._SR400,400_.jpg" alt="Classic Men Sunglasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30bmhOJ">Classic Men Sunglasses for Aviator PARZIN Women Vintage Mirrored Beach Glasses UV Protection</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.25</span><span class="ori_price">$12.49</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $12.49</strong> with promo code: <strong>50MISCEC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30bmhOJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KY7iUR"><img src="https://m.media-amazon.com/images/I/61HU0DTAr9L._SR400,400_.jpg" alt="Mini Phone Pouch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KY7iUR">LKZAIY PU Leather Crossbody Bag Mini Phone Pouch with Shoulder Strap for iPhone 8,8 Plus,8 X, 7 Plus, 6S Plus, 6 Plus, 7, 6S,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.59</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>40% off at $10.99</strong> with promo code: <strong>40O32VRZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KY7iUR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2S2eMHn"><img src="https://m.media-amazon.com/images/I/71BmW8W184L._SR400,400_.jpg" alt="KITOOLBASE Pressure Cooker Accessories" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>54 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2S2eMHn">KITOOLBASE Pressure Cooker Accessories compatible with Instant Pot 8 Quart 6 Qt 6QT/8QT, including Steamer Basket Springform Pan Egg Trivet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.98</span></address>
      <p><span>Take <strong>50% off at $29.98</strong> with promo code: <strong>50SLDYKG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2S2eMHn">Use Code at Amazon</a></div>
</div>
