<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="80" data-price="3.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxEYug"><img src="https://m.media-amazon.com/images/I/71qmlnEv8xL._SR400,400_.jpg" alt="iPad Pro 11 inch 2018 Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxEYug">iPad Pro 11 inch 2018 Case, Soweiek Premium Leather Protective Stand Smart Cover Auto Wake/Sleep...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.00</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>80% off at $14.99</strong> with promo code: <strong>809RT87I</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxEYug">Use Code at Amazon</a>
  <p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="60" data-price="4.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JhDnVw"><img src="https://m.media-amazon.com/images/I/51Cy69EHJeL._SR400,400_.jpg" alt="Atizzy Phone Chargers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>151 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JhDnVw">Atizzy Phone Chargers, Durable Fast Charging Cable Phone Cord High Speed Connector Data Sync Transfer Cord...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.38</span><span class="ori_price">$10.95</span></address>
      <p><span>Take <strong>60% off at $10.95</strong> with promo code: <strong>60L5MQHA</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JhDnVw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xy3vnW"><img src="https://m.media-amazon.com/images/I/61iX1AQQyCL._SR400,400_.jpg" alt="Car Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xy3vnW">Car Phone Mount, Wonsidary Gravity Air Vent Phone Holder for Car Auto Clamping Adjustable with Hands Free,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>70% off at $23.99</strong> with promo code: <strong>70KVRH2S</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xy3vnW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FYK8ts"><img src="https://m.media-amazon.com/images/I/71QdzNp9drL._SR400,400_.jpg" alt="SEEHONOR Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>261 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FYK8ts">SEEHONOR Laptop Backpack, Slim Business Computer Backpack with USB Charging Cable and Port, Water Resistant...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.19</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>40% off at $21.99</strong> with promo code: <strong>407E74IE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FYK8ts">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RZYKNY"><img src="https://m.media-amazon.com/images/I/61lnB-OgyyL._SR400,400_.jpg" alt="TENMOS X96 Wireless Rechargeable Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>203 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RZYKNY">TENMOS X96 Wireless Rechargeable Gaming Mouse USB Optical LED Silent Computer Mouse Compatible with Laptop/PC/Notebook,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>60% off at $14.99</strong> with promo code: <strong>60F8CRG7</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RZYKNY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RZZ67g"><img src="https://m.media-amazon.com/images/I/616C3MMFE1L._SR400,400_.jpg" alt="Livho Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RZZ67g">[2 in 1 Set] Livho Blue Light Blocking Glasses with Magnetic Polarized Sunglasses Clip on Eyeglasses for Women Men (Black Frame + Black Lens)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$19.98</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>55% off at $19.98</strong> with promo code: <strong>55OFFLI018</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RZZ67g">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JtYFyk"><img src="https://m.media-amazon.com/images/I/51-W0g2mwlL._SR400,400_.jpg" alt="Livho Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>67 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JtYFyk">Livho Blue Light Blocking Glasses Filter Blue Ray Computer Game Glasses for Women Men Square Eyeglasses TR90 Frame...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.19</span><span class="ori_price">$15.98</span></address>
      <p><span>Take <strong>55% off at $15.98</strong> with promo code: <strong>55OFFFPX</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 03:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JtYFyk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="22.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JtYK56"><img src="https://m.media-amazon.com/images/I/71sHz6fqk7L._SR400,400_.jpg" alt="1Mii Long Range Bluetooth Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JtYK56">1Mii Long Range Bluetooth Speaker Wireless Speaker, Portable Speaker with Music Mode&Vocal Mode, 10W 360⁰ Music Speakers,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.00</span><span class="ori_price">$54.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $54.99</strong> with promo code: <strong>60VI9U64</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JtYK56">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxmXMT"><img src="https://m.media-amazon.com/images/I/71-pvbLI1ZL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxmXMT">Bluetooth Headphones/Sports Sweatproof Wireless Headphones/Neckband Headset/Digital Noise Cancellation Earphone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>50OUUYJW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxmXMT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30iMBXg"><img src="https://m.media-amazon.com/images/I/61gXnGskenL._SR400,400_.jpg" alt="Kitchen Sink Faucets" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>62 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30iMBXg">GOOAO Kitchen Faucet Bathroom Sink Faucet Stainless Steel Kitchen Sink Faucets with Pull Down Sprayer Single-Handle</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$39.98</span></address>
      <p><span>Take <strong>50% off at $39.98</strong> with promo code: <strong>50M2TKXX</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30iMBXg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="134.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHvkmO"><img src="https://m.media-amazon.com/images/I/61lrM9haisL._SR400,400_.jpg" alt="Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,163 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHvkmO">Oral-B Genius Pro 8000 Electronic Power Rechargeable Battery Electric Toothbrush with Bluetooth Connectivity, Amazon Dash Replenishment Enabled </a></p>
    <div class="code_high">
      <address><span class="dis_price">$134.99</span><span class="ori_price">$149.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>10% off at $149.99</strong> with promo code: <strong>15ORALB8000B</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHvkmO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="16.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzYU10"><img src="https://m.media-amazon.com/images/I/71tfWp1UNdL._SR400,400_.jpg" alt="Oral-B Glide Pro-Health Dental Floss" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>220 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzYU10">Oral-B Glide Pro-Health Dental Floss, Original Floss, 50m, Pack of 6</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.47</span><span class="ori_price">$19.47</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>15% off at $19.47</strong> with promo code: <strong>3ORALBGLIDE</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YzYU10">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="15.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JrYfZm"><img src="https://m.media-amazon.com/images/I/91ZpzOLHuDL._SR400,400_.jpg" alt="Crest Pro-Health Gum and Sensitivity" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JrYfZm">Crest Pro-Health Gum and Sensitivity, Sensitive Toothpaste, All-Day Protection, (Pack of 3), 4.1 oz</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.19</span><span class="ori_price">$18.19</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>16% off at $18.19</strong> with promo code: <strong>3CRESTGUMTP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JrYfZm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JsCMPP"><img src="https://m.media-amazon.com/images/I/51QSaUOkNqL._SR400,400_.jpg" alt="Jinri 1875W Professional Salon Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>136 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JsCMPP">Jinri 1875W Professional Salon Hair Dryer for Faster Drying, Negative Ion Hair Blow Dryer with 2 Speed and 3 Heat Setting Ceramic Hair Dryer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.00</span><span class="ori_price">$69.99</span></address>
      <p><span>Take <strong>70% off at $69.99</strong> with promo code: <strong>70OL8M8R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JsCMPP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ju0QSw"><img src="https://m.media-amazon.com/images/I/617w522vouL._SR400,400_.jpg" alt="BTS Hoodie" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>145 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ju0QSw">CHAIRAY BTS New Album Love Yourself Her Sweatshirt Jimin Jungkook Suga V Hoodie Sweater</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>50% off at $19.99</strong> with promo code: <strong>50W3FEBM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ju0QSw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FVq7UA"><img src="https://m.media-amazon.com/images/I/61kSU6it1sL._SR400,400_.jpg" alt="Women Long Sleeve Cotton Daily Loose T-Shirt Dress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FVq7UA">Women Long Sleeve Cotton Daily Loose T-Shirt Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$7.99</span></address>
      <p><span>Take <strong>50% off at $7.99</strong> with promo code: <strong>501CB5ZP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FVq7UA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="151.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JjGxs0"><img src="https://m.media-amazon.com/images/I/61S7xbXIdFL._SR400,400_.jpg" alt="PONER SAUND HD Projector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JjGxs0">PONER SAUND HD Projector, M5 3800 Lumens Home Theater Projector with 50000 hrs LED Lamp Life, Outdoor Movie Projector...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$151.99</span><span class="ori_price">$189.99</span></address>
      <p><span>Take <strong>20% off at $189.99</strong> with promo code: <strong>20LRX1QC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JjGxs0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JvoXjs"><img src="https://m.media-amazon.com/images/I/51dIL+8yWQL._SR400,400_.jpg" alt="Goldblatt 7-inch Multi-use Diagonal Plier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>145 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JvoXjs">Goldblatt 7-inch Multi-use Diagonal Plier</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>50% off at $18.99</strong> with promo code: <strong>501C84YW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JvoXjs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LGIro6"><img src="https://m.media-amazon.com/images/I/61mG6jxUnuL._SR400,400_.jpg" alt="30% Vitamin C Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>116 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LGIro6">30% Vitamin C Serum with Hyaluronic Acid & VE for Face,Neck and Eye Treatment Serums | Anti-Aging, Anti-Wrinkle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $14.99</strong> with promo code: <strong>40C3ZHJ1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LGIro6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEhT6Y"><img src="https://m.media-amazon.com/images/I/71-DqvKjRBL._SR400,400_.jpg" alt="LasGame Galaxy Note9 Screen Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>834 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEhT6Y">LasGame Galaxy Note9 Screen Protector, [2 Pack] 9H Hardness Anti-Scratch Full Coverage Tempered Glass Screen Protector...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.98</span></address>
      <p><span>Take <strong>40% off at $12.98</strong> with promo code: <strong>40I8Z8HO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LEhT6Y">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEUv9u"><img src="https://m.media-amazon.com/images/I/51gMXPgjjbL._SR400,400_.jpg" alt="High Low Cocktail Skater Dress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEUv9u">Halife Womens Scoop Neck Short Sleeve High Low Cocktail Skater Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>60% off at $24.99</strong> with promo code: <strong>60MTFU6T</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LEUv9u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="36.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YCF7y3"><img src="https://m.media-amazon.com/images/I/61YOXxikiyL._SR400,400_.jpg" alt="Ultrasonic Humidifier" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YCF7y3">Ultrasonic Humidifier, Greenclick 300ml Ceramic Essential Oil Diffuser with Remote, Auto Shut-Off, Whisper-Quiet, 24 Hours Operating Time,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.49</span><span class="ori_price">$72.99</span></address>
      <p><span>Take <strong>50% off at $72.99</strong> with promo code: <strong>502UW1LR</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YCF7y3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="8.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHUAcD"><img src="https://m.media-amazon.com/images/I/616xYFPeVtL._SR400,400_.jpg" alt="Sweetaluna High Waist Yoga Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHUAcD">Sweetaluna High Waist Yoga Pants Stretch Workout Leggings for Women Tummy Control Ultra Soft with 2-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.33</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>51% off at $16.99</strong> with promo code: <strong>51V2A9BJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHUAcD">Use Code at Amazon</a></div>
</div>
