<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="28" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XhnreS"><img src="https://images-na.ssl-images-amazon.com/images/I/71rt%2BiBqIJL._SX522_.jpg" alt="HIEIE Sonic Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XhnreS">HIEIE Sonic Electric Toothbrush, USB Rechargeable Toothbrush Travel with 2 Replacement Heads, 5 Brushing Modes with 2 Minutes Timer, IPX7...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.79</span><span class="ori_price">$32.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XhnreS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCO6SI"><img src="https://images-na.ssl-images-amazon.com/images/I/81jSdVMN%2BVL._SX522_.jpg" alt="Extra Strong Finger & Toenail Fungus Treatment" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>115 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XCO6SI">Extra Strong Finger & Toenail Fungus Treatment| Organic & USA Made Nail Fungus Treat-Ment| Cure Athlete's Foot & Infected Nails with Our Fungus Treatment...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.97</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XCO6SI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="32.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FG9Nag"><img src="https://images-na.ssl-images-amazon.com/images/I/51qturPr-GL._SX569_.jpg" alt="GRC True Wireless Bluetooth Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>104 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FG9Nag">GRC True Wireless Bluetooth Earbuds in-Ear Stereo Bluetooth 5.0 Headphones Wireless Earphones, 42H Playtime 3D Stereo Sound Wireless Headphones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.00</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FG9Nag">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="25" data-price="15.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/303aB0H"><img src="https://images-na.ssl-images-amazon.com/images/I/61yVQ6MzF3L._AC_SR300,300_.jpg" alt="AUVON Plug-in LED Motion Sensor Night Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>65 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/303aB0H">AUVON Plug-in LED Motion Sensor Night Light, Mini Warm White LED Nightlight with Dusk to Dawn Sensor, Motion Sensor, Adjustable Brightness for Bedroom,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.29</span><span class="ori_price">$19.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/303aB0H">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="90" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZ9OIj"><img src="https://images-na.ssl-images-amazon.com/images/I/91OCs0LzJhL._UY741_.jpg" alt="Invicta Men's Speedway Quartz Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>90% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZ9OIj">Invicta Men's Speedway Quartz Watch with Stainless-Steel Strap, Silver, 22 (Model: 24209)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$595.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZ9OIj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ja1tAs"><img src="https://images-na.ssl-images-amazon.com/images/I/518rI13bFzL._SX522_.jpg" alt="Electric Fly Swatter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>325 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ja1tAs">DynaZap Insect Zapper Electric Fly Swatter, Extendable</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ja1tAs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="26.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZcVQu"><img src="https://images-na.ssl-images-amazon.com/images/I/81mPgPHjsjL._SX679_.jpg" alt="Floating Chair for Pool" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>181 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZcVQu">SwimWays Spring Float SunSeat Floating Chair for Pool, Beach, and Lake</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.18</span><span class="ori_price">$43.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZcVQu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FHoCJJ"><img src="https://images-na.ssl-images-amazon.com/images/I/81zJ6O8wPxL._SX522_.jpg" alt="HP ENVY 5055 Wireless All-in-One Photo Printer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,036 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FHoCJJ">HP ENVY 5055 Wireless All-in-One Photo Printer, HP Instant Ink & Amazon Dash Replenishment ready (M2U85A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$119.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FHoCJJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="18.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XiMVbq"><img src="https://images-na.ssl-images-amazon.com/images/I/810p4fIuvOL._SX522_.jpg" alt="ZAGG InvisibleShield HDX Screen Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,121 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XiMVbq">ZAGG InvisibleShield HDX Screen Protector - HD Clarity + Extreme Shatter Protection for Apple iPad Pro 9.7 / iPad Air 2 / iPad Air</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.90</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XiMVbq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZTiYH"><img src="https://images-na.ssl-images-amazon.com/images/I/71uBOxSkz%2BL._SX522_.jpg" alt="Security Gooseneck Clamp Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZTiYH">CTA Digital PAD-HGTS Heavy-Duty Security Gooseneck Clamp Stand for 7-14 Inch Tablets// 12.9-Inch iPad Pro/ 9.7/ iPad Mini/Galaxy Tab S4 9.7"/ More</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.98</span><span class="ori_price">$100.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZTiYH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="24.68">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XfienD"><img src="https://images-na.ssl-images-amazon.com/images/I/3116t87lL8L.jpg" alt="Chamberlain Group Clicker Universal Keyless Entry" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,530 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XfienD">Chamberlain Group Clicker Universal Keyless Entry KLIK2U-P2, Works with Chamberlain, LiftMaster, Craftsman, Genie and More, Security +2.0 ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.68</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XfienD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XflRKs"><img src="https://images-na.ssl-images-amazon.com/images/I/719nmO2jIGL._SX679_.jpg" alt="SMART CAREGIVER Motion Sensor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>549 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XflRKs">SMART CAREGIVER TL-5102MP Motion Sensor And Pager</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.90</span><span class="ori_price">$49.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XflRKs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="59.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J0g1nn"><img src="https://images-na.ssl-images-amazon.com/images/I/41qbDGiip%2BL.jpg" alt="Veho Muvi HD10X Micro Camcorder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,316 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J0g1nn">Veho Muvi HD10X Micro Camcorder | HD | Handsfree | Body Worn | Action Camera | 8GB microSD Card | 1080p30 - Black (VCC-003-MUVI-1080)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.95</span><span class="ori_price">$149.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J0g1nn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZYnYPr"><img src="https://images-na.ssl-images-amazon.com/images/I/71-QxV00VBL._SX522_.jpg" alt="Seat Cushion Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>566 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZYnYPr">Seat Cushion Pillow for Office Chair - 100% Memory Foam - Firm Coccyx Pad - for People 150-220lb - Tailbone, Sciatica, Lower Back Pain Relief...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.99</span><span class="ori_price">$32.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZYnYPr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="34.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NjO8uH"><img src="https://images-na.ssl-images-amazon.com/images/I/71luZoEwwNL._SX425_.jpg" alt="Large Seat Cushion" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,629 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NjO8uH">Large Seat Cushion with Carry Handle and Anti Slip Bottom Gives Relief from Back Pain</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.97</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NjO8uH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="26.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZuuQA"><img src="https://images-na.ssl-images-amazon.com/images/I/915Rv2ctWaL._UX679_.jpg" alt="Levi's Men's L Pack Backpack" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZuuQA">Levi's Men's L Pack Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.85</span><span class="ori_price">$55.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZuuQA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="14.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XhECN5"><img src="https://images-na.ssl-images-amazon.com/images/I/51Vkh4kfheL._SX522_.jpg" alt="American Weigh Scales" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>232 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XhECN5">American Weigh Scales AMW-LS-110 Digital Luggage Scale 110 by 0.2 LB</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.55</span><span class="ori_price">$32.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XhECN5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmDic8"><img src="https://images-na.ssl-images-amazon.com/images/I/71uQWuQVdLL._SX522_.jpg" alt="UBeesize Tripod S" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,806 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmDic8">UBeesize Tripod S, Premium Phone Tripod, Flexible Tripod with Wireless Remote Shutter, Compatible with iPhone/Android Samsung, Mini Tripod Stand Holder for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XmDic8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="15.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nnd9oE"><img src="https://images-na.ssl-images-amazon.com/images/I/61TpUy26yBL._SX522_.jpg" alt="Bike Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>129 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nnd9oE">Bike Phone Mount, Bicycle Cell Phone Holder,Universal Motorcycle Handlebar Rack With Rotation Adjustable Anti Shake Silicone BANDS Cycling ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.90</span><span class="ori_price">$19.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nnd9oE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XiOkPe"><img src="https://images-na.ssl-images-amazon.com/images/I/512Qx9ljLzL._SX679_.jpg" alt="PopSockets" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>494 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XiOkPe">PopSockets: Vent Mount for All PopSockets Grips</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XiOkPe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FJEvz4"><img src="https://images-na.ssl-images-amazon.com/images/I/713X33cfYrL._SX679_.jpg" alt="Cyclone Laptop Cooling Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FJEvz4">Cyclone Laptop Cooling Pad – 5 Fans Cooler – No More Overheating – Increase Your PC Performance and Life Expectancy – Ventilated Support for Laptop...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.90</span><span class="ori_price">$49.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FJEvz4">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="33" data-price="25.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NkE04Q"><img src="https://images-na.ssl-images-amazon.com/images/I/61o%2BCR1u9fL._SX679_.jpg" alt="Cool Laptop Cooler Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>71 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NkE04Q">Cool Laptop Cooler Fan - Innovative Portable Cooling Design with Display - External Gaming Cooler - High Performance Ventilation - USB Connection - ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.90</span><span class="ori_price">$38.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NkE04Q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XhpMXc"><img src="https://images-na.ssl-images-amazon.com/images/I/61QYUmiuirL._SX679_.jpg" alt="Conair Extreme Steam Hand Held Fabric Steamer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,503 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XhpMXc">Conair Extreme Steam Hand Held Fabric Steamer with Dual Heat; White / Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XhpMXc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xfks6t"><img src="https://images-na.ssl-images-amazon.com/images/I/81lfnLH9ARL._SX679_.jpg" alt="Steamfast SF-717 Mini Steam Iron" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,937 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xfks6t">Steamfast SF-717 Mini Steam Iron with Dual Voltage Travel Bag, Non-Stick Soleplate, Anti-Slip Handle, Rapid Heating, 420W Power, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xfks6t">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCGr6W"><img src="https://images-na.ssl-images-amazon.com/images/I/71oXLhqlAKL._SX679_.jpg" alt="iSteam Steamer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,015 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XCGr6W">iSteam Steamer for Clothes Powerful Handheld Portable Steam Iron. 7 Tasks-in-1: Garment Ironing. Steam Cleaner. Sanitize. Refresh. Treat and More...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XCGr6W">Shop Now at Amazon</a></div>
</div>


