<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->

<div class="card clearfix" data-score="68" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SqAeG0"><img src="https://images-na.ssl-images-amazon.com/images/I/61KBtaWa%2B-L._SX522_.jpg" alt="Inflatable Water Float" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,587 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SqAeG0">Intex River Run I Sport Lounge, Inflatable Water Float, 53" Diameter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.49</span><span class="ori_price">$41.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="59.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSf1Rw"><img src="https://images-na.ssl-images-amazon.com/images/I/61-19yIearL._SX522_.jpg" alt="Gucci for Men Eau de Toilette Spray" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSf1Rw">Gucci for Men Eau de Toilette Spray, 3 Ounce</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.85</span><span class="ori_price">$88.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JSf1Rw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="49.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ssp6bx"><img src="https://images-na.ssl-images-amazon.com/images/I/419sqIP6KuL.jpg" alt="Gucci Guilty Intense Eau De Toilette Spray for Men" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>279 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ssp6bx">Gucci Guilty Intense Eau De Toilette Spray for Men, 3 Ounce </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.91</span><span class="ori_price">$79.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ssp6bx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="114.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y1RyT2"><img src="https://images-na.ssl-images-amazon.com/images/I/81SbCUR1U%2BL._SX522_.jpg" alt="Armen Living LCSUCHWAGR Summer Chair" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>62 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y1RyT2">Armen Living LCSUCHWAGR Summer Chair in Green Fabric and Walnut Wood Finish</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$114.99</span><span class="ori_price">$237.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y1RyT2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="17.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTFLkG"><img src="https://images-na.ssl-images-amazon.com/images/I/61KGSwSGfSL._SX679_.jpg" alt="Adtech Pro80 Hot Glue Gun" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>117 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTFLkG">Adtech Pro80 Hot Glue Gun</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.30</span><span class="ori_price">$34.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JTFLkG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SCUgNP"><img src="https://images-na.ssl-images-amazon.com/images/I/81p4dNcDW6L._SX522_.jpg" alt="Beard Trimmer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>367 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SCUgNP">Remington XR1410 Verso Wet & Dry Men's Shaver & Trimmer Grooming Kit, Men's Electric Razor, Facial Cleaning Brush, Beard Trimmer </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$84.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SCUgNP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="33.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32CEc3b"><img src="https://images-na.ssl-images-amazon.com/images/I/71PMBr0QDbL._SY679_.jpg" alt="Edwin Jagger Best Badger Shaving Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>384 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32CEc3b">Edwin Jagger Best Badger Shaving Brush with Drip Stand, Imitation Ebony, Medium</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.02</span><span class="ori_price">$58.12</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32CEc3b">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="119.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SuF5WK"><img src="https://images-na.ssl-images-amazon.com/images/I/71J0xoNTLvL._UX679_.jpg" alt="Kipling Sanaa Large Jaded Green Wheeled Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SuF5WK">Kipling Sanaa Large Jaded Green Wheeled Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.40</span><span class="ori_price">$199.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SuF5WK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LxNdVA"><img src="https://images-na.ssl-images-amazon.com/images/I/A1uSCF0kIbL._UX569_.jpg" alt="Tommy Hilfiger Bag for Women Canvas Item Tote" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>100 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LxNdVA">Tommy Hilfiger Bag for Women Canvas Item Tote</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.99</span><span class="ori_price">$98.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LxNdVA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="72.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YfmBPq"><img src="https://images-na.ssl-images-amazon.com/images/I/913L%2Bb23mAL._UY741_.jpg" alt="Calvin Klein Backpack" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YfmBPq">Calvin Klein Belfast Nylon Key Item Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$72.72</span><span class="ori_price">$158.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YfmBPq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="89.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YdFVwd"><img src="https://images-na.ssl-images-amazon.com/images/I/81VJlq-l37L._SX522_.jpg" alt="TAO Clean Sonic Makeup Brush Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YdFVwd">TAO Clean Sonic Makeup Brush Cleaner </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.00</span><span class="ori_price">$149.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YdFVwd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O3W0AH"><img src="https://images-na.ssl-images-amazon.com/images/I/71GZiCyddvL._SX522_.jpg" alt="Etekcity Food Digital Kitchen Weight Scale" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9,832 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O3W0AH">Etekcity Food Digital Kitchen Weight Scale Grams and Ounces, Small, Backlit, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.59</span><span class="ori_price">$18.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2O3W0AH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LxOyfc"><img src="https://images-na.ssl-images-amazon.com/images/I/517fXkvwdZL._SX522_.jpg" alt="Double Wall Vacuum Insulated Tumbler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5,362 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LxOyfc">RTIC (191) Double Wall Vacuum Insulated Tumbler, 30 oz, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$13.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LxOyfc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="29.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32F4AsW"><img src="https://images-na.ssl-images-amazon.com/images/I/717OFg6p8EL._SX679_.jpg" alt="Accell U206B-001B USB-C Portable Dock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32F4AsW">Accell U206B-001B USB-C Portable Dock - HDMI 2.0 (4K UHD @ 60Hz), USB-A 2.0, USB- C Charging Port 3Amp...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.55</span><span class="ori_price">$58.32</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32F4AsW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="1,299.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSSduQ"><img src="https://images-na.ssl-images-amazon.com/images/I/61EpieLh-nL._SX522_.jpg" alt="Acer Gaming Laptop" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>20 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSSduQ">Acer Predator Helios 500 PH517-61-R0GX Gaming Laptop, AMD Ryzen 7 2700 Desktop Processor, AMD Radeon RX Vega 56 Graphics,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,299.00</span><span class="ori_price">$1,879.12</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XSSduQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="2797.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YeFRwb"><img src="https://images-na.ssl-images-amazon.com/images/I/91rhYwnuu7L._SX679_.jpg" alt="Samsung QLED 4K Q80 Series Smart TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YeFRwb">Samsung QN75Q80RAFXZA Flat 75'' QLED 4K Q80 Series Smart TV (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2,797.99</span><span class="ori_price">$3,999.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YeFRwb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="129.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XUZQ3F"><img src="https://images-na.ssl-images-amazon.com/images/I/717fyhTONJL._SY355_.jpg" alt="Certified Refurbished Ring Spotlight Cam" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XUZQ3F">Certified Refurbished Ring Spotlight Cam Wired: Plugged-in HD security camera with built-in spotlights,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.00</span><span class="ori_price">$179.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XUZQ3F">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="129.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XPPdz8"><img src="https://images-na.ssl-images-amazon.com/images/I/81elLa2Ya8L._SX522_.jpg" alt="Bose Noise Cancelling Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,322 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XPPdz8">Bose QuietComfort 25 Acoustic Noise Cancelling Headphones for Apple devices - Black (wired, 3.5mm)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.00</span><span class="ori_price">$198.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XPPdz8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="169.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32CGu2h"><img src="https://images-na.ssl-images-amazon.com/images/I/81G0mAwT0DL._SX522_.jpg" alt="SanDisk 1TB Extreme Portable External SSD" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,019 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32CGu2h">SanDisk 1TB Extreme Portable External SSD - USB-C, USB 3.1 - SDSSDE60-1T00-G25</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.92</span><span class="ori_price">$349.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32CGu2h">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="175.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SqD9ys"><img src="https://images-na.ssl-images-amazon.com/images/I/71sqoC-d8sL._UX679_.jpg" alt="Fossil Men's Gen 4 Explorist HR Stainless Steel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>475 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SqD9ys">Fossil Men's Gen 4 Explorist HR Stainless Steel Touchscreen Smartwatch with Heart Rate, GPS, NFC,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$175.00</span><span class="ori_price">$275.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SqD9ys">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="599.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JV4SDw"><img src="https://images-na.ssl-images-amazon.com/images/I/71FWDYHRf5L._SX522_.jpg" alt="Dell Led-Lit Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>192 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JV4SDw">Dell U3417W FR3PK 34-Inch Screen Led-Lit Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$599.98</span><span class="ori_price">$899.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JV4SDw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="299.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y7t9vc"><img src="https://images-na.ssl-images-amazon.com/images/I/91RWvX7RWqL._SX679_.jpg" alt="TCL Roku Smart LED TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>949 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y7t9vc">TCL 49S517 49-Inch 4K Ultra HD Roku Smart LED TV (2018 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$599.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y7t9vc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YkF1y0"><img src="https://images-na.ssl-images-amazon.com/images/I/8112VkP2c7L._SX522_.jpg" alt="ADATA XPG SX8200 Pro 1TB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>218 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YkF1y0">ADATA XPG SX8200 Pro 1TB 3D NAND NVMe Gen3x4 PCIe M.2 2280 Solid State Drive R/W 3500/3000MB/s SSD (ASX8200PNP-1TT-C)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.99</span><span class="ori_price">$219.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YkF1y0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32Qnnlo"><img src="https://images-na.ssl-images-amazon.com/images/I/51GcVGUrlaL._SX679_.jpg" alt="ZAGG InvisibleShield Glass+ Screen Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>114 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32Qnnlo">ZAGG InvisibleShield Glass+ Screen Protector – High-Definition Tempered Glass for The Apple iPhone Xr...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.93</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32Qnnlo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y6Mv3I"><img src="https://images-na.ssl-images-amazon.com/images/I/81kc%2BFSv18L._SX522_.jpg" alt="SATA to USB Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,360 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y6Mv3I">StarTech.com SATA to USB Cable - USB 3.0 to 2.5” SATA III Hard Drive Adapter - External Converter for SSD/HDD ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y6Mv3I">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="81.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XVGwU3"><img src="https://images-na.ssl-images-amazon.com/images/I/61QehiBEkLL._SX679_.jpg" alt="Mini Projector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,184 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XVGwU3">QKK [2019 Upgrade] Mini Projector [with Tripod] LED Projector Full HD 1080P Supported, 170" Display for TV Stick,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$81.99</span><span class="ori_price">$198.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XVGwU3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XW4ej2"><img src="https://images-na.ssl-images-amazon.com/images/I/81LfEqFOCxL._SX425_.jpg" alt="Made for Amazon" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XW4ej2">"Made for Amazon" Wall Mount for Echo Plus (2nd Gen) and Echo (2nd Gen) - White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XW4ej2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="9.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4y7ZH"><img src="https://images-na.ssl-images-amazon.com/images/I/51LvoEee3bL._SX522_.jpg" alt="CyberPower 5 Outlet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>567 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4y7ZH">CyberPower CSP300WUR1 5 Outlet Surge Wall Tap with 2 USB Charger</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.95</span><span class="ori_price">$21.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y4y7ZH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JV5lFM"><img src="https://images-na.ssl-images-amazon.com/images/I/61NqR5ZavaL._SX679_.jpg" alt="Skullcandy Ink'd Bluetooth Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,685 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JV5lFM">Skullcandy Ink'd Bluetooth Wireless Earbuds with Microphone, Noise Isolating Supreme Sound, 8-Hour ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.49</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JV5lFM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JULQNB"><img src="https://images-na.ssl-images-amazon.com/images/I/717R-xKfr8L._SX679_.jpg" alt="Magnetic Phone/GPS Vent Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,788 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JULQNB">SCOSCHE MAGVM2 MagicMount Magnetic Phone/GPS Vent Mount for The Car</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$24.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JULQNB">Shop Now at Amazon</a></div>
</div>

