<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="60" data-price="9.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KbLUK8"><img src="https://m.media-amazon.com/images/I/71tkkglWthL._SR400,400_.jpg" alt="Long Sleeve Plaid T Shirt" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>78 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KbLUK8">EMVANV Women's Casual Loose Long Sleeve Plaid T Shirt Dress with Pockets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.20</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">60CBJG9H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $22.99</strong> with promo code: <strong class="m_codes">60CBJG9H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KbLUK8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yuciIL"><img src="https://m.media-amazon.com/images/I/61ggg6ntEeL._SR400,400_.jpg" alt="BrexLink Type C to Type C Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>107 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yuciIL">BrexLink Type C to Type C Cable (6.6ft) Fast Charge USB C to USB C Cable Compatible Google Pixel 2,Pixel 2XL,Pixel...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50SBLSBL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50SBLSBL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yuciIL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yvlKLQ"><img src="https://m.media-amazon.com/images/I/81MXxk4FTcL._SR400,400_.jpg" alt="Obbug Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yvlKLQ">Obbug Laptop Backpack, Travel Computer Bag, Anti Theft Water Resistant College School Bookbag,Business Backpack USB...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">40ZK8D62</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.99</strong> with promo code: <strong class="m_codes">40ZK8D62</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yvlKLQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33hzOqC"><img src="https://m.media-amazon.com/images/I/61xCXKLJ7vL._SR400,400_.jpg" alt="ZLOT Rechargeable Ergonomic Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33hzOqC">ZLOT Rechargeable Ergonomic Mouse, 2.4G USB Optical LED Vertical Wireless Mice with 3 Adjustable DPI 1000/1600/2400 ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">302NMOW2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $16.99</strong> with promo code: <strong class="m_codes">302NMOW2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33hzOqC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBTSjT"><img src="https://m.media-amazon.com/images/I/61Anxk4X95L._SR400,400_.jpg" alt="NUBWO N2 Gaming Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,261 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBTSjT">NUBWO N2 Gaming Headset for Xbox One PS4 Playstation 4, Headphones Computer PC Mic Stereo Fortnite Gamer Microphone ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">503SVJO1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">503SVJO1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YBTSjT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="55.08">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zr5Lu4"><img src="https://m.media-amazon.com/images/I/610PNNKNL7L._SR400,400_.jpg" alt="Secura Automatic Electric Conical Burr Coffee Grinder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zr5Lu4">Secura Automatic Electric Conical Burr Coffee Grinder, Adjustable Cup Size, 18 Fine Coarse Grind Size Settings</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.08</span><span class="ori_price">$78.68</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30ZS35W3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $78.68</strong> with promo code: <strong class="m_codes">30ZS35W3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zr5Lu4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YmtCyt"><img src="https://m.media-amazon.com/images/I/51p9Fn9wYGL._SR400,400_.jpg" alt="Agvee 3A Heavy Duty USB C Charging Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>879 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YmtCyt">Agvee 3A Heavy Duty USB C Charging Cable [3 Pack 10ft] Seamless Reinforced USBC End Tip, Braided Type C Fast Charger Cord,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">55GGGGGG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $15.99</strong> with promo code: <strong class="m_codes">55GGGGGG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YmtCyt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3376dQm"><img src="https://m.media-amazon.com/images/I/711cZ68ctoL._SR400,400_.jpg" alt="Makeup Brushes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>43 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3376dQm">Makeup Brushes 12 Pcs Premium Synthetic Bristle Foundation Powder Concealers Eye Shadows Makeup Brush Sets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50APQCR6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50APQCR6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3376dQm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZtjNeD"><img src="https://images-na.ssl-images-amazon.com/images/I/6125xY12rgL._SL1000_.jpg" alt="laamei Dog Water Bottle" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZtjNeD">laamei Dog Water Bottle, Pet Water Dispenser Feeder, Portable Pet Travel Water Drink Cup Mug Dish Bowl Dispenser ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">40ACG4FA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $12.99</strong> with promo code: <strong class="m_codes">40ACG4FA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZtjNeD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="18.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ywXQ2L"><img src="https://m.media-amazon.com/images/I/71T3F0hvz3L._SR400,400_.jpg" alt="Nulaxy KM12 Bluetooth Keyboard " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>779 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ywXQ2L">Nulaxy KM12 Bluetooth Keyboard Business Portable Rechargeable Compatible with Apple iPad iPhone Samsung Tablets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.69</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">15LZ5RB6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $21.99</strong> with promo code: <strong class="m_codes">15LZ5RB6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ywXQ2L">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="12.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZpCgJ6"><img src="https://m.media-amazon.com/images/I/61yrsXLA4OL._SR400,400_.jpg" alt="Radha Beauty Retinol Moisturizer Cream" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5,099 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZpCgJ6">Radha Beauty Retinol Moisturizer Cream for Face - with Retinol, Hyaluronic Acid, Vitamin E and Green Tea. Best Night...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.92</span><span class="ori_price">$17.95</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">28BETTERSKIN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>28% off at $17.95</strong> with promo code: <strong class="m_codes">28BETTERSKIN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZpCgJ6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEvI8r"><img src="https://m.media-amazon.com/images/I/71HqIc0zTyL._SR400,400_.jpg" alt="Case for iPhone 8 Plus/iPhone 7 Plus" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>42 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEvI8r">Case for iPhone 8 Plus/iPhone 7 Plus, Liquid Silicone Ultra Thin with Cover Free Tempered Screen Protector...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$13.99</span></address>

      <textarea readonly="readonly" class="code_area">40ZLI6RV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $13.99</strong> with promo code: <strong class="m_codes">40ZLI6RV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YEvI8r">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YATDtr"><img src="https://m.media-amazon.com/images/I/61Khru02Q6L._SR400,400_.jpg" alt="KONSANY Bluetooth True Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YATDtr">KONSANY Bluetooth True Wireless Earbuds, HD Bass Stereo in-Ear Mini Wireless Headset, Waterproof Sports Cycling...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">50SLBCY9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50SLBCY9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YATDtr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEvSg3"><img src="https://m.media-amazon.com/images/I/81u5UlyAOWL._SR400,400_.jpg" alt="Yoport Yupro Exercise Resistance Band Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEvSg3">Yoport Yupro Exercise Resistance Band Set for Muscle Building, Exercise Resistance Training Bands for Home Exercise,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.40</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">60N8LR5I</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $25.99</strong> with promo code: <strong class="m_codes">60N8LR5I</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YEvSg3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/317GpC3"><img src="https://m.media-amazon.com/images/I/61cFPpcY84L._SR400,400_.jpg" alt="Sicaco Parmesan Cheese Grater" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>57 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/317GpC3">Sicaco Parmesan Cheese Grater, Upgrade Lemon Zester Tool for Chocolate, Coconut, Citrus, Ginger and Fine Grate Spices, Dishwasher Safe, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.84</span><span class="ori_price">$9.69</span></address>
      <textarea readonly="readonly" class="code_area">50BSJ09</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.69</strong> with promo code: <strong class="m_codes">50BSJ09</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/317GpC3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzOrSA"><img src="https://m.media-amazon.com/images/I/61VUWvkiKoL._SR400,400_.jpg" alt="Toptheway Replacement Toothbrush Heads" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>47 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzOrSA">Toptheway Replacement Toothbrush Heads - Compatible with Philips Sonicare ProResults Electric Brush HX9023, Fit Plaque Control, DiamondClean,...  </a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">50ZLOJ94</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">50ZLOJ94</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YzOrSA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YD7uuY"><img src="https://m.media-amazon.com/images/I/81papjmCrPL._SR400,400_.jpg" alt="JELLYMONI White and Grey Deer Duvet Cover Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YD7uuY">JELLYMONI White and Grey Deer Duvet Cover Set, 3 Pieces Floral Print Soft Microfiber Bedding Set with Zipper Closure...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">5085E4OM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $35.99</strong> with promo code: <strong class="m_codes">5085E4OM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YD7uuY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="41.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YiGiqd"><img src="https://m.media-amazon.com/images/I/51UY7MPkOxL._SR400,400_.jpg" alt="Hair Straightener Brush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>326 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YiGiqd">Hair Straightener Brush - Straightening Comb with Anti-Scald, 30s Fast Ceramic Heating, 5 Heat Levels, Auto Off,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$41.39</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">10TYMOBRUSH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $45.99</strong> with promo code: <strong class="m_codes">10TYMOBRUSH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YiGiqd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yn1Zpd"><img src="https://m.media-amazon.com/images/I/71DQLny0biL._SR400,400_.jpg" alt="DREAM PAIRS Women's Bold Slingback Flat Sandals" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>186 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yn1Zpd">DREAM PAIRS Women's Bold Slingback Flat Sandals</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">4017DSJJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">4017DSJJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yn1Zpd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YAcfWd"><img src="https://m.media-amazon.com/images/I/61gxvTQycEL._SR400,400_.jpg" alt="WECODO Slim Portable Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>95 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YAcfWd">WECODO Slim Portable Charger 5000mAh Power Bank Built-in Cable Pocket External Battery Pack with LED Indicator...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.59</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">403OQYAY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $15.99</strong> with promo code: <strong class="m_codes">403OQYAY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YAcfWd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="26.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K9rX6K"><img src="https://m.media-amazon.com/images/I/81b7-4XaFTL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K9rX6K">Laptop Backpack, Extra Large 17 Inch Business Travel Backpack with USB Charging Port Earphone Hole, Durable Water...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.65</span><span class="ori_price">$42.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">387VC1UA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>38% off at $42.99</strong> with promo code: <strong class="m_codes">387VC1UA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2K9rX6K">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ysvjv9"><img src="https://m.media-amazon.com/images/I/51KqI4vJSOL._SR400,400_.jpg" alt="YinQin Mini Handheld Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ysvjv9">YinQin Mini Handheld Fan Portable Quiet Sound Electric USB Mini Hand Fan 2000mAh Battery Operated Adjustable 3 Speeds...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$19.98</span></address>
      <textarea readonly="readonly" class="code_area">55EIGJJK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $19.98</strong> with promo code: <strong class="m_codes">55EIGJJK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 02:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ysvjv9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="53.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/339F8we"><img src="https://m.media-amazon.com/images/I/610DBy9C3SL._SR400,400_.jpg" alt="COOAU 17.9" Portable DVD Player" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>169 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/339F8we">COOAU 17.9" Portable DVD Player with 15.6" Large Swivel Screen, 6 Hrs Long Lasting Built-in Battery, Region Free, Stereo Sound,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$53.99</span><span class="ori_price">$107.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">5072E46R</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $107.99</strong> with promo code: <strong class="m_codes">5072E46R</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/339F8we">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yo9WKT"><img src="https://m.media-amazon.com/images/I/51uoioYaq2L._SR400,400_.jpg" alt="KMC 3-Outlet Wall Mount Surge Protector " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>225 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yo9WKT">KMC 3-Outlet Wall Mount Surge Protector 900 Joules with 4.8 AMP USB Charging Ports, 4 USB Charging Ports and 1 Phone Holders...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">30TD2IRC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $11.99</strong> with promo code: <strong class="m_codes">30TD2IRC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yo9WKT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="7.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zo5GYg"><img src="https://m.media-amazon.com/images/I/716rA0h80XL._SR400,400_.jpg" alt="Large Hanging Travel Toiletry Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zo5GYg">Large Hanging Travel Toiletry Bag - MelodySusie Heavy Duty Waterproof Makeup Organizer Bag Shaving Kit Toiletry Bag ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.27</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">48AAA222</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>48% off at $13.99</strong> with promo code: <strong class="m_codes">48AAA222</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zo5GYg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ysvN4r"><img src="https://m.media-amazon.com/images/I/71DnO5TmO1L._SR400,400_.jpg" alt="Hanging Toiletry Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ysvN4r">Hanging Toiletry Bag for Men/Women, Maxchange Travel Toiletry Bag with Large Capacity, 8.3L 11.8"×4.9"×8.7",...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">50F2J97H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">50F2J97H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ysvN4r">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="11.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZpR8ah"><img src="https://m.media-amazon.com/images/I/61S5eI9bDBL._SR400,400_.jpg" alt="Lächen Portable Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZpR8ah">Lächen Portable Electric Toothbrush Sonic Care Travel Rechargeable Waterproof IPX7 2 Brush Heads ST031 (pink) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.20</span><span class="ori_price">$31.99</span></address>
      <textarea readonly="readonly" class="code_area">659TQ97N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $31.99</strong> with promo code: <strong class="m_codes">659TQ97N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZpR8ah">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="17.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/336d10C"><img src="https://m.media-amazon.com/images/I/51eH3jBU6KL._SR400,400_.jpg" alt="Amino VITAL Rapid Recovery" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/336d10C">Amino VITAL Rapid Recovery - Fermented Vegan BCAAs Amino Acid Powder + Complex Carbohydrates | BCAA, Glutamine & Arginine...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.77</span><span class="ori_price">$24.95</span></address>
      <textarea readonly="readonly" class="code_area">25AMINOS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $24.95</strong> with promo code: <strong class="m_codes">25AMINOS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/336d10C">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="7.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YF8qz4"><img src="https://m.media-amazon.com/images/I/71Cbwfo5fSL._SR400,400_.jpg" alt="Ecstacy Soaps" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>743 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YF8qz4">Ecstacy Soaps - Gift Box Set of 9 x 25 Gram Bars </a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.46</span><span class="ori_price">$9.95</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">25EME1MN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $9.95</strong> with promo code: <strong class="m_codes">25EME1MN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YF8qz4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="27.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGxaY1"><img src="https://m.media-amazon.com/images/I/518wQIhh8DL._SR400,400_.jpg" alt="JINRI Travel Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>513 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGxaY1">JINRI Travel Hair Dryer 1875 Watt Dual Voltage Blow Dryer Dc Motor Foldable Handle Lightweight Negative Ionic Folding Hair Dryer (Red-2) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.00</span><span class="ori_price">$89.99</span></address>
      <textarea readonly="readonly" class="code_area">70D6GNNB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $89.99</strong> with promo code: <strong class="m_codes">70D6GNNB</strong></span></p><span class="ex_date ex_date_new">Expiration Date :  Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YGxaY1">Use Code at Amazon</a></div>
</div>
