<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="70" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lcpuu5"><img src="https://m.media-amazon.com/images/I/71ufACjhLcL._SR400,400_.jpg" alt="CIOR Water Shoes Men Women Aqua Shoes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lcpuu5">CIOR Water Shoes Men Women Aqua Shoes Swim Shoes Barefoot Quick-Dry Beach Surf Yoga Exercise Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>70% off at $23.99</strong> with promo code: <strong>705DM81X</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lcpuu5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="29.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JvzX1T"><img src="https://m.media-amazon.com/images/I/715UXykyTaL._SR400,400_.jpg" alt="Solar Lights 2-in-1 Waterproof 9 LEDs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>582 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JvzX1T">Solar Lights 2-in-1 Waterproof 9 LEDs Solar Landscape Spotlights Outdoor Adjustable Wall Light Landscape Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.92</span><span class="ori_price">$40.99</span></address>
      <p><span>Take <strong>27% off at $40.99</strong> with promo code: <strong>27TKBNQ7</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JvzX1T">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="19.53">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JEloHS"><img src="https://m.media-amazon.com/images/I/61AZ32aUp3L._SR400,400_.jpg" alt="Homgeek French Press Coffee Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>70 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JEloHS">Homgeek French Press Coffee Maker, Double Wall Stainless Steel French Press Heat Resistant Coffee Press with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.53</span><span class="ori_price">$27.90</span></address>
      <p><span>Take <strong>30% off at $27.90</strong> with promo code: <strong>30HJFT11</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JEloHS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2S5jwMi"><img src="https://m.media-amazon.com/images/I/71Tzi0aJ1JL._SR400,400_.jpg" alt="Vintage Aromatherapy Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>90 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2S5jwMi">Vintage Aromatherapy Essential Oil Diffuser, 100ml Bronze Metal Air Diffuser Cool Mist Humidifier with Adjustable Mist Mode,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.48</span><span class="ori_price">$28.97</span></address>
      <p><span>Take <strong>50% off at $28.97</strong> with promo code: <strong>50CU47D6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2S5jwMi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="33.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JqXvEM"><img src="https://m.media-amazon.com/images/I/717XWt7TagL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>897 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JqXvEM">Wireless Earbuds, TaoTronics Bluetooth 5.0 Headphones SoundLiberty 53 Earphones IPX7 Waterproof Smart Touch Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$33.74</span><span class="ori_price">$44.99</span></address>
      <p><span>Take <strong>25% off at $44.99</strong> with promo code: <strong>25Y6Q3SZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JqXvEM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2S5pMDN"><img src="https://m.media-amazon.com/images/I/51TItziL3FL._SR400,400_.jpg" alt="RAOYI LED Desk Lamp Eye-Caring Table Lamps" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>132 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2S5pMDN">RAOYI LED Desk Lamp Eye-Caring Table Lamps, 5 Color Modes with 7 Levels of Brightness, Dimmable Office Lamp with USB Charging Port,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.93</span><span class="ori_price">$19.89</span></address>
      <p><span>Take <strong>40% off at $19.89</strong> with promo code: <strong>40ABYFXH</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2S5pMDN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="23.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GjENxd"><img src="https://m.media-amazon.com/images/I/61WO7dwPKnL._SR400,400_.jpg" alt="MorePro Waterproof Health Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>981 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GjENxd">MorePro Waterproof Health Tracker, Fitness Tracker Color Screen Sport Smart Watch,Activity Tracker with Heart Rate ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.00</span><span class="ori_price">$45.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $45.99</strong> with promo code: <strong>50MNTL49</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GjENxd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2G3FTwz"><img src="https://m.media-amazon.com/images/I/71-8xDZOfsL._SR400,400_.jpg" alt="Smart Storage Roll-Up Spacesaver..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2G3FTwz">Smart Storage Roll-Up Spacesaver Premium Reusable Vacuum Storage Bags | Compression Bags for Travel | Waterproof Vacuum...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>60% off at $19.99</strong> with promo code: <strong>60F7ZL43</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2G3FTwz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JCrnwT"><img src="https://m.media-amazon.com/images/I/71xdIyDHwWL._SR400,400_.jpg" alt="Car Cup Holder Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>89 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JCrnwT">Car Cup Holder Phone Mount, Adjustable Gooseneck Cell Phone Holder with 360° Rotatable Cradle for iPhone Xs/X/8/7...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>55% off at $19.99</strong> with promo code: <strong>5583P5O2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 09:00 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JCrnwT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jz7vuF"><img src="https://m.media-amazon.com/images/I/61DmXZ76XiL._SR400,400_.jpg" alt="Acumen Dash Cam for Cars" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jz7vuF">Acumen Dash Cam for Cars 1080P FHD Driving Recorder Vehicle Dashboard Camera with Wide Angle 1.5" LCD Screen...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>20% off at $26.99</strong> with promo code: <strong>20FDH69Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jz7vuF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="121.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xGA3g8"><img src="https://m.media-amazon.com/images/I/61l2mup9qAL._SR400,400_.jpg" alt="Video Camera 4K Camcorder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>392 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xGA3g8">Video Camera 4K Camcorder AiTechny Ultra HD Digital WiFi Camera 48MP 16X Digital Zoom Recorder IR Night Vision 3.0"...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$121.50</span><span class="ori_price">$242.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $242.99</strong> with promo code: <strong>50V3JXE8</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xGA3g8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JrD0bf"><img src="https://m.media-amazon.com/images/I/81LJNU2oDBL._SR400,400_.jpg" alt="Acare 6 Qt 7-in-1 Programmable Pressure Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JrD0bf">Acare 6 Qt 7-in-1 Programmable Pressure Cooker,6 Quart/6L Stainless Steel Multi-Use Cooker,1000W,Slow Cooker,Rice Cooker,>..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.99</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>50% off at $89.99</strong> with promo code: <strong>5083WAW4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JrD0bf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="28.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lfwfv2"><img src="https://m.media-amazon.com/images/I/61i04Ib+4BL._SR400,400_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>275 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lfwfv2">Active Noise Cancelling Bluetooth Headphones, Ausdom ANC8 Over Ear Wireless Headphones Wired Headsets with Microphone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.00</span><span class="ori_price">$55.99</span>
         <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $55.99</strong> with promo code: <strong>50J9BRCW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lfwfv2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XFqAQW"><img src="https://m.media-amazon.com/images/I/61S4XDG2H+L._SR400,400_.jpg" alt="ELECJET MagJet S" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XFqAQW">ELECJET MagJet S, 20 Pin Magnetic USB C Adapter, 100W Fast Charging,10 Gbps Data Transfer, RJ45 Gigabit Ethernet Connection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>40% off at $24.99</strong> with promo code: <strong>40MAGJETS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XFqAQW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="5.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XGWqSk"><img src="https://m.media-amazon.com/images/I/51RJHrSSkjL._SR400,400_.jpg" alt="Twakie Smart Wifi Outlet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XGWqSk">Twakie Smart Wifi Outlet, Smart Wi-Fi Plug, 15 Amp Duplex Receptacle Outlet, Wireless Remote Control Power Socket,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.60</span><span class="ori_price">$15.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>65% off at $15.99</strong> with promo code: <strong>65685ATQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XGWqSk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xFa9JH"><img src="https://m.media-amazon.com/images/I/61DrcdIPNFL._SR400,400_.jpg" alt="Headlamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>154 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xFa9JH">Headlamp 12000 Lumen Ultra Bright CREE LED Work Headlight USB Rechargeable, 4 Modes Waterproof Head Lamp Best Headlamps...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$23.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $23.99</strong> with promo code: <strong>40PSTOFF</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xFa9JH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="66.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XzY08h"><img src="https://m.media-amazon.com/images/I/61JbJo1wbOL._SR400,400_.jpg" alt="Crenova Video Projector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XzY08h">Crenova Video Projector, Multimedia Home Mini Movie Projector with Portable Bag, 3200 Lux, 50,000 Hrs LED Lamp,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$66.49</span><span class="ori_price">$94.99</span></address>
      <p><span>Take <strong>30% off at $94.99</strong> with promo code: <strong>30HK7DLB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XzY08h">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="8.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JoRY1u"><img src="https://m.media-amazon.com/images/I/51AdEUb31yL._SR400,400_.jpg" alt="Livhò Blue Light Blocking Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>140 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JoRY1u">Livhò Blue Light Blocking Glasses, UV400 Transparent Lens,Phone Computer Reading Glasses,Anti Eyestrain/Anti Ray,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.55</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>55% off at $18.99</strong> with promo code: <strong>55OFFPGO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JoRY1u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="13.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jqeas3"><img src="https://m.media-amazon.com/images/I/813ozc1JlqL._SR400,400_.jpg" alt="HOMFY Blackout Curtains" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jqeas3">HOMFY Blackout Curtains for Bedroom, Thermal Insulated Panels Set of 2, Free 2 Ties for Pulling Back Drapes,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.20</span><span class="ori_price">$43.99</span></address>
      <p><span>Take <strong>70% off at $43.99</strong> with promo code: <strong>702RADF6</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jqeas3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LLFgM8"><img src="https://m.media-amazon.com/images/I/81XcczJ0lAL._SR400,400_.jpg" alt="BAGSMART Travel Jewelry Storage Cases" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>284 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LLFgM8">BAGSMART Travel Jewelry Storage Cases Jewelry Organizer Bag for Necklace, Earrings, Rings, Bracelet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>40% off at $24.99</strong> with promo code: <strong>40BM020023</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LLFgM8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIrvkF"><img src="https://m.media-amazon.com/images/I/71-C8dzBijL._SR400,400_.jpg" alt="Mini Tactical Led Flashlight Torch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIrvkF">UltraFire WF-502B Single Mode 1000 Lumen Mini Tactical Led Flashlight Torch, and Duty Belt Flashlight Holster...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.44</span><span class="ori_price">$18.88</span></address>
      <p><span>Take <strong>50% off at $18.88</strong> with promo code: <strong>50AHTZ6W</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YIrvkF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="15.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHnJoh"><img src="https://m.media-amazon.com/images/I/51Ngpyg+rpL._SR400,400_.jpg" alt="Hemp Oil for Pain Relief" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>219 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHnJoh">Hemp Oil for Pain Relief, 500mg Hemp Extract, Anxiety Relief, Lower Cholesterol, Boost Immune System,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.01</span><span class="ori_price">$25.02</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $25.02</strong> with promo code: <strong>40B7Z9R5</strong></span></p>
      <span class="ex_date">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHnJoh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMUFvE"><img src="https://m.media-amazon.com/images/I/61hOIII24aL._SR400,400_.jpg" alt="Aluminum Pans" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>175 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMUFvE">Aluminum Pans (50-Pack) - Durable Aluminum Rectangular Foil Pans Table Deep Pans, With Board Lids,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>50% off at $23.99</strong> with promo code: <strong>50KPCW25</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMUFvE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XyOH8G"><img src="https://m.media-amazon.com/images/I/6152uUdZHzL._SR400,400_.jpg" alt="Women's Open Toe Flat Sandals" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>93 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XyOH8G">DREAM PAIRS Women's Open Toe Flat Sandals</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>40% off at $14.99</strong> with promo code: <strong>40OVX35B</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XyOH8G">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2S5mMXS"><img src="https://m.media-amazon.com/images/I/71ey2KhT4VL._SR400,400_.jpg" alt="Class Cotton Weighted Blanket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>95 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2S5mMXS">Class Cotton Weighted Blanket for Adult 48"X72", 15 lbs, Twin Size, Dark Grey | Calming Blanket for Individual Between...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.74</span><span class="ori_price">$79.49</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $79.49</strong> with promo code: <strong>50SWXW7M</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2S5mMXS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="27.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xHzT8c"><img src="https://m.media-amazon.com/images/I/81cptsq7haL._SR400,400_.jpg" alt="Ytonet Dog Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>70 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xHzT8c">Ytonet Dog Backpack, Pet Carrier Bag with Mesh for Small Dogs Cats Puppies, Comfort Cat Backpack Bag Airline Approved ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.19</span><span class="ori_price">$33.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>20% off at $33.99</strong> with promo code: <strong>20OE5ZMB</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xHzT8c">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="20.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YNVqbm"><img src="https://m.media-amazon.com/images/I/61dzTpyBnuL._SR400,400_.jpg" alt="Chef Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YNVqbm">MICHELANGELO Top End Real Damascus Steel Chef Knife 8 Inch, Japanese VG-10 Super Steel Hand Hammered 67 Layers Damascus ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.97</span><span class="ori_price">$69.90</span></address>
      <p><span>Take <strong>70% off at $69.90</strong> with promo code: <strong>70CPHY3Q</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YNVqbm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="22.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JqpLHD"><img src="https://m.media-amazon.com/images/I/61l8DFOoS6L._SR400,400_.jpg" alt="Action Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JqpLHD">Action Camera 4K 16MP Underwater Waterproof Camera 170° Wide Angle WiFi Sports Cam with 2 Batteries and Mounting Accessories Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.00</span><span class="ori_price">$54.99</span></address>
      <p><span>Take <strong>60% off at $54.99</strong> with promo code: <strong>60UDL59I</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JqpLHD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YKuIjP"><img src="https://m.media-amazon.com/images/I/61ThiCalvLL._SR400,400_.jpg" alt="vAv YAKEDA Army Fans" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>79 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YKuIjP">vAv YAKEDA Army Fans Tactical Vest Cs Field Outdoor Equipment Supplies Breathable Lightweight Tactical Vest -1063</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>30% off at $39.99</strong> with promo code: <strong>30961SQ3</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YKuIjP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LLHhba"><img src="https://m.media-amazon.com/images/I/51R7P9hZqmL._SR400,400_.jpg" alt="DADYPET Cat Laser Toy" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>152 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LLHhba">DADYPET Cat Laser Toy, 2 in 1 Automatic Non-Handheld Cat Chaser Toy and Interactive Feather Toy, Auto Rotating Light Cat ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>40% off at $24.99</strong> with promo code: <strong>402GMPBG</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 13, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LLHhba">Use Code at Amazon</a></div>
</div>
