<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->


<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="70" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31sCj7D"><img src="https://m.media-amazon.com/images/I/51DrLzuI4HL._SR400,400_.jpg" alt="Professional Pizza Cutter Wheel" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31sCj7D">Professional Pizza Cutter Wheel Hand Slicer with Razor Sharp Blade & Curved Handle - Dishwasher Safe</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">7065YCJ6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $14.99</strong> with promo code: <strong class="m_codes">7065YCJ6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31sCj7D">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GVA5Wm"><img src="https://m.media-amazon.com/images/I/51WaZO-l05L._SR400,400_.jpg" alt="Fast Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GVA5Wm">Fast Wireless Charger, Qi Certified Wireless Charging Stand Compatible for iPhone X/XS/XS Max/XR, iPhone 8/8 Plus, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$24.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">602J2J5N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $24.99</strong> with promo code: <strong class="m_codes">602J2J5N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 29, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GVA5Wm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="3.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GTaBJy"><img src="https://m.media-amazon.com/images/I/610nfXOqWIL._SR400,400_.jpg" alt="AINOPE Cord Clip" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GTaBJy">AINOPE Cord Clip, Convenient Desk Cable Organizer Self-Adhesive Cable Holder Silicone Material Durable Cord Holder for Home,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.50</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">651BWMK1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $9.99</strong> with promo code: <strong class="m_codes">651BWMK1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GTaBJy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GY3uzw"><img src="https://m.media-amazon.com/images/I/71engGxKaOL._SR400,400_.jpg" alt="Gasky Pet Fountain" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GY3uzw">Gasky Pet Fountain Automatic Water Dispenser For Cats Dog Bird- Fresh Flowing Fountain Quite with 3 Stage Filter & 2L Capacity</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">409OK2ZZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $25.99</strong> with promo code: <strong class="m_codes">409OK2ZZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GY3uzw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TfnnH7"><img src="https://m.media-amazon.com/images/I/51EYo7Q+Y-L._SR400,400_.jpg" alt="CAMEL CROWN Women's Jogger Pants" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TfnnH7">CAMEL CROWN Women's Jogger Pants with Pockets Soft Drawstring Sweatpants for Gym Running Jogging Lounging</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">50WGCOGM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.99</strong> with promo code: <strong class="m_codes">50WGCOGM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2TfnnH7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="36.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GVAx70"><img src="https://m.media-amazon.com/images/I/71amo+Eg-8L._SR400,400_.jpg" alt="Walkie Talkie" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GVAx70">Walkie Talkie 1800MAH Battery Capacity Two Way Radio 2 watt Olywiz-819 Tiny Walkie Talkies UHF 400-470 Walkie talkies for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.79</span><span class="ori_price">$183.96</span></address>
      <textarea readonly="readonly" class="code_area">804QFKTF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $183.96</strong> with promo code: <strong class="m_codes">804QFKTF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GVAx70">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YQpN4k"><img src="https://m.media-amazon.com/images/I/61+RcYz9BvL._SR400,400_.jpg" alt="Pahajim Womens Bag Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YQpN4k">Pahajim Womens Bag Backpack Purse PU Leather Zipper Bags Schoolbag Fashion Casual Rucksack Satchel and handbag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">40X9MEIP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $23.99</strong> with promo code: <strong class="m_codes">40X9MEIP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YQpN4k">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="11.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzIE4l"><img src="https://m.media-amazon.com/images/I/619wHNaQSyL._SR400,400_.jpg" alt="Gentleman's Beard Club Facial Hair Growth..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzIE4l">Gentleman's Beard Club Facial Hair Growth Formula Beard Growth Supplement Vitamin Grow a Fuller Thicker Beard 30 Tablets 1 Bottle </a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.98</span><span class="ori_price">$39.94</span></address>
      <textarea readonly="readonly" class="code_area">70GBCOFF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $39.94</strong> with promo code: <strong class="m_codes">70GBCOFF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YzIE4l">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GU2f4n"><img src="https://m.media-amazon.com/images/I/71NNGA1eMbL._SR400,400_.jpg" alt="AINOPE HDMI Cable 6.6 ft" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GU2f4n">AINOPE HDMI Cable 6.6 ft (4K 60Hz, HDMI 2.0, 18Gbps) - Armor Nylon Braided HDMI Cord - Audio Return(ARC) Compatible UHD...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">50YMJPBJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50YMJPBJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GU2f4n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KoysCI"><img src="https://m.media-amazon.com/images/I/61bORdf3yRL._SR400,400_.jpg" alt="Sonic Electric Toothbrush" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KoysCI">Sonic Electric Toothbrush with 5 Modes 4 Replacement Heads 60 Days Use Rechargeable Waterproof Oral Clean for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">65QV17NR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $39.99</strong> with promo code: <strong class="m_codes">65QV17NR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KoysCI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="26.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GSwGYo"><img src="https://m.media-amazon.com/images/I/61oFActQhrL._SR400,400_.jpg" alt="Dash Cam Dash Cameras Car Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GSwGYo">Dash Cam Dash Cameras Car Camera, Ananteke Dashboard Camera 3inch 1080P FHD LCD Screen 170°Wide Angle Driving Recorder,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.45</span><span class="ori_price">$52.89</span></address>
      <textarea readonly="readonly" class="code_area">50NA87ZE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $52.89</strong> with promo code: <strong class="m_codes">50NA87ZE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GSwGYo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMAXms"><img src="https://m.media-amazon.com/images/I/61BiVYmfveL._SR400,400_.jpg" alt="ETERMING Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMAXms">ETERMING Wireless Charger Car Mount Auto Clamping 10w/7.5w Power Fast Car Charger Holder Qi Phone Holder for Car Air...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50I5UKTI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50I5UKTI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 04:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YMAXms">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="4.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YT5vTE"><img src="https://m.media-amazon.com/images/I/71r1xsHW8gL._SR400,400_.jpg" alt="i2 Gear Cell Phone Armband Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YT5vTE">i2 Gear Cell Phone Armband Case for Running - Workout Phone Holder with Adjustable Arm Band and Reflective Border...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.05</span><span class="ori_price">$8.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">55S9RFRO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $8.99</strong> with promo code: <strong class="m_codes">55S9RFRO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YT5vTE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YRlvWf"><img src="https://m.media-amazon.com/images/I/61pSQm2A0AL._SR400,400_.jpg" alt="Moallia Phone Charger Cables" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YRlvWf">Moallia Phone Charger Cables, 2 Pack 6FT Extra Long Nylon Braided USB Fast Charging & Syncing Cord Compatible with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span></address>
      <textarea readonly="readonly" class="code_area">50RGIIBL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50RGIIBL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YRlvWf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YOOUQY"><img src="https://m.media-amazon.com/images/I/61seZoS3iVL._SR400,400_.jpg" alt="2019 Upgraded Cordless Water Flosser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YOOUQY">2019 Upgraded Cordless Water Flosser, Professional Oral Irrigator Portable Water Flossing, Dental Flosser for Kids and Adults...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.00</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">70IZHCQO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $79.99</strong> with promo code: <strong class="m_codes">70IZHCQO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YOOUQY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H8epH1"><img src="https://m.media-amazon.com/images/I/710JbH25rUL._SR400,400_.jpg" alt="Essential Oil Diffuser 100ml" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H8epH1">Essential Oil Diffuser 100ml, Ultrasonic Aromatherapy Oil Diffuser Humidifier, Mini Vintage Metal Ultrasonic Cool Mist Diffusers...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$27.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">354RPB5L</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $27.99</strong> with promo code: <strong class="m_codes">354RPB5L</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H8epH1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YSw0IL"><img src="https://m.media-amazon.com/images/I/81MXxk4FTcL._SR400,400_.jpg" alt="Obbug Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YSw0IL">Obbug Laptop Backpack, Travel Computer Bag, Anti Theft Water Resistant College School Bookbag,Business Backpack USB Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50ONGHU8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50ONGHU8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YSw0IL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="34.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KlRTwc"><img src="https://m.media-amazon.com/images/I/61HIhnX8FLL._SR400,400_.jpg" alt="Goojodoq Crayon for iPad 2018(6th Gen)" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KlRTwc">Goojodoq Crayon for iPad 2018(6th Gen), Stylus Pen 2nd Gen with Palm Rejection for iPad Air (3rd Gen), iPad Mini...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.39</span><span class="ori_price">$42.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">20PEN087</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $42.99</strong> with promo code: <strong class="m_codes">20PEN087</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KlRTwc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YStcLC"><img src="https://m.media-amazon.com/images/I/71-pvbLI1ZL._SR400,400_.jpg" alt="Bluetooth Headphones/Sports" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YStcLC">Bluetooth Headphones/Sports Sweatproof Wireless Headphones/Neckband Headset/Digital Noise Cancellation Earphone. (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">509T29QL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">509T29QL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YStcLC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="25.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUl9hs"><img src="https://m.media-amazon.com/images/I/617TOrxN17L._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUl9hs">True Wireless Earbuds, SOUNDSOUL Bluetooth 5.0 Earphones with Total 35H Playtime Stereo Sound, Built-in Mic in-Ear Headphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.89</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">30Q1VGCS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $36.99</strong> with promo code: <strong class="m_codes">30Q1VGCS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YUl9hs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YP7eJt"><img src="https://m.media-amazon.com/images/I/71IJNaghNVL._SR400,400_.jpg" alt="CHEE RAY Extra Thick Washable Snugly Bed Blanket" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YP7eJt">CHEE RAY Extra Thick Washable Snugly Bed Blanket, Reversible & Durable Premium Fluffy Throw Blanket for Beds/Couch/Sofa,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.59</span><span class="ori_price">$10.99</span></address>
      <textarea readonly="readonly" class="code_area">402G99BD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $10.99</strong> with promo code: <strong class="m_codes">402G99BD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YP7eJt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KnV5qU"><img src="https://m.media-amazon.com/images/I/51pJNtci8wL._SR400,400_.jpg" alt="Newrays Antique Wood Wine Barrel Wall Sconce Lighting" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KnV5qU">Newrays Antique Wood Wine Barrel Wall Sconce Lighting Fixture with Lamp Holder Switch Indoor Wall Lamps for Bar Hallway Bedroom</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">40LCOCW3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">40LCOCW3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KnV5qU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GWphaD"><img src="https://m.media-amazon.com/images/I/71qFiD9c5QL._SR400,400_.jpg" alt="G4Free 12x25 Compact Binoculars" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GWphaD">G4Free 12x25 Compact Binoculars(BAK4,Green Lens),Large Eyepiece Super High-Powered Field Surveillance Binoculars...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$17.84</span></address>
      <textarea readonly="readonly" class="code_area">30ABM6HN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $17.84</strong> with promo code: <strong class="m_codes">30ABM6HN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GWphaD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="21.73">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31pfCBi"><img src="https://m.media-amazon.com/images/I/4133Co0YZKL._SR400,400_.jpg" alt="GiNT Stainless Steel Thermal Coffee Carafe" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31pfCBi">GiNT Stainless Steel Thermal Coffee Carafe with Lid/Double Walled Vacuum Thermos / 12 Hour Heat Retention,1.5L, White …</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.73</span><span class="ori_price">$28.98</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25YGPYXZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $28.98</strong> with promo code: <strong class="m_codes">25YGPYXZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31pfCBi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31oASXR"><img src="https://m.media-amazon.com/images/I/61l7mvKbFsL._SR400,400_.jpg" alt="Secura Stainless Steel French Press Coffee Maker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31oASXR">Secura Stainless Steel French Press Coffee Maker -Extra Filters Included- 34 fl. oz (1 Liter),Black Matte</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$38.98</span></address>
      <textarea readonly="readonly" class="code_area">408OOWCN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $38.98</strong> with promo code: <strong class="m_codes">408OOWCN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31oASXR">Use Code at Amazon</a></div>
</div>

