<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
-->

<div class="card dealofday clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XrHk25"><img src="https://images-na.ssl-images-amazon.com/images/I/81ptGPjuEXL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Save Up to 50% off on Indoor Gardens by Aerogrow</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2NbkuHQ">AeroGarden Ultra (LED) with Gourmet Herb Seed Pod Kit</a> - <span>119.99<em>229.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2X67pnL">AeroGarden Harvest Elite 360 - Red</a> - <span>109.99<em>179.95</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2X6Gx74">AeroGarden Harvest 360 - Black</a> - <span>74.99<em>149.95</em></span></li>
            <li><a href="https://amzn.to/2XrHk25">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XrHk25">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="133.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fy4k5b"><img src="https://images-na.ssl-images-amazon.com/images/I/41YcLXhCsbL.jpg" alt="Bushnell Engage Binoculars" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fy4k5b">Amazon Deal Of The Day: Bushnell Engage Binoculars, Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$133.96</span><span class="ori_price">$225.01</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Fy4k5b">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IIAUDq"><img src="https://images-na.ssl-images-amazon.com/images/I/51C4mfJuCUL.jpg" alt="Canon Mobile Ready Printer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>263 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IIAUDq">Amazon Deal Of The Day: Canon imageCLASS MF236n All in One, Mobile Ready Printer, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$199.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IIAUDq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X6JFji"><img src="https://images-na.ssl-images-amazon.com/images/I/A1sA2vVQGgL._SY879_.jpg" alt="Timbuk2 Command Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>210 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X6JFji">Timbuk2 Command Laptop Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$129.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X6JFji">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="40.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NazTZ6"><img src="https://images-na.ssl-images-amazon.com/images/I/71LVaoDOnUL._UX679_.jpg" alt="Oakley Men's Voyage 23l Roll Top Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NazTZ6">Oakley Men's Voyage 23l Roll Top Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.94</span><span class="ori_price">$120.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NazTZ6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XBRUmW"><img src="https://images-na.ssl-images-amazon.com/images/I/81MwYuZUUWL._UX679_.jpg" alt="Calvin Klein Hudson Monogram Front Half Zip Pocket Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XBRUmW">Calvin Klein Hudson Monogram Front Half Zip Pocket Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.99</span><span class="ori_price">$158.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XBRUmW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="100.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NaZaSR"><img src="https://images-na.ssl-images-amazon.com/images/I/81b6jg%2BySdL._SX522_.jpg" alt="Petunia Pickle Bottom Boxy Backpack in Mickey's" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NaZaSR">Petunia Pickle Bottom Boxy Backpack in Mickey's 90th Blue Colorplane Disney Collaboration, Blue </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$100.00</span><span class="ori_price">$215.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NaZaSR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NbnPGS"><img src="https://images-na.ssl-images-amazon.com/images/I/71ElWPdUlML._UX679_.jpg" alt="Oakley Men's Motion Tech 2.0 Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NbnPGS">Oakley Men's Motion Tech 2.0 Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$84.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NbnPGS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="33.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xpe4sP"><img src="https://images-na.ssl-images-amazon.com/images/I/610Poiv9KxL._SX522_.jpg" alt="Vitamin Friends" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>931 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xpe4sP">Vitamin Friends - Gummy Iron Supplements for Kids (60 Day) With B-Complex, Vitamin C, Zinc, Biotin - Iron Gummies Support Children Healthy Body Function...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.95</span><span class="ori_price">$49.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xpe4sP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="65.52">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X2cv4y"><img src="https://images-na.ssl-images-amazon.com/images/I/817wVtAI%2BoL._SX522_.jpg" alt="GO-GO BABYZ TRAVELMATE Car" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>886 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X2cv4y">GO-GO BABYZ TRAVELMATE Car Seat Travel Stroller for Toddler Car Seats </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$65.52</span><span class="ori_price">$89.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X2cv4y">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="310.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XAlg56"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2BhRhDis5L._SY879_.jpg" alt="Ecosmart ECO 18 Electric Tankless Water Heater" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,382 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XAlg56">Ecosmart ECO 18 Electric Tankless Water Heater, 18 KW at 240 Volts with Patented Self Modulating Technology</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$310.85</span><span class="ori_price">$469.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XAlg56">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X4ANGp"><img src="https://images-na.ssl-images-amazon.com/images/I/51n9c5IktSL._SX679_.jpg" alt="Kasa Smart WiFi Light Bulb" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,271 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X4ANGp">Kasa Smart WiFi Light Bulb, Multicolor by TP-Link – Smart LED Light Bulbs, Works with Alexa & Google (KL130)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X4ANGp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X6fQPX"><img src="https://images-na.ssl-images-amazon.com/images/I/81zgOHx2cAL._SX522_.jpg" alt="Safety 1st Magnetic Locking System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,278 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X6fQPX">Safety 1st Magnetic Locking System (1 Key and 8 Locks) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X6fQPX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X2Sg6E"><img src="https://images-na.ssl-images-amazon.com/images/I/81xlboCOT9L._SX679_.jpg" alt="Logitech G430 7.1 DTS Headphone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>5,201 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X2Sg6E">Logitech G430 7.1 DTS Headphone: X and Dolby Surround Sound Gaming Headset for PC, Playstation 4 – On-Cable Controls – Sports-Performance Ear Pads...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X2Sg6E">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="64.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y7TfPG"><img src="https://images-na.ssl-images-amazon.com/images/I/61Eq-kmsviL._SX466_.jpg" alt="Beats EP On-Ear Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>730 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y7TfPG">Beats EP On-Ear Headphones - White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.95</span><span class="ori_price">$129.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y7TfPG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J5ZU6z"><img src="https://images-na.ssl-images-amazon.com/images/I/71e990-cYcL._SX679_.jpg" alt="Corsair mm1000 Qi Wireless Charging Mouse Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>398 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J5ZU6z">Corsair mm1000 Qi Wireless Charging Mouse Pad - Adapters Included for Most Smartphones Including iPhone and Android (CH-9440022-NA)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J5ZU6z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J3BudY"><img src="https://images-na.ssl-images-amazon.com/images/I/61bGPuPgkSL._SY679_.jpg" alt="Spigen Slim Armor CS Designed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>840 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J3BudY">Spigen Slim Armor CS Designed for Samsung Galaxy S7 Case (2016) - Gunmetal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J3BudY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlAF2G"><img src="https://images-na.ssl-images-amazon.com/images/I/61ote5OZCiL._SX522_.jpg" alt="Skullcandy S2IKDY-101 Ink'd 2.0 Mic'd with Mic1" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>3,884 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlAF2G">Skullcandy S2IKDY-101 Ink'd 2.0 Mic'd with Mic1</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.49</span><span class="ori_price">$20.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlAF2G">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="74.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fw5m1D"><img src="https://images-na.ssl-images-amazon.com/images/I/81evwQePyoL._SY879_.jpg" alt="Portable Bluetooth Party Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>200 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fw5m1D">QFX PBX-61081BT/BL Portable Bluetooth Party Speaker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.78</span><span class="ori_price">$199.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Fw5m1D">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RxOP1S"><img src="https://images-na.ssl-images-amazon.com/images/I/81sHi6kwA0L._SY741_.jpg" alt="K-Cup Carousel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3,651 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RxOP1S">K-Cup Carousel - Holds 35 K-Cups in Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RxOP1S">Shop Now at Amazon</a></div>
</div>
