<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span><br /> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>Recommended</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span> + Percentage% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Percentage% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="image"><img src="<%=asset_path 'time.png' %>" alt="out of sold" /></div>
-->

<div class="card clearfix" data-score="36" data-price="719.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MiwrI5"><img src="https://images-na.ssl-images-amazon.com/images/I/718AF7Jl7fL._SY445_.jpg" alt="Apple iPad Pro" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MiwrI5">Apple iPad Pro (10.5-inch, Wi-Fi + Cellular, 512GB) - Silver (Previous Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$719.00</span><span class="ori_price">$1,129.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MiwrI5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="34.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33bfxlD"><img src="https://images-na.ssl-images-amazon.com/images/I/71EJc9H%2Bo3L._UX679_.jpg" alt="FIDELO Minimalist Wallet for Men" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33bfxlD">FIDELO Minimalist Wallet for Men - Slim Credit Card Holder RFID Mens Wallets and Leather Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.90</span><span class="ori_price">$44.90</span>
        <div class="tooltip_common tooltip_orange"><span> + $2.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $2.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33bfxlD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="22.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31W5PmM"><img src="https://images-na.ssl-images-amazon.com/images/I/61dqN2nSr3L._UX679_.jpg" alt="Steampunk Victorian Style Goggles with Compass Design" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31W5PmM">UMBRELLALABORATORY Steampunk Victorian Style Goggles with Compass Design, Colored Lenses & Ocular Loupe</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.97</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31W5PmM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2APWMbi"><img src="https://images-na.ssl-images-amazon.com/images/I/617OFkPCt4L._SX522_.jpg" alt="ClicTime Lego Star Wars Light Up Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2APWMbi">ClicTime Lego Star Wars 9002113 Darth Vader Kids Minifigure Light Up Alarm Clock | Black/Gray | Plastic | 9.5 inches Tall | ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.90</span><span class="ori_price">$30.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2APWMbi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="16.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30T2iEo"><img src="https://images-na.ssl-images-amazon.com/images/I/61NR5KbbbDL._UY741_.jpg" alt="Star Wars Boba Fett and Darth Vader Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30T2iEo">LEGO Kids' 8020813 Star Wars Boba Fett and Darth Vader Watch with Link Bracelet and Minifigure</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.41</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30T2iEo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="11" data-price="399.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LTDqZ6"><img src="https://images-na.ssl-images-amazon.com/images/I/A1YsoeLQChL._SX679_.jpg" alt="Vifa Helsinki Hi-Resolution Bluetooth 4.0 Wireless Portable Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LTDqZ6">Vifa Helsinki Hi-Resolution Bluetooth 4.0 Wireless Portable Speaker - Misty Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.00</span><span class="ori_price">$449.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LTDqZ6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oXi58d"><img src="https://images-na.ssl-images-amazon.com/images/I/519ubzVyYcL._SX425_.jpg" alt="Paladone Rubiks Cube Ceramic Coffee Mug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oXi58d">Paladone Rubiks Cube Ceramic Coffee Mug - Large Novelty Mugs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$12.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oXi58d">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30SKDwX"><img src="https://images-na.ssl-images-amazon.com/images/I/81hOP1xLb6L._SY879_.jpg" alt="Rubies Glow in The Dark Skeleton Child Costume" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30SKDwX">Rubies Glow in The Dark Skeleton Child Costume, Medium, One Color</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.91</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30SKDwX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="37.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30VEwYy"><img src="https://images-na.ssl-images-amazon.com/images/I/61Nk8BwLtnL._SX522_.jpg" alt="Morphsuits Zalgo Kids Monster Urban Legend Costume" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30VEwYy">Morphsuits Zalgo Kids Monster Urban Legend Costume - Large 4'-4'6 / 10-12 Years (120cm - 137cm)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.95</span><span class="ori_price">$47.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30VEwYy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pMNASE"><img src="https://images-na.ssl-images-amazon.com/images/I/81mBvqzOF8L._SX425_.jpg" alt="Campark Touch Screen Remote Control Waterproof Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pMNASE">Campark X20 4K Action Camera 20MP with EIS Touch Screen Remote Control Waterproof Camera 30M 170° Adjustable View Angle 2 Batteries and Accessories Kit Compatible with go pro</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pMNASE">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35dAFti"><img src="https://images-na.ssl-images-amazon.com/images/I/81HfcujnabL._SX679_.jpg" alt="Instant Ace Plus Cooking & Beverage Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35dAFti"><span>Amazon Deal Of The Day:</span>Instant Ace Plus Cooking & Beverage Blender Includes Professional Quality Glass Pitcher with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35dAFti">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="43" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Tbhab"><img src="https://m.media-amazon.com/images/I/71kEOrnty7L._AC_UL320_ML3_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Tbhab"><span>Amazon Deal Of The Day:</span><br /> Save up to 43% on Select OUTBOUND Outdoor Products</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2oVFE14">Outbound Twin Air Mattress</a> - <span>20.99<em>36.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/338laRn">OUTBOUND Large Soft Cooler</a> - <span>17.49<em>24.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2IrXnUG">Outbound Camping Chair</a> - <span>20.99<em>29.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/35frZ5s">Outbound Sleeping Bag</a> - <span>17.49<em>24.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2MnMcNW">Outbound 8-Person Tent</a> - <span>97.99<em>157.99</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Tbhab">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="59" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mi3X1j"><img src="https://images-na.ssl-images-amazon.com/images/I/811eAimJCXL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mi3X1j"><span>Amazon Deal Of The Day:</span><br /> Save up to 59% on Hershey's Halloween Treats</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2obiDY8">Halloween Chocolate Candy Variety Mix</a> - <span>14.66<em>30.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31U5a5w">Halloween Candy Variety Mix</a> - <span>13.61<em>32.40</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2omYOgh">Twizzlers Strawberry Twists (2.5 oz packs, 18 ct. )</a> - <span>12.23<em>29.67</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31ZoU7W">Ice Cubes Sugar Free Gum</a> - <span>4.68<em>6.24</em></span></li>
            <li><a target="_blank" href="https://amzn.to/35clq3D">KIT KAT Chocolate Candy Bars</a> - <span>7.49<em>9.98</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Mi3X1j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oXLOxE"><img src="https://images-na.ssl-images-amazon.com/images/I/71WupjfONDL._SX522_.jpg" alt="PNY U3 Pro Elite MicroSDXC Card" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oXLOxE">PNY U3 Pro Elite MicroSDXC Card - 256GB - (P-SDUX256U395PRO-GE)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$139.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oXLOxE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Xj4Uo"><img src="https://images-na.ssl-images-amazon.com/images/I/71SOvAX4SnL._SY879_.jpg" alt="TP-Link | PCMag Editor's Choice " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Xj4Uo">TP-Link | PCMag Editor's Choice - AC1750 Wifi Range Extender | Up to 1750Mbps | Dual Band, Repeater, Internet Booster, Access Point...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Xj4Uo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OqdtC5"><img src="https://images-na.ssl-images-amazon.com/images/I/810AkkpqgsL._SX425_.jpg" alt="Philips Sonicare Essence Rechargeable Electric Toothbrush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OqdtC5">Philips Sonicare Essence Rechargeable Electric Toothbrush, Mid-Blue HX5611/01</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $5.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $5.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OqdtC5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="19" data-price="64.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Iuhj9q"><img src="https://images-na.ssl-images-amazon.com/images/I/717GtTL53TL._SX425_.jpg" alt="Instant Pot" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Iuhj9q">Instant Pot LUX60V3 V3 6 Qt 6-in-1 Multi-Use Programmable Pressure Cooker, Slow Cooker, Rice Cooker, Sauté, Steamer, and Warmer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.99</span><span class="ori_price">$79.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Iuhj9q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="37.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vj0rYB"><img src="https://images-na.ssl-images-amazon.com/images/I/81ikkUwbXZL._SX679_.jpg" alt="Crock-Pot SCCPMD1-CH Hook Up Connectable Entertaining System" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vj0rYB">Crock-Pot SCCPMD1-CH Hook Up Connectable Entertaining System, Double Oval 1-quart, Metallic Charcoal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.59</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Vj0rYB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="98.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35hHqKP"><img src="https://images-na.ssl-images-amazon.com/images/I/81b63Ck2AiL._UX679_.jpg" alt="Michael Kors Men's Slim Runway Quartz Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35hHqKP">Michael Kors Men's Slim Runway Quartz Watch with Stainless Steel Strap</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$98.98</span><span class="ori_price">$195.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35hHqKP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="87.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31UEtNU"><img src="https://images-na.ssl-images-amazon.com/images/I/61RJ-XqvexL._SX522_.jpg" alt="Android Tablet 10 Inch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31UEtNU">Android Tablet 10 Inch, Android 8.1 Go Unlocked Tablet PC with SIM Card Slots, 3G Phone Support, Quad Core, 1.3GHz, 16GB, 2MP+5MP Dual Camera,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$87.99</span><span class="ori_price">$189.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31UEtNU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2noAoTj"><img src="https://images-na.ssl-images-amazon.com/images/I/81H6DEbZrqL._UY575_.jpg" alt="Clarks Men's Bushacre 2 Chukka Boot" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2noAoTj">Clarks Men's Bushacre 2 Chukka Boot</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$100.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2noAoTj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30LYTaE"><img src="https://images-na.ssl-images-amazon.com/images/I/A1dUEAcmhFL._SX679_.jpg" alt="Spruced Insulated Waxed Canvas Lunch Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30LYTaE">Spruced Insulated Waxed Canvas Lunch Bag for Men, Women | Perfect for Work. Professional, Practical & Stylish | Reusable. Keeps Food Cold....</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30LYTaE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="599.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AMHuUv"><img src="https://images-na.ssl-images-amazon.com/images/I/41GXtpyGJwL.jpg" alt="HP Reverb Virtual Reality Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AMHuUv">HP Reverb Virtual Reality Headset - Professional Edition - for PC - 114° Field of View</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$599.95</span><span class="ori_price">$862.04</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AMHuUv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="30.66">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ANxMRX"><img src="https://images-na.ssl-images-amazon.com/images/I/71a4TxlEdSL._SX425_.jpg" alt="First Alert Combination Smoke and Carbon Monoxide Detector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ANxMRX">First Alert Combination Smoke and Carbon Monoxide Detector with Voice and Location, Battery Operated, SCO7CN</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.66</span><span class="ori_price">$64.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ANxMRX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="23.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LS5lst"><img src="https://images-na.ssl-images-amazon.com/images/I/51gG7d6vLxL._SX522_.jpg" alt="Govee WiFi Water Alarm" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LS5lst">Govee WiFi Water Alarm, Smart APP Leak Alert, Wireless Water Sensor and Alarm with Email, Notification, App Alerts, Remote Monitor Leak ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.46</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LS5lst">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ALelJD"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZFPPV79fL._SX679_.jpg" alt="Huntkey Cubic Surge Protector USB Wall Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ALelJD">Huntkey Cubic Surge Protector USB Wall Adapter with 4 AC Outlets 3 USB Charging Ports (SMC007)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 6% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 6% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ALelJD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LUxXkN"><img src="https://images-na.ssl-images-amazon.com/images/I/71JV84-EM1L._SX425_.jpg" alt="(2 Pack | 180 Pills) Apple Cider Vinegar Capsules w Garcinia Cambogia" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LUxXkN">(2 Pack | 180 Pills) Apple Cider Vinegar Capsules w Garcinia Cambogia -1500mg - ACV Tablets Fiber Supplement - Detox Cleanse Relief,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LUxXkN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="67.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VkHrZz"><img src="https://images-na.ssl-images-amazon.com/images/I/51Ou1wdchBL._SX679_.jpg" alt="VAVA Dash Cam " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VkHrZz">VAVA Dash Cam 2K Wi-Fi Car DVR 2560x1440 30fps Clear QHD Video Dashboard Camera for iOS & Android On-site Instant Social Media Sharing Videos, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$67.99</span><span class="ori_price">$135.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VkHrZz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ANBZoT"><img src="https://images-na.ssl-images-amazon.com/images/I/51p7Hlq7iXL._SX425_.jpg" alt="RINKMO Portable Mini Dehumidifiers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ANBZoT">RINKMO Portable Mini Dehumidifiers for Small Space Up to 1900 Cubic Feet(215 sq ft), Quiet Compact Home Electric Dehumidifier for Kitchen,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ANBZoT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31TfpqJ"><img src="https://images-na.ssl-images-amazon.com/images/I/81UaeFC2KxL._SX522_.jpg" alt="Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31TfpqJ">Laptop Backpack, Durable Anti Theft Business Travel Laptops Backpack for Men Women with USB Charging Port,Water Resistant College School...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31TfpqJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="31.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Ywn5S"><img src="https://images-na.ssl-images-amazon.com/images/I/713UjcRDYZL._SX522_.jpg" alt="USB C Hub" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Ywn5S">USB C Hub, Utaxo 8-in-1 USB C Adapter with 4K@30Hz HDMI, 1Gbps Ethernet Port, 2 USB 3.0 Ports, 1 USB 2.0 Port, SD/TF Card Reader,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.86</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30Ywn5S">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="11.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MnJisN"><img src="https://images-na.ssl-images-amazon.com/images/I/61Rdnqj0yoL._SX679_.jpg" alt="Reacher Small LED Digital Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MnJisN">Reacher Small LED Digital Alarm Clock with Snooze, Simple to Operate, Full Range Brightness Dimmer, Adjustable Alarm Volume, Outlet Powered...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.46</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MnJisN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MwDYDx"><img src="https://images-na.ssl-images-amazon.com/images/I/818paPea9jL._SX679_.jpg" alt="Sabrent 60 Watt (12 Amp) 10-Port" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MwDYDx">Sabrent 60 Watt (12 Amp) 10-Port [UL Certified] Family-Sized Desktop USB Rapid Charger. Smart USB Ports with Auto Detect Technology...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MwDYDx">Shop Now at Amazon</a></div>
</div>