<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="card dealofday clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Amazon Deal Of The Day: Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
       </ul>
       <li><a href="product_link">- SEE MORE</a></li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Product_title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="tooltip_orange">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount width coupon</p>
  </div>
</div> 
-->


<div class="card dealofday clearfix" data-score="67" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZAHkKw"><img src="https://images-na.ssl-images-amazon.com/images/I/81V9jp0LuuL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZAHkKw">Amazon Deal Of The Day: Save up to 67% on Logitech PC Gaming & Productivity</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Mouse</p>
          <ul>
            <li><a href="https://amzn.to/2WRwPp2">Logitech M570 Wireless Trackball Mouse</a> - <span>20.99<em>27.99</em></span></li>
            <li><a href="https://amzn.to/2MZorQ0">Logitech G402 Hyperion Fury FPS Gaming Mouse</a> - <span>19.99<em>59.99</em></span></li>
            <li><a href="Each_Product_link">Logitech MX Anywhere 2 Wireless Mobile Mouse</a> - <span>37.49<em>79.99</em></span></li>
            <li><a href="https://https://amzn.to/2MZiHWu.to/2ZAHkKw">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>Keyboard</p>
          <ul>
            <li><a href="https://amzn.to/2IURqyZ">Logitech MX900 Performance Premium Backlit Keyboard</a> - <span>117.52<em>179.99</em></span></li>
            <li><a href="https://amzn.to/2Fm1vUF">Logitech K350 2.4Ghz Wireless Keyboard</a> - <span>19.98<em>59.99</em></span></li>
            <li><a href="https://amzn.to/2ZAHkKw">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>Headset</p>
          <ul>
            <li><a href="https://amzn.to/2ZwuHQD">RGB 7.1 Dolby and DTS Headphone Surround Sound... </a> - <span>55.20<em>149.99</em></span></li>
            <li><a href="https://amzn.to/2Kttia8">Logitech G933 Artemis Spectrum – Wireless ...</a> - <span>79.99<em>199.99</em></span></li>
            <li><a href="https://amzn.to/2ZxBmtN">Logitech G Pro Gaming Headset with Pro Grade...</a> - <span>59.99<em>89.99</em></span></li>
            <li><a href="https://amzn.to/2ZAHkKw">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZAHkKw">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="44" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZD3Fqz"><img src="https://images-na.ssl-images-amazon.com/images/I/61n5wIZrmIL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZD3Fqz">Amazon Deal Of The Day: Save 44% on Diamond Wedding Bands in Solid Gold</a></p>

    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/2Y05ZYp">Vir Jewels 1/2 cttw Prong Set Diamond Wedding...</a> - <span>261.97<em>349.99</em></span></li>
            <li><a href="https://amzn.to/2Kw5imC">Vir Jewels 1 cttw Diamond Wedding Band 14K White...</a> - <span>399.97<em>719.99</em></span></li>
            <li><a href="https://amzn.to/2ZuKUWm">Vir Jewels 1/2 cttw Diamond Wedding Band in 14K...</a> - <span>261.97<em>399.99</em></span></li>
            <li><a href="https://amzn.to/2ZD3Fqz">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
       
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZD3Fqz">Shop Now at Amazon</a></div>
</div>


<div class="card dealofday clearfix" data-score="45" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FlAvom"><img src="https://images-na.ssl-images-amazon.com/images/I/61xenrdpLvL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FlAvom">Amazon Deal Of The Day: Save up to 45% on ceiling fans</a></p>

    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/2N0xvUF">Honeywell Palm Island 52-Inch Tropical Ceiling Fan</a> - <span>72.99<em>129.00</em></span></li>
            <li><a href="https://amzn.to/2J1h1pY">Honeywell 50603 Eamon Modern Ceiling Fan</a> - <span>89.79<em>119.98</em></span></li>
            <li><a href="https://amzn.to/2Ks8UG7">Honeywell Sabal Palm 52-Inch Tropical Ceiling Fan</a> - <span>104.49<em>189.00</em></span></li>
            <li><a href="https://amzn.to/2FlAvom">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
       
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FlAvom">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XYQXCc"><img src="https://images-na.ssl-images-amazon.com/images/I/91l0jASX1FL._SX522_.jpg" alt="Chef’sChoice 15 Trizor XV EdgeSelect" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,477 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XYQXCc">Chef’sChoice 15 Trizor XV EdgeSelect Professional Electric Knife Sharpener for Straight and Serrated Knives Diamond Abrasives Patented Sharpening...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$150.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XYQXCc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="14.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZ9KXK"><img src="https://images-na.ssl-images-amazon.com/images/I/61AoslohcjL._SX522_.jpg" alt="iPad Pro 11 Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>37 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZ9KXK">iPad Pro 11 Case 2018, [Compatible with Official Smart Cover and Smart Keyboard] i-Blason [Halo V2.0] Clear Hybrid Protective Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.44</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZ9KXK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZxYiZR"><img src="https://images-na.ssl-images-amazon.com/images/I/517ysWkFnxL._SX679_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>393 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZxYiZR">Wireless Earbuds, Tepoinn Bluetooth 5.0 True Wireless Bluetooth Headphones with Built-in Mic, in-Ear Stereo Wireless Earphones</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$35.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZxYiZR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="32.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FxWQiP"><img src="https://images-na.ssl-images-amazon.com/images/I/51qturPr-GL._SX569_.jpg" alt="GRC True Wireless Bluetooth Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>75 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FxWQiP">GRC True Wireless Bluetooth Earbuds in-Ear Stereo Bluetooth 5.0 Headphones Wireless Earphones, 42H Playtime 3D Stereo Sound Wireless Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.00</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FxWQiP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WZEa6k"><img src="https://images-na.ssl-images-amazon.com/images/I/61LTYjh1jDL._SX522_.jpg" alt="Active Noise Cancelling Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WZEa6k">Active Noise Cancelling Bluetooth Headphones, TaoTronics HiFi Stereo Wireless Over Ear Deep Bass Headset w/CVC Noise Canceling Microphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$129.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WZEa6k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="20.61">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FxWWab"><img src="https://images-na.ssl-images-amazon.com/images/I/61K0JjzQzkL._SX679_.jpg" alt="OmniMount OCM On-Wall Cable Management Covers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>678 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FxWWab">OmniMount OCM On-Wall Cable Management Covers, Paintable, Flat Design to Conceal up to 6 Cables, Set of Three, 3.25" x 18" Inches</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.61</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FxWWab">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="449.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y090YR"><img src="https://images-na.ssl-images-amazon.com/images/I/81JiWgGRqxL._SX522_.jpg" alt="ASUS FHD WideView NanoEdge Laptop" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,141 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y090YR">ASUS VivoBook F510UA Thin and Lightweight 15.6” FHD WideView NanoEdge Laptop, Intel Core i5-7200U 2.5GHz, 8GB DDR4 RAM, 1TB HDD, USB Type-C,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$449.99</span><span class="ori_price">$509.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y090YR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ks7ag5"><img src="https://images-na.ssl-images-amazon.com/images/I/81NB80oby4L._SX679_.jpg" alt="Emergency AM/FM/SW Weather Alert Radio" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,964 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ks7ag5">Kaito KA500BU 5-Way Powered Emergency AM/FM/SW Weather Alert Radio, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$79.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ks7ag5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="32.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmFkI7"><img src="https://images-na.ssl-images-amazon.com/images/I/81uUsFoFYqL._SX679_.jpg" alt="Cookware Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>220 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmFkI7">T-fal Ultimate Hard Anodized 2-Piece Scratch Resistant Titanium Nonstick Thermo-Spot PFOA Free 10/12-Inch Cookware Set, Gray, E765S274</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.24</span><span class="ori_price">$42.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XmFkI7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IOILOs"><img src="https://m.media-amazon.com/images/I/41Y7iEbRfVL._AC_UL436_.jpg" alt="Airtight Coffee Canister" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>127 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IOILOs">Airtight Coffee Canister, HOKEKI Stainless Steel Container for the Kitchen, Coffee Ground Vault Jar With One Way Co2 Valve And Scoop,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IOILOs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="145.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MYAmNY"><img src="https://images-na.ssl-images-amazon.com/images/I/51LzfYRxQiL._SX679_.jpg" alt="Philips Hue" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>978 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MYAmNY">Philips Hue White and Color Ambiance A19 60W Equivalent LED Smart Bulb Starter Kit (4 A19 Bulbs and 1 Hub Compatible with Amazon Alexa...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$145.49</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MYAmNY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZD4ZK3"><img src="https://images-na.ssl-images-amazon.com/images/I/71hKzGcTX2L._SX679_.jpg" alt="Disney Pixar Toy Story" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>36 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZD4ZK3">Disney Pixar Toy Story Ultimate Walking Buzz Lightyear, 7"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.49</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZD4ZK3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="44.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XoY2im"><img src="https://images-na.ssl-images-amazon.com/images/I/51Hs57HcHgL.jpg" alt="Lodge Grill" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,424 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XoY2im">Lodge LPGI3 Pro-Grid Cast Iron Reversible 20" x 10" Grill/Griddle Pan with Easy-Grip Handles 10" x 20"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.90</span><span class="ori_price">$88.94</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XoY2im">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWw6zC"><img src="https://images-na.ssl-images-amazon.com/images/I/71WwtkbeepL._SY879_.jpg" alt="BlenderBottle ProStak System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,739 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWw6zC">BlenderBottle ProStak System with 22-Ounce Bottle and Twist n' Lock Storage, All Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.19</span><span class="ori_price">$13.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XWw6zC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="16.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWwUo8"><img src="https://images-na.ssl-images-amazon.com/images/I/81bekFMexeL._SX522_.jpg" alt="Coffeemaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>342 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWwUo8">BLACK+DECKER 5-Cup Coffeemaker, Black, CM0700BZ</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.91</span><span class="ori_price">$19.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XWwUo8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ElkAh"><img src="https://images-na.ssl-images-amazon.com/images/I/71a9UpMysqL._SY879_.jpg" alt="Keurig K-Mini Plus Single Serve" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>888 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ElkAh">Keurig K-Mini Plus Single Serve K-Cup Pod Coffee Maker, with 6 to 12oz Brew Size, Stores up to 9 K-Cup Pods, Travel Mug Friendly, Cardinal Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.76</span><span class="ori_price">$99.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31ElkAh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="40.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZyoNyh"><img src="https://images-na.ssl-images-amazon.com/images/I/71OoifMpDUL._SX679_.jpg" alt="Steel Hollow Handle Block Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,839 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZyoNyh">Cuisinart C77SS-15PK 15-Piece Stainless Steel Hollow Handle Block Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.99</span><span class="ori_price">$46.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZyoNyh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="18.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZAMjuI"><img src="https://images-na.ssl-images-amazon.com/images/I/41aatHiN%2BRL.jpg" alt="Nature's Miracle Oval Hooded Flip Top Litter Box" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,541 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZAMjuI">Nature's Miracle Oval Hooded Flip Top Litter Box w/ Odor Control</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.59</span><span class="ori_price">$32.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZAMjuI">Shop Now at Amazon</a></div>
</div>


