<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button>
</div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
-->

<!-- <div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div> -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="25" data-price="16.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pybCk9"><img src="https://m.media-amazon.com/images/I/619GFEEcCpL._SR400,400_.jpg" alt="Watts Beauty 2.5% Retinol Cream" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pybCk9">Watts Beauty 2.5% Retinol Cream - Anti Aging Retinol Enhanced with Hyaluronic Acid, Vitamin E & Phospholipids - Works Wonders ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.87</span><span class="ori_price">$22.49</span>
        <div class="tooltip_common tooltip_green"><span> + $2.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $2.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25WATTSVIP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $22.49</strong> with promo code: <strong class="m_codes">25WATTSVIP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pybCk9">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="44.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nU6VAZ"><img src="https://m.media-amazon.com/images/I/711bAkSuqQL._SR400,400_.jpg" alt="FactorFive Eye and Lash Cream" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nU6VAZ">FactorFive Eye and Lash Cream with Human Derived Apidose Stem Cell Growth Factors for Anti Aging, Crows Feet Reduction,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.00</span><span class="ori_price">$55.00</span></address>
      <textarea readonly="readonly" class="code_area">20AQGERZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $55.00</strong> with promo code: <strong class="m_codes">20AQGERZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nU6VAZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="6.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pCUppY"><img src="https://m.media-amazon.com/images/I/61EW8RBnwHL._SR400,400_.jpg" alt="Nail Holographic Mirror Powder Aurora Unicorn..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pCUppY">Nail Holographic Mirror Powder Aurora Unicorn Effect Nail DIY Chrome Shell Dust Pigment Art Manicure Decoration 1g×7</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.30</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">55KW91YW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $13.99</strong> with promo code: <strong class="m_codes">55KW91YW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pCUppY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o5xYJz"><img src="https://m.media-amazon.com/images/I/61O2wQLT2ZL._SR400,400_.jpg" alt="USB C to HDMI Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o5xYJz">USB C to HDMI Adapter, LAHYXAL Type C to HDMI Multiport Converter with 4K HDMI Output USB 3.0 and USB C Charging Port Compatible ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.92</span><span class="ori_price">$19.79</span></address>
      <textarea readonly="readonly" class="code_area">60LFIMR9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.79</strong> with promo code: <strong class="m_codes">60LFIMR9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o5xYJz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="20.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nWqhp9"><img src="https://m.media-amazon.com/images/I/51nmv5NfMGL._SR400,400_.jpg" alt="Smart Plug with Energy Monitoring" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nWqhp9">Smart Plug with Energy Monitoring - Aoycocr 15A Wifi Outlet Work with Alexa Google Home IFTTT-4 Pack Mini Socket with Schedule and Timer Function,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.39</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">404LCQ8S</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $33.99</strong> with promo code: <strong class="m_codes">404LCQ8S</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nWqhp9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n99kqU"><img src="https://m.media-amazon.com/images/I/71PM9e95MjL._SR400,400_.jpg" alt="GLOBALWIN Women's Loafer Shoes" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n99kqU">GLOBALWIN Women's Loafer Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50W6SD4Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50W6SD4Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n99kqU">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="15" data-price="16.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nUmGYF"><img src="https://m.media-amazon.com/images/I/61IV1olo0-L._SR400,400_.jpg" alt="Phone Cup Holder for Car" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nUmGYF">Phone Cup Holder for Car, Universal 360° Rotatable Cradle Adjustable Base and Neck Body, Cosorish Cellphone Holder Cradles Mount for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.14</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">15LETKI2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $18.99</strong> with promo code: <strong class="m_codes">15LETKI2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nUmGYF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="19.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o5ZkiH"><img src="https://m.media-amazon.com/images/I/71WR5hvGvtL._SR400,400_.jpg" alt="TLT 14-Inch 15.6 Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o5ZkiH">TLT 14" 15.6 Laptop Backpack, Slim Waterproof College Bookbag With USB Port-Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.54</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">15NIW3TA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $22.99</strong> with promo code: <strong class="m_codes">15NIW3TA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o5ZkiH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oQ7USz"><img src="https://m.media-amazon.com/images/I/71QH2xydOQL._SR400,400_.jpg" alt="Veckle Type C" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oQ7USz">Veckle Type C, USB C 0.5ft Portable Short USB Type C Cable for Samsung Galaxy Note 8 S9 S8 Plus, Google Pixel XL2, HTC U11, Nexus 6P...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40JTLVVI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $12.99</strong> with promo code: <strong class="m_codes">40JTLVVI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oQ7USz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="48.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pvJnTd"><img src="https://m.media-amazon.com/images/I/71fF+6-qJCL._SR400,400_.jpg" alt="YOUNIS Dresser Organizer Cabinet" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pvJnTd">YOUNIS Dresser Organizer Cabinet Drawer Storage with 4 Drawers, Sturdy Steel Frame Storage Shelves, Wood Top Closet Storage,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$48.99</span><span class="ori_price">$69.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30C6D735</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $69.99</strong> with promo code: <strong class="m_codes">30C6D735</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pvJnTd">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="39" data-price="7.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pDfFMi"><img src="https://m.media-amazon.com/images/I/51yTOtItzPL._SR400,400_.jpg" alt="Non-Contact Voltage Tester Lomvum Electric Tester.." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pDfFMi">Non-Contact Voltage Tester Lomvum Electric Tester Pen AC 12V-1000V/48V-1000V Voltage Detector with Flashlight, Alarm Mode & /Null/Live...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.92</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">39OVZYWJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>39% off at $12.99</strong> with promo code: <strong class="m_codes">39OVZYWJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pDfFMi">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nUA1QJ"><img src="https://m.media-amazon.com/images/I/71vSk8wBfHL._SR400,400_.jpg" alt="ABETER Sand Free Beach Mat Blanket Sand Proof..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nUA1QJ">ABETER Sand Free Beach Mat Blanket Sand Proof Magic Sandless Sand Dirt & Dust Disappear Fast Dry Easy to Clean Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">509GCFMO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $21.99</strong> with promo code: <strong class="m_codes">509GCFMO</strong></span></p><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nUA1QJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="53.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pDCyiE"><img src="https://m.media-amazon.com/images/I/6107X2i4zqL._SR400,400_.jpg" alt="Hair Removal For Women & Men" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pDCyiE">Hair Removal For Women & Men, IPL Facial Body 500,000 Flashes Permanent Painless Hair Remover System With 5 Energy Level ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$53.99</span><span class="ori_price">$89.99</span>
        <div class="tooltip_common tooltip_green"><span> + $15.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $15.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40EE32EN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $89.99</strong> with promo code: <strong class="m_codes">40EE32EN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pDCyiE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o5ODg4"><img src="https://m.media-amazon.com/images/I/61juwFnCWHL._SR400,400_.jpg" alt="Blackhead Remover" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o5ODg4">Blackhead Remover, BREYLEE 3 in 1 Blackhead Removing Kit Tea Tree Oil Blackhead Mask Kit Blackhead Solution Kit Face Strips Pore Strips Peeling Mask Set</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">507FH5O9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">507FH5O9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o5ODg4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="6.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nWYSU4"><img src="https://m.media-amazon.com/images/I/61PuQiiZOGL._SR400,400_.jpg" alt="4D Silk Fiber Lash Mascara Waterproof" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nWYSU4">4D Silk Fiber Lash Mascara Waterproof, Longer 4D Mascara, Waterproof Mascara, Adds Length, Depth and Glamour Effortlessly</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.65</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">65GIBHZG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $18.99</strong> with promo code: <strong class="m_codes">65GIBHZG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nWYSU4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pDtAC2"><img src="https://m.media-amazon.com/images/I/51nCMjKhxmL._SR400,400_.jpg" alt="LOHAS A21 Smart LED Light Bulb" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pDtAC2">LOHAS A21 Smart LED Light Bulb, 75W Equivalent Dimmable LED Bulb, Single Color Soft White 3000K, 10W LED E26 Base, 980LM High Brightness Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.19</span><span class="ori_price">$21.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40E8HJ58</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $21.99</strong> with promo code: <strong class="m_codes">40E8HJ58</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pDtAC2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="9.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pzdtVT"><img src="https://m.media-amazon.com/images/I/81NVKcPmNIL._SR400,400_.jpg" alt="ROYALFAIR Hanging Toiletry Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pzdtVT">ROYALFAIR Hanging Toiletry Bag with Durable Hook Roll-Up Make Up Organizer and Travel Bag - 4 Removable Cosmetic Bags Suit for Women (Purple)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.78</span><span class="ori_price">$17.79</span></address>
      <textarea readonly="readonly" class="code_area">45AXKFOQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $17.79</strong> with promo code: <strong class="m_codes">45AXKFOQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 12:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pzdtVT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o58LPi"><img src="https://m.media-amazon.com/images/I/81eaykRgXJL._SR400,400_.jpg" alt="UNIMEIX Makeup Brush Premium 12 Pieces" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o58LPi">UNIMEIX Makeup Brush Premium 12 Pieces Makeup Brushes Set Foundation Powder Contour Concealer Blending Eyeshadow Professional Bursh Set with Floral Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.25</span><span class="ori_price">$8.49</span></address>
      <textarea readonly="readonly" class="code_area">50HVAKE3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.49</strong> with promo code: <strong class="m_codes">50HVAKE3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o58LPi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oOTKB6"><img src="https://m.media-amazon.com/images/I/71PMJdP-jdL._SR400,400_.jpg" alt="LinsnField Milk Frother Handheld Foam Maker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oOTKB6">LinsnField Milk Frother Handheld Foam Maker For Coffee, Latte, Cappuccino, Hot Chocolate, Stainless Steel Stand Included</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">50CKY7L3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.99</strong> with promo code: <strong class="m_codes">50CKY7L3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oOTKB6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oag0FE"><img src="https://m.media-amazon.com/images/I/716j1R4Dm5L._SR400,400_.jpg" alt="Balaclava Ski Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oag0FE">Balaclava Ski Mask- Windproof and Warmer Fleece Cold Weather Face Mask in Winter for Skiing Snowboarding Motorcycling</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.97</span><span class="ori_price">$11.95</span></address>
      <textarea readonly="readonly" class="code_area">50AABQYW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.95</strong> with promo code: <strong class="m_codes">50AABQYW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oag0FE">Use Code at Amazon</a></div>
</div>


