<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->

<div class="card clearfix" data-score="70" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31L2Tcb"><img src="https://images-na.ssl-images-amazon.com/images/I/71ATvj67MSL._SX522_.jpg" alt="Pronexa Hairgenics Lavish Lash" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31L2Tcb">Pronexa Hairgenics Lavish Lash - Eyelash Growth Enhancer & Brow Serum with Biotin & Natural Growth Peptides for Long,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31L2Tcb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="17.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYUwNv"><img src="https://images-na.ssl-images-amazon.com/images/I/71w4w-oqE%2BL._SX522_.jpg" alt="Radha Beauty Aromatherapy Top 8 Essential Oils" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYUwNv">Radha Beauty Aromatherapy Top 8 Essential Oils 100% Pure & Therapeutic Grade - Basic Sampler Gift Set & Kit...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.95</span><span class="ori_price">$26.57</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YYUwNv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="9.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31JJngd"><img src="https://images-na.ssl-images-amazon.com/images/I/41n8MDJk7aL._SY679_.jpg" alt="Foundation Makeup Brush Flat Top Kabuki" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31JJngd">Foundation Makeup Brush Flat Top Kabuki for Face - Perfect For Blending Liquid, Cream or Flawless Powder Cosmetics...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.95</span><span class="ori_price">$24.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31JJngd">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="44" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZcCQsW"><img src="https://images-na.ssl-images-amazon.com/images/I/91AahLR2E7L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZcCQsW"><span>Amazon Deal Of The Day:</span> Save up to 44% on Bentgo Back to School Lunch Boxes</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2ZcAOcj">Bentgo Fresh 3-Meal Prep Pack - Versatile Compartment...</a> - <span>27.99<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2YVz2kk">Bentgo Kids Childrens Lunch Box</a> - <span>17.99<em>27.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/33DRnBg">Bentgo Lunch Bag (Purple) - Insulated Lunch Tote</a> - <span>17.99<em>24.99</em></span></li>
            <li><a href="https://amzn.to/2ZcCQsW">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZcCQsW">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="45" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31JHnEJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71m0qx96RYL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31JHnEJ"><span>Amazon Deal Of The Day:</span> Save 45% on Sleep Innovations Mattress Toppers</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2ZbHqY8">(Queen Size) Sleep Innovations Gel Memory Foam 4-inch Dual Layer Mattress Topper</a> - <span>110.49<em>199.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Zgm5x6">(California King Size) Sleep Innovations Gel Memory Foam 4-inch Dual Layer Mattress Topper</a> - <span>131.99<em>177.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2KWoQOT">(Full Size) Sleep Innovations Gel Memory Foam 4-inch Dual Layer Mattress Topper</a> - <span>102.39<em>182.99</em></span></li>
            <li><a href="https://amzn.to/31JHnEJ">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31JHnEJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="346.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z2fo74"><img src="https://images-na.ssl-images-amazon.com/images/I/5123FA6TGDL._SX522_.jpg" alt="HP 2019 Newest Premium 15.6-inch HD Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z2fo74">HP 2019 Newest Premium 15.6-inch HD Laptop, AMD A6-9225 Dual-Core 2.6 GHz, 8GB RAM, 1TB HDD, AMD Radeon R4, WiFi,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$346.95</span><span class="ori_price">$699.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z2fo74">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="311.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HdxrvD"><img src="https://images-na.ssl-images-amazon.com/images/I/71jL1pMWHsL._SX522_.jpg" alt="Newest HP High Performance 15.6” HD Touch-Screen" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HdxrvD">Newest HP High Performance 15.6” HD Touch-Screen Notebook Computer with Intel Pentium N5000 Processor, 4GB_RAM, 1TB Hard Drive,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$311.75</span><span class="ori_price">$699.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HdxrvD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="373.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31RGL05"><img src="https://images-na.ssl-images-amazon.com/images/I/71qVOM%2BlgnL._SX522_.jpg" alt="Apple MacBook Pro MD101LL/A 13.3-inch Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31RGL05">Apple MacBook Pro MD101LL/A 13.3-inch Laptop (2.5Ghz, 4GB RAM, 500GB HD) (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$373.77</span><span class="ori_price">$1,199.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31RGL05">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="139.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HRj1q"><img src="https://images-na.ssl-images-amazon.com/images/I/71A5D8rNfCL._SX425_.jpg" alt="Hoover Power Scrub Deluxe Carpet Cleaner Machine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HRj1q">Hoover Power Scrub Deluxe Carpet Cleaner Machine, Upright Shampooer, FH50150, Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$139.99</span><span class="ori_price">$219.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31HRj1q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/91qmf3L3-XL._SX679_.jpg" alt="Cuisinart 5-in-1 Griddler" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Cuisinart 5-in-1 Griddler, GR-4N, Silver/Black Dials</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$74.48</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="49.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KFubuR"><img src="https://images-na.ssl-images-amazon.com/images/I/815qi0FmN7L._SX679_.jpg" alt="NutriBullet NBR-1201 12-Piece High-Speed Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KFubuR">NutriBullet NBR-1201 12-Piece High-Speed Blender/Mixer System, Gray (600 Watts)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.88</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KFubuR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KDRaGS"><img src="https://images-na.ssl-images-amazon.com/images/I/71-Xr5c8JuL._SX425_.jpg" alt="Hamilton Beach Personal Smoothie Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KDRaGS">Hamilton Beach Personal Smoothie Blender with 14 oz Travel Cup and Lid, Raspberry 51131</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$16.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KDRaGS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="32.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YWEmEk"><img src="https://images-na.ssl-images-amazon.com/images/I/71tGPM41E1L._SY679_.jpg" alt="Crane Humidifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YWEmEk">Crane Humidifier, Ultrasonic Cool Mist Humidifiers, Filter-Free, 1 Gallon, for Home Bedroom Baby Nursery and Office, Blue and White </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.22</span><span class="ori_price">$42.68</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YWEmEk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="26.03">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33LlfvN"><img src="https://images-na.ssl-images-amazon.com/images/I/51VmSj9w5qL._SX425_.jpg" alt="Lasko 4000 Air Stik Ultra-Slim Oscillating Fan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33LlfvN">Lasko 4000 Air Stik Ultra-Slim Oscillating Fan</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.03</span><span class="ori_price">$33.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33LlfvN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="148.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z7f5I8"><img src="https://images-na.ssl-images-amazon.com/images/I/51jAJai8bBL._SX522_.jpg" alt="NETGEAR Nighthawk Smart WiFi Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z7f5I8">NETGEAR Nighthawk Smart WiFi Router (R7000) - AC1900 Wireless Speed (up to 1900 Mbps) | Up to 1800 sq ft Coverage...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$148.64</span><span class="ori_price">$189.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z7f5I8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KHqncF"><img src="https://images-na.ssl-images-amazon.com/images/I/51OoQZPGVgL._SX522_.jpg" alt="First Alert 1038789 Standard Home Fire Extinguisher" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KHqncF">First Alert 1038789 Standard Home Fire Extinguisher, Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$32.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KHqncF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="41.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zaye6G"><img src="https://images-na.ssl-images-amazon.com/images/I/71Jmpf0gxlL._SX522_.jpg" alt="Furinno 12095GYW Econ Multipurpose Home Office ..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zaye6G">Furinno 12095GYW Econ Multipurpose Home Office Computer Writing Desk with Bin, French Oak Grey, French Oak Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$41.10</span><span class="ori_price">$76.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zaye6G">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zcxrlo"><img src="https://images-na.ssl-images-amazon.com/images/I/71FDncK2KgL._SX679_.jpg" alt="Joseph Joseph 85133 Surface Sink Caddy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zcxrlo">Joseph Joseph 85133 Surface Sink Caddy Stainless Steel Sponge Holder Organizer Tidy Drains Water for Kitchen, Small, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$17.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zcxrlo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="14.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KFuvK5"><img src="https://images-na.ssl-images-amazon.com/images/I/91nfNLRetKL._UX679_.jpg" alt="Samsonite Classic Business Tablet/iPad Shuttle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KFuvK5">Samsonite Classic Business Tablet/iPad Shuttle</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.95</span><span class="ori_price">$25.18</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KFuvK5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TFB2rf"><img src="https://images-na.ssl-images-amazon.com/images/I/61u0ngwtIlL._SX522_.jpg" alt="Panasonic Electric Shaver for Women" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TFB2rf">Panasonic Electric Shaver for Women, Cordless 3 Blade Razor, Pop-Up Trimmer, Close Curves, Wet Dry Operation</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TFB2rf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KDSslc"><img src="https://images-na.ssl-images-amazon.com/images/I/61X3chvyPuL._SY679_.jpg" alt="Thayers Alcohol-free Rose Petal Witch Hazel with Aloe Vera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KDSslc">Thayers Alcohol-free Rose Petal Witch Hazel with Aloe Vera, 12 oz (Package may vary)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.00</span><span class="ori_price">$11.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KDSslc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z7ENvY"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZXCjRAbRL._SX522_.jpg" alt="Oral-B White Pro 1000 Power Rechargeable Electric Toothbrush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z7ENvY">Oral-B White Pro 1000 Power Rechargeable Electric Toothbrush, Powered by Braun</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.94</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z7ENvY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KE1jmU"><img src="https://images-na.ssl-images-amazon.com/images/I/81CxaFc%2BgQL._SX522_.jpg" alt="PURA D'OR Original Gold Label Anti-Thinning Shampoo" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KE1jmU">PURA D'OR Original Gold Label Anti-Thinning Shampoo Clinically Tested, Infused with Argan Oil, Biotin & Natural Ingredients,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.00</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KE1jmU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="7.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NfwWVl"><img src="https://images-na.ssl-images-amazon.com/images/I/812-3P7jKsL._SX522_.jpg" alt="O'Keeffe's for Healthy Feet Foot Cream, 3.2 Ounce" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NfwWVl">O'Keeffe's for Healthy Feet Foot Cream, 3.2 Ounce</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.29</span><span class="ori_price">$13.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NfwWVl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KQjCEl"><img src="https://images-na.ssl-images-amazon.com/images/I/810AkkpqgsL._SX522_.jpg" alt="Philips Sonicare Essence Sonic Rechargeable Toothbrush, White" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KQjCEl">Philips Sonicare Essence Sonic Rechargeable Toothbrush, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KQjCEl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NeuCOu"><img src="https://images-na.ssl-images-amazon.com/images/I/71knG37BDWL._SX522_.jpg" alt="Pura D’Or Organic Moroccan Argan Oil" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NeuCOu">Pura D’Or Organic Moroccan Argan Oil (4oz) Usda Certified 100% Pure Cold Press Virgin Premium Grade Moisturizer Treatment ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NeuCOu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z5YizG"><img src="https://images-na.ssl-images-amazon.com/images/I/A1f%2BiibgRuL._SX522_.jpg" alt="Pure Body Naturals Dead Sea Mud Mask" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z5YizG">Pure Body Naturals Dead Sea Mud Mask for Face and Body, Purifying Face Mask for Acne, Blackheads, and Oily Skin, 8.8 Ounce </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$39.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z5YizG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="199.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KHrlpj"><img src="https://images-na.ssl-images-amazon.com/images/I/814fSnCl0eL._SX522_.jpg" alt="Braun Series 7 790cc-4 Electric Foil Shaver" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KHrlpj">Braun Series 7 790cc-4 Electric Foil Shaver with Clean&Charge Station, 1 Count </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.94</span><span class="ori_price">$289.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KHrlpj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YWZyKr"><img src="https://images-na.ssl-images-amazon.com/images/I/61rGNIOL9QL._SX522_.jpg" alt="Garnier SkinActive Micellar Cleansing Water" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YWZyKr">Garnier SkinActive Micellar Cleansing Water, For Waterproof Makeup, 13.5 Ounce </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.59</span><span class="ori_price">$8.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YWZyKr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="12.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z3jvQl"><img src="https://images-na.ssl-images-amazon.com/images/I/81hscxOvYpL._SX425_.jpg" alt="Zeppoli Wash Cloth Kitchen Towels" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z3jvQl">Zeppoli Wash Cloth Kitchen Towels, 24-Pack, 100% Natural Cotton Bath Towels, 12 x 12 Hand Towels, Commercial Grade Washcloth,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.69</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z3jvQl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zaz5nU"><img src="https://images-na.ssl-images-amazon.com/images/I/9178njhFUOL._SX679_.jpg" alt="Imperia Pasta Maker Machine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zaz5nU">Imperia Pasta Maker Machine - Heavy Duty Steel Construction w Easy Lock Dial and Wood Grip Handle- Model 150 Made in Italy</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.99</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zaz5nU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZdikrW"><img src="https://images-na.ssl-images-amazon.com/images/I/61kcmU%2Bh3sL._SX679_.jpg" alt="Etekcity Smart Light WiFi Dimmable Soft White LED Bulbs" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZdikrW">Etekcity Smart Light WiFi Dimmable Soft White LED Bulbs, Work with Alexa, Google Home and IFTTT, Easy Setup Schedule,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZdikrW">Shop Now at Amazon</a></div>
</div>
