<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->


<div class="card dealofday clearfix" data-score="38" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXTo5e"><img src="https://images-na.ssl-images-amazon.com/images/I/81bBcXqJA0L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXTo5e"><span>Amazon Deal Of The Day:</span> Save up to 38% on LG Monitors</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2YIrUbb">LG 34WK650-W 34" UltraWide 21:9 IPS Monitor</a> - <span>249.99<em>399.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31zJwTC">LG 32QK500-W 32-Inch QHD (2560 X 1440) IPS Monitor</a> - <span>222.99<em>299.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2KsZ3yM">LG 24MP88HV-S 24-Inch IPS Monitor </a> - <span>149.99<em>215.60</em></span></li>
            <li><a href="https://amzn.to/2MXTo5e">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MXTo5e">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="70" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIfm3A"><img src="https://images-na.ssl-images-amazon.com/images/I/81Oj14WyEML._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIfm3A"><span>Amazon Deal Of The Day:</span> Save up to 70% on select Back to School essentials from Crayola</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/31vMNmF">Crayola Fine Line Markers</a> - <span>29.09<em>97.93</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31Ab2A2">Crayola Washable Gel Pens</a> - <span>4.76<em>9.99</em></span></li>
            <li><a target="_blank" href="Product_link">Crayola Bulk Construction Paper</a> - <span>10.90<em>18.19</em></span></li>
            <li><a href="https://amzn.to/https://amzn.to/31C7flN">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YIfm3A">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KvTvDL"><img src="https://images-na.ssl-images-amazon.com/images/I/91E3AyXEMBL._SX522_.jpg" alt="Dell 24 Inch Gaming Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KvTvDL">Dell 24 Inch Gaming Monitor, 1ms response time, 144Hz AMD FreeSync</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.99</span><span class="ori_price">$229.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KvTvDL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="149.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YU99N6"><img src="https://images-na.ssl-images-amazon.com/images/I/61oUePCAG7L._SX522_.jpg" alt="Bose Soundwear Companion Wireless Wearable Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YU99N6">Bose Soundwear Companion Wireless Wearable Speaker - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.00</span><span class="ori_price">$299.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YU99N6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="6.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H1oCVs"><img src="https://images-na.ssl-images-amazon.com/images/I/91f9w01rrsL._SX522_.jpg" alt="Germany, France, Schuko Power Plug Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H1oCVs">Germany, France, Schuko Power Plug Adapter by OREI with 2 USA Inputs - Travel 3 Pack- Type E/F (US-9) Safe Grounded Use with Cell Phones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.06</span><span class="ori_price">$11.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H1oCVs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="37.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIBSJu"><img src="https://images-na.ssl-images-amazon.com/images/I/71-nSCQ55JL._SX425_.jpg" alt="Maytag M400 Speed Heat Steam Iron" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIBSJu">Maytag M400 Speed Heat Steam Iron & Vertical Steamer with Stainless Steel Sole Plate, Self Cleaning Function + Thermostat Dial</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.39</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YIBSJu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KuJV43"><img src="https://images-na.ssl-images-amazon.com/images/I/81Zlj8GTY1L._SX522_.jpg" alt="ZAGG Folio Hinged Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KuJV43">ZAGG Folio Hinged Case with non-Backlit Keyboard for Apple iPad Air - Sage</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.00</span><span class="ori_price">$89.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KuJV43">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="14.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YTHcF6"><img src="https://images-na.ssl-images-amazon.com/images/I/61TNWOlgB7L._SX679_.jpg" alt="Belkin Boost Up Car Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YTHcF6">Belkin Boost Up Car Charger with 4-Foot Coiled Micro USB Cable (17 Watt / 3.4 Amp)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.29</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YTHcF6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="399.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Anyjf"><img src="https://images-na.ssl-images-amazon.com/images/I/71j0ZDnUEsL._SY679_.jpg" alt="LG V35 ThinQ with Alexa Hands-Free" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Anyjf">LG V35 ThinQ with Alexa Hands-Free – Prime Exclusive Phone – Unlocked – 64 GB – Aurora Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.99</span><span class="ori_price">$899.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Anyjf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31EmlYl"><img src="https://images-na.ssl-images-amazon.com/images/I/51j-rJEfa7L._SX679_.jpg" alt="Takeya Actives Insulated Stainless Water Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31EmlYl">Takeya Actives Insulated Stainless Water Bottle with Insulated Spout Lid, 18oz, Midnight</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.79</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31EmlYl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="8.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31u1hU0"><img src="https://images-na.ssl-images-amazon.com/images/I/81szA%2B8ThGL._UX679_.jpg" alt="adidas Youth Parma 16 Shorts" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31u1hU0">adidas Youth Parma 16 Shorts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.43</span><span class="ori_price">$16.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31u1hU0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="16.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KInQ0y"><img src="https://images-na.ssl-images-amazon.com/images/I/61jXUgKI-XL._UY679_.jpg" alt="adidas Men's Sport Performance ClimaCool Boxer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KInQ0y">adidas Men's Sport Performance ClimaCool Boxer Brief Underwear (2 Pack)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.16</span><span class="ori_price">$21.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KInQ0y">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="10.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33vymRh"><img src="https://images-na.ssl-images-amazon.com/images/I/71o6sL0LRBL._SX679_.jpg" alt="Incipio IPH-1477-PKC Stowaway " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33vymRh">Incipio IPH-1477-PKC Stowaway for iPhone 8 & iPhone 7 - Pink/Charcoal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.50</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33vymRh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yRPB19"><img src="https://images-na.ssl-images-amazon.com/images/I/61UhSXCI8PL._SX679_.jpg" alt="Samsung Wireless Charger DUO" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yRPB19">Samsung Wireless Charger DUO, Fast Charge Stand & Pad, Universally Compatible with Qi Enabled Phones and...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$61.19</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yRPB19">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H2jn7Z"><img src="https://images-na.ssl-images-amazon.com/images/I/71t%2BeSh4KyL._SX679_.jpg" alt="Marshall Mid Bluetooth Wireless On-Ear Headphone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H2jn7Z">Marshall Mid Bluetooth Wireless On-Ear Headphone, Black (04091742)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$179.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H2jn7Z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KtfomS"><img src="https://images-na.ssl-images-amazon.com/images/I/61x9ZAowcuL._SX679_.jpg" alt="Maars Drinkware 79700-1PK Townie Insulated Coffee Mug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KtfomS">Maars Drinkware 79700-1PK Townie Insulated Coffee Mug, 1 Pack, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$11.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KtfomS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="11.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z3oRtc"><img src="https://images-na.ssl-images-amazon.com/images/I/71YL04ah7rL._SY679_.jpg" alt="Best Naturals Hyaluronic Acid" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z3oRtc">Best Naturals Hyaluronic Acid 100 mg 120 Capsules - Support Healthy Joints and Youthful Skin </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.46</span><span class="ori_price">$15.29</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z3oRtc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H0GNe0"><img src="https://images-na.ssl-images-amazon.com/images/I/611hKLZshoL._SX522_.jpg" alt="HP OfficeJet 3830 All-in-One Wireless Printer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H0GNe0">HP OfficeJet 3830 All-in-One Wireless Printer, HP Instant Ink & Amazon Dash Replenishment ready (K7V40A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.89</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H0GNe0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="45.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KEggnG"><img src="https://images-na.ssl-images-amazon.com/images/I/712kBtTDt7L._SY879_.jpg" alt="WD Blue 1TB PC Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KEggnG">WD Blue 1TB PC Hard Drive - 7200 RPM Class, SATA 6 Gb/s, 64 MB Cache, 3.5" - WD10EZEX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.87</span><span class="ori_price">$109.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KEggnG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YItObM"><img src="https://images-na.ssl-images-amazon.com/images/I/61OBcHa4VmL._SY741_.jpg" alt="APC 11-Outlet Surge Protector Power Strip" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YItObM">APC 11-Outlet Surge Protector Power Strip with USB Charging Ports, 2880 Joules, SurgeArrest Home/Office (P11U2)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YItObM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXCsMw"><img src="https://images-na.ssl-images-amazon.com/images/I/81-P2nggl0L._SX679_.jpg" alt="Logitech G533 Wireless Gaming Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXCsMw">Logitech G533 Wireless Gaming Headset – DTS 7.1 Surround Sound – Pro-G Audio Drivers</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MXCsMw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TnUtEM"><img src="https://images-na.ssl-images-amazon.com/images/I/41tC5R%2B7b7L._SY879_.jpg" alt="Logitech G403 Prodigy RGB Gaming Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TnUtEM">Logitech G403 Prodigy RGB Gaming Mouse – 16.8 Million Color Backlighting, 6 Programmable Buttons, Onboard Memory, Up to 12,000 DPI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TnUtEM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="16.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YY0Q2I"><img src="https://images-na.ssl-images-amazon.com/images/I/71f4-xIAACL._SX679_.jpg" alt="SanDisk High Endurance Video Monitoring Card" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YY0Q2I">SanDisk High Endurance Video Monitoring Card with Adapter 64GB (SDSDQQ-064G-G46A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.40</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YY0Q2I">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H1dLLf"><img src="https://images-na.ssl-images-amazon.com/images/I/81IMmEBnDiL._AC_SX215_.jpg" alt="Assassin's Creed III: Remastered" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H1dLLf">Assassin's Creed III: Remastered - Xbox One by Ubisoft</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H1dLLf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="359.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z39UmR"><img src="https://images-na.ssl-images-amazon.com/images/I/41hPcchLoVL.jpg" alt="G-Technology 2TB G-DRIVE mobile SSD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z39UmR">G-Technology 2TB G-DRIVE mobile SSD Durable Portable External Storage - USB-C (USB 3.1 Gen 2) - 0G06054</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$359.99</span><span class="ori_price">$749.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z39UmR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="120.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YXk4cW"><img src="https://images-na.ssl-images-amazon.com/images/I/710H5Yt7D7L._SX425_.jpg" alt="Hoover React Professional Pet Plus Bagless Upright Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YXk4cW">Hoover React Professional Pet Plus Bagless Upright Vacuum Cleaner, for Dog and Cat, with 30ft. Power Cord, UH73220PC, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$120.99</span><span class="ori_price">$239.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YXk4cW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KuN1VJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71MTGzpS3xL._SX425_.jpg" alt="Mini Table Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KuN1VJ">Starfrit 060777-006-GREE Mushroon Design Mini Table Cleaner/Vacuum, Green</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$27.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KuN1VJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="45.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33tkc38"><img src="https://images-na.ssl-images-amazon.com/images/I/61nK5Oifs5L._SX522_.jpg" alt="OtterBox DEFENDER SERIES Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33tkc38">OtterBox DEFENDER SERIES Case for iPad Pro9.7" VERSION - Retail Packaging - BLACK</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.05</span><span class="ori_price">$89.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33tkc38">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YVqUM5"><img src="https://images-na.ssl-images-amazon.com/images/I/71qNsDlUZ%2BL._SX679_.jpg" alt="Linksys Dual-Band Wifi Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YVqUM5">Linksys Dual-Band Wifi Router for Home (Max-Stream AC1900 MU-Mimo Fast Wireless Router)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$152.62</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YVqUM5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="5.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Ibxsf"><img src="https://images-na.ssl-images-amazon.com/images/I/81SxF3Pv59L._SY741_.jpg" alt="Corded Reusable Earplug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Ibxsf">3M 90716-80025T Corded Reusable Earplug, 3-Pair with Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.97</span><span class="ori_price">$20.92</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Ibxsf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="78" data-price="3.56">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z2aZeO"><img src="https://images-na.ssl-images-amazon.com/images/I/71aptCQ35BL._SX425_.jpg" alt="IRIS USA, Inc. LLB-8D CLR/Silver 8PK" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z2aZeO">IRIS USA, Inc. LLB-8D CLR/Silver 8PK (Import) IRIS Layered Latch Box, Clear, Extra Small,</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.56</span><span class="ori_price">$16.32</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z2aZeO">Shop Now at Amazon</a></div>
</div>
