<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="15" data-price="31.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YPViHL"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZxMxcaY1L._SX679_.jpg" alt="PopBabies Portable Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YPViHL">PopBabies Portable Blender, Personal Blender with USB Rechargeable Small Blender for Shakes and Smoothies, Stronger and...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.44</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">15SO6IGL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $36.99</strong> with promo code: <strong class="m_codes">15SO6IGL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YPViHL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YKkoaR"><img src="https://m.media-amazon.com/images/I/71ZND0QfOVL._SR400,400_.jpg" alt="Luckyfine Aloe Vera Essence for Face" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YKkoaR">Luckyfine Aloe Vera Essence for Face, Natural 92% Aloe Vera & 7% Hyaluronic Acid, Soothing & Moisture for Acne, Sunburn, Itchy, Dry Skin, Facial...  </a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.98</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40VSPUOP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $12.98</strong> with promo code: <strong class="m_codes">40VSPUOP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YKkoaR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YRjU2Q"><img src="https://m.media-amazon.com/images/I/71kSz8d9-BL._SR400,400_.jpg" alt="Women Backpack Purse" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YRjU2Q">Women Backpack Purse Nylon Covertible Designer Ladies Lightweight Fashion Travel Shoulder Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$35.98</span></address>
      <textarea readonly="readonly" class="code_area">50PI1W3E</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $35.98</strong> with promo code: <strong class="m_codes">50PI1W3E</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YRjU2Q">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="20.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GSm7ER"><img src="https://m.media-amazon.com/images/I/61XufrK6nDL._SR400,400_.jpg" alt="BOSTANTEN Women Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GSm7ER">BOSTANTEN Women Backpack Purses Water Resistant Backpacks Nylon Light Weight Travel Bags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.10</span><span class="ori_price">$66.99</span></address>
      <textarea readonly="readonly" class="code_area">70JAAJ1Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $66.99</strong> with promo code: <strong class="m_codes">70JAAJ1Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GSm7ER">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="27.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kys1fd"><img src="https://m.media-amazon.com/images/I/614rqgdv7bL._SR400,400_.jpg" alt="USB Touch Control Table Lamp" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kys1fd">USB Touch Control Table Lamp - Moobibear Minimalist Bedside Desk Lamp with Cylinder Lamp Shade, Dimmable Modern Ambient...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.74</span><span class="ori_price">$36.99</span>
         <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25PT5VZL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $36.99</strong> with promo code: <strong class="m_codes">25PT5VZL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Kys1fd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YrksRv"><img src="https://m.media-amazon.com/images/I/61hZdVB8USL._SR400,400_.jpg" alt="Toptheway Replacement Brush Heads" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YrksRv">Toptheway Replacement Brush Heads Compatible with Braun Oral B Floss Action Electric Toothbrush Pro 1000 Pro 3000 Vitality Pro 500 OralB, 8 Pack </a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">602KBBK5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $9.99</strong> with promo code: <strong class="m_codes">602KBBK5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YrksRv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="16.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yu1E43"><img src="https://m.media-amazon.com/images/I/6143eP87IyL._SR400,400_.jpg" alt="sincetop Compatible with Apple Watch Charging Stand" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yu1E43">sincetop Compatible with Apple Watch Charging Stand, Aluminum Stand for iPhone and Apple Watch Charging Station for Apple...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.89</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35A7ZBEO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $25.99</strong> with promo code: <strong class="m_codes">35A7ZBEO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yu1E43">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="8.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MJpXUK"><img src="https://m.media-amazon.com/images/I/71OwOC0xX8L._SR400,400_.jpg" alt="Zeagoo Dress" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MJpXUK">Zeagoo Women 3/4 Sleeve Patchwork A-Line Floral Print Swing Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.89</span><span class="ori_price">$29.65</span></address>
      <textarea readonly="readonly" class="code_area">70T2Y9J9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $29.65</strong> with promo code: <strong class="m_codes">70T2Y9J9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MJpXUK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="4.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GNgdos"><img src="https://m.media-amazon.com/images/I/71pODGJw6PL._SR400,400_.jpg" alt="Aomoband Floral Bands" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GNgdos">Aomoband Floral Bands Compatible with Apple Watch 38mm 42mm 40mm 44mm, Soft Silicone Pattern Printed Replacements Straps...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.20</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">651ZV53L</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $11.99</strong> with promo code: <strong class="m_codes">651ZV53L</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GNgdos">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/338qtRI"><img src="https://m.media-amazon.com/images/I/61jJhieXijL._SR400,400_.jpg" alt="1Mii Long Range Bluetooth 5.0 Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/338qtRI">1Mii Long Range Bluetooth 5.0 Headphones with aptx Low Latency, Bluetooth Headphones for TV Watching, Wireless On Ear Headphones with Mic,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40ACJ1VN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40ACJ1VN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/338qtRI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YJ70DK"><img src="https://m.media-amazon.com/images/I/51MVFVBv-bL._SR400,400_.jpg" alt="10000mAh Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YJ70DK">10000mAh Portable Charger, top4cus 2.1A Ultra-Slim Compact External Battery Power Bank LCD Digital Dual USB Ports...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">30TOP4CUS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $29.99</strong> with promo code: <strong class="m_codes">30TOP4CUS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YJ70DK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31n7Xn8"><img src="https://m.media-amazon.com/images/I/51efSEeo9XL._SR400,400_.jpg" alt="Linklike True Wireless Earbuds Bluetooth" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31n7Xn8">Linklike True Wireless Earbuds Bluetooth 5.0 in-Ear Earphones, Quad Drivers for Pop/Electronic Music and Vocals,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.99</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">40LINKLIKE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $79.99</strong> with promo code: <strong class="m_codes">40LINKLIKE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31n7Xn8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="12.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31n1Y1v"><img src="https://m.media-amazon.com/images/I/61XfqDWxayL._SR400,400_.jpg" alt="Bluetooth Car Speakerphone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31n1Y1v">Bluetooth Car Speakerphone, VICOODA Wireless Bluetooth Hands-Free Speaker Car Kit with Visor Clip Built-in Mic Music Player, Magnet Adsorption</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.41</span><span class="ori_price">$20.69</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40X5GVBC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $20.69</strong> with promo code: <strong class="m_codes">40X5GVBC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31n1Y1v">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="5.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIylWN"><img src="https://m.media-amazon.com/images/I/71+vypuXprL._SR400,400_.jpg" alt="Cell Phone Stand, LOBKIN Metal PhoneTablet Cradle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIylWN">Cell Phone Stand, LOBKIN Metal PhoneTablet Cradle, Holder, Stand,for iPhone 8 X 7 6 6s Plus 5 5s 5c Charging, Accessories Desk,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.60</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">72H19CMK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>72% off at $19.99</strong> with promo code: <strong class="m_codes">72H19CMK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YIylWN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31mguGU"><img src="https://m.media-amazon.com/images/I/61GsTcU-dsL._SR400,400_.jpg" alt="KONSANY Neckband Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31mguGU">KONSANY Neckband Bluetooth Headphones with CVC 6.0 Noise Cancelling Microphone, Lightweight Extra Bass HD Stereo Sports Cycling...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.00</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">50QQ2YZW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $33.99</strong> with promo code: <strong class="m_codes">50QQ2YZW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31mguGU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLdXnT"><img src="https://m.media-amazon.com/images/I/61gxvTQycEL._SR400,400_.jpg" alt="WECODO Slim Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLdXnT">WECODO Slim Portable Charger 5000mAh Power Bank Built-in Cable Pocket External Battery Pack with LED Indicator ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.19</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30ATERBM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $15.99</strong> with promo code: <strong class="m_codes">30ATERBM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YLdXnT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YHD1fl"><img src="https://m.media-amazon.com/images/I/61GwLdmh2JL._SR400,400_.jpg" alt="Wireless Charger Headphone Stand" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YHD1fl">Wireless Charger Headphone Stand 2 in 1, Siroflo 10W Fast Charging Pad & Detachable Headset Holder, Aeronautical Material Ensures...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">705USSP2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $23.99</strong> with promo code: <strong class="m_codes">705USSP2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 06, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YHD1fl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YO0jR7"><img src="https://m.media-amazon.com/images/I/71iz9no0dFL._SR400,400_.jpg" alt="Homestec 10-Inch LCD Writing Tablet" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YO0jR7">Homestec 10-Inch LCD Writing Tablet-Can Be Used as Office Whiteboard Bulletin Board Kitchen Memo Notice Fridge Board Large Daily Planner ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.98</span></address>
      <textarea readonly="readonly" class="code_area">50AWF1M5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $18.98</strong> with promo code: <strong class="m_codes">50AWF1M5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YO0jR7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="29.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31uXzKb"><img src="https://m.media-amazon.com/images/I/81hutHi3f6L._SR400,400_.jpg" alt="Lunch Box Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31uXzKb">Lunch Box Backpack, 15.6 Inch Laptop Backpack for Men Women with USB Charging Port, TSA Friendly Laptop Bag Fit 15.6 in Laptops,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.59</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">20NZEGAL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $36.99</strong> with promo code: <strong class="m_codes">20NZEGAL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31uXzKb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kz5tem"><img src="https://m.media-amazon.com/images/I/81misax8Z8L._SR400,400_.jpg" alt="Anti Theft Business Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kz5tem">Anti Theft Business Laptop Backpack with USB Charging Port Fits 15.6 inch Laptop, Slim Travel College Bookbag for MacBook Computer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.09</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">30GKADI8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $32.99</strong> with promo code: <strong class="m_codes">30GKADI8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Kz5tem">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33ezhFD"><img src="https://m.media-amazon.com/images/I/81cywYam7jL._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33ezhFD">Travel Laptop Backpack, Business Anti Theft Slim Durable Laptops Backpack with USB Charging Port,Water Resistant College ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$31.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">25AS3ZSE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $31.99</strong> with promo code: <strong class="m_codes">25AS3ZSE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33ezhFD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31n9MAu"><img src="https://m.media-amazon.com/images/I/61bH2+Nw0ML._SR400,400_.jpg" alt="K5 Pro Gaming Headset for.." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31n9MAu">K5 Pro Gaming Headset for PS4, PC, Xbox One Controller, Noise Cancelling Over Ear Headphones with Mic, LED Light, Bass Surround (Black&Blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50K2UHE7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50K2UHE7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31n9MAu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KuY7sw"><img src="https://m.media-amazon.com/images/I/81DIsb4VmML._SR400,400_.jpg" alt="YIHUNION Mini Handheld Fan" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KuY7sw">YIHUNION Mini Handheld Fan, Portable USB Rechargeable Battery Powered Fan with Base, 2500mAh Battery，4 Modes for Home, Office,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">40X7HT5W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $13.99</strong> with promo code: <strong class="m_codes">40X7HT5W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KuY7sw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31kAOZ1"><img src="https://m.media-amazon.com/images/I/61mGUFGzKaL._SR400,400_.jpg" alt="OIVO Regular PS4/ PS4 Slim/ PS4 Pro Cooler" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31kAOZ1">OIVO Regular PS4/ PS4 Slim/ PS4 Pro Cooler, Multifunctional Vertical Cooling Stand, PS4 Controller Charger...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$27.99</span>
         <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30B1QZEV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $27.99</strong> with promo code: <strong class="m_codes">30B1QZEV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31kAOZ1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MN7SVs"><img src="https://m.media-amazon.com/images/I/81ZwXEjGMiL._SR400,400_.jpg" alt="Sosoon Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MN7SVs">Sosoon Laptop Backpack, Business Laptop Backpack with USB Charging Port, Water Resistant Large Compartment College School Computer Bag...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">50LJDXK7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $49.99</strong> with promo code: <strong class="m_codes">50LJDXK7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MN7SVs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KgKCxI"><img src="https://m.media-amazon.com/images/I/61dIUG8cirL._SR400,400_.jpg" alt="Sleep Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KgKCxI">Sleep Headphones, 3D Sleep Headphones Bluetooth 5.0,Perfect for Side Sleepers, Built-in Ultra Thin Speakers & MIC,....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.19</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">208X1GZX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $23.99</strong> with promo code: <strong class="m_codes">208X1GZX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KgKCxI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GNVwsE"><img src="https://m.media-amazon.com/images/I/71wIt3mYO8L._SR400,400_.jpg" alt="COBY Digital LED Alarm Clock" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GNVwsE">COBY Digital LED Alarm Clock Built In 10W HD Bluetooth Speakers FM Radio QI Certified Fast Wireless Charger for iPhone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.99</span><span class="ori_price">$89.99</span></address>
      <textarea readonly="readonly" class="code_area">5037EDB3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $89.99</strong> with promo code: <strong class="m_codes">5037EDB3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GNVwsE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMrvU7"><img src="https://m.media-amazon.com/images/I/61dSBSswHVL._SR400,400_.jpg" alt="USB-C to HDMI Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMrvU7">USB-C to HDMI Adapter 4K, ITANDA USB 3.1 Type C Male (Thunderbolt 3 Compatible) to HDMI Female 4K for The 2016 17 18 MacBook Pro,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">20FO22ZK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $19.99</strong> with promo code: <strong class="m_codes">20FO22ZK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YMrvU7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="97.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31jjXWx"><img src="https://m.media-amazon.com/images/I/71bJZiTSXGL._SR400,400_.jpg" alt="Wireless Active Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31jjXWx">Wireless Active Noise Cancelling Headphones with Microphone Edifier W860NB Hybrid ANC Bluetooth Earphones with Touch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$97.99</span><span class="ori_price">$139.99</span></address>
      <textarea readonly="readonly" class="code_area">30KOU49A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $139.99</strong> with promo code: <strong class="m_codes">30KOU49A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31jjXWx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YN7RYb"><img src="https://m.media-amazon.com/images/I/613pWXE3sSL._SR400,400_.jpg" alt="TENAVOLTS Rechargeable AA Battery Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YN7RYb">TENAVOLTS Rechargeable AA Battery Charger with 4 Counts Lithium 2775 mWh AA Rechargeable Batteries</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.50</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">50HB7UAG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $34.99</strong> with promo code: <strong class="m_codes">50HB7UAG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YN7RYb">Use Code at Amazon</a></div>
</div>
