<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="70" data-price="11.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LqQEwx"><img src="https://m.media-amazon.com/images/I/61cXlm4gQsL._SR400,400_.jpg" alt="Fast Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LqQEwx">Fast Wireless Charger Qi Certified 7.5W Charging Pad Compatible with Phone 8/8 Plus/X/Xs MAX/XR/XS,10W Compatible with Samsung Galaxy S9/S9 Plus/S8...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.10</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>70% off at $36.99</strong> with promo code: <strong>7099R6M8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LqQEwx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="6.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RKRLrX"><img src="https://m.media-amazon.com/images/I/71AR7tpeIKL._SR400,400_.jpg" alt="Selfie Ring Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RKRLrX">Selfie Ring Light, Clip-on Ring Light Rechargeable Portable Photography Light, Upgraded Selfie Fill Light with 54 LED Camera Light,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.75</span><span class="ori_price">$14.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>55% off at $14.99</strong> with promo code: <strong>55XA9A56</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RKRLrX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NjpA4Y"><img src="https://m.media-amazon.com/images/I/71CxVX6XVbL._SR400,400_.jpg" alt="ANCwear Bicycle&Motorcycle Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NjpA4Y">ANCwear Bicycle&Motorcycle Phone Mount with Power Bank Holder,Universal Phone Holder,Adjustable Silicone Bike Phone Mount iPhone Samsung and All Smartphones..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.98</span></address>
      <p><span>Take <strong>50% off at $19.98</strong> with promo code: <strong>50PHONEMOUNT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NjpA4Y">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XgVjZj"><img src="https://m.media-amazon.com/images/I/71A7FdNNySL._SR400,400_.jpg" alt="Oral-B Pro 5000 Smartseries Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,939 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XgVjZj">Oral-B Pro 5000 Smartseries Electric Toothbrush With Bluetooth Connectivity, Black Edition (Powered By Braun) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$74.99</span><span class="ori_price">$89.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>16% off at $89.99</strong> with promo code: <strong>15ORALB5000B</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XgVjZj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="10.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xghnmz"><img src="https://m.media-amazon.com/images/I/91elt7DAGsL._SR400,400_.jpg" alt="Glide Oral-B Pro-Health Deep Clean Floss" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>636 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xghnmz">Glide Oral-B Pro-Health Deep Clean Floss, Mint, Pack of 6</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.48</span><span class="ori_price">$15.48</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>32% off at $15.48</strong> with promo code: <strong>5ORALBFLOSS</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xghnmz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XIB7P8"><img src="https://m.media-amazon.com/images/I/41WCKHW8QiL._SR400,400_.jpg" alt="Anti-Theft Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XIB7P8">Anti-Theft Travel Laptop Backpack, Business Computer Bags Waterproof Lightweight with USB Charging Port Travel Backpack for Work Men Women Student (Grey)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.00</span><span class="ori_price">$79.99</span></address>
      <p><span>Take <strong>70% off at $79.99</strong> with promo code: <strong>709H3379</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XIB7P8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LnTti5"><img src="https://m.media-amazon.com/images/I/71OFl1Kj47L._SR400,400_.jpg" alt="Kealive Immersion blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LnTti5">Kealive Immersion blender, 12-Speed Hand Blender, Powerful & Silent 4-in-1 Hand Immersion Blender with Whisk, 500ml Food Chopper, and 600ml...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>30% off at $25.99</strong> with promo code: <strong>30U9PA1T</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LnTti5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZWIWOF"><img src="https://m.media-amazon.com/images/I/71rpFOwHIOL._SR400,400_.jpg" alt="Ado Glo Bear Claw Meat Shredder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>31 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZWIWOF">Ado Glo Bear Claw Meat Shredder - 2 Pack Sharp Meat Claws for Shredding, Handling & Carving Meat with 2 Pack Oil Brushes (Plastic)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$9.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>45% off at $9.99</strong> with promo code: <strong>45SZ8LV7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZWIWOF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="8.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jb3lcd"><img src="https://m.media-amazon.com/images/I/61WFg3XiSyL._SR400,400_.jpg" alt="Panda Coffee Mug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>94 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jb3lcd">Panda Coffee Mug, Cute animal Mugs,A Lovely Gift for Sisters, Kids,Brothers and Friends,Funny Ceramic Tea Cup with 3D Panda Lids and Spoon</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.71</span><span class="ori_price">$19.80</span></address>
      <p><span>Take <strong>56% off at $19.80</strong> with promo code: <strong>56PLJGP4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jb3lcd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lqz4sE"><img src="https://m.media-amazon.com/images/I/41POmQOsxbL._SR400,400_.jpg" alt="Titanium Skillet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lqz4sE">MICHELANGELO Titanium Skillet 11 Inch with Lid, 5 Quart Induction Saute Pan,Nonstick Saute Pan Nonstick Deep Pan, Ultra Nonstick 11 Inch Deep Skillet...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$79.99</span></address>
      <p><span>Take <strong>80% off at $79.99</strong> with promo code: <strong>80R5UM71</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lqz4sE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="61.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JhAtzb"><img src="https://m.media-amazon.com/images/I/71BxH-HVqtL._SR400,400_.jpg" alt="Juicer Machines" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>113 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JhAtzb">Juicer Machines, Homever Slow Masticating Juicer for Fruits and Vegetables, Quiet Motor, Reverse Function, Easy to Clean Hight Nutrient Cold Press...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$61.79</span><span class="ori_price">$102.99</span></address>
      <p><span>Take <strong>40% off at $102.99</strong> with promo code: <strong>40TTUCEC</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JhAtzb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NkHzIn"><img src="https://m.media-amazon.com/images/I/61zKoQEU3TL._SR400,400_.jpg" alt="Manual Coffee Grinder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NkHzIn">Manual Coffee Grinder, Hand Ceramic Burr Mill for Precision Brewing, Powder to Coarse Grounds, Brushed Stainless Steel Grinder for Home or Travel</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$15.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>25% off at $15.99</strong> with promo code: <strong>25OTVLFH</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NkHzIn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="7.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NnHjIv"><img src="https://m.media-amazon.com/images/I/91Qrj7-uulL._SR400,400_.jpg" alt="woogwin Men's Wallet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>101 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NnHjIv">woogwin Men's Wallet RFID Vintage Genuine Leather Slim Bifold Wallet Handmade</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.02</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>61% off at $17.99</strong> with promo code: <strong>61UBCAI1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NnHjIv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="11.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JbQJS4"><img src="https://m.media-amazon.com/images/I/71Z-1kgc+9L._SR400,400_.jpg" alt="SYOSIN Upgrade Memory Foam Travel Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JbQJS4">SYOSIN Upgrade Memory Foam Travel Pillow U-Shape Neck Pillow Washable 100% Cotton Cover for Car, Train, Office and Airplane</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.43</span><span class="ori_price">$17.59</span></address>
      <p><span>Take <strong>35% off at $17.59</strong> with promo code: <strong>35AXD6KQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JbQJS4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="111.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RILDR8"><img src="https://m.media-amazon.com/images/I/61kCBtg7VgL._SR400,400_.jpg" alt="Cordless Vacuum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RILDR8">Cordless Vacuum, Deik Stick Vacuum Cleaner, Lightweight 2 in 1 Handheld Rechargeable Vacuum with Powerful Suction and LED Brush for Home and Car Cleaning, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price">$111.99</span><span class="ori_price">$139.99</span></address>
      <p><span>Take <strong>20% off at $139.99</strong> with promo code: <strong>209ZCQOK</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RILDR8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FD8sAL"><img src="https://m.media-amazon.com/images/I/81z66V47qML._SR400,400_.jpg" alt="YNIQUE Satchel Purses and Handbags" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>463 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FD8sAL">YNIQUE Satchel Purses and Handbags for Women Shoulder Tote Bags Wallets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>50% off at $21.99</strong> with promo code: <strong>50IC4AP4</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FD8sAL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ls8teG"><img src="https://m.media-amazon.com/images/I/61yAs0Qv0aL._SR400,400_.jpg" alt="JENN ARDOR Women's Walking Casual Sneakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>131 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ls8teG">JENN ARDOR Women's Walking Casual Sneakers Lightweight Slip-On Breathable Mesh Outdoor Sports Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.97</span><span class="ori_price">$29.95</span></address>
      <p><span>Take <strong>40% off at $29.95</strong> with promo code: <strong>40FCGRJW</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ls8teG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="25.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NvS3ou"><img src="https://m.media-amazon.com/images/I/61+zVDxEibL._SR400,400_.jpg" alt="SHINEFUTURE Handheld Cordless Cleaner " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NvS3ou">SHINEFUTURE Handheld Cordless 5Kpa Cleaner Rechargeable Hand Vac 14.8V Lithium with Quick Charge Lightweight Wet Dry Vacuum for Home Pet Hair Car Cleaning</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.80</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>57% off at $59.99</strong> with promo code: <strong>57EUVQIN</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NvS3ou">Use Code at Amazon</a></div>
</div>
