<% @hotdeals.each do |hotdeal| %>
 <div class="card clearfix" data-score="<%= hotdeal.h_percentage %>" data-price="<%= hotdeal.h_price %>">
  <div class="image_box">
    <% if hotdeal.h_image.present? %>
     <!-- <a target="_blank" href="<%= hotdeal.h_link %>"><img src="<%= hotdeal.h_image %>" alt="<%= hotdeal.h_title %>" title="<%= hotdeal.h_spare_04 %>"/></a>
       -->
     <%= link_to image_tag(hotdeal.h_image), hotdeal %>
    <% else %>
     <%= link_to (image_tag hotdeal.himage.url(:small), alt: hotdeal.h_title, title: hotdeal.h_spare_03), hotdeal %>
    <% end %> 
    <% if can? :update, @hotdeals %>
       <div class="admin clearfix">
         <%= link_to 'Edit', edit_hotdeal_path(hotdeal) %> | 
         <%= link_to 'Destroy', hotdeal, method: :delete, data: { confirm: 'Are you sure?' } %>
       </div><!--/.amdin-->
     <% end %>
  </div>
  <div class="inner">
    <!--<% if hotdeal.h_spare_92 && (hotdeal.h_spare_92 < Date.today) %>
    <% else %>
      <% if hotdeal.h_spare_92 && (hotdeal.h_spare_92 = Date.today) %>
        <div class="new_mark">New</div>
      <% end %>
    <% end %>-->
    
    <!--<% running_total = 0 %>
    <% running_total =  (hotdeal.h_spare_43.to_i - hotdeal.h_spare_44.to_i) / hotdeal.h_spare_43.to_i * 100 %>
    <span class="regular">
      <em><%= number_to_percentage(running_total, precision: 0) %> OFF</em> + Free shipping
    </span>-->
    

    <div class="dp_tit">
      <% if hotdeal.h_spare_92 && (hotdeal.h_spare_92 < Date.today) %>
      <% else %>
        <% if hotdeal.h_spare_92 && (hotdeal.h_spare_92 = Date.today) %>
          <div class="new_mark">New</div>
        <% end %>
      <% end %>
      <%= link_to hotdeal.h_title, hotdeal %>
    </div>
    <div class="code_high">
     <address>

      <% if hotdeal.h_spare_44.present? %>        
       <span class="dis_price bestdeals"><%= number_to_currency(hotdeal.h_spare_44) %></span><span class="ori_price"><%= number_to_currency(hotdeal.h_spare_43) %></span>
        <% running_total = 0 %>
        <% running_total = (hotdeal.h_spare_43 - hotdeal.h_spare_44) / hotdeal.h_spare_43 * 100 %>
        <span class="via">
          <em>( <%= number_to_percentage(running_total, precision: 0) %> off )</em>
        </span>
      <% else %>
        <% if hotdeal.h_spare_61.present? %>
          <% coupon_p61 = 0 %>
          <% coupon_p61 = (hotdeal.h_spare_43.to_i * hotdeal.h_spare_61.to_i / 100) %>
          <% number_to_currency(coupon_p61) %>
          <span class="dis_price bestdeals">
            <% coupon_deal = 0 %>
            <% coupon_deal = (hotdeal.h_spare_43.to_i - coupon_p61) %>
            <%= number_to_currency(coupon_deal) %>
          </span>
          <span class="ori_price">
            <%= number_to_currency(hotdeal.h_spare_43) %>
          </span>
        <% else %>
          <% if hotdeal.h_spare_62.present? %>
            <% coupon_dollar = 0 %>
            <% coupon_dollar = hotdeal.h_spare_43 - hotdeal.h_spare_62 %>
            <span class="dis_price bestdeals">
              <%= number_to_currency(coupon_dollar) %>
            </span>
            <span class="ori_price">
            <%= number_to_currency(hotdeal.h_spare_43) %>
          </span>
          <% end %>
        <% end %>
      <% end %>
       
      
      <span>
        <% if hotdeal.h_spare_44.present? %>
        <% else %>
          <% if hotdeal.h_spare_61.present? %>
            <span class="via">Save <%= number_to_percentage(hotdeal.h_spare_61, precision: 0) %> via coupon </span>
          <% else %>
            <% if hotdeal.h_spare_62.present? %>
              <span class="via">Save <%= number_to_currency(hotdeal.h_spare_62) %> off via coupon </span>
            <% end %>
          <% end %>
        <% end %>


        <% if hotdeal.h_spare_18.present? %>
          <em class="pcou">+ free shipping when you order +$25 or <a target="_blank" href="/blogs/blog_01_amz_prime">Prime.</a></em>
        <% else %>
          <em class="pcou">+ free shipping</em>
        <% end %>

        <% if hotdeal.h_spare_44.present? %>
          <% if hotdeal.h_spare_61.present? %>
            <% if hotdeal.h_spare_61.present? %>
              <em class="pcou">+ extra <%= number_to_percentage(hotdeal.h_spare_61, precision: 0) %> off Coupon</em>
            <% else %>
            <% end %>
          <% else %>
            <% if hotdeal.h_spare_62.present? %>
              <em class="pcou">+ extra <%= number_to_currency(hotdeal.h_spare_62) %> off Coupon</em>
            <% else %>
            <% end %>
          <% end %>
        <% end %>

        <% if hotdeal.h_spare_07.present? %>
          
        <% end %>
      </span>
          
     </address>
    
    </div><!--/.code_high-->
  </div><!--/.inner --> 
  <div class="pc_btn">
    <div class="deal_btn"><a target="_blank" href="<%= hotdeal.h_link %>">Get Deal</a></div>
  </div>
  <div class="mobile_btn">
    <div class="deal_btn"><a href="<%= hotdeal.h_link %>">Get Deal</a></div>
  </div>
 </div>

 <% if hotdeal.h_spare_03.present? %>
   <div class="show_banner">
      <div class="banner_option"><%= hotdeal.h_spare_03 %></div>
      <div class="banner_img"><img src="<%=asset_path 'bargain.png' %>" alt="banner"></div>
   </div>
 <% end %>
<% end %>
