<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
<div class="tooltip_purple"><span>Extra Discount</span><div class="tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->


<div class="card dealofday clearfix" data-score="44" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JZmvUd"><img src="https://images-na.ssl-images-amazon.com/images/I/71HxpWN2SdL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save up to 44% on Kodak 2.5IN Solid State Drives</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2LIiBB9">Kodak Internal SSD X150, Yellow, 240GB</a> - <span>36.99<em>59.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LJxRxk">Kodak 480 GB Internal SSD, Yellow</a> - <span>55.99<em>69.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/30Yd8cU">Kodak Internal SSD X150, Yellow, 960GB</a> - <span>119.99<em>199.99</em></span></li>
            <li><a href="https://amzn.to/2JZmvUd">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JZmvUd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yu32my"><img src="https://images-na.ssl-images-amazon.com/images/I/716ZL9jj8hL._SX679_.jpg" alt="eufy [BoostIQ] RoboVac 15C, Wi-Fi" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>413 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yu32my">eufy [BoostIQ] RoboVac 15C, Wi-Fi, Upgraded, Super-Thin, 1300Pa Strong Suction Quiet, Self-Charging Robotic Vacuum Cleaner,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$249.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yu32my">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="497.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yhRGmK"><img src="https://images-na.ssl-images-amazon.com/images/I/7162THDFfpL._SX522_.jpg" alt="PANASONIC LUMIX FZ1000 4K Point and Shoot Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>327 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yhRGmK">PANASONIC LUMIX FZ1000 4K Point and Shoot Camera, 16X LEICA DC Vario-ELMARIT F2.8-4.0 Lens, 21.1 Megapixels,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$497.99</span><span class="ori_price">$799.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yhRGmK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="7.82">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LIJBjS"><img src="https://images-na.ssl-images-amazon.com/images/I/61bXlLfwPHL._SX522_.jpg" alt="FL5018 USB Electronic Lighter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LIJBjS">FL5018 USB Electronic Lighter Tungsten Turbo Spiral Windproof for Cigarette Smoking (Rose Gold Dragon)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.82</span><span class="ori_price">$18.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LIJBjS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="39.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30VtZgv"><img src="https://images-na.ssl-images-amazon.com/images/I/61gOeDv7h0L._SX679_.jpg" alt="USB C Hub to HDMI Adapter" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30VtZgv">USB C Hub to HDMI Adapter for MacBook Pro 2016/2017/2018, 8 in 1 USB C Adapter with 4K HDMI, Gigabit Ethernet,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.09</span><span class="ori_price">$79.90</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30VtZgv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32VuKIc"><img src="https://images-na.ssl-images-amazon.com/images/I/91giMK-fS8L._AC_SX215_.jpg" alt="Lego Marvel Collection" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32VuKIc">Lego Marvel Collection - Xbox One by Warner Bros</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32VuKIc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="$19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3155XzP"><img src="https://images-na.ssl-images-amazon.com/images/I/91Z5HB33cAL._AC_SX215_.jpg" alt="Lego Marvel Collection" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3155XzP">Lego Marvel Collection - PlayStation 4 by Warner Bros</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3155XzP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="45.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ydNmVx"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2BtXIOx%2B3L._SX679_.jpg" alt="Post Surgery Elevating Leg Rest Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,070 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ydNmVx">Post Surgery Elevating Leg Rest Pillow with Memory Foam Top - Best for Back, Hip and Knee Pain Relief,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.60</span><span class="ori_price">$59.90</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ydNmVx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="54.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LIRk1n"><img src="https://images-na.ssl-images-amazon.com/images/I/81GNIIRQSDL._SX522_.jpg" alt="TazzToys Kids Teepee Tent" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>289 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LIRk1n">TazzToys Kids Teepee Tent for Kids with Ferry Lights + Feathers + Waterproof Base</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.95</span><span class="ori_price">$99.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LIRk1n">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LM3TZB"><img src="https://images-na.ssl-images-amazon.com/images/I/61algwLi2OL._SY879_.jpg" alt="Philips UpBeat Wireless Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>6 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LM3TZB">Philips UpBeat SHB3595 Wireless Headphones, with up to 6 Hours of Playtime, in-line Mic - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LM3TZB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="9.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWFaQd"><img src="https://images-na.ssl-images-amazon.com/images/I/5145ApKaGFL._SX522_.jpg" alt="Blackhead Remover" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>145 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWFaQd">Blackhead Remover Pore Strips Anjou Deep Cleansing Peel off Strip for Nose & Face, 32 Strips Last 4-6 Months</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.29</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JWFaQd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="81.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQ7LsX"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZFKbEShbL._SX522_.jpg" alt="WE Furniture AZF20SCSTWM Side Table" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>17 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQ7LsX">WE Furniture AZF20SCSTWM Side Table, 20", Faux White Marble/Gold</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$81.99</span><span class="ori_price">$119.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQ7LsX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32WPyPC"><img src="https://images-na.ssl-images-amazon.com/images/I/71R-jnGin9L._SX522_.jpg" alt="YIHONG 8 Pcs Reusable Silicone Drinking Straws" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>51 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32WPyPC">YIHONG 8 Pcs Reusable Silicone Drinking Straws - Regular Size - 9.8 Inch Long -BPA Free - for 20oz and 30oz Tumblers...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.99</span><span class="ori_price">$11.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32WPyPC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="63.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30WZo1Z"><img src="https://images-na.ssl-images-amazon.com/images/I/81egj4IyTSL._SX522_.jpg" alt="Diesel Fuel for Life Eau de Toilette Spray" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>215 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30WZo1Z">Diesel Fuel for Life Eau de Toilette Spray for Men, 4.2 Ounce </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$63.05</span><span class="ori_price">$95.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30WZo1Z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="39.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SFsQqg"><img src="https://images-na.ssl-images-amazon.com/images/I/71yqyA5FRfL._SX522_.jpg" alt="Schick Hydro 5 Sensitve Razors" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>525 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SFsQqg">Schick Hydro 5 Sensitve Razors for Men With 1 Razor Handle and 17 Razor Blades Refills ( Pack May Vary )</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.80</span><span class="ori_price">$61.76</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SFsQqg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="70.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Yrxpk"><img src="https://images-na.ssl-images-amazon.com/images/I/51UL6e3FxbL.jpg" alt="GUESS Landon Multi Top Handle Flap" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Yrxpk">GUESS Landon Multi Top Handle Flap</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$70.54</span><span class="ori_price">$118.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30Yrxpk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="24.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JXVOiG"><img src="https://images-na.ssl-images-amazon.com/images/I/61JHoEXgj5L._SX522_.jpg" alt="Vanzon White Noise Machine" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>722 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JXVOiG">Vanzon White Noise Machine - Sound Machine with Baby For Sleeping & Relaxation, 36 Soothing High Fidelity Nature Sounds,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.64</span><span class="ori_price">$35.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JXVOiG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="549.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SII51C"><img src="https://images-na.ssl-images-amazon.com/images/I/81mliGK7S7L._SX679_.jpg" alt="LG LED Smart Home Theater" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>58 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SII51C">LG PF1500W LED Smart Home Theater Projector with Smart TV Built-In (2017 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$549.00</span><span class="ori_price">$859.58</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SII51C">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="96.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yhYIYF"><img src="https://images-na.ssl-images-amazon.com/images/I/715-06oPHNL._SX679_.jpg" alt="NewAir Outdoor Misting Fan Oscillating Pedestal Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>654 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yhYIYF">NewAir Outdoor Misting Fan Oscillating Pedestal Fan with Three Gentle Mist Nozzles, AF-520B, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$96.77</span><span class="ori_price">$156.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yhYIYF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="50.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJHtIO"><img src="https://images-na.ssl-images-amazon.com/images/I/71eH6vulAhL._SX522_.jpg" alt="Sport-Brella Vented SPF 50+ Sun and Rain Canopy Umbrella" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,303 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJHtIO">Sport-Brella Vented SPF 50+ Sun and Rain Canopy Umbrella for Beach and Sports Events (8-Foot)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$50.99</span><span class="ori_price">$59.76</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LJHtIO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SKBRON"><img src="https://images-na.ssl-images-amazon.com/images/I/5166WtSqd4L._UX679_.jpg" alt="KAVU Rope Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,797 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SKBRON">KAVU Rope Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$50.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SKBRON">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SKCrMt"><img src="https://images-na.ssl-images-amazon.com/images/I/41kced9yQBL.jpg" alt="Tac-Force Tactical Spring Assisted Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7,684 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SKCrMt">Tac-Force Tactical Spring Assisted Knife 4.5" Closed</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.93</span><span class="ori_price">$13.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SKCrMt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="11.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YrHG9i"><img src="https://images-na.ssl-images-amazon.com/images/I/71CA0%2BgbPGL._SL1500_.jpg" alt="Joseph Joseph 20101 Helix Citrus Juicer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>139 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YrHG9i">Joseph Joseph 20101 Helix Citrus Juicer Ergonomic Twist-Action Hand Press Stainless Steel, Yellow</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.20</span><span class="ori_price">$20.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YrHG9i">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="11" data-price="26.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SJjYAg"><img src="https://images-na.ssl-images-amazon.com/images/I/717W7xmn61L._SX679_.jpg" alt="OXO Good Grips Salad Spinner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,806 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SJjYAg">OXO Good Grips Salad Spinner, Large, Clear</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.39</span><span class="ori_price">$29.90</span>
        <div class="tooltip_purple"><span>Extra Discount</span><div class="tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SJjYAg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32RP5y2"><img src="https://images-na.ssl-images-amazon.com/images/I/91NZxttliTL._SX522_.jpg" alt="Progressive Fresh Guacamole ProKeeper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>624 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32RP5y2">Prepworks by Progressive Fresh Guacamole ProKeeper with Air Tight Lid</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$12.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32RP5y2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="8.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30XX1Mh"><img src="https://images-na.ssl-images-amazon.com/images/I/81kI6CvKoXL._SX522_.jpg" alt="Progressive Microwave Multi-Mat" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30XX1Mh">Prep Solutions by Progressive Microwave Multi-Mat, Non-Stick Heat Resistant, 12" Inch Diameter, Protect From Spill Overs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.50</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30XX1Mh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="29.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30X9vE3"><img src="https://images-na.ssl-images-amazon.com/images/I/71rhhOxlWIL._SX679_.jpg" alt="O-Cedar EasyWring Microfiber Spin Mop" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7,266 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30X9vE3">O-Cedar EasyWring Microfiber Spin Mop, Bucket Floor Cleaning System</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.98</span><span class="ori_price">$37.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30X9vE3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="157.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SKdbWS"><img src="https://images-na.ssl-images-amazon.com/images/I/51IDjCNjx8L._SX522_.jpg" alt="Beats Solo3 Wireless On-Ear Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>178 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SKdbWS">Beats Solo3 Wireless On-Ear Headphones - Rose Gold (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$157.69</span><span class="ori_price">$249.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SKdbWS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKRENe"><img src="https://images-na.ssl-images-amazon.com/images/I/61OAiZrM6FL._SY879_.jpg" alt="Thermos Funtainer 12 Ounce Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,566 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKRENe">Thermos F4013BL6 Funtainer 12 Ounce Bottle, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LKRENe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JX7T7B"><img src="https://images-na.ssl-images-amazon.com/images/I/81DJMwMcd5L._SX522_.jpg" alt="HP 23.8-inch FHD IPS Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,486 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JX7T7B">HP 23.8-inch FHD IPS Monitor with Tilt/Height Adjustment and Built-in Speakers (VH240a, Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.99</span><span class="ori_price">$139.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JX7T7B">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JU5hY2"><img src="https://images-na.ssl-images-amazon.com/images/I/71Y5or4QvuL._SX522_.jpg" alt="Mr. Coffee 12-Cup Coffee Maker, Black" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,489 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JU5hY2">Mr. Coffee 12-Cup Coffee Maker, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JU5hY2">Shop Now at Amazon</a></div>
</div>