<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button>
</div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
-->

<!-- <div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div> -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="20" data-price="47.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Q1YHR"><img src="https://m.media-amazon.com/images/I/71iSUCyTx7L._SR400,400_.jpg" alt="Juicer Aicok Centrifugal Juicer Machine" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Q1YHR">Juicer Aicok Centrifugal Juicer Machine Easy to Clean, 3 Speed Juicer Extractor Machine Wide 3” Feed Chute for Whole Fruit and Vegetable,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.19</span><span class="ori_price">$58.99</span></address>
      <textarea readonly="readonly" class="code_area">20MQNSVT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $58.99</strong> with promo code: <strong class="m_codes">20MQNSVT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Q1YHR">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="4.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Oo03qa"><img src="https://m.media-amazon.com/images/I/61PoVfN8DsL._SR400,400_.jpg" alt="EDDORUNNING Makeup Brush Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Oo03qa">EDDORUNNING Makeup Brush Set Premium Synthetic Foundation Blush Lip Face Powder Concealers Eyeshadow Makeup Brushes Kit,20Pcs(Rose Golden)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.80</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">60OO41IZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $11.99</strong> with promo code: <strong class="m_codes">60OO41IZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Oo03qa">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="7.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31P1JNo"><img src="https://m.media-amazon.com/images/I/710pKKESGKL._SR400,400_.jpg" alt="Travel Organizer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31P1JNo">Travel Organizer, BUBM Cable Bag/USB Drive Shuttle Case/Electronics Accessory Organizer-Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.60</span><span class="ori_price">$11.69</span>
        <div class="tooltip_common tooltip_green"><span> + 20% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 20% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35IYO6TM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $11.69</strong> with promo code: <strong class="m_codes">35IYO6TM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31P1JNo">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AISsKR"><img src="https://m.media-amazon.com/images/I/71cNQVF5S-L._SR400,400_.jpg" alt="Manfiter OBD2 Scanner Auto Car" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AISsKR">Manfiter OBD2 Scanner Auto Car OBDii 2 Code Reader Diagnostic Scan Tool Check Engine Light Trouble Codes Vehicle</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">40OQ51E9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40OQ51E9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2AISsKR">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="83.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vfl9s6"><img src="https://m.media-amazon.com/images/I/71AVct6WXbL._SR400,400_.jpg" alt="DmofwHi Large Air Fryer Toaster Oven XL/8QT" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vfl9s6">DmofwHi Large Air Fryer Toaster Oven XL/8QT, 1000 Watt Programable Air Fryer with 6 Presets and Rich Accessories 0-60 Mins Timer ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$83.30</span><span class="ori_price">$119.00</span></address>
      <textarea readonly="readonly" class="code_area">30WSHKVB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $119.00</strong> with promo code: <strong class="m_codes">30WSHKVB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Vfl9s6">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="13.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3576C6t"><img src="https://m.media-amazon.com/images/I/51hDyQwBZCL._SR400,400_.jpg" alt="RCA Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3576C6t">RCA Bluetooth Headphones, Bluetooth 5.0 Wireless Earbuds with Magnetic Attraction, 10 Hours Playtime, IPX5 Waterproof Sports Earphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.79</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">40FJVQIH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $22.99</strong> with promo code: <strong class="m_codes">40FJVQIH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3576C6t">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="69" data-price="8.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2niXk6h"><img src="https://m.media-amazon.com/images/I/61VGeiUlcNL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2niXk6h">Bluetooth Headphones, AINEED Wireless Earphones Sports Headset Noise Cancelling Neckband Earbuds Built-in Mic Lightweight Waterproof for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.06</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">69IJLF1Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>69% off at $25.99</strong> with promo code: <strong class="m_codes">69IJLF1Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2niXk6h">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AMkghj"><img src="https://m.media-amazon.com/images/I/71p0zyimAvL._SR400,400_.jpg" alt="Amplified HD Digital TV Antenna" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AMkghj">[2019 Upgraded] Amplified HD Digital TV Antenna - Freeview HDTV Antenna Indoor Amplifier Signal Booster, Support 4K 1080P VHF UHF...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40W9C8U8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40W9C8U8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2AMkghj">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MetOHo"><img src="https://m.media-amazon.com/images/I/71fBz+QY-GL._SR400,400_.jpg" alt="Aicok Wine Opener" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MetOHo">Aicok Wine Opener, Wine Bottle Opener, Stainless Steel Electric Corkscrew, Battery Powered Cordless Wine Opener Kit with Foil Cutter, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.98</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30T6ZA5O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $16.98</strong> with promo code: <strong class="m_codes">30T6ZA5O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MetOHo">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ImzlKD"><img src="https://m.media-amazon.com/images/I/71RqTzc8GDL._SR400,400_.jpg" alt="Coofig Super Soft Indoor...Silky Smooth Fur Rugs" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ImzlKD">Coofig Super Soft Indoor Modern Thickened Washing Silky Smooth Fur Rugs Anti-Skid Shaggy Rugs Dining Room or Bedroom Carpet Floor Mat 2.5- Feet By ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.98</span></address>
      <textarea readonly="readonly" class="code_area">401MNODX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.98</strong> with promo code: <strong class="m_codes">401MNODX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ImzlKD">Use Code at Amazon</a></div>
</div>
 
<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="30" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AM2niU"><img src="https://m.media-amazon.com/images/I/61aStYq3PWL._SR400,400_.jpg" alt="Classic Black Wacth Men Stylish Casual Analog Quartz Wristwatches" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AM2niU">Classic Black Wacth Men Stylish Casual Analog Quartz Wristwatches with Date Black Mesh Stainless Steel Band 2258</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.89</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30DKX1RU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $26.99</strong> with promo code: <strong class="m_codes">30DKX1RU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2AM2niU">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMkaMY"><img src="https://m.media-amazon.com/images/I/71NwY8mlB1L._SR400,400_.jpg" alt="Halloween Dishes Cardboard Candy Serving Bowl" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMkaMY">Halloween Dishes Cardboard Candy Serving Bowl Halloween Party Supplies</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">40TGFY16</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $9.99</strong> with promo code: <strong class="m_codes">40TGFY16</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Nov 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LMkaMY">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30PgiPM"><img src="https://m.media-amazon.com/images/I/61DaxXp+fQL._SR400,400_.jpg" alt="Toothbrush with Toothpaste inside" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30PgiPM">Toothbrush with Toothpaste inside, Design with Water Cup,3 in 1 Charcoal whitening Oral Care kits Pick for Home,Office,School or Travel,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span>
        <div class="tooltip_common tooltip_green"><span> + 15% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 15% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50QUU8EJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $23.99</strong> with promo code: <strong class="m_codes">50QUU8EJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30PgiPM">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="33.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VmLuos"><img src="https://m.media-amazon.com/images/I/61X6T88OoWL._SR400,400_.jpg" alt="Jinri 1875W Professional Salon Hair Dryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VmLuos">Jinri 1875W Professional Salon Hair Dryer for Faster Drying, Negative Ion Hair Blow Dryer with 2 Speed and 3 Heat Setting Ceramic Hair Dryer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$33.00</span><span class="ori_price">$109.99</span></address>
      <textarea readonly="readonly" class="code_area">70SC86KL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $109.99</strong> with promo code: <strong class="m_codes">70SC86KL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VmLuos">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31PEByd"><img src="https://m.media-amazon.com/images/I/61gzkKLCJxL._SR400,400_.jpg" alt="DICTEA Glass Travel Coffee Mug" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31PEByd">DICTEA Glass Travel Coffee Mug with Lid - Double Wall Thermo Insulated On The Go Tumbler, 12 Ounces, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">50DICTEA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">50DICTEA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31PEByd">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oPU9nc"><img src="https://m.media-amazon.com/images/I/61ACNdquOGL._SR400,400_.jpg" alt="Wi-Fi Outdoor Security Camera by A-Zone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oPU9nc">Wi-Fi Outdoor Security Camera by A-Zone, High Score App, 1080P, IP66, Two-Way Audio, Motion Detect and Alert,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40MXAO4N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $59.99</strong> with promo code: <strong class="m_codes">40MXAO4N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oPU9nc">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="25" data-price="14.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OoQ97M"><img src="https://m.media-amazon.com/images/I/51B4hz144DL._SR400,400_.jpg" alt="GA Homefavor Enamel Butter Dish Butter Box" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OoQ97M">GA Homefavor Enamel Butter Dish Butter Box Butter Keeper Container With Wooden Lid, Charcoal Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.98</span><span class="ori_price">$19.98</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25RCES15</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $19.98</strong> with promo code: <strong class="m_codes">25RCES15</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OoQ97M">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="5.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOASLZ"><img src="https://m.media-amazon.com/images/I/51eAYyyvOSL._SR400,400_.jpg" alt="ANRUI 120 dB SOS Emergency Personal Alarm Keychain" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOASLZ">ANRUI 120 dB SOS Emergency Personal Alarm Keychain with LED Flashlight Portable Key Chain Safety Alarm for Elderly/Women/Kids 2pcs/Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.85</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">55UFM7W1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $12.99</strong> with promo code: <strong class="m_codes">55UFM7W1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LOASLZ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="4.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30KyxWA"><img src="https://m.media-amazon.com/images/I/718Xn2s1pBL._SR400,400_.jpg" alt="Mouth Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30KyxWA">Mouth Mask, 4Pcs Pack Unisex Korean EXO Mask Anti-dust Black Cotton Facial Kpop Mask (Combination 1)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.98</span><span class="ori_price">$16.59</span></address>
      <textarea readonly="readonly" class="code_area">707RNZB9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $16.59</strong> with promo code: <strong class="m_codes">707RNZB9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30KyxWA">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="10.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30P4wVB"><img src="https://m.media-amazon.com/images/I/3170NLNeq5L._SR400,400_.jpg" alt="GiNT Stainless Steel Vacuum Insulated Double Walled Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30P4wVB">GiNT Stainless Steel Vacuum Insulated Double Walled Water Bottle for Outdoor Sports, Cola Shape,Travel Mug, 17oz / 500ML, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.34</span><span class="ori_price">$22.98</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">55X511DO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $22.98</strong> with promo code: <strong class="m_codes">55X511DO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30P4wVB">Use Code at Amazon</a></div>
</div>
 

