<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="25" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jz9jUt"><img src="https://images-na.ssl-images-amazon.com/images/I/71xlzBEqMPL._SX679_.jpg" alt="Umbra FishHotel Mini Aquarium" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>287 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jz9jUt">Umbra FishHotel Mini Aquarium, Great for Goldfish, Bettas, and Other Small Fish, 1.8 Gallon</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.00</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jz9jUt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJCbU5"><img src="https://images-na.ssl-images-amazon.com/images/I/81FcxwI6sIL._SX522_.jpg" alt="Monopoly Stranger Things Edition" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>133 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XJCbU5">Monopoly Stranger Things Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XJCbU5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="269.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDOQaJ"><img src="https://images-na.ssl-images-amazon.com/images/I/81ReMZPkFAL._SX466_.jpg" alt="hOmeLabs Beverage Refrigerator and Cooler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>492 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDOQaJ">hOmeLabs Beverage Refrigerator and Cooler - 120 Can Mini Fridge with Glass Door for Soda Beer or Wine ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$269.99</span><span class="ori_price">$349.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XDOQaJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLapTu"><img src="https://images-na.ssl-images-amazon.com/images/I/81I1c0NHOzL._SY445_.jpg" alt="Bio-Oil 200ml: Multiuse Skincare Oil" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>6,673 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLapTu">Bio-Oil 200ml: Multiuse Skincare Oil (6.7oz)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.99</span><span class="ori_price">$36.06</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YLapTu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LN3OV4"><img src="https://images-na.ssl-images-amazon.com/images/I/81-Gx2TAuhL._SX679_.jpg" alt="SplashEZ 3-in-1 Sprinkler for Kids" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>748 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">SplashEZ 3-in-1 Sprinkler for Kids, Splash Pad, and Wading Pool for Learning – Children’s Sprinkler Pool, 60’’ Inflatable Water ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XBcyV6"><img src="https://images-na.ssl-images-amazon.com/images/I/81h7BgNJlzL._SX522_.jpg" alt="First Builders Big Building Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>6,296 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XBcyV6">First Builders Big Building Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.90</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XBcyV6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="139.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMCxBY"><img src="https://images-na.ssl-images-amazon.com/images/I/61A+6HrlyxL._AC_SR300,300_.jpg" alt="Robotic Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>983 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMCxBY">Amazon Deal Of The Day: Robotic Vacuum Cleaner, with 1800Pa Ultra Strong Suction, Robot Dust and Pet Hair...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$139.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMCxBY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="129.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jq9nqB"><img src="https://images-na.ssl-images-amazon.com/images/I/91RJYzEjgzL._AC_SR300,300_.jpg" alt="Spinner Luggage Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jq9nqB">Amazon Deal Of The Day: Travelpro Citadel Deluxe 20" and 24" Hardside Spinner Luggage Set, Gun Metal Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.99</span><span class="ori_price">$410.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jq9nqB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="38.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LexrPk"><img src="https://images-na.ssl-images-amazon.com/images/I/71uenxqR9UL._SX679_.jpg" alt="Spikeball Game Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>281 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LexrPk">Amazon Deal Of The Day: Spikeball Game Set - Played Outdoors, Indoors, Lawn, Yard, Beach, Tailgate, Park...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$38.99</span><span class="ori_price">$55.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LexrPk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="249.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIAIcQ"><img src="https://images-na.ssl-images-amazon.com/images/I/7149SH0d%2BgL._SY606_.jpg" alt="Apple iPad (Wi-Fi, 32GB)" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>3,873 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIAIcQ">Apple iPad (Wi-Fi, 32GB) - Space Gray (Latest Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$249.00</span><span class="ori_price">$329.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YIAIcQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="61.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xCUGdj"><img src="https://images-na.ssl-images-amazon.com/images/I/61wNv3t%2BjsL._SX522_.jpg" alt="TP-Link" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>18,201 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xCUGdj">TP-Link | PCMag Editor's Choice - AC1750 Wifi Range Extender | Up to 1750Mbps | Dual Band, Repeater, Internet Booster,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$61.79</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xCUGdj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDY0nK"><img src="https://images-na.ssl-images-amazon.com/images/I/81-Vw-bfCQL._SX679_.jpg" alt="Wireless Keyboard and Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>5,952 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDY0nK">Logitech MK545 Advanced Wireless Keyboard and Mouse Combo</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XDY0nK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCnAJL"><img src="https://images-na.ssl-images-amazon.com/images/I/619HkSq0-mL._SX522_.jpg" alt="Echo Dot (3rd Gen)" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>41,990 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XCnAJL">Echo Dot (3rd Gen) - Smart speaker with Alexa - Charcoal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XCnAJL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XC9Vxu"><img src="https://images-na.ssl-images-amazon.com/images/I/71JBcSvd7VL._SX679_.jpg" alt="Geekey Multi-Tool" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XC9Vxu">Geekey Multi-Tool</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.50</span><span class="ori_price">$55.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XC9Vxu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YKRvfh"><img src="https://images-na.ssl-images-amazon.com/images/I/81IeXEXyQ-L._SX342_.jpg" alt="Jurassic Park Collection" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,583 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YKRvfh">Jurassic Park Collection | 25th Anniversary Limited Edition Collection, 5th Anniversary Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YKRvfh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMR1ls"><img src="https://images-na.ssl-images-amazon.com/images/I/519BiXi2sjL._SX522_.jpg" alt="Apple Wireless Magic Mouse 2" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>361 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMR1ls">Apple Wireless Magic Mouse 2, Silver (MLA02LL/A) - (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$64.94</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMR1ls">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMNh36"><img src="https://images-na.ssl-images-amazon.com/images/I/710UH%2BCLVTL._SX522_.jpg" alt="XIKEZAN Beard Grooming Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>154 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMNh36">XIKEZAN Beard Grooming Kit in METAL BOX w/Beard Shaping Tool,Beard Shampoo/Wash,Beard Conditioner Oil,Beard Balm,Brush,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.50</span><span class="ori_price">$25.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMNh36">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="59.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LLJinM"><img src="https://images-na.ssl-images-amazon.com/images/I/81gt29o23gL._SX522_.jpg" alt="HP Wireless Printer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,675 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LLJinM">HP DeskJet 3755 Compact All-in-One Wireless Printer, HP Instant Ink & Amazon Dash Replenishment ready...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.89</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LLJinM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCctfg"><img src="https://images-na.ssl-images-amazon.com/images/I/8116DtW4WWL._SX522_.jpg" alt="Razer Ornata Chroma Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>766 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XCctfg">Razer Ornata Chroma Gaming Keyboard: Mecha-Membrane Key Switches - Customizable Chroma RGB Lighting - Individuallly ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XCctfg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="32.66">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XD6RpC"><img src="https://images-na.ssl-images-amazon.com/images/I/71IG8UW%2BGyL._SX425_.jpg" alt="Square Contactless and Chip Reader" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>738 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XD6RpC">Square Contactless and Chip Reader</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.66</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XD6RpC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKCHda"><img src="https://images-na.ssl-images-amazon.com/images/I/91AF5hPsRIL._SX679_.jpg" alt="Energizer AA Batteries" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,320 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKCHda">Energizer AA Batteries (48Count), Double A Max Alkaline Battery – Packaging May Vary</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LKCHda">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="13.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XzSjHv"><img src="https://images-na.ssl-images-amazon.com/images/I/81L%2BoCXRrLL._SX522_.jpg" alt="Cascade Complete ActionPacs Dishwasher Detergent" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,677 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XzSjHv">Cascade Complete ActionPacs Dishwasher Detergent, Fresh Scent, 78 Count </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.86</span><span class="ori_price">$18.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XzSjHv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="22.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOoNGP"><img src="https://images-na.ssl-images-amazon.com/images/I/71sMmP53i6L._SY679_.jpg" alt="PreserVision AREDS 2 Vitamin" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,527 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOoNGP">PreserVision AREDS 2 Vitamin & Mineral Supplement 120 Count Soft Gels </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.90</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOoNGP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="32.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XA6Seg"><img src="https://images-na.ssl-images-amazon.com/images/I/71k5NfFp6ML._SL1500_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>11,494 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32.99% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XA6Seg">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.99</span><span class="ori_price">$56.74</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XA6Seg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMZg0T"><img src="https://images-na.ssl-images-amazon.com/images/I/91ea5afPWUL._SX522_.jpg" alt="Gillette Fusion5 ProGlide Men's Razor Blades" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,476 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMZg0T">Gillette Fusion5 ProGlide Men's Razor Blades, 8 Blade Refills (Packaging May Vary)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.99</span><span class="ori_price">$35.71</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMZg0T">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="48.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XzKxNG"><img src="https://images-na.ssl-images-amazon.com/images/I/81KHUVOA5bL._SX522_.jpg" alt="Omron 10 Series Wireless Upper Arm Blood Pressure" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>8,752 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XzKxNG">Omron 10 Series Wireless Upper Arm Blood Pressure Monitor; 2-User, 200-Reading Memory, Backlit Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XzKxNG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKb2c9"><img src="https://images-na.ssl-images-amazon.com/images/I/91cmu9N7gAL._SX679_.jpg" alt="Gorilla Super Glue Gel, 20 Gram, Clear" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,230 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKb2c9">Gorilla Super Glue Gel, 20 Gram, Clear</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.97</span><span class="ori_price">$14.89</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LKb2c9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="15.13">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xBkPZY"><img src="https://images-na.ssl-images-amazon.com/images/I/81VkinrNUdL._SX679_.jpg" alt="Master Lock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,074 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xBkPZY">Master Lock 5900D Set Your Own Combination Portable Safe, 9-17/32 in. Wide, Gunmetal Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.13</span><span class="ori_price">$27.59</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xBkPZY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="24.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIlyo9"><img src="https://images-na.ssl-images-amazon.com/images/I/818GqYrux8L._SY879_.jpg" alt="Chamberlain Group Clicker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,449 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIlyo9">Chamberlain Group KLIK3U-BK Clicker Universal 2-Button Garage Door Opener Remote with Visor Clip, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.93</span><span class="ori_price">$41.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YIlyo9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="48.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxaIoe"><img src="https://images-na.ssl-images-amazon.com/images/I/81guZtb626L._SX522_.jpg" alt="Outdoor Storage Table D" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>390 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxaIoe">Keter 230897 37 Gallon Circa Natural Wood Style Round Outdoor Storage Table D</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.96</span><span class="ori_price">$74.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxaIoe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lazm7D"><img src="https://images-na.ssl-images-amazon.com/images/I/61kYUmAmOGL._SX522_.jpg" alt="Streamlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,048 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lazm7D">Streamlight MicroStream Ultra-compact Aluminum body with AAA alkaline battery, 3.5 Inch - 1.04 oz - 45 Lumens - 66318</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$29.43</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lazm7D">Shop Now at Amazon</a></div>
</div>

