<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="47" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jHkdP3"><img src="https://images-na.ssl-images-amazon.com/images/I/71TzCLRzYAL._SY355_.jpg" alt="Ring Video Doorbell" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jHkdP3">Certified Refurbished Ring Video Doorbell 2</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$169.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jHkdP3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="124.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lbWDuf"><img src="https://images-na.ssl-images-amazon.com/images/I/81fTZ%2Bf%2Bu8L._SX522_.jpg" alt="Petcube Bites Pet Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>851 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lbWDuf">Petcube Bites Pet Camera with Treat Dispenser: HD 1080p Video Monitor, 2-Way Audio, Night Vision, Sound and Motion Alerts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$124.50</span><span class="ori_price">$249.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lbWDuf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jHWzSw"><img src="https://images-na.ssl-images-amazon.com/images/I/41MYjBct2vL._AC_US218_.jpg" alt="Elite Gourmet MST-275XS Electric Slow Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,486 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jHWzSw">Elite Gourmet MST-275XS Electric Slow Cooker, Adjustable Temp, Entrees, Sauces, Stews & Dips, Dishwasher Glass Lid...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.47</span><span class="ori_price">$30.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jHWzSw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="31.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l7Okzp"><img src="https://images-na.ssl-images-amazon.com/images/I/81c-2VCsrsL._SX679_.jpg" alt="K'NEX Thrill Rides" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>179 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l7Okzp">K'NEX Thrill Rides - 3-in-1 Classic Amusement Park Building Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.99</span><span class="ori_price">$54.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2l7Okzp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="32.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lbpLSl"><img src="https://images-na.ssl-images-amazon.com/images/I/91%2BJfP1FXiL._SX679_.jpg" alt="K'NEX K-Force" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>145 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lbpLSl">K'NEX K-Force - Flash Fire Motorized Blaster Building Set - 288 Pieces - For Ages 8+ Engineering Education Toy</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.22</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lbpLSl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="246.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ladQ7k"><img src="https://images-na.ssl-images-amazon.com/images/I/51bQ87pd7gL._AC_SR300,300_.jpg" alt="Lawn Mower" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ladQ7k">WORX WG958 14-inch 40V (4.0AH) WG779 Cordless Lawn Mower and WG547.9 Power Share Cordless Turbine Blower Battery and Charger Included</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$246.70</span><span class="ori_price">$349.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ladQ7k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="19.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30uPdl5"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZpxNXOW2L._SY679_.jpg" alt="PlantFusion Complete Plant-Based Protein Powder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,386 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30uPdl5">PlantFusion Complete Plant-Based Protein Powder, Gluten Free, Vegan, Non-GMO, Packing May Vary, Vanilla, 1 Pound</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.14</span><span class="ori_price">$26.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30uPdl5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="77" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30uPg0f"><img src="https://images-na.ssl-images-amazon.com/images/I/51M3iXkxlzL._SX522_.jpg" alt="Drive Memory Stick" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>77% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30uPg0f">UPSTONE 128GB USB 3.0 Flash Drives Pen Drive Memory Stick Thumb Drive USB Drives (Silver 128GB)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.59</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30uPg0f">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="9.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJLEFJ"><img src="https://images-na.ssl-images-amazon.com/images/I/811EIMrIvVL._SX522_.jpg" alt="Lifefactory 12-Ounce BPA-Free Glass Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>140 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XJLEFJ">Lifefactory 12-Ounce BPA-Free Glass Water Bottle with Classic Cap and Protective Silicone Sleeve, Coral</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.93</span><span class="ori_price">$17.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="16.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJMqT9"><img src="https://images-na.ssl-images-amazon.com/images/I/41J0COg8rUL.jpg" alt="Gaiam Restore Muscle Massage Therapy Foam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>349 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XJMqT9">Gaiam Restore Muscle Massage Therapy Foam Rollers (18 inch & 36 inch)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.89</span><span class="ori_price">$34.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XJMqT9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="28.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lan4R0"><img src="https://images-na.ssl-images-amazon.com/images/I/51ZDbfAmZlL._UX679_.jpg" alt="Under Armour Men's Armour Fleece Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>112 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lan4R0">Under Armour Men's Armour Fleece Pants</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.27</span><span class="ori_price">$55.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lan4R0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lc7F2t"><img src="https://images-na.ssl-images-amazon.com/images/I/51oX2axq%2B4L._UX679_.jpg" alt="adidas Tennis Club 3 Stripes Shorts" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lc7F2t">adidas Tennis Club 3 Stripes Shorts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.00</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lc7F2t">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="36.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jJ8kbd"><img src="https://images-na.ssl-images-amazon.com/images/I/61Kdecfih9L._SX679_.jpg" alt="Gerber MP600 Multi-Plier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,007 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jJ8kbd">Gerber MP600 Multi-Plier, Needle Nose, Black [47550]</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.78</span><span class="ori_price">$42.26</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jJ8kbd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l9QxKP"><img src="https://images-na.ssl-images-amazon.com/images/I/61mOO1Eog8L._SX679_.jpg" alt="Coleman Portable Camping Quad Chair" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,663 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l9QxKP">Coleman Portable Camping Quad Chair with 4-Can Cooler</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$54.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2l9QxKP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lauBPM"><img src="https://images-na.ssl-images-amazon.com/images/I/61bkmg9cf0L._AC_SL1000_.jpg" alt="Starlink Battle for Atlas" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>368 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lauBPM">Starlink Battle for Atlas - Nintendo Switch Starter Edition by Ubisoft</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$74.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lauBPM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="49.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lbGhlj"><img src="https://images-na.ssl-images-amazon.com/images/I/A1UnRUFuNXL._SX522_.jpg" alt="Honey-Can-Do Kids Toy Organizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,679 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lbGhlj">Honey-Can-Do SRT-01602 Kids Toy Organizer and Storage Bins, Natural/Primary</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.87</span><span class="ori_price">$120.00</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lbGhlj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="30.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jJaWGe"><img src="https://images-na.ssl-images-amazon.com/images/I/71gwz5ulaVL._SX679_.jpg" alt="Cuisinart Cordless Wine Opener" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>128 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jJaWGe">Cuisinart CWO-50 086279096395 Cordless Wine Opener with Vacuum Sealer, One Size, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.99</span><span class="ori_price">$75.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jJaWGe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="73" data-price="53.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lbIs8t"><img src="https://images-na.ssl-images-amazon.com/images/I/91aekODvWoL._SX679_.jpg" alt="Bedding Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>157 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>73% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lbIs8t">Lush Decor Bohemian Striped Quilt Reversible 3 Piece Colorful Boho Design Bedding Set, Full Queen, Turquoise</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.99</span><span class="ori_price">$199.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lbIs8t">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l8AKvD"><img src="https://images-na.ssl-images-amazon.com/images/I/710zjb4dFiL._SX679_.jpg" alt="Air Convection Fryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>644 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l8AKvD">BELLA 14538 2.6 Quart Air Convection Fryer, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2l8AKvD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="52.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jJadVl"><img src="https://images-na.ssl-images-amazon.com/images/I/9111mNDcbgL._SX522_.jpg" alt="Presto Pressure Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,361 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jJadVl">Presto 01370 8-Quart Stainless Steel Pressure Cooker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$52.99</span><span class="ori_price">$119.00</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jJadVl">Shop Now at Amazon</a></div>
</div>
