<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="30" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JMydjp"><img src="https://m.media-amazon.com/images/I/61G3waGJTOL._SR400,400_.jpg" alt="Yoga Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>234 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JMydjp">Yoga Pants, BESTENA Womens Leggings with Pockets High Waist Tummy Control Workout Running PantsYoga Pants,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">30D6EM64</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $17.99</strong> with promo code: <strong class="m_codes">30D6EM64</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Jul 24, 2019 at 10:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JMydjp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="37.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XK8Loy"><img src="https://m.media-amazon.com/images/I/51bfOIgoOKL._SR400,400_.jpg" alt="LUMINTOP GT Mini Long Rang Flashlight" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XK8Loy">LUMINTOP GT Mini Long Rang Flashlight 17W 4.5A CREE XHL Max 1200 Lumen Beam Distance 750 Meter 135,000cd Outdoor...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$37.49</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">255UGG9D</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $49.99</strong> with promo code: <strong class="m_codes">255UGG9D</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XK8Loy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="8.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JM6gs4"><img src="https://m.media-amazon.com/images/I/61Z8OuhMEfL._SR400,400_.jpg" alt="Wireless Color Changing LED" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JM6gs4">Wireless Color Changing LED Puck Light 6 Pack with Remote Controls | LED Under Cabinet Lighting | Closet Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.75</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">65QWIO9B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $24.99</strong> with promo code: <strong class="m_codes">65QWIO9B</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JM6gs4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="77.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XKXrsm"><img src="https://m.media-amazon.com/images/I/61FI6IaP8LL._SR400,400_.jpg" alt="MATELOS Cordless Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XKXrsm">MATELOS Cordless Vacuum Cleaner, Stick and Handheld Vacuum with Extra Mite Brush & 2 Charging Mount Powerful...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$77.99</span><span class="ori_price">$119.99</span></address>
      <textarea readonly="readonly" class="code_area">35F3B334</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $119.99</strong> with promo code: <strong class="m_codes">35F3B334</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XKXrsm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="11.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SriV7J"><img src="https://m.media-amazon.com/images/I/61Ve8R8gZtL._SR400,400_.jpg" alt="LCD Writing Tablet with Sleeve Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SriV7J">LCD Writing Tablet with Sleeve Case, ERUW 10 Inch Electronic Graphics Drawing Pads, Drawing Board eWriter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.79</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">41DSSIXD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>41% off at $19.99</strong> with promo code: <strong class="m_codes">41DSSIXD</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SriV7J">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="77.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JRwzNp"><img src="https://m.media-amazon.com/images/I/61AGFUkTI8L._SR400,400_.jpg" alt="Naipo Shiatsu Foot Massager" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>71 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JRwzNp">Naipo Shiatsu Foot Massager Machine with Heat Electric Feet Massage Deep Kneading and Air Compression Adjustable Intensity...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$77.99</span><span class="ori_price">$129.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">40667YWQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $129.99</strong> with promo code: <strong class="m_codes">40667YWQ</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JRwzNp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="11.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JLQr4K"><img src="https://m.media-amazon.com/images/I/61lgcolOO4L._SR400,400_.jpg" alt="CR COMFORT & RELAX Sleep Memory Foam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JLQr4K">CR COMFORT & RELAX Sleep Memory Foam Contour Pillow for for Neck Pain, Gel-Infused Technology, Standard, White</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.09</span><span class="ori_price">$36.96</span></address>
      <textarea readonly="readonly" class="code_area">7015HG03</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $36.96</strong> with promo code: <strong class="m_codes">7015HG03</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 20, 2019 at 11:00 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2JLQr4K">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32xSIsG"><img src="https://m.media-amazon.com/images/I/51zQGyP8vuL._SR400,400_.jpg" alt="iClever 800A Peak 20000mAh Car Jump Starter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32xSIsG">iClever 800A Peak 20000mAh Car Jump Starter (up to 8L gas or 6.5L diesel engine) | 12V Auto Battery Booster,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.99</span><span class="ori_price">$74.99</span></address>
      <textarea readonly="readonly" class="code_area">20ICLEVER</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $74.99</strong> with promo code: <strong class="m_codes">20ICLEVER</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 23, 2019 at 03:00 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32xSIsG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="159.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XVdap3"><img src="https://m.media-amazon.com/images/I/81OGGGAw9yL._SR400,400_.jpg" alt="Flume Water Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>136 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XVdap3">Flume Water Monitor: Smart Home Water Monitoring to Stop Leaks & Track Water Usage in Real Time. Works with Alexa.</a></p>
    <div class="code_high">
      <address><span class="dis_price">$159.20</span><span class="ori_price">$199.00</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">20WTXN6B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $199.00</strong> with promo code: <strong class="m_codes">20WTXN6B</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 26, 2019 at 12:01 AM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XVdap3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="4.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWNHXa"><img src="https://images-na.ssl-images-amazon.com/images/I/81Lo6HYxUgL._UX679_.jpg" alt="Tacloft Aviator Sunglasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWNHXa">Tacloft Aviator Sunglasses Polarized for Women Men Polarized UV 400 Unisex Metal Sunglasses Lightweight Driving Sun Shades</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.76</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">72H1RYDH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>72% off at $16.99</strong> with promo code: <strong class="m_codes">72H1RYDH</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 22, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XWNHXa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XN2gkV"><img src="https://m.media-amazon.com/images/I/71VD0VklGAL._SR400,400_.jpg" alt="YOUKADA Chenille Bath Mats " /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XN2gkV">YOUKADA Chenille Bath Mats 2 Piece Mat for Bathroom Extra Soft Bath mat Bathroom Rug Non-slip Bath Rug Easy ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.47</span><span class="ori_price">$22.95</span></address>
      <textarea readonly="readonly" class="code_area">50NDYGD3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.95</strong> with promo code: <strong class="m_codes">50NDYGD3</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 21, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XN2gkV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="15.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xZ8df7"><img src="https://m.media-amazon.com/images/I/81-GFfIzbRL._SR400,400_.jpg" alt="HOMFY Super Soft Bed Blanket Queen" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xZ8df7">HOMFY Super Soft Bed Blanket Queen, Luxury Lightweight Throw Blanket for Bed, Sofa and Couch, Not Fade or Shrink - Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">708BZMAR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $49.99</strong> with promo code: <strong class="m_codes">708BZMAR</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2xZ8df7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32xKYai"><img src="https://m.media-amazon.com/images/I/61O9GX7gMLL._SR400,400_.jpg" alt="DOUDOU Shop Slip On Walking Shoes Men" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32xKYai">DOUDOU Shop Slip On Walking Shoes Men - Fashion Casual Knit Mesh Breathable Lightweight Running Sneakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">7033M5BJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $35.99</strong> with promo code: <strong class="m_codes">7033M5BJ</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32xKYai">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O1Y1xC"><img src="https://m.media-amazon.com/images/I/71uFXLZ-rHL._SR400,400_.jpg" alt="BOSTANTEN Leather Wallets" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>67 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O1Y1xC">BOSTANTEN Leather Wallets for Men RFID Blocking Bifold Stylish Wallet With 2 ID Window</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">70CZ3HGM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $29.99</strong> with promo code: <strong class="m_codes">70CZ3HGM</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O1Y1xC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XU5008"><img src="https://m.media-amazon.com/images/I/616inKbRKrL._SR400,400_.jpg" alt="Swing Midi Dress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>56 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XU5008">MEROKEETY Women's Summer Striped Ruffle Sleeves Tie Waist Pockets Casual Swing Midi Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">40JMIYOL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">40JMIYOL</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2XU5008">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SphdUd"><img src="https://m.media-amazon.com/images/I/613pWXE3sSL._SR400,400_.jpg" alt="TENAVOLTS Rechargeable AA Battery Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>137 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SphdUd">TENAVOLTS Rechargeable AA Battery Charger with 4 Counts Lithium 2775 mWh AA Rechargeable Batteries</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.50</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">50IPYPK4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $34.99</strong> with promo code: <strong class="m_codes">50IPYPK4</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 28, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SphdUd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="148.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sr6jh4"><img src="https://m.media-amazon.com/images/I/517vmp48wFL._SR400,400_.jpg" alt="Gaming Chair Adjustable Racing Style Computer Chair" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Sr6jh4">Musso (Muscle) Series Large Size High-Back Ergonomic Gaming Chair Adjustable Racing Style Computer Chair...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$148.85</span><span class="ori_price">$229.00</span></address>
      <textarea readonly="readonly" class="code_area">35MUSSO229A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $229.00</strong> with promo code: <strong class="m_codes">35MUSSO229A</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Sr6jh4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yai5Bw"><img src="https://m.media-amazon.com/images/I/51PlyPuPK7L._SR400,400_.jpg" alt="Bluetooth Smartwatch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>166 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yai5Bw">WJPILIS Smart Watch Touch Screen Bluetooth Smartwatch Smart Wrist Watch Fitness Tracker with SIM TF Card Slot...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span>
        <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">50KZR3IO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50KZR3IO</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Yai5Bw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="28.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sl1SnX"><img src="https://m.media-amazon.com/images/I/61idFQ6hAXL._SR400,400_.jpg" alt="Womens Leopard Flatform Loafers Slip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Sl1SnX">Womens Leopard Flatform Loafers Slip on Flat Platform Sneakers Walking Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.46</span><span class="ori_price">$94.88</span></address>
      <textarea readonly="readonly" class="code_area">70FH9YAJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $94.88</strong> with promo code: <strong class="m_codes">70FH9YAJ</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 18, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Sl1SnX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.21">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sr7nS6"><img src="https://m.media-amazon.com/images/I/6180Koz5hJL._SR400,400_.jpg" alt="Vintage Kitchen Compost Bin-Indoor Scraps..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>15 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Sr7nS6">Vintage Kitchen Compost Bin-Indoor Scraps Compost Bucket Container with lid-Flies/Odor Proof Compost Keeper Pail...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.21</span><span class="ori_price">$34.59</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">3034AH7B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $34.59</strong> with promo code: <strong class="m_codes">3034AH7B</strong></span></p>
      <span class="ex_date ex_date_new">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Sr7nS6">Use Code at Amazon</a></div>
</div>

