<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button>
</div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
-->

<!-- <div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div> -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="17" data-price="24.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vm013O"><img src="https://m.media-amazon.com/images/I/81njHV+AXrL._SR400,400_.jpg" alt="Raydem Diaper Bag Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vm013O">Raydem Diaper Bag Backpack, Multifunctional Baby Travel Carry On Backpack with Changing Pad, USB Charging Port Nappy Bag with Stroller Hooks for Mom Dad</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.89</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">17RCRA95</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>17% off at $29.99</strong> with promo code: <strong class="m_codes">17RCRA95</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Vm013O">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Ts4d5"><img src="https://m.media-amazon.com/images/I/81qMjPlPZSL._SR400,400_.jpg" alt="RGB Under Cabinet Lighting" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Ts4d5">RGB Under Cabinet Lighting, 6 PCS x 19.6In LED Strip Lights, 5050 LEDs Color Changing Lights with Remote and Power Supply,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">60RT9WAC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">60RT9WAC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Ts4d5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IutOBS"><img src="https://m.media-amazon.com/images/I/71tFBQotaeL._SR400,400_.jpg" alt="LIVEBOX Personalized Notebook Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IutOBS">LIVEBOX Personalized Notebook Set,School Supplies Back to School 2 Pieces Sequin Notebook Reversible Mermaid A5 Diary Travel Journal...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50EO8MHE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50EO8MHE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2IutOBS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AKTNRt"><img src="https://m.media-amazon.com/images/I/81YHYq8nNCL._SR400,400_.jpg" alt="Micoop Large Size Waterproof Check Pattern School Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AKTNRt">Micoop Large Size Waterproof Check Pattern School Backpack Travel Outing Dayback for Women and Girls (Green)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">50H5XHZH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $32.99</strong> with promo code: <strong class="m_codes">50H5XHZH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2AKTNRt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31XsBe8"><img src="https://m.media-amazon.com/images/I/61Vtd++Xu3L._SR400,400_.jpg" alt="Black Protein Shaker Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31XsBe8">Black Protein Shaker Bottle by Critical Vitality | 25oz/700ml Tumbler with Blender-Mixer-Ball, Leak Proof BPA Free Sports/Travel Water...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$7.99</span></address>
      <textarea readonly="readonly" class="code_area">507PA6D1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $7.99</strong> with promo code: <strong class="m_codes">507PA6D1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31XsBe8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MiJHMR"><img src="https://m.media-amazon.com/images/I/61FmI+HViWL._SR400,400_.jpg" alt="Super-Cute Safety Hammer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MiJHMR">Super-Cute Safety Hammer, Emergency Escape Tool with Car Window Breaker and Seat Belt Cutter, Life Saving Safety & Survival Kit...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.59</span><span class="ori_price">$10.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40ESCAPE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $10.99</strong> with promo code: <strong class="m_codes">40ESCAPE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MiJHMR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="15.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oZG0nc"><img src="https://m.media-amazon.com/images/I/61bCYxTXxcL._SR400,400_.jpg" alt="ALOVECO Landscape Lighting Low Voltage" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oZG0nc">ALOVECO Landscape Lighting Low Voltage, 12V / 24V LED Landscape lights IP66 Waterproof Outdoor Landscape Spotlights Aluminum Metal Made with Spike...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">701W23D5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $49.99</strong> with promo code: <strong class="m_codes">701W23D5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oZG0nc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="12.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MiKflT"><img src="https://m.media-amazon.com/images/I/61NIUEn6yGL._SR400,400_.jpg" alt="Gym Workout Running Cotton Shorts" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MiKflT">BROKIG Mens Bodybuilding Gym Workout Running Cotton Shorts Cut Off Edge</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.09</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">45FE9RGC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $21.99</strong> with promo code: <strong class="m_codes">45FE9RGC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MiKflT">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35mNaTw"><img src="https://m.media-amazon.com/images/I/61NjDwrE6DL._SR400,400_.jpg" alt="onlypuff Women's Casual Long Sleeve T-Shirt" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35mNaTw">onlypuff Women's Casual Long Sleeve T-Shirt Criss Cross V-Neck Basic Tees Tops S</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">40QDUX6F</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40QDUX6F</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/35mNaTw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="52.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31VB1mq"><img src="https://m.media-amazon.com/images/I/61cPDFAOctL._SR400,400_.jpg" alt="Hair Removal For Women & Men" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31VB1mq">Hair Removal For Women & Men, IPL Facial Body 500,000 Flashes Permanent Painless Hair Remover System With 5 Energy Level Adjustment and Manual/Auto Settings</a></p>
    <div class="code_high">
      <address><span class="dis_price">$52.19</span><span class="ori_price">$86.99</span>
        <div class="tooltip_common tooltip_green"><span> + $10.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $10.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40EE32EN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $86.99</strong> with promo code: <strong class="m_codes">40EE32EN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31VB1mq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AQcFOW"><img src="https://m.media-amazon.com/images/I/61q3HHyQyoL._SR400,400_.jpg" alt="Potty Training Seat" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AQcFOW">Potty Training Seat, PETUOL Toddlers Boys Girls Toilet Trainer Seat with Detachable Soft Cushion Sturdy Handle and Backrest Baby Toilet...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50GE8V4J</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50GE8V4J</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2AQcFOW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OnYFno"><img src="https://m.media-amazon.com/images/I/61xPtucMoDL._SR400,400_.jpg" alt="WIN-MARKET Vegetables Funny Pumpkin Gel Ink Pen" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OnYFno">WIN-MARKET Vegetables Funny Pumpkin Gel Ink Pen Cute Kawaii Black Writing Pens Ballpoint Black Ink Gel Pen Party Gift Gel Ink Pens...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">601FIUNX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $9.99</strong> with promo code: <strong class="m_codes">601FIUNX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OnYFno">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="7.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IuwwY4"><img src="https://m.media-amazon.com/images/I/81hmJRvXEsL._SR400,400_.jpg" alt="Shiitake mushroom crisps" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IuwwY4">Shiitake mushroom crisps, Crispy Mushroom, Low fat snack pack, Crunchy healthy, Vegetable crisps, Mushroom snack, vegetable snacks, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.14</span><span class="ori_price">$10.99</span></address>
      <textarea readonly="readonly" class="code_area">35GVGYUS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $10.99</strong> with promo code: <strong class="m_codes">35GVGYUS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2IuwwY4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="10.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OAVWYb"><img src="https://m.media-amazon.com/images/I/61n9R3cg40L._SR400,400_.jpg" alt="Wood Moisture Meter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OAVWYb">Wood Moisture Meter - Digital Moisture Detector Moisture Tester, Water Leak Detector, Pin Type, Damp Tester Dampness Meter with 6 Modes ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.44</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">45YFZNB1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $18.99</strong> with promo code: <strong class="m_codes">45YFZNB1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OAVWYb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Oq9nKf"><img src="https://m.media-amazon.com/images/I/61gkeDkGcFL._SR400,400_.jpg" alt="K Kenzhou Blue Light Blocking Computer Glasses" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Oq9nKf">K Kenzhou Blue Light Blocking Computer Glasses 2 Pack Anti Eye Eyestrain Unisex(Men/Women) Glasses with Spring Hinges UV Protection FDA Approved</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.38</span><span class="ori_price">$24.75</span></address>
      <textarea readonly="readonly" class="code_area">50NX7I43</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.75</strong> with promo code: <strong class="m_codes">50NX7I43</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Oq9nKf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="32.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VjVtKX"><img src="https://m.media-amazon.com/images/I/61vuxhTw7TL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VjVtKX">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.99</span><span class="ori_price">$54.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40V2IKU1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $54.99</strong> with promo code: <strong class="m_codes">40V2IKU1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VjVtKX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="88.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2APxbiQ"><img src="https://m.media-amazon.com/images/I/61FNpqoIDSL._SR400,400_.jpg" alt="INNOVA 6100P SRS ABS Engine OBD2 Scanner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2APxbiQ">INNOVA 6100P SRS ABS Engine OBD2 Scanner Diagnostic Tool with Battery Alternator Test Service Light Reset Car Health Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price">$88.79</span><span class="ori_price">$138.99</span>
         <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">206100P20</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $138.99</strong> with promo code: <strong class="m_codes">206100P20</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2APxbiQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="38.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MqcuPU"><img src="https://m.media-amazon.com/images/I/61eXf2cWgPL._SR400,400_.jpg" alt="CUPETS Cat Tree Flannelette Cat Climber Play House" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MqcuPU">CUPETS Cat Tree Flannelette Cat Climber Play House Condo Furniture with Scratching Post, Activity Tree Pet Products for Cats and Kittens</a></p>
    <div class="code_high">
      <address><span class="dis_price">$38.95</span><span class="ori_price">$59.93</span></address>
      <textarea readonly="readonly" class="code_area">35YAFRU7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $59.93</strong> with promo code: <strong class="m_codes">35YAFRU7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MqcuPU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.5">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MjkT7p"><img src="https://m.media-amazon.com/images/I/71s70m+UauL._SR400,400_.jpg" alt="M&Meagle Lightweight Microfiber Duvet Cover" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MjkT7p">M&Meagle Lightweight Microfiber Duvet Cover Grey Grid,Gray Plaid Printed Pattern Bedding Sets with Zipper and Corner Ties...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.5</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">507XX16T</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $32.99</strong> with promo code: <strong class="m_codes">507XX16T</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MjkT7p">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQpTkZ"><img src="https://m.media-amazon.com/images/I/61RPDfYZZCL._SR400,400_.jpg" alt="Meat Thermometer Bluetooth" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQpTkZ">Meat Thermometer Bluetooth - CHUGOD BBQ Cooking Thermometer Wireless Remote Digital Cooking Food Meat Thermometer with 3 Probes ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50JO4FTC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $49.99</strong> with promo code: <strong class="m_codes">50JO4FTC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LQpTkZ">Use Code at Amazon</a></div>
</div>

