<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="15" data-price="18.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YFf744"><img src="https://m.media-amazon.com/images/I/61tKNn-owIL._SR400,400_.jpg" alt="BlitzWolf Bluetooth Selfie Stick Tripod" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,079 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YFf744">BlitzWolf Bluetooth Selfie Stick Tripod, Extendable Phone Tripod Selfie Stick with Wireless Remote and Mini Pocket Selfie Stick...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.69</span><span class="ori_price">$21.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">15L7LK2F</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $21.99</strong> with promo code: <strong class="m_codes">15L7LK2F</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YFf744">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yyN9fV"><img src="https://m.media-amazon.com/images/I/519WSGeQB1L._SR400,400_.jpg" alt="AOCOBOOK Smart Socket Dual Outlet" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yyN9fV">AOCOBOOK Smart Socket Dual Outlet Compatible with Alexa and Google Assistant,Remote Control Outlet with Timing Function,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">50FYJTZ3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">50FYJTZ3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yyN9fV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33b0E3m"><img src="https://m.media-amazon.com/images/I/61Vs8IIN9yL._SR400,400_.jpg" alt="IKOPO Magnetic Phone Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>171 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33b0E3m">IKOPO Magnetic Phone Holder for Car, Strong Magnet Car Phone Mount Stick On Dashboard with Strongest VHB Adhesive(Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30RF98BV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $12.99</strong> with promo code: <strong class="m_codes">30RF98BV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 08, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33b0E3m">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33bwltp"><img src="https://m.media-amazon.com/images/I/614GprI5sAL._SR400,400_.jpg" alt="Lightning to USB Camera Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>156 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33bwltp">Lightning to USB Camera Adapter, YIKU 4 in 1 SD/TF Card Reader, Trail Game Camera Card Viewer Reader, Micro SD Card Reader...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.60</span><span class="ori_price">$16.49</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">60511REN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $16.49</strong> with promo code: <strong class="m_codes">60511REN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33bwltp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YmRd23"><img src="https://m.media-amazon.com/images/I/91W5gf7XzSL._SR400,400_.jpg" alt="Voova 11.6-12.5 Inch Tablet Sleeve" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>43 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YmRd23">Voova 11.6-12.5 Inch Tablet Sleeve, Slim 12 Inch Tablet Sleeve Leather Felt Case Bag with Accessory Pocket Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50HCDLHP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50HCDLHP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YmRd23">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KlJLKZ"><img src="https://m.media-amazon.com/images/I/61YUuEtAe2L._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KlJLKZ">Wireless Earbuds, Pobon True Wireless Bluetooth Earbuds 28H Playtime, in-Ear Stereo Bluetooth Headphones Wireless Earphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">502LFWJM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $59.99</strong> with promo code: <strong class="m_codes">502LFWJM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KlJLKZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YoO4ir"><img src="https://m.media-amazon.com/images/I/611G1sFI4oL._SR400,400_.jpg" alt="Lächen Travel Power Rechargeable Sonic Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YoO4ir">Lächen Travel Power Rechargeable Sonic Electric Toothbrush 5 Modes with 2 Min Build in Timer 60 Days USB Inductive Charging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">65X72VNI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $39.99</strong> with promo code: <strong class="m_codes">65X72VNI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YoO4ir">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/318NJNE"><img src="https://m.media-amazon.com/images/I/612ApYV29CL._SR400,400_.jpg" alt="Upgrade Beard Kit for Men" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>37 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/318NJNE">Upgrade Beard Kit for Men - Wumal Ultimate Beard Grooming Kit for Grow Beard - 100% Natural Comb, Oil, Balm, Brush,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">30NTUGNJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $19.99</strong> with promo code: <strong class="m_codes">30NTUGNJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/318NJNE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="7.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2T29hsA"><img src="https://m.media-amazon.com/images/I/51y0BTFmdWL._SR400,400_.jpg" alt="HOPEMATE Retinol Cream" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>77 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2T29hsA">HOPEMATE Retinol Cream, Anti-Aging Moisturizer Cream 2.5% for Face and Eye Care, Anti-Wrinkle Essence with Hyaluronic Acid,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.40</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">80ME4HI6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $36.99</strong> with promo code: <strong class="m_codes">80ME4HI6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2T29hsA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/339khJi"><img src="https://m.media-amazon.com/images/I/51MAeJfHMWL._SR400,400_.jpg" alt="Vyaime USB Car Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/339khJi">Vyaime USB Car Essential Oil Diffuser Home Humidifier Air Freshener,7 Colors LED Light 200mL Big Volume Aromatherapy</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">25X57NRU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $19.99</strong> with promo code: <strong class="m_codes">25X57NRU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/339khJi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="27.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KkY6Y8"><img src="https://m.media-amazon.com/images/I/71+wbfjTRAL._SR400,400_.jpg" alt="Germ Guardian GG1000 7” Pluggable Small Air Purifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,150 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KkY6Y8">Germ Guardian GG1000 7” Pluggable Small Air Purifier, Small Room Wall Air Sanitizer, Freshens Air, UV-C Light Kills Germs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.59</span><span class="ori_price">$34.49</span></address>
      <textarea readonly="readonly" class="code_area">20GG1000</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $34.49</strong> with promo code: <strong class="m_codes">20GG1000</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KkY6Y8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zr0hzG"><img src="https://m.media-amazon.com/images/I/519A3DuvKjL._SR400,400_.jpg" alt="Wireless Doorbell Remote Control Bell Chime Ringer Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>222 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zr0hzG">Wireless Doorbell Remote Control Bell Chime Ringer Kit Portable Push Button Transmitter & Receiver, Long Range Loud...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">50KNPUH9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $18.99</strong> with promo code: <strong class="m_codes">50KNPUH9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zr0hzG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KcRb48"><img src="https://m.media-amazon.com/images/I/71PMJdP-jdL._SR400,400_.jpg" alt="LinsnField Milk Frother Handheld Foam Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>111 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KcRb48">LinsnField Milk Frother Handheld Foam Maker For Coffee, Latte, Cappuccino, Hot Chocolate, Stainless Steel Stand Included</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">507947GD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">507947GD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KcRb48">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YnHfxm"><img src="https://m.media-amazon.com/images/I/8193FyWpVrL._SR400,400_.jpg" alt="Secura Automatic Electric Milk Frother" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,540 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YnHfxm">Secura Automatic Electric Milk Frother and Warmer 500ml</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40BVFN1P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">40BVFN1P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YnHfxm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zug5Sf"><img src="https://m.media-amazon.com/images/I/61l7mvKbFsL._SR400,400_.jpg" alt="Secura Stainless Steel French Press Coffee Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>5,314 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zug5Sf">Secura Stainless Steel French Press Coffee Maker -Extra Filters Included- 34 fl. oz (1 Liter),Black Matte</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$38.98</span></address>
      <textarea readonly="readonly" class="code_area">40ENMLCN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $38.98</strong> with promo code: <strong class="m_codes">40ENMLCN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zug5Sf">Use Code at Amazon</a></div>
</div>

