<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Image_alt" title="Image_title"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span><br /> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>Recommended</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span> + Percentage% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Percentage% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="deal_btn promo_btn"><em class="stock_m">* Only a few left in stock.</em><a target="_blank" href="product_link">Use Code at Amazon</a><em>* Only a few left in stock.</em></div>
-->

<div class="card clearfix" data-score="35" data-price="14.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33jvhmG"><img src="https://images-na.ssl-images-amazon.com/images/I/81izr0k9-6L._SX679_.jpg" alt="Hamilton Beach 6-Speed Electric Hand Mixer" title="Electric Hand Mixer"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33jvhmG">Hamilton Beach 6-Speed Electric Hand Mixer with Snap-On Storage Case, Wire Beaters, Whisk and Bowl Rest (62682RZ), 250W, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.96</span><span class="ori_price">$22.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33jvhmG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="66.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MA3bNf"><img src="https://images-na.ssl-images-amazon.com/images/I/413QzyJkOQL._SX425_.jpg" alt="GoWISE USA 1700-Watt 5.8-QT 8-in-1 Digital Air Fryer" title="Digital Air Fryer"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MA3bNf">GoWISE USA 1700-Watt 5.8-QT 8-in-1 Digital Air Fryer and 50 Recipes for your Air Fryer Book (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$66.49</span><span class="ori_price">$90.00</span>
        <div class="tooltip_common tooltip_orange"><span> + $1.56 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $1.56 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MA3bNf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="38.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2INRjWN"><img src="https://images-na.ssl-images-amazon.com/images/I/71-nSCQ55JL._SX425_.jpg" alt="Maytag M400 Speed Heat Steam Iron" title="Maytag M400 Speed Heat Steam Iron"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2INRjWN">Maytag M400 Speed Heat Steam Iron & Vertical Steamer with Stainless Steel Sole Plate, Self Cleaning Function + Thermostat Dial</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$38.70</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2INRjWN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35wKbba"><img src="https://images-na.ssl-images-amazon.com/images/I/51a1AXHQO-L._SX425_.jpg" alt="Renewable Mini Dehumidifier" title="Renewable Mini Dehumidifier"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35wKbba">New and Improved Eva-dry E-333 Renewable Mini Dehumidifier</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.97</span><span class="ori_price">$24.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35wKbba">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="16.03">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ILl3DL"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZcDMLalzL._SX425_.jpg" alt="Electric Egg Poacher" title="Electric Egg Poacher"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ILl3DL">Maxi-Matic EGC-007 Easy Electric Egg Poacher, Omelet, Scrambled, Soft, Medium, Hard-Boiled Boiler Cooker with Auto Shut-Off and Buzzer, Measuring Cup Included, BPA Free, 7 Capacity, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.03</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ILl3DL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="40.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VEgIHJ"><img src="https://images-na.ssl-images-amazon.com/images/I/618qC6zHIiL._SX425_.jpg" alt="Hot Air Brush" title="Hot Air Brush"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VEgIHJ">Revlon One-Step Hair Dryer & Volumizer Hot Air Brush, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.65</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VEgIHJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="18.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IL5KuQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71gCUPf9pyL._SX522_.jpg" alt="Genuine Philips Sonicare E-Series replacement toothbrush heads" title="replacement toothbrush heads"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IL5KuQ">Genuine Philips Sonicare E-Series replacement toothbrush heads, HX7022/66, 2-pk</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.95</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IL5KuQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35u9Xga"><img src="https://images-na.ssl-images-amazon.com/images/I/91o%2BHhwqkrL._SX425_.jpg" alt="Gillette Mach3 Men's Razor Blades" title="Gillette Mach3 Men's Razor Blades"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35u9Xga">Gillette Mach3 Men's Razor Blades, 15 Blade Refills</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.99</span><span class="ori_price">$37.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35u9Xga">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="27.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32cGMw6"><img src="https://images-na.ssl-images-amazon.com/images/I/616XyIIxyoL._SX679_.jpg" alt="OtterBox Symmetry Series iPhone XR Case" title="OtterBox Symmetry Series iPhone XR Case"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32cGMw6">OtterBox Symmetry Series Case for iPhone XR - Retail Packaging - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.22</span><span class="ori_price">$49.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32cGMw6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="6.61">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MFjUif"><img src="https://images-na.ssl-images-amazon.com/images/I/61solAQvcOL._SX679_.jpg" alt="Google USB Type C to 3.5mm Headphone Adapter" title="Google USB Type C to 3.5mm Headphone Adapter"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MFjUif">Google USB Type C to 3.5mm Headphone Adapter Pixel, XL, Pixel 2, XL, Pixel 3, Pixel 3XL, Other USB Type-C Phones - White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.61</span><span class="ori_price">$12.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MFjUif">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="97.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pgrHuL"><img src="https://images-na.ssl-images-amazon.com/images/I/61TSAn9KKxL._SX679_.jpg" alt="JBL Charge 3" title="JBL Charge 3"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pgrHuL">JBL Charge 3 JBLCHARGE3BLKAM Waterproof Portable Bluetooth Speaker (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$97.75</span><span class="ori_price">$149.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pgrHuL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Maagoy"><img src="https://images-na.ssl-images-amazon.com/images/I/61GMWiC147L._SX679_.jpg" alt="Spigen Rugged Armor Designed for Apple iPhone 11 Pro Max Case" title="iPhone 11 Pro Max Case"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Maagoy">Spigen Rugged Armor Designed for Apple iPhone 11 Pro Max Case (2019) - Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Maagoy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3183mok"><img src="https://images-na.ssl-images-amazon.com/images/I/619sC4BpSxL._SX679_.jpg" alt="iPhone 11 Pro Max Case" title="iPhone 11 Pro Max Case"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3183mok">Spigen Thin Fit Designed for Apple iPhone 11 Pro Max Case (2019) - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3183mok">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="28" data-price="57.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oECkYf"><img src="https://images-na.ssl-images-amazon.com/images/I/51R2a9p-vNL._SX522_.jpg" alt="TP-Link AC1750 Smart WiFi Router" title="TP-Link Smart WiFi Router"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oECkYf">TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Router for Home, Works with Alexa, VPN Server, Parental Control&QoS(Archer A7)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$57.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oECkYf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="18.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/327YcKa"><img src="https://images-na.ssl-images-amazon.com/images/I/81H9UW8aUgL._SX679_.jpg" alt="Cottonelle Ultra CleanCare Toilet Paper" title="Cottonelle Ultra CleanCare Toilet Paper"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/327YcKa">Cottonelle Ultra CleanCare Toilet Paper, Strong Bath Tissue, Septic-Safe, 36 Family+ Rolls</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.98</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/327YcKa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="7.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32mgtDT"><img src="https://images-na.ssl-images-amazon.com/images/I/91n2uBJuV1L._SY550_.jpg" alt="Colgate Cavity Protection Toothpaste" title="Colgate Cavity Protection Toothpaste"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32mgtDT">Colgate Cavity Protection Toothpaste with Fluoride - 6 ounce (6 Pack)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.92</span><span class="ori_price">$14.94</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32mgtDT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VIHE9d"><img src="https://images-na.ssl-images-amazon.com/images/I/71pwPPepOkL._SX425_.jpg" alt="White Noise Sound Machine" title="White Noise Sound Machine"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VIHE9d">White Noise Sound Machine | Portable Sleep Therapy for Home , Office , Baby & Travel | 6 Relaxing & Soothing Nature Sounds , Battery or Adapter Charging Options , Auto-Off Timer | HoMedics Sound Spa</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $3.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $3.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VIHE9d">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="37.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IMtAGn"><img src="https://images-na.ssl-images-amazon.com/images/I/71s-NACWAZL._SX425_.jpg" alt="HUGGIES Little Movers Slip On Diaper Pants" title="HUGGIES Little Movers Slip On Diaper Pants"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IMtAGn">HUGGIES Little Movers Slip On Diaper Pants, Size 6</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.96</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IMtAGn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="15.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oBsC92"><img src="https://images-na.ssl-images-amazon.com/images/I/71X9lDSoykL._SX679_.jpg" alt="Coffee Grinder" title="Coffee Grinder"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oBsC92">Hamilton Beach 80335R Fresh-Grind Coffee Grinder, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.96</span><span class="ori_price">$20.50</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oBsC92">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IJW9Va"><img src="https://images-na.ssl-images-amazon.com/images/I/81hzkV19XqL._SX679_.jpg" alt="Funko Advent Calendar: Marvel 80th Anniversary" title="Funko Advent Calendar"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IJW9Va">Funko Advent Calendar: Marvel 80th Anniversary, 24Pc</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IJW9Va">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="16.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J10Fif"><img src="https://images-na.ssl-images-amazon.com/images/I/61HWeh1gsYL._SY879_.jpg" alt="Contigo AUTOSEAL Transit Stainless Steel Travel Mug" title="Stainless Steel Travel Mug"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J10Fif">Contigo AUTOSEAL Transit Stainless Steel Travel Mug, 16 oz, Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.80</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J10Fif">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="100.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nHy3TD"><img src="https://images-na.ssl-images-amazon.com/images/I/617e%2BInYLsL._SX679_.jpg" alt="Table Lamp" title="Table Lamp"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nHy3TD">Safavieh Lighting Collection Calista Double Sphere Oil-Rubbed Bronze 27.75-inch Table Lamp (Set of 2)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$100.58</span><span class="ori_price">$312.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nHy3TD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="19.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oCa9cA"><img src="https://images-na.ssl-images-amazon.com/images/I/71tf1R7NQuL._SX522_.jpg" alt="Power Strip" title="Power Strip"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oCa9cA">Power Strip - 6-Outlet Surge Protector with 5 USB Ports Fast Charging (4.8A) UL Listed, 18AWG 6Ft Long Extension Cord, Adjustable Voltage 110-240V for iPhone iPad Home Dorm Office Laptop Computer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.54</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oCa9cA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/314UuzK"><img src="https://images-na.ssl-images-amazon.com/images/I/71cTlBGuHPL._SX425_.jpg" alt="Hyle Jump Rope Jumping Rope" title="Hyle Jump Rope Jumping Rope"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/314UuzK">Hyle Jump Rope Jumping Rope Skipping Rope Speed Rope Adjustable for Crossfit and Boxing Aerobic Exercise Like Fitness Gym Endurance Workout Speed Training...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.79</span><span class="ori_price">$16.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/314UuzK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="13.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2B6s2Tt"><img src="https://images-na.ssl-images-amazon.com/images/I/71R0g8IzS8L._SX425_.jpg" alt="Vaunn Medical Memory Foam Knee Pillow" title="Vaunn Medical Memory Foam Knee Pillow"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2B6s2Tt">Vaunn Medical Memory Foam Knee Pillow and Leg Positioner Cushion for Sciatica Relief, Back Pain, Leg Pain, Pregnancy, Hip and Joint Pain</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.50</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2B6s2Tt">Shop Now at Amazon</a></div>
</div>