<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Image_alt" title="Image_title"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span><br /> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>Recommended</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span> + Percentage% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Percentage% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="deal_btn promo_btn"><em class="stock_m">* Only a few left in stock.</em><a target="_blank" href="product_link">Use Code at Amazon</a><em>* Only a few left in stock.</em></div>
-->

<div class="card dealofday clearfix" data-score="30" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33jQooR"><img src="https://m.media-amazon.com/images/I/61I8NcuglIL._AC_UL320_ML3_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33jQooR"><span>Amazon Deal Of The Day:</span><br /> Save 30% on Outdoor Lighting & Home Goods & Power Tools</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2Vrmcpa">Security LED Motion Sensor Flood Lights</a> - <span>25.99<em>39.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/35mj96k">Security Solar Pathway Lights</a> - <span>27.99<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2IDKwyL">Security Solar Post Cap Lights</a> - <span>13.99<em>24.99</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33jQooR">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="32" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2q11K2O"><img src="https://images-na.ssl-images-amazon.com/images/I/41Xzm83svuL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2q11K2O"><span>Amazon Deal Of The Day:</span><br /> 32% off more on electric shaver</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2IDKGpR">Flyco Electric Razor for Men</a> - <span>22.99<em>29.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2VyaWYe">FLYCO Electric Razor Rotary Shaver for Men</a> - <span>27.99<em>39.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2IxTxcP">Cut Wet & Dry Razors for Shaving with Trimmer</a> - <span>33.99<em>49.99</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2q11K2O">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="40" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OGs0JQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71z2FHdbCpL._UY679_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OGs0JQ"><span>Amazon Deal Of The Day:</span><br /> Save up to 40% off on Silver Lilly One Piece Halloween Costumes</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2M0nHra">Plush One Piece Halloween Walrus Animal Costume</a> - <span>22.49<em>34.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Mu3s4b">Plush One Piece Cosplay Animal Dinosaur Costume</a> - <span>24.49<em>34.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/313vEjN">Pizza Costume - Print Long Sleeve Zip Pajamas</a> - <span>27.99<em>39.99</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OGs0JQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="165.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AV79L0"><img src="https://images-na.ssl-images-amazon.com/images/I/61TfCqsL6SL._SX425_.jpg" alt="Infant Optics DXR-8 Video Baby Monitor" title="Infant Optics DXR-8 Video Baby Monitor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AV79L0">Infant Optics DXR-8 Video Baby Monitor with Interchangeable Optical Lens</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$165.99</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AV79L0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/323AGOy"><img src="https://images-na.ssl-images-amazon.com/images/I/71gaFnan6SL._SX522_.jpg" alt="Dell S Series Led-Lit Monitor" title="Dell S Series Led-Lit Monitor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/323AGOy">Dell S Series Led-Lit Monitor 32" Black (S3219D), QHD 2560 X 1440, 60Hz, 99% sRGB, 16: 9, AMD FreeSync, 2 x 5W Speakers, 2 x HDMI 1.4, DP 1.2, USB 3.0</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/323AGOy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="169.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Yf1ap"><img src="https://images-na.ssl-images-amazon.com/images/I/91JC-BoKQ7L._SX522_.jpg" alt="LG 32MP58HQ-P 32-Inch IPS Monitor" title="LG 32-Inch IPS Monitor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Yf1ap">LG 32MP58HQ-P 32-Inch IPS Monitor with Screen Split</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.99</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Yf1ap">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="74.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3246anz"><img src="https://images-na.ssl-images-amazon.com/images/I/61lv1PHmiVL._SX522_.jpg" alt="Echo Dot (3rd Generation)" title="Echo Dot (3rd Generation)"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3246anz">Echo Dot (3rd Generation) - Charcoal with 2 Smart Bulb Kit by Sengled</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.94</span><span class="ori_price">$89.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3246anz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="30.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33jLMPz"><img src="https://images-na.ssl-images-amazon.com/images/I/71QCEkBQlIL._SX522_.jpg" alt="Logitech MK345 Wireless Combo" title="Logitech MK345 Wireless Combo"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33jLMPz">Logitech MK345 Wireless Combo – Full-sized Keyboard with Palm Rest and Comfortable Right-Handed Mouse</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33jLMPz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="169.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M3uuQY"><img src="https://images-na.ssl-images-amazon.com/images/I/81wXcfYl6-L._SX522_.jpg" alt="Samsung SSD" title="Samsung SSD"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M3uuQY">Samsung 970 EVO 1TB SSD (MZ-V7E1T0BW) NVMe M.2 V-NAND Internal Solid State Drive</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.99</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2M3uuQY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="397.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MtYFQf"><img src="https://images-na.ssl-images-amazon.com/images/I/91GMSrYPaHL._SX425_.jpg" alt="Samsung Flat 50-Inch 4K UHD 7 Series Ultra HD Smart TV" title="Samsung Ultra HD Smart TV"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MtYFQf">Samsung UN50RU7100FXZA Flat 50-Inch 4K UHD 7 Series Ultra HD Smart TV with HDR and Alexa Compatibility (2019 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$397.99</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MtYFQf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vuh3fX"><img src="https://images-na.ssl-images-amazon.com/images/I/61r%2BP02W6dL._SX425_.jpg" alt="Roku Ultra" title="Roku Ultra"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vuh3fX">Roku Ultra | HD/4K/HDR Streaming Media Player. Now includes Premium JBL Headphones. (2018)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Vuh3fX">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="33" data-price="134.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32f1tas"><img src="https://images-na.ssl-images-amazon.com/images/I/31bRQjsBIiL.jpg" alt="Microsoft Surface Dock" title="Microsoft Surface Dock"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32f1tas">Microsoft Surface Dock (Pd9-00003)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$134.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32f1tas">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="118.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VrUZmj"><img src="https://images-na.ssl-images-amazon.com/images/I/51W-O4Jn9EL._SX522_.jpg" alt="AMD Ryzen 5 2600 Processor with Wraith Stealth Cooler" title="AMD Ryzen 5"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VrUZmj">AMD Ryzen 5 2600 Processor with Wraith Stealth Cooler - YD2600BBAFBOX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$118.00</span><span class="ori_price">$199.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VrUZmj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IED7PN"><img src="https://images-na.ssl-images-amazon.com/images/I/61xNxQEJfkL._SX522_.jpg" alt="TP-Link AC750 WiFi Range Extender" title="TP-Link WiFi Range Extender"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IED7PN">TP-Link | AC750 WiFi Range Extender - Dual Band Cloud App Control | 2019 Release | Up to 750Mbps | One Button Setup Repeater,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$34.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $2.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $2.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IED7PN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33msTM6"><img src="https://images-na.ssl-images-amazon.com/images/I/91AF5hPsRIL._SX425_.jpg" alt="Energizer AA Batteries" title="Energizer AA Batteries"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33msTM6">Energizer AA Batteries (48Count), Double A Max Alkaline Battery – Packaging May Vary</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.93</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33msTM6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="23.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pbEGO8"><img src="https://images-na.ssl-images-amazon.com/images/I/8119og2UBZL._SY879_.jpg" alt="Scotch Thermal Laminating Pouches" title="Scotch Thermal Laminating Pouches"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pbEGO8">Scotch Thermal Laminating Pouches, 8.9 x 11.4-Inches, 3 mil thick, 200-Pack, Clear (TP3854-200)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.00</span><span class="ori_price">$42.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pbEGO8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="149.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2p41RKz"><img src="https://images-na.ssl-images-amazon.com/images/I/712UDuT1yRL._SY550_.jpg" alt="Certified Refurbished Ring Video Doorbell Pro" title="Ring Video Doorbell Pro"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2p41RKz">Certified Refurbished Ring Video Doorbell Pro, Works with Alexa (existing doorbell wiring required)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.00</span><span class="ori_price">$224.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2p41RKz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="279.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AXl6rL"><img src="https://images-na.ssl-images-amazon.com/images/I/81khZx00%2BtL._SX522_.jpg" alt="Samsung T5 Portable SSD 2TB" title="Samsung T5 Portable SSD"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AXl6rL">Samsung T5 Portable SSD - 2TB - USB 3.1 External SSD (MU-PA2T0B/AM), Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$279.99</span><span class="ori_price">$479.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AXl6rL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="56.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LZpIUu"><img src="https://images-na.ssl-images-amazon.com/images/I/615H9ye5TaL._SX679_.jpg" alt="Plantronics Voyager Legend Wireless Bluetooth Headset" title="Plantronics Voyager Bluetooth Headset"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LZpIUu">Plantronics Voyager Legend Wireless Bluetooth Headset - Compatible with iPhone, Android, and Other Leading Smartphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.65</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LZpIUu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="19.21">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2q1fWc3"><img src="https://images-na.ssl-images-amazon.com/images/I/714gbhj%2BTDL._SX522_.jpg" alt="Logitech C270 Desktop or Laptop Webcam" title="Logitech Webcam"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2q1fWc3">Logitech C270 Desktop or Laptop Webcam, HD 720p Widescreen for Video Calling and Recording</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.21</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2q1fWc3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="94.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AXgxh5"><img src="https://images-na.ssl-images-amazon.com/images/I/61TSAn9KKxL._SX679_.jpg" alt="JBL Charge 3 JBLCHARGE3BLKAM Waterproof Portable Bluetooth Speaker" title="JBL Charge 3 Bluetooth Speaker"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AXgxh5">JBL Charge 3 JBLCHARGE3BLKAM Waterproof Portable Bluetooth Speaker (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$94.65</span><span class="ori_price">$149.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AXgxh5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="329.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VrWWiD"><img src="https://images-na.ssl-images-amazon.com/images/I/71b0Gnu75dL._SY445_.jpg" alt="Apple iPad (Wi-Fi, 128GB)" title="Apple iPad (Wi-Fi, 128GB)"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VrWWiD">Apple iPad (Wi-Fi, 128GB) - Gold (Previous Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$329.00</span><span class="ori_price">$429.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VrWWiD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oxPI0r"><img src="https://images-na.ssl-images-amazon.com/images/I/716r6a-4MDL._SX679_.jpg" alt="Brother HL-L2300D Monochrome Laser Printer" title="Brother Laser Printer"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oxPI0r">Brother HL-L2300D Monochrome Laser Printer with Duplex Printing</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oxPI0r">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="218.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IAZpBY"><img src="https://images-na.ssl-images-amazon.com/images/I/51KQqdl5azL._SX522_.jpg" alt="Logitech G920 Dual-Motor Feedback Driving Force Racing Wheel" title="Logitech Driving Force Racing Wheel"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IAZpBY">Logitech G920 Dual-Motor Feedback Driving Force Racing Wheel with Responsive Pedals for Xbox One</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$218.99</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IAZpBY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="174.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VvJgTS"><img src="https://images-na.ssl-images-amazon.com/images/I/81EEpt-xy0L._SX522_.jpg" alt="Corsair Desktop Memory 32GB" title="Corsair Desktop Memory 32GB"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VvJgTS">Corsair CMW32GX4M2C3200C16 Vengeance RGB PRO 32GB (2x16GB) DDR4 3200 (PC4-25600) C16 Desktop Memory Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$174.99</span><span class="ori_price">$294.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VvJgTS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AXm0o9"><img src="https://images-na.ssl-images-amazon.com/images/I/81RxMLMMMZL._SX522_.jpg" alt="SUPCASE Unicorn Beetle Pro Series Case Designed for iPhone 11" title="iPhone 11 case"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AXm0o9">SUPCASE Unicorn Beetle Pro Series Case Designed for iPhone 11 6.1 Inch (2019 Release), Built-In Screen Protector Full-Body Rugged Holster Case (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AXm0o9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Z0aLG"><img src="https://images-na.ssl-images-amazon.com/images/I/61OG4S3oJLL._SX522_.jpg" alt="Wireless Earbuds Bluetooth 5.0 Headphones" title="Wireless Earbuds"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Z0aLG">Wireless Earbuds Bluetooth 5.0 Headphones, 120H Playtime Deep Bass Stereo Sound,Noise-Cancelling Earbuds with Microphone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30Z0aLG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="713.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MraarS"><img src="https://images-na.ssl-images-amazon.com/images/I/81q8lWudCoL._SX425_.jpg" alt="Autel MP808K Diagnostic Scan Tool" title="Autel Diagnostic Scan Tool"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MraarS">Autel MP808K Diagnostic Scan Tool with OE-Level All Systems Diagnosis and 23 Services, Key Coding, Bi-Directional Control,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$713.15</span><span class="ori_price">$1,599.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MraarS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35lp637"><img src="https://images-na.ssl-images-amazon.com/images/I/61PQ2UznGnL._SX679_.jpg" alt="Parker 1953170 Jotter Ballpoint Pen" title="Parker Jotter Ballpoint Pen"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35lp637">Parker 1953170 Jotter Ballpoint Pen, Stainless Steel with Chrome Trim, Medium Point Blue Ink, Gift Box</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.49</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35lp637">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="23.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33kHSpH"><img src="https://images-na.ssl-images-amazon.com/images/I/81PGIDPtiRL._SX425_.jpg" alt="First Alert Carbon Monoxide Detector" title="First Alert Carbon Monoxide Detector"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33kHSpH">First Alert Carbon Monoxide Detector Alarm|No Outlet Required with Digital Display and Peak Memory, Battery Operated, CO410</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.97</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33kHSpH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="129.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ICkYCk"><img src="https://images-na.ssl-images-amazon.com/images/I/71gDxnOnA-L._SY741_.jpg" alt="Moto G6 with Alexa Hands-Free" title="Moto G6"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ICkYCk">Moto G6 with Alexa Hands-Free – 32 GB – Unlocked (AT&T/Sprint/T-Mobile/Verizon) – Oyster Blush - Prime Exclusive Phone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.99</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ICkYCk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="9.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/310zQ3Q"><img src="https://images-na.ssl-images-amazon.com/images/I/71GXpVUAUCL._SX679_.jpg" alt="PS4 Controller Charger" title="PS4 Controller Charger"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/310zQ3Q">PS4 Controller Charger, Y Team Playstation 4 / PS4 / PS4 Pro / PS4 Slim Controller Charger Charging Docking Station Stand.Dual...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.37</span><span class="ori_price">$16.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/310zQ3Q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="6.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nxo6rH"><img src="https://images-na.ssl-images-amazon.com/images/I/61dL5e8MWFL._SX679_.jpg" alt="Julk Case for Apple Watch Series 5" title="Julk Case for Apple Watch Series 5"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nxo6rH">[2-Pack] Julk Case for Apple Watch Series 5 / Series 4 Screen Protector 44mm, 2019 New iWatch Overall Protective Case TPU HD Ultra-Thin Cover...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.06</span><span class="ori_price">$10.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nxo6rH">Shop Now at Amazon</a></div>
</div>


