<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="50" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FVq7UA"><img src="https://m.media-amazon.com/images/I/61kSU6it1sL._SR400,400_.jpg" alt="Women Long Sleeve Cotton Daily Loose T-Shirt Dress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FVq7UA">Women Long Sleeve Cotton Daily Loose T-Shirt Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$7.99</span></address>
      <p><span>Take <strong>50% off at $7.99</strong> with promo code: <strong>501CB5ZP</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FVq7UA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="151.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JjGxs0"><img src="https://m.media-amazon.com/images/I/61S7xbXIdFL._SR400,400_.jpg" alt="PONER SAUND HD Projector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JjGxs0">PONER SAUND HD Projector, M5 3800 Lumens Home Theater Projector with 50000 hrs LED Lamp Life, Outdoor Movie Projector...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$151.99</span><span class="ori_price">$189.99</span></address>
      <p><span>Take <strong>20% off at $189.99</strong> with promo code: <strong>20LRX1QC</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JjGxs0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JvoXjs"><img src="https://m.media-amazon.com/images/I/51dIL+8yWQL._SR400,400_.jpg" alt="Goldblatt 7-inch Multi-use Diagonal Plier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>145 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JvoXjs">Goldblatt 7-inch Multi-use Diagonal Plier</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>50% off at $18.99</strong> with promo code: <strong>501C84YW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JvoXjs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LGIro6"><img src="https://m.media-amazon.com/images/I/61mG6jxUnuL._SR400,400_.jpg" alt="30% Vitamin C Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>116 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LGIro6">30% Vitamin C Serum with Hyaluronic Acid & VE for Face,Neck and Eye Treatment Serums | Anti-Aging, Anti-Wrinkle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>40% off at $14.99</strong> with promo code: <strong>40C3ZHJ1</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LGIro6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEhT6Y"><img src="https://m.media-amazon.com/images/I/71-DqvKjRBL._SR400,400_.jpg" alt="LasGame Galaxy Note9 Screen Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>834 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEhT6Y">LasGame Galaxy Note9 Screen Protector, [2 Pack] 9H Hardness Anti-Scratch Full Coverage Tempered Glass Screen Protector...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.98</span></address>
      <p><span>Take <strong>40% off at $12.98</strong> with promo code: <strong>40I8Z8HO</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LEhT6Y">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEUv9u"><img src="https://m.media-amazon.com/images/I/51gMXPgjjbL._SR400,400_.jpg" alt="High Low Cocktail Skater Dress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEUv9u">Halife Womens Scoop Neck Short Sleeve High Low Cocktail Skater Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>60% off at $24.99</strong> with promo code: <strong>60MTFU6T</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LEUv9u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="36.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YCF7y3"><img src="https://m.media-amazon.com/images/I/61YOXxikiyL._SR400,400_.jpg" alt="Ultrasonic Humidifier" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YCF7y3">Ultrasonic Humidifier, Greenclick 300ml Ceramic Essential Oil Diffuser with Remote, Auto Shut-Off, Whisper-Quiet, 24 Hours Operating Time,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.49</span><span class="ori_price">$72.99</span></address>
      <p><span>Take <strong>50% off at $72.99</strong> with promo code: <strong>502UW1LR</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YCF7y3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="8.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHUAcD"><img src="https://m.media-amazon.com/images/I/616xYFPeVtL._SR400,400_.jpg" alt="Sweetaluna High Waist Yoga Pants" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHUAcD">Sweetaluna High Waist Yoga Pants Stretch Workout Leggings for Women Tummy Control Ultra Soft with 2-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.33</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>51% off at $16.99</strong> with promo code: <strong>51V2A9BJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHUAcD">Use Code at Amazon</a></div>
</div>
