<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="card dealofday clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Amazon Deal Of The Day: Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
       </ul>
       <li><a href="product_link">- SEE MORE</a></li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
-->

<div class="card clearfix" data-score="26" data-price="229.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IxzLhP"><img src="https://images-na.ssl-images-amazon.com/images/I/518tGPL3OxL._SX522_.jpg" alt="Apple Watch Series 3" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1,691 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IxzLhP">Apple Watch Series 3 (GPS, 42mm) - Space Gray Aluminium Case with Black Sport Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$229.00</span><span class="ori_price">$309.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IxzLhP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="217.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4FPUz"><img src="https://images-na.ssl-images-amazon.com/images/I/51KQqdl5azL._SX522_.jpg" alt="Driving Force Racing Wheel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,382 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4FPUz">Logitech G920 Dual-Motor Feedback Driving Force Racing Wheel with Responsive Pedals for Xbox One</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$217.98</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y4FPUz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RriVnQ"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/132197ba-5f6f-4223-a88d-dd668df69198._SL220__.png" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,915 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RriVnQ">Roku Streaming Stick | Portable, Power-Packed Streaming Device with Voice Remote with Buttons for TV Power and Volume</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="55.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xv0qEn"><img src="https://images-na.ssl-images-amazon.com/images/I/91piRX1RuoL._SX522_.jpg" alt="APC UPS Battery Backup & Surge Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5,153 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xv0qEn">APC UPS Battery Backup & Surge Protector with USB Charger, 600VA, APC Back-UPS (BE600M1)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.41</span><span class="ori_price">$74.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xv0qEn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WWOtrK"><img src="https://images-na.ssl-images-amazon.com/images/I/91pxH5wGb0L._SX522_.jpg" alt="Bosch PS21-2A 12V Max 2-Speed Pocket Driver Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>439 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WWOtrK">Bosch PS21-2A 12V Max 2-Speed Pocket Driver Kit with 2 Batteries, Charger and Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.00</span><span class="ori_price">$99.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WWOtrK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="699.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y61zz9"><img src="https://images-na.ssl-images-amazon.com/images/I/617LZ7j3uCL._SY879_.jpg" alt="Dell Inspiron Gaming PC Desktop" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y61zz9">Dell Inspiron Gaming PC Desktop AMD Ryzen 7 2700 Processor, 16GB DRAM, 1TB HDD, AMD Radeon RX 580 4GB GDDR5 Graphics Card, Windows 10 64-bit,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$699.99</span><span class="ori_price">$899.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y61zz9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="14.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WWQS0K"><img src="https://images-na.ssl-images-amazon.com/images/I/610QkySMnGL._SX522_.jpg" alt="REACHER Small Digital Alarm Clock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>191 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WWQS0K">REACHER Small Digital Alarm Clock with USB Port Phone Charger,Large Red LED Number, Simple Clock Easy Snooze and Time Setting Battery Backup for Desk,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.44</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WWQS0K">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="145.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WU0NE1"><img src="https://images-na.ssl-images-amazon.com/images/I/51W-O4Jn9EL._SX522_.jpg" alt="AMD Ryzen 5 2600" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>729 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WU0NE1">AMD Ryzen 5 2600 Processor with Wraith Stealth Cooler - YD2600BBAFBOX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$145.88</span><span class="ori_price">$199.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WU0NE1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="169.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WZxFjD"><img src="https://images-na.ssl-images-amazon.com/images/I/814fSnCl0eL._SX522_.jpg" alt="Braun Electric Foil Shaver" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WZxFjD">Braun Series 7 790cc-4 Electric Foil Shaver with Clean&Charge Station, 1 Count</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.94</span><span class="ori_price">$289.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WZxFjD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="29.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fqo1vM"><img src="https://images-na.ssl-images-amazon.com/images/I/81fu16w1sGL._SX522_.jpg" alt="Braun Pulsonic Series 7 70S Foil & Cutter " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,010 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fqo1vM">Braun Pulsonic Series 7 70S Foil & Cutter Replacement Head, Compatible with Models 790cc, 7865cc, 7899cc, 7898cc, 7893s, 760cc, 797cc, 789cc</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.94</span><span class="ori_price">$43.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Fqo1vM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="699.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FknOKz"><img src="https://images-na.ssl-images-amazon.com/images/I/91udcEprl8L._SX679_.jpg" alt="TCL 4K Ultra HD Roku Smart LED TV " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>891 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FknOKz">TCL 65R617 65-Inch 4K Ultra HD Roku Smart LED TV (2018 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$699.99</span><span class="ori_price">$1,299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FknOKz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="10.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IxMGjK"><img src="https://images-na.ssl-images-amazon.com/images/I/81cONLwCNNL._SX522_.jpg" alt="desktop computer speakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>865 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IxMGjK">Cyber Acoustics CA-2014 multimedia desktop computer speakers</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.88</span><span class="ori_price">$21.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IxMGjK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYwtTS"><img src="https://images-na.ssl-images-amazon.com/images/I/81DS0bClg0L._SX679_.jpg" alt="Hamilton Beach Rice Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>428 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYwtTS">Hamilton Beach (37518) Rice Cooker, 4 Cups uncooked resulting in 8 Cups Cooked with Steam & Rinse Basket</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IYwtTS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="14" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y7dSv8"><img src="https://images-na.ssl-images-amazon.com/images/I/415AW57FCRL._AC_US218_.jpg" alt="Panasonic Shaver" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>900 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>14% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y7dSv8">Panasonic ES-ED50-N Multi-Functional Wet/Dry Shaver and Epilator for Women, Women’s with Four Hair Removal Attachments and Travel Pouch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y7dSv8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxHHrE"><img src="https://images-na.ssl-images-amazon.com/images/I/71IS6Ef2ZAL._SX522_.jpg" alt="Panasonic Compact Hair Dryer " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>401 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxHHrE">Panasonic Compact Hair Dryer with nanoe Technology for Smoother, Shinier Hair, includes Quick-Dry Nozzle and Folding Handle for Travel, EH-NA27-K </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxHHrE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FqyirA"><img src="https://images-na.ssl-images-amazon.com/images/I/71TAjkUlqXL._SX679_.jpg" alt="Airbed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>367 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FqyirA">Intex Dura-Beam Standard Series Pillow Rest Raised Airbed w/Built-in Pillow & Internal Electric Pump, Bed Height 16.5", Twin</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.95</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FqyirA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="19" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IyheSz"><img src="https://images-na.ssl-images-amazon.com/images/I/81SYptO1p8L._SX522_.jpg" alt="Allen Sports 4-Bike Hitch Racks" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,745 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IyheSz">Allen Sports 4-Bike Hitch Racks for 2 in. Hitch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$98.56</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IyheSz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y49mO8"><img src="https://images-na.ssl-images-amazon.com/images/I/517ysWkFnxL._SX679_.jpg" alt="Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>369 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y49mO8">Wireless Earbuds, Tepoinn Bluetooth 5.0 True Wireless Bluetooth Headphones with Built-in Mic, in-Ear Stereo Wireless Earphones with Portable Charging Case...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$35.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J1xKJR"><img src="https://images-na.ssl-images-amazon.com/images/I/61W9UdC7ikL._SX522_.jpg" alt="Intex Challenger K2 Kayak" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>913 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J1xKJR">Intex Challenger K2 Kayak, 2-Person Inflatable Kayak Set with Aluminum Oars and High Output Air Pump</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$213.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J1xKJR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xnybrj"><img src="https://images-na.ssl-images-amazon.com/images/I/71PCEDPQAQL._SY879_.jpg" alt="CamelBak Chute Mag Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>544 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xnybrj">CamelBak Chute Mag Water Bottle, Insulated Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$36.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xnybrj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4FrFB"><img src="https://images-na.ssl-images-amazon.com/images/I/81XuTYpGFiL._SX522_.jpg" alt="Logitech C270 Desktop or Laptop Webcam" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,930 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4FrFB">Logitech C270 Desktop or Laptop Webcam, HD 720p Widescreen for Video Calling and Recording</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y4FrFB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="323.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WZ786i"><img src="https://images-na.ssl-images-amazon.com/images/I/51C39xi4-OL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,894 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WZ786i">Arlo Pro 2 - Wireless Home Security Camera System with Siren | Rechargeable, Night vision, Indoor/Outdoor, 1080p, 2-Way Audio, Wall Mount ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$323.99</span><span class="ori_price">$479.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WZ786i">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="23.13">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xr1OrM"><img src="https://images-na.ssl-images-amazon.com/images/I/5100dZikeKL._SX679_.jpg" alt="OtterBox Commuter Series Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>829 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xr1OrM">OtterBox Commuter Series Case for iPhone XR - Retail Packaging - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.13</span><span class="ori_price">$49.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xr1OrM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WWhGmo"><img src="https://images-na.ssl-images-amazon.com/images/I/619dqNKZHtL._SX679_.jpg" alt="EBL Charger with Batteries" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,818 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WWhGmo">EBL Charger with Batteries - 8Bay Battery Charger and AA Batteries 2,800mAh (4Pcs) & AAA Rechargeable Batteries (4Pcs) - Durable & Long lasting Batteries</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WWhGmo">Shop Now at Amazon</a></div>
</div>


<div class="card clearfix" data-score="53" data-price="23.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IxUXEk"><img src="https://images-na.ssl-images-amazon.com/images/I/91FBi1gcjfL._SX679_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,046 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IxUXEk">OtterBox DEFENDER SERIES Case for iPhone 8 & iPhone 7 (NOT Plus) - Frustration Free Packaging - BIG SUR (PALE BEIGE/CORSAIR)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.54</span><span class="ori_price">$49.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IxUXEk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="14.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X1KUAz"><img src="https://images-na.ssl-images-amazon.com/images/I/51ZY-V0ZkbL._SX522_.jpg" alt="Razor Helmet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,422 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X1KUAz">Razor V-17 Youth Multi-Sport Helmet</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.30</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X1KUAz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4Ovdn"><img src="https://images-na.ssl-images-amazon.com/images/I/610gHxwSoNL._SX522_.jpg" alt="Igloo Profile 16 Quart Cooler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>241 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4Ovdn">Igloo Profile 16 Quart Cooler</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.98</span><span class="ori_price">$27.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y4Ovdn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="12.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xahiBu"><img src="https://images-na.ssl-images-amazon.com/images/I/61PuKxqGVGL._SX522_.jpg" alt="Stanley Camp 24oz. Cook Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1,655 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xahiBu">Stanley Camp 24oz. Cook Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.38</span><span class="ori_price">$30.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xahiBu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="5.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y47e8X"><img src="https://images-na.ssl-images-amazon.com/images/I/41G3LWuSGgL.jpg" alt="Ka-Bar Tactical Spork" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,367 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y47e8X">Ka-Bar Tactical Spork (Spoon Fork Knife) Tool 9909</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.98</span><span class="ori_price">$8.32</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y47e8X">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="36.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LdfZKx"><img src="https://images-na.ssl-images-amazon.com/images/I/917BFvczkDL._SX679_.jpg" alt="Black Diamond Storm Headlamp" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>720 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LdfZKx">Black Diamond Storm Headlamp</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.00</span><span class="ori_price">$49.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LdfZKx">Shop Now at Amazon</a></div>
</div>
