<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="58" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/31RCRbbhY3L.jpg" alt="Wireless Bluetooth Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5,032 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Plantronics 88120-41 M165 Marque 2 Ultralight Wireless Bluetooth Headset - Compatible with iPhone, Android, and Other Leading Smartphones - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="24.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xypSuf"><img src="https://images-na.ssl-images-amazon.com/images/I/81TTUPZWacL._SX679_.jpg" alt="SanDisk 128GB Extreme microSDXC" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>Re1,286view_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xypSuf">SanDisk 128GB Extreme microSDXC UHS-I Memory Card with Adapter - C10, U3, V30, 4K, A2, Micro SD - SDSQXA1-128G-GN6MA</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.79</span><span class="ori_price">$68.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xypSuf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHNPXZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61YE9BSH17L._SY879_.jpg" alt="Easy Portable Label Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>712 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHNPXZ">Brother P-touch, PTH110, Easy Portable Label Maker, Lightweight, QWERTY Keyboard, One-Touch Keys, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHNPXZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="43.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jhyig7"><img src="https://images-na.ssl-images-amazon.com/images/I/712kBtTDt7L._SY879_.jpg" alt="WD Blue 1TB PC Hard Drive" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9,351 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jhyig7">WD Blue 1TB PC Hard Drive - 7200 RPM Class, SATA 6 Gb/s, 64 MB Cache, 3.5" - WD10EZEX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.47</span><span class="ori_price">$109.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jhyig7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="4.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBQlmk"><img src="https://images-na.ssl-images-amazon.com/images/I/71O11vM2TdL._SX522_.jpg" alt="Chuckit! Ultra Ball" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,965 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBQlmk">Chuckit! Ultra Ball</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.49</span><span class="ori_price">$10.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YBQlmk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="36.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jkfwor"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZQgWwuVzL._SY879_.jpg" alt="Logitech G602 Lag-Free Wireless Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,603 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jkfwor">Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Up to 2500 DPI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jkfwor">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JrPqyH"><img src="https://images-na.ssl-images-amazon.com/images/I/71zjWFPIo-L._SX522_.jpg" alt="N150 USB wireless WiFi network Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,147 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JrPqyH">TP-Link | N150 USB wireless WiFi network Adapter for PC with SoftAP Mode - Nano Size, Compatible with Windows XP/7/8/8.1/10...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$17.60</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JrPqyH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="134.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xCd7yw"><img src="https://images-na.ssl-images-amazon.com/images/I/61OofSxR4fL._SX522_.jpg" alt="CORSAIR Vengeance Performance 32GB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>78 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xCd7yw">CORSAIR Vengeance Performance 32GB (2x16GB) 260-Pin DDR4 SO-DIMM DDR4 2666 (PC4 21300) Laptop Memory Model CMSX32GX4M2A2666C18</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$134.99</span><span class="ori_price">$410.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xCd7yw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JiyX0D"><img src="https://images-na.ssl-images-amazon.com/images/I/61OReVv5ooL._SY741_.jpg" alt="Samsung Galaxy Note9 Replacement S-Pen" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>167 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JiyX0D">Samsung Galaxy Note9 Replacement S-Pen, Yellow / Ocean Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.00</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JiyX0D">Shop Now at Amazon</a></div>
</div>


