<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="53" data-price="139.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l8D4ms"><img src="https://images-na.ssl-images-amazon.com/images/I/71sBjbHYbKL._SY606_.jpg" alt="Beats Solo3 Wireless On-Ear Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,850 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l8D4ms"><span>Amazon Prime Day Deals:</span> Beats Solo3 Wireless On-Ear Headphones - Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$139.99</span><span class="ori_price">$299.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2l8D4ms">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="80.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jZmchF"><img src="https://images-na.ssl-images-amazon.com/images/I/9168vHbFE3L._SX522_.jpg" alt="AmazonBasics Vintage Retro Bluetooth Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jZmchF"><span>Amazon Prime Day Deals:</span> AmazonBasics Vintage Retro Bluetooth Speaker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$80.50</span><span class="ori_price">$115.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jZmchF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lsiGgn"><img src="https://images-na.ssl-images-amazon.com/images/I/81inilS32ZL._SX522_.jpg" alt="AmazonBasics 15-Piece Non-Stick Kitchen Cookware Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>669 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lsiGgn"><span>Amazon Prime Day Deals:</span> AmazonBasics 15-Piece Non-Stick Kitchen Cookware Set - Pots, Pans and Utensils</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lsiGgn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="44.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lrvJi4"><img src="https://images-na.ssl-images-amazon.com/images/I/71MEjurY%2BwL._SX679_.jpg" alt="Temperature Gooseneck Kettle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,083 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lrvJi4">Bonavita BV382510V 1.0L Digital Variable Temperature Gooseneck Kettle</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.06</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lrvJi4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="99.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SfY6fB"><img src="https://images-na.ssl-images-amazon.com/images/I/81wmGAiLYiL._SX522_.jpg" alt="Ninja Hot and Cold Brewed System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>548 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SfY6fB">Ninja Hot and Cold Brewed System, Auto-iQ Tea and Coffee Maker with 6 Brew Sizes, 5 Brew Styles, Frother, Coffee & Tea...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.00</span><span class="ori_price">$199.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SfY6fB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljvKV5"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2BwbfjTRAL._SX425_.jpg" alt="Small Air Purifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,127 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljvKV5"><span>Amazon Prime Day Deals:</span> Germ Guardian GG1000 7” Pluggable Small Air Purifier, Small Room Wall Air Sanitizer, Freshens Air,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.24</span><span class="ori_price">$34.64</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ljvKV5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="55.56">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l8DEk8"><img src="https://images-na.ssl-images-amazon.com/images/I/81HN7ynwuBL._SX522_.jpg" alt="Bread Toaster" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>293 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l8DEk8">Cuisinart CPT-2400 086279117786 The Bakery Artisan Bread Toaster, One Size, Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.56</span><span class="ori_price">$185.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2l8DEk8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="57.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lrBtbC"><img src="https://images-na.ssl-images-amazon.com/images/I/81LzCYr%2B70L._SX522_.jpg" alt="Double Burner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>248 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lrBtbC">Cuisinart CB-60 Cast-Iron Double Burner, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$57.15</span><span class="ori_price">$145.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lrBtbC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32kjMvs"><img src="https://images-na.ssl-images-amazon.com/images/I/41mZPQMvKDL.jpg" alt="Programmable Coffeemaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,556 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32kjMvs">Cuisinart DCC-1100BK 12-Cup Programmable Coffeemaker, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$130.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32kjMvs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lo7Qrz"><img src="https://images-na.ssl-images-amazon.com/images/I/71QLKJUbKWL._SX522_PIbundle-3,TopRight,0,0_AA522SH20_.jpg" alt="Keurig My K-Cup Universal Reusable Ground Coffee Filter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,741 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lo7Qrz">Keurig My K-Cup Universal Reusable Ground Coffee Filter, Compatible with All Keurig K-Cup Pod Coffee Makers (2.0 and 1.0)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lo7Qrz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="499.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2la7rcb"><img src="https://images-na.ssl-images-amazon.com/images/I/71Dhk7Q9c0L._SX522_.jpg" alt="Optoma LED Projector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>276 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2la7rcb">Optoma ML750ST Ultra-Compact 700 Lumen WXGA Short Throw LED Projector with MHL Enabled HDMI Port</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$499.00</span><span class="ori_price">$999.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2la7rcb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="9.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lkjxzr"><img src="https://images-na.ssl-images-amazon.com/images/I/81avbMOKOdL._SX522_.jpg" alt="Screen Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>139 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lkjxzr">6 oz. Screen Cleaner & Microfiber Towel Combo (12275)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.48</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lkjxzr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="79.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lrQB8V"><img src="https://images-na.ssl-images-amazon.com/images/I/51RlEcSVxsL._SX679_.jpg" alt="Apple Smart Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>230 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lrQB8V">Apple Smart Keyboard for 10.5-inch iPad Pro - US English</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.50</span><span class="ori_price">$159.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lrQB8V">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="97.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lq9kBJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71MH8ZSLbAL._SX522_.jpg" alt="Logitech iPad Pro 10.5 inch Keyboard Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>311 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lq9kBJ">Logitech iPad Pro 10.5 inch Keyboard Case | SLIM COMBO with Detachable, Backlit, Wireless Keyboard and Smart Connector (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$97.39</span><span class="ori_price">$129.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lq9kBJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="200.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lkl5JL"><img src="https://images-na.ssl-images-amazon.com/images/I/817FE5vXDrL._AC_SL1500_.jpg" alt="Thrustmaster T300 RS GT Racing Wheel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>111 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lkl5JL">Thrustmaster T300 RS GT Racing Wheel - PlayStation 4 by ThrustMaster</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$200.02</span><span class="ori_price">$399.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lkl5JL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="234.26">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lqQDOm"><img src="https://images-na.ssl-images-amazon.com/images/I/91Z-R8Ii5dL._AC_SL1500_.jpg" alt="Thrustmaster" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>222 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lqQDOm">Thrustmaster T300RS Officially Licensed PS4/PS3 - PlayStation by Thustmaster</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$234.26</span><span class="ori_price">$399.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lqQDOm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="359.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lrRTkg"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/ddb1af16-edbd-4332-a067-d264bb419c98.__CR276,0,1810,1810_PT0_SX300_V1___.jpg" alt="Thrustmaster" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>145 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lrRTkg">Thrustmaster T300 Ferrari Integral RW Alcantara Edition by ThrustMaster</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$359.00</span><span class="ori_price">$469.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lrRTkg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="29.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jVZfMs"><img src="https://images-na.ssl-images-amazon.com/images/I/81Gepr-sTpL._SX679_.jpg" alt="Logitech G600 MMO Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,218 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jVZfMs">Logitech G600 MMO Gaming Mouse, RGB Backlit, 20 Programmable Buttons</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.75</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jVZfMs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XKJ8nu"><img src="https://images-na.ssl-images-amazon.com/images/I/81kc%2BFSv18L._SX522_.jpg" alt="StarTech.com SATA to USB Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,335 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XKJ8nu">StarTech.com SATA to USB Cable - USB 3.0 to 2.5” SATA III Hard Drive Adapter - External Converter for SSD/HDD Data Transfer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XKJ8nu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lrXN4U"><img src="https://images-na.ssl-images-amazon.com/images/I/61J54uEqbKL._SX679_.jpg" alt="OtterBox Defender Series Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,508 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lrXN4U"><span>Amazon Prime Day Deals:</span> OtterBox Defender Series Case for Samsung Galaxy S9 - Frustration Free Packaging - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$49.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lrXN4U">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30tNCMc"><img src="https://images-na.ssl-images-amazon.com/images/I/71DDxRspFDL._SX522_.jpg" alt="Logitech Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,526 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30tNCMc">Logitech G502 Proteus Spectrum RGB Tunable Gaming Mouse, 12,000 DPI On-The-Fly DPI Shifting, Personalized...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$84.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30tNCMc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="129.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jVbKb5"><img src="https://images-na.ssl-images-amazon.com/images/I/61HvDLR67sL._SX522_.jpg" alt="Men's Outdoor Sports Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,299 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jVbKb5">SUUNTO Core All Black Military Men's Outdoor Sports Watch - SS014279010</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.99</span><span class="ori_price">$170.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jVbKb5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="189.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jXa6FY"><img src="https://images-na.ssl-images-amazon.com/images/I/41Ru1ZoKE9L.jpg" alt="Fellowes Powershred 79Ci 100% Jam Proof Medium" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,907 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jXa6FY">Fellowes Powershred 79Ci 100% Jam Proof Medium, Duty Cross, Cut Shredder, 16 Sheet Capacity, Black/Dark Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$189.98</span><span class="ori_price">$459.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jXa6FY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jVcGfB"><img src="https://images-na.ssl-images-amazon.com/images/I/91MhLsU64XL._SX522_.jpg" alt="Polk Audio Atrium 4 Outdoor Speakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,108 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jVcGfB">Polk Audio Atrium 4 Outdoor Speakers with Powerful Bass (Pair, White) | All-Weather Durability |...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$199.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jVcGfB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="26.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lr1Gai"><img src="https://images-na.ssl-images-amazon.com/images/I/61964ezLCKL._SX679_.jpg" alt="Samsung Qi Certified Fast Charge Wireless Charging Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>6,644 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lr1Gai">Samsung Qi Certified Fast Charge Wireless Charging Pad + Stand - Supports wireless charging on Qi compatible smartphones - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.75</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lr1Gai">Shop Now at Amazon</a></div>
</div>