<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->


<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H4oDIm"><img src="https://m.media-amazon.com/images/I/61-Y4OLtSIL._SR400,400_.jpg" alt="Fast Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H4oDIm">Fast Wireless Charger, 10W Wireless Charging Pad Compatible Galaxy S9/S8/Note 9 8, Wireless Charging Stand Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">507JHUFV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">507JHUFV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H4oDIm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="22.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUbho4"><img src="https://m.media-amazon.com/images/I/61fO2DGyeOL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUbho4">Wireless Earbuds, 5.0 True Wireless Bluetooth Headphones 3D Stereo Sound Wireless Headphones Mini Sweatproof Sport Headsets in-Ear Noise with Built-in Mic and Charging Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.54</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">51UV6OX4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $45.99</strong> with promo code: <strong class="m_codes">51UV6OX4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YUbho4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="17.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H1Nnkd"><img src="https://m.media-amazon.com/images/I/51kyPFGjUbL._SR400,400_.jpg" alt="Vehicle Backup Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H1Nnkd">Vehicle Backup Camera, Exclusive Remote Control Rear View Camera IP69K Waterproof 170° Wide Angle Reverse Camera CCD Super Night...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.55</span><span class="ori_price">$38.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">55FDBWL8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $38.99</strong> with promo code: <strong class="m_codes">55FDBWL8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H1Nnkd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="36.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H0IY1a"><img src="https://m.media-amazon.com/images/I/71d+fzKxD9L._SR400,400_.jpg" alt="WELCAM Car Dash Cam" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H0IY1a">WELCAM Car Dash Cam 2.4" LCD FHD 1080p 170° Wide Angle Dashboard Camera Recorder with G-Sensor, WDR, Loop Recording</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.00</span><span class="ori_price">$89.99</span></address>
      <textarea readonly="readonly" class="code_area">60XOVN75</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $89.99</strong> with promo code: <strong class="m_codes">60XOVN75</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H0IY1a">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="5.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33qsokO"><img src="https://m.media-amazon.com/images/I/51xpptawYpL._SR400,400_.jpg" alt="Mini Bluetooth Speaker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33qsokO">Mini Bluetooth Speaker, JohnBee TWS 5.0, Playtime 4-6H, Compatible with iOS, Android, PC, Pad (Green)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.94</span><span class="ori_price">$9.90</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">409CN15O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $9.90</strong> with promo code: <strong class="m_codes">409CN15O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33qsokO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUbGXC"><img src="https://m.media-amazon.com/images/I/61Hm7X9wn+L._SR400,400_.jpg" alt="Hand Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUbGXC">Hand Blender, Aicok 10 Speed Immersion Multipurpose Turbo Stick Blender, Heavy Duty Copper Motor Brushed Stainless Steel Finish Includes Whisk</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.49</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">50UBIN1M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $28.99</strong> with promo code: <strong class="m_codes">50UBIN1M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 01:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YUbGXC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MY017Y"><img src="https://m.media-amazon.com/images/I/61AGBpGyZ4L._SR400,400_.jpg" alt="SIMPLE DRINK 3D Honeycomb Stainless Steel Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MY017Y">SIMPLE DRINK 3D Honeycomb Stainless Steel Water Bottle - Double Wall Vacuum Insulated - Reusable Leak Proof Metal Flask for Sports Travel,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.98</span></address>
      <textarea readonly="readonly" class="code_area">50JMS35Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.98</strong> with promo code: <strong class="m_codes">50JMS35Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MY017Y">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H2s0iM"><img src="https://m.media-amazon.com/images/I/512xuMYf-IL._SR400,400_.jpg" alt="SameTech Stainless Steel Pineapple Peeler" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H2s0iM">SameTech Stainless Steel Pineapple Peeler, Corer, Slicer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.99</span><span class="ori_price">$9.98</span></address>
      <textarea readonly="readonly" class="code_area">50GZNBES</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.98</strong> with promo code: <strong class="m_codes">50GZNBES</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H2s0iM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KrJV4y"><img src="https://m.media-amazon.com/images/I/61PcbYCfydL._SR400,400_.jpg" alt="Glass Teapot Gift Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KrJV4y">Glass Teapot Gift Set (40 oz) - With Extra 6 Tea Cups (150ml), Removeble Stainless Steel Strainer & Lid - Tea Kettle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.95</span><span class="ori_price">$39.90</span></address>
      <textarea readonly="readonly" class="code_area">50C36KCE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.90</strong> with promo code: <strong class="m_codes">50C36KCE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KrJV4y">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="39.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H2iPz7"><img src="https://m.media-amazon.com/images/I/719QGbCwTSL._SR400,400_.jpg" alt="OMOTON Detachable Keyboard Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H2iPz7">OMOTON Detachable Keyboard Case for iPad Pro 12.9 2018 (Not fit for 2015&2017 Version), Ultra-Thin Bluetooth Keyboard Case...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.09</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
       <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">15SROBBA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $45.99</strong> with promo code: <strong class="m_codes">15SROBBA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 02:00 AM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H2iPz7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GZNAo0"><img src="https://m.media-amazon.com/images/I/714bV2DryOL._SR400,400_.jpg" alt="Voova Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GZNAo0">Voova Laptop Backpack Women Men with Handle for Travel Business, Waterproof Canvas Computer Rucksack Bookbag for College School...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.00</span><span class="ori_price">$37.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">509S9NK8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $37.99</strong> with promo code: <strong class="m_codes">509S9NK8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GZNAo0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="51.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31qZpLY"><img src="https://m.media-amazon.com/images/I/81iqVXBbNaL._SR400,400_.jpg" alt="iPad Keyboard Case for iPad 2018" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31qZpLY">iPad Keyboard Case for iPad 2018 (6th Gen) - iPad 2017 (5th Gen) - iPad Pro 9.7 - iPad Air 2 & 1 - Thin & Light - 360 Rotatable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$51.96</span><span class="ori_price">$64.95</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20HHQ5SO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $64.95</strong> with promo code: <strong class="m_codes">20HHQ5SO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31qZpLY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31xnBMI"><img src="https://m.media-amazon.com/images/I/71ieEft46CL._SR400,400_.jpg" alt="Homfa Kids Bookshelf" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31xnBMI">Homfa Kids Bookshelf, 4-Tier Children’s Bookcase Rack Wall Mount Floating Display Storage Shelves, Organizer Holder...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div> 
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30XXKQBS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $49.99</strong> with promo code: <strong class="m_codes">30XXKQBS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31xnBMI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ybQFE"><img src="https://m.media-amazon.com/images/I/51Ap6Cr-dgL._SR400,400_.jpg" alt="Wireless Video Doorbell" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ybQFE">Wireless Video Doorbell, YIROKA Doorbell Camera, IP55 Waterproof HD 720P Security Camera Real-Time Video Work 3600 Hour Battery...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.99</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">403S45GA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $79.99</strong> with promo code: <strong class="m_codes">403S45GA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 23, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31ybQFE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="11.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YTLUCM"><img src="https://m.media-amazon.com/images/I/81TykOxKr1L._SR400,400_.jpg" alt="Camping Hammock" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YTLUCM">Camping Hammock, LAX Portable Double Durable Hammock Backpacking, Travel, Hiking, Beach, Yard, Multi-Functional Lightweight...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.95</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">48AJ2CP2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>48% off at $22.99</strong> with promo code: <strong class="m_codes">48AJ2CP2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YTLUCM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31viJaQ"><img src="https://m.media-amazon.com/images/I/51YWODGrU1L._SR400,400_.jpg" alt="BUZIO Vacuum Insulated Stainless Steel Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31viJaQ">BUZIO Vacuum Insulated Stainless Steel Water Bottle | Cold for 48 Hrs, Hot for 24 Hrs | Double Wall | Standard Mouth with BPA Free Flex Cap,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.19</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">3020OZ05</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $Origianl_price</strong> with promo code: <strong class="m_codes">3020OZ05</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31viJaQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="63.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KEkjjS"><img src="https://m.media-amazon.com/images/I/71B1lsFNAcL._SR400,400_.jpg" alt="Neewer Ring Light Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KEkjjS">Neewer Ring Light Kit: 18"/48cm Outer 55W 5500K Dimmable LED Ring Light, Light Stand, Carrying Bag for Camera,Smartphone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$63.70</span><span class="ori_price">$129.99</span></address>
      <textarea readonly="readonly" class="code_area">51NNDSII</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $129.99</strong> with promo code: <strong class="m_codes">51NNDSII</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KEkjjS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H3wfe1"><img src="https://images-na.ssl-images-amazon.com/images/I/61mraO7Uh9L._SL1001_.jpg" alt="Koolertron Professional Camera Sling Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H3wfe1">Koolertron Professional Camera Sling Backpack with Rain Cover and Padded Crossbody Strap for Canon Nikon Sony DSLR & Mirrorless,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">805UFMCN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $29.99</strong> with promo code: <strong class="m_codes">805UFMCN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H3wfe1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="27.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yRKPRd"><img src="https://m.media-amazon.com/images/I/51JDqRpomZL._SR400,400_.jpg" alt="Action Camera 4K 16MP Underwater Waterproof Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yRKPRd">Action Camera 4K 16MP Underwater Waterproof Camera 170° Wide Angle WiFi Sports Cam with 2 Batteries and Mounting Accessories Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.50</span><span class="ori_price">$54.99</span></address>
      <textarea readonly="readonly" class="code_area">50DSJX6R</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $54.99</strong> with promo code: <strong class="m_codes">50DSJX6R</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yRKPRd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KGFVMv"><img src="https://m.media-amazon.com/images/I/51Mq3q61mpL._SR400,400_.jpg" alt="Kepeak Multipurpose Multitool" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KGFVMv">Kepeak Multipurpose Multitool with Mini Tools, Stainless Steel Multitool Durable Black Oxide, Perfect for Camping, Survival Kit,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">50WYEOZ5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50WYEOZ5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KGFVMv">Use Code at Amazon</a></div>
</div>

