<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XeM1g9"><img src="https://m.media-amazon.com/images/I/61fhOrr9bIL._SR400,400_.jpg" alt="15W Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XeM1g9">15W Wireless Charger,Glamore Qi-Certified Wireless Charging Pad, Compatible iPhone Xs Max/XR/XS/8/8 Plus,iPhone X, Fast Charging Samsung Galaxy...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>30% off at $19.99</strong> with promo code: <strong>30791HLV</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XeM1g9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FC6CA8"><img src="https://m.media-amazon.com/images/I/61aeSAmEwNL._SR400,400_.jpg" alt="Kaihang Fast Wireless Charging Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FC6CA8">Kaihang Fast Wireless Charging Pad, 10W / 7.5W Wireless Charger Compatible iPhone XR/XS Max/XS/X/8/8 Plus, 10W Charges Galaxy S9/S9+/Note/S8/S8+ Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$24.00</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>70% off at $24.00</strong> with promo code: <strong>70XDVLBD</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FC6CA8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="10.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jd2R5h"><img src="https://m.media-amazon.com/images/I/81mp2IHXClL._SR400,400_.jpg" alt="audbos Auto-Clamping Fast Wireless Car Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>99 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jd2R5h">audbos Auto-Clamping Fast Wireless Car Charger, Air Vent Phone Holder Compatible with iPhone Xs Max/XR/XS/X/8/Plus Samsung Galaxy S9/S8/S7/Note 8/9,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.35</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>55% off at $22.99</strong> with promo code: <strong>55GZJPYI</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jd2R5h">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XaL6Zk"><img src="https://m.media-amazon.com/images/I/91ea8Fc+5gL._SR400,400_.jpg" alt="Phone Camera Lens,11 in 1 Cell Phone Lens Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>209 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XaL6Zk">Phone Camera Lens,11 in 1 Cell Phone Lens Kit for iPhone and Android, 0.36X Wide Angle Lens+198°Fisheye Lens+20X Macro Lens+Zoom Telephoto...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>40% off at $23.99</strong> with promo code: <strong>40YRIRFM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XaL6Zk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="22.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J9Zk80"><img src="https://m.media-amazon.com/images/I/81oHsyT5-mL._SR400,400_.jpg" alt="S-ZONE Large Messenger Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J9Zk80">S-ZONE Large Messenger Bag, Vintage Waxed Canvas Satchel Leather Briefcases Crossbody Shoulder Bag, 15.6 inch Computer Laptop Bag Water Resistant Travel...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.50</span><span class="ori_price">$44.99</span></address>
      <p><span>Take <strong>50% off at $44.99</strong> with promo code: <strong>50LFN29M</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J9Zk80">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="20.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NtQ6sG"><img src="https://m.media-amazon.com/images/I/61KdKIOsl9L._SR400,400_.jpg" alt="EBL Rechargeable AA Batteries" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,054 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NtQ6sG">EBL Rechargeable AA Batteries 2800mAh Durable 8PCS AA Battery with Rechargeable 8Bay Battery Charger</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.49</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>18% off at $24.99</strong> with promo code: <strong>18XQQ6OY</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NtQ6sG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://m.media-amazon.com/images/I/71UJqrhfmnL._SR400,400_.jpg" alt="ireless Keyboard and Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">ireless Keyboard and Mouse, FENIFOX USB Mini Size Thin Quiet,Compatible with iMac MacBook PC Laptop Computer Tablet (Silver and White)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>30% off at $25.99</strong> with promo code: <strong>30X7166G</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NjCXlT"><img src="https://m.media-amazon.com/images/I/71AnKRpKk6L._SR400,400_.jpg" alt="Voova 28L Travel Business Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NjCXlT">Voova 28L Travel Business Backpack Laptop Bag Waterproof Multifunctional Unisex Luggage Bag Knapsack Rucksack Canvas Casual Backpack Hiking Bag School...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $49.99</strong> with promo code: <strong>50OCHVUG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NjCXlT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="29.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsEPWH"><img src="https://m.media-amazon.com/images/I/31B0N6fOloL._SR400,400_.jpg" alt="MICHELANGELO 8 Quart Induction Pot" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsEPWH">MICHELANGELO 8 Quart Induction Pot with Lid, Large Cooking Pots for Soup, Stainless Steel Soup Pot 8 Quart, Stainless Steel 8 Quart Stock Pot,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.97</span><span class="ori_price">$99.90</span></address>
      <p><span>Take <strong>70% off at $99.90</strong> with promo code: <strong>70Q41UBI</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LsEPWH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LpOBZS"><img src="https://m.media-amazon.com/images/I/61eMzZooIHL._SR400,400_.jpg" alt="AmazeFan Paper Towel Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>83 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LpOBZS">AmazeFan Paper Towel Holder Vertical Design With Spring, Food Grade 304 Stainless Steel, Drawing process, One-Handed Operation, Multi-Functional Paper Towels,..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>40% off at $18.99</strong> with promo code: <strong>40WPTCA2</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LpOBZS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZSzZpB"><img src="https://m.media-amazon.com/images/I/51Q72Qb3F0L._SR400,400_.jpg" alt="Coffee Mug Warmer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>42 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZSzZpB">Coffee Mug Warmer with Wireless Charger (2 in 1), AAOBOSI Mug Warmer, Wireless Charging, Constant Temperature (about 122°F/50°C) for Home & Office Use</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>507IUTQB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZSzZpB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="6.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XeniZt"><img src="https://m.media-amazon.com/images/I/71pzgMOn3-L._SR400,400_.jpg" alt="Watermelon Slicer Fruit Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>149 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XeniZt">Watermelon Slicer Fruit Knife-PATENTED-RUCACIO Melon and Cantaloupe Fruit Slicer, Carver, Knife - Carving and Cutting Tools for Home, Professional Restaurant...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.29</span><span class="ori_price">$8.99</span></address>
      <p><span>Take <strong>30% off at $8.99</strong> with promo code: <strong>30WDBCNE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XeniZt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="11.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lp7Lif"><img src="https://m.media-amazon.com/images/I/71l1y46dOUL._SR400,400_.jpg" alt="Facial Hair Remover" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lp7Lif">Facial Hair Remover for Women,Hair Removal Kit 5 in 1,Permanent Hair Removal,Bikini Trimmer, Facial Hair, Body Shaver, Eyebrow Trimmer, Nose Trimmer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.40</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>62% off at $29.99</strong> with promo code: <strong>62LAUEP9</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lp7Lif">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LquIlh"><img src="https://m.media-amazon.com/images/I/61rf2Y4LyhL._SR400,400_.jpg" alt="Lächen Portable Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LquIlh">Lächen Portable Electric Toothbrush Sonic Care Travel Rechargeable Waterproof IPX7 2 Brush Heads ST031 (cyan)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.17</span><span class="ori_price">$30.34</span></address>
      <p><span>Take <strong>50% off at $30.34</strong> with promo code: <strong>50578NR5</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LquIlh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IUsc4Z"><img src="https://m.media-amazon.com/images/I/81iGpMDUl9L._SR400,400_.jpg" alt="Hyaluronic Acid Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>89 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IUsc4Z">Hyaluronic Acid Serum, BREYLEE Moisturizing Face Serum Anti Aging Serum for Deeply Enhancing Nourishing Hydrating (40ml, 1.37fl Oz)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$17.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>60% off at $17.99</strong> with promo code: <strong>60X6BQKT</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IUsc4Z">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JabKg2"><img src="https://m.media-amazon.com/images/I/71Ph4hDqZ-L._SR400,400_.jpg" alt="Track Man Floating Waterproof" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>29 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JabKg2">Track Man Floating Waterproof 2L/5L/15L/20L Premium PVC Waterproof Floating Dry Gear Bags for Boating, Kayaking, Fishing, Rafting, Swimming and Camping</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>50% off at $14.99</strong> with promo code: <strong>50AZ5BCS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JabKg2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDV0ai"><img src="https://m.media-amazon.com/images/I/71bQhsJcBzL._SR400,400_.jpg" alt="DETLEV PRO Cordless Drill Driver" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>34 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDV0ai">DETLEV PRO Cordless Drill Driver 21V Electric Screwdriver 2 Speed Max Torque 372In-lbs 43pcs Accessories 1.5Ah Lithium Ion with LED, 8104</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>30% off at $49.99</strong> with promo code: <strong>30ERAC4G</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XDV0ai">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LrNSXS"><img src="https://m.media-amazon.com/images/I/61g0SnDDGeL._SR400,400_.jpg" alt="Hausbell Flashlights" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,540 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LrNSXS">Hausbell Flashlights, Handheld Flashlights, 7W Mini LED Flashlights, Tactical Flashlights, Zoomable, High Lumen, Water Resistant, 3 Light Modes...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span>
        <div class="tooltip_red"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <p><span>Take <strong>50% off at $9.99</strong> with promo code: <strong>50LMLSHC</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LrNSXS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="71.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nk6YSy"><img src="https://m.media-amazon.com/images/I/71j38FvlzvL._SR400,400_.jpg" alt="BON AUGURE 3-Shelf Narrow Bookcase" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>96 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nk6YSy">BON AUGURE 3-Shelf Narrow Bookcase, Rustic Storage Display Shelves, Industrial Sturdy Bookshelf, Dark Oak</a></p>
    <div class="code_high">
      <address><span class="dis_price">$71.99</span><span class="ori_price">$79.99</span></address>
      <p><span>Take <strong>10% off at $79.99</strong> with promo code: <strong>10W1RC16</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nk6YSy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="13.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZSzKLf"><img src="https://m.media-amazon.com/images/I/71CbhePFwDL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>37 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZSzKLf">Laptop Backpack, High School Backpack, 15.6" 17.3" College Business Travel Laptop Backpack by EASTERN TIME</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.60</span><span class="ori_price">$67.99</span></address>
      <p><span>Take <strong>80% off at $67.99</strong> with promo code: <strong>80OOAE6N</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
      <em>*Average rating and Reviews may change after promo codes updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZSzKLf">Use Code at Amazon</a></div>
</div>
