<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="30" data-price="195.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jRXJej"><img src="https://images-na.ssl-images-amazon.com/images/I/61wWS5APS8L._SX679_.jpg" alt="DEEBOT N79W+ Robotic Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>28 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jRXJej">DEEBOT N79W+ Robotic Vacuum Cleaner with Max Power Suction, Up to 110 min Runtime, Hard Floors & Carpets,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$195.99</span><span class="ori_price">$279.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jRXJej">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="39.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30BVawL"><img src="https://images-na.ssl-images-amazon.com/images/I/61lS4Ylu9fL._SX522_.jpg" alt="USB C Hub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>972 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30BVawL">USB C Hub, TOTU 8-In-1 Type C Hub with Ethernet Port, 4K USB C to HDMI, 2 USB 3.0 Ports, 1 USB 2.0 Port,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.59</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30BVawL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lj25eQ"><img src="https://images-na.ssl-images-amazon.com/images/I/51aK74OhlDL._SX522_.jpg" alt="NOPESTCO Ultrasonic Pest Repeller" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lj25eQ">NOPESTCO Ultrasonic Pest Repeller Plug In Mouse Repellent Reject Rodents Mosquito Spiders Cockroach Bed Bugs Fly ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$36.89</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lj25eQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lj2G04"><img src="https://images-na.ssl-images-amazon.com/images/I/91Hb5oRXsPL._SX522_.jpg" alt="LEGO Technic Forest Machine" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lj2G04">LEGO Technic Forest Machine 42080 Building Kit (1003 Pieces)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lj2G04">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="39.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ldCdAT"><img src="https://images-na.ssl-images-amazon.com/images/I/61JJlmZRLpL._SX679_.jpg" alt="Dog and Cat Water Fountain" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>770 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ldCdAT">PetSafe Drinkwell Zen Stainless Steel Dog and Cat Water Fountain, Pet Drinking Fountain, 128 oz. Water Capacity</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.96</span><span class="ori_price">$51.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ldCdAT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jQDnSv"><img src="https://images-na.ssl-images-amazon.com/images/I/619Cf5XQ-dL._SX679_.jpg" alt="Bissell PowerEdge Lift Off Hard Wood Floor Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>179 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jQDnSv">Bissell PowerEdge Lift Off Hard Wood Floor Cleaner, Tile Cleaner, Steam Mop with Microfiber Pads, 20781</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jQDnSv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lhuzFN"><img src="https://images-na.ssl-images-amazon.com/images/I/71Is2vM4N4L._SX522_.jpg" alt="Hemp Oil for Pain Relief Anxiety Sleep Support" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>124 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lhuzFN">(2 Pack | 60mL) Hemp Oil for Pain Relief Anxiety Sleep Support (1000mg) Natural Organic Hemp Seed - Herbal Supplements...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lhuzFN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="55.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jS53Xl"><img src="https://images-na.ssl-images-amazon.com/images/I/61qvSZSLBzL._SX522_.jpg" alt="Logitech MX Master Wireless Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>189 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jS53Xl">Logitech MX Master Wireless Mouse – High-Precision Sensor, Speed-Adaptive Scroll Wheel, Easy-Switch up to 3 Devices - Meteorite</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.00</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jS53Xl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jOwh0X"><img src="https://images-na.ssl-images-amazon.com/images/I/81N9TeedXaL._SY879_.jpg" alt="Logitech G903 LIGHTSPEED Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>694 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jOwh0X">Logitech G903 LIGHTSPEED Gaming Mouse with POWERPLAY Wireless Charging Compatibility</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jOwh0X">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="36.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2li2jD0"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZQgWwuVzL._SY879_.jpg" alt="Logitech G602 Lag-Free Wireless Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,632 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2li2jD0">Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Up to 2500 DPI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.00</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2li2jD0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jOaTZC"><img src="https://images-na.ssl-images-amazon.com/images/I/71JmA6I1kYL._SX679_.jpg" alt="Beats Pill+ Portable Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,096 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jOaTZC">Beats Pill+ Portable Speaker - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.99</span><span class="ori_price">$179.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jOaTZC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="299.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lj8Mxv"><img src="https://images-na.ssl-images-amazon.com/images/I/31GSd-1IOhL.jpg" alt="NETGEAR Nighthawk AX8 8-Stream WiFi 6 Router" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>11,734 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lj8Mxv">NETGEAR Nighthawk AX8 8-Stream WiFi 6 Router (RAX80) - AX6000 Wireless Speed (up to 6Gbps) | Coverage for Large Homes...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.97</span><span class="ori_price">$399.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lj8Mxv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="449.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ldcwQW"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2Bh9mpyQmL._SX679_.jpg" alt="Samsung Galaxy S9 G960U 64GB Unlocked" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,975 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ldcwQW">Samsung Galaxy S9 G960U 64GB Unlocked 4G LTE Phone w/ 12MP Camera - Midnight Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$449.99</span><span class="ori_price">$599.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ldcwQW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="363.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jQKHOa"><img src="https://images-na.ssl-images-amazon.com/images/I/61ux1cU49XL._AC_SL1300_.jpg" alt="Xbox One X 1TB Console" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,269 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jQKHOa">Xbox One X 1TB Console (Discontinued) by Microsoft</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$363.00</span><span class="ori_price">$499.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jQKHOa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="57.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lja6jX"><img src="https://images-na.ssl-images-amazon.com/images/I/51R2a9p-vNL._SX522_.jpg" alt="TP-Link AC1750 Smart WiFi Router" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,378 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lja6jX">TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Router for Home, Works with Alexa,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$57.99</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lja6jX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2li55bo"><img src="https://images-na.ssl-images-amazon.com/images/I/61z5oOk5fzL._SY879_.jpg" alt="NETGEAR Wi-Fi Range Extender EX3700" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>7,995 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2li55bo">NETGEAR Wi-Fi Range Extender EX3700 - Coverage up to 1000 sq.ft. and 15 devices with AC750 Dual Band Wireless Signal Booster</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$46.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2li55bo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="10.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljaX49"><img src="https://images-na.ssl-images-amazon.com/images/I/71ISvD8ZnwL._SY879_.jpg" alt="Contigo AUTOSEAL West Loop Vacuum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>22,257 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljaX49">Contigo AUTOSEAL West Loop Vacuum-Insulated Stainless Steel Travel Mug with Easy-Clean Lid, 24 oz, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.97</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ljaX49">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2jQiYNo"><img src="https://images-na.ssl-images-amazon.com/images/I/81yUECc1JmL._AC_SL1500_.jpg" alt="Tom Clancy's The Division 2" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>64 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2jQiYNo">Tom Clancy's The Division 2 - Xbox One Standard Edition by Ubisoft</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2jQiYNo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljbT8E"><img src="https://images-na.ssl-images-amazon.com/images/I/410QF77py0L.jpg" alt="Steam Shot Deluxe" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,525 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljbT8E">BISSELL 39N7A/39N71 Steam Shot Deluxe Hard-Surface Cleaner, Light Green</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ljbT8E">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="26.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2li8oiF"><img src="https://images-na.ssl-images-amazon.com/images/I/71b4OQKxzDL._SX679_.jpg" alt="Radius Zone Mosquito Repellent from Thermacell" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>150 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2li8oiF">Radius Zone Mosquito Repellent from Thermacell, Gen 1.0; Rechargeable; Protects Outdoor Spaces from Insects...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.47</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2li8oiF">Shop Now at Amazon</a></div>
</div>
