<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_red"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="30" data-price="6.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ywf2Qh"><img src="https://m.media-amazon.com/images/I/71ilW910BpL._SR400,400_.jpg" alt="Pantene" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>349 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ywf2Qh">Pantene, Rescue Shots Hair Ampoules Treatment, Intensive Repair of Damaged Hair, Pro-V, 0.5 fl oz (3 Count), Twin Pack </a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.96</span><span class="ori_price">$9.94</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">30PNTSHOTS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $9.94</strong> with promo code: <strong class="m_codes">30PNTSHOTS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ywf2Qh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBmDNF"><img src="https://m.media-amazon.com/images/I/81j3RFj0kCL._SR400,400_.jpg" alt="Fastorm Mens Solid Polo Shirts Short" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>39 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBmDNF">Fastorm Mens Solid Polo Shirts Short Sleeve Collared Golf Pique Polo Wicking Shirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$35.97</span></address>
      <textarea readonly="readonly" class="code_area">75JZ1RGB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $35.97</strong> with promo code: <strong class="m_codes">75JZ1RGB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YBmDNF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3172IaN"><img src="https://m.media-amazon.com/images/I/61Mu16V9JtL._SR400,400_.jpg" alt="WiFi Range Extender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>48 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3172IaN">WiFi Range Extender | Up to 1200Mbps | WiFi Extender, Repeater, WiFi Signal Booster, Access Point | External ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.98</span><span class="ori_price">$39.97</span></address>
      <textarea readonly="readonly" class="code_area">40ER1KXQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.97</strong> with promo code: <strong class="m_codes">40ER1KXQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3172IaN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SWKzKg"><img src="https://m.media-amazon.com/images/I/71IxGJDHttL._SR400,400_.jpg" alt="Double Ss Hanging Travel Toiletry " /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>18 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SWKzKg">Double Ss Hanging Travel Toiletry Bag for Men and Women Waterproof Cosmetic Organizer For Make UP Dopp Kit Shower Bag with Sturdy Hook</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">5043Y4RL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">5043Y4RL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 01, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SWKzKg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/319zbNY"><img src="https://m.media-amazon.com/images/I/61hOkn+TJjL._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>68 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/319zbNY">Wireless Earbuds Bluetooth 5.0 Earbuds Headphone IPX8 Waterproof Bluetooth Headphones Built-in Microphone True Wireless...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50FGVBR3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50FGVBR3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/319zbNY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SVauSt"><img src="https://m.media-amazon.com/images/I/61k+plWwO6L._SR400,400_.jpg" alt="DECKEY AdjustablePendant Light" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>13 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SVauSt">DECKEY AdjustablePendant Light, 2 Pack, Ceiling Hanging Pendant Lights, Adjustable Height, 1.1m, Vintage Classic...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">709UA868</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $39.99</strong> with promo code: <strong class="m_codes">709UA868</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 02, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SVauSt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="16.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OyPQcn"><img src="https://m.media-amazon.com/images/I/71C78IWiTXL._SR400,400_.jpg" alt="Holipick Women One Piece" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>107 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OyPQcn">Holipick Women One Piece Swimsuit High Neck Floral Printed Cutout Bathing Suits</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.19</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">40H616C2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $26.99</strong> with promo code: <strong class="m_codes">40H616C2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OyPQcn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="6.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SVWZlo"><img src="https://m.media-amazon.com/images/I/511O9Y8SgRL._SR400,400_.jpg" alt="Mondetech for iPhone 8 Plus" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SVWZlo">Mondetech for iPhone 8 Plus (Only) Precise Fit Case, Slim Drop Protection with Kickstand, Wireless Charging Compatible,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.75</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">75MONDETECH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $26.99</strong> with promo code: <strong class="m_codes">75MONDETECH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SVWZlo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="14.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MBAcKm"><img src="https://m.media-amazon.com/images/I/71POrWYdnVL._SR400,400_.jpg" alt="U UZOPI Portable White Noise Sound Machine" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>39 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MBAcKm">U UZOPI Portable White Noise Sound Machine for Sleeping - Adults and Kids, 9 Natural Soothing Sounds, 30 Levels of Volume,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.29</span><span class="ori_price">$25.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">451NJ53K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $25.99</strong> with promo code: <strong class="m_codes">451NJ53K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MBAcKm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/313Wd8E"><img src="https://m.media-amazon.com/images/I/714+O6QlqVL._SR400,400_.jpg" alt="HTGK Portable Charger 10000mAh Power Bank" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/313Wd8E">HTGK Portable Charger 10000mAh Power Bank with 3 Input and LCD Display, Ultra-Compact External Battery Charger Battery Pack,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">503ADIP7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">503ADIP7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/313Wd8E">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzP0Qg"><img src="https://m.media-amazon.com/images/I/61m0t0J+VML._SR400,400_.jpg" alt="Bruno Marc Men's Havana Outdoor Fisherman Sandals" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>212 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzP0Qg">Bruno Marc Men's Havana Outdoor Fisherman Sandals</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">504PS3OC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">504PS3OC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YzP0Qg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzWiDw"><img src="https://m.media-amazon.com/images/I/71wj3Uro3tL._SR400,400_.jpg" alt="Carlcoo WineT Glass" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>245 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzWiDw">Carlcoo WineT Glass 12 OZ, Double Wall Vacuum Insulated Stemless Tumbler, Stainless Steel Cup for Coffee, Wine,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.50</span><span class="ori_price">$10.99</span></address>
      <textarea readonly="readonly" class="code_area">50DKBHS33</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $10.99</strong> with promo code: <strong class="m_codes">50DKBHS33</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YzWiDw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MzuY1R"><img src="https://m.media-amazon.com/images/I/71cNQVF5S-L._SR400,400_.jpg" alt="Manfiter OBD2 Scanner Auto Car..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>252 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MzuY1R">Manfiter OBD2 Scanner Auto Car OBDii 2 Code Reader Diagnostic Scan Tool Check Engine Light Trouble Codes Vehicle</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">40J4C7V9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40J4C7V9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 05, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MzuY1R">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="41.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/315R4gp"><img src="https://m.media-amazon.com/images/I/61xJJUMFvWL._SR400,400_.jpg" alt="ZOVER Wireless Earbuds Bluetooth" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>165 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/315R4gp">ZOVER Wireless Earbuds Bluetooth 5.0 Headphones True Wireless Auto Pairing Stereo Sound Noise Cancelling IPX7 Waterproof ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$41.39</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">10WDWXV5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $45.99</strong> with promo code: <strong class="m_codes">10WDWXV5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/315R4gp">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="49.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/312n1pU"><img src="https://m.media-amazon.com/images/I/81CYdT54bYL._SR400,400_.jpg" alt="MEOWFIA Premium Cat Bed Cave" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1,365 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/312n1pU">MEOWFIA Premium Cat Bed Cave (Large) - Eco Friendly 100% Merino Wool Beds for Cats and Kittens</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.49</span><span class="ori_price">$42.99</span></address>
      <textarea readonly="readonly" class="code_area">10MEOW10</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $42.99</strong> with promo code: <strong class="m_codes">10MEOW10</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 09, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/312n1pU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LSGSo8"><img src="https://m.media-amazon.com/images/I/61seZoS3iVL._SR400,400_.jpg" alt="2019 Upgraded Cordless Water Flosser" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LSGSo8">2019 Upgraded Cordless Water Flosser, Professional Oral Irrigator Portable Water Flossing, Dental Flosser...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.00</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">70ZPFHJX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $79.99</strong> with promo code: <strong class="m_codes">70ZPFHJX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LSGSo8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/319rxDi"><img src="https://m.media-amazon.com/images/I/51wkX3GTiRL._SR400,400_.jpg" alt="Shindel Food Tong" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>65 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/319rxDi">Shindel Food Tong, 4-Piece Set, 5-inch Hand-Shape Silicone Ice Tong</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$7.99</span></address>
      <textarea readonly="readonly" class="code_area">50SPQ23</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $7.99</strong> with promo code: <strong class="m_codes">50SPQ23</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 04, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/319rxDi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YzVeiV"><img src="https://m.media-amazon.com/images/I/71FNViIBAcL._SR400,400_.jpg" alt="BOTTLED JOY Water Jug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>91 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YzVeiV">BOTTLED JOY Water Jug 75oz Water Bottle 2.2L Large Water Bottle Clear Water Bottle with 20pcs Ice Cubes and Fruit...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.59</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">40WRGC9M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $15.99</strong> with promo code: <strong class="m_codes">40WRGC9M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 03, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YzVeiV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="110.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/315TbRn"><img src="https://m.media-amazon.com/images/I/71lojWb5vaL._SR400,400_.jpg" alt="Mini Projector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>102 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/315TbRn">Mini Projector, Vamvo L4200 Portable Video Projector, Full HD 1080P 200” Display Supported; Outdoor Movie Projector...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$110.49</span><span class="ori_price">$129.99</span>
        <div class="tooltip_green"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <textarea readonly="readonly" class="code_area">15OFFVAMVO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $129.99</strong> with promo code: <strong class="m_codes">15OFFVAMVO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 07, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/315TbRn">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="9.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SZ8xo3"><img src="https://m.media-amazon.com/images/I/81LvFi9A87L._SR400,400_.jpg" alt="BarkBox 300 ct. Dog Waste Poop Bags" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>881 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SZ8xo3">BarkBox 300 ct. Dog Waste Poop Bags, Environment Friendly, Leak-Proof, Durable, Unscented - 3 Patterns per Roll</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.74</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">25F7J9JS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $12.99</strong> with promo code: <strong class="m_codes">25F7J9JS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2SZ8xo3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="19.61">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K91mXK"><img src="https://m.media-amazon.com/images/I/81NIeTFOhRL._SR400,400_.jpg" alt="BarkBox Memory Foam Dog Bed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,098 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K91mXK">BarkBox Memory Foam Dog Bed Multiple Sizes/Colors; Plush Orthopedic Joint-Relief, Machine Washable Cover; Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.61</span><span class="ori_price">$26.15</span></address>
      <textarea readonly="readonly" class="code_area">25F7J9JS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $26.15</strong> with promo code: <strong class="m_codes">25F7J9JS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2K91mXK">Use Code at Amazon</a></div>
</div>
