<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <p>run out of stock soon</p>
-->


<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="51" data-price="19.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31wp71p"><img src="https://m.media-amazon.com/images/I/61fO2DGyeOL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31wp71p">Wireless Earbuds, 5.0 True Wireless Bluetooth Headphones 3D Stereo Sound Wireless Headphones Mini Sweatproof Sport Headsets...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.60</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">515QSTP1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $39.99</strong> with promo code: <strong class="m_codes">515QSTP1</strong></span></p><span class="ex_date ex_date_new">Expiration Date :  Aug 10, 2019 at 11:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31wp71p">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="95.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GXtbA7"><img src="https://m.media-amazon.com/images/I/61UC2+M8vIL._SR400,400_.jpg" alt="CAMONS Digital Wireless Backup Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GXtbA7">CAMONS Digital Wireless Backup Camera for RV, Trucks, Trailer Backup Camera with Monitor (7” Quad Split No Flicker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$95.39</span><span class="ori_price">$158.98</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40V8SPP9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $158.98</strong> with promo code: <strong class="m_codes">40V8SPP9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GXtbA7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31rY9Ih"><img src="https://m.media-amazon.com/images/I/61Vs8IIN9yL._SR400,400_.jpg" alt="IKOPO Magnetic Phone Car Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31rY9Ih">IKOPO Magnetic Phone Car Mount, Strong Magnet Cell Phone Holder Stick On Dashboard with Strongest VHB Adhesive(Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
         <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">304SS3CY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $12.99</strong> with promo code: <strong class="m_codes">304SS3CY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31rY9Ih">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31qC3WK"><img src="https://m.media-amazon.com/images/I/61XpoRM1pLL._SR400,400_.jpg" alt="Wireless Car Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31qC3WK">Wireless Car Charger, G Keni Air Vent Phone Holder Magnetic Fast Charging Car Vent Mount Compatible with iPhone X 8 Plus Galaxy S8,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.5</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">7092EP3G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $14.99</strong> with promo code: <strong class="m_codes">7092EP3G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31qC3WK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="39.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YTAgb5"><img src="https://m.media-amazon.com/images/I/61alwMUPD3L._SR400,400_.jpg" alt="JingooBon 10W Fast Wireless Charger Stand" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YTAgb5">JingooBon 10W Fast Wireless Charger Stand Compatible with iPhone Xs Max/Xs/XR/X/8/8 Plus, Qi Charging Dock Charge Station...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.74</span><span class="ori_price">$52.99</span></address>
      <textarea readonly="readonly" class="code_area">25AAJ5OP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $52.99</strong> with promo code: <strong class="m_codes">25AAJ5OP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YTAgb5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="28.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31pFA7N"><img src="https://m.media-amazon.com/images/I/41Nngq9cuKL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31pFA7N">Wireless Earbuds, LAKASARA True Wireless Headphone with Emergency Power Bank, Mini Invisible in-Ear Earphone Sweatproof with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.00</span><span class="ori_price">$55.99</span></address>
      <textarea readonly="readonly" class="code_area">50MQOB1B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $55.99</strong> with promo code: <strong class="m_codes">50MQOB1B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31pFA7N">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="15.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yOcItA"><img src="https://m.media-amazon.com/images/I/61URkdd8QAL._SR400,400_.jpg" alt="Bluetooth Eye Mask Sleep Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yOcItA">Bluetooth Eye Mask Sleep Headphones, ZesGood Bluetooth 5.0 Wireless Music Travel Sleep Headphones Built -in HD Speakers...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.01</span><span class="ori_price">$25.01</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">402H5YDR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $25.01</strong> with promo code: <strong class="m_codes">402H5YDR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 12, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2yOcItA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="30.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GYjdi1"><img src="https://m.media-amazon.com/images/I/71mYXb48AOL._SR400,400_.jpg" alt="Solar Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GYjdi1">Solar Charger, Soluser 20000mAh Wireless Solar Power Bank Waterproof External Battery Pack with 3 Solar Panels,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.79</span><span class="ori_price">$43.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30TV7961</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $43.99</strong> with promo code: <strong class="m_codes">30TV7961</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2GYjdi1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="11.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBLea1"><img src="https://m.media-amazon.com/images/I/6129Z67vHdL._SR400,400_.jpg" alt="Age-Defying Eye and Lip Treatment by Airelle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBLea1">Age-Defying Eye and Lip Treatment by Airelle | Anti Aging, Helps Reduce Wrinkles, Fine Lines | Dermatologist Recommended...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.60</span><span class="ori_price">$58.00</span></address>
      <textarea readonly="readonly" class="code_area">80ZI34EF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $58.00</strong> with promo code: <strong class="m_codes">80ZI34EF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YBLea1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31rZIG9"><img src="https://m.media-amazon.com/images/I/71Gq4Uv77RL._SR400,400_.jpg" alt="Peptide Complex Serum by Microderm GLO" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31rZIG9">Peptide Complex Serum by Microderm GLO, Best Anti Aging, Wrinkle, Facial Care, 100% PURE & NATURAL, Plump, Hydrate & Nourish Your Face,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$35.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50PEPTIDE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $35.99</strong> with promo code: <strong class="m_codes">50PEPTIDE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 14, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31rZIG9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YT2z9u"><img src="https://m.media-amazon.com/images/I/81iGpMDUl9L._SR400,400_.jpg" alt="Hyaluronic Acid Serum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YT2z9u">Hyaluronic Acid Serum, BREYLEE Moisturizing Face Serum Anti Aging Serum for Deeply Enhancing Nourishing Hydrating (40ml, 1.37fl Oz) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50REDB1B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.99</strong> with promo code: <strong class="m_codes">50REDB1B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YT2z9u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="7.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YRP5e5"><img src="https://m.media-amazon.com/images/I/61n66lPIW1L._SR400,400_.jpg" alt="Vitamin C Serum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YRP5e5">Vitamin C Serum for FaceTopical Facial Serum with Hyaluronic Acid Vitamin E for Whitening Anti Aging </a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.49</span><span class="ori_price">$9.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25JWORNS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $9.99</strong> with promo code: <strong class="m_codes">25JWORNS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YRP5e5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.39">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://m.media-amazon.com/images/I/61MI0QHNbNL._SR400,400_.jpg" alt="Hyaluronic Acid Serum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Hyaluronic Acid Serum, BREYLEE Moisturizing Face Oils with Hyaluronic Acid Anti Aging Face Serum for Deeply Hydrate & Fade Fine Lines (17ml,0.61oz) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.39</span><span class="ori_price">$12.79</span></address>
      <textarea readonly="readonly" class="code_area">50DOT973</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.79</strong> with promo code: <strong class="m_codes">50DOT973</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="36.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YCsua6"><img src="https://m.media-amazon.com/images/I/710hIJRYshL._SR400,400_.jpg" alt="New Trent iPad Keyboard Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YCsua6">New Trent iPad Keyboard Case Airbender Star with Detachable Wireless Bluetooth Smart Keyboard for The Apple New iPad 6th Gen (2018),...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.86</span><span class="ori_price">$40.95</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">10FOR55B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $40.95</strong> with promo code: <strong class="m_codes">10FOR55B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YCsua6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="38.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31s0naB"><img src="https://m.media-amazon.com/images/I/81ES8HmRqsL._SR400,400_.jpg" alt="iPad Pro 11 Keyboard Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31s0naB">iPad Pro 11 Keyboard Case - iPad Pro 11 Case with Keyboard - iPad Pro 11 Keyboard Backlit - iPad Pro 11 Case with Pencil Holder...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$38.39</span><span class="ori_price">$47.99</span></address>
      <textarea readonly="readonly" class="code_area">20SUNYOUNG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $47.99</strong> with promo code: <strong class="m_codes">20SUNYOUNG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31s0naB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YVm8OD"><img src="https://m.media-amazon.com/images/I/71eGZouG4hL._SR400,400_.jpg" alt="BAGSMART Travel Organizer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YVm8OD">BAGSMART Travel Organizer Electronics Laptop Accessories Bag with 15 inch MacBook Pro Compartment, for Cable, Adapter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">45AJDSWE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $19.99</strong> with promo code: <strong class="m_codes">45AJDSWE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 10, 2019 at 11:00 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YVm8OD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31pG3qs"><img src="https://m.media-amazon.com/images/I/816i0U39g0L._SR400,400_.jpg" alt="AceMining Rechargeable Battery Operated Fan" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31pG3qs">AceMining Rechargeable Battery Operated Fan with 3 speeds, Strong Wind, Long Battery Life, Quiet Operation,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">50A76GG4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.99</strong> with promo code: <strong class="m_codes">50A76GG4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 13, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31pG3qs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ugvZj"><img src="https://m.media-amazon.com/images/I/71k2u7Qqe-L._SR400,400_.jpg" alt="Ulgoo Nylon School Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ugvZj">Ulgoo Nylon School Backpack Casual Computer Laptop Backpack (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.50</span><span class="ori_price">$38.99</span></address>
      <textarea readonly="readonly" class="code_area">501BXVJX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $38.99</strong> with promo code: <strong class="m_codes">501BXVJX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31ugvZj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="62.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MOb2Zb"><img src="https://m.media-amazon.com/images/I/51Dd1A5vKAL._SR400,400_.jpg" alt="IPL Hair Removal System " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MOb2Zb">IPL Hair Removal System for Women and Men IPL Hair Removal Device 600,000 Flashes Facial Body Profesional Use at Home </a></p>
    <div class="code_high">
      <address><span class="dis_price">$62.38</span><span class="ori_price">$89.11</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30IU12FG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $89.11</strong> with promo code: <strong class="m_codes">30IU12FG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 11, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MOb2Zb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Tns8yn"><img src="https://m.media-amazon.com/images/I/71Z7621-lTL._SR400,400_.jpg" alt="Phone Charger Cable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Tns8yn">Phone Charger Cable, EAGKORD 2Pack 3FT Nylon Braided Certified Charging USB Cable Cord USB Cable Charger for Phone XS MAX,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">807W51YD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $24.99</strong> with promo code: <strong class="m_codes">807W51YD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Tns8yn">Use Code at Amazon</a></div>
</div>
