<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card dealofday clearfix" data-score="42" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xJ3yOi"><img src="https://images-na.ssl-images-amazon.com/images/I/91udcEprl8L._SX679_.jpg" alt="TCL Smart LED TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>993 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="">TCL 4K Ultra HD Roku Smart LED TV (2018 Model)</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="Product_link">55-Inch</a> - <span>529.00(34% Off)<em>799.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2xJ3yOi">65-Inch</a> - <span>749.99(42% Off)<em>1,299.99</em></span></li>
            <li><a href="https://amzn.to/2xJ3yOi">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xJ3yOi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQr04D"><img src="https://images-na.ssl-images-amazon.com/images/I/618lVEPrEvL._SX425_.jpg" alt="Fire TV Edition" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,822 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQr04D">Insignia NS-39DF510NA19 39-inch 1080p Full HD Smart LED TV- Fire TV Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$230.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQr04D">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="986.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30tRhd4"><img src="https://images-na.ssl-images-amazon.com/images/I/61EJz6KKOKL._SX522_.jpg" alt="Microsoft Surface Laptop" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>348 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30tRhd4">Microsoft Surface Laptop (1st Gen) DAL-00001 Laptop (Windows 10 S, Intel Core i7, 13.5" LED-Lit Screen,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$986.99</span><span class="ori_price">$2,199.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30tRhd4">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="15" data-price="169.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32mxbDp"><img src="https://images-na.ssl-images-amazon.com/images/I/51tiXcRoOjL._UX425_.jpg" alt="Fitbit Versa Smart Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>6,297 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32mxbDp">Fitbit Versa Smart Watch, One Size (S & L Bands Included)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.95</span><span class="ori_price">$199.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32mxbDp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="119.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xIPlRB"><img src="https://images-na.ssl-images-amazon.com/images/I/71YGrhhoqUL._UX425_.jpg" alt="Fitbit Charge 3 Fitness Activity Tracker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>3,752 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xIPlRB">Fitbit Charge 3 Fitness Activity Tracker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.95</span><span class="ori_price">$149.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xIPlRB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32mxpdJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61tSl8KvEGL._SX522_.jpg" alt="Echo (2nd Generation)" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>45,707 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32mxpdJ">Echo (2nd Generation) - Smart speaker with Alexa and Dolby processing - Heather Gray Fabric</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32mxpdJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="999.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOnojC"><img src="https://images-na.ssl-images-amazon.com/images/I/51lJRe4WJNL._SX679_.jpg" alt="Apple MacBook Air" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>332 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOnojC">Apple MacBook Air (13-inch Retina display, 1.6GHz dual-core Intel Core i5, 128GB) - Silver (Latest Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$999.00</span><span class="ori_price">$1,199.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOnojC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="54.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30x1OnP"><img src="https://images-na.ssl-images-amazon.com/images/I/41wG35SYHfL._SX522_.jpg" alt="Monoprice Sous Vide Immersion Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>99 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30x1OnP">Monoprice Sous Vide Immersion Cooker 800W - Black/Silver With Adjustable Clamp And Digital LED Touch Screen, Easy To ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.95</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30x1OnP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xLz7HA"><img src="https://images-na.ssl-images-amazon.com/images/I/71+gMwTmMlL._AC_SR300,300_.jpg" alt="High Pressure Shower Head" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>90 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xLz7HA">Voolan 4" High Pressure Shower Head with Shower Arm, 5 Function, Comfortable Shower Experience Even at Low Water...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xLz7HA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JvElgY"><img src="https://images-na.ssl-images-amazon.com/images/I/71aanCMoazL._SX522_.jpg" alt="Kindle Oasis E-reader" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,878 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JvElgY">Kindle Oasis E-reader (Previous Generation - 9th) - Graphite, 7" High-Resolution Display</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$249.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JvElgY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="129.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32nqnFt"><img src="https://images-na.ssl-images-amazon.com/images/I/517gKDHHowL._SX522_.jpg" alt="All-New Echo Dot Kids Edition" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32nqnFt">All-New Echo Dot Kids Edition, Blue with Fire 7 Kids Edition Tablet, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.98</span><span class="ori_price">$169.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32nqnFt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="79.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xLJECm"><img src="https://images-na.ssl-images-amazon.com/images/I/51RlEcSVxsL._SX679_.jpg" alt="Apple Smart Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>228 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xLJECm">Apple Smart Keyboard for 10.5-inch iPad Pro - US English</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.50</span><span class="ori_price">$159.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xLJECm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="799.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xHfpfN"><img src="https://images-na.ssl-images-amazon.com/images/I/81oWLEoHrgL._SX522_.jpg" alt="Dell Gaming Laptop" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>35 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xHfpfN">Dell Gaming Laptop G5587-5859BLK-PUS G5 - 15.6" LED Anti-Glare Display - 8th Gen Intel i5 Processor...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$799.99</span><span class="ori_price">$1,099.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xHfpfN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="429.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xM2QA4"><img src="https://images-na.ssl-images-amazon.com/images/I/51-tD2YULlL.jpg" alt="Lenovo Ideapad 330 2019 Newest Premium" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>8 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xM2QA4">Lenovo Ideapad 330 2019 Newest Premium 15.6" HD Laptop Computer Notebook, Intel Core i3-8130U (Beat i5-7200U),...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$429.99</span><span class="ori_price">$699.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xM2QA4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="229.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LUoWJ3"><img src="https://images-na.ssl-images-amazon.com/images/I/81P8xHPMv0L._SX522_.jpg" alt="Sennheiser PXC 550 Wireless" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>872 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LUoWJ3">Sennheiser PXC 550 Wireless – NoiseGard Adaptive Noise Cancelling, Bluetooth Headphone with Touch Sensitive...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$229.99</span><span class="ori_price">$349.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LUoWJ3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XKXzmX"><img src="https://images-na.ssl-images-amazon.com/images/I/61dYAa%2BbYQL._SX679_.jpg" alt="Corsair HS60" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>320 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XKXzmX">Corsair HS60 – 7.1 Virtual Surround Sound PC Gaming Headset w/USB DAC - Discord Certified Headphones ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XKXzmX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="328.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XOxHXq"><img src="https://images-na.ssl-images-amazon.com/images/I/51C39xi4-OL._SX522_.jpg" alt="Arlo Pro 2" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,073 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XOxHXq">Arlo Pro 2 - Wireless Home Security Camera System with Siren | Rechargeable, Night vision, Indoor/Outdoor, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$328.49</span><span class="ori_price">$479.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XOxHXq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="399.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30txtX9"><img src="https://images-na.ssl-images-amazon.com/images/I/81S0A85qpcL._SX522_.jpg" alt="Canon EOS M100 Mirrorless Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>82 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30txtX9">Canon EOS M100 Mirrorless Camera w/ 15-45mm Lens - Wi-Fi, Bluetooth, and NFC Enabled (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.00</span><span class="ori_price">$599.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30txtX9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YNGLgg"><img src="https://images-na.ssl-images-amazon.com/images/I/81PyvJJw2gL._SX522_.jpg" alt="BLACK+DECKER Purify 2-Liter Air Fryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>772 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YNGLgg">BLACK+DECKER Purify 2-Liter Air Fryer, Black/Stainless Steel, HF110SBD</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YNGLgg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="50.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xM37D6"><img src="https://images-na.ssl-images-amazon.com/images/I/41mZPQMvKDL.jpg" alt="Cuisinart Coffeemaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,560 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xM37D6">Cuisinart DCC-1100BK 12-Cup Programmable Coffeemaker, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$50.00</span><span class="ori_price">$130.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xM37D6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30yDCSe"><img src="https://images-na.ssl-images-amazon.com/images/I/71Nbbn8qi2L._SX522_.jpg" alt="Etekcity Digital Touch Kitchen Scale" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9,748 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30yDCSe">Etekcity Digital Touch Kitchen Scale Multifunction Food Scale 1g Weighable with Easy to Clean Tempered Glass Surface, 11lb 5kg</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$18.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30yDCSe">Shop Now at Amazon</a></div>
</div>

