<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 

<p>run out of stock soon</p>
-->

<div class="card clearfix" data-score="30" data-price="41.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XNt4AZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61VMZ0ZDZ-L._AC_SR300,300_.jpg" alt="Bluetooth 5.0 Wireless Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>547 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XNt4AZ">Amazon Deal Of The Day: Bluetooth 5.0 Wireless Headphones, ENACFIRE Future Plus Wireless Bluetooth Earbuds.</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$41.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XNt4AZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/325apQk"><img src="https://images-na.ssl-images-amazon.com/images/I/61ceII8rT+L._AC_SR300,300_.jpg" alt="ENACFIRE E20 Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>853 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/325apQk">Amazon Deal Of The Day: ENACFIRE E20 Wireless Earbuds Bluetooth Headphones, 90H Playtime Bluetooth 5.0 Stable Connection HD Sound Quality Auto Paring...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/325apQk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="1,979.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LzhV05"><img src="https://images-na.ssl-images-amazon.com/images/I/41795QZGfYL._AC_SR300,300_.jpg" alt="" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LzhV05">Amazon Deal Of The Day: (Renewed)Apple MacBook Pro 15-inch w/ Touch Bar (Mid 2018), 220ppi Retina Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,979.99</span><span class="ori_price">$2,799.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LzhV05">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RLvr1p"><img src="https://images-na.ssl-images-amazon.com/images/I/31sPDWmbYuL._AC_US218_.jpg" alt="Thermacell Halo Patio Shield Mosquito Repeller" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>131 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RLvr1p">Thermacell Halo Patio Shield Mosquito Repeller, Brown/Black; Mosquito Relief to 15-Foot Zone and Blends...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.98</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RLvr1p">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="16.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XjpbnU"><img src="https://images-na.ssl-images-amazon.com/images/I/61O84KlqVjL._SX522_.jpg" alt="Bagel Slicer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>47 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XjpbnU">Bagel Slicer Guillotine Cutter Kit By Sweet Home Bee - Fast, Easy to use, Safe, and Kid-friendly! Stainless Steel...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.90</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XjpbnU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="174.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XfSKSi"><img src="https://images-na.ssl-images-amazon.com/images/I/61E%2BZpO0bQL._SX522_.jpg" alt="Wireless Home Security Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>16,947 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XfSKSi">Arlo - Wireless Home Security Camera System | Night vision, Indoor/Outdoor, HD Video | Includes Cloud Storage...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$174.99</span><span class="ori_price">$249.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XfSKSi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="28.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZVYkuE"><img src="https://images-na.ssl-images-amazon.com/images/I/71eopznVJdL._SX679_.jpg" alt="OliveTech Aroma Essential Oil Diffuser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,764 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZVYkuE">OliveTech Aroma Essential Oil Diffuser, 400ml Ultrasonic Cool Mist Humidifier with Color LED Lights Changing...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.04</span><span class="ori_price">$36.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZVYkuE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="37.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RPTFaX"><img src="https://images-na.ssl-images-amazon.com/images/I/61hHHAm3nqL._SX679_.jpg" alt="Smoke and Carbon Monoxide Detector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,432 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RPTFaX">First Alert Hardwired Talking Photoelectric Smoke and Carbon Monoxide Detector, BRK SC7010BV</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.48</span><span class="ori_price">$54.91</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RPTFaX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="17.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3013YvC"><img src="https://images-na.ssl-images-amazon.com/images/I/61KBtaWa%2B-L._SX522_.jpg" alt="Inflatable Water Float" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,528 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3013YvC">Intex River Run I Sport Lounge, Inflatable Water Float, 53" Diameter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.49</span><span class="ori_price">$41.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3013YvC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xm7unt"><img src="https://images-na.ssl-images-amazon.com/images/I/91ir6Gd%2BrtL._SX679_.jpg" alt="SwimWays Baby Spring Float..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,328 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xm7unt">SwimWays Baby Spring Float Activity Center with Canopy - Inflatable Float for Children with Interactive Toys...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xm7unt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="44.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FKVAZu"><img src="https://images-na.ssl-images-amazon.com/images/I/61hox9SjEwL._SX679_.jpg" alt="Intex Dinoland Inflatable Play Center" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>784 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FKVAZu">Intex Dinoland Inflatable Play Center, 131in X 90in X 44in, for Ages 3+</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.69</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FKVAZu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RLb9oZ"><img src="https://images-na.ssl-images-amazon.com/images/I/81DJMwMcd5L._SX522_.jpg" alt="HP 23.8-inch FHD IPS Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,380 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RLb9oZ">HP 23.8-inch FHD IPS Monitor with Tilt/Height Adjustment and Built-in Speakers (VH240a, Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.99</span><span class="ori_price">$139.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RLb9oZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RKUv8V"><img src="https://images-na.ssl-images-amazon.com/images/I/819h%2B3Ab6%2BL._SX679_.jpg" alt="Prep Naturals Glass Meal Prep Containers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,000 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RKUv8V">Prep Naturals Glass Meal Prep Containers - Food Prep Containers with Lids Meal Prep - Food Storage Containers...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RKUv8V">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XjqH9A"><img src="https://images-na.ssl-images-amazon.com/images/I/81Uv5R7rKpL._SX679_.jpg" alt="Ice Cream Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>903 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XjqH9A">Nostalgia ICMP400WD Electric Wood Bucket Ice Cream Maker, 4-Quart</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.96</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XjqH9A">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmnxSr"><img src="https://images-na.ssl-images-amazon.com/images/I/81eqJQ1XDHL._SX522_.jpg" alt="DEWALT Screw Driving Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,631 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmnxSr">DEWALT DWA2T40IR IMPACT READY FlexTorq Screw Driving Set, 40-Piece</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$40.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XmnxSr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3078okR"><img src="https://images-na.ssl-images-amazon.com/images/I/51tI2od0X5L._SY879_.jpg" alt="White Power Strip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>139 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3078okR">Prime Wire & Cable PB801115 6-Outlet White Power Strip with 8-Foot Cord, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.49</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3078okR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="23.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XjVu5Z"><img src="https://images-na.ssl-images-amazon.com/images/I/51zfdgObzsL.jpg" alt="Refrigerator Water Filter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>2,756 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XjVu5Z">Samsung Genuine DA29-00003G Refrigerator Water Filter, 1 Pack (Packaging may vary))</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.04</span><span class="ori_price">$55.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XjVu5Z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="26.13">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RVresp"><img src="https://images-na.ssl-images-amazon.com/images/I/810iqf3lU1L._SX679_.jpg" alt="Kershaw Clash Black Serrated Pocket Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,566 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RVresp">Kershaw Clash Black Serrated Pocket Knife (1605CKTST) 3.1” Stainless Steel Blade with Black-Oxide Coating;...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.13</span><span class="ori_price">$54.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RVresp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="6.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZYghsE"><img src="https://images-na.ssl-images-amazon.com/images/I/61q5tsAVfvL._SX522_.jpg" alt="Pyramex Fortress Safety Glasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>530 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZYghsE">Pyramex Fortress Safety Glasses</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.88</span><span class="ori_price">$14.03</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZYghsE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="15.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3014bPn"><img src="https://images-na.ssl-images-amazon.com/images/I/915sUFHpBtL._SX522_.jpg" alt="Apollo Precision Tools" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,977 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3014bPn">Apollo Precision Tools DT9706P General Tool Set, Pink, 39-Piece, Donation Made to Breast Cancer Research</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.89</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3014bPn">Shop Now at Amazon</a></div>
</div>