<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span><br /> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>Recommended</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span> + Percentage% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Percentage% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="image"><img src="<%=asset_path 'time.png' %>" alt="out of sold" /></div>
-->

<div class="card clearfix" data-score="35" data-price="97.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o7dNe9"><img src="https://images-na.ssl-images-amazon.com/images/I/71B1fuOuQVL._SX425_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o7dNe9"><span>Amazon Deal Of The Day:</span> Chef’sChoice 15 Trizor XV EdgeSelect Professional Electric Knife Sharpener for Straight and...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$97.99</span><span class="ori_price">$150.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o7dNe9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pBk3LJ"><img src="https://images-na.ssl-images-amazon.com/images/I/6146o3W9maL._SX569_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pBk3LJ">Echo (2nd Generation) - Smart speaker with Alexa and Dolby processing - Charcoal Fabric</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pBk3LJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="23.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oGejQm"><img src="https://images-na.ssl-images-amazon.com/images/I/514ABs2MO2L._SX679_.jpg" alt="Wemo Mini Smart Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oGejQm">Wemo Mini Smart Plug, WiFi Enabled, Works with Alexa, Google Assistant & Apple HomeKit</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.98</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oGejQm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o3Cus1"><img src="https://images-na.ssl-images-amazon.com/images/I/81IxbZH13ZL._SX679_.jpg" alt="DYMO Label Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o3Cus1">DYMO Label Maker | LabelManager 160 Portable Label Maker, Easy-to-Use, One-Touch Smart Keys, QWERTY Keyboard, Large Display,... for Home & Office Organization</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$40.79</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o3Cus1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="29.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2naALRl"><img src="https://images-na.ssl-images-amazon.com/images/I/81H2SgyaGnL._SX679_.jpg" alt="Samsung Qi Certified Fast Charge Wireless Charging Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2naALRl">Samsung Qi Certified Fast Charge Wireless Charging Pad + Stand - Supports wireless charging on Qi compatible smartphones - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.41</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2naALRl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="48.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oGB1I4"><img src="https://images-na.ssl-images-amazon.com/images/I/41h8DDD7waL._SX425_.jpg" alt="Logitech MK550 Wireless Wave Keyboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oGB1I4">Logitech MK550 Wireless Wave Keyboard and Mouse Combo — Includes Keyboard and Mouse, Long Battery Life, Ergonomic Wave Design</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.29</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oGB1I4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n8bGq2"><img src="https://images-na.ssl-images-amazon.com/images/I/81wUKBiRiiL._SX425_.jpg" alt="AtmosFX Phantasms Digital Decorations DVD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n8bGq2">AtmosFX Phantasms Digital Decorations DVD for Halloween Holiday Projection Decorating</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n8bGq2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nefmGY"><img src="https://images-na.ssl-images-amazon.com/images/I/61Khj75PMOL._SX425_.jpg" alt="Funnytree 7x5ft Halloween Themed Photography" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nefmGY">Funnytree 7x5ft Halloween Themed Photography Backdrop Moon Night Spooky Forest Pumpkins Lantern Background Dead Trees Haunted House Party...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$48.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nefmGY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nd005w"><img src="https://images-na.ssl-images-amazon.com/images/I/813n8HWFyCL._SY355_.jpg" alt="Fire TV Stick 4K + AmazonBasics HD Antenna..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nd005w">Fire TV Stick 4K + AmazonBasics HD Antenna + Protection Plan + Mission Cable Remote Cover (Blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$90.96</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nd005w">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n7y5nm"><img src="https://images-na.ssl-images-amazon.com/images/I/51fumkED57L._SY355_.jpg" alt="Amazon Cloud Cam Security Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n7y5nm">Amazon Cloud Cam Security Camera, Works with Alexa</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$119.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n7y5nm">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="33" data-price="149.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oL2KHu"><img src="https://images-na.ssl-images-amazon.com/images/I/712UDuT1yRL._SY550_.jpg" alt="Certified Refurbished Ring Video Doorbell Pro" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oL2KHu">Certified Refurbished Ring Video Doorbell Pro, Works with Alexa (existing doorbell wiring required)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.00</span><span class="ori_price">$224.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oL2KHu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nUcnE1"><img src="https://images-na.ssl-images-amazon.com/images/I/911HkWbrVaL._SX425_.jpg" alt="Alien Studio Laptop Cooling Pad " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nUcnE1">Alien Studio Laptop Cooling Pad – Slim Fan Laptop Stand - 4 Super Silent USB Cooling Fans, 2 Extra USB Ports, Non-Slip Base, Adjustable Tray Height,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nUcnE1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n9mpAF"><img src="https://images-na.ssl-images-amazon.com/images/I/719Scho6w0L._SX679_.jpg" alt="KEROLFFU Gaming Laptop Cooler " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n9mpAF">KEROLFFU Gaming Laptop Cooler 12-15.6inch 5-Fans 2500RPM Strong Wind,Dual USB 2.0 Ports, Adjustable Mount Stand …</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$60.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n9mpAF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="76" data-price="43.36">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n8yS7z"><img src="https://images-na.ssl-images-amazon.com/images/I/81NcN-wtmIL._SX425_.jpg" alt="Lush Décor Ruffle Skirt Bedspread..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>76% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n8yS7z">Lush Décor Ruffle Skirt Bedspread White Shabby Chic Farmhouse Style Lightweight 3 Piece Set, King,</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.36</span><span class="ori_price">$180.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n8yS7z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oDW5yV"><img src="https://images-na.ssl-images-amazon.com/images/I/61FAHRDYYmL._SX425_.jpg" alt="Conair 1875 Watt Cord Keeper Hair Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oDW5yV">Conair 1875 Watt Cord Keeper Hair Dryer with Folding Handle and Retractable Cord, Travel Hair Dryer, Teal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oDW5yV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="134.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oIAhSL"><img src="https://images-na.ssl-images-amazon.com/images/I/71CgRbIhIIL._SY741_.jpg" alt="Samsung Galaxy Tab 4 (7-Inch, White)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oIAhSL">Samsung Galaxy Tab 4 (7-Inch, White)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$134.99</span><span class="ori_price">$249.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oIAhSL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oKAc0K"><img src="https://images-na.ssl-images-amazon.com/images/I/71FJ-DumjeL._SX425_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oKAc0K">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$47.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oKAc0K">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="59.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oFk6pt"><img src="https://images-na.ssl-images-amazon.com/images/I/41LAlJDpkiL.jpg" alt="Misfit Shine - Activity and Sleep Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oFk6pt">Misfit Shine - Activity and Sleep Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.00</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oFk6pt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nUDPl2"><img src="https://images-na.ssl-images-amazon.com/images/I/81yt5Fpt8cL._SX425_.jpg" alt="Campark ACT74 Action Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nUDPl2">Campark ACT74 Action Camera 16MP 4K WiFi Underwater Photography Cameras 170 Degree Ultra Wide Angle Lens with 2 Pcs Rechargeable Batteries...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$54.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nUDPl2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ptPh7l"><img src="https://images-na.ssl-images-amazon.com/images/I/51KflVUKynL._SX425_.jpg" alt="PetSafe Solvit PupSTEP Plus Pet Stairs" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ptPh7l">PetSafe Solvit PupSTEP Plus Pet Stairs, Foldable Steps for Dogs and Cats, for Small, Medium, Large, X-Large Pets</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.95</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ptPh7l">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pDjVeL"><img src="https://images-na.ssl-images-amazon.com/images/I/510%2BRw4g6wL._SX425_.jpg" alt="Bergan Turboscratcher Cat Toy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pDjVeL">Bergan Turboscratcher Cat Toy (Assorted)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.49</span><span class="ori_price">$17.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pDjVeL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="16.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oKBWXQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71lb2ive2wL._SX425_.jpg" alt="Furminator for Cats Undercoat Deshedding Tool" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oKBWXQ">Furminator for Cats Undercoat Deshedding Tool for Cats, Stainless Edge with Fur Ejector</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.09</span><span class="ori_price">$22.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oKBWXQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="7.66">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oOy7Rt"><img src="https://images-na.ssl-images-amazon.com/images/I/910NgyGYO%2BL._SX425_.jpg" alt="Petstages cat Toy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oOy7Rt">Petstages cat Toy</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.66</span><span class="ori_price">$23.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oOy7Rt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o5k6iu"><img src="https://images-na.ssl-images-amazon.com/images/I/612xOJZVZFL._SX522_.jpg" alt="EagleTec K005-BA PC Gaming Keyboard and Mouse " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o5k6iu">EagleTec K005-BA PC Gaming Keyboard and Mouse Combo Wired LED RGB Backlit Keyboard with Multimedia Keys & 5 Button Mouse with 3200 DPI for Windows ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o5k6iu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o45Kik"><img src="https://images-na.ssl-images-amazon.com/images/I/71WKNYO8TJL._SX679_.jpg" alt="Magic Bullet Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o45Kik">Magic Bullet Blender, Small, Silver, 11 Piece Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o45Kik">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="9.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n5zafo"><img src="https://images-na.ssl-images-amazon.com/images/I/81kcXNrYOnL._SX425_.jpg" alt="Sport2People Running Pouch Belt" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n5zafo">Sport2People Running Pouch Belt, USA Patented, Runner Waist Pack iPhone X 6 7 8 for Men and Women (black, one size, 2 pockets)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.97</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n5zafo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="15.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pxdZDS"><img src="https://images-na.ssl-images-amazon.com/images/I/616nYpjhoAL._SX425_.jpg" alt="femor Inflatable Lounger," /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pxdZDS">femor Inflatable Lounger, Air Sofa, Water Proof& Portable Anti-Air Leaking Couch for Patio, Travelling, Hiking, Camping(Blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.11</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pxdZDS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="8.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oFYhGi"><img src="https://images-na.ssl-images-amazon.com/images/I/61I%2B4e9OWlL._SX425_.jpg" alt="USB C to HDMI Cable 4K" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oFYhGi">USB C to HDMI Cable 4K, USB 3.1 Type-C Thunderbolt 3 to HDMI Ultra TV Male Cable Adapter for Samsung S8 Plus/S8/Note 8,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.78</span><span class="ori_price">$20.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oFYhGi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="9.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n89O0s"><img src="https://images-na.ssl-images-amazon.com/images/I/619XE7JHyTL._SX425_.jpg" alt="Steering Wheel Cover for Women" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n89O0s">Steering Wheel Cover for Women, Red Sliver Bling Crystal Diamond Rhinestone Black Leather Car Steering Wheel Cover for New Girl Universal 15 inch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.12</span><span class="ori_price">$25.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n89O0s">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="14.23">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nVk8JR"><img src="https://images-na.ssl-images-amazon.com/images/I/71sZ1XJvXWL._SX522_.jpg" alt="Rozway Dual Head Grow Light 10W LED Grow Lamp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nVk8JR">Rozway Dual Head Grow Light 10W LED Grow Lamp Plants | HIGH YIELDS | 360° Goosenecks, Remote Control w/Dual Switches. Grow Light Indoor Plants,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.23</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nVk8JR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="80.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oHLAuA"><img src="https://images-na.ssl-images-amazon.com/images/I/61p5nIchMxL._SX522_.jpg" alt="Soditer LED Luminous Levitating Globe 6inch Floating..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oHLAuA">Soditer LED Luminous Levitating Globe 6inch Floating Globes Sitting Room|Office Desktop Decoration|Creativity Holiday</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$80.74</span><span class="ori_price">$199.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oHLAuA">Shop Now at Amazon</a></div>
</div>
