<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->


<div class="card clearfix" data-score="33" data-price="46.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31O2NAv"><img src="https://images-na.ssl-images-amazon.com/images/I/71v3BNUaarL._SX522_.jpg" alt="Razer DeathAdder Elite Gaming Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31O2NAv">Razer DeathAdder Elite Gaming Mouse: 16,000 DPI Optical Sensor - Chroma RGB Lighting - 7 Programmable Buttons...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.99</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31O2NAv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="53.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZagUP3"><img src="https://images-na.ssl-images-amazon.com/images/I/61oEU8lUE9L._SX425_.jpg" alt="COWIN E7 Active Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZagUP3">COWIN E7 Active Noise Cancelling Headphones Bluetooth Headphones with Microphone Deep Bass Wireless Headphones Over Ear,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZagUP3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31I7RXb"><img src="https://images-na.ssl-images-amazon.com/images/I/71ri5CdnoyL._SY741_.jpg" alt="Moto G6 with Alexa Hands-Free" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31I7RXb">Moto G6 with Alexa Hands-Free – 64 GB – Unlocked (AT&T/Sprint/T-Mobile/Verizon) – Deep Indigo – Prime Exclusive Phone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$299.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31I7RXb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="31.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z2coHI"><img src="https://images-na.ssl-images-amazon.com/images/I/71eH683KvJL._SX679_.jpg" alt="Belkin Boost Up Wireless Charging Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z2coHI">Belkin Boost Up Wireless Charging Pad 7.5W – Fast iPhone Wireless Charger for iPhone XS, XS Max, XR, X, 8, 8 Plus, AirPods 2 ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z2coHI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z9Cof5"><img src="https://images-na.ssl-images-amazon.com/images/I/61n%2BarvyfuL._SX522_.jpg" alt="HDMI Switch 4K HDMI Splitter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z9Cof5">HDMI Switch 4K HDMI Splitter-Techole Aluminum Bi-Directional HDMI Switcher 2 Input 1 Output, HDMI Switch Splitter..</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z9Cof5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31LbFXS"><img src="https://images-na.ssl-images-amazon.com/images/I/91J2d1xesjL._SX522_.jpg" alt="Vornado 133 Compact Air Circulator Fan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31LbFXS">Vornado 133 Compact Air Circulator Fan</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31LbFXS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="58.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KQqcdT"><img src="https://images-na.ssl-images-amazon.com/images/I/81AugyntpCL._SX425_.jpg" alt="Cordless Hand Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KQqcdT">BISSELL Pet Hair Eraser Lithium Ion Cordless Hand Vacuum, Purple</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$58.39</span><span class="ori_price">$72.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KQqcdT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TJXWO7"><img src="https://images-na.ssl-images-amazon.com/images/I/5112k-ThhsL.jpg" alt="Jabra Speak 510 Wireless Bluetooth Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TJXWO7">Jabra Speak 510 Wireless Bluetooth Speaker for Softphone and Mobile Phone (U.S. Retail Packaging)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TJXWO7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="74.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z3bR85"><img src="https://images-na.ssl-images-amazon.com/images/I/71yQ7RpWI9L._SX679_.jpg" alt="Instant Pot DUO60 6 Qt 7-in-1 Multi-Use Programmable Pressure Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z3bR85">Instant Pot DUO60 6 Qt 7-in-1 Multi-Use Programmable Pressure Cooker, Slow Cooker, Rice Cooker, Steamer, Sauté,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.96</span><span class="ori_price">$99.95</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z3bR85">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZbfYKi"><img src="https://images-na.ssl-images-amazon.com/images/I/71UuJp0wghL._SX679_.jpg" alt="XDesign Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZbfYKi">XDesign Travel Laptop Backpack with USB Charging Port +Anti-Theft Lock [Water Resistant] Slim Durable College School Computer Bookbag for Women, Men, Outdoor Camping&Fits Up to 16-inch Notebook</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZbfYKi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="4.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nfamwb"><img src="https://images-na.ssl-images-amazon.com/images/I/715-0NOsVQL._SX522_.jpg" alt="Rayovac 10 LED Lantern" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nfamwb">Rayovac 10 LED Lantern, Floating Camping Lantern with Battery Included - Perfect for Power Outages, Emergency Situations, Camping, Hiking, Hurricanes</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.92</span><span class="ori_price">$15.49</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nfamwb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="16.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KEyKG3"><img src="https://images-na.ssl-images-amazon.com/images/I/91vo6Z0MBwL._SX522_.jpg" alt="Dell G39J5 Professional Sleeve 15, Heather Gray" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KEyKG3">Dell G39J5 Professional Sleeve 15, Heather Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.83</span><span class="ori_price">$28.90</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KEyKG3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="149.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z0Gv1S"><img src="https://images-na.ssl-images-amazon.com/images/I/81PeH0fzMQL._SY879_.jpg" alt="Ultimate Ears MEGABOOM (2015) Portable Waterproof" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z0Gv1S">Ultimate Ears MEGABOOM (2015) Portable Waterproof & Shockproof Bluetooth Speaker - Deep Radiance</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.97</span><span class="ori_price">$249.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z0Gv1S">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="62.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KPcA2t"><img src="https://images-na.ssl-images-amazon.com/images/I/71IhdMrECYL._SX522_.jpg" alt="Logitech G433 7.1 Wired Gaming Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KPcA2t">Logitech G433 7.1 Wired Gaming Headset with DTS Headphone: X 7.1 Surround for PC, PS4, PS4 PRO, Xbox One, Xbox One S, Nintendo Switch – Royal Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$62.50</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KPcA2t">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z4vfMU"><img src="https://images-na.ssl-images-amazon.com/images/I/61J%2BlNbyHkL._SX522_.jpg" alt="CyberPower CSP600WSU Surge Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z4vfMU">CyberPower CSP600WSU Surge Protector, 1200J/125V, 6-AC Swivel Outlets, 2 USB Charging Ports, Wall Tap Design</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$24.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z4vfMU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zb7keT"><img src="https://images-na.ssl-images-amazon.com/images/I/61mIhhUnqeL._SX679_.jpg" alt="Trekpow G22 1500A Peak Car Jump Starter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zb7keT">Trekpow G22 1500A Peak Car Jump Starter-12V Battery Booster Portable Jumper Box(up to 8.0L Gasoline/6.5L Diesel Engine)...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$Origianl_price</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zb7keT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="339.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YSOM7T"><img src="https://images-na.ssl-images-amazon.com/images/I/71D06sTHKZL._SX522_.jpg" alt="Segway Ninebot Drift W1 Electric Hovershoes" /></a>
    <div class="js-overlay-start start dealtube" data-url= "https://www.youtube.com/embed/f0FuBgd57x4">
      <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
      <button class="text">Play Video</button>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YSOM7T">Segway Ninebot Drift W1 Electric Hovershoes</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$339.00</span><span class="ori_price">$469.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YSOM7T">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="51.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZbTKHW"><img src="https://images-na.ssl-images-amazon.com/images/I/71g6E2ip7oL._SX679_.jpg" alt="Cuisinart DCC-1100BK 12-Cup Programmable Coffeemaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZbTKHW">Cuisinart DCC-1100BK 12-Cup Programmable Coffeemaker, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$51.04</span><span class="ori_price">$130.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZbTKHW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="53.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H89h5u"><img src="https://images-na.ssl-images-amazon.com/images/I/71sMpUjoMXL._SY879_.jpg" alt="August Smart Keypad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H89h5u">August Smart Keypad</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.00</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H89h5u">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="14" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z8rc24"><img src="https://images-na.ssl-images-amazon.com/images/I/81lySo%2BHh6L._SX522AA522_PIbundle-2,TopRight,0,0_AA522_SH20_.jpg" alt="Persil ProClean Liquid Laundry Detergent" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>14% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z8rc24">Persil ProClean Liquid Laundry Detergent, Original, 75 Fluid Ounces, 96 Total Loads (Pack of 2) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$20.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z8rc24">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="46.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KP3DGE"><img src="https://images-na.ssl-images-amazon.com/images/I/81OSkxkGUbL._SX679_.jpg" alt="Hamilton Beach 6 Quart Digital Slow Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KP3DGE">Hamilton Beach 6 Quart Digital Slow Cooker Programmable with Temperature Probe, Temp Tracker Lets You Cook, Braise, Simmer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.92</span><span class="ori_price">$69.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KP3DGE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="998.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33Fc0gi"><img src="https://images-na.ssl-images-amazon.com/images/I/61gUSFMRXiL._SX425_.jpg" alt="VIZIO P-Series Quantum 65” Class (64.5” Diag.) 4K HDR Smart TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33Fc0gi">VIZIO P-Series Quantum 65” Class (64.5” Diag.) 4K HDR Smart TV</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$998.00</span><span class="ori_price">$1,399.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33Fc0gi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="1,199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31NoZuW"><img src="https://images-na.ssl-images-amazon.com/images/I/71uHh-YAnsL._SX522_.jpg" alt="Razer Blade Stealth 13 Ultrabook Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31NoZuW">Razer Blade Stealth 13 Ultrabook Laptop: Intel Core i7-8565U 4-Core, GeForce MX150, 13.3" FHD 1080p, 16GB RAM,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,199.99</span><span class="ori_price">$1,599.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31NoZuW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="92.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z40q06"><img src="https://images-na.ssl-images-amazon.com/images/I/51nl2C5c%2BvL._SX522_.jpg" alt="Lasko AW300 Air Logic Bladeless Heater" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z40q06">Lasko AW300 Air Logic Bladeless Heater</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$92.33</span><span class="ori_price">$199.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z40q06">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z81xMx"><img src="https://images-na.ssl-images-amazon.com/images/I/61lZadslStL._SX522_.jpg" alt="Echo Connect" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z81xMx">Echo Connect – requires compatible Alexa-enabled device and home phone service</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z81xMx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="699.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NaL4iF"><img src="https://images-na.ssl-images-amazon.com/images/I/81FKucZ8bUL._SX679_.jpg" alt="Layla Sleep Copper Infused Memory Foam Queen Mattress" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NaL4iF">Layla Sleep Copper Infused Memory Foam Queen Mattress</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$699.00</span><span class="ori_price">$999.00</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NaL4iF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31OtGof"><img src="https://images-na.ssl-images-amazon.com/images/I/61rIAqcne2L._SX522_.jpg" alt="Transcend 64GB SDXC Class 10 Flash Memory Card" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31OtGof">Transcend 64GB SDXC Class 10 Flash Memory Card Up to 30MB/s (TS64GSDXC10)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$27.33</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31OtGof">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="44.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31IATGf"><img src="https://images-na.ssl-images-amazon.com/images/I/712kBtTDt7L._SY741_.jpg" alt="WD Blue 1TB PC Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31IATGf">WD Blue 1TB PC Hard Drive - 7200 RPM Class, SATA 6 Gb/s, 64 MB Cache, 3.5" - WD10EZEX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.96</span><span class="ori_price">$109.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31IATGf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="34.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TDAFgT"><img src="https://images-na.ssl-images-amazon.com/images/I/71UujfJCrGL._SX522_.jpg" alt="Crucial 8GB Single DDR3/DDR3L 1600 MT/S" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TDAFgT">Crucial 8GB Single DDR3/DDR3L 1600 MT/S (PC3-12800) Unbuffered SODIMM 204-Pin Memory - CT102464BF160B</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.00</span><span class="ori_price">$75.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TDAFgT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="19.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33CmpJM"><img src="https://images-na.ssl-images-amazon.com/images/I/81OZ5-FeDWL._SX679_.jpg" alt="DYMO Label Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33CmpJM">DYMO Label Maker | LabelManager 160 Portable Label Maker, Easy-to-Use, One-Touch Smart Keys, QWERTY Keyboard, Large Display, for Home & Office Organization</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.49</span><span class="ori_price">$40.79</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33CmpJM">Shop Now at Amazon</a></div>
</div>
