<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button>
</div>

<div class="middle_box"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="middle_URL"><img src="<%=asset_path 'Image_Title_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o8kfkG"><img src="https://m.media-amazon.com/images/I/619G7Sj3BNL._SR400,400_.jpg" alt="Aluminum Ventilated Ergonomic Desktop Riser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o8kfkG">CHARMOUNT Laptop Stand Lightweight Aluminum Ventilated Ergonomic Desktop Riser Design Computer Stand for Desk Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50TZOMYV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50TZOMYV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o8kfkG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nl6cbD"><img src="https://m.media-amazon.com/images/I/71OzndVj8XL._SR400,400_.jpg" alt="AIKENDO Running Pouch Belt" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nl6cbD">AIKENDO Running Pouch Belt Waist Pack Bag,Workout Gym Fanny Pack,Bounce Free Jogging Pocket Belt –Travelling Money Cell Phone Holder...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">45RUNNING</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $9.99</strong> with promo code: <strong class="m_codes">45RUNNING</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nl6cbD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="50.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o9jUP2"><img src="https://m.media-amazon.com/images/I/816jn2Wtx8L._SR400,400_.jpg" alt="Automatic Clamping Qi Wireless Charging Dashboard Car Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o9jUP2">iOttie Auto Sense Automatic Clamping Qi Wireless Charging Dashboard Car Mount || for iPhone, Samsung, Moto, Huawei, Nokia, LG, Smartphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$50.96</span><span class="ori_price">$59.95</span></address>
      <textarea readonly="readonly" class="code_area">15AUTOIO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $59.95</strong> with promo code: <strong class="m_codes">15AUTOIO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o9jUP2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oaTg85"><img src="https://m.media-amazon.com/images/I/71Xgo-4TVsL._SR400,400_.jpg" alt="Oprass Storage Basket or Bin" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oaTg85">Oprass Storage Basket or Bin, Collapsible & Convenient Storage Solution for Office, Bedroom, Toys, Laundry...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.80</span><span class="ori_price">$29.66</span></address>
      <textarea readonly="readonly" class="code_area">40F1972S</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.66</strong> with promo code: <strong class="m_codes">40F1972S</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oaTg85">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="27.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o63Kpz"><img src="https://m.media-amazon.com/images/I/61IOIScnc5L._SR400,400_.jpg" alt="2 QT Cast Aluminum Dutch Oven/Pot" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o63Kpz">2 QT Cast Aluminum Dutch Oven/Pot with Non-stick Coating, Red/Orange/White/Blue Cookware（HP200-Red, 2qt）</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.00</span><span class="ori_price">$53.99</span></address>
      <textarea readonly="readonly" class="code_area">50PDPZQB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $53.99</strong> with promo code: <strong class="m_codes">50PDPZQB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o63Kpz">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="75" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nlfcgT"><img src="https://m.media-amazon.com/images/I/71QhT3NUd9L._SR400,400_.jpg" alt="AINOPE Micro USB Cable Charger Android 2 Pack 6FT ..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nlfcgT">AINOPE Micro USB Cable Charger Android 2 Pack 6FT Fabric Braided Cord Fast Charging Compatible with Samsung Galaxy S7, S6,J7 Edge Kindle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">752IDHL5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $15.99</strong> with promo code: <strong class="m_codes">752IDHL5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nlfcgT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nbIkr2"><img src="https://m.media-amazon.com/images/I/611mzoAcIpL._SR400,400_.jpg" alt="AINOPE Neckband Bluetooth Headphones with ANC" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nbIkr2">AINOPE Neckband Bluetooth Headphones with ANC, Ainope Active Noise Cancelling Wireless Earphones with Built-in Magnets,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">8056QW83</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $39.99</strong> with promo code: <strong class="m_codes">8056QW83</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nbIkr2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mx2hYV"><img src="https://m.media-amazon.com/images/I/61Zo8C+XzIL._SR400,400_.jpg" alt="HTOMT Universal Socket" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mx2hYV">HTOMT Universal Socket, 1/4"-3/4" (7mm-19mm) Ratchet Universal Socket Set with Wrench Power Drill Adapter-Best Gifts ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">70AYNNCK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $14.99</strong> with promo code: <strong class="m_codes">70AYNNCK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mx2hYV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oLsROz"><img src="https://m.media-amazon.com/images/I/611smI9vgVL._SR400,400_.jpg" alt="Fitness Tracker, Activity Tracker Smart Heart Rate Monitor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oLsROz">Fitness Tracker, Activity Tracker Smart Heart Rate Monitor SMS&SNS Reminder Pedometer with Sleep Monitor Watch IP67 Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">70PIGLGY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $35.99</strong> with promo code: <strong class="m_codes">70PIGLGY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oLsROz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="34.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nll0Hd"><img src="https://m.media-amazon.com/images/I/51J0FP1isML._SR400,400_.jpg" alt="Camping Tent 3 or 4 Person Lightweight Backpacking..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nll0Hd">Camping Tent 3 or 4 Person Lightweight Backpacking Automatic Instant Pop Up Tents Waterproof Easy Set Up for Outdoor Hiking Picnic ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.40</span><span class="ori_price">$85.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">60YEYWQM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $85.99</strong> with promo code: <strong class="m_codes">60YEYWQM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nll0Hd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2npvsNZ"><img src="https://m.media-amazon.com/images/I/71f+P1oXU6L._SR400,400_.jpg" alt="Trideer Yoga Mat" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2npvsNZ">Trideer Yoga Mat, Premium Print 6mm, Non Slip Exercise & Fitness Mat, Lightweight Anti-Tear All-Purpose Floor Pilates Mat,with Carrying Strap ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">501HZDLC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $27.99</strong> with promo code: <strong class="m_codes">501HZDLC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2npvsNZ">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="40" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o4F3tu"><img src="https://m.media-amazon.com/images/I/510yyYXN5HL._SR400,400_.jpg" alt=">Memory Foam Pillow" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o4F3tu">Memory Foam Pillow Queen Breathable Cooling Hypoallergenic Shredded Memory Foam Bed Pillow with Zipper Removable and Washable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">40R9A6DA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $17.99</strong> with promo code: <strong class="m_codes">40R9A6DA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o4F3tu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ncMoau"><img src="https://m.media-amazon.com/images/I/61KH6Hqn6CL._SR400,400_.jpg" alt="Sound Bar" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ncMoau">Sound Bar, SPARKWAV 2.1 CH TV Sound Bar, Wired and Wireless Home Theater Audio for Cell Phone/Tablet/Projector and Support ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">50RKZFRK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $69.99</strong> with promo code: <strong class="m_codes">50RKZFRK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ncMoau">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oOlYvW"><img src="https://m.media-amazon.com/images/I/71JxblUm11L._SR400,400_.jpg" alt="SameTech Easy Kitchen Tool Stainless Steel Fruit Pineapple Peeler" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oOlYvW">SameTech Easy Kitchen Tool Stainless Steel Fruit Pineapple Peeler Corer Slicer Cutter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$9.98</span></address>
      <textarea readonly="readonly" class="code_area">45YBJ1O4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $9.98</strong> with promo code: <strong class="m_codes">45YBJ1O4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oOlYvW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mB4faK"><img src="https://m.media-amazon.com/images/I/612xwtn9HwL._SR400,400_.jpg" alt="Kingbuy Wall Mount Mail Holder Wood Rustic Key Envelope Organizer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mB4faK">Kingbuy Wall Mount Mail Holder Wood Rustic Key Envelope Organizer with 3 Hooks for Entryway, Mudroom, Office, Kitchen</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.20</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">60999999</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $27.99</strong> with promo code: <strong class="m_codes">60999999</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mB4faK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="4.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o3gE7M"><img src="https://m.media-amazon.com/images/I/71t5CZR1N6L._SR400,400_.jpg" alt="Fanny Pack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o3gE7M">Fanny Pack for Men Women with Headphone Jack and 3-Zipper Pockets Adjustable Waist Pack Bags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.78</span><span class="ori_price">$7.97</span></address>
      <textarea readonly="readonly" class="code_area">40MAXTOPBAG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $7.97</strong> with promo code: <strong class="m_codes">40MAXTOPBAG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o3gE7M">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oUz7Ux"><img src="https://m.media-amazon.com/images/I/51+oznsCDiL._SR400,400_.jpg" alt="Artcome 60 Ounces Glass Iced Tea Pitcher" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oUz7Ux">Artcome 60 Ounces Glass Iced Tea Pitcher with Stainless Steel Strainer Lid, Hot/Cold Water Jug, Juice Beverage Carafe</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.96</span><span class="ori_price">$17.69</span></address>
      <textarea readonly="readonly" class="code_area">55Z9CWKE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $17.69</strong> with promo code: <strong class="m_codes">55Z9CWKE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oUz7Ux">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="39.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oaOoQk"><img src="https://m.media-amazon.com/images/I/61O3C-5ZY6L._SR400,400_.jpg" alt="ENSTER Video Baby Monitor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oaOoQk">ENSTER Video Baby Monitor with Digital Camera, Two-Way Audio, 3.5-Inch Screen, VOX, 660ft Transmission Range, Room Temperature,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.89</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">437QPQPU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>43% off at $69.99</strong> with promo code: <strong class="m_codes">437QPQPU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oaOoQk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="160.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nkTOIw"><img src="https://m.media-amazon.com/images/I/61URsJk9J7L._SR400,400_.jpg" alt="Crenova Video Projector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nkTOIw">Crenova Video Projector, 5000 Lux Home Movie Projector(550 ANSI), 200'' Display HD LED Projector 1080P Supported,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$160.99</span><span class="ori_price">$229.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">30AWL8SV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $229.99</strong> with promo code: <strong class="m_codes">30AWL8SV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nkTOIw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nlzVkH"><img src="https://m.media-amazon.com/images/I/71ioaQlWaRL._SR400,400_.jpg" alt="OUTXE Aluminum Carabiner 8 Pcs" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nlzVkH">OUTXE Aluminum Carabiner 8 Pcs</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span> + 25% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 25% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30XXM1CB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $12.99</strong> with promo code: <strong class="m_codes">30XXM1CB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nlzVkH">Use Code at Amazon</a></div>
</div>
