<div class="toggle">
  <ul>
    <li>
      <a href="#n">Notes</a>
      <ul>
        <li>Deals & pricing may change or expire at anytime.</li>
        <li>Some of promotion codes can expire fast.</li>
        <li>Average rating and Reviews may change after promo codes updated date.</li>
        <li>Free Shipping: Prime or $25+ of all other eligible items.<a target="_blank" href="/blogs/blog_01_amz_prime">(What's PRIME?)</a></li>
        <li>We have just made your life easier. We offer a quick way to find the best deals. You'll find what you're looking for at a great price.</li>
        <li>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</li>
        <li>Oh,igottabuythis is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com, Amazon.ca, Amazon.co.uk and affiliated sites.</li>
      </ul>
    </li>
    <li>
      <a href="#n">How to use</a>
      <ul>
        <li>Copy "Promotional Code"</li>
        <li>Click "Use Code"</li>
        <li>Click "Buy Now or Add to Cart"</li>
        <li>Enter your promotional code into the box of "Gift cards & promotional codes"</li>
        <!-- <li>Proceed with payment then the code is automatically applied.</li> -->
        <li class="about_db_dis">
          <!-- <p>What the "Extra Discount" is?</p> -->
          <span class="double red">Extra Discount</span>
          <em>You can get extra discount by applying promotional code to the product that is being discounting.</em>
          <span class="double green">Coupon Deals</span>
          <em>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</em>
        </li>
      </ul>
    </li>
    <li>
      <a href="#n">Why is my code not working?</a>
      <ul>
        <li>Check to make sure the promo code isn’t expired and that you’ve entered it correctly.</li>
        <li>Make sure the promo code is available in your country and the item you’ve selected is included in the offer.</li>
      </ul>
    </li>
  </ul>
</div><!--./toggle-->

<div class="most_h_wrap clearfix">
  <p class="most_h_tit">Most Popular Codes</p>
  <% @most_promocodes.each_with_index do |promo_h, i| %>
    <div class="most_hotdeal clearfix">
      <div class="image">
        <% if promo_h.p_image.present? %>
          <div class="image_box">
            <%= link_to image_tag(promo_h.p_image), promo_h %>
            <div class="numbering"><%= i+1 %></div>
          </div>
        <% else %>
          <div class="image_box">
            <%= link_to (image_tag promo_h.pimage.url(:small), alt: promo_h.p_title, title: promocode.p_image_title), promo_h %>
            <div class="numbering"><%= i+1 %></div>
          </div>
        <% end %>
      </div>
      <div class="inner">
        <p><%= link_to promo_h.p_title, promo_h %></p>
        <% running_total = 0 %>
        <% running_total =  promo_h.p_spare_26 - (promo_h.p_spare_27 / 100) * promo_h.p_spare_26 %>
        <em><span class="span_01"><%= number_to_currency(promo_h.p_spare_26) %></span><%= number_to_currency(running_total) %></em>
        <% if promo_h.p_end_date.present? %>
          <% if promo_h.p_spare_50 && (promo_h.p_spare_50 < DateTime.now) %>
          <% promo_h.p_spare_50 %>
           <p class="expired">EXPIRED.</p>
          <% else %>
            <% if promo_h.p_spare_51 && (promo_h.p_spare_51 <= DateTime.now) %>
            <% promo_h.p_spare_51 %>
              <p class="endtoday">Expire Today.</p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      
    </div>
  <% end %>
  <p class="bottom_line"><a href="/promocodes">CHECK MORE CODES</a></p>
</div>

