<% content_for :title, "The best deals on Amazon" %>
<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout"><!--layout-->
  <div class="wrap">  
  <%= render 'shared/header' %>
  <%= render 'deals/header' %>    
  
  <div class="codes common_layout">
    
      <div class="lt_cnt note_pc">
        <h2>Daily Deals of Amazon</h2>
        <%= render 'deals/notes_bestdeals' %>
      </div><!--./lt_cnt-->
      
      <div class="rt_cnt">
        <h2>Daily Deals | Hand-Pick On Amazon Sep. 26. 2019.</h2>
        
        <div class="sort_box clearfix">
          <!-- <div class="deals_des">We pick the best deals from all categories of Amazon!! We just hope you like it :D</div> -->
          <ul>
            <li><a href="/deals/bestdeals" class="pure-button">All Deals</a></li>
            <li><a href="#" class="pure-button sort1">Price High</a></li>
            <li><a href="#" class="pure-button sort2">Price Low</a></li>
            <li><a href="#" class="pure-button sort3">Sale High</a></li>
            <li><a href="#" class="pure-button sort4">Sale Low</a></li>
          </ul>
        </div>
        
        <div class="card_wrap sort-list">
          <%= render 'shared/amz_search' %>
          <%= render 'deals_days/note_wadiz' %>
          <%= render 'deals/body_bestdeals' %>
        </div>

        <!-- Note for mobile -->
        <div class="lt_cnt note_mobile">
          <h2>Daily Deals of Amazon</h2>
          <%= render 'deals/notes_bestdeals' %>
        </div>
        <!-- End -->

        <p class="updating">We are still updating the best deals... :D <a href="/deals_days/day_01">GO TO THE BEST DEALS OF YESTERDAY</a></h2>
        
        
      </div><!--./rt_cnt-->    

    
    </div><!--./codes-->
  </div><!--./warp-->
</div><!--./layout-->
<script><%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %></script>