<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout"><!--layout-->
  <div class="wrap">  
  <%= render 'shared/header_short' %>

  <div class="deals_main_menu clearfix">
    <ul>
      <li class="nth_1"><a href="">Amazon's Bargain <!-- <span>|</span> --> </a></li>
      <!-- <li class="nth_2"><a href="">Discover more deals</a></li> -->
    </ul>    
  </div>

  <%= render 'deals/header' %>    
  <div class="codes common_layout">

      <div class="lt_cnt note_pc">
        <h2>Daily Deals of Amazon</h2>
        <%= render 'deals/notes_bestdeals' %>
      </div><!--./lt_cnt-->
      
      <div class="rt_cnt">
        <h2>Take a good items you love at the best price.<% if can? :update, @hotdeals %><div class="hotdeals_new"><%= link_to 'New Hotdeal', new_hotdeal_path %></div><% end %></h2>
        <%= render 'deals_days/note_wadiz' %>
        <%= render 'shared/amz_search' %>
        
        <!-- <div class="sort_box clearfix">
          <ul>
            <li><a href="/deals/bestdeals" class="pure-button">All Deals</a></li>
            <li><a href="#" class="pure-button sort1">Price High</a></li>
            <li><a href="#" class="pure-button sort2">Price Low</a></li>
            <li><a href="#" class="pure-button sort3">Sale High</a></li>
            <li><a href="#" class="pure-button sort4">Sale Low</a></li>
          </ul>
        </div> -->
        
        <div class="card_wrap sort-list">
          <div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Deal finder on Amazon" /></a></div>
          <div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Deal finder on Amazon" /></a></div>
          <p class="updating updating_m"><a href="/promocodes">GO TO DISCOVER THE BEST DEALS MORE</a></h2>
          <%= render 'deals/body_hotdeals' %>
          <%= render 'deals/body_bestdeals' %>
        </div>

        <!-- Note for mobile -->
        <p class="updating updating_m"><a href="/promocodes">GO TO DISCOVER THE BEST DEALS MORE</a></h2>
        <div class="lt_cnt note_mobile">
          <h2>Daily Deals of Amazon</h2>
          <%= render 'deals/notes_bestdeals' %>
        </div>
        <!-- End -->

        <p class="updating"><a href="/hotdeals">GO TO DISCOVER THE BEST DEALS MORE</a></h2>
        
        
      </div><!--./rt_cnt-->    

    
    </div><!--./codes-->
  </div><!--./warp-->
</div><!--./layout-->
<script><%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %></script>