<div class="layout"><!--layout-->
 <div class="wrap">   
  <%= render 'shared/header' %>
  <%= render 'deals/header' %>
  
  <div class="promotions editors_pick common_layout most_wrapper clearfix">
    <%= render 'deals/nav_bestdeals2' %>
    <div class="nav_most_m"><%= render 'deals/nav_bestdeals2_m' %></div>
    <div class="filter-group guide_wrap ">
      <div class="mt_info">
        <h2>The Best Deals On Amazon</h2> 
        <p>Check out the latest Amazon deals featuring hand-picked deals with low prices on top products updated daily</p>
      </div>
      
      <%= render 'deals/body_bestdeas2' %>
      
    </div><!--./filter-group-->
  </div>

 </div><!--./wrap-->
</div><!--./layout-->