<div class="layout"><!--layout-->
  <div class="wrap">

    <!-- <div class="category_mobile">
      <a href="/deals/quicksearch"><img class="quick_img" src="<%=asset_path 'in_find.png' %>"></a>
      <a href="/hotdeals"><img class="quick_img" src="<%=asset_path 'in_deal.png' %>"></a>
      <a href="/promocodes"><img class="quick_img" src="<%=asset_path 'in_coupon.png' %>"></a>
      <a href="/storepromotions"><img class="quick_img" src="<%=asset_path 'in_featured.png' %>"></a>
      <a href="/deals/mostreviewed"><img class="quick_img" src="<%=asset_path 'in_rating.png' %>"></a>
      <a href="/gadgets"><img class="quick_img" src="<%=asset_path 'in_gadget.png' %>"></a>
      <a href="/recommends"><img class="quick_img" src="<%=asset_path 'in_pick.png' %>"></a>
    </div> -->

    <% @bargains.each do |bargain| %>
      <div class="insta-category-box clearfix">
        <div class="image-box">
          <%= link_to image_tag(bargain.bar_image, alt: bargain.bar_title, title: bargain.bar_detail), bargain %>
        </div>
        <div class="inner">
          <p><%= link_to bargain.bar_title, bargain %></p>
          <span><%= link_to bargain.bar_detail, bargain %></span>
        </div>

      </div>
    <% end %>


  </div>
</div><!--./layout-->



