<div class="layout"><!--layout-->
  <div class="wrap">
    
    <!-- <div class="deal_category_wrap">
      <div class="category_body clearfix">
        <div class="left">
          <ul>
            <li><a href="/deals/quick_search"># Amazon Deal Finder</a></li>
            <li><a href="/hotdeals"># Today's Deals of Amazon</a></li>
            <li><a href="/promocodes"># Today's Codes of Amazon</a></li>
            <li><a href="/storepromotions"># Today's Deals by Store</a></li>
          </ul>
        </div>        
      </div>
    </div> -->
    
    <div class="category_mobile">
      <a href="/deals/quick_search"><img class="quick_img" src="<%=asset_path 'in_find.png' %>"></a>
      <a href="/hotdeals"><img class="quick_img" src="<%=asset_path 'in_deal.png' %>"></a>
      <a href="/promocodes"><img class="quick_img" src="<%=asset_path 'in_coupon.png' %>"></a>
      <a href="/storepromotions"><img class="quick_img" src="<%=asset_path 'in_featured.png' %>"></a>
      <a href="/deals/most_reviewed"><img class="quick_img" src="<%=asset_path 'in_rating.png' %>"></a>
      <a href="/gadgets"><img class="quick_img" src="<%=asset_path 'in_gadget.png' %>"></a>
      <a href="/recommends"><img class="quick_img" src="<%=asset_path 'in_pick.png' %>"></a>
    </div>


  </div>
</div><!--./layout-->



