<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout">
  <div class="wrap">

    <%= render 'shared/header' %>
    <%= render 'deals/header' %>    

    <div class="codes common_layout">
      <div class="lt_cnt note_pc">
       <h2>Promotion Codes</h2>
       <%= render 'deals/notes_promocode' %>
      </div><!--./lt_cnt-->
      
      <div class="rt_cnt">
        <h2>Promotion Codes | Hand-Pick On Amazon Oct. 05. 2019.</h2>
        <div class="sort_box clearfix">
          <ul>
            <li><a href="/deals/promo_codes" class="pure-button">All Codes</a></li>
            <li><a href="#" class="pure-button sort1">Price High</a></li>
            <li><a href="#" class="pure-button sort2">Price Low</a></li>
            <li><a href="#" class="pure-button sort3">Sale High</a></li>
            <li><a href="#" class="pure-button sort4">Sale Low</a></li>
          </ul>
        </div>
        
        <div class="card_wrap sort-list">
          <%= render 'shared/amz_search' %>
          <%= render 'promocodes_days/note_wadiz' %>
          <%= render 'deals/body_promocode' %>
        </div>

        <!-- Note for Mobile -->
        <div class="lt_cnt note_mobile">
          <h2>Promo Codes of Amazon</h2>
         <%= render 'deals/notes_promocode' %>
        </div>
        <!-- End -->

        <p class="updating">Promotional codes are still updating... :D <a href="/promocodes_days/day_07">GO TO PROMO CODES OF YESTERDAY</a></h2>
        
      </div><!--./rt_cnt-->  

    </div><!--./codes-->
  </div>
</div>
<script><%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %></script>