<%= render 'shared/play_video' %><!-- for play youtube video-->

<div class="layout">
  <div class="wrap">

    <%= render 'shared/header_short' %>
    <div class="deals_main_menu clearfix">
      <ul>
        <li class="nth_1"><a href="">Amazon's Bargain <!-- <span>|</span> --> </a></li>
        <!-- <li class="nth_2"><a href="">Discover more deals</a></li> -->
      </ul>    
    </div>
    <%= render 'deals/header' %>    

    <div class="codes common_layout">
      <div class="lt_cnt note_pc">
       <h2>Promotion Codes</h2>
       <%= render 'deals/notes_promocode' %>
      </div><!--./lt_cnt-->
      
      <div class="rt_cnt">
        <h2>Promotion Codes | Hand-Pick On Amazon Oct. 18. 2019.<% if can? :update, @promocodes %><div class="hotdeals_new"><%= link_to 'New Code', new_promocode_path %></div><% end %></h2>
        <%= render 'promocodes_days/note_wadiz' %>
        <%= render 'shared/amz_search' %>
        <div class="sort_box clearfix">
          <ul>
            <li><a href="/deals/promo_codes" class="pure-button">All Codes</a></li>
            <li><a href="#" class="pure-button sort1">Price High</a></li>
            <li><a href="#" class="pure-button sort2">Price Low</a></li>
            <li><a href="#" class="pure-button sort3">Sale High</a></li>
            <li><a href="#" class="pure-button sort4">Sale Low</a></li>
          </ul>
        </div>
        
        <div class="card_wrap sort-list">
          
        <div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
        <div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
          <%= render 'deals/body_promocodes' %>
          <%= render 'deals/body_promocode' %>
        </div>

        <!-- Note for Mobile -->
        <div class="lt_cnt note_mobile">
          <h2>Promo Codes of Amazon</h2>
         <%= render 'deals/notes_promocode' %>
        </div>
        <!-- End -->

        <p class="updating"><a href="/promocodes_days/day_06">GO TO PROMO CODES OF YESTERDAY</a></h2>
        
      </div><!--./rt_cnt-->  

    </div><!--./codes-->
  </div>
</div>
<script><%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %></script>