<div class="layout"><!--layout-->
  <div class="wrap"> 
  <%= render 'shared/header_amazon' %>
  <%= render 'deals/header_index' %> 
  <%= render 'shared/botton_amz' %>

    <div class="quicksearch common_layout codes">

        <div class="set_search clearfix">
          <%= render 'deals/set_search' %>
        </div>

        <div class="lt_cnt">
          <h2 class="quick_h2">Quick Search</h2>
          <img class="quick_img" src="<%=asset_path 'quick_search.png' %>" alt="Amazon Quick Deal Finder">
          <div class="note qs_pc">
            <ul>
              <li>Amazon offers thousands of great deals, but finding the best deal through endless pages might make you crazy. It offers a quick way to find the best deals on Amazon.</li>
              <li>We have just made your life easier. We offer a quick way to find the best deals. You'll find what you're looking for at a great price.</li>
              <li>Oh,igottabuythis is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com, Amazon.ca, Amazon.co.uk and affiliated sites.</li>
              <li>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</li>
            </ul>
          </div>
        </div>
        <div class="rt_cnt">
          <h2>Simple Deal Finder on Amazon</h2>
          <h2 class="for_m">Simple Deal Finder on Amazon</h2>
          
          <!-- <%= render 'shared/amz_search' %> -->
           
          <table class="tg">
             <%= render 'deals/set_pct' %>
          </table>


          <div class="set_banner set_b_m">
            <%= render 'deals/set_promotion' %>
          </div>
        </div><!--./rt_cnt-->
        <div class="lt_cnt">
           <div class="toggle qs_mobile">
              <ul>
                <li>
                  <a href="#n">NOTES</a>
                  <ul>
                    <li>Amazon offers thousands of great deals, but finding the best deal through endless pages might make you crazy. It offers a quick way to find the best deals on Amazon.</li>
                    <li>We have just made your life easier. We offer a quick way to find the best deals. You'll find what you're looking for at a great price.</li>
                    <li>Oh,igottabuythis is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com, Amazon.ca, Amazon.co.uk and affiliated sites.</li>
                    <li>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</li>
                  </ul>
                </li>
              </ul>
            </div><!--./toggle-->
        </div>
      </div><!--./quicksearch-->
    </div><!--./wrap-->
  </div><!--./layout-->
  <script><%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %></script>



