<div class="layout"><!--layout-->
  <div class="wrap">
    
  <%= render 'shared/header' %>
  <%= render 'deals/header_shoes' %>  

  <div class="men_women">
    <ul>
      <li><a href="/deals/sneakers01M">Men</a></li>
      <li><a href="/deals/sneakers01W">Women</a></li>
    </ul>
  </div>   

  <div class="shoes">

     <div class="guide_show shoes_wrap clearfix">

      <div class="flex guide_show_wrap" id="gallery">
       <!--  <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
        </div> -->

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(1)">
            <img src="https://img.shopstyle-cdn.com/pim/ec/11/ec112120c1cf4923fafe3eef4e5b3bfa_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(2)">
            <img src="https://img.shopstyle-cdn.com/pim/1d/4e/1d4e52e83edec25da18482d52436bdae_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(3)">
            <img src="https://img.shopstyle-cdn.com/pim/55/9c/559c2c95171c9bf514f61838fb5dc074_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(4)">
            <img src="https://img.shopstyle-cdn.com/pim/6c/6c/6c6cf340812fdca413815cfbe65643f7_best.jpg">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(5)">
            <img src="https://img.shopstyle-cdn.com/pim/33/e7/33e7f69186e7cfc1753ef42156ead50f_best.jpg">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(6)">
            <img src="https://img.shopstyle-cdn.com/pim/80/72/80727fa43f857a910fa97c23afee14cc_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(7)">
            <img src="https://img.shopstyle-cdn.com/pim/17/4d/174df379785d81be0405ab844f746da1_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(8)">
            <img src="https://img.shopstyle-cdn.com/pim/e9/6d/e96d4c4225fa2e7bac22b414fad5e897_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(9)">
            <img src="https://img.shopstyle-cdn.com/pim/a2/fd/a2fd6d25bfc2a67c6ab151f05c246498_best.jpg">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(10)">
            <img src="https://img.shopstyle-cdn.com/pim/c3/85/c3851eac3086668d550408a6074405c1_best.jpg">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(11)">
            <img src="https://img.shopstyle-cdn.com/pim/8c/51/8c513bfff00bab1887af7fab8a6cff08_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(12)">
            <img src="https://img.shopstyle-cdn.com/pim/ad/e0/ade0958091eeae22ec3aba72dab75cb1_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(13)">
            <img src="https://img.shopstyle-cdn.com/pim/a6/a4/a6a49ea3c7a1db5a77f6511124fd69eb_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(14)">
            <img src="https://img.shopstyle-cdn.com/pim/4b/46/4b460cc2420c12509f0323ecde1c38ce_best.jpg">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(15)">
            <img src="https://img.shopstyle-cdn.com/pim/67/c3/67c3259bd5356b672876145c90ee0e2c_best.jpg">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(16)">
            <img src="https://img.shopstyle-cdn.com/pim/78/83/78839a9a6d99f323733c5acef51c0598_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(17)">
            <img src="https://img.shopstyle-cdn.com/pim/3b/1f/3b1fd955433187c3b68a83cbbb654ce5_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(18)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(19)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(20)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(21)">
            <img src="https://img.shopstyle-cdn.com/pim/67/25/67251e0616e651e4dd18054a1f163472_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(22)">
            <img src="https://img.shopstyle-cdn.com/pim/c8/06/c806e52b5bf43d9b2ed0e1cf1c6f76ec_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(23)">
            <img src="https://img.shopstyle-cdn.com/pim/ef/43/ef43fe25854d4c4a88fa1a37de51cee2_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(24)">
            <img src="https://img.shopstyle-cdn.com/pim/f9/c9/f9c943f7deb094b316996675e7179c16_best.jpg">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(25)">
            <img src="https://img.shopstyle-cdn.com/pim/ad/86/ad86bc000bdcccb17601c589a6ab2421_best.jpg">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(26)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(27)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(28)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(29)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(30)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(31)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(32)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(33)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(34)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(35)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(36)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(37)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(38)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(39)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(40)">
            <img src="Image_URL">
          </div>
        </div>

      </div><!--./show_wrap-->

        <div id="myModal" class="modal">
          <div class="wrap">
           <div class="modal-content">
            <span class="close shoes_close">&times;</span> <!--close button--> 

            <!-- <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">Current_Num / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="Shoes_Link"><img src="Image_Link" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="Shop_Link">SHoes_Title</a></h2>
                 <strong>BY Source</strong>
                 <em>$Reg_Price.00</em><p class="price">$Dis_Pricec.00 ( Percentage% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available_Colors</p>
                 <p class="size">Available_Sizes</p>
                 <div class="btn"><a target="_blank" href="Shoes_Link">Check it Out on<span>Source</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div> -->

            <!-- <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div> -->

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">1 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X4dQYq"><img src="https://img.shopstyle-cdn.com/pim/ec/11/ec112120c1cf4923fafe3eef4e5b3bfa_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WTY">Nike Black and Purple Air Max 95 PRM Sneakers</a></h2>
                 <strong><!-- <a target="_blank" href="shopstyle_Link"> -->BY SSENSE<!-- </a> --></strong>
                 <em>$220.00</em><p class="price">$125.00 ( 43% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 021 Blk/Fuc</p>
                 <p class="size">Available Sizes: 42.5 , 40 , 40.5 , 41.5 , 42</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X4dQYq">Check it Out on<span>SSENSE</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">2 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X4rFX2"><img src="https://img.shopstyle-cdn.com/pim/1d/4e/1d4e52e83edec25da18482d52436bdae_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WTR">Nike Black Air Max 97 Sneakers</a></h2>
                 <strong>BY SSENSE</strong>
                 <em>$161.00</em><p class="price">$230.00 ( 30% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 001 BLK/WHT</p>
                 <p class="size">Available Sizes: 42 , 41.5 , 41 , 40 , 44 , 42.5</p>
                 <!-- <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div> -->
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X4rFX2">Check it Out on<span>SSENSE</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">3 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X0FfdN"><img src="https://img.shopstyle-cdn.com/pim/55/9c/559c2c95171c9bf514f61838fb5dc074_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://bit.ly/2X0FfdN">Nike Black Air Force 1 High 07 Sneakers</a></h2>
                 <strong>BY SSENSE</strong>
                 <em>$82.00</em><p class="price">$120.00 ( 32% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 001 BLK/BLK</p>
                 <p class="size">Available Sizes: 46</p>
                 <!-- <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div> -->
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X0FfdN">Check it Out on<span>SSENSE</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">4 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X24Ez0"><img src="https://img.shopstyle-cdn.com/pim/6c/6c/6c6cf340812fdca413815cfbe65643f7_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WTL">Nike Air Max 95 sneakers</a></h2>
                 <strong>BY farfetch</strong>
                 <em>$162.00 </em><p class="price">$203.00 ( 20% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Black</p>
                 <p class="size">Available Sizes: 11.5 , 12 , 7 , 7.5 , 8 , 9 , 9.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X24Ez0">Check it Out on<span>farfetch</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">5 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/31QJdoo"><img src="https://img.shopstyle-cdn.com/pim/33/e7/33e7f69186e7cfc1753ef42156ead50f_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WTH">Nike Air Max Deluxe SE sneakers</a></h2>
                 <strong>BY AMAZON</strong>
                 <em>$180.00–216.00</em><p class="price">$115.00–151.00 ( 30~36% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: White</p>
                 <p class="size">Available Sizes: 10 , 10.5 , 11 , 11.5 , 12 , 13 , 6.5 , 7 , 7.5 , 8 , 8.5 , 9 , 9.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/31QJdoo">Check it Out on<span>FARFETCH</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">6 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2J6IIOc"><img src="https://img.shopstyle-cdn.com/pim/80/72/80727fa43f857a910fa97c23afee14cc_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WMd">Nike Black Air Presto Utility Sneakers</a></h2>
                 <strong>BY ssense</strong>
                 <em>$200.00</em><p class="price">$126.00 ( 37% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 006BLKDKGRY</p>
                 <p class="size">Available Sizes: 41</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2J6IIOc">Check it Out on<span>ssense</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">7 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/31R6JBn"><img src="https://img.shopstyle-cdn.com/pim/17/4d/174df379785d81be0405ab844f746da1_best.jpg " alt="Nike ACG Yellow ACG Okwahn II Sneakers"/></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WME">Nike ACG Yellow ACG Okwahn II Sneakers</a></h2>
                 <strong>BY ssense</strong>
                 <em>$165.00</em><p class="price">$66.00 ( 60% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 301 CITRON</p>
                 <p class="size">Available Sizes: 42.5 , 42 , 43 , 43.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/31R6JBn">Check it Out on<span>ssense</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">8 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2J1Ps00"><img src="https://img.shopstyle-cdn.com/pim/e9/6d/e96d4c4225fa2e7bac22b414fad5e897_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WMP">Nike Purple Air Max Deluxe Sneakers</a></h2>
                 <strong>BY ssense</strong>
                 <em>$230.00</em><p class="price">$127.00 ( 45% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 004 BLK/LSF</p>
                 <p class="size">Available Sizes: 43.5 , 43 , 42 , 42.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2J1Ps00">Check it Out on<span>ssense</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">9 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2J0ALds"><img src="https://img.shopstyle-cdn.com/pim/a2/fd/a2fd6d25bfc2a67c6ab151f05c246498_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WM8">Nike Air Span II sneakers</a></h2>
                 <strong>BY farfetch</strong>
                 <em>$107.00</em><p class="price">$64.00 ( 40% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Yellow</p>
                 <p class="size">Available Sizes: 10 , 10.5 , 11.5 , 12 , 8 , 8.5 , 9 , 9.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2J0ALds">Check it Out on<span>farfetch</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">10 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/31TTFeS"><img src="https://img.shopstyle-cdn.com/pim/c3/85/c3851eac3086668d550408a6074405c1_best.jpg" alt="Nike White and Blue Max2 Light Sneakers" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WPa">Nike White and Blue Max2 Light Sneakers</a></h2>
                 <strong>BY ssense</strong>
                 <em>$175.00</em><p class="price">$98.00 ( 44% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 100 WHT/BLU</p>
                 <p class="size">Available Sizes: 43 , 42.5 , 43.5 , 42 , 44.5 , 44</p>                 
                 <div class="btn"><a target="_blank" href="https://bit.ly/31TTFeS">Check it Out on<span>ssense</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">11 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/31TuLvy"><img src="https://img.shopstyle-cdn.com/pim/8c/51/8c513bfff00bab1887af7fab8a6cff08_best.jpg" alt="Nike Black Air Force 270 Sneakers" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WR3">Nike Black Air Force 270 Sneakers</a></h2>
                 <strong>BY ssense</strong>
                 <em>$215.00</em><p class="price">$138.00 ( 36% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 010 BLACK</p>
                 <p class="size">Available Sizes: 41 , 43 , 44 , 42</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/31TuLvy">Check it Out on<span>ssense</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">12 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2J1ru51"><img src="https://img.shopstyle-cdn.com/pim/ad/e0/ade0958091eeae22ec3aba72dab75cb1_best.jpg" alt="Nike Shox R4 trainers" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="Shop_Link">Nike Shox R4 trainers</a></h2>
                 <strong>BY farfetch</strong>
                 <em>$135.00–249.00</em><p class="price">$106.00–143.00 ( 21-42% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: White</p>
                 <p class="size">Available Sizes: 10 , 10.5 , 11 , 12 , 6.5 , 7 , 7.5 , 8 , 8.5 , 9 , 9.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2J1ru51">Check it Out on<span>farfetch</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">13 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X8lCAU"><img src="https://img.shopstyle-cdn.com/pim/a6/a4/a6a49ea3c7a1db5a77f6511124fd69eb_best.jpg" alt="Nike Air Skylon 2 Court sneakers" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WNI">Nike Air Skylon 2 Court sneakers</a></h2>
                 <strong>BY farfetch</strong>
                 <em>$107.00</em><p class="price">$64.00–101.00 ( 5-40% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Blue</p>
                 <p class="size">Available Sizes: 10 , 10.5 , 11 , 11.5 , 7.5 , 8 , 8.5 , 9.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X8lCAU">Check it Out on<span>farfetch</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">14 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2WZCnJA"><img src="https://img.shopstyle-cdn.com/pim/4b/46/4b460cc2420c12509f0323ecde1c38ce_best.jpg" alt="Nike Air Max Deluxe SE sneakers" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WPQ">Nike Air Max Deluxe SE sneakers</a></h2>
                 <strong>BY farfetch</strong>
                 <em>$180.00–203.00</em><p class="price">$126.00–143.00 ( 30% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Black</p>
                 <p class="size">Available Sizes: 6.5 , 7 , 7.5 , 8 , 8.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2WZCnJA">Check it Out on<span>farfetch</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">15 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/31Tux7G"><img src="https://img.shopstyle-cdn.com/pim/67/c3/67c3259bd5356b672876145c90ee0e2c_best.jpg" alt="Air Footscape Woven Nm Sneakers" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4WP2">Air Footscape Woven Nm Sneakers</a></h2>
                 <strong>BY luisaviaroma</strong>
                 <em>$214.00</em><p class="price">$149.00 ( 30% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Light Grey</p>
                 <p class="size">Available Sizes: 7.5 , 9 , 9.5 , 10.5 , 11 , 11.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/31Tux7G">Check it Out on<span>luisaviaroma</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">16 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X0evp3"><img src="https://img.shopstyle-cdn.com/pim/78/83/78839a9a6d99f323733c5acef51c0598_best.jpg" alt="NIKE Sneakers" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4X87">NIKE Sneakers</a></h2>
                 <strong>BY yoox</strong>
                 <em>$121.00</em><p class="price">$43.00 ( 64% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Military green</p>
                 <p class="size">Available Sizes: 7.5 , 8</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X0evp3">Check it Out on<span>yoox.com</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">17 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2J4OqQQ"><img src="https://img.shopstyle-cdn.com/pim/3b/1f/3b1fd955433187c3b68a83cbbb654ce5_best.jpg" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4Ycv">Air Force 1 Low Retro Canvas Sneaker in Black</a></h2>
                 <strong>BY needsupply</strong>
                 <em>$130.00</em><p class="price">$64.99 ( 50% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Black/Black-Summit White</p>
                 <p class="size">Available Sizes: 11.5 , 6 , 6.5</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2J4OqQQ">Check it Out on<span>needsupply.com</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">18 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="Shoes_Link"><img src="Image_Link" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="Shop_Link">SHoes_Title</a></h2>
                 <strong>BY Source</strong>
                 <em>$Reg_Price</em><p class="price">$Dis_Pricec ( Percentage% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available_Colors</p>
                 <p class="size">Available_Sizes</p>
                 <div class="btn"><a target="_blank" href="Shoes_Link">Check it Out on<span>Source</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">19 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="Shoes_Link"><img src="Image_Link" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="Shop_Link">SHoes_Title</a></h2>
                 <strong>BY Source</strong>
                 <em>$Reg_Price</em><p class="price">$Dis_Pricec ( Percentage% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available_Colors</p>
                 <p class="size">Available_Sizes</p>
                 <div class="btn"><a target="_blank" href="Shoes_Link">Check it Out on<span>Source</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">20 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="Shoes_Link"><img src="Image_Link" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="Shop_Link">SHoes_Title</a></h2>
                 <strong>BY Source</strong>
                 <em>$Reg_Price</em><p class="price">$Dis_Pricec ( Percentage% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available_Colors</p>
                 <p class="size">Available_Sizes</p>
                 <div class="btn"><a target="_blank" href="Shoes_Link">Check it Out on<span>Source</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">21 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/31Oa0Bv"><img src="https://img.shopstyle-cdn.com/pim/67/25/67251e0616e651e4dd18054a1f163472_best.jpg" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4YdL">Nike Court Borough Low Premium</a></h2>
                 <strong>BY 6pm</strong>
                 <em>$75.00</em><p class="price">$33.49 ( 55% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Black</p>
                 <p class="size">Available Sizes: 6 D - Medium</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/31Oa0Bv">Check it Out on<span>6pm.com</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">22 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2WYppf3"><img src="https://img.shopstyle-cdn.com/pim/c8/06/c806e52b5bf43d9b2ed0e1cf1c6f76ec_best.jpg" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4Yfh">Nike Tanjun Racer</a></h2>
                 <strong>BY 6pm</strong>
                 <em>$42.99</em><p class="price">$70.00 ( 39% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: White , Blue</p>
                 <p class="size">Available Sizes: 11.5 D - Medium , 14 D - Medium , 15 D - Medium , 10 D - Medium , 10.5 D - Medium , 11 D - Medium</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2WYppf3">Check it Out on<span>6pm.com</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">23 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X4FoNA"><img src="https://img.shopstyle-cdn.com/pim/ef/43/ef43fe25854d4c4a88fa1a37de51cee2_best.jpg" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4Yhz">Nike Lunar Apparent</a></h2>
                 <strong>BY 6pm</strong>
                 <em>$85.00</em><p class="price">$42.50 ( 50% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Gray , Black , Blue</p>
                 <p class="size">Available Sizes: 6 D - Medium , 6.5 D - Medium , 7 D - Medium , 10 D - Medium , 10.5 D - Medium , 11 D - Medium , 11.5 D - Medium , 12.5 D - Medium , 13 D - Medium , 14 D - Medium , 12 D - Medium , 15 D - Medium</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X4FoNA">Check it Out on<span>6pm.com</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">24 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X08sB1"><img src="https://img.shopstyle-cdn.com/pim/f9/c9/f9c943f7deb094b316996675e7179c16_best.jpg" alt="" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4YhP">Nike Free Trainer V8</a></h2>
                 <strong>BY 6pm</strong>
                 <em>$100.00</em><p class="price">$64.99 ( 35% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Black , Red , Gray , Olive , Blue</p>
                 <p class="size">Available Sizes: 11.5 D - Medium , 12 D - Medium , 10.5 D - Medium , 11 D - Medium , 9.5 D - Medium , 10 D - Medium , 14 D - Medium , 7 D - Medium , 12.5 D - Medium , 15 D - Medium , 9 D - Medium , 13 D - Medium</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X08sB1">Check it Out on<span>6pm.com</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">25 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/31QJIi5"><img src="https://img.shopstyle-cdn.com/pim/ad/86/ad86bc000bdcccb17601c589a6ab2421_best.jpg" alt="Nike Free RN 2018 Sun Bleached" /></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://shopstyle.it/l/4Yh7">Nike Free RN 2018 Sun Bleached</a></h2>
                 <strong>BY 6pm</strong>
                 <em>$100.00</em><p class="price">$50.00 ( 50% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: White , Beige , Blue</p>
                 <p class="size">Available Sizes: 6 D - Medium , 6.5 D - Medium , 7 D - Medium , 7.5 D - Medium , 8 D - Medium , 8.5 D - Medium , 9.5 D - Medium , 12.5 D - Medium , 15 D - Medium , 9 D - Medium , 12 D - Medium , 14 D - Medium</p>
                 <div class="btn"><a target="_blank" href="https://bit.ly/31QJIi5">Check it Out on<span>6pm.com</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>
            
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>

           </div><!--./modal-content-->
          </div><!--./wrap-->
        </div><!--./modal-->
      </div><!--./guide_show-->

    </div><!--./shoes-->
 
  <button id='goup'><img src="<%=asset_path 'goup.png' %>"></button>
  </div><!--./warp-->
</div><!--./layout-->
<script>
 <%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %>
</script>