<div class="layout"><!--layout-->
  <div class="wrap">
    
  <%= render 'shared/header' %>
  <%= render 'deals/header_shoes' %>  

  <div class="men_women">
    <ul>
      <li><a href="/deals/sneakers01M">Men</a></li>
      <li><a href="/deals/sneakers01W">Women</a></li>
    </ul>
  </div>   

  <div class="shoes">

     <div class="guide_show shoes_wrap clearfix">

      <div class="flex guide_show_wrap" id="gallery">
       <!--  <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
        </div> -->

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(1)">
            <img src="https://img.shopstyle-cdn.com/pim/ec/11/ec112120c1cf4923fafe3eef4e5b3bfa_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(2)">
            <img src="https://img.shopstyle-cdn.com/pim/1d/4e/1d4e52e83edec25da18482d52436bdae_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(3)">
            <img src="https://img.shopstyle-cdn.com/pim/55/9c/559c2c95171c9bf514f61838fb5dc074_best.jpg">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(4)">
            <img src="https://img.shopstyle-cdn.com/pim/6c/6c/6c6cf340812fdca413815cfbe65643f7_best.jpg">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(5)">
            <img src="https://img.shopstyle-cdn.com/pim/33/e7/33e7f69186e7cfc1753ef42156ead50f_best.jpg">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(6)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(7)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(8)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(9)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(10)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(11)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(12)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(13)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(14)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(15)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(16)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(17)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(18)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(19)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(20)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(21)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(22)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(23)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(24)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(25)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(26)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(27)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(28)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(29)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(30)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(31)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(32)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(33)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(34)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(35)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(36)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(37)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(38)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(39)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(40)">
            <img src="Image_URL">
          </div>
        </div>

      </div><!--./show_wrap-->

        <div id="myModal" class="modal">
          <div class="wrap">
           <div class="modal-content">
            <span class="close shoes_close">&times;</span> <!--close button--> 

            <!-- <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">Current_Num / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="Shoes_Link"><img src="Image_Link"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="Shoes_Link">SHoes_Title</a></h2>
                 <strong>BY Source</strong>
                 <em>$Reg_Price</em><p class="price">$Dis_Pricec ( Percentage% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Ava_Colors</p>
                 <p class="size">Available Sizes: Ava_Sizes</p>
                 <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div>
                 <div class="btn"><a target="_blank" href="Shoes_Link">Check it Out on<span>Amazon</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div> -->

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">1 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2WVNdVA"><img src="https://img.shopstyle-cdn.com/pim/ec/11/ec112120c1cf4923fafe3eef4e5b3bfa_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://bit.ly/2WVNdVA">Nike Black and Purple Air Max 95 PRM Sneakers</a></h2>
                 <strong><!-- <a target="_blank" href="shopstyle_Link"> -->BY SSENSE<!-- </a> --></strong>
                 <em>$220.00</em><p class="price">$125.00 ( 43% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 021 BLK/FUS</p>
                 <p class="size">Available Sizes: 42.5 , 40 , 40.5 , 41.5 , 42</p>
                 <!-- <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div> -->
                 <div class="btn"><a target="_blank" href="https://bit.ly/2WVNdVA">Check it Out on<span>SSENSE</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">2 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/31RjMTC"><img src="https://img.shopstyle-cdn.com/pim/1d/4e/1d4e52e83edec25da18482d52436bdae_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://bit.ly/31RjMTC">Nike Black Air Max 97 Sneakers</a></h2>
                 <strong>BY SSENSE</strong>
                 <em>$161.00</em><p class="price">$230.00 ( 30% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 001 BLK/WHT</p>
                 <p class="size">Available Sizes: 42 , 41.5 , 41 , 40 , 44 , 42.5</p>
                 <!-- <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div> -->
                 <div class="btn"><a target="_blank" href="https://bit.ly/31RjMTC">Check it Out on<span>SSENSE</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">3 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X0FfdN"><img src="https://img.shopstyle-cdn.com/pim/55/9c/559c2c95171c9bf514f61838fb5dc074_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://bit.ly/2X0FfdN">Nike Black Air Force 1 High 07 Sneakers</a></h2>
                 <strong>BY SSENSE</strong>
                 <em>$82.00</em><p class="price">$120.00 ( 32% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: 001 BLK/BLK</p>
                 <p class="size">Available Sizes: 46</p>
                 <!-- <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div> -->
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X0FfdN">Check it Out on<span>SSENSE</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">4 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X1mgA5"><img src="https://img.shopstyle-cdn.com/pim/6c/6c/6c6cf340812fdca413815cfbe65643f7_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://bit.ly/2X1mgA5">Nike Air Max 95 sneakers</a></h2>
                 <strong>BY farfetch</strong>
                 <em>$162.00 </em><p class="price">$203.00 ( 20% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Black</p>
                 <p class="size">Available Sizes: 11.5 , 12 , 7 , 7.5 , 8 , 9 , 9.5</p>
                 <!-- <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div> -->
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X1mgA5">Check it Out on<span>farfetch</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>

            <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">5 / 40</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box"><a target="_blank" href="https://bit.ly/2X06H6P"><img src="https://img.shopstyle-cdn.com/pim/33/e7/33e7f69186e7cfc1753ef42156ead50f_best.jpg"></a></div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="https://bit.ly/2X06H6P">Nike Air Max Deluxe SE sneakers</a></h2>
                 <strong>BY AMAZON</strong>
                 <em>$180.00–216.00</em><p class="price">$115.00–151.00 ( 30~36% OFF )</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: White</p>
                 <p class="size">Available Sizes: 10 , 10.5 , 11 , 11.5 , 12 , 13 , 6.5 , 7 , 7.5 , 8 , 8.5 , 9 , 9.5</p>
                 <!-- <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div> -->
                 <div class="btn"><a target="_blank" href="https://bit.ly/2X06H6P">Check it Out on<span>FARFETCH</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div>
            
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>

           </div><!--./modal-content-->
          </div><!--./wrap-->
        </div><!--./modal-->
      </div><!--./guide_show-->

    </div><!--./shoes-->
 
  <button id='goup'><img src="<%=asset_path 'goup.png' %>"></button>
  </div><!--./warp-->
</div><!--./layout-->
<script>
 <%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %>
</script>