<div class="hotdeal_form">
  <%= simple_form_for(@promocode) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="basic_info">
      <%= f.input :p_image, label: 'Image URL' %>
      <%= f.input :p_link, label: 'Product URL' %>
      <%= f.input :p_title , label: 'Title Of Product' %>
      <%= f.input :p_hashtag, label: 'Hashtags' %>
      <%= f.input :p_promocode, input_html: { class: "promo_code" }, label: 'Promo Code' %>
    </div>
    <div class="pricing stk clearfix">
      <%= f.input :p_spare_26, label: 'Current Price' %>
      <%= f.input :p_spare_28, label: 'Ori Price(for HotDeal)' %>
      <%= f.input :p_spare_27, label: 'Discount Percentage' %>
      <%= f.input :p_spare_03, label: 'Average Rate' %>
      <%= f.input :p_spare_04, label: 'Number of Reviews' %>
      
    </div>
    <!-- <%= f.input :p_spare_36, as: :trix_editor, label: 'Description Of Product with TRIX' %> -->

    <div class="form_btn"><%= f.button :submit %></div>

    
  <% end %>
</div>

