<div class="hotdeal_inner">
 <h2><%= @promocode.p_title %> </h2>

 <% if @promocode.p_promocode.present? %>
    <% running_total = 0 %>
    <% running_total =  @promocode.p_spare_26 - (@promocode.p_spare_27 / 100) * @promocode.p_spare_26 %>
    <% running_save = @promocode.p_spare_26 - running_total %>
    <p class="h_price"><em>List Price:</em> <!-- <% number_to_currency(running_total) %> --> <span class="span_01"><%= number_to_currency(@promocode.p_spare_26) %></span><span class="span_02">( <%= number_to_percentage(@promocode.p_spare_27, precision: 0) %> OFF ) </span></p>
  <% else %>
    <% running_total_deal = 0 %>
    <% running_total_deal = (@promocode.p_spare_28.to_f - @promocode.p_spare_26.to_f) / @promocode.p_spare_28.to_f * 100 %>
    <p class="h_price">
     <%= number_to_currency(@promocode.p_spare_26) %>
     <span class="span_01">
       <%= number_to_currency(@promocode.p_spare_28) %>
     </span>
     <span class="span_02">
       ( <%= number_to_percentage(running_total_deal, precision: 0) %> OFF )
     </span>
    </p>
  <% end %>

 <div class="info_wrap clearfix">

    <div class="block clearfix">
      <div class="box line_three">
        <p>Shipping</p>
        <em>Free</em>
      </div>
      <div class="box line_three">
        <p>Star Ratings</p>
        <% if @promocode.p_spare_03.present? %>
          <em>Avg. <%= @promocode.p_spare_03 %> / 5.0</em>
        <% else %>
          <em>-</em>
        <% end %>
      </div>
      <div class="box line_three">
        <p>Customer Ratings</p>
        <% if @promocode.p_spare_04.present? %>
          <em><%= number_with_delimiter(@promocode.p_spare_04) %>+</em>
        <% else %>
          <em>-</em>
        <% end %>
      </div>
    </div>

    <% if @promocode.p_promocode.present? %>
      <% coupon_55 = 0 %>
      <% coupon_55 = running_total * @promocode.p_spare_55.to_i / 100 %>
      <% number_to_currency(coupon_55) %>

      <div class="block clearfix">
        <% if @promocode.p_spare_55.present? || @promocode.p_spare_56.present? %>
          
          <div class="box total_box">
            <p>Estimated price when coupon is applied</p>
            <% if @promocode.p_spare_55.present? %>
              <% estimated_us = 0 %>
              <% estimated_us = running_total - coupon_55%>
              <em class="total_p"><%= number_to_currency(estimated_us) %></em>
              <% you_save = @promocode.p_spare_26.to_f - estimated_us.to_f %>
              <p class="you-save">You've saved <%= number_to_currency(you_save) %></p>
            <% else %>
              <% estimated_us = 0 %>
              <% estimated_us = running_total - @promocode.p_spare_56 %>
              <em class="total_p"><%= number_to_currency(estimated_us) %></em>
              <% you_save = @promocode.p_spare_26.to_f - estimated_us.to_f %>
              <p class="you-save">You've saved <%= number_to_currency(you_save) %></p>
            <% end %>
          </div>
        
        <% else %>
          <div class="box total_box">
            <p>Estimated Purchase Price</p>
            <% you_save = @promocode.p_spare_26.to_f - running_total.to_f %>
            <em class="total_p"><%= number_to_currency(running_total) %></em>
            <p class="you-save">You've saved <%= number_to_currency(you_save) %></p>
          </div>
        <% end %>
      </div>

    <% else %>

      <% coupon_p61 = 0 %>
      <% coupon_p61 = (@promocode.p_spare_26.to_i * @promocode.p_spare_55.to_i / 100) %>
      <% number_to_currency(coupon_p61) %>
      <% if @promocode.p_spare_55.present? || @promocode.p_spare_56.present? %>
        
        <% if @promocode.p_spare_26.present? %>
          <div class="box total_box">
            <p>Estimated price when coupon is applied</p>
            <% if @promocode.p_spare_55.present? %>
              <% estimated_us = 0 %>
              <% estimated_us = @promocode.p_spare_26- coupon_p61 %>
              <em class="total_p"><%= number_to_currency(estimated_us) %></em>
              <% you_saved = @promocode.p_spare_28.to_f - estimated_us.to_f %>
              <p class="you-save">You've saved <%= number_to_currency(you_saved) %></p>
            <% else %>
              <% estimated_us = 0 %>
              <% estimated_us = @promocode.p_spare_26 - @promocode.p_spare_56 %>
              <em class="total_p"><%= number_to_currency(estimated_us) %></em>
              <% you_saved = @promocode.p_spare_28.to_f - estimated_us.to_f %>
              <p class="you-save">You've saved <%= number_to_currency(you_saved) %></p>
            <% end %>
          </div>
        <% end %>
    
      <% else %>
        <div class="box total_box">
          <p>Estimated Purchase Price</p>
          <% running_save = @promocode.p_spare_28.to_f - @promocode.p_spare_26.to_f %>
          <em class="total_p"><%= number_to_currency(@promocode.p_spare_26) %></em>
          <p class="you-save">You've saved <%= number_to_currency(running_save) %></p>
        </div>
      <% end %>

    <% end %>
     
      <div class="info_box">
        <span>
          <ul>
           <% if @promocode.p_spare_55.present? || @promocode.p_spare_56.present? %>
            <li>"Estimated Purchase Price" is for reference only. Please fully check the product detail on Amazon before purchasing.</li>
           <% end %>
           <% if @promocode.p_spare_26 < 25.00 %>         
            <li>Get free shipping when you order $25+ of eligible items or Amazon Prime Members. <a target="_blank" href="/blogs/blog_01_amz_prime">What's Prime.<i></i></a></li>
            <% end %>
            <li>Pricing, average ratings and reviews may change after posting.</li>
          </ul>
        </span>
      </div>
    
  </div><!--./info_wrap-->
 
  <div class="extra_info"></div><!--./extra_info-->

  
    <div class="code_btn">
       <% if @promocode.p_promocode.present? %>
         <!-- <p class="code_line">Click and copy this code then apply it at your checkout</p> -->
         <div class="text_copied intheshow">
          <div class="container_copy"><div class="wrap"><div class="box"><p data-copy-text=""><%= @promocode.p_promocode %></p></div></div></div>
         </div>
       <% end %>
       <div class="pc_btn">
         <div class="only_show promocode_btn">
          <a class="m_btn p_btn" target="_blank" href="<%= @promocode.p_link %>">Check it out on &ensp;<em>Amazon</em></a>
         </div> 
       </div>
       <div class="mobile_btn">
         <div class="only_show promocode_btn">
          <a class="m_btn p_btn" href="<%= @promocode.p_link %>">Check it out on &ensp;<em>Amazon</em></a>
         </div> 
       </div>
    </div>
  
  
</div><!--./hotdeal_inner-->