<div class="wrap">  
<%= render 'shared/header_short' %>
  <div class="hotdeal_wrap">
    <h1>Editing Promocode</h1>
    <div class="hotdeal_form">
      <%= simple_form_for(@promocode) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <%= f.input :pimage, label: 'Choose Image' %>
        <%= f.select :p_banner, ([["Do You Have A Banner?", ""], "YES"])%><br /><br />
        <%= f.select :p_spare_01, ([["NO prime?", ""], "Yes"])%>
        <%= f.select :p_spare_02, ([["In Stock", ""], "Only in a few stock left"])%><br /><br />
        <div class="pricing clearfix">
          <%= f.input :p_spare_26, label: 'List Price' %>
          <%= f.input :p_spare_27, label: 'Discount Percentage' %>
        </div>
        <%= f.input :p_image, label: 'Image URL' %>
        <%= f.input :p_link, label: 'Product URL' %>
        <%= f.input :p_title , label: 'Title Of Product' %>
        <%= f.input :p_image_title, label: 'Image_Title' %>
        <%= f.input :p_keyword, label: ' gadgets, amazon, recommended, promo code, coupon, under $ ' %>
        <%= f.input :p_hashtag, label: 'Hashtags' %>
        <div class="pricing clearfix">
          <!-- <%= f.input :p_spare_26, label: 'List Price' %> -->
          <!-- <%= f.input :p_price, label: 'Current Price' %> -->
          <!-- <%= f.input :p_spare_27, label: 'Discount Percentage' %> -->
          <%= f.input :p_spare_03, label: 'Average Rate' %>
          <%= f.input :p_spare_04, label: 'Number of Reviews' %>
          <%= f.input :p_coupon_deal, label: 'Coupon Deals?' %>
          <%= f.input :p_extra_deal, label: 'Extra Deals?' %>
          <%= f.input :p_promocode, input_html: { class: "promo_code" }, label: 'Promo Code' %>
          <%= f.input :p_end_date, input_html: { class: "promo_date" }, label: 'End Date' %>
        </div>
        <%= f.input :p_description, label: 'Description Of Product' %>
        <%= f.input :p_spare_36, as: :trix_editor, label: 'Description Of Product with TRIX' %> 

        <%= f.button :submit %>

        
      <% end %>
    </div>

    <%= link_to 'Show', @promocode %> |
    <%= link_to 'Back', promocodes_path %>
