<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <div class="dealpage_title"><p>The Coupon Codes on Amazon</p></div>
    <%= render 'promocodes/header' %>  
    
    <!-- <div class="amz_slider_banner">
      <div class="left">
        <p>Never Pay Full Price.</p>
        <span>I would find hot deals for you every day.</span>
      </div> 
      <div class="right"><render 'shared/amz_slider' ></div>
    </div> -->

    <%= render 'shared/amz_slider' %>

    <div class="more_search"><%= form_for "",url: promocodes_path, role: "search", method: :get do %><%= text_field_tag :search, @search_term, placeholder: "Search..." %><% end %></div>

    <div id="promocodes" class="clearfix">
      <%= render @promocodes %> 
    </div>
    <%= will_paginate @promocodes %>
    
  </div><!--./warp-->
</div><!--./layout-->
<script><%= render(:partial => 'promocodes', :handlers => [:erb], :formats => [:js]) %></script>

