<!-- <p id="notice"><%= notice %></p> -->
<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout">
  <%= render 'shared/header_short' %>
  
  <div class="show_wrap clearfix">
    <div class="wrap">
    <%= render 'promocodes/header' %>  
    
      <div class="show_box clearfix">
        
        <!-- <p>Location Map</p> -->
        <div class="show_img hotdeal_img">
          <% if @promocode.p_image.present? %>
           <a target="_blank" href="<%= @promocode.p_link %>"><img src="<%= @promocode.p_image %>" alt="<%= @promocode.p_title %>" title="<%= @promocode.p_image_title %>"></a>
          <% else %>
           <%= link_to (image_tag @promocode.pimage.url(:small), alt: @promocode.p_title, title: @promocode.p_image_title), @promocode %>
          <% end %>
          <div class="mark"><span>HOT</span><em>DEALS</em></div>
           <% if can? :update, @promocode %>
            <div class="admin">
              <%= link_to 'Back', promocodes_path %> |
              <%= link_to 'Edit', edit_promocode_path(@promocode) %> |
              <%= link_to 'Delete', @promocode, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= @promocode.impressionist_count %> Views
            </div>
          <% end %>
        </div>

        <div class="show_inner">
         <div class="hotdeal_inner">
           <h2><%= @promocode.p_title %></h2>

           <% running_total = 0 %>
           <% running_total =  @promocode.p_spare_26 - (@promocode.p_spare_27 / 100) * @promocode.p_spare_26 %>
           <p class="h_price"><%= number_to_currency(running_total) %> <span class="span_01"><%= number_to_currency(@promocode.p_spare_26) %></span><span class="span_02">( <%= number_to_percentage(@promocode.p_spare_27, precision: 0) %> OFF )</span></p>
           
           <div class="extra_info">
            <% if @promocode.p_spare_03.present? %>
             <span class="basic_info">
              <% if @promocode.p_spare_01.present? %>
                <%= @promocode.p_spare_01 %> |
              <% end %>
                Avg <%= @promocode.p_spare_03 %> / <%= number_with_delimiter(@promocode.p_spare_04) %>+ reviews 
              <% if @promocode.p_spare_02.present? %>
                | <%= @promocode.p_spare_02 %> 
              <% end %>
             </span> 
            <% end %>
             <!-- <em><%= @promocode.created_at.strftime("%d. %B. %H:%M ") %></em> -->
            <em>+ FREE Shipping ( Free Shipping: <a class="prime" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items. )</a></em>
            <% if @promocode.p_extra_deal.present? %><em>+ <%= @promocode.p_extra_deal %>% Off Extra Deal</em><% end %>
            <% if @promocode.p_coupon_deal.present? %><em>+ <%= @promocode.p_coupon_deal %> Off Coupon</em><% end %>
            </div>

            <% if @promocode.p_description.present? %>
              <p class="description"><%= @promocode.p_description %></p>
            <% end %>

            <p class="code_line">Copy the code below and apply it top your checkout</p>
            <p class="code_line">End Date: <%= @promocode.p_end_date %></p>
            <div class="code_main">
              <div>
                <span class="copy"><code><%= @promocode.p_promocode %></code></span>
                <button><span class="icon-copy"></span>COPY</button>
              </div>
            </div>
            <div class="confirmation"><span class="icon-checkmark"></span></div>

           <div class="btn">
            <a class="m_btn p_btn" target="_blank" href="<%= @promocode.p_link %>">Check it out on &ensp;<em>Amazon</em></a>
           </div> 

          </div>
        </div>

        <% if can? :update, @promocode %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  

      </div><!--./show_box-->
      
      <div class="hotdeal_related">
        <p>Related Products on Amazon</p>
        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "3628-20";
        amzn_assoc_ad_mode = "search";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_default_search_phrase = "<%= @promocode.p_image_title %>";
        amzn_assoc_default_category = "All";
        amzn_assoc_linkid = "10a626d082cd5d1d67d4b8a2afc6ae3d";
        amzn_assoc_title = "Shop Related Products";
        amzn_assoc_search_bar = "false";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>

    </div><!--./wrap-->
  </div><!--./show_wrap-->
</div><!--./layout-->
<script><%= render(:partial => 'promocode', :handlers => [:erb], :formats => [:js]) %></script>