<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout">
  
  <div class="show_wrap clearfix">
    <div class="show_back">
      <a href="/promocodes"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="back" /></a>
    </div>
    <div class="wrap">
    <div class="oh_menu">
      <%= render 'shared/header_amazon' %>  
      <%= render 'shared/hotpro_header' %>
      <%= render 'shared/botton_amz' %>
    </div>
    
      <div class="show_box translate_box clearfix">
        
        <!-- <p>Location Map</p> -->
        <div class="show_img hotdeal_img">
          <div class="img_box deal_img_box">
            <% if @promocode.p_image.present? %>
             <a target="_blank" href="<%= @promocode.p_link %>"><img src="<%= @promocode.p_image %>" alt="<%= @promocode.p_title %>" title="<%= @promocode.p_image_title %>"></a>
            <% else %>
             <%= link_to (image_tag @promocode.pimage.url(:small), alt: @promocode.p_title, title: @promocode.p_image_title), @promocode %>
            <% end %>
          </div>
          <% if @promocode.p_spare_27 < 50 %>
            <div class="mark"><span>GOOD</span><em>DEALS</em></div>
          <% else %>
            <% if @promocode.p_spare_27 > 50 %>
              <div class="mark"><span>BEST</span><em>DEALS</em></div>
            <% end %>
          <% end %>
          <div class="show_tag"><h3><%= render_with_hashtags(@promocode.p_hashtag.to_s) %></h3></div>
           <% if can? :update, @promocode %>
            <div class="admin">
              <p>Admin Management</p>
              <%= link_to 'Back', promocodes_path %> |
              <%= link_to 'Edit', edit_promocode_path(@promocode) %> |
              <%= link_to 'Delete', @promocode, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= render 'promocodes/body_sns' %><br>
              <%= @promocode.impressionist_count(:filter=>:all) %> Views |
              <%= @promocode.created_at.strftime("%d. %B.") %><br>
              <div class="sharing">
                <p>Available On Amazon Now</p>
                <p><%= @promocode.p_title %></p>
                <% running_total = 0 %>
                <% running_total =  @promocode.p_spare_26 - (@promocode.p_spare_27 / 100) * @promocode.p_spare_26 %>
                <p class="h_price"><%= number_to_currency(running_total) %> <span class="span_01">( Was: <%= number_to_currency(@promocode.p_spare_26) %></span><span class="span_02"> | <%= number_to_percentage(@promocode.p_spare_27, precision: 0) %> OFF with Code: <%= @promocode.p_promocode %> )</span></p>
                <p>#AmazonDeals #HotDeals #ohigottabuythis #CouponCodes #Coupons #PromoCode <%= @promocode.p_hashtag %></p>
                <p>http://ohigottabuythis.net/promocodes/<%=(params[:id]) %></p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="show_inner">
          <%= render 'promocodes/usa_kor' %>
        </div>

        <% if can? :update, @promocode %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  


        <!-- <div id="google_translate_element"></div>
        <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,es,jv,ko,pa,pt,ru,zh-CN, jp', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
        }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>  
        <div id="google_translate_element"></div> -->

      </div><!--./show_box-->
      
      <div class="hotdeal_related">
        <p>Related Products on Amazon</p>
        <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "3628-20";
        amzn_assoc_ad_mode = "search";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_default_search_phrase = "<%= @promocode.p_image_title %>";
        amzn_assoc_default_category = "All";
        amzn_assoc_linkid = "10a626d082cd5d1d67d4b8a2afc6ae3d";
        amzn_assoc_title = "Shop Related Products";
        amzn_assoc_search_bar = "false";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>

    </div><!--./wrap-->
  </div><!--./show_wrap-->
</div><!--./layout-->
<script><%= render(:partial => 'promocode', :handlers => [:erb], :formats => [:js]) %></script>

