<div class="show_detail">

 <div class="show_image">
  <img src="<%= @gadget.gg_img %>">
 </div>

 <div class="show_content">
  <h1><%= @gadget.gg_title %></h1>
  <h3>What's This?</h3>
  <p><%= @gadget.gg_intro %></p>
  <div class="show_admin_wrap">
    <ul>
      <li><p><%= @gadget.gg_from %></p></li>
      <li>
        <div class="show_admin">
         <%= link_to "Home", root_path %>
         <%= link_to "Edit", edit_gadget_path(@gadget) %>
         <%= link_to "Delete", gadget_path(@gadget), method: :delete, data: { confirm: "Are you Sure?" } %>
        </div>
      </li>
    </ul>
  </div>
 
  <div class="content_border"></div>

  <div class="main_price_wrap">
    <div class="main_price show_price">
      
      <div class="currency_wrapper">
        <ul>
          <li>$<%= @gadget.gg_aprice %></li>
          <li>
             <div class="currency_converter">
              <input id="fromAmount" type="text" class="form-control" onkeyup="convertCurrency();" value="<%= @gadget.gg_aprice %>">
              <select class="form-control currency" id="from" onchange="convertCurrency();">
                 <option value="USD">US Dollar(USD)</option>
              </select>  
             </div>
             ₩</i><input id="toAmount" type="text" class="krw form-control" aria-label="..."> 원
             <div class="currency_converter">
              <select class="form-control currency" id="to" onchange="convertCurrency();">
                <option value="KRW">Korea(KRW)</option>
              </select>             
             </div>
          </li>          
        </ul>
      </div>

      <ul>
        <li class="original_price">$<%= @gadget.gg_bprice %></li> |
        <li><%= @gadget.gg_sales %>% Off</li>
      </ul>
    </div>
    <div class="show_button main_button">
      <div class="col-12">
        <ul class="show_btn actions">
          <li><a href="<%= @gadget.gg_url %>" class="button">Check it Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  
 </div><!--/.show_content-->

    

</div><!--/.show_detail-->