  <%= simple_form_for @gadget do |f| %>

   <div class="form_border">
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" } %>
   </div>

   <div class="form_border">
    <%= f.input :gg_title, label: 'Title' %>
    <%= f.input :gg_intro, label: 'Intro' %>
    <%= f.input :gg_img, label: 'Image URL' %>
    <%= f.input :gg_url, label: 'Product URL' %>
    <%= f.input :gg_from, label: 'Product Source' %>
   </div>
   
   <div class="form_border">
    <%= f.input :gg_aprice, label: 'Current Price' %>
   </div>

   <div class="form_border">
    <%= f.input :gg_youtube01, label: 'Youtube First' %>
   </div>

      
   <div class="form_btn">
    <%= f.button :submit %>
   </div>
  <% end %>


 