  <%= simple_form_for @gadget do |f| %>

   <div class="form_border">
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" } %>
   </div>

   <div class="form_border">
    <%= f.input :gg_title, label: 'Title' %>
    <%= f.input :gg_intro, label: 'Intro' %>
    <%= f.input :gg_img, label: 'Image URL' %>
    <%= f.input :gg_url, label: 'Product URL' %>
    <%= f.input :gg_from, label: 'Product Source' %>
   </div>
   
   <div class="form_border">
    <%= f.input :gg_aprice, label: 'Current Price' %>
    <%= f.input :gg_bprice, label: 'Original Price' %>
    <%= f.input :gg_sales, label: 'Sale Percentage' %>
   </div>

   <div class="form_border">
    <%= f.input :gg_youtube01, label: 'Youtube First' %>
    <%= f.input :gg_youtube02, label: 'Youtube Second' %>
   </div>
   
   <div class="form_border">
    <div class="form_border">
     <%= f.input :gg_source_01, label: 'Source_01' %>
     <%= f.input :gg_source_link_01, label: 'Source_link_01' %>
    </div>
    <div class="form_border">
     <%= f.input :gg_source_02, label: 'Source_02' %>
     <%= f.input :gg_source_link_02, label: 'Source_link_02' %>
    </div>
    <div class="form_border">
     <%= f.input :gg_source_03, label: 'Source_03' %>
     <%= f.input :gg_source_link_03, label: 'Source_link_03' %>
    </div>
    <div class="form_border">
     <%= f.input :gg_source_04, label: 'Source_04' %>
     <%= f.input :gg_source_link_04, label: 'Source_link_04' %>
    </div>
    <div class="form_border">
     <%= f.input :gg_source_05, label: 'Source_05' %>
     <%= f.input :gg_source_link_05, label: 'Source_link_05' %>
    </div>
   </div>
   
   <div class="form_border">
    <%= f.input :gg_summary, label: 'Summary' %>
    <%= f.input :gg_bottomline, label: 'Bottom Line' %>
   </div>
   


   
   <div class="form_btn">
    <%= f.button :submit %>
   </div>
  <% end %>


 