 <p><%= @gadget.gg_summary %></p><br>

 <h1 class="pros_title"><i class="fa fa-check-circle"></i> 사야하는 몇가지 이유</h1>
 <ul>
  <% if @gadget.gg_pro_01.present? %>
   <li><%= @gadget.gg_pro_01 %></li>
  <% end %>
  <% if @gadget.gg_pro_02.present? %>
   <li><%= @gadget.gg_pro_02 %></li>
  <% end %>
  <% if @gadget.gg_pro_03.present? %>
   <li><%= @gadget.gg_pro_03 %></li>
  <% end %>
  <% if @gadget.gg_pro_04.present? %>
   <li><%= @gadget.gg_pro_04 %></li>
  <% end %>
  <% if @gadget.gg_pro_05.present? %>
   <li><%= @gadget.gg_pro_05 %></li>
  <% end %>
  <% if @gadget.gg_pro_06.present? %>
   <li><%= @gadget.gg_pro_06 %></li>
  <% end %>
  <% if @gadget.gg_pro_07.present? %>
   <li><%= @gadget.gg_pro_07 %></li>
  <% end %>
  <% if @gadget.gg_pro_08.present? %>
   <li><%= @gadget.gg_pro_08 %></li>
  <% end %>
  <% if @gadget.gg_pro_09.present? %>
   <li><%= @gadget.gg_pro_09 %></li>
  <% end %>
  <% if @gadget.gg_pro_10.present? %>
   <li><%= @gadget.gg_pro_10 %></li>
  <% end %>
 </ul><br>

 <h1 class="cons_title"><i class="fa fa-times-circle"></i> 사지 말아야할 몇가지 이유</h1>
 <ul>
  <% if @gadget.gg_con_01.present? %>
   <li><%= @gadget.gg_con_01 %></li>
  <% end %>
  <% if @gadget.gg_con_02.present? %>
   <li><%= @gadget.gg_con_02 %></li>
  <% end %>
  <% if @gadget.gg_con_03.present? %>
   <li><%= @gadget.gg_con_03 %></li>
  <% end %>
  <% if @gadget.gg_con_04.present? %>
   <li><%= @gadget.gg_con_04 %></li>
  <% end %>
  <% if @gadget.gg_con_05.present? %>
   <li><%= @gadget.gg_con_05 %></li>
  <% end %>
  <% if @gadget.gg_con_06.present? %>
   <li><%= @gadget.gg_con_06 %></li>
  <% end %>
  <% if @gadget.gg_con_07.present? %>
   <li><%= @gadget.gg_con_07 %></li>
  <% end %>
 </ul><br>

 <h2>Bottom Line</h2>
 <p><%= @gadget.gg_bottomline %></p><br/>
 <a href="<%= @gadget.gg_url %>" class="button icon">$<%= @gadget.gg_aprice %> from <%= @gadget.gg_from %></a>




