<div id="page-wrapper">
 <%= render 'shared/header' %>
 <div class="gadget_form">
  <div class="layout"><!--layout-->
    <div class="wrap">
      <%= simple_form_for @gadget do |f| %>

       <div class="form_border">
         <div class="form_select">
          <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" } %>
          <%= f.collection_select :subcategory_id, Subcategory.all, :id, :subname, { prompt: "Choose a sub_category" } %>
          <%= f.select :gg_option_01, ([["Crowdfunding", ""], "YES"])%>
          <%= f.select :gg_option_03, ([["Buy Now", ""], "Learn More"])%>
         </div>

         <div class="form_input">
          <%= f.input :gg_img, label: 'Image URL', placeholder: 'Image URL' %>
          <%= f.input :gg_url, label: 'Product URL', placeholder: 'Product URL' %>
          <%= f.input :gg_title, label: 'Title', placeholder: 'Title' %>
          <%= f.input :gg_spare_05, label: 'Image_title', placeholder: 'Image_title' %>
          <%= f.input :gg_from, label: 'Seller', placeholder: 'Seller' %>
          <%= f.input :gg_spare_01, label: 'Retailer', placeholder: 'Retailer' %>
          <%= f.input :gg_intro, label: 'Intro', placeholder: 'Intro' %>
          <div class="with_trix"><%= f.input :gg_pro_01, as: :trix_editor, label: 'with trix', placeholder: 'with trix' %></div>
          <%= f.input :gg_option_04, label: 'Keywords', placeholder: 'Keywords' %>
          <%= f.input :gg_aprice, label: 'Current Price', placeholder: 'Current Price' %>
          <%= f.input :gg_option_02, label: 'Discover More', placeholder: 'Discover More' %>
          <%= f.input :gg_youtube01, label: 'Youtube First', placeholder: 'Youtube' %>
         </div>
            
         <div class="form_btn">
          <%= f.button :submit %>
         </div>
         
        </div>
      <% end %>
    </div>
  </div>

 </div>
</div>