<div id="page-wrapper">
  <%= render 'shared/header' %>

    <div class="container">
      <div class="eb_nav">
        <a href="#" class="menu-trigger">Menu</a>
        <ul>
          <li><%= link_to "All", root_path %></li>
          <% Category.all.each do |category| %>
           <li><%= link_to category.name, gadgets_path(category: category.name) %></li>
          <% end %>
        </ul>
     </div>
    </div>

    <section id="features">
      <div class="container">
        <div class="row aln-center">

          <% @gadgets.each do |gadget| %>
            <div class="col-4 col-6-medium col-12-small">
              <section>
                <header>
                  <h3 class="main_title"><%= link_to gadget.gg_title, gadget %></h3>
                </header>
                
                <%= link_to (image_tag gadget.gg_img), gadget, {:class =>"main_gadget image featured"} %>

                <p class="main_intro"><%= gadget.gg_intro %></p>
                <div class="main_price_wrap">
                  <div class="main_price">
                    <p>$<%= gadget.gg_aprice %></p>
                    <ul>
                     <li>#<%= gadget.gg_from %></p></li>   
                    </ul>
                  </div>
                  <div class="main_button">
                    <div class="col-12">
                      <ul class="actions">
                        <li><a href="<%= gadget.gg_url %>" class="button">Check it Out</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          <% end %>
        </div><!--/.row aln-center-->
        <%= paginate @gadgets %>
      </div><!--/.container-->
    </section>

   <!-- render 'gadgets/blog' -->
 <%= render 'shared/footer' %>
</div><!-- /.page-wrapper -->