<%= render 'shared/play_video' %><!-- for play youtube video-->
<div class="layout">
  <%= render 'shared/header_short' %>
  <div class="show_wrap clearfix">
    <div class="wrap">
        
      <div class="show_box clearfix">
        <div class="show_img">
          <a target="_blank" href="<%= @gadget.gg_url %>"><img src="<%= @gadget.gg_img %>" alt="<%=@gadget.gg_title %>" title="<%= @gadget.gg_spare_05 %>"></a>
          <% if @gadget.gg_youtube01.present? %>
            <div class="js-overlay-start start" data-url= "<%= @gadget.gg_youtube01 %>">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
            </div>
          <% end %>
          <% if can? :update, @gadget %>
            <h3>Admin Management</h3>
            <p><%= @gadget.gg_title %></p>
            <div class="btn clearfix admin">
              <a href="/">Back</a> | <em><%= link_to "Edit", edit_gadget_path(@gadget) %></em> | <%= link_to "Delete", gadget_path(@gadget), method: :delete, data: {confirm: "Are you sure?"}%>
          </div>   
        <% end %>
        </div>
        <div class="show_inner">
         <h2><a target="_blank" href="<%= @gadget.gg_url %>"><%= @gadget.gg_title %></a></h2>
         <strong>BY <%= @gadget.gg_from %></strong>
         <% if @gadget.gg_option_03.present? %>
         <% else %>
          <p><%= number_to_currency(@gadget.gg_aprice) %></p>
         <% end %>

         <% if @gadget.gg_option_03.present? %>
          <a class="m_btn" target="_blank" href="<%= @gadget.gg_url %>">Learn More on <em><%= @gadget.gg_spare_01 %></em></a>
         <% else %>
          <a class="m_btn" target="_blank" href="<%= @gadget.gg_url %>">Check it out on <em><%= @gadget.gg_spare_01 %></em></a>
         <% end %>
          
         <% if @gadget.gg_intro.present? %>
           <em class="about">About This</em> 
           <span><p><%= @gadget.gg_intro %></p></span>
         <% end %>
         <% if @gadget.gg_pro_01.present? %>
          <em class="about">About This</em>
          <span class="trix trix-container gradient"><%= @gadget.gg_pro_01.html_safe %>
          <button class="show-btn fa fa-chevron-down"></button></span>
         <% end %>
         <p class="keyword"><%= @gadget.gg_option_04 %></p>

         
         <!-- <div class="option_btn">
           <a href="/gadgets?category=Tech">See More Tech</a>
         </div> -->
        </div>

       <!--  <a href="https://www.facebook.com/0higottabuythis/photos/a.197284250987000/312887269426697/?type=3&theater">Write Comments</a> -->

        <% if can? :update, @gadget %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  

      </div>

      <div class="show_box_down clearfix">
        <h2>You may also like...</h2>
        <% @relative_sub_category.shuffle.take(8).each do |subcategory| %>
          <% if subcategory.subcategory_id == @gadget.subcategory_id %>
            <div class="sbd_box">
              <div class="down_img">
                <%= link_to (image_tag subcategory.gg_img), subcategory %>
              </div>
              <div class="down_inner">
              </div>
            </div>
          <% end %>
        <% end %>
      </div> 
    </div>
    
  </div>
</div>
<script><%= render(:partial => 'gadgets', :handlers => [:erb], :formats => [:js]) %></script>

