<div id="page-wrapper">
  <%= render 'shared/header_show' %>

   <section id="main">
    <div class="gadget_container container">
     <%= render 'gadgets/content' %>
    </div>
   </section>

   <div class="show_border"></div>
   
   <section id="main">
    <div class="gadget_container container">
     <div class="row">

      <div id="content" class="col-8 col-12-medium">
       <h2>특징</h2>

       <h2>Summary</h2>
       <!-- < render 'gadgets/procon' > -->

       <% if @gadget.gg_youtube01.present? %>
       <div class="video-container">
        <iframe width="560" height="315" src="<%= @gadget.gg_youtube01 %>" frameborder="0"encrypted-media" allowfullscreen></iframe>
       </div>
       <% end %>

       <% if @gadget.gg_youtube02.present? %>
       <div class="video-container">
        <iframe width="560" height="315" src="<%= @gadget.gg_youtube02 %>" frameborder="0"encrypted-media" allowfullscreen></iframe>
       </div><br>
       <% end %>
      
       <div class="gadget_source">
        <h2>Source</h2>
        <%= render 'gadgets/source' %>
       </div>

       <h1>Create Comments</h1>
       <h2>여러분의 생각은 어떻신가요?</h2>
      </div><!-- /#content -->

     <div id="sidebar" class="col-4 col-12-medium">
      <%= render 'gadgets/sidebar' %>
     </div><!-- /#sidebar -->

     </div>
    </div>
   </section>
   
</div>

<!-- Social Shring -->
<!-- <ul class="social">

  <a class="facebook" id="shareFB" href="https://www.facebook.com/sharer/sharer.php?u=<%= url_for([@gadget, { 
   only_path: false }]) %>&t=<%= @gadget.gg_title %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"   target="_blank" title="Share on Facebook"><li><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li></a>
  <script type="text/javascript">document.getElementById("shareFB").setAttribute("href", "https://www.facebook.com/sharer/sharer.php?u=" + document.URL);
  </script>

  <a class="twitter" href="https://twitter.com/share?url=<%= url_for([@gadget, { 
   only_path: false }]) %>&via=ohigottabuythis&text=<%= @gadget.gg_title %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Twitter">
   <li><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
  </a>
</ul> -->