<div class="layout">
  <%= render 'shared/header_short' %>
  <div class="show_wrap clearfix">
    <div class="wrap">
        
      <div class="show_box clearfix">
        <div class="show_img">
          <a target="_blank" href="<%= @gadget.gg_url %>"><img src="<%= @gadget.gg_img %>"></a>
        </div>
        <div class="show_inner">
         <h2><a target="_blank" href="<%= @gadget.gg_url %>"><%= @gadget.gg_title %></a></h2>
         <strong>BY <%= @gadget.gg_from %></strong>
         <% if @gadget.gg_intro.present? %>
           <span><p><%= @gadget.gg_intro %></p></span>
         <% end %>
         <p>$<%= @gadget.gg_aprice %></p>
         <a target="_blank" href="<%= @gadget.gg_url %>">Check it out on <em><%= @gadget.gg_spare_01 %></em></a>
         <!-- <div class="option_btn">
           <a href="/gadgets?category=Tech">See More Tech</a>
         </div> -->
        </div>

       <!--  <a href="https://www.facebook.com/0higottabuythis/photos/a.197284250987000/312887269426697/?type=3&theater">Write Comments</a> -->

        <% if can? :update, @gadget %>
          <div class="pinterest">
           <script async defer data-pin-hover="true" data-pin-tall="true" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>
        <% end %>  

      </div>

      <!-- <div class="show_box_down clearfix">
        <h2>RELATED</h2>
        <% @relative_sub_category.shuffle.take(4).each do |subcategory| %>
          <% if subcategory.subcategory_id == @gadget.subcategory_id %>
            <div class="sbd_box">
              <div class="down_img">
                <%= link_to (image_tag subcategory.gg_img), subcategory %>
              </div>
              <div class="down_inner">
              </div>
            </div>
          <% end %>
        <% end %>
      </div> 
    </div> -->
    
  </div>
</div>


<!-- Social Shring -->
<!-- <ul class="social">

  <a class="facebook" id="shareFB" href="https://www.facebook.com/sharer/sharer.php?u=<%= url_for([@gadget, { 
   only_path: false }]) %>&t=<%= @gadget.gg_title %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"   target="_blank" title="Share on Facebook"><li><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li></a>
  <script type="text/javascript">document.getElementById("shareFB").setAttribute("href", "https://www.facebook.com/sharer/sharer.php?u=" + document.URL);
  </script>

  <a class="twitter" href="https://twitter.com/share?url=<%= url_for([@gadget, { 
   only_path: false }]) %>&via=ohigottabuythis&text=<%= @gadget.gg_title %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Twitter">
   <li><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
  </a>
</ul> -->



