<div class="layout">
  <%= render 'shared/header_short' %>
  <div class="show_wrap clearfix">
    <div class="wrap">
        
      <div class="show_box clearfix">
        <div class="show_img">
          <img src="<%= @gadget.gg_img %>">
        </div>
        <div class="show_inner">
         <h2><%= @gadget.gg_title %></h2>
         <strong>BY <%= @gadget.gg_from %></strong>
         <% if @gadget.gg_intro.present? %>
           <span><p><%= @gadget.gg_intro %></p></span>
         <% end %>
         <p>$<%= @gadget.gg_aprice %></p>
         <a href="#n">Check it out on <em><%= @gadget.gg_spare_01 %></em></a>
         <!-- <div class="option_btn">
           <a href="/gadgets?category=Tech">See More Tech</a>
         </div> -->
        </div>
        
      </div>
      
    </div>
  </div>
</div>


<!-- Social Shring -->
<!-- <ul class="social">

  <a class="facebook" id="shareFB" href="https://www.facebook.com/sharer/sharer.php?u=<%= url_for([@gadget, { 
   only_path: false }]) %>&t=<%= @gadget.gg_title %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"   target="_blank" title="Share on Facebook"><li><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li></a>
  <script type="text/javascript">document.getElementById("shareFB").setAttribute("href", "https://www.facebook.com/sharer/sharer.php?u=" + document.URL);
  </script>

  <a class="twitter" href="https://twitter.com/share?url=<%= url_for([@gadget, { 
   only_path: false }]) %>&via=ohigottabuythis&text=<%= @gadget.gg_title %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Twitter">
   <li><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
  </a>
</ul> -->



