<div class="card clearfix" data-score="33" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SZwsUc"><img src="https://images-na.ssl-images-amazon.com/images/I/41uGvSPg-ML.jpg" alt="Tenergy Redigrill Smoke-Less Infrared Grill" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SZwsUc"><span>Amazon Deal Of The Day:</span> Tenergy Redigrill Smoke-Less Infrared Grill, Indoor Grill, Heating Electric Tabletop Grill,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$179.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SZwsUc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="189.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yyFxKn"><img src="https://images-na.ssl-images-amazon.com/images/I/71tnJHuwjYL._SX522_.jpg" alt="PCB PVC Wood Carving Milling Engraving Machine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yyFxKn"><span>Amazon Deal Of The Day:</span> Genmitsu CNC 3018-PRO Router Kit GRBL Control 3 Axis Plastic Acrylic PCB...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$189.99</span><span class="ori_price">$254.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yyFxKn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="349.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2T4Zq5h"><img src="https://images-na.ssl-images-amazon.com/images/I/51Z3BFA0enL._SX342_.jpg" alt="Apple Watch Series 4" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2T4Zq5h">Apple Watch Series 4 (GPS, 40mm) - Silver Aluminium Case with White Sport Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$349.00</span><span class="ori_price">$399.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2T4Zq5h">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2T2CSSP"><img src="https://images-na.ssl-images-amazon.com/images/I/51U%2BJ5KIziL._SX679_.jpg" alt="Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2T2CSSP">Bluetooth Earbuds, MIFA X3 TWS Wireless Bluetooth 5.0 Earphones with Microphone, 3D Stereo Sound in-Ear Headsets Sports...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.19</span><span class="ori_price">$28.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2T2CSSP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="5" data-price="18.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGhjMU"><img src="https://images-na.ssl-images-amazon.com/images/I/61rlamGMpCL._SX679_.jpg" alt="SENSO Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>5% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGhjMU">SENSO Bluetooth Headphones, Best Wireless Sports Earphones w/Mic IPX7 Waterproof HD Stereo Sweatproof Earbuds...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.94</span><span class="ori_price">$19.94</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YGhjMU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="10.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZtQg4H"><img src="https://images-na.ssl-images-amazon.com/images/I/61sPgJM6fpL._SX679_.jpg" alt="iClever USB Wall Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZtQg4H">iClever USB Wall Charger, BoostCube 24W Dual Port Charger with SmartID Technology and Foldable Plug, for iPhone...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.98</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZtQg4H">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YFb1Je"><img src="https://images-na.ssl-images-amazon.com/images/I/71isDcuprFL._SX425_.jpg" alt="Norpro Decorative Cup Warmer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YFb1Je">Norpro Decorative Cup Warmer (5569)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.95</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YFb1Je">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBfehn"><img src="https://images-na.ssl-images-amazon.com/images/I/91dBGEPNhML._AC_.jpg" alt="Sony PlayStation VR Headset and Accessories Carrying Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBfehn">Sony PlayStation VR Headset and Accessories Carrying Case – Protective Deluxe Travel Case – Black Ballistic Exterior...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$33.22</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YBfehn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="70.08">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SZya84"><img src="https://images-na.ssl-images-amazon.com/images/I/81Md2zY0eFL._SX679_.jpg" alt="WD 512GB My Passport SSD Portable Storage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SZya84">WD 512GB My Passport SSD Portable Storage - USB 3.1 - Black-Gray - WDBK3E5120PSL-WESN</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$70.08</span><span class="ori_price">$199.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SZya84">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="19" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YmDbNX"><img src="https://images-na.ssl-images-amazon.com/images/I/61Y3OHw-DGL._SX425_.jpg" alt="MGreen 0 Slicer Mincer Crusher" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YmDbNX">MGreen 0 Slicer Mincer Crusher with Silicone Roller Peeler. Garlic Press, Grinding Kitchen Cooking Tool, sliver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$9.86</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YmDbNX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="26.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zsw8Qk"><img src="https://images-na.ssl-images-amazon.com/images/I/71vbQ0hLE1L._SX522_.jpg" alt="Waterproof Mattress Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zsw8Qk">SafeRest Queen Size Premium Hypoallergenic Waterproof Mattress Protector - Vinyl Free</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.95</span><span class="ori_price">$69.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zsw8Qk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="13.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YNpLdz"><img src="https://images-na.ssl-images-amazon.com/images/I/51NAWYoB-IL._SX331_BO1,204,203,200_.jpg" alt="The Husband's Secret" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YNpLdz">The Husband's Secret Hardcover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.77</span><span class="ori_price">$27.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YNpLdz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="10.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yy6CNP"><img src="https://images-na.ssl-images-amazon.com/images/I/51roV3mOF8L._SX322_BO1,204,203,200_.jpg" alt="Ready Player One: A Novel " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yy6CNP">Ready Player One: A Novel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.01</span><span class="ori_price">$16.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yy6CNP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="15.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEs6TZ"><img src="https://images-na.ssl-images-amazon.com/images/I/816hbmcUuBL._SX425_.jpg" alt="Giantville Toy Kitchen Play Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEs6TZ">Giantville Toy Kitchen Play Set, 10 Piece Bundle - Stainless Steel Pots, Pans and Skillets, Wooden Spoons and Utensils,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.95</span><span class="ori_price">$29.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEs6TZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="76" data-price="8.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ykko5X"><img src="https://images-na.ssl-images-amazon.com/images/I/51jvVzs9v1L._SX425_.jpg" alt="Disney Pixar Cars Mini Racers Mack Transporter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>76% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ykko5X">Disney Pixar Cars Mini Racers Mack Transporter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.19</span><span class="ori_price">$33.75</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ykko5X">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="12.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YDlMMj"><img src="https://images-na.ssl-images-amazon.com/images/I/61p-5yRaePL._SY450_.jpg" alt="purifyou Premium Reusable Mesh/Produce Bags" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YDlMMj">purifyou Premium Reusable Mesh/Produce Bags, Set of 9 | Superior Double-Stitched Strength, with Tare Weight on Tags...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.97</span><span class="ori_price">$25.00</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YDlMMj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YnojPj"><img src="https://images-na.ssl-images-amazon.com/images/I/71Sl935DcxL._SX425_.jpg" alt="Balls Pills Fuzz Remover" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YnojPj">BEAUTURAL Fabric Shaver Lint Balls Pills Fuzz Remover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.59</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YnojPj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="40.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yCAvwx"><img src="https://images-na.ssl-images-amazon.com/images/I/61LTzAV1EcL._SY445_.jpg" alt="Rubbermaid Commercial Trash/Garbage Can" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yCAvwx">Rubbermaid Commercial Products Slim Jim Plastic Rectangular Trash/Garbage Can with Venting Channels, 23 Gallon, Black (FG354060BLA)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.49</span><span class="ori_price">$85.50</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yCAvwx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="17.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yzvjcL"><img src="https://images-na.ssl-images-amazon.com/images/I/61zvW7cIsAL._SX522_.jpg" alt="Thermacell Patio Shield Mosquito Repeller" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yzvjcL">Thermacell Patio Shield Mosquito Repeller, Graphite; Easy to Use, Highly Effective; Provides 12 Hours of DEET-Free Mosquito Repellent;...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.89</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yzvjcL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="37.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33cI7UH"><img src="https://images-na.ssl-images-amazon.com/images/I/71Bqr%2BdxRcL._SX522_.jpg" alt="Kensington Microsoft Surface Pro Rugged Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33cI7UH">Kensington Microsoft Surface Pro Rugged Case for Surface Pro 6, 5 (2017) and 4 - BlackBelt 2nd Degree Rugged Case (K97443WW)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.96</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33cI7UH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="9.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/335pmlO"><img src="https://images-na.ssl-images-amazon.com/images/I/713uY0SC6bL._SX522_.jpg" alt="LA PURE Waterproof Eyeliner Stamp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/335pmlO">LA PURE Waterproof Eyeliner Stamp - 2 Wingliner Black Make Up Pens, Vamp Style Wing, Smudgeproof & Sweatproof,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.97</span><span class="ori_price">$13.97</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/335pmlO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YnoDxv"><img src="https://images-na.ssl-images-amazon.com/images/I/81lBMOQiVLL._SX522_.jpg" alt="Make-up Removing Cloths" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YnoDxv">Make-up Removing Cloths 4 Pack, Erase Your Face By Danielle Enterprises Enterprises Enterprises</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$11.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YnoDxv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="269.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31d2kru"><img src="https://images-na.ssl-images-amazon.com/images/I/61sRxWPVQZL._SX425_.jpg" alt="Tineco A11 Hero Cordless Stick Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31d2kru">Tineco A11 Hero Cordless Stick Vacuum Cleaner 450W Digital Motor Up to 60 Minutes Dual Charging Powerhouse,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$269.99</span><span class="ori_price">$299.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31d2kru">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yzkz8M"><img src="https://images-na.ssl-images-amazon.com/images/I/51iPnvhLIvL._SX522_.jpg" alt="Bio Bidet SlimGlow Simple Bidet..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yzkz8M">Bio Bidet SlimGlow Simple Bidet Toilet Attachment in White with Dual Nozzle, Fresh Water Spray, Non Electric,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.99</span><span class="ori_price">$103.07</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yzkz8M">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="9.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KbrNvM"><img src="https://images-na.ssl-images-amazon.com/images/I/71CDjHDyT7L._SX679_.jpg" alt="Correction Tape" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KbrNvM">American Tombow 68721 Tombow Mono Hybrid Correction Tape, 10-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.71</span><span class="ori_price">$26.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KbrNvM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yyJVJl"><img src="https://images-na.ssl-images-amazon.com/images/I/91tt5zCf0HL._SX425_.jpg" alt="BISSELL Refresh Manual Sweeper" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yyJVJl">BISSELL Refresh Manual Sweeper - Pirouette, 2199</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yyJVJl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="9.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yBs1Ww"><img src="https://images-na.ssl-images-amazon.com/images/I/71eHBB7UVFL._SX522_.jpg" alt="OrthoDoc's Gel Arch Support Brace" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yBs1Ww">OrthoDoc's Gel Arch Support Brace for Flat Feet Men & Women - Plantar Fasciitis Sleeve Pair - Planters Fasciitis Massager...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.95</span><span class="ori_price">$14.45</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yBs1Ww">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2T5tI7R"><img src="https://images-na.ssl-images-amazon.com/images/I/61x2-N8ea%2BL._SX679_.jpg" alt="SanDisk 64GB Cruzer Force Flash Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2T5tI7R">SanDisk 64GB Cruzer Force Flash Drive - USB 2.0 - SDCZ71-064G-B35</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.99</span><span class="ori_price">$12.06</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2T5tI7R">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="249.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YE7dbp"><img src="https://images-na.ssl-images-amazon.com/images/I/71bXBvZbg2L._SX679_.jpg" alt="Samsung The Space WQHD LED Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YE7dbp">Samsung S27R750 27-Inch The Space WQHD LED Monitor (LS27R750UENXZA)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$249.99</span><span class="ori_price">$399.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YE7dbp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="15.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zw7C0G"><img src="https://images-na.ssl-images-amazon.com/images/I/31cc0C4rHvL.jpg" alt="Ozeri OW02A-B Nouveaux Electric Wine Opener" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zw7C0G">Ozeri OW02A-B Nouveaux Electric Wine Opener with Removable Free Foil Cutter, Elegant Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.44</span><span class="ori_price">$25.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zw7C0G">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2T6E4oe"><img src="https://images-na.ssl-images-amazon.com/images/I/71MbQTc5OEL._SX679_.jpg" alt="Ninja Air Fryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
  
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$129.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="48.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KcX7do"><img src="https://images-na.ssl-images-amazon.com/images/I/714hFSDGtSL._SX569_.jpg" alt="GE RPWFE Refrigerator Water Filter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KcX7do">GE RPWFE Refrigerator Water Filter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.74</span><span class="ori_price">$62.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KcX7do">Shop Now at Amazon</a></div>
</div>