<div class="card clearfix" data-score="75" data-price="164.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XHHOkJ"><img src="https://images-na.ssl-images-amazon.com/images/I/515cR1uRzxL._SY679_.jpg" alt="Apple iPhone 6S" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,955 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XHHOkJ">Apple iPhone 6S, GSM Unlocked, 64GB - Silver (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$164.99</span><span class="ori_price">$659.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XHHOkJ">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="25" data-price="54.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LyZzvX"><img src="https://images-na.ssl-images-amazon.com/images/I/61XWgRQJ0ML._SX679_.jpg" alt="Anker Roav DashCam C1" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,357 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LyZzvX">Anker Roav DashCam C1, Car Driving Recorder with Sony Sensor, 1080p FHD, Wide Angle Dash Cam, Wi-Fi, G-Sensor, WDR, Loop Recording,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.39</span><span class="ori_price">$72.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LyZzvX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="12.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LGc6xA"><img src="https://images-na.ssl-images-amazon.com/images/I/71QeIdBBuNL._SX522_.jpg" alt="Banana Boat Sunscreen Sport Performance" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>496 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LGc6xA">Banana Boat Sunscreen Sport Performance, Broad Spectrum Sunscreen Spray - SPF 50 - 6 Ounce Twin Pack </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.47</span><span class="ori_price">$18.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LGc6xA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jap1GF"><img src="https://images-na.ssl-images-amazon.com/images/I/61f8vGotNrL._SX522_.jpg" alt="NIVEA Men DEEP Active Clean Body Wash" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,108 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jap1GF">NIVEA Men DEEP Active Clean Body Wash - 8-hour Fresh Scent with Natural Charcoal - 16.9 fl. oz. Bottle (Pack of 3) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.77</span><span class="ori_price">$17.97</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jap1GF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEHzk5"><img src="https://images-na.ssl-images-amazon.com/images/I/A1sA2vVQGgL._SY879_.jpg" alt="Timbuk2 Command Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>211 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEHzk5">Timbuk2 Command Laptop Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$129.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LEHzk5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xvcHtW"><img src="https://images-na.ssl-images-amazon.com/images/I/71LVaoDOnUL._UX679_.jpg" alt="Oakley Men's Voyage 23l Roll Top Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xvcHtW">Oakley Men's Voyage 23l Roll Top Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.99</span><span class="ori_price">$120.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xvcHtW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="37.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xqJ2C4"><img src="https://images-na.ssl-images-amazon.com/images/I/91gUdyHXbyL._UY741_.jpg" alt="Herschel Supply Co." /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xqJ2C4">Herschel Supply Co. Little America Youth Children's Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.75</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xqJ2C4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J9hzvh"><img src="https://images-na.ssl-images-amazon.com/images/I/71Nu%2Bt8OmoL._UX522_.jpg" alt="Under Armour Men's Hoodie" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>129 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J9hzvh">Under Armour Men's Armourfleece Spectrum Pull Over Hoodie</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.50</span><span class="ori_price">$55.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J9hzvh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="28.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XOeoRK"><img src="https://images-na.ssl-images-amazon.com/images/I/71zQwWDDjUL._SX679_.jpg" alt="ZAGG Slim Book Ultrathin Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>721 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28.99% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XOeoRK">ZAGG Slim Book Ultrathin Case, Hinged with Detachable Bluetooth Keyboard for Apple iPad mini 2 / iPad mini 3 - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.99</span><span class="ori_price">$55.38</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XOeoRK">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="70" data-price="8.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LAOxq6"><img src="https://m.media-amazon.com/images/I/71iL4WdraXL._AC_UL436_.jpg" alt="iFrogz Audio" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>253 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LAOxq6">iFrogz Audio - Plugz Wireless Bluetooth Earbuds - Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.93</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LAOxq6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/308V6V2"><img src="https://images-na.ssl-images-amazon.com/images/I/81thvabU-GL._SX679_.jpg" alt="Fosmon Travel Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>116 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/308V6V2">Fosmon Travel Pillow, Soft and Comfortable Memory Foam Travel Neck Pillow,Head and Chin Support Neck Cushion,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/308V6V2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDv3Bn"><img src="https://images-na.ssl-images-amazon.com/images/I/71tZf65csVL._SX679_.jpg" alt="Memory Foam Travel Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>157 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDv3Bn">Cabeau Evolution Classic Memory Foam Travel Pillow Neck Pillow | Airplane Pillow | 360 Degree Support...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LDv3Bn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="12.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XpQywo"><img src="https://images-na.ssl-images-amazon.com/images/I/616bPlQz5OL._SX522_.jpg" alt="Chef's Star 15 Ounce Stemless Wine Glasses Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>583 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XpQywo">Chef's Star 15 Ounce Stemless Wine Glasses Set - Classic Durable Wine Cups Ideal for All Occasions...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.69</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XpQywo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="59.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmxGP5"><img src="https://images-na.ssl-images-amazon.com/images/I/6108z1eABtL._SX522_.jpg" alt="Portable Car Jump Starter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>245 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmxGP5">Beatit BT-D11 800A Peak 18000mAh 12V Portable Car Jump Starter (up to 7.5L Gas Or 5.5L Diesel)...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.49</span><span class="ori_price">$72.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XmxGP5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XfEdGg"><img src="https://images-na.ssl-images-amazon.com/images/I/71pA-8YRBXL._SX679_.jpg" alt="Memory Foam Adjustable Footrest" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>531 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XfEdGg">Kensington Comfort Memory Foam Adjustable Footrest (K56144USF)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XfEdGg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J7JITJ"><img src="https://images-na.ssl-images-amazon.com/images/I/51G-dwxReLL.jpg" alt="Unicorn Eclipse Pro Bristle Dartboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>193 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J7JITJ">Unicorn Eclipse Pro Bristle Dartboard </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$42.49</span><span class="ori_price">$85.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J7JITJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LxzoG4"><img src="https://images-na.ssl-images-amazon.com/images/I/81f%2BiHc4nzL._SX679_.jpg" alt="Zeppoli Electric Kettle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>584 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LxzoG4">Zeppoli Electric Kettle - Glass Tea Kettle (1.7L) Fast Boiling and Cordless, Stainless Steel Finish Hot Water Kettle...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LxzoG4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="26.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J7cq6X"><img src="https://images-na.ssl-images-amazon.com/images/I/81ynDQYiCxL._SX679_.jpg" alt="Playpen Hogh Panels for Dogs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>837 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J7cq6X">Playpen Hogh Panels for Dogs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.88</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J7cq6X">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KUKSDQ"><img src="https://images-na.ssl-images-amazon.com/images/I/913Gx5cfkeL._SX522_.jpg" alt="LEGO Marvel Super Heroes Avengers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>154 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KUKSDQ">LEGO Marvel Super Heroes Avengers: Infinity War Sanctum Sanctorum Showdown 76108 Building Kit (1004 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KUKSDQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3088ZTa"><img src="https://images-na.ssl-images-amazon.com/images/I/91tejum7ARL._SX522_.jpg" alt="LEGO Marvel Super Heroes Avengers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>204 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3088ZTa">LEGO Marvel Super Heroes Avengers: Infinity War Thanos: Ultimate Battle 76107 Guardians of the Galaxy Starship Action Construction Toy and Building Kit for Kids (674 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3088ZTa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmZhuh"><img src="https://images-na.ssl-images-amazon.com/images/I/91p2B0zxmxL._SX522_.jpg" alt="LEGO Marvel Avengers Iron Man" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>49 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmZhuh">LEGO Marvel Avengers Iron Man Hall of Armor 76125 Building Kit (524 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XmZhuh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="220.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/302S44k"><img src="https://images-na.ssl-images-amazon.com/images/I/519AkRwE2pL._SX679_.jpg" alt="August Smart Lock Pro" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,359 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/302S44k">August Smart Lock Pro + Connect, 3rd gen technology - Silver, works with Alexa</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$220.99</span><span class="ori_price">$279.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/302S44k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/326nSar"><img src="https://images-na.ssl-images-amazon.com/images/I/51erJ1k7xpL._SX679_.jpg" alt="August Smart Lock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>877 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/326nSar">August Smart Lock, 3rd Gen technology - Silver, Works with Alexa</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/326nSar">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="143.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xo6Aae"><img src="https://images-na.ssl-images-amazon.com/images/I/71pmqBzOjxL._SX522_.jpg" alt="Samsung Galaxy Tab E 9.6"" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xo6Aae">Samsung Galaxy Tab E 9.6" 16GB Black Wi-Fi SM-T560NZKUXAC</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$143.80</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xo6Aae">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJneQU"><img src="https://images-na.ssl-images-amazon.com/images/I/51P2-XNgCCL._SX679_.jpg" alt="Amazfit Bip Smartwatch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>3,716 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XJneQU">Amazfit Bip Smartwatch by Huami with All-Day Heart Rate and Activity Tracking, Sleep Monitoring, GPS,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XJneQU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="12.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3275sXa"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2BN2PWxc1L._SX679_.jpg" alt="Cell Phone Holder for Car" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,975 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3275sXa">Cell Phone Holder for Car, Car Phone Mount Holder Dashboard Car Pad Mat for iPhone Xs XS Max X 8 8 Plus 7 SE 6s 6...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.76</span><span class="ori_price">$16.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3275sXa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/309P0n0"><img src="https://images-na.ssl-images-amazon.com/images/I/71vhCaHhHTL._SX522_.jpg" alt="Echo (2nd Generation)" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>45,136 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/309P0n0">Echo (2nd Generation) - Smart speaker with Alexa - Charcoal Fabric</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/309P0n0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="45.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30bajEL"><img src="https://images-na.ssl-images-amazon.com/images/I/71Fxmk2GAYL._UY741_.jpg" alt="Casio Men's G-shock " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,008 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30bajEL">Casio Men's G-shock DW5600E-1V Shock Resistant Black Resin Sport Watch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.99</span><span class="ori_price">$69.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30bajEL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J4YgmR"><img src="https://images-na.ssl-images-amazon.com/images/I/51GEsNhFHYL._UX535_.jpg" alt="Under Armour Men's Ignite V Slide Sandal" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,712 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J4YgmR">Under Armour Men's Ignite V Slide Sandal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J4YgmR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="98.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEXhvc"><img src="https://images-na.ssl-images-amazon.com/images/I/51mpVX56AJL._UX679_.jpg" alt="Michael Kors Slim Runway Men's Dress Wrist Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>166 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEXhvc">Michael Kors Slim Runway Men's Dress Wrist Watch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$98.98</span><span class="ori_price">$195.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LEXhvc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJJ9HJ"><img src="https://images-na.ssl-images-amazon.com/images/I/91bA9a0DduL._UX569_.jpg" alt="Calvin Klein Steel Micro Boxer Briefs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,026 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XJJ9HJ">Calvin Klein Steel Micro Boxer Briefs(Size: M)<br />*Lower price available on select options</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.50</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XJJ9HJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJolA4"><img src="https://images-na.ssl-images-amazon.com/images/I/61vRD36sd%2BL._UY679_.jpg" alt="adidas Men's Underwear" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,300 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XJolA4">adidas Men's Sport Performance Climalite Boxer Brief Underwear (2 Pack, Size: M)<br />*Lower price available on select options</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$26.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XJolA4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="9.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ly03CI"><img src="https://images-na.ssl-images-amazon.com/images/I/91X-vVpzaXL._UX679_.jpg" alt="Champion Men's Classic Jersey Script T-Shirt" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>480 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ly03CI">Champion Men's Classic Jersey Script T-Shirt(Large)<br />*Lower price available on select options</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.98</span><span class="ori_price">$19.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ly03CI">Shop Now at Amazon</a></div>
</div>