<div class="card clearfix" data-score="20" data-price="239.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z1T51o"><img src="https://images-na.ssl-images-amazon.com/images/I/41YezDmGggL.jpg" alt="Lenovo wt-81FY000SUS 300e Winbook Touchscreen LCD 2 in 1 Notebook" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z1T51o"><span>Amazon Deal Of The Day:</span> Lenovo wt-81FY000SUS 300e Winbook Touchscreen LCD 2 in 1 Notebook, Windows 10 Pro,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$239.99</span><span class="ori_price">$299.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z1T51o">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="122.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z9Ypy8"><img src="https://images-na.ssl-images-amazon.com/images/I/81RMBwEfajL._SX679_.jpg" alt="Brushless Induction Electric Pressure Washer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z9Ypy8"><span>Amazon Deal Of The Day:</span> Sun Joe SPX3500 2300-PSI 1.48 GPM Brushless Induction Electric Pressure Washer, w/Brass Hose Connector</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$122.99</span><span class="ori_price">$244.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z9Ypy8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z7dKvs"><img src="https://images-na.ssl-images-amazon.com/images/I/81GzRAE3x%2BL._SX679_.jpg" alt="Arbily Smart Watches 2019 Version" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z7dKvs">Arbily Smart Watches 2019 Version, Smartwatch with Heart Rate Monitor Smart Watches for Android iOS Phone,Activity Tracking...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$42.49</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z7dKvs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="10.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KG7hCk"><img src="https://images-na.ssl-images-amazon.com/images/I/91RGWbZckqL._SX679_.jpg" alt="Kitchen Weight Scale" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KG7hCk">Etekcity EK6314 Kitchen Weight Scale, 11 lbs, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.95</span><span class="ori_price">$18.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KG7hCk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLRBHI"><img src="https://images-na.ssl-images-amazon.com/images/I/7100KiQ7XcL._SX679_.jpg" alt="AUKEY Table Lamp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLRBHI">AUKEY Table Lamp, Touch Sensor Bedside Lamps + Dimmable Warm White Light & Color Changing RGB for Bedrooms</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$44.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YLRBHI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33CJ8pa"><img src="https://images-na.ssl-images-amazon.com/images/I/91-gDiLj3hL._SX522_.jpg" alt="Pure Enrichment PureRelief XL King Size Heating Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33CJ8pa">Pure Enrichment PureRelief XL King Size Heating Pad (Turquoise Blue) - Fast-Heating Machine-Washable Pad - 6 Temperature Settings,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33CJ8pa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yYFnft"><img src="https://images-na.ssl-images-amazon.com/images/I/71lprXHznaL._SX522_.jpg" alt="FosPower Emergency Solar Hand Crank Portable Radio" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yYFnft">FosPower Emergency Solar Hand Crank Portable Radio, NOAA Weather Radio for Household and Outdoor Emergency with AM/FM, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yYFnft">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="36.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H8bkXk"><img src="https://images-na.ssl-images-amazon.com/images/I/61SIiKVkNkL._SX679_.jpg" alt="Cuisinart HM-50 Power Advantage 5-Speed Hand Mixer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H8bkXk">Cuisinart HM-50 Power Advantage 5-Speed Hand Mixer, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.46</span><span class="ori_price">$54.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H8bkXk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ha64lQ"><img src="https://images-na.ssl-images-amazon.com/images/I/812HkpELWCL._SX679_.jpg" alt="Ginsu Gourmet Chikara Series Forged 8-Piece Japanese Steel Knife Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ha64lQ">Ginsu Gourmet Chikara Series Forged 8-Piece Japanese Steel Knife Set – Cutlery Set with 420J Stainless Steel Kitchen Knives – Bamboo Finish Block, 07108DS</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ha64lQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="4.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Lip89"><img src="https://images-na.ssl-images-amazon.com/images/I/61FUDUAWGGL._SX522_.jpg" alt="Master Lock 1505D Locker Lock Combination Padlock 1 Pack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Lip89">Master Lock 1505D Locker Lock Combination Padlock 1 Pack, Assorted Colors</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.75</span><span class="ori_price">$6.93</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Lip89">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="16.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KyTaA8"><img src="https://images-na.ssl-images-amazon.com/images/I/81s1xTGne5L._SX522_.jpg" alt="X-ACTO Electric Sharpener" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KyTaA8">X-ACTO Electric Sharpener, Two-Tone Silver/Gray (1900)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.17</span><span class="ori_price">$27.96</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KyTaA8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Za2u5q"><img src="https://images-na.ssl-images-amazon.com/images/I/71p54VpYPuL._SX679_.jpg" alt="Anker Soundcore Liberty Neo Wireless Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Za2u5q">Anker Soundcore Liberty Neo Wireless Bluetooth Earbuds, Graphene Drivers, Pumping Bass, Secure Fit, Bluetooth 5.0 Headphones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Za2u5q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="11.73">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6jFkc"><img src="https://images-na.ssl-images-amazon.com/images/I/71IZvjfpQ2L._SY550_.jpg" alt="Coleman FreeFlow AUTOSEAL Insulated Stainless Steel Water Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6jFkc">Coleman FreeFlow AUTOSEAL Insulated Stainless Steel Water Bottle</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.73</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z6jFkc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="3.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YNGbmR"><img src="https://images-na.ssl-images-amazon.com/images/I/71AAm9RZ8nL._SX522_.jpg" alt="Listerine Freshburst Antiseptic Mouthwash" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YNGbmR">Listerine Freshburst Antiseptic Mouthwash with Germ-Killing Oral Care Formula to Fight Bad Breath, Plaque and Gingivitis, 500 mL </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.97</span><span class="ori_price">$5.25</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YNGbmR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="16.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YSGuNa"><img src="https://images-na.ssl-images-amazon.com/images/I/81DEN5vvqTL._SX425_.jpg" alt="JoyJolt Serene Double Walled Insulated Glasses" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YSGuNa">JoyJolt Serene Double Walled Insulated Glasses Coffee Mug (Set of 2) 7.4 Ounces</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.10</span><span class="ori_price">$25.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YSGuNa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KyUFOM"><img src="https://images-na.ssl-images-amazon.com/images/I/61yIk4D21LL._SX425_.jpg" alt="Bobble Classic, water bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KyUFOM">Bobble Classic, water bottle, filtered water, reusable water bottle, BPA-Free plastic bottle, soft touch carry cap,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.99</span><span class="ori_price">$22.24</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KyUFOM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="32.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31PHxuz"><img src="https://images-na.ssl-images-amazon.com/images/I/71FnWioWbuL._SY741_.jpg" alt="Cuisinart CSB-75BC Smart Stick" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31PHxuz">Cuisinart CSB-75BC Smart Stick 200 Watt 2 Speed Hand Blender, Brushed Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.59</span><span class="ori_price">$44.83</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31PHxuz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="13.67">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H83jS5"><img src="https://images-na.ssl-images-amazon.com/images/I/61pcLcSPyML._SX522_.jpg" alt="Heat Eye Mask for Sleeping" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H83jS5">Heat Eye Mask for Sleeping, Dry Puffy Eyes, Dark Circles, Heated Eye Mask for Travel, Spa Stye treatment,Disposable...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.67</span><span class="ori_price">$19.97</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H83jS5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="74" data-price="20.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H79INy"><img src="https://images-na.ssl-images-amazon.com/images/I/7117RaydmpL._SX679_.jpg" alt="Handsfree Bluetooth Car Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>74% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H79INy">Handsfree Bluetooth Car Kit AUTO Power ON Visor with Motion Sensor, Wirefree Hands in Car Speakerphone Kits for Smartphone Devices...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.89</span><span class="ori_price">$80.89</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H79INy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H62olm"><img src="https://images-na.ssl-images-amazon.com/images/I/51GcJ9HNE7L.jpg" alt="Hutzler 571 Banana Slicer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H62olm">Hutzler 571 Banana Slicer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.99</span><span class="ori_price">$9.77</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H62olm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="43.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KDr9HP"><img src="https://images-na.ssl-images-amazon.com/images/I/618qC6zHIiL._SX522_.jpg" alt="Revlon One-Step Hair Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KDr9HP">Revlon One-Step Hair Dryer & Volumizer Hot Air Brush, Black </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.20</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KDr9HP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KDrOsN"><img src="https://images-na.ssl-images-amazon.com/images/I/513wGgL885L._SX569_.jpg" alt="Yoozon Selfie Stick Tripod Bluetooth" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KDrOsN">Yoozon Selfie Stick Tripod Bluetooth, Extendable Phone Tripod Selfie Stick with Wireless Remote Shutter for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KDrOsN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="12.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ha94id"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2B7xNBmUeL._SX425_.jpg" alt="Led Clip Reading Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ha94id">Led Clip Reading Light, Raniaco Daylight 12 LEDs USB Rechargeable Reading Lamp-3 Brightness,Touch Switch Bedside Book ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.69</span><span class="ori_price">$22.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ha94id">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H6bcaA"><img src="https://images-na.ssl-images-amazon.com/images/I/71RJV52eCBL._SX522_.jpg" alt="Glass Nail File with Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H6bcaA">Glass Nail File with Case, Professional Crystal Nail Files, Double Sided by Bona Fide Beauty (Black Cobalt) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H6bcaA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="8.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H9Pxyx"><img src="https://images-na.ssl-images-amazon.com/images/I/71Z9yyaOXyL._SX425_.jpg" alt="Milk-Bone Flavor Snacks" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H9Pxyx">Milk-Bone Flavor Snacks Dog Biscuits-Small/Medium-Sized Dogs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.35</span><span class="ori_price">$19.62</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H9Pxyx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YQE7KQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71UI8YdVf%2BL._SX425_.jpg" alt="BISSELL 2X Pet Stain & Odor Portable Machine Formula" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YQE7KQ">BISSELL 2X Pet Stain & Odor Portable Machine Formula, 32 ounces, 74R7</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$22.86</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YQE7KQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YSHzoc"><img src="https://images-na.ssl-images-amazon.com/images/I/81n9vZLnhtL._SX425_.jpg" alt="Andis Ultra Edge Size" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YSHzoc">Andis Ultra Edge Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$33.82</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YSHzoc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="40.31">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kyt93K"><img src="https://images-na.ssl-images-amazon.com/images/I/71NPjttOcqL._SX522_.jpg" alt="Kidde Nighthawk Plug-in Carbon Monoxide" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kyt93K">Kidde Nighthawk Plug-in Carbon Monoxide & Explosive Gas Detector Alarm with Digital Display | Model KN-COEG-3</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.31</span><span class="ori_price">$65.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kyt93K">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="35.57">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HlTu3l"><img src="https://images-na.ssl-images-amazon.com/images/I/51wQJ1fAQML._SX425_.jpg" alt="Kidde Sealed Lithium Battery" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HlTu3l">Kidde Sealed Lithium Battery Power Carbon Monoxide Alarm with Digital Display C3010D</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.57</span><span class="ori_price">$52.97</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HlTu3l">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="19.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H9RSJF"><img src="https://images-na.ssl-images-amazon.com/images/I/71xSa6h3CmL._SX522_.jpg" alt="Kidde Tamper Resistant Plug-In Carbon" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H9RSJF">Kidde Tamper Resistant Plug-In Carbon Monoxide Detector Alarm with Battery Backup | Model KNCOB-DP2</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.47</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H9RSJF">Shop Now at Amazon</a></div>
</div>