<div class="card dealofday clearfix" data-score="67" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2y9UylM"><img src="https://images-na.ssl-images-amazon.com/images/I/51DwXEQCqrL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Sabe Up to 67% off more on electric shaver
</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/30SCtVq">Electric Razor for Men,FLYCO Electric Shavers...</a> - <span>17.49<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/32Swp0Z">Shaving Electric Cordless With Pop-up Trimmer...</a> - <span>18.19<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2SE0ugl">Rotary Razors Electric Shavers for Men Waterproof... </a> - <span>19.99<em>59.99</em></span></li>
            <li><a href="https://amzn.to/2y9UylM">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2y9UylM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="20.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YvBdtQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71rt%2BiBqIJL._SX522_.jpg" alt="HIEIE Sonic Electric Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>49 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YvBdtQ">HIEIE Sonic Electric Toothbrush, USB Rechargeable Toothbrush Travel with 2 Replacement Heads, 5 Brushing Modes...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.22</span><span class="ori_price">$32.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YvBdtQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="21.23">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ykofeg"><img src="https://images-na.ssl-images-amazon.com/images/I/51wKM1EZNBL._SX522_.jpg" alt="Baby Thermometer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>14 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ykofeg">Baby Thermometer, URWILL Medical Forehead and Ear Thermometer, Infrared Digital Temporal Thermometer for Fever,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.23</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ykofeg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="9" data-price="299.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTKCUc"><img src="https://images-na.ssl-images-amazon.com/images/I/61ndwk9f8DL._SX522_.jpg" alt="Samsung Galaxy Tab A 10.1" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>155 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>9% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTKCUc">Samsung Galaxy Tab A 10.1 128 GB WiFi Tablet Black (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$329.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JTKCUc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="410.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOmeWj"><img src="https://images-na.ssl-images-amazon.com/images/I/718ICn8vZTL._SX522_.jpg" alt="LG 27UK850-W 27inch 4K UHD IPS Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>130 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOmeWj">LG 27UK850-W 27" 4K UHD IPS Monitor with HDR10 with USB Type-C Connectivity and FreeSync</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$410.69</span><span class="ori_price">$649.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOmeWj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yrwk55"><img src="https://images-na.ssl-images-amazon.com/images/I/61ysa5b%2BqnL._SX522_.jpg" alt="Watermelon Windmill Slicer Cutter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yrwk55">Watermelon Windmill Slicer Cutter 304 Stainless Steel-Melon Cubes Cutter, 7 in 1 Watermelon Salad Cut Tools Pack,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.49</span><span class="ori_price">$16.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yrwk55">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="288.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ZjpVw"><img src="https://images-na.ssl-images-amazon.com/images/I/71tnP2q6e4L._SX679_.jpg" alt="Bio Bidet Bidet Toilet Seat" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>934 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ZjpVw">Bio Bidet Ultimate BB-600 Advanced Bidet Toilet Seat, Elongated White. Easy DIY Installation, Luxury Features...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$288.00</span><span class="ori_price">$359.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30ZjpVw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="299.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/316o5JF"><img src="https://images-na.ssl-images-amazon.com/images/I/611oAadsi0L._SX522_.jpg" alt="Samsung Electronics HMD Odyssey" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>108 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/316o5JF">Samsung Electronics HMD Odyssey + Windows Mixed Reality Headset with 2 Wireless Controllers 3.5" Black (XE800ZBA-HC1US)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.00</span><span class="ori_price">$499.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/316o5JF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTYduK"><img src="https://images-na.ssl-images-amazon.com/images/I/619J93cHRkL._SX522_.jpg" alt="Yooband power Pull Up Resistance Assistance Exercise Bands" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>47 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTYduK">Yooband power Pull Up Resistance Assistance Exercise Bands, Heavy Duty Single Band-for Power Training, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.49</span><span class="ori_price">$15.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JTYduK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="120.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SH3Df7"><img src="https://images-na.ssl-images-amazon.com/images/I/71wVWfAdVkL._SX679_.jpg" alt="Pet Plus Bagless Upright Vacuum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>188 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SH3Df7">Hoover UH73220PC React Professional Pet Plus Bagless Upright Vacuum, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$120.99</span><span class="ori_price">$239.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SH3Df7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="10.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SMeVyY"><img src="https://images-na.ssl-images-amazon.com/images/I/91soWdDXhSL._SX522_.jpg" alt="Toy Story 4 Ducky Bunny Scented Friendship" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>11 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SMeVyY">Toy Story 4 Ducky Bunny Scented Friendship 11" Plush</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.30</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SMeVyY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SI7TuN"><img src="https://images-na.ssl-images-amazon.com/images/I/71sBjbHYbKL._SY606_.jpg" alt="Beats Solo3 Wireless On-Ear Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,143 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SI7TuN">Beats Solo3 Wireless On-Ear Headphones - Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.99</span><span class="ori_price">$299.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SI7TuN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="749.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTCxyN"><img src="https://images-na.ssl-images-amazon.com/images/I/51-oeeCf1zL._SX679_.jpg" alt="Apple 13" MacBook Air" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>375 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTCxyN">Apple 13" MacBook Air (1.8GHz dual-core Intel Core i5, 8GB RAM, 128GB SSD) - Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$749.99</span><span class="ori_price">$999.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JTCxyN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="697.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTPh8E"><img src="https://images-na.ssl-images-amazon.com/images/I/91GMSrYPaHL._SX679_.jpg" alt="SamsungFlat 65inch 4K UHD" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>235 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTPh8E">Samsung UN65RU7100FXZA Flat 65'' 4K UHD 7 Series Smart TV (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$697.99</span><span class="ori_price">$899.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JTPh8E">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="503.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JRd9ti"><img src="https://images-na.ssl-images-amazon.com/images/I/519-ZpwHqhL._SX522_.jpg" alt="AMD Ryzen Threadripper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JRd9ti">AMD Ryzen Threadripper 2920X (12-Core/24-Thread) Processor 4.3 GHz Max Boost 38MB Cache (YD292XA8AFWOF)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$503.27</span><span class="ori_price">$649.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JRd9ti">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="26.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SF4ddm"><img src="https://images-na.ssl-images-amazon.com/images/I/81IJRxdP9FL._UX679_.jpg" alt="JanSport Superbreak Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,720 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SF4ddm">JanSport Superbreak Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.92</span><span class="ori_price">$36.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SF4ddm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YeY0pO"><img src="https://images-na.ssl-images-amazon.com/images/I/91h2GZmXwnL._UX679_.jpg" alt="Nike Brasilia Duffel Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>311 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YeY0pO">Nike Brasilia Duffel Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.00</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YeY0pO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="41.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MheP15"><img src="https://images-na.ssl-images-amazon.com/images/I/91ng8kw%2BinL._SY879_.jpg" alt="Timbuk2 Q Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>187 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MheP15">Timbuk2 Q Laptop Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$41.24</span><span class="ori_price">$99.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MheP15">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="47.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/312SqbX"><img src="https://images-na.ssl-images-amazon.com/images/I/81TyG258b3L._SX522_.jpg" alt="LEGO Star Wars 6212784 0 Building Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>40 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/312SqbX">LEGO Star Wars 6212784 0 Building Kit, Multicolor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.10</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/312SqbX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="135.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/312VCV3"><img src="https://images-na.ssl-images-amazon.com/images/I/91ULkUW6CKL._SX522_.jpg" alt="LEGO Star Wars Solo:" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>114 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/312VCV3">LEGO Star Wars Solo: A Star Wars Story Kessel Run Millennium Falcon 75212 Building Kit and Starship Model Set,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$135.99</span><span class="ori_price">$169.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/312VCV3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSCF1h"><img src="https://images-na.ssl-images-amazon.com/images/I/71DDxRspFDL._SX679_.jpg" alt="Logitech Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,546 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSCF1h">Logitech G502 Proteus Spectrum RGB Tunable Gaming Mouse, 12,000 DPI On-The-Fly DPI Shifting, Personalized Weight...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$84.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JSCF1h">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="379.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YlRehY"><img src="https://images-na.ssl-images-amazon.com/images/I/91RWvX7RWqL._SX679_.jpg" alt="TCL ...HD Roku Smart LED TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>947 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YlRehY">TCL 55S517 55-Inch 4K Ultra HD Roku Smart LED TV (2018 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$379.99</span><span class="ori_price">$699.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YlRehY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHor5C"><img src="https://images-na.ssl-images-amazon.com/images/I/91GgRQjMOmL._SX522_.jpg" alt="Bosch Screwdriving Custom Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>699 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHor5C">Bosch 24 Piece Impact Tough Screwdriving Custom Case System Set SDMS24</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$17.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHor5C">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="16.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ybSUjF"><img src="https://images-na.ssl-images-amazon.com/images/I/619Hsf7dLIL._SX522_.jpg" alt="Coffee Grinder Electric" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>45 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ybSUjF">Coffee Grinder Electric, IKICH 120V Powerful Blade Coffee Bean & Spice Grinder with 12 Cups Large Grinding Capacity,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.14</span><span class="ori_price">$25.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ybSUjF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="33.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSJ4JV"><img src="https://images-na.ssl-images-amazon.com/images/I/61Wa6BPvo5L._SX679_.jpg" alt="Wireless Earbuds GUSGU Bluetooth 5.0 Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>55 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSJ4JV">Wireless Earbuds GUSGU Bluetooth 5.0 Earbuds Noise Cancelling Waterproof Wireless Headphones 145H Cycle...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JSJ4JV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="269.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHJYLD"><img src="https://images-na.ssl-images-amazon.com/images/I/81G0mAwT0DL._SX522_.jpg" alt="SanDisk 2TB Extreme Portable External SSD" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,032 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHJYLD">SanDisk 2TB Extreme Portable External SSD - USB-C, USB 3.1 - SDSSDE60-2T00-G25</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$269.99</span><span class="ori_price">$699.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHJYLD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="28.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SCM7Zq"><img src="https://images-na.ssl-images-amazon.com/images/I/91GxL%2BIYxBL._SX679_.jpg" alt="OtterBox DEFENDER SERIES Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>6,513 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SCM7Zq">OtterBox DEFENDER SERIES Case for iPhone 8 Plus & iPhone 7 Plus (ONLY) - Retail Packaging - BLACK</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.70</span><span class="ori_price">$59.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SCM7Zq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="157.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yfHGdT"><img src="https://images-na.ssl-images-amazon.com/images/I/51GnlfDT6mL._SX522_.jpg" alt="Arlo Pro 2" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,139 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yfHGdT">Arlo Pro 2 – (1) Add-on Camera | Rechargeable, Night vision, Indoor/Outdoor, HD Video 1080p, Two-Way Talk,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$157.27</span><span class="ori_price">$219.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yfHGdT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30SJ4PG"><img src="https://images-na.ssl-images-amazon.com/images/I/511oTEjFdNL.jpg" alt="BLACK+DECKER LD120VA 20-Volt Max" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,322 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30SJ4PG">BLACK+DECKER LD120VA 20-Volt Max Lithium Drill/Driver with 30 Accessories - Orange</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$99.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30SJ4PG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32WMZgz"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2BaLmn1HIL._SX679_.jpg" alt="Car Phone Mount Phone Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>89 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32WMZgz">Car Phone Mount Phone Holder for Car,Easy One Touch Design Cell Phone Holder for...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.49</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32WMZgz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30UFDYR"><img src="https://images-na.ssl-images-amazon.com/images/I/81lxQgJ8B6L._SX522_.jpg" alt="Razer BlackWidow Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>181 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30UFDYR">Razer BlackWidow TE Chroma v2 Mechanical Gaming Keyboard: Green Key Switches - Tactile & Clicky - Chroma RGB Lighting...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$139.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30UFDYR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30WnrOu"><img src="https://images-na.ssl-images-amazon.com/images/I/814QUB6TbZL._SX679_.jpg" alt="iPEGTOP Roll-Up Dish Drying Rack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>79 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30WnrOu">iPEGTOP Roll-Up Dish Drying Rack and Utensil Dishware Holders, Foldable Multipurpose Over Sink Dish Drainer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30WnrOu">Shop Now at Amazon</a></div>
</div>