<div class="card clearfix" data-score="19" data-price="64.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31F5cym"><img src="https://images-na.ssl-images-amazon.com/images/I/61-xHNC16kL._SX522_.jpg" alt="HyperX Cloud Pro Gaming Headset" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>1,590 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31F5cym">HyperX Cloud Pro Gaming Headset - Silver - with in-Line Audio Control for PS4, Xbox One, and PC (HX-HSCL-SR/NA)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31F5cym">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="599.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IUytww"><img src="https://images-na.ssl-images-amazon.com/images/I/71br6lyzhuL._SX522_.jpg" alt="Dell LED-Lit Monitor" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>701 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IUytww">Dell UltraSharp U3415W 34-Inch Curved LED-Lit Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$599.99</span><span class="ori_price">$799.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IUytww">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="13" data-price="287.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31KKSLV"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZmBLp42BL._SX522_.jpg" alt="Samsung Galaxy Tab A 10.1" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>63 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31KKSLV">Samsung Galaxy Tab A 10.1 128 GB WiFi Tablet Silver (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$287.99</span><span class="ori_price">$329.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31KKSLV">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="26" data-price="259.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RpVxXz"><img src="https://images-na.ssl-images-amazon.com/images/I/41-UD94ZNGL.jpg" alt="iPad Mini 4" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>193 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RpVxXz">iPad Mini 4 (32GB, Space Gray)(Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$259.00</span><span class="ori_price">$349.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RpVxXz">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="31" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HB1qn"><img src="https://images-na.ssl-images-amazon.com/images/I/71GrhWQzjCL._SX679_.jpg" alt="Laptop Cooler" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>950 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HB1qn">TopMate TM-3 12-15.6" Five Quite Fans LCD Screen 2500RPM Strong Wind Speed Designed Gaming Laptop Cooler</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.99</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31HB1qn">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="8" data-price="79.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rl3lKe"><img src="https://images-na.ssl-images-amazon.com/images/I/71yD71uioWL._SX522_.jpg" alt="Ember Temperature Control Ceramic Mug" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>1,048 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>8% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rl3lKe">Ember Temperature Control Ceramic Mug, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.95</span><span class="ori_price">$86.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Rl3lKe">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="34" data-price="39.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MW0GZ3"><img src="https://images-na.ssl-images-amazon.com/images/I/61IhchG1ZuL._SX522_.jpg" alt="LectroFan Evo White Noise Sound Machine" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>5,690 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MW0GZ3">LectroFan Evo White Noise Sound Machine with 22 Unique Non-Looping Fan & White Noise Sounds & Sleep Timer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.83</span><span class="ori_price">$59.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MW0GZ3">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IUAJUw"><img src="https://images-na.ssl-images-amazon.com/images/I/81bnac%2BZJiL._SX522_.jpg" alt="Kinsa Smart Thermometer" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>460 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IUAJUw">Kinsa Smart Thermometer for Fever - Digital Medical Baby, Kid and Adult Termometro - Accurate, Fast, FDA Cleared Thermometer for Oral, Armpit or...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IUAJUw">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="9" data-price="40.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FjNDKI"><img src="https://images-na.ssl-images-amazon.com/images/I/815Q28CycuL._SX522_.jpg" alt="Dark Spot Corrector Serum" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>1,117 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>9% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FjNDKI">Dark Spot Corrector Serum for Even Skin Tone by Olay ProX, with Vitamin B3 & Sea Kelp Extract, 1.3 Fl Oz </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.98</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FjNDKI">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="11" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ISvPay"><img src="https://images-na.ssl-images-amazon.com/images/I/91wDcfIZetL._SX679_.jpg" alt="Bath Tub Drain Protector" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>227 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ISvPay">TubShroom Ultra Revolutionary Bath Tub Drain Protector Hair Catcher/Strainer/Snare, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$18.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ISvPay">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WUF1Al"><img src="https://images-na.ssl-images-amazon.com/images/I/91gqgxPs9kL._SY741_.jpg" alt="Watch Ya' Mouth Original Mouthpiece Game" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>2,571 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WUF1Al">Watch Ya' Mouth Original Mouthpiece Game - The Hilarious Family and Party Game</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WUF1Al">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="38.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IrryvR"><img src="https://images-na.ssl-images-amazon.com/images/I/51Hz9oPk94L._SX679_.jpg" alt="Rocketbook" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>3,752 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IrryvR">Rocketbook Everlast Executive and Mini Wirebound Notebook with 2 Pilot FriXion pens and 2 microfiber cloths, Neptune Teal (EVR EM K CCE)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$38.40</span><span class="ori_price">$48.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IrryvR">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="42" data-price="23.13">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IqrMD8"><img src="https://images-na.ssl-images-amazon.com/images/I/61pcP1AIOuL._SY679_.jpg" alt="NutraChamps Korean Red Panax Ginseng" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>2,685 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IqrMD8">NutraChamps Korean Red Panax Ginseng 1000mg - 120 Vegan Capsules Extra Strength Root Extract Powder Supplement w/High Ginsenosides for Energy,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.13</span><span class="ori_price">$39.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IqrMD8">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="24" data-price="18.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XmGjbs"><img src="https://images-na.ssl-images-amazon.com/images/I/81TU%2BiUHFML._SX522_.jpg" alt="DIM Supplement 200mg" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>3,235 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XmGjbs">DIM Supplement 200mg - DIM Diindolylmethane Plus BioPerine 60-Day Supply of DIM for Estrogen Balance, Hormone Menopause Relief, Acne...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.95</span><span class="ori_price">$24.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XmGjbs">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="62" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IPgwzm"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2BKzdcpQ3L._SX522_.jpg" alt="Premium Keto Diet Pills" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>907 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IPgwzm">Premium Keto Diet Pills - Utilize Fat for Energy with Ketosis - Boost Energy & Focus, Manage Cravings, Support Metabolism</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.00</span><span class="ori_price">$52.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IPgwzm">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ip8IoV"><img src="https://images-na.ssl-images-amazon.com/images/I/61NH%2B2PVmbL._SX522_.jpg" alt="Best Keto Diet" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>2,348 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ip8IoV">Best Keto Diet - Weight Loss Supplements to Burn Fat Fast - Boost Energy and Metabolism - Ketosis Supplement for Women and Men - Best Keto Diet</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ip8IoV">Shop Now at Amazon</a>
  </div>
</div>

<div class="card dealofday clearfix" data-score="20" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IoIcMh"><img src="https://images-na.ssl-images-amazon.com/images/I/512ZHKARKbL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IoIcMh">Amazon Deal Of The Day: Save up to 20% on Memory Foam Mattresses & Pillows</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Mattress</p>
          <ul>
            <li><a href="https://amzn.to/2Rtk66g">Sweetnight Queen Mattress-Queen Size Mattress</a> - <span>350.04<em>438.00</em></span></li>
            <li><a href="https://amzn.to/2XqL03S">Queen Mattress- Sweetnight Queen Size Gel Memory...</a> - <span>286.40<em>358.00</em></span></li>
            <li><a href="https://amzn.to/31HzW1K">Sweetnight 10 Inch King Mattress In a Box</a> - <span>367.20<em>459.00</em></span></li>
          </ul>
        </li>
        <li>
          <p>Pillows</p>
          <ul>
            <li><a href="https://amzn.to/2Xfs8oH">Shredded Gel Memory Foam Pillow with Removable...</a> - <span>33.59<em>41.99</em></span></li>
            <li><a href="https://amzn.to/31GTvY8">Adjustable Bamboo Charcoal Shredded Memory...</a> - <span>43.19<em>53.99</em></span></li>
            <li><a href="https://amzn.to/2IoIcMh">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IoIcMh">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="345.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rkoh42"><img src="https://images-na.ssl-images-amazon.com/images/I/81d6T2wk9rL._SX522_.jpg" alt="Signature Sleep Mattress" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>1,682 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rkoh42">Signature Sleep Mattress, King Mattress, 13 Inch Hybrid Coil Mattress, Soft, King</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$345.60</span><span class="ori_price">$578.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Rkoh42">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="21" data-price="299.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Jf4XK"><img src="https://images-na.ssl-images-amazon.com/images/I/61qxKOIg9jL._SX425_.jpg" alt="Toshiba Smart TV" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>4,579 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Jf4XK">Toshiba 50LF621U19 50-inch 4K Ultra HD Smart LED TV HDR - Fire TV Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$380.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31Jf4XK">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="43" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rtm32A"><img src="https://images-na.ssl-images-amazon.com/images/I/81mzF1WnHiL._SX522_.jpg" alt="White Noise Sound Machine" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>2,336 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rtm32A">Marpac Rohm Portable White Noise Sound Machine, Electronic, White, 3.7 Ounce </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$34.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Rtm32A">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="125.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZwgMtH"><img src="https://images-na.ssl-images-amazon.com/images/I/71aYbx0GxDL._SX522_.jpg" alt="Espresso Maker" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>160 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZwgMtH">Nespresso VertuoPlus Coffee and Espresso Maker by De'Longhi, Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$125.99</span><span class="ori_price">$179.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZwgMtH">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="57" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KqKjS1"><img src="https://images-na.ssl-images-amazon.com/images/I/61LhZFJAU1L._SX679_.jpg" alt="Chef's Classic Stainless 10-Inch Open Skillet" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>240 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KqKjS1">Cuisinart 722-24 Chef's Classic Stainless 10-Inch Open Skillet</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.99</span><span class="ori_price">$60.00</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KqKjS1">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="14" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IpWVGM"><img src="https://images-na.ssl-images-amazon.com/images/I/51kvBXgqcRL._SX522_.jpg" alt="TP-Link PoE Switch Gigabit 8 Port" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>2,802 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>14% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IpWVGM">TP-Link PoE Switch Gigabit 8 Port | 4 Port PoE 55W | 802.3af Compliant | Shielded Ports | Traffic Optimization | Plug and Play | Sturdy Metal (TL-SG1008P)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$69.97</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IpWVGM">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="27" data-price="5.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FjYRPf"><img src="https://images-na.ssl-images-amazon.com/images/I/51UCpJEnBbL._SX522_.jpg" alt="Creamy Matte Lipstick" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>1,311 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FjYRPf">Maybelline Color Sensational Creamy Matte Lipstick, Touch of Spice, 0.15 oz.</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.48</span><span class="ori_price">$7.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FjYRPf">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="62" data-price="33.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FkA8KV"><img src="https://images-na.ssl-images-amazon.com/images/I/6178XLtKF5L._SX679_.jpg" alt="Deep Dream L1 Fingerprint Lock" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>39 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FkA8KV">Deep Dream L1 Fingerprint Lock,Bag Padlock with Metal IP66 Waterproof,Suitable for Gym Locker,School Locker Lock,Backpack,Suitcase,Travel Luggage</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.99</span><span class="ori_price">$89.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FkA8KV">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="30.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NbPEz9"><img src="https://images-na.ssl-images-amazon.com/images/I/81vmq4Mi-wL._SX679_.jpg" alt="Bulk Toilet Paper" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>133 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NbPEz9">Cottonelle Professional Ultrasoft Bulk Toilet Paper for Business (12456), Standard Toilet Paper Rolls, 48 Rolls/Case for Business (4 Packs of 12)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.09</span><span class="ori_price">$35.39</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2NbPEz9">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="32" data-price="74.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XjR3Y9"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZAEJ2-MWL._SX522_.jpg" alt="GoSports Cornhole Bean Bag Toss Game Set" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>1,231 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XjR3Y9">GoSports Cornhole Bean Bag Toss Game Set - Superior Aluminum Frame (American Flag, Football, LED and Classic designs)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.60</span><span class="ori_price">$109.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XjR3Y9">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="21" data-price="54.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XoGiUu"><img src="https://images-na.ssl-images-amazon.com/images/I/819j7e4CGCL._SX522_.jpg" alt="2TB External Hard Drive" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>60 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XoGiUu">Seagate Backup Plus Slim 2TB External Hard Drive Portable HDD – Silver USB 3.0 for PC Laptop and Mac, 1 year Mylio Create, 2 Months Adobe CC Photography</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XoGiUu">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="14" data-price="429.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZxoELC"><img src="https://images-na.ssl-images-amazon.com/images/I/81K3dwUw32L._SX522_.jpg" alt="Samsung Space 4K UHD Monitor" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>29 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>14% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZxoELC">Samsung S32R750 32-Inch The Space 4K UHD Monitor (LS32R750UENXZA)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$429.99</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZxoELC">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FjLw9M"><img src="https://images-na.ssl-images-amazon.com/images/I/614zX3ZD76L._SX522_.jpg" alt="NURSAL TENS Unit Muscle Stimulator" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>3,651 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FjLw9M">NURSAL TENS Unit Muscle Stimulator with 8 Electrodes Pads Rechargeable Electronic Pulse Massager Machine for Pain Relief & Arthritis & Muscle Stiffness,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FjLw9M">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="59.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZBbLQv"><img src="https://images-na.ssl-images-amazon.com/images/I/71NYpxCIwbL._SX522_.jpg" alt="LifeStraw Go Water Filter Bottles" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>2,072 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZBbLQv">LifeStraw Go Water Filter Bottles with 2-Stage Integrated Filter Straw for Hiking, Backpacking, and Travel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.96</span><span class="ori_price">$74.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZBbLQv">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="16.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZwiRG1"><img src="https://images-na.ssl-images-amazon.com/images/I/91xmj%2Ba04VL._SX522_.jpg" alt="ALEX Toys Craft Eco Crafts Scrapbook" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-5.jpg' %>">
      <p>108 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZwiRG1">ALEX Toys Craft Eco Crafts Scrapbook</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.92</span><span class="ori_price">$22.50</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div>
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZwiRG1">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ip3sl6"><img src="https://images-na.ssl-images-amazon.com/images/I/91zbS%2Be3CkL._SX679_.jpg" alt="Twisted Chef BBQ Grill Mats" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>878 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ip3sl6">Twisted Chef BBQ Grill Mats Non Stick - Best for Charcoal and Gas Grills - Essential Grill Accessories and Barbecue Tools - Set of 3 Sheets</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.95</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ip3sl6">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="280.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IpYUec"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/2085395b-277f-4603-b350-5f85d3d504b0._SL300__.png" alt="GAEMS VANGUARD Personal Gaming Environment" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>481 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IpYUec">GAEMS VANGUARD Personal Gaming Environment for Xbox One S, Xbox One, PS4, PS3, Xbox 360 (Consoles Not Included) - Xbox One by GAEMS</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$280.00</span><span class="ori_price">$349.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IpYUec">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="37" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXmkfD"><img src="https://images-na.ssl-images-amazon.com/images/I/81wY59NVZVL._SX522_.jpg" alt="Cuisinart TOB-1010 Toaster Oven Broiler" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4.jpg' %>">
      <p>17 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXmkfD">Cuisinart TOB-1010 Toaster Oven Broiler, 14" x 15.75" x 14", Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$111.93</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MXmkfD">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="38" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IqtJiX"><img src="https://images-na.ssl-images-amazon.com/images/I/71azoIqjUyL._SX679_.jpg" alt="Screen Protector " /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-4_5.jpg' %>">
      <p>11,425 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IqtJiX">JETech Screen Protector for Apple iPhone 8 Plus and iPhone 7 Plus, 5.5-Inch, Case Friendly, Tempered Glass Film, 2-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.99</span><span class="ori_price">$7.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IqtJiX">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RrwTGm"><img src="https://images-na.ssl-images-amazon.com/images/I/71qHo8yyHTL._SX522_.jpg" alt="Handy Label Maker" /></a>
    <div class="rating">
      <img src="<%= asset_path 'star-3_5.jpg' %>">
      <p>545 Amazon Reviews</p>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RrwTGm">Brother P-touch, PTM95, Handy Label Maker, 9 Type Styles, 8 Deco Mode Patterns, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RrwTGm">Shop Now at Amazon</a>
  </div>
</div>

