<div class="card clearfix" data-score="40" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LV7ogo"><img src="https://images-na.ssl-images-amazon.com/images/I/61SZz17X2wL._SX522_.jpg" alt="Ninja 1000 Watts Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>448 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LV7ogo"><span>Amazon Deal Of The Day:</span> Ninja 1000 Watts Blender NJ600, Silver/Black, 72 Oz (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.99</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LV7ogo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YyoYwR"><img src="https://images-na.ssl-images-amazon.com/images/I/61YRS6sov%2BL._SX679_.jpg" alt="BOXLEGEND V2 shirt folding board" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,364 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YyoYwR">BOXLEGEND V2 shirt folding board t shirts clothes folder durable plastic laundry folders folding boards flipfold,Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$16.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YyoYwR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yu8kja"><img src="https://images-na.ssl-images-amazon.com/images/I/41DvDmXT80L.jpg" alt="Polder Style Station" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,256 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yu8kja">Polder Style Station, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.89</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yu8kja">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="28.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GFt4sC"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZSRA3lPRL._SX679_.jpg" alt="SONGMICS Monitor Stand Riser..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>386 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GFt4sC">SONGMICS Monitor Stand Riser with Storage Organizer Office Computer Desk Laptop Cellphone TV Printer Stand Desktop...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.99</span><span class="ori_price">$37.39</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GFt4sC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SVRSlc"><img src="https://images-na.ssl-images-amazon.com/images/I/61GIxxfDvKL._SX679_.jpg" alt="Mpow Flame Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>15,665 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SVRSlc">Mpow Flame Bluetooth Headphones Waterproof IPX7, Wireless Earbuds Sport, Richer Bass HiFi Stereo in-Ear Earphones w/Case,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SVRSlc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yuoB7H"><img src="https://images-na.ssl-images-amazon.com/images/I/71v4SKQTpEL._SX522_.jpg" alt="Headache Hat" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,063 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yuoB7H">Headache Hat - The Original Wearable Ice Pack for Migraine Headaches and Tension Relief - Regular Size </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yuoB7H">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yuI2gG"><img src="https://images-na.ssl-images-amazon.com/images/I/61zSqUbJSWL._SX522_.jpg" alt="Neck Massager" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yuI2gG">Neck Massager - 3D Shiatsu Pillow Massager Infrared Heat, Versatile Deep Kneading Massage for Ultimate Stress Pain Relief,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yuI2gG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="11.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SUxNM2"><img src="https://images-na.ssl-images-amazon.com/images/I/61p%2BROszdAL._SX522_.jpg" alt="Elevation Lab The Anchor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,065 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SUxNM2">Elevation Lab The Anchor, Under - Desk Headphone Stand Mount</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.95</span><span class="ori_price">$19.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SUxNM2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="27.66">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LUB1yD"><img src="https://images-na.ssl-images-amazon.com/images/I/81CM7-euVEL._SX679_.jpg" alt="Contigo AUTOSEAL Chill Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>153 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LUB1yD">Contigo AUTOSEAL Chill Water Bottle, 20 oz, SS/Scuba & AUTOSEAL West Loop Travel Mug, 16 oz, 2-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.66</span><span class="ori_price">$36.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LUB1yD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="299.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/310vpq2"><img src="https://images-na.ssl-images-amazon.com/images/I/61ixSNCDxPL._SX679_.jpg" alt="LEVOIT Purifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>117 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/310vpq2">LEVOIT Purifier for Home Large Room with True HEPA Filter Air Cleaner for Allergies and Pets, Smokers, Mold, Pollen,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$399.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/310vpq2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="84.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LSBlhm"><img src="https://images-na.ssl-images-amazon.com/images/I/61IV2BdMpNL._SX522_.jpg" alt="Dining Kitchen Table" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>91 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LSBlhm">Dining Kitchen Table Dining Set Marble Rectangular Breakfast Wood Dining Room Table Set Table and Chair for 2</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$84.99</span><span class="ori_price">$159.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LSBlhm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="32.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/316xrF4"><img src="https://images-na.ssl-images-amazon.com/images/I/51%2BZZDb09kL._SX679_.jpg" alt="1MORE Dual Driver in-Ear Earphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>193 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/316xrF4">1MORE Dual Driver in-Ear Earphones Hi-Res Comfortable Headphones with Tangle-Free Cable, Noise Isolation,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.40</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/316xrF4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="42.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIf6kk"><img src="https://images-na.ssl-images-amazon.com/images/I/51HmOM%2BPQtL._SX679_.jpg" alt="GRC Bluetooth Wireless Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>43 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIf6kk">GRC Bluetooth Wireless Earbuds 5.0 Headphones, 18H Playtime Stereo Deep Bass w/Mic, Sport Wireless Touch Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$42.00</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YIf6kk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="13.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OxgORC"><img src="https://images-na.ssl-images-amazon.com/images/I/51UqCsp1z0L._SX679_.jpg" alt="Smart Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>59 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OxgORC">Smart Plug, Gosund 16A Smart Outlet Compatible with Alexa, Google Home, IFTTT for Voice Control, No Hub Required,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.72</span><span class="ori_price">$23.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OxgORC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GC4EjS"><img src="https://images-na.ssl-images-amazon.com/images/I/71KCjVpo-lL._SX679_.jpg" alt="SKATCO Pots and Pans Organizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>19 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GC4EjS">SKATCO Pots and Pans Organizer – Metal Pan Organizer Rack – Pantry & Kitchen Cabinet Organizer – Heavy Duty Lids, Dishes,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.49</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GC4EjS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SVzwkg"><img src="https://images-na.ssl-images-amazon.com/images/I/71xalsTz0LL._SX522_.jpg" alt="Modern Innovations Knife Bar" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,638 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SVzwkg">Modern Innovations 16 Inch Stainless Steel Magnetic Knife Bar with Multipurpose Use as Knife Holder, Knife Rack, Knife Strip...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.49</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SVzwkg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="13.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/318z6tS"><img src="https://images-na.ssl-images-amazon.com/images/I/81yOUXhyvsL._SX522_.jpg" alt="kools Food Chopper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>262 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/318z6tS">kools Food Chopper - Clever Stainless Steel Knife with Cutting Board Built-in – Use for Quick and Easy Cutting...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.39</span><span class="ori_price">$20.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/318z6tS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="34.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OH1NMS"><img src="https://images-na.ssl-images-amazon.com/images/I/71bL-0VXpRL._SX679_.jpg" alt="Tactica Multitool" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>77 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OH1NMS">Tactica Multitool M100 - TSA compliant, Tech Friendly, Strong and Lightweight with 2 x 1/4 inch Driver Heads included...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.95</span><span class="ori_price">$39.95</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OH1NMS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YwRY3P"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2Bh3sktVmL._SX522_.jpg" alt="Posture Corrector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,786 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YwRY3P">Posture Corrector For Men And Women - USA Designed Adjustable Upper Back Brace For Clavicle Support and ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YwRY3P">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="122.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SUr0C8"><img src="https://images-na.ssl-images-amazon.com/images/I/81oBwDlQs0L._SX522_.jpg" alt="Sapphire 11266-04-20G Radeon Pulse..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>30 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SUr0C8">Sapphire 11266-04-20G Radeon Pulse RX 570 4GB GDDR5 Dual HDMI/ DVI-D/ Dual DP OC with Backplate (UEFI) PCI-E Graphics Card</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$122.99</span><span class="ori_price">$209.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SUr0C8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SWqYtF"><img src="https://images-na.ssl-images-amazon.com/images/I/81UHDoaUKrL._SX522_.jpg" alt="Sabrent Ultra Slim USB 2.0" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,723 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SWqYtF">Sabrent Ultra Slim USB 2.0 to 2.5-Inch SATA External Aluminum Hard Drive Enclosure [Black] (EC-UK25)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SWqYtF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="46.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQIfn6"><img src="https://images-na.ssl-images-amazon.com/images/I/81Ka1l0gAWL._SX679_.jpg" alt="Rand McNally Tire Pressure Monitoring System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQIfn6">Rand McNally 052801613X Tire Pressure Monitoring System</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.90</span><span class="ori_price">$79.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQIfn6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="21.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YARzl1"><img src="https://images-na.ssl-images-amazon.com/images/I/51J1bP7COWL.jpg" alt="Ideaworks JB6032 Slide Out Storage Tower" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,510 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YARzl1">Ideaworks JB6032 Slide Out Storage Tower</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.15</span><span class="ori_price">$39.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YARzl1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBkHom"><img src="https://images-na.ssl-images-amazon.com/images/I/61XPFesfgbL.jpg" alt="Ikee Design Acrylic Jewelry & Cosmetic Storage" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7,457 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBkHom">Ikee Design Acrylic Jewelry & Cosmetic Storage Display Boxes, 9.4 x 5.4 x 7.2 inches, 1 1 Top 4 Drawers</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$28.10</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YBkHom">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="18.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQulS1"><img src="https://images-na.ssl-images-amazon.com/images/I/91BQpyT1NjL._SX522_.jpg" alt="Wilton Bake-Even Strips" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>677 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQulS1">Wilton Bake-Even Strips, Takes Baking to the Next Level, Keeps Cakes More Level and Prevents Crowning with Cleaner Edges...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.01</span><span class="ori_price">$25.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQulS1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="5.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OxzQr6"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2B8xSmdeAL._SX425_.jpg" alt="Scott 75143 Scott Shop Towels" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>267 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OxzQr6">Scott 75143 Scott Shop Towels, Blue (3 Rolls, 55 towels/roll, 165 towels total)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.48</span><span class="ori_price">$16.39</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OxzQr6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQJ2V6"><img src="https://images-na.ssl-images-amazon.com/images/I/81lTpt4mq5L._SX522_.jpg" alt="Targus VersaVu Slim 360-Degree Rotating Tablet Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,966 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQJ2V6">Targus VersaVu Slim 360-Degree Rotating Tablet Case for iPad Mini 1/2/3/4, Black (THZ594GL)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.49</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQJ2V6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="8.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M0nrKf"><img src="https://images-na.ssl-images-amazon.com/images/I/71300%2BLB4pL._SY879_.jpg" alt="Texas Instruments 2-Line Scientific Calculator" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>116 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M0nrKf">Texas Instruments TI30XIISWHITE 2-Line Scientific Calculator</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.97</span><span class="ori_price">$17.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2M0nrKf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YsoLLJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61WCH-5CtZL._SX679_.jpg" alt="Jada Dc Comic 1989 Batmobile" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>99 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YsoLLJ">Jada Dc Comic 1989 Batmobile with 2.75" Batman Metals Diecast Vehicle with Figure, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YsoLLJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="13.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LTpxeu"><img src="https://images-na.ssl-images-amazon.com/images/I/71wbBf1tbxL._SX522_.jpg" alt="WaterVault Neoprene Bottle Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>313 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LTpxeu">WaterVault Neoprene Bottle Holder, Adjustable Detachable Strap, Shoulder Sling & Hand Carrier Available in 2 Sizes: Regular...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.46</span><span class="ori_price">$14.95</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LTpxeu">Shop Now at Amazon</a></div>
</div>