<div class="card clearfix" data-score="29" data-price="199.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YfUNq8"><img src="https://images-na.ssl-images-amazon.com/images/I/519C-V7bGsL._SX522_.jpg" alt="Apple Watch Series 3" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,399 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YfUNq8">Apple Watch Series 3 (GPS, 38mm) - Space Gray Aluminium Case with Black Sport Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.00</span><span class="ori_price">$279.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YfUNq8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="579.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yaj8gM"><img src="https://images-na.ssl-images-amazon.com/images/I/718AF7Jl7fL._AC_SR300,300_.jpg" alt="Apple iPad Pro" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>674 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yaj8gM">Apple iPad Pro (10.5-inch, Wi-Fi + Cellular, 64GB) - Silver (Previous Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$579.00</span><span class="ori_price">$779.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yaj8gM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="269.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JW2DQA"><img src="https://images-na.ssl-images-amazon.com/images/I/41sLLpQGR2L.jpg" alt="ECOVACS DEEBOT 711 Robot Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>62 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JW2DQA">ECOVACS DEEBOT 711 Robot Vacuum Cleaner with Smart Navi 2.0, Systematic Mapping Cleaning, Wi-Fi Connectivity,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$269.99</span><span class="ori_price">$445.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JW2DQA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="47.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZ5dij"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2BxfEBCHML._UX535_.jpg" alt="ASICS Men's GEL Venture 5 Running Shoe" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>10,056 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZ5dij"><span>Amazon Deal Of The Day:</span>ASICS Men's GEL Venture 5 Running Shoe</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.95</span><span class="ori_price">$59.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XZ5dij">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="47.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SwKhJE"><img src="https://images-na.ssl-images-amazon.com/images/I/81cYc9TWrpL._UX575_.jpg" alt="ASICS Women's GEL-Venture 5 Running Shoe" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>6,529 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SwKhJE"><span>Amazon Deal Of The Day:</span> ASICS Women's GEL-Venture 5 Running Shoe</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.95</span><span class="ori_price">$65.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SwKhJE">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="37" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XTZn1I"><img src="https://images-na.ssl-images-amazon.com/images/I/61bpHkfzEAL._SX679_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save up to 37% on PERLESMITH TV Wall Mounts and Stands</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2Y0S2xp">PERLESMITH Full Motion TV Wall Mount for ...</a> - <span>37.09<em>55.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Y4L060">Roll over image to zoom in Floating Wall... </a> - <span>20.29<em>30.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Yfy6X7">PERLESMITH Universal TV Stand - Table Top TV Stand </a> - <span>20.29<em>28.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Yaf5RH">PERLESMITH TV Wall Mount Bracket Full Motion...</a> - <span>31.45<em>49.99</em></span></li>
            <li><a href="https://amzn.to/2XTZn1I">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XTZn1I">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="31.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YagV53"><img src="https://images-na.ssl-images-amazon.com/images/I/51cgo0dgR9L._SX679_.jpg" alt="Double Wall Electric Tea Kettle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,929 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YagV53">Secura SWK-1701DBO Stainless Steel Double Wall Electric Tea Kettle w/Auto Shut-Off & Boil Dry Protection...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.59</span><span class="ori_price">$50.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YagV53">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZbV81"><img src="https://images-na.ssl-images-amazon.com/images/I/711HcWXiOGL._SX522_.jpg" alt="Parrot Mambo Fly" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>80 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZbV81">Parrot Mambo Fly - Code, Pilot and Play</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$109.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XZbV81">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="12.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ob5jix"><img src="https://images-na.ssl-images-amazon.com/images/I/A1E1LMFWo5L._SX522_.jpg" alt="Carhartt Insulated Soft-Sided Lunchbox" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>55 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ob5jix">Carhartt Insulated Soft-Sided Lunchbox, Carhartt Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.74</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ob5jix">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SAt2ar"><img src="https://images-na.ssl-images-amazon.com/images/I/81oOJNl%2BwdL._SX679_.jpg" alt="Cell Phone Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>5 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SAt2ar">Cell Phone Holder for car Cup Holder by Attainable Tech - Apple iPhone Mount Will Grip Phone with case Plus Works...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SAt2ar">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZYpBa"><img src="https://images-na.ssl-images-amazon.com/images/I/81dzJwu6D1L._SX522_.jpg" alt="Marshall Bluetooth Speaker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>27 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZYpBa">Marshall Stockwell II Portable Bluetooth Speaker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$249.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XZYpBa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="12.58">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Sv19k7"><img src="https://images-na.ssl-images-amazon.com/images/I/71r6FGThm9L._SX522_.jpg" alt="Stearns Puddle Jumper Kids Life Jacket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,782 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Sv19k7">Stearns Puddle Jumper Kids Life Jacket | Life Vest for Children</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.58</span><span class="ori_price">$26.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Sv19k7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="12.36">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LByfOp"><img src="https://images-na.ssl-images-amazon.com/images/I/81V%2BLJzQ1XL._SX522_.jpg" alt="Intex Explorer 200" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>413 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LByfOp">Intex Explorer 200</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.36</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LByfOp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="12.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SvMepP"><img src="https://images-na.ssl-images-amazon.com/images/I/71icCvGLCjL._SX522_.jpg" alt="Airbed" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>141 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SvMepP">Intex Dura-Beam Standard Series Deluxe Single-High Airbed</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.89</span><span class="ori_price">$35.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SvMepP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K2MpVN"><img src="https://images-na.ssl-images-amazon.com/images/I/818e1vgtDkL._SX679_.jpg" alt="Coleman Gas Stove" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,038 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K2MpVN">Coleman Gas Stove | Portable Bottletop Propane Camp Stove with Adjustable Burner</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K2MpVN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="21.52">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ybp7lm"><img src="https://images-na.ssl-images-amazon.com/images/I/71kdyq-NVnL._SY879_.jpg" alt="GigaTent Pop Up Pod Changing Room Privacy Tent" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>726 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ybp7lm">GigaTent Pop Up Pod Changing Room Privacy Tent – Instant Portable Outdoor Shower Tent, Camp Toilet, Rain Shelter...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.52</span><span class="ori_price">$49.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ybp7lm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="110.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32KZ6gn"><img src="https://images-na.ssl-images-amazon.com/images/I/71kuwELWwdL._SX522_.jpg" alt="Coleman 8-Person Tent for Camping" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,347 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32KZ6gn">Coleman 8-Person Tent for Camping | Elite Montana Tent with Easy Setup</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$110.00</span><span class="ori_price">$219.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32KZ6gn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="59.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4S1Uo"><img src="https://images-na.ssl-images-amazon.com/images/I/A1WgmF7ppbL._SX522_.jpg" alt="Carhartt Legacy Standard Work Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>162 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4S1Uo">Carhartt Legacy Standard Work Backpack with Padded Laptop Sleeve and Tablet Storage, Carhartt Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.49</span><span class="ori_price">$69.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y4S1Uo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32VbYki"><img src="https://m.media-amazon.com/images/I/71qzNf2FkjL._AC_UL320_.jpg" alt="Leather Anti-Theft RFID Wallet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>24 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32VbYki">Ben Sherman Kensington Collection Genuine Leather Anti-Theft RFID Wallet</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.49</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32VbYki">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="31.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWtvjp"><img src="https://images-na.ssl-images-amazon.com/images/I/6143B1%2Bj7aL._SX679_PIbundle-480,TopRight,0,0_AA679SH20_.jpg" alt="Water Resistant Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>616 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWtvjp">Tocode Water Resistant Laptop Backpack with USB Charging Port Headphone Port Fits up to 17-Inch Laptop Computer Backpacks...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.44</span><span class="ori_price">$36.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JWtvjp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32HJydk"><img src="https://images-na.ssl-images-amazon.com/images/I/51rZSAkvybL._SX679_.jpg" alt="Wireless Charge Pad" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>940 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32HJydk">mophie - Wireless Charge Pad - Apple Optimized - 7.5W Qi Wireless Technology for iPhone Xr, Xs Max, X / Xs, 8...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32HJydk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="8.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YjQZbs"><img src="https://images-na.ssl-images-amazon.com/images/I/619zmxebBzL._SX522_.jpg" alt="Beer and Soda can Bottle cooler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YjQZbs">Beer and Soda can Bottle cooler ORIUS Insulated Can Cooler Beverage Cooler Stainless Steel Cans & Bottles...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.50</span><span class="ori_price">$10.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YjQZbs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="7.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YlWA0H"><img src="https://images-na.ssl-images-amazon.com/images/I/81RzwDhjMcL._SY679_.jpg" alt="Gly-Oxide Liquid Antiseptic Oral Cleanser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>875 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YlWA0H">Gly-Oxide Liquid Antiseptic Oral Cleanser | Soothes Mouth Irritation | 2 FL OZ </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.59</span><span class="ori_price">$11.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YlWA0H">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="30.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SAB1Er"><img src="https://images-na.ssl-images-amazon.com/images/I/819EvrqjB9L._SX679_.jpg" alt="Stamina 36-Inch Folding Trampoline" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,858 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SAB1Er">Stamina 36-Inch Folding Trampoline | Quiet and Safe Bounce | Access to Free Online Workouts Included ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.49</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SAB1Er">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="10.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y9QEDZ"><img src="https://images-na.ssl-images-amazon.com/images/I/91BLMgd1iPL._SX522_.jpg" alt="Coleman FlipLid Personal Cooler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>758 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y9QEDZ">Coleman FlipLid Personal Cooler, 5 Quarts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.96</span><span class="ori_price">$22.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y9QEDZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="29.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SyeUyA"><img src="https://images-na.ssl-images-amazon.com/images/I/619DLHm0z2L._SX679_.jpg" alt="Lodge 3 Quart Cast Iron Combo Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,122 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SyeUyA">Lodge 3 Quart Cast Iron Combo Cooker. Pre-seasoned Cast Iron Skillet, Fryer, Dutch Oven, and Convertible Skillet/Griddle Lid</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.92</span><span class="ori_price">$62.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SyeUyA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SvQSnL"><img src="https://images-na.ssl-images-amazon.com/images/I/418RAYaGZEL.jpg" alt="Daisy B52 Slingshot" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>367 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>7.99% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SvQSnL">Daisy B52 Slingshot</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$18.12</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SvQSnL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="9.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K1710s"><img src="https://images-na.ssl-images-amazon.com/images/I/51eliS0q2sL._SX522_.jpg" alt="Zippo Matte Pocket Lighters" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,214 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K1710s">Zippo Matte Pocket Lighters</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.96</span><span class="ori_price">$12.45</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K1710s">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="12.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LB96U3"><img src="https://images-na.ssl-images-amazon.com/images/I/41S4F0uWavL.jpg" alt="Unstable Unicorns Base Game" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>636 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LB96U3">Unstable Unicorns Base Game</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.30</span><span class="ori_price">$20.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LB96U3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="36.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XZS1cY"><img src="https://images-na.ssl-images-amazon.com/images/I/81kj6KHQQPL._AC_SL1500_.jpg" alt="Pokemon: Let's Go, Eevee! by Nintendo" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>587 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XZS1cY">Pokemon: Let's Go, Eevee! by Nintendo</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.80</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XZS1cY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K071xE"><img src="https://images-na.ssl-images-amazon.com/images/I/61OAiZrM6FL._SY879_.jpg" alt="Thermos Funtainer 12 Ounce Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,532 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K071xE">Thermos F4013BL6 Funtainer 12 Ounce Bottle, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K071xE">Shop Now at Amazon</a></div>
</div>

