<div class="card clearfix" data-score="35" data-price="129.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yj6aT2"><img src="https://images-na.ssl-images-amazon.com/images/I/71omlPEzfCL._SX425_.jpg" alt="Bose Noise Cancelling Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,348 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yj6aT2">Bose QuietComfort 25 Acoustic Noise Cancelling Headphones for Apple devices - Black (wired)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.00</span><span class="ori_price">$198.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yj6aT2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="299.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YL9GoJ"><img src="https://images-na.ssl-images-amazon.com/images/I/91RWvX7RWqL._SX425_.jpg" alt="TCL HD Roku Smart LED TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,001 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YL9GoJ">TCL 49S517 49-Inch 4K Ultra HD Roku Smart LED TV (2018 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$599.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YL9GoJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="79.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YuReR5"><img src="https://images-na.ssl-images-amazon.com/images/I/51RlEcSVxsL._SX522_.jpg" alt="Apple Smart Keyboard for 10.5-inch iPad Pro" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>245 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YuReR5">Apple Smart Keyboard for 10.5-inch iPad Pro - US English</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.50</span><span class="ori_price">$159.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YuReR5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YCiEEl"><img src="https://images-na.ssl-images-amazon.com/images/I/71DDxRspFDL._SX679_.jpg" alt="Logitech Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,583 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YCiEEl">Logitech G502 Proteus Spectrum RGB Tunable Gaming Mouse, 12,000 DPI On-The-Fly DPI Shifting, Personalized Weight...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$$84.99 
</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YCiEEl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="45.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/336n2v2"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZT2j7%2B2jL._SX425_.jpg" alt="MARNUR Cervical Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>494 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/336n2v2">MARNUR 23.5×14.5×5.5 in Cervical Pillow Contour Memory Foam Orthopedic Pillow for Neck Pain Sleeping for Side Sleeper ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.99</span><span class="ori_price">$109.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/336n2v2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K8VAoS"><img src="https://images-na.ssl-images-amazon.com/images/I/71NJbSL8XHL._SX425_.jpg" alt="KobraTech Cell Phone Tripod" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,273 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K8VAoS">KobraTech Cell Phone Tripod TriFlex Mini Tripod for iPhone & Android Includes Bluetooth Remote Shutter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K8VAoS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="11.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yxyKAA"><img src="https://images-na.ssl-images-amazon.com/images/I/31XF9Xp3DlL.jpg" alt="Architec Recipe Rock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>787 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yxyKAA">Architec Recipe Rock, White, Magnetic Recipe Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.17</span><span class="ori_price">$12.41</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yxyKAA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="8.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/338l4u7"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZKkWAzr8L._SX522_.jpg" alt="Whiskware Pancake Batter Mixer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>474 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/338l4u7">Whiskware Pancake Batter Mixer with BlenderBall Wire Whisk</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.35</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/338l4u7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="34.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ysPpW6"><img src="https://images-na.ssl-images-amazon.com/images/I/91JEGON0EuL._SX679_.jpg" alt="Playz Electrical Circuit Board" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>12 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ysPpW6">Playz Electrical Circuit Board Engineering Kit for Kids with 25+ STEM Projects Teaching Electricity, Voltage, Currents,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.95</span><span class="ori_price">$59.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ysPpW6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/335PTiN"><img src="https://images-na.ssl-images-amazon.com/images/I/91AamAXdRIL._SX679_.jpg" alt="Premium Bamboo Utensil Drawer Organizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>171 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/335PTiN">Premium Bamboo Utensil Drawer Organizer - Expandable Cutlery Tray Silverware Holder with 2 Removable Knife Blocks</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/335PTiN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="9.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yj7PrK"><img src="https://images-na.ssl-images-amazon.com/images/I/51930x4qLZL.jpg" alt="Good Cushion Legging" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,474 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yj7PrK">Good Cushion Legging, Yoga or Stretch Pants. Organizes 6 Garments On a Single Hanger, 2 pc, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.86</span><span class="ori_price">$12.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yj7PrK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YnhCgg"><img src="https://images-na.ssl-images-amazon.com/images/I/61IXw1IRPJL._SX522_.jpg" alt="Teami Detox Face Scrub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>117 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YnhCgg">Teami Detox Face Scrub - with Green Tea - Exfoliate, Hydrate, and Moisturize All Skin Types </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YnhCgg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="46.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEsZvJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71oygbxrD0L._SX425_.jpg" alt="Playz 6-Piece Kids Play Tents" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>845 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEsZvJ">Playz 6-Piece Kids Play Tents Crawl Tunnels and Ball Pit Popup Bounce Playhouse Tent with Basketball Hoop for Indoor...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.70</span><span class="ori_price">$69.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEsZvJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZBJmu0"><img src="https://images-na.ssl-images-amazon.com/images/I/61zWteNjieL._SX679_.jpg" alt="Momentum WiFi Garage Door Opener" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>97 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZBJmu0">Momentum WiFi Garage Door Opener Controller with Built-in Camera, Android/iOS App, and Motion Detection</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$199.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZBJmu0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="13.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31cTbzb"><img src="https://images-na.ssl-images-amazon.com/images/I/81jofg5REML._SX522_.jpg" alt="DecoBros Kitchen Counter..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,460 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31cTbzb">DecoBros Kitchen Counter and Cabinet Pan Organizer Shelf Rack, Bronze</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.87</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31cTbzb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="22.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zqy5gg"><img src="https://images-na.ssl-images-amazon.com/images/I/91HeWtVLmdL._SX522_.jpg" alt="Hello Oral Care Activated Charcoal Fluoride" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,451 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zqy5gg">Hello Oral Care Activated Charcoal Fluoride Free and SLS Free Whitening Toothpaste Starter Kit with Extra Freshening ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.17</span><span class="ori_price">$25.29</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zqy5gg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZrxRW5"><img src="https://images-na.ssl-images-amazon.com/images/I/81JpGDERUML._UX679_.jpg" alt="Hanes Men's Pullover EcoSmart Fleece Hooded" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,928 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZrxRW5">Hanes Men's Pullover EcoSmart Fleece Hooded Sweatshirt</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.94</span><span class="ori_price">$27.26</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZrxRW5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="7.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YlN0fa"><img src="https://images-na.ssl-images-amazon.com/images/I/91crpv2PcsL._UX569_.jpg" alt="Hanes Men's Ecosmart Fleece Sweatshirt" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,509 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YlN0fa">Hanes Men's Ecosmart Fleece Sweatshirt</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.02</span><span class="ori_price">$11.83</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YlN0fa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="33.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZmVoaG"><img src="https://images-na.ssl-images-amazon.com/images/I/81fq34sxW%2BL._SX425_.jpg" alt="Teknor Apex Neverkink" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>2,444 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZmVoaG">Teknor Apex Neverkink, 8844-100, PRO Water Hose, 5/8-in x 100-feet</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.99</span><span class="ori_price">$68.30</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZmVoaG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="44.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/317DF7J"><img src="https://images-na.ssl-images-amazon.com/images/I/51Hs57HcHgL.jpg" alt="Lodge LPGI3 Pro-Grid Cast Iron Reversible ..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,474 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/317DF7J">Lodge LPGI3 Pro-Grid Cast Iron Reversible 20" x 10" Grill/Griddle Pan with Easy-Grip Handles 10" x 20"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.90</span><span class="ori_price">$88.94</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/317DF7J">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="96.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2T0AaNk"><img src="https://images-na.ssl-images-amazon.com/images/I/61RBIhxdT7L._SX522_.jpg" alt="Zinus Armita 9 Inch High Profile Smart Box Spring" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>6,016 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2T0AaNk">Zinus Armita 9 Inch High Profile Smart Box Spring / Mattress Foundation / Strong Steel Structure ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$96.14</span><span class="ori_price">$290.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2T0AaNk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="15.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yyDbLq"><img src="https://images-na.ssl-images-amazon.com/images/I/71szpWs1GDL._SX425_.jpg" alt="GE UltraPro Black Stealth Mobile TV Antenna" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>192 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yyDbLq">GE UltraPro Black Stealth Mobile TV Antenna, Perfect for Tailgating and Camping, Indoor, Outdoor, Attic, Long Range Antenna,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.47</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yyDbLq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="79" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZpNmO9"><img src="https://images-na.ssl-images-amazon.com/images/I/61nyS5%2BqUJL._SX425_.jpg" alt="Belkin AC1200 Dual Band AC Wireless Router" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>858 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>79% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZpNmO9">Belkin AC1200 Dual Band AC Wireless Router (F9K1123)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$89.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZpNmO9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ywr6Xb"><img src="https://images-na.ssl-images-amazon.com/images/I/61OBcHa4VmL._SY879_.jpg" alt="APC 11-Outlet Surge Protector Power Strip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,188 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ywr6Xb">APC 11-Outlet Surge Protector Power Strip with USB Charging Ports, 2880 Joules, SurgeArrest Home/Office (P11U2)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ywr6Xb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="11.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZpNsFv"><img src="https://images-na.ssl-images-amazon.com/images/I/41KuwE79iBL.jpg" alt="Folex Carpet Spot Remover" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,351 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZpNsFv">Folex Carpet Spot Remover, 32 oz</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.18</span><span class="ori_price">$16.40</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZpNsFv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LVZ3cn"><img src="https://images-na.ssl-images-amazon.com/images/I/71Q-FxgL2qL._SY679_.jpg" alt="Avon SKIN-SO-SOFT Bug Guard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,979 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LVZ3cn">Avon SKIN-SO-SOFT Bug Guard PLUS IR3535® Insect Repellent Moisturizing Lotion - SPF 30 Gentle Breeze, 4 oz </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LVZ3cn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LY3HXi"><img src="https://images-na.ssl-images-amazon.com/images/I/91ys9dN58SL._SX679_.jpg" alt="Columbia PFG Flat Brim Ball Cap" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>51 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LY3HXi">Columbia PFG Flat Brim Ball Cap, Breathable, Adjustable</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.90</span><span class="ori_price">$25.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LY3HXi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yuuL7N"><img src="https://images-na.ssl-images-amazon.com/images/I/71LhrNqMpHL._SX522_.jpg" alt="Energizer Rechargeable AA and AAA Battery Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,402 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yuuL7N">Energizer Rechargeable AA and AAA Battery Charger (Recharge Pro) with 4 AA NiMH Rechargeable Batteries,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.19</span><span class="ori_price">$20.79</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yuuL7N">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="25.61">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KjGlZ3"><img src="https://images-na.ssl-images-amazon.com/images/I/514fmNSBYnL.jpg" alt="Rug Grippers X-PROTECTOR" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>395 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KjGlZ3">Rug Grippers X-PROTECTOR – Best 16 pcs Anti Curling Rug Gripper. Keeps Your Rug in Place & Makes Corners Flat....</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.61</span><span class="ori_price">$45.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KjGlZ3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="7.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YD6AyA"><img src="https://images-na.ssl-images-amazon.com/images/I/615weCKvzUL._SX522_.jpg" alt="Sammons Preston Reacher" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>167 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YD6AyA">Sammons Preston Reacher, Lightweight Blue 26" Long Handled Extension Grabber Tool, 6 oz. Handy Picker Up Tool and Reaching Claw, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.10</span><span class="ori_price">$16.05</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YD6AyA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="12.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZpG78Z"><img src="https://images-na.ssl-images-amazon.com/images/I/71o4%2B1-VdDL._SX679_.jpg" alt="Keurig 2.0 Thermal Carafe" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,256 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZpG78Z">Keurig 2.0 Thermal Carafe, 32oz Double-Walled, Vacuum-Insulated, Stainless Steel Carafe, Holds and Dispenses ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.95</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZpG78Z">Shop Now at Amazon</a></div>
</div>