<div class="card clearfix" data-score="60" data-price="39.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30gyykZ"><img src="https://images-na.ssl-images-amazon.com/images/I/71-y8ssSwwL._SY879_.jpg" alt="Sphero Orbotix 1B01RW1 Ollie App-Controlled Robot" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>349 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30gyykZ">Sphero Orbotix 1B01RW1 Ollie App-Controlled Robot</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.89</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30gyykZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="11.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDBnIY"><img src="https://images-na.ssl-images-amazon.com/images/I/51gS5zt1jwL._SX522_.jpg" alt="BMW Fusion Tumbler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>646 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDBnIY">BMW Fusion Tumbler - Black 14oz</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.00</span><span class="ori_price">$15.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LDBnIY">Shop Now at Amazon</a><p>run out of stock soon</p></div>
</div>

<div class="card clearfix" data-score="33" data-price="100.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JgEpBh"><img src="https://images-na.ssl-images-amazon.com/images/I/91Hb5oRXsPL._SX522_.jpg" alt="LEGO Technic Forest Machine" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>25 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JgEpBh">LEGO Technic Forest Machine 42080 Building Kit (1003 Pieces)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$100.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JgEpBh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="43.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30lwrwz"><img src="https://images-na.ssl-images-amazon.com/images/I/81t-gBB%2B2ZL._SX679_.jpg" alt="Flowtron BK-40D Electronic Insect Killer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>9,991 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30lwrwz">Flowtron BK-40D Electronic Insect Killer, 1 Acre Coverage</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.98</span><span class="ori_price">$64.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30lwrwz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XuxPzH"><img src="https://images-na.ssl-images-amazon.com/images/I/71GZiCyddvL._SX522_.jpg" alt="Etekcity Food Digital Kitchen Weight Scale" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9,350 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XuxPzH">Etekcity Food Digital Kitchen Weight Scale Grams and Ounces, Small, Backlit, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$18.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount with coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XuxPzH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="29.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xsrr7l"><img src="https://images-na.ssl-images-amazon.com/images/I/71rhhOxlWIL._SX679_.jpg" alt="EasyWring Microfiber Spin Mop" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7,012 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xsrr7l">O-Cedar EasyWring Microfiber Spin Mop, Bucket Floor Cleaning System</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.98</span><span class="ori_price">$37.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xsrr7l">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YCkmCz"><img src="https://images-na.ssl-images-amazon.com/images/I/71qIo1jITkL._SX522_.jpg" alt="Best Keto Diet Pills" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>280 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YCkmCz">(2 Pack | 120 Capsules) Best Keto Diet Pills with Carb Supplement - Exogenous Ketones - Approved Science Ketosis Women Men...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$30.00</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount with coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YCkmCz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="20.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKWrNw"><img src="https://images-na.ssl-images-amazon.com/images/I/612RTOn6KeL._SX522_.jpg" alt="Pure Hawaiian Spirulina..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,502 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKWrNw">Pure Hawaiian Spirulina-500mg Tablets 400ct - Better than Organic - Vegan, Non-GMO, Non-Irradiated - 100% Hawaii Grown ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.91</span><span class="ori_price">$26.14</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LKWrNw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="23.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YACHQl"><img src="https://images-na.ssl-images-amazon.com/images/I/818VB22zAFL._SX679_.jpg" alt="High Density Foam Pet Stairs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>101 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YACHQl">High Density Foam Pet Stairs 3 Steps with Machine Washable Zippered Removeable Micro-Fiber Cover with non-slip bottom by PETMAKER – Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.83</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YACHQl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JhtWpp"><img src="https://images-na.ssl-images-amazon.com/images/I/71Wfz9LS6xL._SX522_.jpg" alt="Stainless Steel Sponge Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>90 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JhtWpp">Joseph Joseph 85133 Surface Sink Caddy Stainless Steel Sponge Holder Organizer Tidy Drains Water for Kitchen, Small, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$17.00</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>You can get extra discount with coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JhtWpp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XoHh2U"><img src="https://images-na.ssl-images-amazon.com/images/I/71ahDKV-TaL._SX522_.jpg" alt="Aesthetica Brow Contour Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>811 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XoHh2U">Aesthetica Brow Contour Kit - 16-Piece Eyebrow Makeup Palette - 6 Brow Powders, 5 Brow Stencils, Spoolie/Brush Duo, Tweezers,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.00</span><span class="ori_price">$59.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XoHh2U">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LGkMnG"><img src="https://images-na.ssl-images-amazon.com/images/I/61YFElM4NmL._SX679_.jpg" alt="Utopia Bedding Ultra Soft Body Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>672 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LGkMnG">Utopia Bedding Ultra Soft Body Pillow - Long Side Sleeper Pillows For Use During Pregnancy - 100% Cotton Cover with Soft...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LGkMnG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="86.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YKi44B"><img src="https://images-na.ssl-images-amazon.com/images/I/41R6Wi%2By91L._SX522_.jpg" alt="Corelle Winter Frost White Dinnerware Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>91 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YKi44B">Corelle Winter Frost White Dinnerware Set (38-Piece, Service for 12)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$86.99</span><span class="ori_price">$164.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YKi44B">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xIjsc5"><img src="https://images-na.ssl-images-amazon.com/images/I/61anq3HeVuL._AC_SR300,300_.jpg" alt="Aegend Polarized Swim Goggles" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xIjsc5">Aegend Polarized Swim Goggles, Swimming Goggles No Leaking Anti Fog UV Protection Triathlon Swim Goggles...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xIjsc5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFYfYq"><img src="https://images-na.ssl-images-amazon.com/images/I/711Qhrdn3bL._SX522_.jpg" alt="Apex, REM-15, Connector Hose" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>1,928 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFYfYq">Apex, REM-15, Connector Hose, 5/8-inch by 15-feet ,(Colors may vary)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LFYfYq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="96.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30jXmIP"><img src="https://images-na.ssl-images-amazon.com/images/I/715-06oPHNL._SX679_.jpg" alt="NewAir Outdoor Misting Fan" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>599 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30jXmIP">NewAir Outdoor Misting Fan Oscillating Pedestal Fan with Three Gentle Mist Nozzles, AF-520B, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$96.77</span><span class="ori_price">$156.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30jXmIP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JhwSlP"><img src="https://images-na.ssl-images-amazon.com/images/I/91%2BF1S8wltL._SX522_.jpg" alt="Ortho 0220910 Wand Home Defense Insect Killer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>921 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JhwSlP">Ortho 0220910 Wand Home Defense Insect Killer for Indoor & Perimeter2 with Comfort, 1.1 GAL</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$28.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JhwSlP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="43.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XuOQVR"><img src="https://images-na.ssl-images-amazon.com/images/I/816SA6wiYiL._SX679_.jpg" alt="Intex Rainbow Ring Inflatable Play Center" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>2,132 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XuOQVR">Intex Rainbow Ring Inflatable Play Center, 117" X 76" X 53", for Ages 2+</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XuOQVR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="44.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JeqknQ"><img src="https://images-na.ssl-images-amazon.com/images/I/61hox9SjEwL._SX679_.jpg" alt="Intex Dinoland Inflatable Play Center" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>801 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JeqknQ">Intex Dinoland Inflatable Play Center, 131in X 90in X 44in, for Ages 3+</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.59</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JeqknQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="15.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JhN4n3"><img src="https://images-na.ssl-images-amazon.com/images/I/A1UMWMfgCoL._SX522_.jpg" alt="Molded Glass Table Torch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>387 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JhN4n3">TIKI 6-Inch Molded Glass Table Torch, Red, Green & Blue (Set of 3)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.50</span><span class="ori_price">$31.50</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JhN4n3">Shop Now at Amazon</a></div>
</div>


