<div class="card dealofday clearfix" data-score="38" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYeymo"><img src="https://images-na.ssl-images-amazon.com/images/I/91jq3-Vmy-L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYeymo"><span>Amazon Deal Of The Day:</span> Save up to 38% on Quaker Chewy Bars</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2YXR3K1">Quaker Chewy Granola Bars, Chocolate Chip</a> - <span>7.47<em>11.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2MXUk9P">Quaker Chewy Granola Bars, 25% Less Sugar,...</a> - <span>7.19<em>11.28</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Z0jDKP">Quaker Kids Organic Multigrain Bars and Bites</a> - <span>11.99<em>15.99</em></span></li>
            <li><a href="https://amzn.to/2YYeymo">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YYeymo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="239.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31yeP0W"><img src="https://images-na.ssl-images-amazon.com/images/I/811-nIBjtsL._SY550_.jpg" alt="Teeter FitSpine X-Series Inversion Table" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31yeP0W"><span>Amazon Deal Of The Day:</span> Teeter FitSpine X-Series Inversion Table, 2019 Model, Back Pain Relief Kit, FDA-Registered</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$239.99</span><span class="ori_price">$349.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31yeP0W">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="62.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31B5fdC"><img src="https://images-na.ssl-images-amazon.com/images/I/51PbMYY-1yL._UX679_.jpg" alt="Oakley Men's Holbrook OO9102 Rectangular Sunglasses" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31B5fdC">Oakley Men's Holbrook OO9102 Rectangular Sunglasses</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$62.95</span><span class="ori_price">$163.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31B5fdC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLVEnl"><img src="https://images-na.ssl-images-amazon.com/images/I/818e1vgtDkL._SX522_.jpg" alt="Coleman Gas Stove" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLVEnl">Coleman Gas Stove | Portable Bottletop Propane Camp Stove with Adjustable Burner</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YLVEnl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="14.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31A2tFr"><img src="https://images-na.ssl-images-amazon.com/images/I/51ZY-V0ZkbL._SX425_.jpg" alt="Razor V-17 Youth Multi-Sport Helmet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31A2tFr">Razor V-17 Youth Multi-Sport Helmet</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.16</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31A2tFr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="18.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGAfMq"><img src="https://images-na.ssl-images-amazon.com/images/I/61D1E%2BI4mdL._SX522_.jpg" alt="Knee Compression Sleeves" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGAfMq">Knee Compression Sleeves: McDavid Hex Knee Pads Compression Leg Sleeve for Basketball, Volleyball, Weightlifting,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.94</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YGAfMq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="32.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YKWHnB"><img src="https://images-na.ssl-images-amazon.com/images/I/8178RqLxpIL._SX679_.jpg" alt="LEGO THE LEGO MOVIE 2 Escape Buggy 70829 Building Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YKWHnB">LEGO THE LEGO MOVIE 2 Escape Buggy 70829 Building Kit, Build and Play Toy Car with Action Heroes, New 2019 (550 Pieces)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YKWHnB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="9.52">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31xADK4"><img src="https://images-na.ssl-images-amazon.com/images/I/51zhzRB51FL._SX522_.jpg" alt="Revlon 1875W Volumizing Turbo Hair Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31xADK4">Revlon 1875W Volumizing Turbo Hair Dryer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.52</span><span class="ori_price">$17.54</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31xADK4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z0OWcq"><img src="https://images-na.ssl-images-amazon.com/images/I/51CYTdcgIrL._SX425_.jpg" alt="ILIFE V3s Pro Robotic Vacuum Pet Hair Care" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z0OWcq">ILIFE V3s Pro Robotic Vacuum Pet Hair Care, Powerful Suction Tangle-free, Slim Design, Auto Charge, Daily Planning,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$159.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z0OWcq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z20TKM"><img src="https://images-na.ssl-images-amazon.com/images/I/7196hyCLk8L._SX425_.jpg" alt="Etekcity Digital Kitchen Food..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z20TKM">Etekcity Digital Kitchen Food Multifunction Removable Bowl 2.15L Liquid Volume Room Temperature and Timer, 11lb 5kg,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$25.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z20TKM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YV0IoV"><img src="https://images-na.ssl-images-amazon.com/images/I/81kohBKuRcL._SX425_.jpg" alt="KitchenAid KSMSFTA Sifter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YV0IoV">KitchenAid KSMSFTA Sifter + Scale Attachment, 4 Cup</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$169.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YV0IoV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="8.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z22SyV"><img src="https://images-na.ssl-images-amazon.com/images/I/71BngZWBIcL._SX522_.jpg" alt="Mr. Coffee Not Available 12-Cup Replacement Decanter " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z22SyV">Mr. Coffee Not Available IDS13-RB ISD13-RB 12-Cup Replacement Decanter for FT and is Series, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.97</span><span class="ori_price">$29.18</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z22SyV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="299.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUeojW"><img src="https://images-na.ssl-images-amazon.com/images/I/814XrqqmJ3L._SX679_.jpg" alt="LG 34WK650-W 34" UltraWide 21:9 IPS Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUeojW">LG 34WK650-W 34" UltraWide 21:9 IPS Monitor with HDR10 and FreeSync (2018)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.00</span><span class="ori_price">$399.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YUeojW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="6.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z0Kpmn"><img src="https://images-na.ssl-images-amazon.com/images/I/612LeE52pVL._SX679_.jpg" alt="Chemical Guys CWS_301_16 Citrus Wash and Gloss..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z0Kpmn">Chemical Guys CWS_301_16 Citrus Wash and Gloss Concentrated Car Wash (16 oz)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.49</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z0Kpmn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YWkuME"><img src="https://images-na.ssl-images-amazon.com/images/I/817bz4xDpuL._SX679_.jpg" alt="Allen Sports Ultra Compact Trunk Mounted Bike Rack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YWkuME">Allen Sports Ultra Compact Trunk Mounted Bike Rack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YWkuME">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="19.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Tsy3lE"><img src="https://images-na.ssl-images-amazon.com/images/I/91%2BZVElq9GL._UX679_.jpg" alt="Under Armour Women's Undeniable Duffel Gym Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Tsy3lE">Under Armour Women's Undeniable Duffel Gym Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.29</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Tsy3lE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="30.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KG3tkE"><img src="https://images-na.ssl-images-amazon.com/images/I/51kl5HDOZNL._SX679_.jpg" alt="Takeya Actives Insulated Stainless Water Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KG3tkE">Takeya Actives Insulated Stainless Water Bottle Beer Growler with Insulated Spout Lid, 64oz, Onyx</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.39</span><span class="ori_price">$54.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KG3tkE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="19.68">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Ef0YL"><img src="https://images-na.ssl-images-amazon.com/images/I/61KBtaWa%2B-L._SX425_.jpg" alt="Intex River Run I Sport Lounge" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Ef0YL">Intex River Run I Sport Lounge, Inflatable Water Float, 53" Diameter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.68</span><span class="ori_price">$41.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Ef0YL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="4.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31DFVE6"><img src="https://images-na.ssl-images-amazon.com/images/I/715OSX-qukL._SX425_.jpg" alt="Hasbro Gaming Rubik's 3X3 Cube" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31DFVE6">Hasbro Gaming Rubik's 3X3 Cube, Puzzle Game, Classic Colors</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.49</span><span class="ori_price">$11.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31DFVE6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="19.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YXTGLT"><img src="https://images-na.ssl-images-amazon.com/images/I/51OCjV9NzoL.jpg" alt="Splendor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YXTGLT">Splendor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.00</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YXTGLT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="3.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KtDHBk"><img src="https://images-na.ssl-images-amazon.com/images/I/81pstW9rjEL._SY450_.jpg" alt="NERF N-Strike Elite Triad EX-3 Toy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KtDHBk">NERF N-Strike Elite Triad EX-3 Toy, Multicolor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.99</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KtDHBk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="47.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H4xCZS"><img src="https://images-na.ssl-images-amazon.com/images/I/71nP7zEBy1L._SX522_.jpg" alt="Sky Viper v2450HD Streaming Drone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H4xCZS">Sky Viper v2450HD Streaming Drone with Flight Assist & 2X Improved Flight Range</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.80</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H4xCZS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="19.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H2Bta3"><img src="https://images-na.ssl-images-amazon.com/images/I/91i3KnaH%2BaL._SX522_.jpg" alt="Lush Decor Bohemian Striped Shower Curtain" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H2Bta3">Lush Decor Bohemian Striped Shower Curtain Colorful Bold Design, 72" x 72", Turquoise and Orange</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.98</span><span class="ori_price">$48.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H2Bta3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="10.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kwg6jj"><img src="https://images-na.ssl-images-amazon.com/images/I/71YoKN2zksL._SX679_.jpg" alt="Prep Solutions by Progressive Lettuce Keeper Produce Storage Container" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kwg6jj">Prep Solutions by Progressive Lettuce Keeper Produce Storage Container, 4.7 Quarts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.71</span><span class="ori_price">$25.00</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kwg6jj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33yw4AX"><img src="https://images-na.ssl-images-amazon.com/images/I/710zjb4dFiL._SX425_.jpg" alt="BELLA 14538 2.6 Quart Air Convection Fryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33yw4AX">BELLA 14538 2.6 Quart Air Convection Fryer, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33yw4AX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="73.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KuxeWB"><img src="https://images-na.ssl-images-amazon.com/images/I/61AxAbfSgJL._SX522_.jpg" alt="Best Sewing Machine " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KuxeWB">SINGER | Start 1304 6 Built-in Stitches, Free Arm Best Sewing Machine for Beginners</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$73.12</span><span class="ori_price">$159.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KuxeWB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="12.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31B6SrK"><img src="https://images-na.ssl-images-amazon.com/images/I/61Ek0qkhkZL._SX522_.jpg" alt="Stainless 1-Quart Saucepan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31B6SrK">Cuisinart 719-14 Chef's Classic Stainless 1-Quart Saucepan with Cover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.90</span><span class="ori_price">$35.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31B6SrK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="30.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H5DQJ1"><img src="https://images-na.ssl-images-amazon.com/images/I/81CkqWaNHAL._SX679_.jpg" alt="Presto 06852 16-Inch Electric Skillet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H5DQJ1">Presto 06852 16-Inch Electric Skillet with Glass Cover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.99</span><span class="ori_price">$77.12</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H5DQJ1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H3nNM2"><img src="https://images-na.ssl-images-amazon.com/images/I/81oOKcBY43L._SX679_.jpg" alt="Calphalon Digital Sauté Slow Cooker, Dark Stainless Steel" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H3nNM2">Calphalon Digital Sauté Slow Cooker, Dark Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$149.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H3nNM2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="37.42">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31GGddn"><img src="https://images-na.ssl-images-amazon.com/images/I/91nPv3Gdd1L._SX522_.jpg" alt="Winix 115115 Replacement Filter A" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31GGddn">Winix 115115 Replacement Filter A</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.42</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31GGddn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31tfPU6"><img src="https://images-na.ssl-images-amazon.com/images/I/41OJUZ9vdvL.jpg" alt="Bodum Pour Over Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31tfPU6">Bodum Pour Over Coffee Maker, 17 Ounce, .5 Liter, Cork Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$32.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31tfPU6">Shop Now at Amazon</a></div>
</div>
