<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ycR1D2"><img src="https://images-na.ssl-images-amazon.com/images/I/61drItgmp6L._SX679_.jpg" alt="Wireless Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ycR1D2">Wireless Charger, 5 W Fast Wireless Charging Stand, Qi-Certified, Compatible Phone XR/Xs Max/XS/X/8/8 Plus,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ycR1D2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YpyKkH"><img src="https://images-na.ssl-images-amazon.com/images/I/61sSKTyfCaL._SX569_.jpg" alt="USB Type C Cable AUKEY" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>627 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YpyKkH">USB Type C Cable AUKEY [ 6ft 2-Pack ] USB C Cable Braided Nylon USB C to USB A Fast Charging Cord for Samsung Galaxy...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YpyKkH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YhtCej"><img src="https://images-na.ssl-images-amazon.com/images/I/81scFJAZLML._SX522_.jpg" alt="ArtNaturals Natural Lip Balm Beeswax" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,299 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YhtCej">ArtNaturals Natural Lip Balm Beeswax - (6 x .15 Oz / 4.25g) - Gift Set of Assorted Flavors - Chapstick for Dry,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.50</span><span class="ori_price">$10.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YhtCej">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="14.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YepWdf"><img src="https://images-na.ssl-images-amazon.com/images/I/81tS0uxB%2BcL._SX522_.jpg" alt="NIVEA Soft Moisturizing Crème" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>625 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YepWdf">NIVEA Soft Moisturizing Crème - All-In-One Cream For Body, Face and Hands - 6.8 oz. Jar (Pack of 3) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.40</span><span class="ori_price">$18.87</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YepWdf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="6.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/310UVLT"><img src="https://images-na.ssl-images-amazon.com/images/I/71eWlaSrUkL._SX522_.jpg" alt="Lagunamoon Bath Bombs Gift Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>112 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/310UVLT">Lagunamoon Bath Bombs Gift Set, 6 XL Natural Fizzy Handmade with Organic Essential Oils,Sea Salt,Shea Butter...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.94</span><span class="ori_price">$9.25</span>
        <div class="tooltip_purple"><span>Extra Discount</span><div class="tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/310UVLT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="5.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ybLgWu"><img src="https://images-na.ssl-images-amazon.com/images/I/41RF%2BDLl1TL._SX522_.jpg" alt="NYX PROFESSIONAL MAKEUP Epic Ink Liner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>671 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ybLgWu">NYX PROFESSIONAL MAKEUP Epic Ink Liner, Waterproof Liquid Eyeliner, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.75</span><span class="ori_price">$9.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ybLgWu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30UcD3o"><img src="https://images-na.ssl-images-amazon.com/images/I/519EJuCvfPL._SX522_.jpg" alt="QQcute 30% Vitamin C Serum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>243 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30UcD3o">QQcute 30% Vitamin C Serum with Hyaluronic Acid, Organic Anti-aging Moisturizing Skin Care for Face and Neck with Natural...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_purple"><span>Extra Discount</span><div class="tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30UcD3o">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="169.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32QJTKI"><img src="https://images-na.ssl-images-amazon.com/images/I/51nNb61ZwtL._SX679_.jpg" alt="Galanz GLR35RDER Mini Fridge" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32QJTKI">Galanz GLR35RDER Mini Fridge, Retro, Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.99</span><span class="ori_price">$199.59</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32QJTKI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="36.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SAR6tE"><img src="https://images-na.ssl-images-amazon.com/images/I/612onMqN2gL._SX679_.jpg" alt="Veroyi Mini Hidden Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>149 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SAR6tE">Veroyi Mini Hidden Camera Full HD 1080P WiFi Wireless Remote Security Camera Nanny Cam Home Surveillance Camera</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SAR6tE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YixVpU"><img src="https://images-na.ssl-images-amazon.com/images/I/41auOvUtwQL._SX679_.jpg" alt="1080P Dome Security Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>50 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YixVpU">1080P Dome Security Camera, Indoor Home IP Camera, Privacy Mode, Two-Way Audio, Night Vision, Sound ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$29.99</span>
        <div class="tooltip_purple"><span>Extra Discount</span><div class="tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YixVpU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SGkSgD"><img src="https://images-na.ssl-images-amazon.com/images/I/71uBOxSkz%2BL._SX522_.jpg" alt="Clamp Stand for 7-14 Inch Tablets" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SGkSgD">CTA Digital PAD-HGTS Heavy-Duty Security Gooseneck Clamp Stand for 7-14 Inch Tablets// 12.9-Inch iPad Pro/ 9.7/ ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.98</span><span class="ori_price">$100.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SGkSgD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32MPx0s"><img src="https://images-na.ssl-images-amazon.com/images/I/41aO-jTlcsL.jpg" alt="Dell AX510 2.0 Speaker System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>23 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32MPx0s">Dell AX510 2.0 Speaker System - 10 W RMS - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.00</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32MPx0s">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFxcNH"><img src="https://images-na.ssl-images-amazon.com/images/I/41Kk%2Bu0Ak-L.jpg" alt="Corsair 64 GB USB 3.0 Flash Voyager Flash Drive" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>225 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFxcNH">Corsair 64 GB USB 3.0 Flash Voyager Flash Drive</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$31.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LFxcNH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="35.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SGS73E"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZQgWwuVzL._SY879_.jpg" alt="Logitech G602 Lag-Free Wireless Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,693 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SGS73E">Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Up to 2500 DPI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.75</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SGS73E">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="198.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YlXfeM"><img src="https://images-na.ssl-images-amazon.com/images/I/81px-1xWlAL._SX522_.jpg" alt="Sony XB72 High Power Home Audio System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>33 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YlXfeM">Sony XB72 High Power Home Audio System with Bluetooth Technology (GTK-XB72), Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$198.00</span><span class="ori_price">$349.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YlXfeM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="40.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SAQowH"><img src="https://images-na.ssl-images-amazon.com/images/I/71CQRf9uZCL._SX679_.jpg" alt="Gerber Bear Grylls Ultimate Knife" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,601 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SAQowH">Gerber Bear Grylls Ultimate Knife, Serrated Edge [31-000751]</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.55</span><span class="ori_price">$71.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SAQowH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JT2bDX"><img src="https://images-na.ssl-images-amazon.com/images/I/71bhOtE2MoL._SX679_.jpg" alt="Glass Food Storage Containers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>258 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JT2bDX">Glass Food Storage Containers with Lids - 6 Pack, 2 Sizes (35 Oz, 12 Oz) - Meal Prep Lunch Boxes - Microwave, Fridge, Freezer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.99</span><span class="ori_price">$30.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JT2bDX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="1,347.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JRzya7"><img src="https://images-na.ssl-images-amazon.com/images/I/41tJC7V2IWL.jpg" alt="Dell Latitude 5491 14" 1920 x 1080 LCD Laptop" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JRzya7">Dell Latitude 5491 14" 1920 x 1080 LCD Laptop with Intel Core i7-8850H Hexa-core 2.6 GHz, 16GB RAM, 256GB SSD</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,347.50</span><span class="ori_price">$2,678.97</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JRzya7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="70.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JQyN0T"><img src="https://images-na.ssl-images-amazon.com/images/I/51jnHnYIFWL._SX522_.jpg" alt="Memory Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JQyN0T">Corsair LPX 16GB DDR4 DRAM 2666MHz C16 Memory Kit CMK16GX4M1A2666C16</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$70.99</span><span class="ori_price">$190.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JQyN0T">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2y86nZC"><img src="https://images-na.ssl-images-amazon.com/images/I/61qkpiTZLfL._SX522_.jpg" alt="Speck Products StyleFolio Case for iPad Mini/2/3" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>658 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2y86nZC">Speck Products StyleFolio Case for iPad Mini/2/3 - Black/Slate Grey (Does not fit iPad mini 4)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.59</span><span class="ori_price">$34.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2y86nZC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="48.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JNTfPX"><img src="https://images-na.ssl-images-amazon.com/images/I/A1v-1wh%2Be4L._SX679_.jpg" alt="Samsonite Classic Business Laptop Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>86 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JNTfPX">Samsonite Classic Business Perfect Fit Two Gusset Laptop Bag - 15.6" Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.70</span><span class="ori_price">$120.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JNTfPX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30NPM9Q"><img src="https://images-na.ssl-images-amazon.com/images/I/81f8ymB9ggL._SX522_.jpg" alt="ROSEWILL Mechanical Gaming Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>450 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30NPM9Q">ROSEWILL Mechanical Gaming Keyboard, RGB Backlit Clicky Computer Mechanical Keyboard for PC, Laptop, Mac, Rainbow...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30NPM9Q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JRaMXG"><img src="https://images-na.ssl-images-amazon.com/images/I/A10YHOCtg5L._SX522_.jpg" alt="Case Logic SLRC-206 SLR Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,702 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JRaMXG">Case Logic SLRC-206 SLR Camera and 15.4-Inch Laptop Backpack (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.99</span><span class="ori_price">$119.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JRaMXG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32RZh9S"><img src="https://images-na.ssl-images-amazon.com/images/I/71WJSeMKJjL._SX522_.jpg" alt="Belkin F8M667TT04-BLK Universal Home Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>376 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32RZh9S">Belkin F8M667TT04-BLK Universal Home Charger with Micro USB ChargeSync Cable</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32RZh9S">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JOKhBT"><img src="https://images-na.ssl-images-amazon.com/images/I/51dJlwDP0WL._SX679_.jpg" alt="Belkin 7-Outlet SurgeMaster Home Series Power Strip" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>239 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JOKhBT">Belkin 7-Outlet SurgeMaster Home Series Power Strip Surge Protector with 12-Foot Power Cord, 1045 Joules (F9H710-12)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.99</span><span class="ori_price">$67.66</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JOKhBT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="22.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SDHm24"><img src="https://images-na.ssl-images-amazon.com/images/I/91L64MyjNuL._SX679_.jpg" alt="AmazonBasics USB 3.0 Cable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>589 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SDHm24">AmazonBasics USB 3.0 Cable - A-Male to B-Male - 6 Feet (1.8 Meters), 10-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.18</span><span class="ori_price">$43.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SDHm24">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="56.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yf32CJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71reB%2BcAOQL._SX522_.jpg" alt="SDXC UHS-I Cards" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,672 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yf32CJ">Lexar Professional 633x 128GB (2-Pack) SDXC UHS-I Cards</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.86</span><span class="ori_price">$111.91</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yf32CJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/310Oit3"><img src="https://images-na.ssl-images-amazon.com/images/I/71EkGUe3FZL._SX679_.jpg" alt="iHome Full Size Mac Keyboard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>123 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/310Oit3">iHome Full Size Mac Keyboard - Apple IOS Mac iMac Windows Desktop PC Laptop - Wired</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.99</span><span class="ori_price">$52.49</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/310Oit3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JR5mff"><img src="https://images-na.ssl-images-amazon.com/images/I/61DqwAOWs2L._SX679_.jpg" alt="iHome Wireless Bluetooth Laser Mac Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>571 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JR5mff">iHome Wireless Bluetooth Laser Mac Mouse with Scroll Wheel, 3-Buttons, 1600 DPI, Laptops and Computers, Slim and Compact,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JR5mff">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M78aGC"><img src="https://images-na.ssl-images-amazon.com/images/I/61PNFhmtKbL._SX679_.jpg" alt="Belkin N600 Wireless Dual-Band N+ Router" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>2,477 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M78aGC">Belkin N600 Wireless Dual-Band N+ Router (Latest Generation)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.99</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2M78aGC">Shop Now at Amazon</a></div>
</div>
