<div class="card clearfix" data-score="51" data-price="49.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FtpbXe"><img src="https://images-na.ssl-images-amazon.com/images/I/61SkmVIQ17L._SX522_.jpg" alt="Canary View Indoor 1080p HD Security Camera" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>733 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FtpbXe">Canary View Indoor 1080p HD Security Camera with Wide-angle Lens, Motion/Person Alerts, Works with Alexa, Pets/Elder/Baby Monitoring, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.00</span><span class="ori_price">$99.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FtpbXe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="23.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FvzxpM"><img src="https://images-na.ssl-images-amazon.com/images/I/91rmyLNoyUL._SX679_.jpg" alt="Targus VersaVu Classic Rotating Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,923 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FvzxpM">Targus VersaVu Classic Rotating Case and Stand for 9.7-Inch iPad Pro, Black (THZ634GL)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.10</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FvzxpM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="42.21">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X3aoxh"><img src="https://images-na.ssl-images-amazon.com/images/I/71-y8ssSwwL._SY879_.jpg" alt="Sphero Orbotix 1B01RW1 Ollie App-Controlled Robot" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>347 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X3aoxh">Sphero Orbotix 1B01RW1 Ollie App-Controlled Robot</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$42.21</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2X3aoxh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IZbiRE"><img src="https://images-na.ssl-images-amazon.com/images/I/81JhdEkrFIL._SX522_.jpg" alt="Coca-Cola Pop-Up Hot Dog Toaster" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>410 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IZbiRE">Nostalgia HDT600COKE Coca-Cola Pop-Up Hot Dog Toaster</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$18.97</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IZbiRE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y6zKab"><img src="https://images-na.ssl-images-amazon.com/images/I/31N10TNFEWL.jpg" alt="Hamilton Beach 727B Classic DrinkMaster Drink Mixer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,260 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y6zKab">Hamilton Beach 727B Classic DrinkMaster Drink Mixer, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y6zKab">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxexJj"><img src="https://images-na.ssl-images-amazon.com/images/I/71Gun4v3-aL._SX679_.jpg" alt="VICSEED Car Phone Mount" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>661 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxexJj">VICSEED Car Phone Mount, Air Vent Phone Holder for Car, Handsfree Cell Phone Car Mount Compatible iPhone XR Xs Max Xs X 8 7 6 Plus,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$26.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxexJj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xu3qRl"><img src="https://images-na.ssl-images-amazon.com/images/I/61vbm%2BICJzL._SX522_.jpg" alt="40Mins Flight Time Drone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>133 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xu3qRl">40Mins Flight Time Drone, JJRC H68 RC Drone with 720P HD Camera Live Video FPV Quadcopter with Headless Mode, Altitude Hold Helicopter with 2 Batteries...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xu3qRl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WUug0F"><img src="https://images-na.ssl-images-amazon.com/images/I/71oGCQwB4TL._SX679_.jpg" alt="Sunbeam Wide Slot 4-Slice Toaster" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>372 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WUug0F">Sunbeam Wide Slot 4-Slice Toaster, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WUug0F">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="156.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J5WnF9"><img src="https://images-na.ssl-images-amazon.com/images/I/61EZoHIaE2L._SX522_.jpg" alt="CoolerZ Tropical Breeze Inflatable Floating Island" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>264 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J5WnF9">CoolerZ Tropical Breeze Inflatable Floating Island</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$156.59</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J5WnF9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="9.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4wj3v"><img src="https://images-na.ssl-images-amazon.com/images/I/81-hV4LfezL._SX522_.jpg" alt="Sequence Game" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,678 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y4wj3v">Sequence Game</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.97</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y4wj3v">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="26" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RvmARw"><img src="https://images-na.ssl-images-amazon.com/images/I/91rU-wY-tmL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvmARw">Amazon Deal Of The Day: Save 26% on PRO BIKE TOOL's Top Selling Products</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/2RtblJj">Pro Bike Tool 1/4 Inch Drive Click Torque Wrench Set</a> - <span>47.99<em>64.79</em></span></li>
            <li><a href="https://amzn.to/2L6mBdk">Pro Bike Tool Adjustable Torque Wrench Set</a> - <span>31.98<em>39.98</em></span></li>
            <li><a href="https://amzn.to/2IBsihS">Pro Bike Tool Mini Ratchet Tool Set </a> - <span>24.98<em>19.98</em></span></li>
            <li><a href="https://amzn.to/2RvmARw">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RvmARw">Shop Now at Amazon</a></div>
</div>

<!-- 
<div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
-->

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/512OrjarKwL._SX522_.jpg" alt="JVC Xtreme Xplosives Series Headphone" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>84 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">JVC Xtreme Xplosives Series Headphone with remote and Mic Red (HAFX103R) (HAFX103MR)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="22.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rvn1eC"><img src="https://images-na.ssl-images-amazon.com/images/I/51nCUeAUk6L._SX679_.jpg" alt="OtterBox SYMMETRY SERIES MARVEL Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>44 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rvn1eC">OtterBox SYMMETRY SERIES MARVEL Case for iPhone Xs & iPhone X - Retail Packaging - DEADPOOL</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.41</span><span class="ori_price">$44.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Rvn1eC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="158.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxjRw8"><img src="https://images-na.ssl-images-amazon.com/images/I/41LuqWQGPcL.jpg" alt="Binoculars" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>166 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxjRw8">Bushnell Legend L-Series 10x42mm Binoculars</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$158.98</span><span class="ori_price">$280.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxjRw8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="169.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RvgO26"><img src="https://images-na.ssl-images-amazon.com/images/I/71kfR-tn1LL._SX522_.jpg" alt="AKG Noise Cancelling Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>84 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RvgO26">AKG Noise Cancelling Headphones N60NC Wireless Bluetooth - Black - GP-N060HAHCAAA</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.98</span><span class="ori_price">$299.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RvgO26">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="3,699.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FsIbp3"><img src="https://images-na.ssl-images-amazon.com/images/I/81naihI0PmL._SX522_.jpg" alt="Canon EOS" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>179 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FsIbp3">Canon EOS 5D Mark IV Full Frame Digital SLR Camera with EF 24-105mm f/4L IS II USM Lens Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3,699.00</span><span class="ori_price">$4,599.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2FsIbp3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="275.06">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RyoVuT"><img src="https://images-na.ssl-images-amazon.com/images/I/516YWSqHhyL.jpg" alt="Samyang SYIO35AF-E 35mm f/2.8 Ultra Compact" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>65 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RyoVuT">Samyang SYIO35AF-E 35mm f/2.8 Ultra Compact Wide Angle Lens for Sony E Mount Full Frame, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$275.06</span><span class="ori_price">$399.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RyoVuT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="464.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lib4YP"><img src="https://images-na.ssl-images-amazon.com/images/I/51KT1wwt5XL._SX522_.jpg" alt="Dell Notebook" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>4 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lib4YP">Dell Inspiron 15 i3567-5949BLK-PUS i5-7200U/8GB Memory/256GB SSD Notebook PC</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$464.99</span><span class="ori_price">$649.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lib4YP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="34.23">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Iz5q2C"><img src="https://images-na.ssl-images-amazon.com/images/I/813xWXsTsFL._SX679_.jpg" alt="Accell Powramid Air Surge Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>836 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Iz5q2C">Accell Powramid Air Surge Protector - 2 USB Charging Ports (2.4A), 6 Outlets, 6-Foot Cord, 1080 Joules, ETL Listed - Black Grounded Extension Cord Power Strip</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.23</span><span class="ori_price">$47.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Iz5q2C">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="18.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RtU5Uc"><img src="https://images-na.ssl-images-amazon.com/images/I/71coc7V5GgL._SX522_.jpg" alt="StarTech.com USB C to SATA Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>778 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RtU5Uc">StarTech.com USB C to SATA Adapter - External Hard Drive Connector for 2.5'' SATA Drives - SATA SSD / HDD to USB C Cable (USB31CSAT3CB)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.38</span><span class="ori_price">$31.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RtU5Uc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="126.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IzBnHW"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZoXuJuLjL._SX522_.jpg" alt="Crosley C100 Belt-Drive Turntable" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>72 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IzBnHW">Crosley C100 Belt-Drive Turntable with S-Shaped Tone Arm with Adjustable Counterweight, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$126.95</span><span class="ori_price">$199.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IzBnHW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="94.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IBaiUR"><img src="https://images-na.ssl-images-amazon.com/images/I/41kZWAm9QzL.jpg" alt="Sound Blaster Z PCIe Gaming Sound Card" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,367 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IBaiUR">Sound Blaster Z PCIe Gaming Sound Card with High Performance Headphone Amp and Beam Forming Microphone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$94.99</span><span class="ori_price">$119.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IBaiUR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="138.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IBDZVV"><img src="https://images-na.ssl-images-amazon.com/images/I/61pB%2B4NQ4mL._SX425_.jpg" alt="Gaming Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>45 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IBDZVV">LucidSound LS41 Wireless Surround Sound Gaming Headset for PS4, Xbox One, PC, Nintendo Switch, Mac, DTS Headphone: X 7.1 Gaming headphones - PlayStation 4</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$138.49</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IBDZVV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RuwliO"><img src="https://images-na.ssl-images-amazon.com/images/I/51p66PbmBiL._SX342_.jpg" alt="Terminator 2" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,556 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RuwliO">Terminator 2: Judgement Day 4K Ultra HD</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.50</span><span class="ori_price">$22.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2RuwliO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="14.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IUMuKo"><img src="https://images-na.ssl-images-amazon.com/images/I/61AoslohcjL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>38 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IUMuKo">iPad Pro 11 Case 2018, [Compatible with Official Smart Cover and Smart Keyboard] i-Blason [Halo V2.0] Clear Hybrid Protective Case with Pencil Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.44</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IUMuKo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="79.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y1AsW5"><img src="https://images-na.ssl-images-amazon.com/images/I/61fasXpxYGL._SX522_.jpg" alt="HyperDrive USB C Hub" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>78 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y1AsW5">HyperDrive USB C Hub, Sanho Type C Multi-port Adapter for MacBook Pro 2018 2017 2016, Dual 6in2 Thunderbolt USB-C Dongle w Gigabit Ethernet,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.00</span><span class="ori_price">$99.99</span>
        <div class="tooltip_orange"><span>Double Discount</span><div class="tooltip-content"><p>You can get extra discount width coupon</p></div></div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y1AsW5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="32.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2x7vhYO"><img src="https://images-na.ssl-images-amazon.com/images/I/61VrnyT3O5L._SX679_.jpg" alt="Tenda AC1200 Dual Band WiFi Router" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>831 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2x7vhYO">Tenda AC1200 Dual Band WiFi Router, High Speed Wireless Internet Router with Smart App, MU-MIMO for Home (AC6)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.37</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2x7vhYO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J3r9yq"><img src="https://images-na.ssl-images-amazon.com/images/I/61LTYjh1jDL._SX522_.jpg" alt="Active Noise Cancelling Bluetooth Headphones" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>69 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J3r9yq">Active Noise Cancelling Bluetooth Headphones, TaoTronics HiFi Stereo Wireless Over Ear Deep Bass Headset w/CVC Noise Canceling Microphone 30 Hour...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J3r9yq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J2TZiz"><img src="https://images-na.ssl-images-amazon.com/images/I/71fzZaxwgrL._SX522_.jpg" alt="ZAGG Rugged Book Durable Case" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>72 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J2TZiz">ZAGG Rugged Book Durable Case, Hinged with Detachable Backlit Keyboard for iPad mini/ mini 2/ mini 3 - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$84.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J2TZiz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="69.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J7BfyG"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2B7f5F53zL._SX522_.jpg" alt="CTA Digital PAD-ASK Dual Security Kiosk Stand" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>131 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2J7BfyG">CTA Digital PAD-ASK Dual Security Kiosk Stand with Locking Case and Cable for iPad Gen. 5 (2017), iPad Gen. 6 (2018), iPad Air, and iPad Pro 9.7</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.44</span><span class="ori_price">$139.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2J7BfyG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="45.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WYZQiX"><img src="https://images-na.ssl-images-amazon.com/images/I/A1vHgFL6boL._UX679_.jpg" alt="J World New York Sundance LAPTOP Rolling Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,610 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WYZQiX">J World New York Sundance LAPTOP Rolling Backpack for Schooling & Travel, 20 inch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.49</span><span class="ori_price">$95.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2WYZQiX">Shop Now at Amazon</a></div>
</div>
