<div class="card clearfix" data-score="80" data-price="40.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XXjTyz"><img src="https://images-na.ssl-images-amazon.com/images/I/A1odJw0hgBL._SX679_.jpg" alt="3 Piece Bohemian Design Bedding Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>601 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XXjTyz">Lush Decor Boho Stripe Quilt Reversible 3 Piece Bohemian Design Bedding Set, Full - Queen, Turquoise & Tangerine</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.50</span><span class="ori_price">$199.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XXjTyz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="80.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y9jYdC"><img src="https://images-na.ssl-images-amazon.com/images/I/91EdNw5GWbL._SX679_.jpg" alt="Eddie Bauer Rugged Plaid Comforter Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>93 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y9jYdC">Eddie Bauer Rugged Plaid Comforter Set, Full/Queen, Dune</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$80.74</span><span class="ori_price">$129.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JRdw64"><img src="https://images-na.ssl-images-amazon.com/images/I/81kohBKuRcL._SX522_.jpg" alt="KitchenAid KSMSFTA Sifter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>98 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JRdw64">KitchenAid KSMSFTA Sifter + Scale Attachment, 4 Cup</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$169.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JRdw64">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="169.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y6zuqX"><img src="https://images-na.ssl-images-amazon.com/images/I/711pvy9OeoL._SX522_.jpg" alt="Germ Guardian Air purifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>60 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y6zuqX">Germ Guardian AC5900WCA 21” 3-in-1 True HEPA Filter Air Purifier for Home, Large Rooms, UV-C Sanitizer, Filters Allergies,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.99</span><span class="ori_price">$299.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y6zuqX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y6iBMQ"><img src="https://images-na.ssl-images-amazon.com/images/I/711OBmbpxzL._SX425_.jpg" alt="HEPA Filter Air Purifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>287 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y6iBMQ">Germ Guardian AC4300BPTCA 22” 3-in-1 True HEPA Filter Air Purifier for Home and Pets, Full Rooms, UV-C Sanitizer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$149.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y6iBMQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="22.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xZ19zi"><img src="https://images-na.ssl-images-amazon.com/images/I/71UKxC8p-TL._SX679_.jpg" alt="Elite Platinum EKT-300 Glass Electric Tea Kettle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>295 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xZ19zi">Elite Platinum EKT-300 Glass Electric Tea Kettle Hot Water Heater Boiler BPA Free with LED Indicator,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.18</span><span class="ori_price">$36.84</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xZ19zi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="28.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SvLyAB"><img src="https://images-na.ssl-images-amazon.com/images/I/71RJqGimC7L._SX679_.jpg" alt="Board with Iron Rest" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>100 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SvLyAB">Honey-Can-Do BRD-01296 Board with Iron Rest, Blue/Yellow Stripes</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.88</span><span class="ori_price">$60.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SvLyAB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="251.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yck6NK"><img src="https://images-na.ssl-images-amazon.com/images/I/61IsA3O32GL._SX522_.jpg" alt="AMD Ryzen 7 2700X Processor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>728 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yck6NK">AMD Ryzen 7 2700X Processor with Wraith Prism LED Cooler - YD270XBGAFBOX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$251.89</span><span class="ori_price">$329.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yck6NK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="84.68">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y1kf7y"><img src="https://images-na.ssl-images-amazon.com/images/I/61FA9BbugzL._SX522_.jpg" alt="NETGEAR Nighthawk Smart WiFi Router" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>17,505 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y1kf7y">NETGEAR Nighthawk Smart WiFi Router (R6700) - AC1750 Wireless Speed (up to 1750 Mbps) | Up to 1500 sq ft Coverage...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$84.68</span><span class="ori_price">$129.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y1kf7y">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="36" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y9mQHq"><img src="https://images-na.ssl-images-amazon.com/images/I/91JA5-hAnoL._SX522_.jpg" alt="Samsung SSD 860 EVO 1TB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>5,601 Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="">Samsung SSD 860 EVO...2.5 Inch SATA III Internal SSD(MZ-76E1T0B/AM)</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2XWJeZn">Samsung SSD 860 EVO 250GB</a> - <span>54.92</span></li>
            <li><a target="_blank" href="https://amzn.to/2YfbIwN">Samsung 860 EVO 500GB</a> - <span>69.99<em>77.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2YaCZwB">Samsung SSD 860 EVO 1TB</a> - <span>129.99<em>199.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Lz9C4V">Samsung SSD 860 EVO 2TB</a> - <span>279.99<em>399.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2O8pQEp">Samsung SSD 860 EVO 4TB</a> - <span>579.99<em>899.99</em></span></li>
            <li><a href="https://amzn.to/2Y9mQHq">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y9mQHq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="64.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y1kPSM"><img src="https://images-na.ssl-images-amazon.com/images/I/713VM9PMkOL._SX522_.jpg" alt="Seagate FireCuda 2TB SSD" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>142 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y1kPSM">Seagate FireCuda 2TB Solid State Hybrid Drive Performance SSHD – 2.5 Inch SATA 6GB/s Flash Accelerated for Gaming...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.99</span><span class="ori_price">$94.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y1kPSM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="197.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XSvpey"><img src="https://images-na.ssl-images-amazon.com/images/I/71jqVlTgp-L._SY879_.jpg" alt="Samsung Galaxy Tab A" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,993 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XSvpey">Samsung Galaxy Tab A SM-T580NZKAXAR 10.1-Inch 16 GB, Tablet (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$197.99</span><span class="ori_price">$279.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XSvpey">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="949.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K0pMBl"><img src="https://images-na.ssl-images-amazon.com/images/I/51RFSfELN2L._SX679_.jpg" alt="Apple MacBook Air" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>350 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K0pMBl">Apple MacBook Air (13-inch Retina display, 1.6GHz dual-core Intel Core i5, 128GB) - Gold (Previous Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$949.99</span><span class="ori_price">$1,199.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K0pMBl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ycme8c"><img src="https://images-na.ssl-images-amazon.com/images/I/81OwmA5Le2L._SX522_.jpg" alt="PNY Turbo 64GB USB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>9,822 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ycme8c">PNY Turbo 64GB USB 3.0 Flash Drive - (P-FD64GTBOP-GE)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ycme8c">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="160.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JPlk8c"><img src="https://images-na.ssl-images-amazon.com/images/I/61uV2BBPRyL._SX522_.jpg" alt="Dell P Series 24inch Screen LED-Lit Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>26 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JPlk8c">Dell P Series 24" Screen LED-Lit Monitor Black (P2419H)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$160.09</span><span class="ori_price">$249.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JPlk8c">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JUrxjh"><img src="https://images-na.ssl-images-amazon.com/images/I/81VHG14HjgL._SX522_.jpg" alt="Secret Antiperspirant and Deodorant" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>227 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JUrxjh">Secret Antiperspirant and Deodorant for Women, Powder Fresh Scent, Invisible Solid, pH Balanced, 2.6 oz (Pack of 6)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.98</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JUrxjh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="24.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTOcwi"><img src="https://images-na.ssl-images-amazon.com/images/I/81FbLqxPjPL._SX522_.jpg" alt="CeraVe Facial Moisturizing Lotion PM" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,722 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTOcwi">CeraVe Facial Moisturizing Lotion PM | 3 Ounce (Pack of 2) | Ultra Lightweight, Night Face Moisturizer | Fragrance Free</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.76</span><span class="ori_price">$32.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JTOcwi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="6.08">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2y0OUCa"><img src="https://images-na.ssl-images-amazon.com/images/I/81x0Dt46vNL._SX522_.jpg" alt="Shea Moisture Coconut Hibiscus..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,110 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2y0OUCa">Shea Moisture Coconut Hibiscus Curl Enhancing Smoothie-12 oz </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.08</span><span class="ori_price">$13.20</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2y0OUCa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.53">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SvOahT"><img src="https://images-na.ssl-images-amazon.com/images/I/81Pd0sT5PnL._SX522_.jpg" alt="Bioré Blackhead Removing and Pore Unclogging Deep Cleansing" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>2,931 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SvOahT">Bioré Blackhead Removing and Pore Unclogging Deep Cleansing Pore Strip for Nose, Chin, and Forehead (24 Count) (Packaging May Vary) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.53</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SvOahT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="13.42">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y6HA2P"><img src="https://images-na.ssl-images-amazon.com/images/I/61ERJJGQ%2BWL._SX522_.jpg" alt="Cetaphil Gentle Skin Cleanser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,591 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y6HA2P">Cetaphil Gentle Skin Cleanser for All Skin Types, Face Wash for Sensitive Skin, 16-oz. Bottles (Pack of 2) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.42</span><span class="ori_price">$27.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Y6HA2P">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XTYCpm"><img src="https://images-na.ssl-images-amazon.com/images/I/71ONQUlvB3L._SX522_.jpg" alt="Premier Protein 30g Protein Shakes" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,391 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XTYCpm">Premier Protein 30g Protein Shakes, Chocolate, 11 Fluid Ounces, 4 Per Pack </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.99</span><span class="ori_price">$10.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XTYCpm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="15.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32Jb7Tu"><img src="https://images-na.ssl-images-amazon.com/images/I/71DsoIX2%2BSL._SX522AA522_PIbundle-3,TopRight,0,0_AA522_SH20_.jpg" alt="SlimFast Advanced Nutrition Creamy" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>747 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32Jb7Tu">SlimFast Advanced Nutrition Creamy Chocolate Shake – Ready to Drink Meal Replacement – 20g of Protein – 11 fl. oz....</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.98</span><span class="ori_price">$36.07</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32Jb7Tu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JUYyvP"><img src="https://images-na.ssl-images-amazon.com/images/I/91cmu9N7gAL._SX679_.jpg" alt="Gorilla Super Glue Gel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,270 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JUYyvP">Gorilla Super Glue Gel, 20 Gram, Clear</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.97</span><span class="ori_price">$14.89</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JUYyvP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XWKRGt"><img src="https://images-na.ssl-images-amazon.com/images/I/41vGmSSapkL._SX679_.jpg" alt="Wemo Mini Smart Plug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>7,713 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XWKRGt">Wemo Mini Smart Plug, WiFi Enabled, Works with Alexa, Google Assistant & Apple HomeKit</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XWKRGt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="20.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XUjfSt"><img src="https://images-na.ssl-images-amazon.com/images/I/51AmstHi9IL._SX679_.jpg" alt="Master Lock" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,283 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XUjfSt">Master Lock 5400D Set Your Own Combination Portable Lock Box, 5 Key Capacity, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.40</span><span class="ori_price">$38.11</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XUjfSt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="102.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XYpZP9"><img src="https://images-na.ssl-images-amazon.com/images/I/91AscIpwYWL._SX522_PIbundle-170,TopRight,0,0_SX522SY347SH20_.jpg" alt="Crescent CTK170CMP2 Mechanics Tool Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,315 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XYpZP9">Crescent CTK170CMP2 Mechanics Tool Set, 170-Piece</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$102.99</span><span class="ori_price">$206.13</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XYpZP9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xXyxXh"><img src="https://images-na.ssl-images-amazon.com/images/I/71VjscU8C3L._SX522_.jpg" alt="DEWALT Screw Driving Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,685 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xXyxXh">DEWALT DWA2T40IR IMPACT READY FlexTorq Screw Driving Set, 40-Piece</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xXyxXh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yn3Rxc"><img src="https://images-na.ssl-images-amazon.com/images/I/91Gfu6cDv5L._SX679_.jpg" alt="LEGO Juniors/4+ Jurassic World T. rex" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>144 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yn3Rxc">LEGO Juniors/4+ Jurassic World T. rex Breakout 10758 Building Kit (150 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yn3Rxc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XVHDDp"><img src="https://images-na.ssl-images-amazon.com/images/I/71PrNaKWJRL._SX522_PIbundle-2,TopRight,0,0_SX522SY232SH20_.jpg" alt="Ballistix Elite 16GB Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>105 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XVHDDp">Ballistix Elite 16GB Kit (8GBx2) DDR4 3000 MT/s (PC4-24000) DIMM 288-Pin Memory - BLE2K8G4D30AEEA</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$137.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XVHDDp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="7.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2y0mlVN"><img src="https://images-na.ssl-images-amazon.com/images/I/813-jiTn-xL._SX522_.jpg" alt="Meguiar's G19220 Ultimate Polish" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>712 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2y0mlVN">Meguiar's G19220 Ultimate Polish, 20 oz</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.47</span><span class="ori_price">$12.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2y0mlVN">Shop Now at Amazon</a></div>
</div>