<div class="card dealofday clearfix" data-score="43" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KeUEiI"><img src="https://images-na.ssl-images-amazon.com/images/I/71iXMxS59bL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_Link"><span>Amazon Deal Of The Day:</span> Save up to 43% on select APC UPS and Surge Protectors</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2YLhGpw">APC Wall Pivot-Plug Surge Protector...</a> - <span>21.49<em>26.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2KiFTLT">APC Smart Plug Surge Protector Power Strip</a> - <span>33.99<em>59.99</em></span></li>
            <li><a target="_blank" href="Product_link">APC UPS Battery Backup & Surge Protector...</a> - <span>45.49<em>74.99</em></span></li>
            <li><a href="https://amzn.to/2KeUEiI">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KeUEiI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="184.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yI06E4"><img src="https://images-na.ssl-images-amazon.com/images/I/814L74jZZWL._SX679_.jpg" alt="Seated Under-Desk Elliptical" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_Link"><span>Amazon Deal Of The Day:</span> Cubii Jr. - Seated Under-Desk Elliptical - Get Fit While You Sit - Built-in Display Monitor...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$184.99</span><span class="ori_price">$249.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yI06E4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGW7T1"><img src="https://images-na.ssl-images-amazon.com/images/I/81ptc-uy6mL._SX679_.jpg" alt="Circulon 2-Quart Morning Bird Teakettle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGW7T1">Circulon 2-Quart Morning Bird Teakettle, Capri Turquoise</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.99</span><span class="ori_price">$70.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YGW7T1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="25.56">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31eL1Gk"><img src="https://images-na.ssl-images-amazon.com/images/I/81G717njimL._SX679_.jpg" alt="Old Dutch International Tea Kettle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31eL1Gk">Old Dutch International 875 2 Qt. Hammered Copper Tea Kettle, 2 quart,</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.56</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31eL1Gk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31kuwbX"><img src="https://images-na.ssl-images-amazon.com/images/I/81ugZ2peAgL._SY879_.jpg" alt="Cuisinart DCC-3200 14-Cup Glass Carafe" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31kuwbX">Cuisinart DCC-3200 14-Cup Glass Carafe with Stainless Steel Handle Programmable Coffeemaker, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$185.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31kuwbX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kevq3Y"><img src="https://images-na.ssl-images-amazon.com/images/I/81sHi6kwA0L._SY879_.jpg" alt="K-Cup Carousel" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kevq3Y">K-Cup Carousel - Holds 35 K-Cups in Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kevq3Y">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="13.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KsNlTs"><img src="https://images-na.ssl-images-amazon.com/images/I/51UqCsp1z0L._SX522_.jpg" alt="Smart Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KsNlTs">Smart Plug, Gosund 16A Smart Outlet Compatible with Alexa, Google Home, IFTTT for Voice Control, No Hub Required,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.72</span><span class="ori_price">$25.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KsNlTs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="17.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KeUpV0"><img src="https://images-na.ssl-images-amazon.com/images/I/81l4-YufEXL._UY679_.jpg" alt="Casio Unisex F108WHC-7BCF Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KeUpV0">Casio Unisex F108WHC-7BCF Watch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.96</span><span class="ori_price">$24.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KeUpV0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="37.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YH3G0a"><img src="https://images-na.ssl-images-amazon.com/images/I/71-nSCQ55JL._SX425_.jpg" alt="Maytag M400 Speed Heat Steam Iron" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YH3G0a">Maytag M400 Speed Heat Steam Iron & Vertical Steamer with Stainless Steel Sole Plate, Self Cleaning Function + Thermostat Dial</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.39</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YH3G0a">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GOIR8C"><img src="https://images-na.ssl-images-amazon.com/images/I/51Fa87QMAaL._SX679_.jpg" alt="PNY Duo Link OTG 128GB" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GOIR8C">PNY Duo Link OTG 128GB Type-C Drive, Up to 130MB/S – P-FD128OTGSLTC-GE</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GOIR8C">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="16.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GLQuwP"><img src="https://images-na.ssl-images-amazon.com/images/I/81TY84YDJYL._SX679_.jpg" alt="LEGO Technic Police Pursuit 42091 Building Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GLQuwP">LEGO Technic Police Pursuit 42091 Building Kit , New 2019 (120 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.55</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GLQuwP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="88.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YHhKTl"><img src="https://images-na.ssl-images-amazon.com/images/I/61aLMgC%2Bb5L._SY879_.jpg" alt="Rowenta GS6020 Compact Valet Full Size Garment" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YHhKTl">Rowenta GS6020 Compact Valet Full Size Garment and Fabric Steamer with Foot Operated On-Off Switch, 1550-Watt, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$88.00</span><span class="ori_price">$179.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YHhKTl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33ejzKU"><img src="https://images-na.ssl-images-amazon.com/images/I/51bjHisulhL._SX522_.jpg" alt="Accmor Universal Cup Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33ejzKU">Accmor Universal Cup Holder, Stroller Cup Holder, Large Caliber Designed Cup Holder, Fit for bottle with handle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.49</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33ejzKU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="19.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIc1MP"><img src="https://images-na.ssl-images-amazon.com/images/I/71HE8lJEwmL._SX425_.jpg" alt="Sony ZX Series MDR-ZX310AP Headband Stereo Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIc1MP">Sony ZX Series MDR-ZX310AP Headband Stereo Headset</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.14</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YIc1MP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kh7hd3"><img src="https://images-na.ssl-images-amazon.com/images/I/41yEKwgyriL.jpg" alt="Belkin USB Swivel Home and Wall Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kh7hd3">Belkin USB Swivel Home and Wall Charger with Lightning Cable for iPhone, iPad, and iPod</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kh7hd3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="54.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kewncy"><img src="https://images-na.ssl-images-amazon.com/images/I/61J8OCDRP1L._SY879_.jpg" alt="Brother P-Touch PC Connectable Label Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kewncy">Brother P-Touch PC Connectable Label Maker (PT-P700)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.90</span><span class="ori_price">$129.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kewncy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="18.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ihqfc"><img src="https://images-na.ssl-images-amazon.com/images/I/81qW6o-pj7L._SX679_.jpg" alt="CTA Digital PAD-KMS 2-in-1 Kitchen Desktop..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ihqfc">CTA Digital PAD-KMS 2-in-1 Kitchen Desktop Tablet Stand Wall Mount Holder with Stylus for 7-13 Inch Tablets/iPad...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.20</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31ihqfc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="25.61">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ihQ5g"><img src="https://images-na.ssl-images-amazon.com/images/I/81FDuRjq4RL._SX679_.jpg" alt="Chef Buddy 80-1840 Panini Press Grill" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ihQ5g">Chef Buddy 80-1840 Panini Press Grill and Gourmet Sandwich Maker for Healthy Cooking...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.61</span><span class="ori_price">$74.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31ihQ5g">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="120.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MGbSXS"><img src="https://images-na.ssl-images-amazon.com/images/I/710H5Yt7D7L._SX425_.jpg" alt="Hoover React Professional Pet Plus Bagless Upright Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MGbSXS">Hoover React Professional Pet Plus Bagless Upright Vacuum Cleaner, UH73220PC,Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$120.99</span><span class="ori_price">$239.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MGbSXS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MCzDjz"><img src="https://images-na.ssl-images-amazon.com/images/I/71jImcUcOHL._SX522_.jpg" alt="Cliganic USDA Organic Argan Oil" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MCzDjz">Cliganic USDA Organic Argan Oil, 100% Pure | Moroccan Argan Oil for Hair, Face & Skin | Natural Cold Pressed Carrier Oil...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MCzDjz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="8.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31j6QVi"><img src="https://images-na.ssl-images-amazon.com/images/I/71cXJKhBFxL._SX522_.jpg" alt="Head and Shoulders Shampoo and Conditioner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31j6QVi">Head and Shoulders Shampoo and Conditioner 2 in 1, Anti Dandruff Treatment, Charcoal for Men, 12.8 fl oz, Twin Pack </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.38</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31j6QVi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="77" data-price="23.42">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/339CRRw"><img src="https://images-na.ssl-images-amazon.com/images/I/71HqeMw-nWL._SX679_.jpg" alt="Samsung Level Active Wireless Bluetooth Fitness Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>77% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/339CRRw">Samsung Level Active Wireless Bluetooth Fitness Earbuds - Black (US Version with Warranty)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.42</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/339CRRw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="30.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMIcuQ"><img src="https://images-na.ssl-images-amazon.com/images/I/61a9TWksbQL._SX522_.jpg" alt="Dell Slim Power Adapter, 90-Watt" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMIcuQ">Dell Slim Power Adapter, 90-Watt (MKN5F)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.37</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YMIcuQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEtkP2"><img src="https://images-na.ssl-images-amazon.com/images/I/71k02T6KxML._SX679_.jpg" alt="Linksys WRT54GL Wi-Fi Wireless-G Broadband Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEtkP2">Linksys WRT54GL Wi-Fi Wireless-G Broadband Router</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEtkP2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="39.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33c0zMR"><img src="https://images-na.ssl-images-amazon.com/images/I/815rLHzfi3L._SX522_.jpg" alt="Crosley Cruiser Deluxe Vintage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33c0zMR">Crosley Cruiser Deluxe Vintage 3-Speed Bluetooth Suitcase Turntable, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.96</span><span class="ori_price">$60.76</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33c0zMR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="46.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GMuSjO"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/5d725a53-4917-4e7e-b20b-bd88ef55c61b._SR285,285_.jpg" alt="Garmin vívosmart 3, Fitness/Activity Tracker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GMuSjO">Garmin vívosmart 3, Fitness/Activity Tracker with Smart Notifications and Heart Rate Monitoring, Black ,Small-Medium</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.95</span><span class="ori_price">$139.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GMuSjO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="79" data-price="52.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31sr3bB"><img src="https://images-na.ssl-images-amazon.com/images/I/61rEWG9a3wL._SX522_.jpg" alt="INK E-SALE Replacement" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>79% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31sr3bB">INK E-SALE Replacement for HP 125A HP CB540A CB541A CB542A CB543A Toner Cartridge for use with HP Color Laserjet...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$52.41</span><span class="ori_price">$249.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31sr3bB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="161.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31i0bL1"><img src="https://images-na.ssl-images-amazon.com/images/I/71BOkPcuYOL._SX425_.jpg" alt="Arlo - Wireless Home Security Camera System" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31i0bL1">Arlo - Wireless Home Security Camera System | Indoor/Outdoor | 2 camera kit (Discontinued)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$161.00</span><span class="ori_price">$349.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31i0bL1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="135.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yE5591"><img src="https://images-na.ssl-images-amazon.com/images/I/81i3fuwzAQL._SX679_.jpg" alt="Modway Render Mid-Century Modern" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yE5591">Modway Render Mid-Century Modern Two-Tier Display Stand in Walnut</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$135.99</span><span class="ori_price">$325.50</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yE5591">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kv09sn"><img src="https://images-na.ssl-images-amazon.com/images/I/8135njoYfCL._SX679_.jpg" alt="Logitech HD Webcam C525" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kv09sn">Logitech HD Webcam C525, Portable HD 720p Video Calling with Autofocus</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kv09sn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="82" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GML04J"><img src="https://images-na.ssl-images-amazon.com/images/I/71LlpBSM-HL._SX522_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>82% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GML04J">Samsung SmartThings ADT Wireless Home Security Starter Kit with DIY Smart Alarm System Hub, Door and Window Sensors,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$549.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GML04J">Shop Now at Amazon</a></div>
</div>