<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32ZZS9F"><img src="https://images-na.ssl-images-amazon.com/images/I/810AkkpqgsL._SX522_.jpg" alt="Philips Sonicare Essence Sonic Rechargeable Toothbrush" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>8,157 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32ZZS9F">Philips Sonicare Essence Sonic Rechargeable Toothbrush, White </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32ZZS9F">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="26.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YrOV18"><img src="https://images-na.ssl-images-amazon.com/images/I/71k1c2rCvhL._SX425_.jpg" alt="Bed Head Curls in Check Hair Dryer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>716 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YrOV18">Bed Head Curls in Check 1875 Watt Diffuser Hair Dryer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.75</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YrOV18">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="24.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YqC7Uk"><img src="https://images-na.ssl-images-amazon.com/images/I/81FbLqxPjPL._SX522_.jpg" alt="CeraVe Facial Moisturizing Lotion PM" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,728 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YqC7Uk">CeraVe Facial Moisturizing Lotion PM | 3 Ounce (Pack of 2) | Ultra Lightweight, Night Face Moisturizer | Fragrance Free</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.76</span><span class="ori_price">$32.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YqC7Uk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="12.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JXa5Mu"><img src="https://images-na.ssl-images-amazon.com/images/I/81qdd-OPQpL._SX522_.jpg" alt="Aquaphor Healing Ointment" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,369 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JXa5Mu">Aquaphor Healing Ointment - Moisturizing Skin Protectant for Dry Cracked Hands, Heels and Elbows - 14 oz. Jar </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.97</span><span class="ori_price">$16.89</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JXa5Mu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SMcBrE"><img src="https://images-na.ssl-images-amazon.com/images/I/51lS5gvNgyL._SX522_.jpg" alt="Amazon Ethernet Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>3,775 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SMcBrE">Amazon Ethernet Adapter for Amazon Fire TV Devices</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SMcBrE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33009JJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61xNxQEJfkL._SX679_.jpg" alt="TP-Link | AC750 WiFi Extender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>8,410 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33009JJ">TP-Link | AC750 WiFi Extender - Dual Band Cloud App Control | 2019 Release | Up to 750Mbps | One Button Setup Repeater,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33009JJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/313NbZE"><img src="https://images-na.ssl-images-amazon.com/images/I/51-3DrGGluL._SX522_.jpg" alt="Labobbon 3.5mm Headphone Jack Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,020 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/313NbZE">Labobbon 3.5mm Headphone Jack Adapter, Connector for iPhone Xs/ Xs Max/ XR/ iPhone 8/8 Plus/X (10) / 7/ 7 Plus,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$18.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/313NbZE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="3.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32Wigjt"><img src="https://images-na.ssl-images-amazon.com/images/I/816vLiMQN8L._SX522_.jpg" alt="NYX PROFESSIONAL MAKEUP Makeup Setting Spray" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,156 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32Wigjt">NYX PROFESSIONAL MAKEUP Makeup Setting Spray, Matte Finish, 2.03 Ounce</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.75</span><span class="ori_price">$8.50</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32Wigjt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="9.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LKjgBZ"><img src="https://images-na.ssl-images-amazon.com/images/I/91p3-h9s5jL._SX522_.jpg" alt="Crest 3D White Toothpaste" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>480 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LKjgBZ">Crest 3D White Toothpaste Radiant Mint 4.8 oz (3 pack) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.97</span><span class="ori_price">$12.59</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LKjgBZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SISFps"><img src="https://images-na.ssl-images-amazon.com/images/I/61iixOb9aVL._SX679_.jpg" alt="LIFX A19 Wi-Fi Smart LED Light Bulb" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,173 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SISFps">LIFX A19 Wi-Fi Smart LED Light Bulb, Color Changing, Dimmable, No Hub Required, App and Voice Control, Works with Amazon...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SISFps">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="15.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32OpENM"><img src="https://images-na.ssl-images-amazon.com/images/I/71-VuCz0ETL._SY879_.jpg" alt="Cuisinart Stainless Steel Chopper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>662 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32OpENM">Cuisinart CTG-00-SCHP Stainless Steel Chopper</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.79</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32OpENM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="9.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JXbJ0z"><img src="https://images-na.ssl-images-amazon.com/images/I/91GvKk0QoIL._SX522_.jpg" alt="Rolodex Deep Desk Drawer Organizer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>413 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JXbJ0z">Rolodex Deep Desk Drawer Organizer, Metal Mesh, Black (22131) 11.75 inches long by 15.25 inches wide</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.12</span><span class="ori_price">$26.49</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JXbJ0z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="22.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JXcC9p"><img src="https://images-na.ssl-images-amazon.com/images/I/41EhrLmaZHL.jpg" alt="Rubbermaid Portable Closet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>239 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JXcC9p">Rubbermaid Portable Closet, 60-inch (1807509)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.98</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JXcC9p">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="22.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SISQ46"><img src="https://images-na.ssl-images-amazon.com/images/I/81pPeWGX--L._SX522_.jpg" alt="Swiffer WetJet Hardwood and Floor Spray Mop Cleaner Starter Kit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,197 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SISQ46">Swiffer WetJet Hardwood and Floor Spray Mop Cleaner Starter Kit, Includes: 1 Power Mop, 5 Pads, Cleaner Solution, Batteries </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.97</span><span class="ori_price">$74.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SISQ46">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SO5grI"><img src="https://images-na.ssl-images-amazon.com/images/I/81qOeuTeqJL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>2,076 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SO5grI">Babyganics Face, Hand & Baby Wipes, Fragrance Free, 400 ct, Packaging May Vary</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.59</span><span class="ori_price">$21.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SO5grI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="16.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWRqjE"><img src="https://images-na.ssl-images-amazon.com/images/I/817lzVvd2NL._SY879_.jpg" alt="Leather Cleaner by Leather Honey" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,278 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWRqjE">Leather Cleaner by Leather Honey: The Best Leather Cleaner for Vinyl and Leather Apparel, Furniture, Auto Interior,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.90</span><span class="ori_price">$34.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JWRqjE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="57.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YqZJsf"><img src="https://images-na.ssl-images-amazon.com/images/I/51R2a9p-vNL._SX522_.jpg" alt="TP-Link AC1750 Smart WiFi Router" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,546 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YqZJsf">TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Router for Home, Works with Alexa, VPN Server,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$57.99</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YqZJsf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yojmX3"><img src="https://images-na.ssl-images-amazon.com/images/I/61Keho2hlRL._SX522_.jpg" alt="Outlet Wall Mount Stand for Smart Home Speakers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>45 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yojmX3">Outlet Wall Mount Stand for Smart Home Speakers Voice Assistants Dot 3rd Gen Hanger Holder Case Bracket Space Saving...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.49</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yojmX3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMp9hS"><img src="https://images-na.ssl-images-amazon.com/images/I/71q4XeTxW-L._SX679_.jpg" alt="Furinno 12127GYW/BK Turn-S-Tube End Table" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,923 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMp9hS">Furinno 12127GYW/BK Turn-S-Tube End Table 2-Pack, French Oak Grey/Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.00</span><span class="ori_price">$39.33</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMp9hS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JZ3jFU"><img src="https://images-na.ssl-images-amazon.com/images/I/615Cwa6GEdL._SX522_.jpg" alt="Big Red Rooster White Noise Machine" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>9,059 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JZ3jFU">Big Red Rooster White Noise Machine - Sound Machine For Sleeping & Relaxation - 6 Natural and Soothing Sounds....</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JZ3jFU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ZhWyx"><img src="https://images-na.ssl-images-amazon.com/images/I/812Kp9gdPEL._SX522_.jpg" alt="Melissa & Doug Take-Along Wooden Doorbell " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>667 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ZhWyx">Melissa & Doug Take-Along Wooden Doorbell Dollhouse (Doorbell Sounds, Keys, 4 Poseable Wooden Dolls, 9" H x 6.8" W x 6.8" L)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30ZhWyx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="78" data-price="5.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ys7rq2"><img src="https://images-na.ssl-images-amazon.com/images/I/61qkD1jyeOL._SX522_.jpg" alt="Toysmith Liquid Motion Bubbler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>768 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ys7rq2">Toysmith Liquid Motion Bubbler (Various Colors)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.90</span><span class="ori_price">$26.86</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ys7rq2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LNpEbt"><img src="https://images-na.ssl-images-amazon.com/images/I/51zvR-cBUdL._SX522_.jpg" alt="Titanium Bonded Scissors" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,319 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LNpEbt">Westcott 8" Titanium Bonded Scissors, 2 Scissors</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$25.35</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LNpEbt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LLXoWX"><img src="https://images-na.ssl-images-amazon.com/images/I/315YZuSLHqL.jpg" alt="Contigo Jackson Reusable Water Bottle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,607 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LLXoWX">Contigo Jackson Reusable Water Bottle, 24oz, Grayed Jade</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LLXoWX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="74" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JYVqAj"><img src="https://images-na.ssl-images-amazon.com/images/I/51FN1ib8uqL._SX522_.jpg" alt="Duralactin 180 Count Chew Tablets" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>512 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>74% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JYVqAj">Duralactin 180 Count Chew Tablets, 1000mg, Vanilla Flavor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$69.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="74" data-price="2.81">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SNC8R9"><img src="https://images-na.ssl-images-amazon.com/images/I/4143GEVLwoL.jpg" alt="Loving Pets Metallic Bella Bowl" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,163 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>74% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SNC8R9">Loving Pets Metallic Bella Bowl</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2.81</span><span class="ori_price">$10.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SNC8R9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="8.68">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YmkyoJ"><img src="https://images-na.ssl-images-amazon.com/images/I/414HtTSYDoL.jpg" alt="Intex PureSpa Cup Holder" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>905 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YmkyoJ">Intex PureSpa Cup Holder, 2 Standard Size Beverage Containers</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.68</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YmkyoJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="76" data-price="9.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SHrxHm"><img src="https://images-na.ssl-images-amazon.com/images/I/81xunlDGlIL._SX679_.jpg" alt="OtterBox ALPHA GLASS SERIES Screen Protector" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>926 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>76% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SHrxHm">OtterBox ALPHA GLASS SERIES Screen Protector for iPhone 6/6s/7/8 (NOT Plus) - Retail Packaging - CLEAR</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.50</span><span class="ori_price">$39.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SHrxHm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="17.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MkI4A4"><img src="https://images-na.ssl-images-amazon.com/images/I/81Eev140TYL._SX522_.jpg" alt="Bostitch Antimicrobial 130 Sheet Heavy Duty Stapler" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>289 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MkI4A4">Bostitch Antimicrobial 130 Sheet Heavy Duty Stapler, Black (B310HDS)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.24</span><span class="ori_price">$57.49</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MkI4A4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="92.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JWZD7y"><img src="https://images-na.ssl-images-amazon.com/images/I/81wN-hWsUwL._SX522_.jpg" alt="Hammermill Paper" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>322 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JWZD7y">Hammermill Paper, Tidal Copy Paper, 8.5 x 14 Paper, Legal Paper, 20lb Paper, 92 Bright, 10 Reams / 5,000 Sheets (162016C) Acid Free Paper</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$92.89</span><span class="ori_price">$308.30</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JWZD7y">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="24.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SI5qki"><img src="https://images-na.ssl-images-amazon.com/images/I/71HqeMw-nWL._SX679_.jpg" alt="Bluetooth Fitness Earbuds" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>249 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SI5qki">Samsung Level Active Wireless Bluetooth Fitness Earbuds - Black (US Version with Warranty)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.96</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SI5qki">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="77" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SLzj2Z"><img src="https://images-na.ssl-images-amazon.com/images/I/61T-qLn9OiL._SX679_.jpg" alt="SiriusXM Commander Touch Full-Color" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>112 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>77% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SLzj2Z">SiriusXM Commander Touch Full-Color, Touchscreen Dash-Mounted Radio with Free 3 Months Satellite and Streaming Service</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$129.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SLzj2Z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="27.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yrvm4W"><img src="https://images-na.ssl-images-amazon.com/images/I/81qdazluuTL._SX679_.jpg" alt="mophie juice pack wireless" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3.jpg' %>"><p>316 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yrvm4W">mophie juice pack wireless - Charge Force Wireless Power - Wireless Charging Protective Battery Pack Case for....</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.88</span><span class="ori_price">$99.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yrvm4W">Shop Now at Amazon</a></div>
</div>
