<div class="card clearfix" data-score="30" data-price="279.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lD2QzA"><img src="https://images-na.ssl-images-amazon.com/images/I/713A2vc5g1L._SX679_.jpg" alt="Dyson V7" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lD2QzA"><span>Amazon Prime Day Deals:</span> Dyson V7 Animal Pro+ Cordless Vacuum Cleaner - Extra Tools for Homes with Pets,...</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6xVLz">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$279.99</span><span class="ori_price">$399.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lD2QzA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="349.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2luH5li"><img src="https://images-na.ssl-images-amazon.com/images/I/71IKVJYYL%2BL._SL1500_.jpg" alt="Dyson Ball Animal 2 Total Clean" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>110 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2luH5li"><span>Amazon Prime Day Deals:</span> Dyson Ball Animal 2 Total Clean Upright Vacuum Cleaner, Blue</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6xVLz">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$349.99</span><span class="ori_price">$599.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2luH5li">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="329.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lrKqS6"><img src="https://images-na.ssl-images-amazon.com/images/I/71YzHFRsO7L._SX679_.jpg" alt="Dyson Pure Cool" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>35 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lrKqS6"><span>Amazon Prime Day Deals:</span> Dyson Pure Cool, DP04-HEPA Air Purifier and Fan WiFi-Enabled, Large Rooms,...</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6xVLz">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$329.99</span><span class="ori_price">$449.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lrKqS6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k9HSb9"><img src="https://images-na.ssl-images-amazon.com/images/I/61uvKINNm8L._SX522_.jpg" alt="Fire TV Stick" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>27,954 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2k9HSb9"><span>Amazon Prime Day Deals:</span> Fire TV Stick 4K with Alexa Voice Remote, streaming media player (Includes $45 Sling TV Credit)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2k9HSb9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="999.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lCOfEf"><img src="https://images-na.ssl-images-amazon.com/images/I/61rjV21bzfL._SX522_.jpg" alt="Acer Predator Helios 300 Gaming Laptop PC" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>694 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lCOfEf"><span>Amazon Prime Day Deals:</span> Acer Predator Helios 300 Gaming Laptop PC, 15.6" FHD IPS w/ 144Hz Refresh,...</a></p>
    <div class="prime_more"><a href="https://amzn.to/2lwKeRD">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$999.99</span><span class="ori_price">$1,299.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lCOfEf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="1,249.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k8gKt4"><img src="https://images-na.ssl-images-amazon.com/images/I/81Nox3hzQaL._SX522_.jpg" alt="ASUS ROG Zephyrus S Ultra Slim Gaming PC Laptop" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>220 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2k8gKt4"><span>Amazon Prime Day Deals:</span> ASUS ROG Zephyrus S Ultra Slim Gaming PC Laptop, 15.6” 144Hz IPS Type,...</a></p>
    <div class="prime_more"><a href="https://amzn.to/2lwKeRD">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,249.99</span><span class="ori_price">$1,799.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2k8gKt4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="479.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lEcO3G"><img src="https://images-na.ssl-images-amazon.com/images/I/91Ht14i9NbL._SX522_.jpg" alt="HP Pavilion Gaming PC Desktop Computer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>80 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lEcO3G"><span>Amazon Prime Day Deals:</span> HP Pavilion Gaming PC Desktop Computer, AMD Ryzen 5 2400G, AMD Radeon RX 580,...</a></p>
    <div class="prime_more"><a href="https://amzn.to/2lwKeRD">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$479.99</span><span class="ori_price">$769.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lEcO3G">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lEZvQz"><img src="https://images-na.ssl-images-amazon.com/images/I/61IsA3O32GL._SX522_.jpg" alt="AMD Ryzen" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>720 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lEZvQz"><span>Amazon Prime Day Deals:</span> AMD Ryzen 7 2700X Processor with Wraith Prism LED Cooler</a></p>
    <div class="prime_more"><a href="https://amzn.to/2lwKeRD">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$329.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lEZvQz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lEvKPP"><img src="https://images-na.ssl-images-amazon.com/images/I/61gHAs40%2BhL._SX522_.jpg" alt="ViewSonic LED Monitor " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>516 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lEvKPP"><span>Amazon Prime Day Deals:</span> ViewSonic VA2446M-LED 24 Inch Full HD 1080p LED Monitor ...</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6BT6V">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$129.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lEvKPP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="159.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lDkQKa"><img src="https://images-na.ssl-images-amazon.com/images/I/71jqVlTgp-L._SY879_.jpg" alt="Samsung Galaxy Tab A" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,981 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lDkQKa"><span>Amazon Prime Day Deals:</span> Samsung Galaxy Tab A SM-T580NZKAXAR 10.1-Inch 16 GB, Tablet (Black)</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6BT6V">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$159.99</span><span class="ori_price">$279.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lDkQKa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lEzKzP"><img src="https://images-na.ssl-images-amazon.com/images/I/610SICx2d0L._SX522_.jpg" alt="Samsung Galaxy Tab A " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,397 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lEzKzP"><span>Amazon Prime Day Deals:</span> Samsung Galaxy Tab A 8"; 16 GB Wifi Tablet (Smoky Titanium) SM-T350NZAAXAR</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6BT6V">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$175.72</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lEzKzP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="369.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k9MgqD"><img src="https://images-na.ssl-images-amazon.com/images/I/71cFibrfw3L._SX522_.jpg" alt="Samsung Galaxy Tab S3 9.7-Inch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>899 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2k9MgqD"><span>Amazon Prime Day Deals:</span> Samsung Galaxy Tab S3 9.7-Inch, 32GB Tablet (Black, SM-T820NZKAXAR)</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6BT6V">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$369.99</span><span class="ori_price">$547.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2k9MgqD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lDoSCi"><img src="https://images-na.ssl-images-amazon.com/images/I/51YjxKz5u2L._SX522_.jpg" alt="Samsung Galaxy Tab A" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,981 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lDoSCi"><span>Amazon Prime Day Deals:</span> Samsung Galaxy Tab A SM-P580NZKAXAR 10.1-Inch 16 GB, Tablet with S Pen (Black)</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6BT6V">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$329.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lDoSCi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="459.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ltlx8B"><img src="https://images-na.ssl-images-amazon.com/images/I/611eLOfCDYL._SX522_.jpg" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>81 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ltlx8B"><span>Amazon Prime Day Deals:</span>Segway Ninebot ES2 Folding Electric Kick Scooter, Dark Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$459.99</span><span class="ori_price">$569.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ltlx8B">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="379.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2luNbCc"><img src="https://images-na.ssl-images-amazon.com/images/I/91sNtRYu3nL._SX522_.jpg" alt="LG 34GL750-B 34 Inch 21:9" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>287 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2luNbCc"><span>Amazon Prime Day Deals:</span> LG 34GL750-B 34 Inch 21:9 Ultragear Curved WFHD (2560 x 1080) IPS 144Hz G-SYNC Compatible Gaming Monitor</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k6BT6V">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$379.99</span><span class="ori_price">$549.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2luNbCc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="499.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lbRnGT"><img src="https://images-na.ssl-images-amazon.com/images/I/71FWDYHRf5L._SX522_.jpg" alt="Dell U3417W FR3PK 34-Inch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>189 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lbRnGT"><span>Amazon Prime Day Deals:</span> Dell U3417W FR3PK 34-Inch Screen Led-Lit Monitor</a></p>
    <div class="prime_more"><a href="https://amzn.to/2l9yG6K">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$499.99</span><span class="ori_price">$899.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lbRnGT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="48.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lFcfXp"><img src="https://images-na.ssl-images-amazon.com/images/I/51MVS4gEcAL._SX522_.jpg" alt="Toshiba Canvio Advance 2TB ..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>4,173 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lFcfXp"><span>Amazon Prime Day Deals:</span> Toshiba Canvio Advance 2TB Portable External Hard Drive USB 3.0, Blue</a></p>
    <div class="prime_more"><a href="https://amzn.to/2l9yG6K">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.79</span><span class="ori_price">$72.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lFcfXp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ltaDzH"><img src="https://images-na.ssl-images-amazon.com/images/I/41x3g0QG0PL._SX679_.jpg" alt="TP-Link|Portable Charger" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>336 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ltaDzH"><span>Amazon Prime Day Deals:</span> TP-Link|Portable Charger|10000mAh Power Bank|Ultra Slim External Battery...</a></p>
    <div class="prime_more"><a href="https://amzn.to/2l9yG6K">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ltaDzH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="79.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lwQEQJ"><img src="https://images-na.ssl-images-amazon.com/images/I/91Sn0bPrIzL._SX522_.jpg" alt="$AeroGarden Harvest" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>215 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lwQEQJ"><span>Amazon Prime Day Deals:</span> AeroGarden Harvest (Classic) with Gourmet Herb Seed Pod Kit, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.00</span><span class="ori_price">$149.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lwQEQJ">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="36" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k6J0MF"><img src="https://images-na.ssl-images-amazon.com/images/I/61AwQFSaV+L._AC_SR300,300_.jpg" alt="Amazon Prime Day Deal" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Prime Day Deals:</span> Save 36% or more on Britax car seats & strollers</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2lFryzl">Britax Highpoint Belt-Positioning Booster Seat</a> - <span>95.52<em>149.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2XLCBZV">Britax Frontier ClickTight Harness-2-Booster Car Seat</a> - <span>190.29<em>279.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2lEZpZb">BOB Revolution Flex 2.0 Jogging Stroller</a> - <span>389.99<em>449.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2k9Vljd">BOB Revolution Flex Duallie 2.0 Jogging Stroller</a> - <span>479.99<em>639.99</em></span></li>
            <li><a href="https://amzn.to/2k6J0MF">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2k6J0MF">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="45" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2k8rebU"><img src="https://images-na.ssl-images-amazon.com/images/I/51rv0I8VLCL._AC_US160_.jpg" alt="Amazon Prime Day Deal" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Prime Day Deals:</span> Save Up to 45% on select Mattresses</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2lDPnaK">Classic Brands Cool Gel 2.0 Ultimate Gel Memory Foam </a> - <span>349.00<em>633.28</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2lEJQkc">12-Inch Mattress, CertiPUR-US Certified, Queen</a> - <span>235.25<em>335.77</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2lskwO7">4.5-Inch Memory Foam Replacement Mattress</a> - <span>98.48<em>148.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2XHn4ud">Luxury CertiPUR-US Certified 3 Layer Foam</a> - <span>709.00<em>940.00</em></span></li>
            <li><a href="https://amzn.to/2k8rebU">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2k8rebU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lDVBaC"><img src="https://images-na.ssl-images-amazon.com/images/I/515qWW-cFPL._AC_SR300,300_.jpg" alt="Under Armour" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,008 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lDVBaC"><span>Amazon Prime Day Deals:</span> Under Armour Men's Raid 10-Inch Shorts</a></p>
    <div class="prime_more"><a href="https://amzn.to/2lDxYyT">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.99</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lDVBaC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="34.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lESZJy"><img src="https://images-na.ssl-images-amazon.com/images/I/81hM9RXk5OL._UX575_.jpg" alt="New Balance" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>21 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lESZJy"><span>Amazon Prime Day Deals:</span> New Balance Men's District Run V1 Cush + Sneaker</a></p>
    <div class="prime_more"><a href="https://amzn.to/30vc1kw">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.00</span><span class="ori_price">$64.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lESZJy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lFeNVr"><img src="https://images-na.ssl-images-amazon.com/images/I/51M7HcOZVyL._UX535_.jpg" alt="Crocs Women's Bayaband Clog" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>39 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lFeNVr"><span>Amazon Prime Day Deals:</span> Crocs Women's Bayaband Clog</a></p>
    <div class="prime_more"><a href="https://amzn.to/2k7WRSU">- SEE MORE</a></div>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.00</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lFeNVr">Shop Now at Amazon</a></div>
</div>