<div class="card clearfix" data-score="50" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGQXGx"><img src="https://images-na.ssl-images-amazon.com/images/I/81iTkbUqJKL._SX522_.jpg" alt="KitNipBox" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGQXGx"><span>Amazon Deal Of The Day:</span> KitNipBox - Monthly Cat Subscription Box of Cat Toys, Treats and Goodies: Happy Cat</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.00</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YGQXGx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GS4JQK"><img src="https://images-na.ssl-images-amazon.com/images/I/81yjanflJvL._SY606_.jpg" alt="Real Tree Xtra EDC Folding Knife" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GS4JQK"><span>Amazon Deal Of The Day:</span> Real Tree Xtra EDC Folding Knife and Neck Knife Sheath with Survival Paracord Combo Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$20.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GS4JQK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33gKFAO"><img src="https://images-na.ssl-images-amazon.com/images/I/41Y2dfI6K1L._SX679_.jpg" alt="prodApple EarPods" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33gKFAO">prodApple EarPods with Lightning Connector - Whitecut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.98</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33gKFAO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLyDQL"><img src="https://images-na.ssl-images-amazon.com/images/I/61z5oOk5fzL._SY879_.jpg" alt="NETGEAR Wi-Fi Range Extender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLyDQL">NETGEAR Wi-Fi Range Extender EX3700 - Coverage up to 1000 sq.ft. and 15 devices with AC750 Dual Band Wireless Signal Booster ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$46.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YLyDQL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="44.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kjyo7e"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/6aef85f5-087d-42d0-8230-aef72629c2e6._CR0,0,800,600_PT0_SX800__.jpg" alt="DualShock 4 Wireless Controller" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kjyo7e">DualShock 4 Wireless Controller for PlayStation 4 - Magma Red by Sony</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.10</span><span class="ori_price">$64.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kjyo7e">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="19.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31mshoI"><img src="https://images-na.ssl-images-amazon.com/images/I/81YtozY6oRL._SX425_.jpg" alt="Logitech MK270 Wireless Keyboard and Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31mshoI">Logitech MK270 Wireless Keyboard and Mouse Combo - Keyboard and Mouse Included, 2.4GHz Dropout-Free Connection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.44</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31mshoI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="35.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YL40qx"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZQgWwuVzL._SY879_.jpg" alt="Logitech G602 Lag-Free Wireless Gaming Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YL40qx">Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Up to 2500 DPI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.11</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YL40qx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="10.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KgQ4R2"><img src="https://images-na.ssl-images-amazon.com/images/I/810QKwepOiL._SY879_.jpg" alt="Scotch Thermal Laminating Pouches" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KgQ4R2">Scotch Thermal Laminating Pouches, 8.9 x 11.4 -Inches, 3 mil thick, 100-Pack (TP3854-100)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.54</span><span class="ori_price">$24.68</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KgQ4R2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YsSYuW"><img src="https://images-na.ssl-images-amazon.com/images/I/31FKPD7sbWL.jpg" alt="CACAGOO Video Baby Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YsSYuW">CACAGOO Video Baby Monitor with Camera and Audio, 2.4Ghz Security Wifi Camera, Home IP Camera with Night Vision/Motion...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YsSYuW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KlTLFn"><img src="https://images-na.ssl-images-amazon.com/images/I/712%2BhCYFYhL._SX679_.jpg" alt="Mounting Dream TV Wall Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KlTLFn">Mounting Dream TV Wall Mount with Post Installation Leveling for Most 37-70" Flat-Panel TVs, Tilting TV Mount up...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$42.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KlTLFn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YM2x3k"><img src="https://images-na.ssl-images-amazon.com/images/I/61TlwRaForL._SX679_.jpg" alt="Phone Holder for Car" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YM2x3k">Phone Holder for Car, 360° Rotate Strong Sticky Gel Premium 3M Dashboard Car Phone Mount Cradle [Easy Opening & Neat...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YM2x3k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GOTZ5z"><img src="https://images-na.ssl-images-amazon.com/images/I/61se%2BqAsbOL._SX679_.jpg" alt="mophie - Wireless Charge Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GOTZ5z">mophie - Wireless Charge Pad - Apple Optimized - 7.5W Qi Wireless Technology for iPhone Xr, Xs Max, X / Xs, 8 and 8 Plus - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GOTZ5z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="63.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MFrSte"><img src="https://images-na.ssl-images-amazon.com/images/I/31MvffIvvcL._SX425_.jpg" alt="Whistle Go/Health & Location Tracker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MFrSte">Whistle Go/Health & Location Tracker for Pets</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$63.95</span><span class="ori_price">$99.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MFrSte">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GPrSmy"><img src="https://images-na.ssl-images-amazon.com/images/I/71c57aJiDAL._SX425_.jpg" alt="outlite A100 Portable Ultra Bright..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GPrSmy">outlite A100 Portable Ultra Bright Handheld LED Flashlight with Adjustable Focus and 5 Light Modes, Outdoor Water...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.99</span><span class="ori_price">$11.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GPrSmy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="31.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GLDzuv"><img src="https://images-na.ssl-images-amazon.com/images/I/813O5z56O3L._SX522_.jpg" alt="Everlasting Comfort 100% Pure Memory Foam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GLDzuv">Everlasting Comfort 100% Pure Memory Foam Wheelchair Seat Cushion, Gel Infused, Ventilated - Designed for Back, Hip, and...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.40</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GLDzuv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="299.00">
  <div class="image_box">
    <a target="_blank" href="https://www.amazon.com/Dyson-Animal-Cordless-Vacuum-Cleaner/dp/B06XG7WKKL/ref=gbps_img_s-5_a544_a51a1a9e?smid=ATVPDKIKX0DER&pf_rd_p=73793677-0789-40d9-9f0d-77265ab8a544&pf_rd_s=slot-5&pf_rd_t=701&pf_rd_i=gb_main&pf_rd_m=ATVPDKIKX0DER&pf_rd_r=FHJEPHS7NZFBHQDD73KT"><img src="https://images-na.ssl-images-amazon.com/images/I/71rbvN7x4NL._SX425_.jpg" alt="Dyson V8 Animal Cordless Stick Vacuum Cleaner, Iron" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://www.amazon.com/Dyson-Animal-Cordless-Vacuum-Cleaner/dp/B06XG7WKKL/ref=gbps_img_s-5_a544_a51a1a9e?smid=ATVPDKIKX0DER&pf_rd_p=73793677-0789-40d9-9f0d-77265ab8a544&pf_rd_s=slot-5&pf_rd_t=701&pf_rd_i=gb_main&pf_rd_m=ATVPDKIKX0DER&pf_rd_r=FHJEPHS7NZFBHQDD73KT">Dyson V8 Animal Cordless Stick Vacuum Cleaner, Iron</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.00</span><span class="ori_price">$499.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://www.amazon.com/Dyson-Animal-Cordless-Vacuum-Cleaner/dp/B06XG7WKKL/ref=gbps_img_s-5_a544_a51a1a9e?smid=ATVPDKIKX0DER&pf_rd_p=73793677-0789-40d9-9f0d-77265ab8a544&pf_rd_s=slot-5&pf_rd_t=701&pf_rd_i=gb_main&pf_rd_m=ATVPDKIKX0DER&pf_rd_r=FHJEPHS7NZFBHQDD73KT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GLDUgL"><img src="https://images-na.ssl-images-amazon.com/images/I/71e7a5dwv%2BL._SX522_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GLDUgL">Lightening Serum with Kojic Acid, Dark Spot Corrector Remover for Face & Body, Natural Gentle Skin Brightening & Bleaching Cream,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$49.90</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GLDUgL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KjA5BC"><img src="https://images-na.ssl-images-amazon.com/images/I/61iVWu3VliL._SX679_.jpg" alt="Hamilton Beach Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KjA5BC">Hamilton Beach Coffee Maker with Glass Carafe, 5-Cup (48136)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$32.50</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KjA5BC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GOElqO"><img src="https://images-na.ssl-images-amazon.com/images/I/71Tcvr9h5CL._SX679_.jpg" alt="Sengled Pulse LED Smart Bulb" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GOElqO">Sengled Pulse LED Smart Bulb with JBL Bluetooth Speaker, Requires Pulse Starter Kit, App Controlled Up to 8 BR30 LED Light Bulbs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GOElqO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="9.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31hb1AU"><img src="https://images-na.ssl-images-amazon.com/images/I/81XyFiIVTOL._SX569_.jpg" alt="Abyss Gear Glass Screen Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31hb1AU">Abyss Gear Glass Screen Protector for iPhone 8 Plus 7 Plus (2 Pack), Double Strength Tempered Glass Shatter Resistant ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.97</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31hb1AU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="46.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KhIdTq"><img src="https://images-na.ssl-images-amazon.com/images/I/712kBtTDt7L._SY879_.jpg" alt="WD Blue 1TB PC Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KhIdTq">WD Blue 1TB PC Hard Drive - 7200 RPM Class, SATA 6 Gb/s, 64 MB Cache, 3.5" - WD10EZEX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.99</span><span class="ori_price">$109.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KhIdTq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGHE9L"><img src="https://images-na.ssl-images-amazon.com/images/I/41vGmSSapkL._SX679_.jpg" alt="Wemo Mini Smart Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGHE9L">Wemo Mini Smart Plug, WiFi Enabled, Works with Alexa, Google Assistant & Apple HomeKit</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YGHE9L">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="60.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31jzIwK"><img src="https://images-na.ssl-images-amazon.com/images/I/31DDmAfrcvL._SY606_.jpg" alt="Apple USB-C Digital AV Multiport Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31jzIwK">Apple USB-C Digital AV Multiport Adapter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$60.99</span><span class="ori_price">$79.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31jzIwK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="63.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLtHai"><img src="https://images-na.ssl-images-amazon.com/images/I/71SOvAX4SnL._SY879_.jpg" alt="TP-Link | PCMag Editor's Choice" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLtHai">TP-Link | PCMag Editor's Choice - AC1750 Wifi Range Extender | Up to 1750Mbps | Dual Band, Repeater, Internet Booster,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$63.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YLtHai">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yqla1j"><img src="https://images-na.ssl-images-amazon.com/images/I/71LaM9tIWFL._SX679_.jpg" alt="NETGEAR 8-Port Gigabit Ethernet Unmanaged Switch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yqla1j">NETGEAR 8-Port Gigabit Ethernet Unmanaged Switch (GS308) - Desktop, Sturdy Metal Fanless Housing</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$27.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yqla1j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="29.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GPCgef"><img src="https://images-na.ssl-images-amazon.com/images/I/51IFnBhKeQL._AC_SX215_.jpg" alt="Mario + Rabbids Kingdom Battle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GPCgef">Mario + Rabbids Kingdom Battle - Nintendo Switch Standard Edition by Ubisoft</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.49</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GPCgef">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="26.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33dFHoG"><img src="https://images-na.ssl-images-amazon.com/images/I/61eK%2BI13tLL._SY741_.jpg" alt="Gerber Suspension Multi-Plier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33dFHoG">Gerber Suspension Multi-Plier [22-01471]</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.34</span><span class="ori_price">$49.32</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33dFHoG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="59.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GN28Hu"><img src="https://images-na.ssl-images-amazon.com/images/I/61gFDUsem9L._SX679_.jpg" alt="Arlo Audio Doorbell" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GN28Hu">Arlo Audio Doorbell, White (AAD1001-100NAS)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.98</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GN28Hu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="29.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KgSgbe"><img src="https://images-na.ssl-images-amazon.com/images/I/61vFBfRVqAL._SX679_.jpg" alt="Lifeproof FRĒ SERIES iPhone 6/6s Waterproof Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KgSgbe">Lifeproof FRĒ SERIES iPhone 6/6s Waterproof Case (4.7" Version) - Retail Packaging - BLACK</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.79</span><span class="ori_price">$44.49</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KgSgbe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="30.81">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GPx5Ld"><img src="https://images-na.ssl-images-amazon.com/images/I/31RCRbbhY3L.jpg" alt="Plantronics 88120-41 M165 Marque" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GPx5Ld">Plantronics 88120-41 M165 Marque 2 Ultralight Wireless Bluetooth Headset - Compatible with iPhone, Android, and Other Leading Smartphones - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.81</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GPx5Ld">Shop Now at Amazon</a></div>
</div>

