<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFkHAJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61u2fw3qupL._SX679_.jpg" alt="KitchenAid KTEN20CBOB 2.0-Quart Kettle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>954 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFkHAJ">KitchenAid KTEN20CBOB 2.0-Quart Kettle with C Handle and Trim Band - Onyx Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LFkHAJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LH09rA"><img src="https://images-na.ssl-images-amazon.com/images/I/61jKE5eoOoL._SX522_.jpg" alt="GOgroove Bluetooth Multimedia Remote Control" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>32 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LH09rA">GOgroove Bluetooth Multimedia Remote Control - Wireless Camera Shutter , Audio Playback Controls and Voice Activated Commands...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$26.17</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LH09rA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="148.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFnVEh"><img src="https://images-na.ssl-images-amazon.com/images/I/91V%2BiRkqCOL._UY741_.jpg" alt="Ferrari Men's Watch" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFnVEh">Ferrari Men's KERS Xtreme Stainless Steel Quartz Watch with Silicone Strap, red, 22 (Model: 0830469)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$148.12</span><span class="ori_price">$275.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LFnVEh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="96.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMABgF"><img src="https://images-na.ssl-images-amazon.com/images/I/61r8x-SlitL._UX679_.jpg" alt="Armani Exchange Men's Watch" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>177 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMABgF">Armani Exchange Men's Three-Hand Stainless Steel Watch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$96.88</span><span class="ori_price">$180.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YMABgF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="88.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XvJ8CX"><img src="https://images-na.ssl-images-amazon.com/images/I/717XKflJg7L._UX679_.jpg" alt="IVI Division Aviator" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XvJ8CX">IVI Division Aviator</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$88.43</span><span class="ori_price">$150.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XvJ8CX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JhvEGZ"><img src="https://images-na.ssl-images-amazon.com/images/I/71DHpyIfxnL._UX575_.jpg" alt="TAG Heuer Legend 9382 Square Sunglasses" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JhvEGZ">TAG Heuer Legend 9382 Square Sunglasses</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.99</span><span class="ori_price">$459.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JhvEGZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="39.81">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xv72P3"><img src="https://images-na.ssl-images-amazon.com/images/I/914icbOzLgL._SX522_.jpg" alt="Gucci Made To Measure Eau de Toilette Spray" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>150 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xv72P3">Gucci Made To Measure Eau de Toilette Spray for Men, 1.6 Ounce </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.81</span><span class="ori_price">$68.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xv72P3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30eX1Y7"><img src="https://images-na.ssl-images-amazon.com/images/I/9138s0RrP9L._UY741_.jpg" alt="Tommy Hilfiger Alexander" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>2 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30eX1Y7">Tommy Hilfiger Alexander Nylon BL Bag Multipurpose Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$118.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30eX1Y7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="84.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xy73Xi"><img src="https://images-na.ssl-images-amazon.com/images/I/81toj8HyyPL._UX679_.jpg" alt="Oakley Mens Men's Utility Folded Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xy73Xi">Oakley Mens Men's Utility Folded Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$84.01</span><span class="ori_price">$140.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Xy73Xi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="139.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XxqQRZ"><img src="https://images-na.ssl-images-amazon.com/images/I/51W-O4Jn9EL._SX522_.jpg" alt="AMD Ryzen" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>773 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XxqQRZ">AMD Ryzen 5 2600 Processor with Wraith Stealth Cooler - YD2600BBAFBOX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$139.99</span><span class="ori_price">$199.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XxqQRZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="109.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XrwVPO"><img src="https://images-na.ssl-images-amazon.com/images/I/81AMm9SEbyL._SX679_.jpg" alt="TCL 32D100 32-Inch 720p LED TV (2017 Model)" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>379 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XrwVPO">TCL 32D100 32-Inch 720p LED TV (2017 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.95</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XrwVPO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="177.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XwsnMN"><img src="https://images-na.ssl-images-amazon.com/images/I/81khZx00%2BtL._SX522_.jpg" alt="Samsung T5 Portable SSD - 1TB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,691 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XwsnMN">Samsung T5 Portable SSD - 1TB - USB 3.1 External SSD (MU-PA1T0B/AM), Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$177.99</span><span class="ori_price">$249.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2XwsnMN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="40.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHyGWW"><img src="https://images-na.ssl-images-amazon.com/images/I/51cFg3MZiEL._UX679_.jpg" alt="Element Men's Alder Rain" /></a>
    <div class="rating"><p>0 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHyGWW">Element Men's Alder Rain</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.48</span><span class="ori_price">$89.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHyGWW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/31RCRbbhY3L.jpg" alt="Wireless Bluetooth Headset" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>5,032 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Plantronics 88120-41 M165 Marque 2 Ultralight Wireless Bluetooth Headset - Compatible with iPhone, Android, and Other Leading Smartphones - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="24.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xypSuf"><img src="https://images-na.ssl-images-amazon.com/images/I/81TTUPZWacL._SX679_.jpg" alt="SanDisk 128GB Extreme microSDXC" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>Re1,286view_Num Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xypSuf">SanDisk 128GB Extreme microSDXC UHS-I Memory Card with Adapter - C10, U3, V30, 4K, A2, Micro SD - SDSQXA1-128G-GN6MA</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.79</span><span class="ori_price">$68.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xypSuf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHNPXZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61YE9BSH17L._SY879_.jpg" alt="Easy Portable Label Maker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>712 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHNPXZ">Brother P-touch, PTH110, Easy Portable Label Maker, Lightweight, QWERTY Keyboard, One-Touch Keys, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHNPXZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="43.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jhyig7"><img src="https://images-na.ssl-images-amazon.com/images/I/712kBtTDt7L._SY879_.jpg" alt="WD Blue 1TB PC Hard Drive" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>9,351 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jhyig7">WD Blue 1TB PC Hard Drive - 7200 RPM Class, SATA 6 Gb/s, 64 MB Cache, 3.5" - WD10EZEX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.47</span><span class="ori_price">$109.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jhyig7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="4.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBQlmk"><img src="https://images-na.ssl-images-amazon.com/images/I/71O11vM2TdL._SX522_.jpg" alt="Chuckit! Ultra Ball" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,965 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBQlmk">Chuckit! Ultra Ball</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.49</span><span class="ori_price">$10.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YBQlmk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="36.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jkfwor"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZQgWwuVzL._SY879_.jpg" alt="Logitech G602 Lag-Free Wireless Gaming Mouse" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,603 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jkfwor">Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Up to 2500 DPI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Jkfwor">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JrPqyH"><img src="https://images-na.ssl-images-amazon.com/images/I/71zjWFPIo-L._SX522_.jpg" alt="N150 USB wireless WiFi network Adapter" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,147 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JrPqyH">TP-Link | N150 USB wireless WiFi network Adapter for PC with SoftAP Mode - Nano Size, Compatible with Windows XP/7/8/8.1/10...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$17.60</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JrPqyH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="134.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2xCd7yw"><img src="https://images-na.ssl-images-amazon.com/images/I/61OofSxR4fL._SX522_.jpg" alt="CORSAIR Vengeance Performance 32GB" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>78 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2xCd7yw">CORSAIR Vengeance Performance 32GB (2x16GB) 260-Pin DDR4 SO-DIMM DDR4 2666 (PC4 21300) Laptop Memory Model CMSX32GX4M2A2666C18</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$134.99</span><span class="ori_price">$410.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2xCd7yw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JiyX0D"><img src="https://images-na.ssl-images-amazon.com/images/I/61OReVv5ooL._SY741_.jpg" alt="Samsung Galaxy Note9 Replacement S-Pen" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>167 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JiyX0D">Samsung Galaxy Note9 Replacement S-Pen, Yellow / Ocean Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.00</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
      <em>*Average rating and Reviews may change after the best deals updated date.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2JiyX0D">Shop Now at Amazon</a></div>
</div>


