<div class="card dealofday clearfix" data-score="54" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YWB135"><img src="https://images-na.ssl-images-amazon.com/images/I/51v7fd12VOL._UX679_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_link"><span>Amazon Deal Of The Day:</span> Save up to 54% on Oakley Sunglasses</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2YEuIWP">Oakley Holbrook Sunglasses, Matte Black Frame</a> - <span>59.00<em>123.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31GozXd">Oakley Mens Conductor 6 Sunglasses (OO4106) Metal</a> - <span>111.95<em>243.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2KqRvMM">Oakley Women's OO9362 Reverie Square Sunglasses</a> - <span>79.95<em>133.00</em></span></li>
            <li><a href="https://amzn.to/2YWB135">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YWB135">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H0zsLh"><img src="https://images-na.ssl-images-amazon.com/images/I/81SGQtU8dDL._SY679_.jpg" alt="Garmin Speak with Amazon Alexa" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H0zsLh">Garmin Speak with Amazon Alexa, What You Love About Amazon Alexa— Now in Your car, 010-01862-01</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H0zsLh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="65.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31v03rJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61jhgzpoZJL._SX522_.jpg" alt="Xerox Phaser 3260/DNI Monchrome Laser Printer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31v03rJ">Xerox Phaser 3260/DNI Monchrome Laser Printer - Wireless</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$65.00</span><span class="ori_price">$209.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31v03rJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Tq632f"><img src="https://images-na.ssl-images-amazon.com/images/I/31SAfYB35rL.jpg" alt="Brother P-Touch Cube Smartphone Label Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Tq632f">Brother P-Touch Cube Smartphone Label Maker, Bluetooth Wireless Technology, Multiple Templates Available for Apple & Android Compatible – White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Tq632f">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="15.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33uqG1J"><img src="https://images-na.ssl-images-amazon.com/images/I/91J-TK-DyML._SX679_.jpg" alt="SCOSCHE MAG12VB MagicMount Magnetic Phone/GPS Power Outlet Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33uqG1J">SCOSCHE MAG12VB MagicMount Magnetic Phone/GPS Power Outlet Mount for the Car in Frustration Free Packaging</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.79</span><span class="ori_price">$25.83</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33uqG1J">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="28.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31wcfIG"><img src="https://images-na.ssl-images-amazon.com/images/I/715iCwiyBuL._SX425_.jpg" alt="Hamilton Buhl Classroom Cassette Player" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31wcfIG">Hamilton Buhl Classroom Cassette Player, 2 Station, 1 Watt (D132) (HA802)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31wcfIG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GZ9yYw"><img src="https://images-na.ssl-images-amazon.com/images/I/51S5mjoZigL._SX425_.jpg" alt="Skullcandy Ink'd 2.0 Wired Earbuds " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GZ9yYw">Skullcandy Ink'd 2.0 Wired Earbuds with in-Line Microphone and Remote, Tangle-Reducing Flat Cable,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.46</span><span class="ori_price">$20.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GZ9yYw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KteDKH"><img src="https://images-na.ssl-images-amazon.com/images/I/61bGPuPgkSL._SY679_.jpg" alt="Spigen Slim Armor CS Designed ..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KteDKH">Spigen Slim Armor CS Designed for Samsung Galaxy S7 Case (2016) - Gunmetal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KteDKH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="38.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31sbtMM"><img src="https://images-na.ssl-images-amazon.com/images/I/61mCld7klVL._SX522_.jpg" alt="3M Privacy Filter for 14-inch Widescreen Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31sbtMM">3M Privacy Filter for 14" Widescreen Laptop, Protects your confidential information, Black out side views, Reduces blue light (PF140W9B)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$38.85</span><span class="ori_price">$88.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31sbtMM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="135.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Gr5N9"><img src="https://images-na.ssl-images-amazon.com/images/I/81i3fuwzAQL._SX679_.jpg" alt="Two-Tier Display Stand" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Gr5N9">Modway Render Mid-Century Modern Two-Tier Display Stand in Walnut</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$135.99</span><span class="ori_price">$325.50</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Gr5N9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="497.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33tasGn"><img src="https://images-na.ssl-images-amazon.com/images/I/81BCS8w0v9L._SX679_.jpg" alt="PANASONIC LUMIX GX85 4K Digital Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33tasGn">PANASONIC LUMIX GX85 4K Digital Camera, 12-32mm and 45-150mm Lens Bundle, 16 Megapixel Mirrorless Camera Kit,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$497.99</span><span class="ori_price">$999.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33tasGn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="72.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ktz8qL"><img src="https://images-na.ssl-images-amazon.com/images/I/910EXG%2BULOL._SX425_.jpg" alt="MXL Mics 770 Cardioid Condenser Microphone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ktz8qL">MXL Mics 770 Cardioid Condenser Microphone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$72.51</span><span class="ori_price">$169.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ktz8qL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MT0Hv3"><img src="https://images-na.ssl-images-amazon.com/images/I/61VQHvX2VRL._SX522_.jpg" alt="Sony MDRXB510AS/B Extra Bass Wired Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MT0Hv3">Sony MDRXB510AS/B Extra Bass Wired Headphones, Best Sports Headphones W/Mic IPX5 Stereo Sweatproof Earbuds Durable ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MT0Hv3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="12.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYDw4T"><img src="https://images-na.ssl-images-amazon.com/images/I/61NnPa%2BxtjL._SX679_.jpg" alt="Samsung EP-LN920BBEGUS Fast Charge" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYDw4T">Samsung EP-LN920BBEGUS Fast Charge Dual-Port Car Charger - Retail Packaging</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.05</span><span class="ori_price">$38.73</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YYDw4T">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kr46zv"><img src="https://images-na.ssl-images-amazon.com/images/I/71TOK27XgyL._SX679_.jpg" alt="Anker Soundcore Liberty Neo Wireless Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kr46zv">Anker Soundcore Liberty Neo Wireless Bluetooth Earbuds, Graphene Drivers, Pumping Bass, Secure Fit, Bluetooth 5.0 Headphones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kr46zv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GZJZqd"><img src="https://images-na.ssl-images-amazon.com/images/I/61Js0FGG6dL._SX522_.jpg" alt="Kasa Smart Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GZJZqd">Kasa Smart Plug, 2-Outlets by TP-Link - Reliable WiFi Connection, Double the Outlets, Control from Anywhere,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.99</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GZJZqd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="8.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MX09Ey"><img src="https://images-na.ssl-images-amazon.com/images/I/61Ia7yCkwxL._SX522_.jpg" alt="Slant Tweezers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MX09Ey">Slant Tweezers - Tweezer Guru Professional Stainless Steel Slant Tip Tweezer - The Best Precision Eyebrow Tweezers For Your Daily Beauty Routine! </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.47</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MX09Ey">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31vPswB"><img src="https://images-na.ssl-images-amazon.com/images/I/61sLMrAkCUL._SX522_.jpg" alt="Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31vPswB">Laptop Backpack, Business Anti Theft Travel Backpack with USB Charging Port & Headphone interface for College Student ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$32.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31vPswB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="25.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H0Aua7"><img src="https://images-na.ssl-images-amazon.com/images/I/71hYHPdVt2L._SX679_.jpg" alt="PLESON Wireless Car Charger Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H0Aua7">PLESON Wireless Car Charger Mount, Auto-Clamp 10W/7.5W Qi Fast Charging Windshield Dashboard & Vent Car Phone Holder...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.45</span><span class="ori_price">$45.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H0Aua7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="24.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GY7gsI"><img src="https://images-na.ssl-images-amazon.com/images/I/81IRYFwS7AL._SX522_.jpg" alt="Tigernu Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GY7gsI">Tigernu Travel Laptop Backpack Business Anti Theft Slim Backpacks with USB Charging Port Water Resistant Bookbag...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.79</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GY7gsI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YQBcB6"><img src="https://images-na.ssl-images-amazon.com/images/I/81H-9t9INjL._SX425_.jpg" alt="MozArt Supplies Brush Pens Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YQBcB6">MozArt Supplies Brush Pens Set - 12 Colors - Soft Flexible Real Brush Tip Marker Pens, Durable, Premium Grade ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YQBcB6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31A02TB"><img src="https://images-na.ssl-images-amazon.com/images/I/81l26hEPg3L._SX679_.jpg" alt="Smart Weigh SWS1KG Elite Series Digital Pocket Scale" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31A02TB">Smart Weigh SWS1KG Elite Series Digital Pocket Scale, 1000 by 0.1gm, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$18.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31A02TB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KuoT5r"><img src="https://images-na.ssl-images-amazon.com/images/I/81MtJuAxuaL._SY879_.jpg" alt="Sony DVM60PRR/3 60-Minute DVC Tape Hang Tab" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KuoT5r">Sony DVM60PRR/3 60-Minute DVC Tape Hang Tab</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.50</span><span class="ori_price">$13.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KuoT5r">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="8.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GZWlyy"><img src="https://images-na.ssl-images-amazon.com/images/I/714Ij-BHnqL._SX522_.jpg" alt="YCCSKY PS4 Controller Charger Charging Station" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GZWlyy">YCCSKY PS4 Controller Charger Charging Station, Dual USB Charger Charging Station Stand for Sony PlayStation 4 PS4 and PS4 Pro Controller</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.27</span><span class="ori_price">$14.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GZWlyy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="40.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z0MP4m"><img src="https://images-na.ssl-images-amazon.com/images/I/41mZPQMvKDL.jpg" alt="Cuisinart Programmable Coffeemaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em></span>
    <p><a target="_blank" href="https://amzn.to/2Z0MP4m">Cuisinart DCC-1100BK 12-Cup Programmable Coffeemaker, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.22</span><span class="ori_price">$130.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z0MP4m">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YWDBpK"><img src="https://images-na.ssl-images-amazon.com/images/I/71L1R1bef-L._SX522_.jpg" alt="Energizer CR2032 Batteries" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YWDBpK">Energizer CR2032 Batteries, 3v Lithium 2032 Watch Battery, (6 Count) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YWDBpK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMBidX"><img src="https://images-na.ssl-images-amazon.com/images/I/81CZ%2BLus3zL._SX522AA522_PIbundle-6,TopRight,0,0_AA522_SH20_.jpg" alt="Gillette Series Shaving Gel Sensitive Skin" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMBidX">Gillette Series Shaving Gel Sensitive Skin 7 oz (Pack of 6) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.97</span><span class="ori_price">$23.94</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YMBidX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="54.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31trAtJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61TxzvPCrIL._SX522_.jpg" alt="Doctor's Best High Absorption CoQ10" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31trAtJ">Doctor's Best High Absorption CoQ10 with BioPerine, Non-GMO, Gluten Free, Naturally Fermented, Vegan, Heart Health and Energy...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.95</span><span class="ori_price">$124.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31trAtJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="34.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H0zPp4"><img src="https://images-na.ssl-images-amazon.com/images/I/51QogZmfRDL._SX425_.jpg" alt="Arm Blood Pressure Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H0zPp4">OMRON BP742N 5 Series Upper Arm Blood Pressure Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.92</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H0zPp4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="62.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H0zSRM"><img src="https://images-na.ssl-images-amazon.com/images/I/81ggn9UyELL._SX522_.jpg" alt="Crest 3D White Whitestrips with Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H0zSRM">Crest 3D White Whitestrips with Light, Teeth Whitening Strips Kit, 10 count </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$62.15</span><span class="ori_price">$70.62</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H0zSRM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33rW9Sc"><img src="https://images-na.ssl-images-amazon.com/images/I/81z%2Bw4oq6LL._SX522_.jpg" alt="MuscleTech Phase8 Protein Powder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33rW9Sc">MuscleTech Phase8 Protein Powder, Sustained Release 8-Hour Protein Shake, Vanilla, 4.6 Pounds (2.09kg) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.04</span><span class="ori_price">$38.63</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33rW9Sc">Shop Now at Amazon</a></div>
</div>