<div class="card clearfix" data-score="34" data-price="229.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33pLvvd"><img src="https://images-na.ssl-images-amazon.com/images/I/51Q9rYc2PDL._SX425_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33pLvvd"><span>Amazon Deal Of The Day:</span> iRobot Model 671 Robot Vacuum with Wi-Fi Connectivity, Works with Alexa, Good for Pet Hair,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$229.99</span><span class="ori_price">$349.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33pLvvd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31vR2yS"><img src="https://images-na.ssl-images-amazon.com/images/I/71TOK27XgyL._SX679_.jpg" alt="Anker Soundcore Liberty Neo" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31vR2yS">Anker Soundcore Liberty Neo, Bluetooth Earbuds, Graphene Drivers, Pumping Bass, Secure Fit, Bluetooth 5.0 Headphones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31vR2yS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TfcZ1W"><img src="https://images-na.ssl-images-amazon.com/images/I/517ysWkFnxL._SX522_.jpg" alt="Wireless Earbuds, Tepoinn Bluetooth" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TfcZ1W">Wireless Earbuds, Tepoinn Bluetooth 5.0 True Wireless Bluetooth Headphones with Built-in Mic, in-Ear Stereo Wireless Earphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.99</span><span class="ori_price">$35.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TfcZ1W">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="186.53">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TgGy3j"><img src="https://images-na.ssl-images-amazon.com/images/I/61i0Po9OkHL._SX679_.jpg" alt="AMD Ryzen 7 2700 Processor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TgGy3j">AMD Ryzen 7 2700 Processor with Wraith Spire LED Cooler - YD2700BBAFBOX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$186.53</span><span class="ori_price">$299.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TgGy3j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="499.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31tS5iM"><img src="https://images-na.ssl-images-amazon.com/images/I/71-s0qpYaZL._SX522_.jpg" alt="Google - Pixel 3" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31tS5iM">Google - Pixel 3 with 64GB Memory Cell Phone (Unlocked) - Just Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$499.00</span><span class="ori_price">$799.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31tS5iM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="32.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KqLgsB"><img src="https://images-na.ssl-images-amazon.com/images/I/71J9ws0NuBL._SY879_.jpg" alt="Xit XTDLT Elite Series Professional Universal Tripod" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KqLgsB">Xit XTDLT Elite Series Professional Universal Tripod Dolly with One Step Easy Lock and Locking Wheels (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.38</span><span class="ori_price">$61.85</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KqLgsB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GUL4iW"><img src="https://images-na.ssl-images-amazon.com/images/I/51DL-KG-cnL._SX425_.jpg" alt="CorsairVengeance 24GB Memory" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GUL4iW">Corsair CMZ24GX3M6A1600C9 Vengeance 24GB (6x4GB) DDR3 1600 MHz (PC3 12800) Desktop Memory 1.5V</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$238.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GUL4iW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TfLKod"><img src="https://images-na.ssl-images-amazon.com/images/I/71dHzlXuLHL._SX425_.jpg" alt="CyberPower CSP600WSURC2 Surge Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TfLKod">CyberPower CSP600WSURC2 Surge Protector, 1200J/125V, 6 Swivel Outlets, 2 USB Charging Ports, Wall Tap Design</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$24.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TfLKod">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31CmHyH"><img src="https://images-na.ssl-images-amazon.com/images/I/61E2X0PvCzL._SX425_.jpg" alt="Tera Mortar and Pestle Sets" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31CmHyH">Tera Mortar and Pestle Sets 18/8 Stainless Steel Pill Crusher Food Safe Spice Grinder Herb Bowl Pesto Powder</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.89</span><span class="ori_price">$22.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31CmHyH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="78" data-price="17.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KnWLke"><img src="https://images-na.ssl-images-amazon.com/images/I/61IT5xWVDAL._SX679_.jpg" alt="OWKEY Waterproof Apple Watch Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KnWLke">OWKEY Waterproof Apple Watch Case 42mm Series 3 with 3PCS Premium Multi-Size Bands, Built-in Screen Protector...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.48</span><span class="ori_price">$79.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KnWLke">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="28.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kpt3vx"><img src="https://images-na.ssl-images-amazon.com/images/I/71PZXHmMGiL._SX522_.jpg" alt="Sony WI-C310 Wireless in-Ear Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kpt3vx">Sony WI-C310 Wireless in-Ear Headphones, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.00</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kpt3vx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="11.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUNd4c"><img src="https://images-na.ssl-images-amazon.com/images/I/81BiwXqtrQL._SX522_.jpg" alt="Tide Laundry Detergent Liquid" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUNd4c">Tide Laundry Detergent Liquid, Original Scent, HE Turbo Clean, 100 oz, 64 Loads </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.97</span><span class="ori_price">$16.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YUNd4c">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YyKEtv"><img src="https://images-na.ssl-images-amazon.com/images/I/71T0tHfWwCL._SX522_.jpg" alt="Hamilton Beach Replacement Carbon Pet Filter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YyKEtv">Hamilton Beach Replacement Carbon Pet Filter. Works with TrueAir 04384, 04386, 04532, 04532GM, & 04530. 3-Pack (04234G)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.80</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YyKEtv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31s3DCT"><img src="https://images-na.ssl-images-amazon.com/images/I/71Gu95-2m3L._SX679_.jpg" alt="North Stainless Steel Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31s3DCT">North Stainless Steel Vacuum Insulated 5-Piece Tumbler Set, 30 oz, Travel Mug For Home, Office, School – Like Yeti Tumbler For Ice Drink & Hot Beverage</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31s3DCT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="9.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YAwbgx"><img src="https://images-na.ssl-images-amazon.com/images/I/81mlMvQcDCL._SX679_.jpg" alt="Glade Automatic Spray Holder and Clean Linen Refill Starter Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YAwbgx">Glade Automatic Spray Holder and Clean Linen Refill Starter Kit, 10.2 oz, 1 6.2 oz Refill</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.92</span><span class="ori_price">$16.66</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YAwbgx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="66.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kpk8dk"><img src="https://images-na.ssl-images-amazon.com/images/I/61mIhhUnqeL._SX522_.jpg" alt="Trekpow G22 1500A Peak Car Jump Starter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kpk8dk">Trekpow G22 1500A Peak Car Jump Starter-12V Battery Booster Portable Jumper Box(up to 8.0L Gasoline/6.5L Diesel Engine)...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$66.27</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Kpk8dk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUPIYs"><img src="https://images-na.ssl-images-amazon.com/images/I/61sLMrAkCUL._SX522_.jpg" alt="Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUPIYs">Laptop Backpack, Business Anti Theft Travel Backpack with USB Charging Port & Headphone interface for College Student for...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$32.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YUPIYs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="129.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBkAOy"><img src="https://images-na.ssl-images-amazon.com/images/I/81mLgzB0KtL._SX425_.jpg" alt="Sun Pleasure Tropical Tahiti Floating Island" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBkAOy">Sun Pleasure Tropical Tahiti Floating Island, Giant Float and Carrying Bag - use in Lake, Ocean, River, Pool Floats for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.95</span><span class="ori_price">$220.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YBkAOy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="12.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GUMFoW"><img src="https://images-na.ssl-images-amazon.com/images/I/61VGRjehBqL._SX522_PIbundle-4,TopRight,0,0_AA522SH20_.jpg" alt="The First Years 2-in-1 Simple Serve Bottle Warmer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GUMFoW">The First Years 2-in-1 Simple Serve Bottle Warmer | Quickly Warm Bottles of Breastmilk or Formula | Santize Pacifiers...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.25</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GUMFoW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.82">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31lhXgC"><img src="https://images-na.ssl-images-amazon.com/images/I/71PzdO9F-RL._SY879_.jpg" alt="Stanley Classic Vacuum Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31lhXgC">Stanley Classic Vacuum Bottle</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.82</span><span class="ori_price">$40.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31lhXgC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="22.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YPb5Xa"><img src="https://images-na.ssl-images-amazon.com/images/I/715fQad6eaL._SX425_.jpg" alt="AllerEase Cotton Allergy Protection Hypoallergenic Euro Pillow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YPb5Xa">AllerEase Cotton Allergy Protection Hypoallergenic Euro Pillow, 3-Year Warranty, Machine Washable (Pack of 2)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.11</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YPb5Xa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="2.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUOOqI"><img src="https://images-na.ssl-images-amazon.com/images/I/61z73DsKlkL._SX679_.jpg" alt="Light It! By Fulcrum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUOOqI">Light It! By Fulcrum, LED Book Reading Light, Clip On, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2.50</span><span class="ori_price">$8.25</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YUOOqI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="10.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GW9vN3"><img src="https://images-na.ssl-images-amazon.com/images/I/71DZjRWp7XL._SX679_.jpg" alt="Food Scale" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GW9vN3">Ozeri Pronto Digital Multifunction Kitchen and Food Scale, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.92</span><span class="ori_price">$29.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GW9vN3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YyxCMx"><img src="https://images-na.ssl-images-amazon.com/images/I/71Bb4DhGnzL._SX679_.jpg" alt="Rubbermaid FreshWorks Produce Saver Food Storage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YyxCMx">Rubbermaid FreshWorks Produce Saver Food Storage Container, Small, 2.5 Cup, Green 1920480</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.99</span><span class="ori_price">$10.49</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YyxCMx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KqOkVE"><img src="https://images-na.ssl-images-amazon.com/images/I/61J4VN%2BWv6L._SY879_.jpg" alt="Thermos F4016TL6 12 Ounce Stainless Steel FUNtainer Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KqOkVE">Thermos F4016TL6 12 Ounce Stainless Steel FUNtainer Bottle, Teal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.49</span><span class="ori_price">$21.19</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KqOkVE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="3.66">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GYhnh7"><img src="https://images-na.ssl-images-amazon.com/images/I/41p-w8o-UfL.jpg" alt="Studio 71 5-Piece Painting Knife Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GYhnh7">Studio 71 5-Piece Painting Knife Set – Versatile Stainless Steel and Wood Palette Knife Set for Mixing Paints,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.66</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GYhnh7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="8.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YRRt4J"><img src="https://images-na.ssl-images-amazon.com/images/I/81ISnNwP4nL._SX679_.jpg" alt="Wood Flatware Organizer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YRRt4J">Lipper International 8876 Bamboo Wood Flatware Organizer with 5 Compartments, 10-1/4" x 14" x 2"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.12</span><span class="ori_price">$24.60</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YRRt4J">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="14.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KoJcB9"><img src="https://images-na.ssl-images-amazon.com/images/I/51ngUWwyDtL._SX679_.jpg" alt="T-fal A80789 Specialty Nonstick Dishwasher..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KoJcB9">T-fal A80789 Specialty Nonstick Dishwasher Safe Oven Safe PFOA-Free Jumbo Wok Cookware, 14-Inch, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.69</span><span class="ori_price">$44.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KoJcB9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GUUnzi"><img src="https://images-na.ssl-images-amazon.com/images/I/61Uolf2pZIL._SX522_.jpg" alt="Bathroom Shelf" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GUUnzi">Honey-Can-Do BTH-03484 6 Tier Metal Tower Bathroom Shelf, 12.6 x 11.02 x 59.84, Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$52.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GUUnzi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KELURR"><img src="https://images-na.ssl-images-amazon.com/images/I/71rNukm7FOL._SX425_.jpg" alt="Babycakes Mini Cake Pop Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KELURR">Babycakes Mini Cake Pop Maker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KELURR">Shop Now at Amazon</a></div>
</div>