<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hapzeb"><img src="https://images-na.ssl-images-amazon.com/images/I/81hvlJydQUL._UX679_.jpg" alt="E5 Men's NCAA Hoodie" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hapzeb"><span>Amazon Deal Of The Day:</span> E5 Men's NCAA Hoodie</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$50.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Hapzeb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z92Chs"><img src="https://images-na.ssl-images-amazon.com/images/I/51dJf4jdmvL._SX425_.jpg" alt="Platinum Desktop Wind Tower" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z92Chs">Platinum Desktop Wind Tower (4917)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.00</span><span class="ori_price">$32.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z92Chs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="25.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZbwSsp"><img src="https://images-na.ssl-images-amazon.com/images/I/61Ehpq8UgXL._SX679_.jpg" alt="Secura Stainless Steel French Press Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZbwSsp">Secura Stainless Steel French Press Coffee Maker 18/10 Bonus Stainless Steel Screen (1000ML)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.48</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZbwSsp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="199.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H9XZ0C"><img src="https://images-na.ssl-images-amazon.com/images/I/515RyTxSGkL._SX522_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H9XZ0C">Apple Watch Series 3 (GPS, 38mm) - Silver Aluminium Case with White Sport Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.00</span><span class="ori_price">$279.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H9XZ0C">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="28.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TCxNR8"><img src="https://images-na.ssl-images-amazon.com/images/I/61H%2Bydd5JXL._SX522_.jpg" alt="BN-LINK WiFi Heavy Duty Smart Plug Outlet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TCxNR8">BN-LINK WiFi Heavy Duty Smart Plug Outlet, No Hub Required with Energy Monitoring and Timer Function, White,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.04</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TCxNR8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="37.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z5pSx3"><img src="https://images-na.ssl-images-amazon.com/images/I/A1kcwcKWN0L._SY679._SX._UX._SY._UY_.jpg" alt="adidas Originals National Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z5pSx3">adidas Originals National Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.25</span><span class="ori_price">$50.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z5pSx3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="69.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z7anVs"><img src="https://images-na.ssl-images-amazon.com/images/I/A1wPzPfxq4L._UX679_.jpg" alt="Eagle Creek Women’s Multiuse 65l Backpack Travel" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z7anVs">Eagle Creek Women’s Multiuse 65l Backpack Travel Water Resistant-17in Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.95</span><span class="ori_price">$229.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z7anVs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="33.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31E6TLu"><img src="https://images-na.ssl-images-amazon.com/images/I/81acyWN9oPL._SX522_.jpg" alt="AdTech 0189 Pro 200 Industrial Glue Gun" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31E6TLu">AdTech 0189 Pro 200 Industrial Glue Gun, Full Size Heavy Duty, 200 watts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.12</span><span class="ori_price">$72.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31E6TLu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hbxnwl"><img src="https://images-na.ssl-images-amazon.com/images/I/71bk-SK-OqL._SX522_.jpg" alt="GearLight High-Powered LED Flashlight S1200" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hbxnwl">GearLight High-Powered LED Flashlight S1200 - Mid Size, Zoomable, Water Resistant, Handheld Light with 5 Modes...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Hbxnwl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TBsqSp"><img src="https://images-na.ssl-images-amazon.com/images/I/71s1djH5HdL._SX522_.jpg" alt="Heel Pain Relief Protectors 2 pairs" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TBsqSp">Heel Pain Relief Protectors 2 pairs - Plantar Fasciitis Treatment - Foot Shoe Inserts for Achilles Tendonitis Tendon,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$19.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2TBsqSp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YPVeMN"><img src="https://images-na.ssl-images-amazon.com/images/I/61SK5g8QZVL._SX522_.jpg" alt="Nail Base With Lamp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YPVeMN">Nail Base With Lamp, Manicure Pedicure Studio Comfortable Pedicure Foot Therapy Support Plate Home DIY Nail Art Onkessy </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YPVeMN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31GxI1N"><img src="https://images-na.ssl-images-amazon.com/images/I/61mmHDo-UNL._SX522_.jpg" alt="Kitchiny Silicone Bottle Brush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31GxI1N">Kitchiny Silicone Bottle Brush | One Brush | 12.5” Bottle Cleaner for Your Hydro Flask, Vacuum Sports Bottle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.99</span><span class="ori_price">$12.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31GxI1N">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H6ALs3"><img src="https://images-na.ssl-images-amazon.com/images/I/71S7vk%2BqMML._SX425_.jpg" alt="madesmart Classic Large Silverware Tray" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H6ALs3">madesmart Classic Large Silverware Tray - White | CLASSIC COLLECTION | 6-Compartments | Soft-grip Lining and Non-slip Feet...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.00</span><span class="ori_price">$9.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H6ALs3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="434.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yZ2abc"><img src="https://images-na.ssl-images-amazon.com/images/I/71EdMDKa%2BdL._SX425_.jpg" alt="Z GRILLS ZPG-7002E 2019 New Model Wood Pellet Grill" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yZ2abc">Z GRILLS ZPG-7002E 2019 New Model Wood Pellet Grill & Smoker, 8 in 1 BBQ Grill Auto Temperature Control,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$434.55</span><span class="ori_price">$549.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yZ2abc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="66.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z2zk9R"><img src="https://images-na.ssl-images-amazon.com/images/I/71TjEI15dnL._SY879_.jpg" alt="Bissell Aeroswift Compact Bagless Upright Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z2zk9R">Bissell Aeroswift Compact Bagless Upright Vacuum, 1009 - Corded</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$66.49</span><span class="ori_price">$84.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z2zk9R">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="19" data-price="349.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6qpi8"><img src="https://images-na.ssl-images-amazon.com/images/I/81mZ4eDWYkL._SX522_.jpg" alt="ASUS VivoBook 15 Thin and Light Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6qpi8">ASUS VivoBook 15 Thin and Light Laptop, 15.6” FHD, Intel Core i3-8145U CPU, 8GB RAM, 128GB SSD, Windows 10 in S Mode, F512FA-AB34, Slate Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$349.00</span><span class="ori_price">$429.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z6qpi8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="9" data-price="999.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H8AxB1"><img src="https://images-na.ssl-images-amazon.com/images/I/51WqYDg2pSL._SX466_.jpg" alt="Apple iMac (21.5, 2.3GHz dual-core Intel Core i5" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>9% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H8AxB1">Apple iMac (21.5, 2.3GHz dual-core Intel Core i5, 8GB RAM, 1TB Drive) - Silver (Previous Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$999.00</span><span class="ori_price">$1,099.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H8AxB1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="516.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N6aXQU"><img src="https://images-na.ssl-images-amazon.com/images/I/61swkzsz-hL._SX425_.jpg" alt="Elite Screens Aeon Series" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N6aXQU">Elite Screens Aeon Series, 138-inch 2.35:1, 8K / 4K Ultra HD Home Theater Fixed Frame EDGE FREE Borderless Projector Screen,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$516.44</span><span class="ori_price">$749.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N6aXQU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="219.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33DyLkU"><img src="https://images-na.ssl-images-amazon.com/images/I/91z3s5pXjnL._SX425_.jpg" alt="AeroGarden Bounty - Black" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33DyLkU">AeroGarden Bounty - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$219.95</span><span class="ori_price">$349.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33DyLkU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="1,689.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HbxPL3"><img src="https://images-na.ssl-images-amazon.com/images/I/61LrJZb3jUL._SX522_.jpg" alt="ZOTAC GAMING MEK ULTRA GAMING PC GeForce" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HbxPL3">ZOTAC GAMING MEK ULTRA GAMING PC GeForce RTX 2080 8GB GDDR6 Z370 6-core Liquid-Cooled Intel Core i7-8700K 16GB DDR4/240GB...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,689.99</span><span class="ori_price">$2,299.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HbxPL3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="999.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z24P3E"><img src="https://images-na.ssl-images-amazon.com/images/I/51r43EJMYQL._SX522_.jpg" alt="Drobo 8D 8-Drive Direct Attached Storage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z24P3E">Drobo 8D 8-Drive Direct Attached Storage (DAS) Array - Dual Thunderbolt 3 Ports (DRDR7A21)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$999.00</span><span class="ori_price">$1,299.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2z24P3E">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="24.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H7HXEE"><img src="https://images-na.ssl-images-amazon.com/images/I/81IRYFwS7AL._SX522_.jpg" alt="Tigernu Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H7HXEE">Tigernu Travel Laptop Backpack Business Anti Theft Slim Backpacks with USB Charging Port Water Resistant Bookbag for Women...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.79</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2H7HXEE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YRfyh1"><img src="https://images-na.ssl-images-amazon.com/images/I/71wj0wZMSeL._SX522_.jpg" alt="Wood Back Roller" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YRfyh1">Wood Back Roller, Back Massager & Muscle Roller, Back Pain Relief Devices, Deep Tissue Massager </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.95</span><span class="ori_price">$39.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YRfyh1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="21.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KAFbtE"><img src="https://images-na.ssl-images-amazon.com/images/I/61RNVSRqH7L._SY679_.jpg" alt="Vitamin C Oil For Glowing Skin" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KAFbtE">Vitamin C Oil For Glowing Skin - This Oil For Face Contains Vitamin E Oil + Argan Oil + Rosehip Oils -...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.49</span><span class="ori_price">$41.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KAFbtE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zbyy5b"><img src="https://images-na.ssl-images-amazon.com/images/I/71cbQxcRqRL._SY550_.jpg" alt="Premium Class Stainless Steel Kitchen" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zbyy5b">Premium Class Stainless Steel Kitchen 6 Piece Knives Set (5 Knives plus an Acrylic Stand) - by Utopia Kitchen</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$25.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zbyy5b">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="9.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YTolyW"><img src="https://images-na.ssl-images-amazon.com/images/I/713uY0SC6bL._SX522_.jpg" alt="LA PURE Waterproof Eyeliner Stamp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YTolyW">LA PURE Waterproof Eyeliner Stamp - 2 Wingliner Black Make Up Pens, Vamp Style Wing, Smudgeproof & Sweatproof,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.97</span><span class="ori_price">$13.97</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YTolyW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33CbrEb"><img src="https://images-na.ssl-images-amazon.com/images/I/61wV9l2jDwL._SX425_.jpg" alt="BEAUTURAL 1200-Watt Steamer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33CbrEb">BEAUTURAL 1200-Watt Steamer for Clothes with Pump Steam Technology, Portable Handheld Garment Fabric Wrinkles Remover,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33CbrEb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="32.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HWRJk"><img src="https://images-na.ssl-images-amazon.com/images/I/91bzgStJEOL._SX679_.jpg" alt="Pre-Seasoned Cast Iron 2-In-1 Multi Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HWRJk">Pre-Seasoned Cast Iron 2-In-1 Multi Cooker | 3-Quart Dutch Oven and Skillet Lid Set Oven Safe Cookware ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.95</span><span class="ori_price">$59.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31HWRJk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="35.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z35QmQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71x6y5TTuqL._SY679_.jpg" alt="Moroccan Oil Shampoo and Conditioner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z35QmQ">Moroccan Oil Shampoo and Conditioner: Sulfate Free for Color Treated and Keratin Hair Treatments - Sodium Chloride Free,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.97</span><span class="ori_price">$49.95</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z35QmQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="30.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z4el0R"><img src="https://images-na.ssl-images-amazon.com/images/I/71G-GNHbFXL._SX522_.jpg" alt="Bissell Pet Hair Eraser Handheld Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z4el0R">Bissell Pet Hair Eraser Handheld Vacuum, Corded, 33A1</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.99</span><span class="ori_price">$36.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z4el0R">Shop Now at Amazon</a></div>
</div>