<div class="card dealofday clearfix" data-score="62" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/316iWkr"><img src="https://images-na.ssl-images-amazon.com/images/I/71EQcvslvBL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save Up to 62% on popular strategy board games
</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/338YEsG">Cryptozoic Entertainment DC Deck-Building Game</a> - <span>19.87<em>44.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2K2cwgB">Ultimate Werewolf Deluxe Edition</a> - <span>9.38<em>24.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LKddgV">IELLO King of New York Board Game</a> - <span>28.61<em>49.99</em></span></li>
            <li><a href="https://amzn.to/316iWkr">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/316iWkr">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="55" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Zgyfx"><img src="https://images-na.ssl-images-amazon.com/images/I/71o7QZah28L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save up to 55% off on LILLEbaby Baby Carriers</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/30WvL0K">LILLEbaby SIX-Position, 360° Ergonomic Baby...</a> - <span>76.99<em>139.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LMfCri">LÍLLÉbaby The Complete All Seasons SIX-Position...</a> - <span>104.99<em>149.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2YtAky1">LILLEbaby Ergonomic Baby & Child Carrier...</a> - <span>83.99<em>139.99</em></span></li>
            <li><a href="https://amzn.to/30Zgyfx">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30Zgyfx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="37.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMgfkE"><img src="https://images-na.ssl-images-amazon.com/images/I/613OI7YttwL._SX679_.jpg" alt="Crosstour Action Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LMgfkE">Crosstour Action Camera 4K 16MP WiFi Underwater 30M with Remote Control IP68 Waterproof Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.39</span><span class="ori_price">$129.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMgfkE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="25.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SObrvA"><img src="https://images-na.ssl-images-amazon.com/images/I/91TBNEBXK0L._SX679_.jpg" alt="Solar Lantern Lights" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SObrvA">Solar Lantern Lights Dancing Flame Waterproof Outdoor Hanging Lantern Solar Powered Umbrella LED Night Lights>...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.15</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SObrvA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="24.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LM7Iy3"><img src="https://images-na.ssl-images-amazon.com/images/I/81udlGgmkjL._SX679_.jpg" alt="ChomChom Roller Dog Hair" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LM7Iy3">ChomChom Roller Dog Hair, Cat Hair, Pet Hair Remover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.95</span><span class="ori_price">$34.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LM7Iy3">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="35" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LMtIc5"><img src="https://images-na.ssl-images-amazon.com/images/I/51AznBX-mPL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save up to 35% on Anker Charging Accessories</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/32UCPNg">Anker 60W PIQ 3.0&GaN Tech USB C Charger...</a> - <span>31.99<em>42.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LOLviW">Anker PowerWave 7.5 Fast Wireless Charging Pad</a> - <span>29.79<em>45.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LLKuYP">Anker USB C to Lightning Cable...</a> - <span>15.39<em>21.99</em></span></li>
            <li><a href="https://amzn.to/2LMtIc5">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LMtIc5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="719.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K1eL3Z"><img src="https://images-na.ssl-images-amazon.com/images/I/71hA1Sf1TnL._SY606_.jpg" alt="Apple iPad Pro" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K1eL3Z">Apple iPad Pro (10.5-inch, Wi-Fi + Cellular, 512GB) - Rose Gold (Previous Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$719.00</span><span class="ori_price">$1,129.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K1eL3Z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="497.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MmJ6eQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71kuWn5XVAL._SX522_.jpg" alt="PANASONIC LUMIX LX10 4K Digital Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MmJ6eQ">PANASONIC LUMIX LX10 4K Digital Camera, 20.1 Megapixel 1-Inch Sensor, 3X LEICA DC VARIO-SUMMILUX Lens, F1.4-2.8 Aperture,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$497.99</span><span class="ori_price">$699.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MmJ6eQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LSNi6P"><img src="https://images-na.ssl-images-amazon.com/images/I/819sDCtJsIL._SX342_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LSNi6P">How To Train Your Dragon: 3-Movie Collection</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LSNi6P">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SMH4Wt"><img src="https://images-na.ssl-images-amazon.com/images/I/710gEbMy4WL._SX342_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SMH4Wt">First Man | Blu-ray + DVD + Digital</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$22.98</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SMH4Wt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="13.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SLIOiK"><img src="https://images-na.ssl-images-amazon.com/images/I/81UOaYRK0OL._SX522_.jpg" alt="PURELL Advanced Hand Sanitizer Soothing Gel" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SLIOiK">PURELL Advanced Hand Sanitizer Soothing Gel for the workplace, Fresh scent, with Aloe and Vitamin E - 8 fl oz pump bottle...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.85</span><span class="ori_price">$17.32</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SLIOiK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="12.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SKvpYh"><img src="https://images-na.ssl-images-amazon.com/images/I/71o4%2B1-VdDL._SX522_.jpg" alt="Keurig 2.0 Thermal Carafe" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SKvpYh">Keurig 2.0 Thermal Carafe, 32oz Double-Walled, Vacuum-Insulated, Stainless Steel Carafe, Holds and Dispenses...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.95</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SKvpYh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OmB205"><img src="https://images-na.ssl-images-amazon.com/images/I/91TOB9l1QEL._SL1500_.jpg" alt="Sparkle Mansion" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OmB205">KidKraft Sparkle Mansion</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.97</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OmB205">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/61vwrri0ZBL._AC_SL1500_.jpg" alt="Lenovo Mirage Camera with Daydream" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Lenovo Mirage Camera with Daydream, VR-Ready Photo and Video Camera, Integration with YouTube and Google Photos, Smartphone Compatibility,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$299.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/310l4Kz"><img src="https://images-na.ssl-images-amazon.com/images/I/81d6JU6g1pL._AC_SL1500_.jpg" alt="Marvel’s Spider-Man" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/310l4Kz">Marvel’s Spider-Man - PlayStation 4 by Sony</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/310l4Kz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yrc6IN"><img src="https://images-na.ssl-images-amazon.com/images/I/71c57aJiDAL._SX522_.jpg" alt="outlite A100 Portable Ultra Bright Handheld LED Flashlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yrc6IN">outlite A100 Portable Ultra Bright Handheld LED Flashlight with Adjustable Focus and 5 Light Modes,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.99</span><span class="ori_price">$11.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yrc6IN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="11.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yu6ai1"><img src="https://images-na.ssl-images-amazon.com/images/I/81Cl3anBQzL._SX522_.jpg" alt="Parker 1953170 Jotter Ballpoint Pen" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yu6ai1">Parker 1953170 Jotter Ballpoint Pen, Stainless Steel with Chrome Trim, Medium Point Blue Ink, Gift Box</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.48</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Yu6ai1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OpBV8o"><img src="https://images-na.ssl-images-amazon.com/images/I/81BiwXqtrQL._SX522_.jpg" alt="Tide Laundry Detergent Liquid" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OpBV8o">Tide Laundry Detergent Liquid, Original Scent, HE Turbo Clean, 100 oz, 64 Loads </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$16.00</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OpBV8o">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="11.73">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YyYzyK"><img src="https://images-na.ssl-images-amazon.com/images/I/71IZvjfpQ2L._SY741_.jpg" alt="Stainless Steel Water Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YyYzyK">Coleman FreeFlow AUTOSEAL Insulated Stainless Steel Water Bottle</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.73</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YyYzyK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="14" data-price="599.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YoBEq3"><img src="https://images-na.ssl-images-amazon.com/images/I/71FxeMlMvkL._SX679_.jpg" alt="Dyson V11 Torque Drive Cordless Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>14% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YoBEq3">Dyson V11 Torque Drive Cordless Vacuum Cleaner, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$599.99</span><span class="ori_price">$699.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YoBEq3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YtA3Lo"><img src="https://images-na.ssl-images-amazon.com/images/I/91QB9In3PmL._SX679_.jpg" alt="HEPA GENUINE Air Purifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YtA3Lo">Germ Guardian FLT4825 True HEPA GENUINE Air Purifier Replacement Filter B for GermGuardian AC4300BPTCA,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$44.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YtA3Lo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SPvEkL"><img src="https://images-na.ssl-images-amazon.com/images/I/81xS4CSJgDL._SX679_.jpg" alt="Genesis 6-Inch Clip Convertible Table-Top & Clip Fan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SPvEkL">Genesis 6-Inch Clip Convertible Table-Top & Clip Fan Two Quiet Speeds - Ideal For The Home, Office, Dorm, More White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SPvEkL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SJ7WXi"><img src="https://images-na.ssl-images-amazon.com/images/I/61037gzXCTL._SX679_.jpg" alt="Dash DEC012BK Deluxe Rapid Egg Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SJ7WXi">Dash DEC012BK Deluxe Rapid Egg Cooker Electric for for Hard Boiled, Poached, Scrambled, Omelets, Steamed Vegetables,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.91</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SJ7WXi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="20.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LSOKpN"><img src="https://images-na.ssl-images-amazon.com/images/I/61daTxkT%2BjL._SX679_.jpg" alt="Ninja Food Chopper Express Chop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LSOKpN">Ninja Food Chopper Express Chop with 200-Watt, 16-Ounce Bowl for Mincing, Chopping, Grinding, Blending and Meal Prep (NJ110GR)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.59</span><span class="ori_price">$37.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LSOKpN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LNDYkA"><img src="https://images-na.ssl-images-amazon.com/images/I/61dwsNysPfL._SX679_.jpg" alt="LEVOIT Air Purifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LNDYkA">LEVOIT Air Purifier for Home Smokers Allergies and Pets Hair, True HEPA Filter, Quiet in Bedroom, Filtration ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$89.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LNDYkA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="72.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yqE9cx"><img src="https://images-na.ssl-images-amazon.com/images/I/51Ll9V%2BATgL._SX522_.jpg" alt="Waterpik Water Flosser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yqE9cx">Waterpik Water Flosser Electric Dental Countertop Oral Irrigator For Teeth – Aquarius Professional, WP-660 White </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$72.00</span><span class="ori_price">$89.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yqE9cx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="13.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SLIoJi"><img src="https://images-na.ssl-images-amazon.com/images/I/61HI3zbZU5L._SX522_.jpg" alt="Doctor's Best High Absorption CoQ10" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SLIoJi">Doctor's Best High Absorption CoQ10 with BioPerine, Gluten Free, Naturally Fermented, Heart Health, Energy Production,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.01</span><span class="ori_price">$33.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SLIoJi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SJOU3g"><img src="https://images-na.ssl-images-amazon.com/images/I/81hPuoUeiDL._SX522_.jpg" alt="MuscleTech Platinum Creatine Monohydrate Powder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SJOU3g">MuscleTech Platinum Creatine Monohydrate Powder, 100% Pure Micronized Creatine Powder, 14.1oz (80 Servings) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.09</span><span class="ori_price">$15.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SJOU3g">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="16.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30YsVZh"><img src="https://images-na.ssl-images-amazon.com/images/I/71s2rGDTKqL._SX522_.jpg" alt="SmartyPants Women’s Formula Daily Gummy Vitamins" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30YsVZh">SmartyPants Women’s Formula Daily Gummy Vitamins: Gluten Free, Multivitamin & Omega 3 Fish Oil (DHA/EPA), Methyl B12,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.88</span><span class="ori_price">$24.84</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30YsVZh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YykTZi"><img src="https://images-na.ssl-images-amazon.com/images/I/810yDzvXxTL._SX522_.jpg" alt="Hamilton Beach 25361 Electric Indoor Searing Grill" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YykTZi">Hamilton Beach 25361 Electric Indoor Searing Grill with Removable Easy-to-Clean Nonstick Plate, Viewing Window, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$89.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YykTZi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/315VUdN"><img src="https://images-na.ssl-images-amazon.com/images/I/61U6Q8iU2-L._SX679_.jpg" alt="Chemex Classic Series" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/315VUdN">Chemex Classic Series, Pour-over Glass Coffeemaker, 8-Cup - Exclusive Packaging - CM-8A</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$45.09</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/315VUdN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2yjxKzZ"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2B%2B1SUxDyL._SX679_.jpg" alt="O-Cedar MicroTwist Microfiber Twist Mop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2yjxKzZ">O-Cedar MicroTwist Microfiber Twist Mop</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.98</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2yjxKzZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30YtbaH"><img src="https://images-na.ssl-images-amazon.com/images/I/71thXy3PIKL._SX522_.jpg" alt="Pure Protein Bars" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30YtbaH">Pure Protein Bars, High Protein, Nutritious Snacks to Support Energy, Low Sugar, Gluten Free, Variety Pack, 1.76oz, 18 Pack </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.28</span><span class="ori_price">$40.23</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30YtbaH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SKrtXo"><img src="https://images-na.ssl-images-amazon.com/images/I/81bUjuhJMkL._SX679_.jpg" alt="Snickers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SKrtXo">Snickers, M&M'S & Twix Fun Size Candy Variety Mix, 60 Pieces</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.94</span><span class="ori_price">$19.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SKrtXo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YsI9YV"><img src="https://images-na.ssl-images-amazon.com/images/I/916fhMdwgkL._SX522_.jpg" alt="True Chews Premium Jerky Cuts" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YsI9YV">True Chews Premium Jerky Cuts Made with Real Steak</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$22.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YsI9YV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="6.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YtnZy0"><img src="https://images-na.ssl-images-amazon.com/images/I/81UiUsHg14L._SX522_.jpg" alt="CarbRite Diet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YtnZy0">CarbRite Diet - Sugar Free - Keto and Lazy Keto Friendly Dessert - Great Tasting - Easy to Make Snack ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.95</span><span class="ori_price">$15.50</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YtnZy0">Shop Now at Amazon</a></div>
</div>


