<div class="card dealofday clearfix" data-score="32" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ST7PII"><img src="https://images-na.ssl-images-amazon.com/images/I/417z+XESsAL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save up to 32% on Gaming Desktops, Laptops, & Accessories</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2LQo0WL">(Renewed)OMEN by HP 15-inch Gaming Laptop,...</a> - <span>749.99<em>1,099.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2K83Plb">(Renewed)OMEN by HP Gaming Desktop,...</a> - <span>1,089.99<em>1,429.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/30ZXD46">Redragon K556 RGB LED Backlit Wired Mechanical...</a> - <span>44.99<em>59.99</em></span></li>
            <li><a href="https://amzn.to/2ST7PII">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ST7PII">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="40" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K3thYW"><img src="https://images-na.ssl-images-amazon.com/images/I/71fkjhINUdL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save up to 40% on Sougayilang Fishing Gear</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/312GKG7">Sougayilang Fishing Rod Combos with Telescopic Fishing...</a> - <span>46.35<em>62.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LQKfMm">Sougayilang Spinning Fishing Reels with Left/Right...</a> - <span>10.95<em>13.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/3133mpS">Sougayilang Fishing Lures Large Hard Bait Minnow VIB...</a> - <span>10.78<em>17.99</em></span></li>
            <li><a href="https://amzn.to/2K3thYW">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K3thYW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YxLXrO"><img src="https://images-na.ssl-images-amazon.com/images/I/51Pm5Pou3RL._SX679_.jpg" alt="COMFEE' MK-HJ1705a1G Electric Kettle" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>238 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YxLXrO">COMFEE' MK-HJ1705a1G Electric Kettle Teapot 1.7 Liter Fast Water Heater Boiler 1500W BPA-Free,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.00</span><span class="ori_price">$39.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YxLXrO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="101.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YBk2XX"><img src="https://images-na.ssl-images-amazon.com/images/I/51GYzYnhIAL._SX522_.jpg" alt="LBtech Video Baby Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>83 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YBk2XX">LBtech Video Baby Monitor with Two Cameras and 4.3" LCD,Auto Night Vision,Two-Way Talkback,Temperature Detection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$101.99</span><span class="ori_price">$189.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YBk2XX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQOlUJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71Is2vM4N4L._SX522_.jpg" alt="Hemp Oil" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>152 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQOlUJ">(2 Pack | 60mL) Hemp Oil for Pain Relief Anxiety Sleep Support (1000mg) Natural Organic Hemp Seed...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQOlUJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="40.36">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/319b4iu"><img src="https://images-na.ssl-images-amazon.com/images/I/71jmqEZ0r%2BL._SX679_.jpg" alt="Casper Sleep Soft and Durable Supima Cotton Sheet Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>105 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/319b4iu">Casper Sleep Soft and Durable Supima Cotton Sheet Set, Twin, Cream</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.36</span><span class="ori_price">$90.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/319b4iu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="2.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GDz19z"><img src="https://images-na.ssl-images-amazon.com/images/I/81q82hsofNL._SY679_.jpg" alt="DenTek Triple Clean Floss Picks" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>55 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GDz19z">DenTek Triple Clean Floss Picks | No Break Guarantee | 150 Count </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2.99</span><span class="ori_price">$5.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GDz19z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="10.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YsnhRy"><img src="https://images-na.ssl-images-amazon.com/images/I/71iotTsxlUL._SX522_.jpg" alt="Durgol Swiss Decalcifier" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>939 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YsnhRy">Durgol Swiss Decalcifier for All for All Brands of Espresso, Small</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.09</span><span class="ori_price">$15.95</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YsnhRy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LO1Jc0"><img src="https://images-na.ssl-images-amazon.com/images/I/71qIo1jITkL._SX522_.jpg" alt="Keto Pills" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>319 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LO1Jc0">(2 Pack | 120 Capsules) Keto Pills with Carb Supplement - Exogenous Ketones - Ketosis Women Men - Health - BHB Salts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$30.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LO1Jc0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="7" data-price="15.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SQh5xi"><img src="https://images-na.ssl-images-amazon.com/images/I/71qI3Yg5E1L._SY879_.jpg" alt="Contigo AUTOSEAL West Loop Vaccuum" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>22,461 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>7% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SQh5xi">Contigo AUTOSEAL West Loop Vaccuum-Insulated Stainless Steel Travel Mug, 16 oz, Biscay Bay</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.75</span><span class="ori_price">$16.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SQh5xi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQtdxN"><img src="https://images-na.ssl-images-amazon.com/images/I/61XkKzWHHPL._SX679_.jpg" alt="Tile Mate" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>10,073 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQtdxN">Tile Mate - Key Finder. Phone Finder. Anything Finder - 1 Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$19.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQtdxN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="11.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/314dte7"><img src="https://images-na.ssl-images-amazon.com/images/I/91AexnYgiCL._SX522_.jpg" alt="Honest Amish Beard Balm" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7,413 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/314dte7">Honest Amish Beard Balm Leave-in Conditioner - Made with only Natural and Organic Ingredients - 2 Ounce Tin </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.43</span><span class="ori_price">$19.50</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/314dte7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="16.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31bQfmt"><img src="https://images-na.ssl-images-amazon.com/images/I/61GfuKLc-fL._SX522_.jpg" alt="Nose Trimmer" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>8,242 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31bQfmt">Lifetime Replacement Guarantee ToiletTree Professional Water Resistant Heavy Duty Steel Nose Trimmer with LED Light, Silver </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.16</span><span class="ori_price">$17.95</span>
        <div class="tooltip_purple"><span>Extra Discount</span><div class="tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31bQfmt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SRaYsP"><img src="https://images-na.ssl-images-amazon.com/images/I/61-BVQlM4EL._SX679_.jpg" alt="Coop Home Goods" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>16,914 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SRaYsP">Coop Home Goods – Cross Cut-Hypoallergenic Certipur Memory Foam with Washable Removable Cooling Bamboo...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$175.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SRaYsP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="779.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MqI1mc"><img src="https://images-na.ssl-images-amazon.com/images/I/7100fUYC3%2BL._SX522_.jpg" alt=">Google - Pixel 3 " /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MqI1mc">Google - Pixel 3 XL with 128GB Memory Cell Phone (Unlocked) - Clearly White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$779.99</span><span class="ori_price">$999.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MqI1mc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="499.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YyAXuj"><img src="https://images-na.ssl-images-amazon.com/images/I/71FSRXaNZaL._SX522_.jpg" alt="Samsung Galaxy Tab" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>268 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YyAXuj">Samsung Electronics SM-T830NZKAXAR Galaxy Tab S4 with S Pen, 10.5", Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$499.99</span><span class="ori_price">$649.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YyAXuj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="299.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YwpQ4T"><img src="https://images-na.ssl-images-amazon.com/images/I/81h%2BG1RaKhL._SX522_.jpg" alt="Dell Gaming Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,244 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YwpQ4T">Dell Gaming Monitor S2417DG YNY1D 24-Inch Screen LED-Lit TN with G-SYNC, QHD 2560 x 1440, 165Hz Refresh Rate,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$429.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YwpQ4T">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="97.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQy5mw"><img src="https://images-na.ssl-images-amazon.com/images/I/61DmN2eY06L._SX522_.jpg" alt="ASUS USB Portable Monitor" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,132 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQy5mw">ASUS MB168B 15.6" WXGA 1366x768 USB Portable Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$97.99</span><span class="ori_price">$149.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQy5mw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="12.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K6bm3H"><img src="https://images-na.ssl-images-amazon.com/images/I/81htEB8fWrL._SX679_.jpg" alt="Pinzon Velvet Plush Blanket" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,531 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K6bm3H">Pinzon Velvet Plush Blanket, Twin, Teal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.79</span><span class="ori_price">$18.92</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K6bm3H">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="73" data-price="5.07">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2T2PgCl"><img src="https://images-na.ssl-images-amazon.com/images/I/51ItBwnbJ6L._SX322_BO1,204,203,200_.jpg" alt="The 5 Love Languages" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>12,688 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>73% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2T2PgCl">The 5 Love Languages: The Secret to Love that Lasts Kindle Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.07</span><span class="ori_price">$15.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2T2PgCl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="505.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/314Jqmr"><img src="https://images-na.ssl-images-amazon.com/images/I/71fyxTaSluL._SX522_.jpg" alt="Tuft & Needle Queen Mattress" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>8,151 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/314Jqmr">Tuft & Needle Queen Mattress, Bed in a Box, T&N Adaptive Foam, Sleeps Cooler with More Pressure Relief & Support Than Memory Foam,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$505.75</span><span class="ori_price">$595.00</span>
        <div class="tooltip_purple"><span>Extra Discount</span><div class="tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/314Jqmr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="55.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LO3VAg"><img src="https://images-na.ssl-images-amazon.com/images/I/91GGaWF00bL._SX679_.jpg" alt="DecoBros Clothing Garment Rack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,089 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LO3VAg">DecoBros Supreme Commercial Grade Clothing Garment Rack, Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.87</span><span class="ori_price">$99.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LO3VAg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="8" data-price="248.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LTHREj"><img src="https://images-na.ssl-images-amazon.com/images/I/61bGAktJx0L._SX522_.jpg" alt="Delta Children Universal 6 Drawer Dresser" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,720 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>8% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LTHREj">Delta Children Universal 6 Drawer Dresser, Grey </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$248.24</span><span class="ori_price">$269.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LTHREj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="39.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OvyvB4"><img src="https://images-na.ssl-images-amazon.com/images/I/7154CLdm7wL._UY741_.jpg" alt="AmazonBasics Hardshell Spinner Suitcase" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>66 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OvyvB4">AmazonBasics Hardshell Spinner Suitcase with Built-In TSA Lock, 20-Inch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.35</span><span class="ori_price">$53.54</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OvyvB4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="16.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/311EmiE"><img src="https://images-na.ssl-images-amazon.com/images/I/81yL5kiBJmL._SX522_.jpg" alt="Pain Relief Flexible Ice Pack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,793 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/311EmiE">Pain Relief Flexible Ice Pack for Injuries by TheraPAQ | Hot & Cold Therapy Reusable Gel Pack/Heat Wrap - Great for Back,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.80</span><span class="ori_price">$22.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/311EmiE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="37.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SZs1Ji"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2BRAN9J-EL._SX679_.jpg" alt="iSteam Luxury Edition Steamer Technology" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,057 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SZs1Ji">iSteam Luxury Edition Steamer Technology [New] 8-in-1 Powerful: Clothes Wrinkle Remover- Clean- Sterilize- ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_orange"><span>Extra Discount</span><div class="tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SZs1Ji">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/314YaBL"><img src="https://images-na.ssl-images-amazon.com/images/I/819FPkmbiyL._SX522_.jpg" alt="Nostalgia TCS2 Grilled Cheese Toaster" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>500 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/314YaBL">Nostalgia TCS2 Grilled Cheese Toaster with Easy-Clean Toaster Baskets and Adjustable Toasting Dial</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$24.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/314YaBL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="23.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31a2XlJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61Boh1R5I-L._SX679_.jpg" alt="Dog and Cat Water Fountain" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,925 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31a2XlJ">PetSafe Drinkwell Multi-Tier Dog and Cat Water Fountain, Automatic Drinking Fountain for Pets, 100 oz. Water Capacity</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.96</span><span class="ori_price">$64.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31a2XlJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="15.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SQjbNG"><img src="https://images-na.ssl-images-amazon.com/images/I/71UVo0prJJL._SX522_.jpg" alt="Furminator for Cats Undercoat Deshedding Tool" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>7,261 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SQjbNG">Furminator for Cats Undercoat Deshedding Tool for Cats, Stainless Edge with Fur Ejector</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.29</span><span class="ori_price">$36.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SQjbNG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SRSSqB"><img src="https://images-na.ssl-images-amazon.com/images/I/81uInhIJH8L._SX522_.jpg" alt="Nature's Miracle Disposable Litter Box" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>468 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SRSSqB">Nature's Miracle Disposable Litter Box for All Litter Types</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.49</span><span class="ori_price">$16.12</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SRSSqB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="4.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQKpmH"><img src="https://images-na.ssl-images-amazon.com/images/I/71O11vM2TdL._SX522_.jpg" alt="Chuckit! Ultra Ball" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>5,547 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQKpmH">Chuckit! Ultra Ball</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.20</span><span class="ori_price">$10.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQKpmH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="4.07">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SRmIeG"><img src="https://images-na.ssl-images-amazon.com/images/I/813AU8jSWcL._SY879_.jpg" alt="Dental Fresh Water Additive" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,137 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SRmIeG">Dental Fresh Water Additive - Original Formula for Dogs - Clinicially Proven, Simply Add to Pet’s Water Bowl to Whiten Teeth</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.07</span><span class="ori_price">$12.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SRmIeG">Shop Now at Amazon</a></div>
</div>
