<div class="card clearfix" data-score="27" data-price="21.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/316psrz"><img src="https://images-na.ssl-images-amazon.com/images/I/A1GkFJgIsDL._SX679_.jpg" alt="Sweet Home Stores Cozy Shag Collection Solid Shag Rug" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,991 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/316psrz">Sweet Home Stores Cozy Shag Collection Solid Shag Rug Contemporary Living & Bedroom Soft Shaggy Area Rug,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.83</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/316psrz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="15.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30YNtAK"><img src="https://images-na.ssl-images-amazon.com/images/I/71jtGZ%2BZ88L._SX522_.jpg" alt="Microwave Rice Cooker" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>252 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30YNtAK">Joseph Joseph 45002 M-Cuisine Microwave Rice Cooker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.00</span><span class="ori_price">$25.00</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30YNtAK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/332F6pR"><img src="https://images-na.ssl-images-amazon.com/images/I/71ih-QWWpuL._SX522_.jpg" alt="Skip Hop Moby Bath Spout Cover Universal Fit" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>3,525 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/332F6pR">Skip Hop Moby Bath Spout Cover Universal Fit, Blue </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.59</span><span class="ori_price">$13.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/332F6pR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="8.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LP3R3l"><img src="https://images-na.ssl-images-amazon.com/images/I/A1yI%2BN4UBDL._SX522_.jpg" alt="Swing-A-Way Comfort Grip Jar Opener" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>1,641 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LP3R3l">Swing-A-Way Comfort Grip Jar Opener, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.94</span><span class="ori_price">$13.36</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LP3R3l">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="10.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31aK9Tn"><img src="https://images-na.ssl-images-amazon.com/images/I/81O7kW9xsRL._SX522_.jpg" alt="Burger Press" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>2,005 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31aK9Tn">Cuisinart CSBP-100 3-in-1 Stuffed Burger Press, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.85</span><span class="ori_price">$14.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31aK9Tn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="20.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K6shn0"><img src="https://images-na.ssl-images-amazon.com/images/I/714bKCXtRVL._SX522_.jpg" alt="Original Exfoliant Foot Peel" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>11,500 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K6shn0">Baby Foot - Original Exfoliant Foot Peel - 2.4 Fl. Oz. Lavender Scented Pair </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.49</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K6shn0">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="72" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEHh3C"><img src="https://images-na.ssl-images-amazon.com/images/I/61iVr9gUzvL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save up to 72% off on First Alert Smoke and CO Alarms</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2LOsI7c">First Alert BRK CO5120BN Hardwire Carbon Monoxide Alarm with Battery Backup</a> - <span>19.08<em>66.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2SQt1PH">First Alert Smoke Detector and Carbon Monoxide Detector Alarm | Hardwired with Battery Backup, BRK SC7010B</a> - <span>29.39<em>59.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2GBrW9A">First Alert Plug-In Carbon Monoxide Detector, CO600</a> - <span>14.88<em>34.99</em></span></li>
            <li><a href="https://amzn.to/2YEHh3C">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEHh3C">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="46" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YytwmW"><img src="https://m.media-amazon.com/images/I/71HCoUTXscL._AC_UL320_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href=""><span>Amazon Deal Of The Day:</span> Save up to 46% off on TOURIT Backpack</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2GwoTQ3">TOURIT Cooler Backpack 30 Cans Lightweight Insulated Backpack...</a> - <span>26.99<em>36.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2ykprnE">TOURIT Backpack Cooler Insulated Cooler Backpack Bag Lightweight Backpack...</a> - <span>26.99<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2SPhpMQ">TOURIT Cooler Backpack Large Insulated Lunch Backpack Lightweight Backpack...</a> - <span>26.99<em>49.99</em></span></li>
            <li><a href="https://amzn.to/2YytwmW">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YytwmW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="999.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/316etyp"><img src="https://images-na.ssl-images-amazon.com/images/I/91yuNNBjkgL._SX679_.jpg" alt="Samsung QLED 4K UHD 7 Series Smart TV" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>211 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/316etyp">Samsung QN55Q7FN FLAT 55” QLED 4K UHD 7 Series Smart TV 2018</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$999.99</span><span class="ori_price">$1,899.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/316etyp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="189.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEHK5S"><img src="https://images-na.ssl-images-amazon.com/images/I/61GRDHWLBhL._SY679_.jpg" alt="Samsung Galaxy S7" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>806 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEHK5S">Samsung Galaxy S7 G930F 32GB Unlocked GSM 4G LTE Smartphone w/ 12MP Camera - Silver (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$189.95</span><span class="ori_price">$299.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YEHK5S">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SNxySU"><img src="https://images-na.ssl-images-amazon.com/images/I/61QZF9J-tUL._SX679_.jpg" alt="WALI Wall Outlet Shelf Standard" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>211 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SNxySU">WALI Wall Outlet Shelf Standard Vertical Duplex Décor Outlet with Cable Channel Charging for Cell Phone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SNxySU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="22.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K1cEgu"><img src="https://images-na.ssl-images-amazon.com/images/I/81JuG6WJCnL._SX679_.jpg" alt="AMBOR Travel Laptop Backpack" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>61 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K1cEgu">AMBOR Travel Laptop Backpack, 17.3 Inch Anti Theft Business Backpack with USB Charging Port and Headphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.94</span><span class="ori_price">$35.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K1cEgu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="10.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LPEtun"><img src="https://images-na.ssl-images-amazon.com/images/I/A1F6bjk7P9L._SX522_.jpg" alt="Game NIght Shout Out Shot Glass Board Game Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>7 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LPEtun">Game NIght Shout Out Shot Glass Board Game Set, 9", Multicolor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.37</span><span class="ori_price">$18.65</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LPEtun">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="239.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GC0vfJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71pCM9o8s4L._SX522_.jpg" alt="Blendtec Classic 575 Blender" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>80 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GC0vfJ">Blendtec Classic 575 Blender - WildSide+ Jar (90 oz) and Spoonula Spatula BUNDLE - Professional-Grade Power ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$239.95</span><span class="ori_price">$510.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GC0vfJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="14.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SOlIIk"><img src="https://images-na.ssl-images-amazon.com/images/I/91XMC-QcQPL._SX679_.jpg" alt="AmazonBasics Room Blackout Window Panel Curtains" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,121 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SOlIIk">AmazonBasics Room Blackout Window Panel Curtains - Pack of 2, 52 x 63 Inch, Beige</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.69</span><span class="ori_price">$29.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SOlIIk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="31.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOKFCJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61S3vMe2vgL._SX679_.jpg" alt="Mpow 059 Bluetooth Headphones Over Ear" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>23,230 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOKFCJ">Mpow 059 Bluetooth Headphones Over Ear, Hi-Fi Stereo Wireless Headset, Foldable, Soft Memory-Protein Earmuffs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.49</span><span class="ori_price">$34.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOKFCJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="5.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SPYP7k"><img src="https://images-na.ssl-images-amazon.com/images/I/71OqKLqv2gL._SX522_.jpg" alt="U Brands Contempo Magnetic Dry Erase Board" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>1,373 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SPYP7k">U Brands Contempo Magnetic Dry Erase Board, 8.5 x 11 Inches, White Frame</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.59</span><span class="ori_price">$9.94</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SPYP7k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="86.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOvwBA"><img src="https://images-na.ssl-images-amazon.com/images/I/81M%2BeiqePwL._SX522_.jpg" alt="Domke Small Shoulder Bag" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>10 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOvwBA">Domke 700-80D F-8 Small Shoulder Bag - Olive Green</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$86.99</span><span class="ori_price">$119.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOvwBA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="33.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K4apJg"><img src="https://images-na.ssl-images-amazon.com/images/I/61Wa6BPvo5L._SX679_.jpg" alt="Wireless Earbuds GUSGU Bluetooth" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>79 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K4apJg">Wireless Earbuds GUSGU Bluetooth 5.0 Earbuds Noise Cancelling Waterproof Wireless Headphones 145H Cycle ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K4apJg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LNP2hv"><img src="https://images-na.ssl-images-amazon.com/images/I/61XTYTLSb-L._SX522_.jpg" alt="N150 USB wireless WiFi network Adapter " /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,233 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LNP2hv">TP-Link | N150 USB wireless WiFi network Adapter for PC with SoftAP Mode - Nano Size, Compatible with Windows ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$17.60</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LNP2hv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="25.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3189223"><img src="https://images-na.ssl-images-amazon.com/images/I/71mChhPUnIL._SX679_.jpg" alt="MAYFAIR Natural Oak Veneer Toilet Seat" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>949 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3189223">MAYFAIR Natural Oak Veneer Toilet Seat with Chrome Hinges, ELONGATED, 19601CP</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.54</span><span class="ori_price">$58.61</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3189223">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="2.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SOvH0g"><img src="https://images-na.ssl-images-amazon.com/images/I/81nUIe%2BaW6L._SY879_.jpg" alt="Scotch Brand 110P 110 Tape-Caulk" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>115 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SOvH0g">Scotch Brand 110P 110 Tape-Caulk, 0.5-inch x 75-inches</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2.17</span><span class="ori_price">$4.09</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SOvH0g">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="3.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ZMz6Y"><img src="https://images-na.ssl-images-amazon.com/images/I/913v80yuIEL._SX425_.jpg" alt="Loctite Super Glue Plastics Bonding System" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>194 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ZMz6Y">Loctite Super Glue Plastics Bonding System with Activator 2-Gram (681925)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.77</span><span class="ori_price">$10.70</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30ZMz6Y">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="8.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/317gWc2"><img src="https://images-na.ssl-images-amazon.com/images/I/71cXJKhBFxL._SX522_.jpg" alt="Head and Shoulders Shampoo and Conditioner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>118 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/317gWc2">Head and Shoulders Shampoo and Conditioner 2 in 1, Anti Dandruff Treatment, Charcoal for Men, 12.8 fl oz, Twin Pack </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.40</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/317gWc2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="10.42">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQjveE"><img src="https://images-na.ssl-images-amazon.com/images/I/913bp5vAS7L._SX522_.jpg" alt="Colgate Max Fresh Whitening Toothpaste" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>93 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQjveE">Colgate Max Fresh Whitening Toothpaste with Breath Strips, Clean Mint - 6 ounce (4 Pack) </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.42</span><span class="ori_price">$13.96</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQjveE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="68.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2SNRncM"><img src="https://images-na.ssl-images-amazon.com/images/I/61dcW%2Bbo%2B0L._SX679_.jpg" alt="Delta Faucet Modern Single-Handle Bathroom Faucet" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>266 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2SNRncM">Delta Faucet Modern Single-Handle Bathroom Faucet with Drain Assembly, Chrome 567LF-PP</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$68.84</span><span class="ori_price">$159.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2SNRncM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="18.32">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/311vLfX"><img src="https://images-na.ssl-images-amazon.com/images/I/511dXzJhfFL._SX404_BO1,204,203,200_.jpg" alt="Hogwarts Library" /></a>
    <div class="rating"><img src="<%= asset_path 'star-5.jpg' %>"><p>1,154 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/311vLfX">Hogwarts Library (Harry Potter) Hardcover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.32</span><span class="ori_price">$38.97</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/311vLfX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="29.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3125QVx"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2BAvuDnIpL._SX679_.jpg" alt="Fellowes Carbon Filters for AeraMax Air Purifiers" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>82 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3125QVx">Fellowes Carbon Filters for AeraMax Air Purifiers - 4 Pack (9324201)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.54</span><span class="ori_price">$63.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3125QVx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="42.31">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOHQl3"><img src="https://images-na.ssl-images-amazon.com/images/I/71xNkmx7SPL._SX679_.jpg" alt="Winsome Wood TV Table" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>431 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOHQl3">Winsome Wood TV Table, Dark Espresso Finish, Set of 4</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$42.31</span><span class="ori_price">$114.00</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOHQl3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YqMGLq"><img src="https://images-na.ssl-images-amazon.com/images/I/71hvoVs8KwL._SY741_.jpg" alt="Cuisinart Knife Block Set" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>224 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YqMGLq">Cuisinart C77TR-15P Triple Rivet Collection 15-Piece Knife Block Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$160.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YqMGLq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="299.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K5gkhe"><img src="https://images-na.ssl-images-amazon.com/images/I/61FpNMJKt4L._SX679_.jpg" alt="Quantum Stylist Sewing Machine" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,917 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K5gkhe">SINGER | | Quantum Stylist 9960 Computerized Portable Sewing Machine with 600-Stitches Electronic Auto Pilot Mode,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.00</span><span class="ori_price">$699.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2K5gkhe">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="30.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LNOzvK"><img src="https://images-na.ssl-images-amazon.com/images/I/81uQ0M2AI-L._SX679_.jpg" alt="Calphalon Contemporary Hard-Anodized Aluminum Nonstick Cookware" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>183 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LNOzvK">Calphalon Contemporary Hard-Anodized Aluminum Nonstick Cookware, Omelette Fry Pan, 8-inch, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.49</span><span class="ori_price">$69.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LNOzvK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="10.21">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOED5k"><img src="https://images-na.ssl-images-amazon.com/images/I/41noQMLle7L.jpg" alt="Organize It All 1750W-1 Mounted Chrome Shelf" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>897 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOED5k">Organize It All 1750W-1 Mounted Chrome Shelf</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.21</span><span class="ori_price">$25.00</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOED5k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OCaE2m"><img src="https://images-na.ssl-images-amazon.com/images/I/911174BXOoL._SX679_.jpg" alt="Handheld Vacuum Cleaner" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>8,582 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OCaE2m">EUREKA EasyClean Lightweight Handheld Vacuum Cleaner, Hand Vac Corded, 71B</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.00</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OCaE2m">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="6.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32WSJ9U"><img src="https://images-na.ssl-images-amazon.com/images/I/71vj%2BpUVHVL._SX522_.jpg" alt="Norpro Grip-EZ Grab and Lift Silicone Tongs" /></a>
    <div class="rating"><img src="<%= asset_path 'star-3_5.jpg' %>"><p>1,158 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32WSJ9U">Norpro Grip-EZ Grab and Lift Silicone Tongs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.77</span><span class="ori_price">$16.06</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/32WSJ9U">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="74" data-price="4.52">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GzZuFa"><img src="https://images-na.ssl-images-amazon.com/images/I/81r5%2B10x4cL._SY679_.jpg" alt="OGX Weightless Hydration..." /></a>
    <div class="rating"><img src="<%= asset_path 'star-4_5.jpg' %>"><p>647 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>74% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GzZuFa">OGX Weightless Hydration + Coconut Water Shampoo, 13 Ounce Bottle, , Lightweight Hydrating Formula Sulfate-Free Surfactants </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.52</span><span class="ori_price">$17.34</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2GzZuFa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="6.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YxjNsM"><img src="https://images-na.ssl-images-amazon.com/images/I/7136HgutN%2BL._SY679_.jpg" alt="Sea-Band Wristband, Adult" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>2,119 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YxjNsM">Sea-Band Wristband, Adult, Colors May Vary, 1 Pair, Anti-Nausea Acupressure Motion or Morning Sickness </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.10</span><span class="ori_price">$12.50</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YxjNsM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="25.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LObW8o"><img src="https://images-na.ssl-images-amazon.com/images/I/81Rtq3M3hwL._SX679_.jpg" alt="Sleep Innovations Contour Memory Foam Pillow" /></a>
    <div class="rating"><img src="<%= asset_path 'star-4.jpg' %>"><p>4,708 Amazon Reviews</p></div>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LObW8o">Sleep Innovations Contour Memory Foam Pillow, Cervical Support Pillow for Sleeping, Made in the USA with 5 ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.10</span><span class="ori_price">$59.99</span></address>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LObW8o">Shop Now at Amazon</a></div>
</div>