<div class="layout"><!--layout-->
    
    <%= render 'shared/header' %>
    <%= render 'deals/header' %>    
    
    <div class="codes common_layout">
      <div class="wrap">
        <div class="lt_cnt">
          <h2>Amazon Best Deals</h2>
          <%= render 'deals_days/lt_cnt' %>
        </div><!--./lt_cnt-->
        
        <div class="rt_cnt">
          <h2>Best Deals We Picked On Amazon May. 25. 2019</h2>
          
          <div class="sort_box clearfix">
            <ul>
              <li><a href="/deals/promo_codes" class="pure-button">All</a></li>
              <li><a href="#" class="pure-button sort1">Price High</a></li>
              <li><a href="#" class="pure-button sort2">Price Low</a></li>
              <li><a href="#" class="pure-button sort3">Sale High</a></li>
              <li><a href="#" class="pure-button sort4">Sale Low</a></li>
            </ul>
          </div>
          
          <div class="card_wrap sort-list">
            <%= render 'deals_days/day_04' %>
          </div>
          <p class="updating"><a href="/deals/bestdeals">GO TO TODAY'S THE BEST DEALS</a></h2>
          
        </div><!--./rt_cnt-->    

      </div><!--./warp-->
    </div><!--./codes-->
    <button id='goup'><img src="<%=asset_path 'goup.png' %>"></button>
  </div><!--./layout-->
<script>
 <%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %>
</script>